[2018-12-11 20:22] carver commented on #1152
Try initializing it once during setup, and reusing it. That provider is deprecated, so unlikely to get any new changes: https://web3py.readthedocs.io/en/stable/providers.html#web3.providers.eth_tester.TestRPCProvider

Closing, but feel free to continue the conversation here.

[2018-12-11 20:22] #1152 closed

[2018-12-13 22:28] dylanjw opened #1161 "web3 async discussion continued"
This issue supersedes #1055.

Ive summarized our discussion re the introduction of an async web3 api below, and expanded it a bit.  After learning from experiments in #1088 we discussed pursuing the following design:

(1) Replace api methods with instances of a Method class, with a middleware like layer for formatting/normalizing/validating method input/output.
  This will allow the procedural for

[2018-12-17 17:30] pipermerriam opened #1167 "Define support window for v4"
### What was wrong?

`master` is now formally `v5`.  With the removal of python3.5 which will eventually propagate into removing support for python3.5 from py-evm we need to define how long our `v4` branch will be formally supported since the testing facilities in web3.py rely on py-evm.

### How can it be fixed?

Something like committing to support `v4` for 6 months from the stable release of `v

[2018-12-17 18:02] carver commented on #1167
Or maybe web3 v4 could just be pinned to an old version of `py-evm` that never upgrades. AFAICT, web3's use of py-evm is not a security-sensitive thing where we would have to issue patch releases against the old py-evm.

[2018-12-19 10:21] henrytom1703 opened #1169 "[Help] send token BTC, eth, LTC, DASH, ..."
* Version: 4.8.2
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]
 I want transfer a token from  the address '0x0AAeEFf32409E527e6A7A99e20c19559e35b3571' to address '0x7e0ad0312fbe8265c5286c97dd9a26940529118e'? how to transfer a token?

### What was wrong?
Error
[code]

[2018-12-19 18:01] pipermerriam commented on #1169
I'm closing only because this isn't a bug.  You may get a quicker response asking your question on the ethereum stackexchange site: https://ethereum.stackexchange.com/

[2018-12-19 18:01] #1169 closed

[2018-12-19 18:06] pipermerriam opened #1170 "Write "guide" in docs for ERC20 token interactions."
### What was wrong?

Interactions with ERC20 tokens are a very common use case.  Examples in the documentation would likely be a valuable resource.

There is an existing minimalistic guide here: https://github.com/ethereum/web3.py/blob/master/docs/examples.rst that only deals with read-only operations.

### How can it be fixed?

Write a "guide" for interacting with an ERC20 token.  It should proba

[2018-12-19 18:19] pipermerriam commented on #1169
Also, this may get you started: https://web3py.readthedocs.io/en/stable/examples.html#interacting-with-an-erc20-contract

[2018-12-20 04:07] 631068264 opened #1171 "How to parse erc20 token transfer"
* Version: 4.8.2
* Python: 3.6.5
* OS: osx
![image](https://user-images.githubusercontent.com/8144089/50263233-b5c49e80-044f-11e9-8438-2744767aea6b.png)

TX hash 0xea93834abbb84cf41f7b2bada743bdc2b2dd7144265ef436eaa751cb6f1428b2

[2018-12-20 07:38] henrytom1703 commented on #755
Hello.
I was tried the example above . But It's not working.
Error:
`ValueError: {'code': -32000, 'message': 'invalid sender'}`

[2018-12-20 23:12] carver commented on #1170
Also worth including, monitoring transfer events, as requested in #1171.

[2018-12-20 23:13] carver commented on #1171
Roughly, you'll want to create a contract instance bound to the address you're interested in, and monitor for Transfer events. The results will have parsed data for you.

---

Since this isn't a bug or feature request for Web3.py, I'm closing the issue. But feel free to continue discussing here. One alternative to consider is https://ethereum.stackexchange.com

You will get better & faster answers

[2018-12-20 23:13] #1171 closed

[2018-12-21 00:48] stefanmendoza commented on #829
@feuGeneA / @carver / @davesque!

Will be digging back into this over the next two weeks while I'm on holiday!

[2018-12-21 21:38] pipermerriam opened #1172 "Remove `eth-tester` hack to remove nonce from transaction"
### What was wrong?

See: https://github.com/ethereum/eth-tester/issues/80

### How can it be fixed?

The hack introduced in https://github.com/ethereum/web3.py/commit/07c446e4df6f5dd7ece43c922fb8aaeec936265c needs to be removed.

Note that this may require a new version of `eth-tester` to be released that includes the fix (assuming the current version does not).

[2018-12-22 14:53] BowenXiao1999 opened #1174 "How to invoke a payable function in solidity by web3py use local accounts and infura"
* Version: latest web3py
* Python: 3.6
* OS: osx
* `pip freeze` output

[code]
connecting to infura, i want to invoke a solidity function like this:

`
function openChannel(address recipient) public payable {
    //perform some validation first
    if (msg.value == 0) {
      revert();
    }

    if (recipient == msg.sender) {
        revert();
    }

    if (channels[msg.sender][recipient].collat

[2018-12-25 05:01] stefanmendoza commented on #829
Looks like the following dependency warnings are showing up on master of web3.py:
[code]

[2018-12-26 19:02] davesque commented on #829
@stefanmendoza Just FYI, I've also been looking at getting this PR ready to merge.  I think that might involve adding a "cloning" feature to the registry in eth-abi.  Then, we can just clone the existing registry and swap out a couple of coder classes to get the value-munging behavior we want.  Also, I might have some fixes and refactors here and there to add to this PR.

[2018-12-29 14:38] miohtama opened #1177 "Stateless contract log fetcher (for Infura)"
* Version: 4.8.2

### What was wrong?

* I could not find a convenience method on the contract to get event logs over  Infura. Looks like there is only `createFilter` method that requires a stateful node (`eth_createFilter` API).

### How can it be fixed?

I have sketched a `web3.contract.ContractEvent` function that is compatible with Infura and other stateless nodes. It is copy-paste job from `c

[2019-01-01 11:35] iamonuwa commented on #1170
@pipermerriam please review #1178

[2019-01-01 18:55] stefanmendoza commented on #1132
I've been running into this lately now that I've started messing around with Infura. I think this makes a lot of sense. I always thought once you establish the Web3 instance, every call will use the same node.

[2019-01-02 21:02] feuGeneA opened #1179 "hypothesis used in package code but is only a dev extra, not an installation requirement"
* Version: 5.0.0-alpha.2
* Python: 3.6
* OS: linux

### What was wrong?

Seems that just importing `utils/datatypes` requires you to have the `hypothesis` package:

[code]

But the dependency is only listed in `setup.py` under `extras_require['dev']`.

### How can it be fixed?

Move the `hypothesis` dependency from `extras_require` to `install_requires`.

---

If my analysis is correct here, let m

[2019-01-03 18:09] hernandp opened #1180 "Multiple providers with Infura URI at top breaks Web3 Cache generation"
* Version: 4.8.2
* Python: 3.6
* OS: OSX Mojave and Linux
* `pip freeze` output

[code]

### What was wrong?

In a project I'm developing with the Multiple-providers feature of Web3, there is an option to use Infura and put it as the primary provider.  So if I find this feature is requested, I use ```insert``` at index 0 to put the Infura HTTPProvider at first entry (this of course at Web3 initial

[2019-01-04 07:03] ayeteng opened #1182 "the event example is not correct on Doc"
* Version: latest
* Python: 3.7.1
* OS: osx

### What was wrong?
In checking the event loop example on the Doc but found it was incorrect.
Error message:
[code]
Please include any of the following that are applicable:

https://web3py.readthedocs.io/en/latest/filters.html

[code]

May anyone help to complete this example? Thanks.

[2019-01-04 07:21] ayeteng commented on #1182
Sorry. I find the example in doc 4.8.2 and it's wrong. The correct example is in latest doc.

[2019-01-04 07:21] #1182 closed

[2019-01-04 17:20] pipermerriam opened #1183 "Audit docs and convert all Web3 instance variables to use `w3` name."
### What was wrong?

A while back we settled on a convention of using `w3` as the variable name for an instance of the `Web3` object.  We still have some places in the docs that use the old `web3` name.

### How can it be fixed?

Check through the docs for code examples which use the variable name `web3` to represent an instance of the `Web3` object and convert them to use `w3` instead.

[2019-01-04 17:33] pipermerriam commented on #1180
Making note that multi-provider API is being deprecated in `v5`.  The culprit seems to be the `endpoint_uri` variable here:

[code]

It *should* be a string but instead it is getting an instance of the `HTTPProvider`.

[2019-01-04 18:44] pipermerriam commented on #1179
Ah, a side-effect of our move of `web3.utils -> web3._utils`!

I believe the appropriate fix for this would be to move `web3._utils.hypothesis` to live under `web3.tools.hypothesis`.

[2019-01-04 18:55] pipermerriam commented on #1177
I can get onboard with this.  Implementation looks reasonable with potential exceptions related to `topics` and `address` (see below)

As for the parameters you should be able to infer them from the other filter creation APIs.

Allowing `topics` to be provided could be confusing or problematic since each event has it's own topic and combining those with user provided topics is likely to be hard to

[2019-01-04 19:31] hernandp commented on #1180
Didn't know about this.  Will v5 drop any "multiprovider" scheme? It's a useful feature (e.g: rotating between local enterprise nodes and Infura.io as fallback).
Thanks.

[2019-01-04 21:57] pipermerriam commented on #1180
@hernandp yes, it's not us abandoning it entirely as I know this is still a feature that is useful for people, however, the current approach is broken/wrong.

- The **only** thing you can do is fall back across multiple providers.
- You cannot round robin
- You cannot dynamically choose provider based on request
- You cannot control how/which provider is chosen...

Our thought is that this API bel

[2019-01-04 23:54] pipermerriam commented on #1093
@slishady take a look at https://web3py.readthedocs.io/en/latest/middleware.html#signing

It should provide a reasonably simple way to do what you're trying to do without you having to manually sign the transaction yourself.

In your code abou

The reason for this is that you still have to broadcast the transaction.  If you take a look at the `signed_txn` there will be a `rawTransaction` value.  T

[2019-01-05 01:42] Ryan-Gordon commented on #1179
Seen this issue and figured I would take a crack at it.

Moved web3._utils.hypothesis to live under web3.tools.hypothesis per your request @pipermerriam and also updated the __init__.py to reflect the change.

I can now successfully import `from web3.utils import datatypes`

@feuGeneA how were you building the web3 package ?
I tried 3 ways from source :

+ `pip install .` -- gathered from docs, er

[2019-01-05 02:20] Ryan-Gordon commented on #1179
All CI jobs passing 🙌

[2019-01-07 14:56] miohtama commented on #1177
Ok, let me work with a draft implementation and open it as work-in-progress PR.

[2019-01-07 21:48] dylanjw commented on #1177
Worth mentioning web3.py provides a stateless log api with the optional `local_filter_middleware`.  There is a short example in the doc: https://web3py.readthedocs.io/en/latest/middleware.html#locally-managed-log-and-block-filters

It uses getLogs to mimic the node filter api.

[2019-01-07 21:51] pipermerriam commented on #1177
@miohtama :+1: to what @dylanjw pointed out in case it helps your use case, though I do believe that the API proposed by @miohtama still makes sense.  The user-story for fetching specific logs for a specific contract address in a rich format is still kind of mediocre.

[2019-01-08 01:31] hernandp opened #1189 "medium_gas_price_strategy generating non-integer values ?"
* Version: 4.8.2
* Python: 3.6
* OS: os
* `pip freeze` output

[code]

### What was wrong?

I'm letting Web3py to fill the `gasPrice` TX field with the generated value from the `medium_gas_price_strategy`, using Geth Ropsten node, as follows:

[code]

This works (mostly) but fails when the strategy generates a non-integer value, aborting the transaction with the error:

[code]

### How can it be f

[2019-01-08 04:31] ayeteng opened #1190 "Issue with event args returned"
* Version: 4.8.2
* Python: 3.7.1
* OS: osx
* `pip freeze` output

[code]

### What was wrong?
I cannot get correct args which returned by event

Please include any of the following that are applicable:

My solidity code:
[code]
My python code:

[code]

result:
AttributeDict({'': 'AA'})

expect:
1, 1, 'AA'

### How can it be fixed?

Fill this section in if you know how this could or should be fixed

[2019-01-08 15:54] pipermerriam commented on #1190
Your python code looks broken.

[code]

[2019-01-08 20:08] miohtama commented on #1177
@dylanjw I did not know it existed. I was scratching my head why a relative simple use case is overlooked.

It is a minor addition to Contract API and that is where people will look for it, so I'll put it there with the reference to the middleware. The middleware solution may cater some use cases better.

[2019-01-08 20:35] pipermerriam commented on #1170
@gitcoinbot this bounty is cleared to be payed out to @iamonuwa

[2019-01-08 20:35] #1170 closed

[2019-01-08 22:28] pipermerriam opened #1193 "Bug: Missing `constructor` in ABI results in silently ignoring constructor arguments."
https://github.com/ethereum/web3.py/blob/2a67ea9f0ab40bb80af2b803dce742d6cad5943e/web3/contract.py#L775-L786

### What was wrong?

In the case where you have a contract factory who's ABI **does not** contain a `constructor` function, then any arguments passed into the `contract_factory.constructor(...)` call are silently ignored.

### How can it be fixed?

In the event that the `else` block is hit

[2019-01-09 04:05] ayeteng commented on #1190
Yes @pipermerriam. I forget to copy the transact function as you mentioned.
But still, I cannot get correct returned args after revise the code. Can you help please? Is this related with solidity 0.5.1? py-solc doesn't support 0.5 yet and perhaps the issue comes with the unsupported ABI structure?

[2019-01-09 19:53] pipermerriam opened #1196 "Convert all `toolz` imports to be from compat module `eth_utils.toolz`"
Depends on https://github.com/ethereum/web3.py/pull/1195 which updates the `eth-utils` dependency to be `>=1.3.0`

### What was wrong?

We currently have `web3._utils.toolz` which handles the `toolz/cytoolz` import logic.  This compat module was added to `eth-utils` making this code redundant.

### How can it be fixed?

Convert all `toolz` imports to be from `eth_utils.toolz`

[2019-01-09 19:56] pipermerriam opened #1197 "Remove `web3._utils.formatters` in favor of `eth-utils` versions"
Depends on https://github.com/ethereum/web3.py/pull/1195 which upgrades the `eth-utils` dependency

### What was wrong?

https://github.com/ethereum/web3.py/blob/864bc1d2a93ba7a6ca2a0629839b0d7a4c944e12/web3/_utils/formatters.py

We currently have a module `web3._utils.formatters` which implements a number of *functional* formatter functions.  These functions were elevated to live in `eth-utils` r

[2019-01-10 00:48] carver commented on #1177
As an aside, I seem to recall that Infura does allow you to create/query stateful filters if you use the websocket provider.

[2019-01-11 17:32] #1026 closed

[2019-01-11 17:33] #1024 closed

[2019-01-11 17:34] #1027 closed

[2019-01-12 04:10] fabdarice opened #1201 "Importing EthereumTesterProvider : ImportError: cannot import name 'collapse_type'"
* Version: 4.7.2
* Python: 3.6
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
Trying to use the EthereumTesterProvider
Receiving error from this line : `from web3 import Web3, EthereumTesterProvider`

### How can it be fixed?

[2019-01-13 08:36] Ryan-Gordon commented on #1201
Is import `EthereumTesterProvider` something that worked previously ?

I can see Web3 appears to hold an instance of `EthereumTesterProvider`, is this useable I wonder 🤔
Can you try importing

[code]
For now, while we work out how this should work.
@pipermerriam should EthereumTesterProvider be a top level import?

[2019-01-13 15:14] drelu opened #1203 "Add Parity `addReservedPeer` Support"
* Version: '5.0.0a2'
* Python: 3.5
* OS: osx/linux/win

Add support for Parity addReservedPeer:

https://wiki.parity.io/JSONRPC-parity_set-module#parity_addreservedpeer

[2019-01-13 18:03] KiraToms commented on #1087
remove the first backslash
web3 = Web3(Web3.IPCProvider('\\.\pipe\geth.ipc', timeout=100))

[2019-01-14 00:46] gsampathkumar commented on #829
@davesque Would love to have this feature. Looks like you have it pretty much completed. Pl let me know if there is anything I can do to help get this merged in (tests, doc, other).

[2019-01-14 17:32] pipermerriam opened #1208 "Mechanism for auto-generating changelog"
I wanted to point out an idea that's being floated in the Trinity codebase for auto-generation of the changelog.

See: https://github.com/ethereum/trinity/issues/101#issuecomment-447104976

[2019-01-14 17:34] pipermerriam commented on #1208
Murr, it's not clear from that link.

https://docs.gitlab.com/ce/development/changelog.html

This is the proposed mechanism I'm referencing.

[2019-01-14 19:36] carver commented on #1022
This doesn't seem to have actually been closed in #1020

[2019-01-16 06:01] dylanjw commented on #1197
Can I include this change in #1209?  It might be the same amount of work to do as it would to rebase this change from master.

[2019-01-16 14:56] njgheorghita opened #1212 "Deploying a contract is broken with `PyEVMBackend()`"
* Version: 5.0.0b3
* Python: 3.6
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Trying to deploy a contract is broken when using `PyEVMBackend()` for `Web3.EthereumTesterProvider`.

[code]
The final line breaks and raises this error...
[code]

### How can it be fixed?
No clue, I spent a fair amount of time digging around `eth-tester` to try and resolve, but no luck. My best guess is

[2019-01-16 15:03] njgheorghita opened #1213 "web3.eth.getBlock is broken with PyEVMBackend"
* Version: 5.0.0b3
* Python: 3.6
* OS: osx
* `pip freeze` output

[code]

### What was wrong?
Using `web3.eth.getBlock()` method is broken in v5 alpha - when using a `PyEVMBackend` - the same code works fine when using `MockBackend`.

[code]
The final line breaks with the following error
[code]

### How can it be fixed?
Not sure, I spent some time digging around `eth-tester`/`py-evm` to try and fi

[2019-01-16 16:38] pipermerriam commented on #1212
Very likely that some normalization was accidentally removed.  Full-ish stacktrace might make it a bit clearer where/why but somewhere a `hex` address is making it's way into the backend that should have been converted to a `bytes` address (canonical format).

Find the spot in your stacktrace where we exit the `eth-tester` code and transition into the `py-evm` code and trace your way up from there

[2019-01-16 16:39] pipermerriam commented on #1213
This is almost certainly related to #1212

Likely candidate for when/how this got introduced is to look at https://github.com/ethereum/web3.py/pull/1188 since it touched the middlewares in web3.py that handled some of the normalization steps.

[2019-01-16 17:02] pipermerriam commented on #1197
If they can be done separately that would be ideal since this change should just be code removal and modification of imports.  Mixing that with functionality changes makes for more difficult review.  Feel free to write them together but to segregate your commits so that when you're done you can split them into two PRs.

[2019-01-16 18:55] kclowes commented on #1201
@fabdarice It should work to run `from web3 import Web3, EthereumTesterProvider`. I can't reproduce an error on my machine. What is the error you're seeing?

[2019-01-16 19:07] kclowes commented on #1201
Did some more digging. Looks like they removed collapse_type from eth-abi 2.0.
From the [docs](https://eth-abi.readthedocs.io/en/latest/releases.html?highlight=collapse_type#v2-0-0-beta-1):

Closing this issue, but feel free to reopen if you need more help!

[2019-01-16 19:07] #1201 closed

[2019-01-17 15:48] njgheorghita commented on #1213
@pipermerriam The problem was with how I was instantiating my class using the `PyEVMBackend`.

This is what was broken...
[code]

This is what I should have been doing / What works fine.
[code]

Basically, the [inbound tx normalization](https://github.com/ethereum/eth-tester/blob/master/eth_tester/main.py#L440) happens in the `EthereumTester` class and not in `PyEVMBackend` - but they share the sa

[2019-01-17 17:25] njgheorghita commented on #722
- rename w3.middleware_stack so it's not called stack #1210
- drop py3.5 support #1163
- switch to a single provider instead of a list #1199
- rename Web3.sha3 to Web3.keccak #1207
- Stop automatically looking up a testnet connection in IPCProvider.... #1206
- Stop inferring .eth as a suffix on ENS names. #1205
- only support standard json-rpc methods in the global Web3 namespace
- - #1198 (merged

[2019-01-22 10:13] #1212 closed

[2019-01-22 10:13] #1213 closed

[2019-01-22 15:30] sea212 opened #1220 "web3.eth.generateGasPrice() throws TypeError in specific case"
* Version: 4.8.2
* Python: 3.7.1
* OS: Linux-4.15.0-43-generic-x86_64-with-debian-buster-sid
* `pip freeze` output

[code]

## What was wrong?

I created a Web3 instance which connects to an infura rinkeby node. Building a transaction works unless I call web3.eth.generateGasPrice() to determine an appropriate gas price.
The same scenario, but instead of infura I used a local geth POA node (own net

[2019-01-23 04:53] henrytom1703 opened #1222 "web3.exceptions.BadFunctionCallOutput: Could not transact with/call contract function, is contract deployed correctly and chain synced?"
Source code:
[code]

Error:

[code]
`

[2019-01-24 17:37] pipermerriam commented on #1222
The address you linked doesn't appear to have any code associated with it: https://ropsten.etherscan.io/address/0xd26114cd6EE289AccF82350c8d8487fedB8A0C07

[2019-01-24 17:37] #1222 closed

[2019-01-24 23:06] adricu commented on #1180
You have a bug in your code:
[code]

It should be:
[code]

Regards

[2019-01-25 16:21] pipermerriam commented on #1220
Error is these two lines:

- https://github.com/ethereum/web3.py/blob/master/web3/gas_strategies/time_based.py#L108
- https://github.com/ethereum/web3.py/blob/master/web3/gas_strategies/time_based.py#L110

Those values need to be cast to integers before being returned.

[2019-01-27 06:53] jububeka opened #1225 "How w3.eth.filter('latest').get_new_entries() works exactly?"
I try to monitor new transactions.

    from web3.auto import w3
    import time

    l = w3.eth.filter('latest')

    while True:
      ts = time.time()
      ll = l.get_new_entries()
      for i in ll:
          print('===== Block hash:  ', i.hex())
          block_hash = i.hex()
          block = w3.eth.getBlock(block_hash, full_transactions=True)
          transactions = block['transactions']

[2019-01-29 18:01] kclowes commented on #1225
Using the `latest` flag only gets entries from a block that has been closed by miners.

Your syntax is wrong here:

It should be: `w3.eth.filter({'fromBlock': 'latest', 'toBlock': 'pending'})`.

Assuming you meant the latter, `w3.eth.filter({'fromBlock': 'latest', 'toBlock': 'pending'})` will get entries from pending transactions, where `w3.eth.filter('latest')` will get you entries from mined blo

[2019-01-29 18:01] #1225 closed

[2019-01-31 15:57] fubuloubu commented on #1022
What about... just `middleware`? lol

[2019-01-31 16:44] fubuloubu opened #1229 "Add support for Goerli"
https://github.com/goerli/testnet

## Motivation
Goerli is the dapp testnet of the future. All PoA testnet chains will bow before it's power (and eventually move their ETH?) Support should be added for the modifications to the consensus data required to support it so that I can interact with the new chain!

[2019-02-01 17:22] kclowes opened #1230 "Utilize new `NoABIFound` error"
### What was wrong?
After #1227 gets merged, we'll have a new error `NoABIFound` for when there is no ABI given. Before, we were using `NoABIFunctionsFound` for the case where there is no ABI, and for the case where there is an empty ABI.

### How can it be fixed?
Go through the codebase and make sure we're using `NoABIFound` and `NoABIFunctionsFound` correctly.

[2019-02-02 05:16] jMyles commented on #1022
Is `middleware` better than `middleware_onion`?

[2019-02-02 11:18] dylanjw commented on #1022
middleware_onion helps distinguish the class that ochestrates the middlewares from the middleware functions themselves.

@njgheorghita Can this issue be closed?

[2019-02-02 20:10] njgheorghita commented on #1022
@dylanjw 👍

[2019-02-02 20:10] #1022 closed

[2019-02-03 07:12] Abhimanyu121 opened #1231 "Error :InsufficientDataBytes"
* Version: 0.5.3
* Python: 3.5
* OS: win

### What was wrong?
There is error of "InsufficientDataBytes: Tried to read 32 bytes.  Only got 0 bytes"
Other issues mentioned that it will be fixed in solidity version 5, but it still isn't fixed .

* The full output of the error
`https://del.dog/adodanejoz.sql`
* Smart contract we are using
`https://del.dog/veqelecuku`

[2019-02-03 14:57] pipermerriam commented on #1231
It's preferred to inline stack traces and example code using code blocks in the issue.  Please reference the issue template for what constitutes a complete bug report.

[2019-02-04 18:58] MTonomy-Nchinda-Nchinda commented on #1154
I have a similar problem:
JS: `web3.utils.soliditySha3({t: 'bytes32', value: "0x8ddc1a359f25f52858404a15f1098181"})`
Python: `Web3.soliditySha3(['bytes32'], ["0x8ddc1a359f25f52858404a15f1098181"]).hex()`

[2019-02-04 19:12] MTonomy-Nchinda-Nchinda commented on #1154
I installed v5.0.0-alpha.4 and no longer have this problem. As far as i can see none of the breaking changes affect me so this resolves my issue.

[2019-02-05 11:12] Amxx commented on #829
Any news ?

[2019-02-05 12:33] veox commented on #1229
AFAIK it uses Rinkeby's Clique consensus engine; have you tried using a Goerli node with Rinkeby instructions (the one-line middleware addition)?

[2019-02-05 13:58] fubuloubu commented on #1229
I've had problems getting Rinkeby to work before as well. I can try that though. What's the name of the middleware for that?

[2019-02-05 20:40] fubuloubu commented on #1229
Yeah, I'm not sure what the difference is but I'm pretty sure there is a difference

[2019-02-05 20:50] pipermerriam commented on #1229
cc @carver who may know.  I *think* `geth_poa_middleware` just needs to be renamed to `clique_poa_middleware`

[2019-02-05 20:57] fubuloubu commented on #1229
p.s. Added #1234 after realizing I forgot the middleware for Infura when I did that change.

[2019-02-05 21:51] veox commented on #1229
I've just tried it locally, with `git master` version of `go-ethereum`, which [added support for `geth --goerli` a day ago](https://github.com/ethereum/go-ethereum/pull/18121).

I've ran a simple block filter script with that as the back-end, and it worked just fine.

I think the only change that'll be required in `web3.py` is to look for the IPC socket in `~/.ethereum/goerli/geth.ipc`, too, when

[2019-02-05 22:15] carver commented on #1229
Yup! Although if I remember correctly we are moving away from dynamically/automatically switching between testnet and mainnet depending on which is available. So maybe it's time for something like:

[code]

:+1:

:+1:

[2019-02-05 22:33] carver commented on #1154
Hm, actually both of those look wrong when the bytes32 value is short. My Remix run suggests that the result should be:
`0xc5c3c026c2d7e0acf858a8142a4664f2fef9d227a4a8e904282ef05c63e58012`

Source:

[code]
(Note that remix won't let you compile with a short bytes32 value)

If you pre-pad the value in web3.py, it looks right:
[code]
---

Some obvious options are to:
1. disallow incomplete bytes32 v

[2019-02-05 22:36] carver commented on #829
I seem to recall reviewing a PR by @davesque that added tuple support to v5. So it's probably good to close, thoughts @davesque?

[2019-02-05 22:53] Amxx commented on #829
Just tried, it's not supported by v5.0.0a4

[2019-02-05 23:56] davesque commented on #829
@Amxx Just made a new PR ( #1235 ) which rebuilds PR #1147 .  Currently a work in progress but almost done.  The bulk of the work, which I believe was to harden the `get_abi_inputs` function, is done.

[2019-02-06 22:30] charles-cooper opened #1236 "getLogs by blockHash"
* Version: commit c4de4746c89b224bfb212e9ed7971ca70024777f (master)
* Python: 3.6
* OS: linux

### What was wrong?

The JSON-RPC wiki says that `eth_getLogs` can take `blockHash` as a parameter instead of `fromBlock`/`toBlock` but `Event.getLogs` does not take it as a parameter.

### How can it be fixed?

Add `blockHash` as an acceptable parameter to `Event.getLogs`. Although it should be noted th

[2019-02-06 22:38] charles-cooper commented on #1236
Just tested on parity v2.2.8 and getLogs accepts blockHash as a parameter to the `getLogs` filter spec.

[2019-02-08 05:20] davesque commented on #1140
The cause of the issue is explained here:
https://docs.python.org/3.7/library/warnings.html#default-warning-filter

When you override the warning category to `DeprecationWarning` (as is done [here](https://github.com/ethereum/web3.py/blob/0cbb1e4d3bf5f5fe1e7493f374d824b112d389d8/web3/_utils/decorators.py#L55)), you become subject to the default warning filter which filters out warnings that target

[2019-02-08 22:30] kclowes commented on #1140
Yeah, in thinking about this a little bit more, I agree with leaving it and encouraging people to use the `PYTHONWARNINGS=default`. I'll add a note to the docs. I was thinking maybe the top of the Release Notes section, but if anyone has opinions on that, let me know. I do think it's a little weird that other deprecation warnings show, and only the ones inside the combomethod decorator do not, but

[2019-02-11 18:59] #782 closed

[2019-02-11 19:21] ayanez17 opened #1239 "r"

[2019-02-11 19:21] #1239 closed

[2019-02-11 19:44] ammarqureshi opened #1240 "pip install web3 error"
* Version: x.x.x
* Python: Python 3.6.1 :: Continuum Analytics, Inc.
* OS: macOS Mojave version 10.14
* `pip freeze` output

[code]

### What was wrong?

I have setup a clean environment as per the instructions of the official web3 doc. I have already tried the solutions to previous issues on installing web3 but I still get the same error when I run ```pip install web3``` or ```pip install -U web3

[2019-02-11 20:29] kclowes commented on #1240
I'm not able to reproduce what you're seeing but you might try installing GCC. If you use homebrew, try `brew install gcc`, and then `pip install web3` again. If that doesn't work you may try installing the Xcode Command Line Tools: `xcode-select --install`.

[2019-02-11 20:46] ammarqureshi commented on #1240
running ```brew install gcc``` :
[code]

[2019-02-11 23:24] kclowes commented on #1240
I don't know your setup/dependency tree, but I'd probably try forcing the link or if that doesn't work uninstalling and then installing gcc again.

[2019-02-12 14:33] ammarqureshi commented on #1240
I installed through 'brew install gcc' and 'brew link gcc'. However, this time around I get different errors:

`pip freeze`

[code]

Collecting web3
  Using cached https://files.pythonhosted.org/packages/84/7b/8dfe018c0b94a68f88d98ff39c11471ac55ffbcb22cd7ab41010c1476a75/web3-4.8.2-py3-none-any.whl
Requirement already satisfied: eth-abi<2.0.0,>=1.2.0 in ./anaconda/lib/python3.6/site-packages (from

[2019-02-12 20:27] ammarqureshi commented on #1240
@kclowes I've managed to install web3 on my virtual environment. However, opening a python REPL, I get an error when creating a web3 instance.

[code]

[2019-02-12 21:14] tuxxy opened #1241 "Implement recently added signing standards from Parity and Geth"
See:
- Geth EIP-191/712 -- https://github.com/ethereum/go-ethereum/pull/17789
- Parity EIP-191 -- https://github.com/paritytech/parity-ethereum/pull/9701
- Parity EIP-712 -- https://github.com/paritytech/parity-ethereum/pull/9631

An API should be implemented in web3py that allows for flexible utility between node backends with regards to the signing API proposed in the above issues. This API shou

[2019-02-13 16:48] kclowes commented on #1240
Try `pip install eth-tester`

[2019-02-13 17:42] mswilkison commented on #1241
Hi @iamonuwa! Can you join our Discord channel to chat about this before we approve? https://discord.gg/7rmXa3S Thanks!

[2019-02-13 21:07] #1025 closed

[2019-02-14 17:19] ammarqureshi commented on #1240
@kclower I got that error to disappear. However, running the Contract example code in the documentation gives me
[code]

I raised this issue with the solidity guys, and they tell me the error is due "combined-json" way for compiling is not supported. https://github.com/ethereum/solidity/issues/5984
Should I use a previous version of solidity compiler to be able to run the example Contract code or

[2019-02-15 01:20] jgeary opened #1244 "local_filter_middleware example doesn't work"
* Version: 5.0.0a5

### What was wrong?

I upgraded from 4.8.2 to 5.0.0a5 to use the local filter middleware so I don't have to deal with the node deleting my filters. Unfortunately, I've been unable to use `local_filter_middleware`, which I believe is due to incorrect / lacking documentation.

According to the docs, here is the proper usage of `local_filter_middleware`:
[code]

When I do this, I

[2019-02-15 17:21] pipermerriam commented on #1241
@mswilkison I'd like someone from my team to weigh in as well as this is going to be a feature that's very important to be right as it falls intot he "security" category.  Also, implementation will almost definitely occur under `eth-account`.

@kclowes would you mind digging around for the other issues related to this as I know we have at least one more open.  They might be under `eth-account`.

[2019-02-15 17:23] pipermerriam commented on #1241
Just read the description and noticed this issue is focused on an implementation that delegates to the underlying connected node, which makes it less critical since web3 will simply be acting as an intermediary.  I do think I'd still like a brief write-up of the planned approach before giving someone a :+1: to proceed.

[2019-02-15 22:31] kclowes opened #1245 "Update contract docs to remove deprecated Solidity functions"
### What was wrong?
The contract docs use the outdated Solidity function `compile_source`, which is no longer fully supported. The docs should use `compile_standard` and should be updated accordingly to get the abi and bytecode correctly. It's probably worth adding a doctest too.

[2019-02-15 22:33] kclowes commented on #1240
I think the best solution is to update our docs. I added an issue to do that [here](https://github.com/ethereum/web3.py/issues/1245). Since it looks like you were able to get through the example on the other thread, please feel free to update the docs if you feel up to it :) Sorry for the confusion! Let me know if this needs to be reopened.

[2019-02-15 22:33] #1240 closed

[2019-02-17 19:37] davesque opened #1246 "Deprecate Infura with no API key"
### What was wrong?

Currently, the Infura provider is usable without an API key.

### How can it be fixed?

This needs to be deprecated since Infura will soon cut support for interactions without an API key.

[2019-02-18 16:04] pipermerriam commented on #1246
@kclowes I assigned this to you.  I don't know exact timeline but I think it's less than two months.  Can you see about getting a deprecation warning in for this ASAP.  I think it needs to get backported to v4 as well.

[2019-02-18 18:33] #1230 closed

[2019-02-19 07:30] xiliyuan opened #1248 "Does web3.py support array as function input parameter?"
The contract is:
[code]
How can I put input valuse through web3.py?

I read one similar solution.
[How to send a python bytearray into solidity function by web3.py?](https://ethereum.stackexchange.com/questions/59185/how-to-send-a-python-bytearray-into-solidity-function-by-web3-py)

However, it seems this solution does not use web3.py module. This solution converts data into bytearray manually.

H

[2019-02-19 17:44] kclowes commented on #1248
The stack overflow solution you posted uses web3.py. I am not sure what you are trying to accomplish.

You can call a contract function like:
`contract.functions.<function_name>(<argument>).call()`

In your case since `a` is an array of 20 integers, for example: `a = [1, 2, 3, 4, ... , 20]`, you'd say:
`contract.functions.pub(a).call()` which will return 22

[This page](https://web3py.readthedocs.

[2019-02-19 17:44] #1248 closed

[2019-02-19 19:55] Bhargavasomu commented on #1241
@pipermerriam this is the proposal I have in mind for taking this forward.
* For the `local sign (eth-account)`,  version `0x45` (or `personal_sign`) has already been implemented as far as `EIP 191` is concerned. This whole signing part happens at the `signature_wrapper` function which is used by `defunct_hash_message`. This `defunct_hash_message` function doesn't take the `signature_version` as a

[2019-02-20 16:35] pipermerriam commented on #1241
@mswilkison I'd like to allocate this bounty to @Bhargavasomu if possible.  @iamonuwa thanks for your interest.

[2019-02-20 16:37] pipermerriam commented on #1241
Also @mswilkison , going forward @kclowes from my team will be handling our side of approving bounty stuff for this issue.

[2019-02-21 23:39] davesque opened #1252 "Erroneous code in web3._utils.encoding"
### What was wrong?

Found some erroneous code in `web3._utils.encoding`: https://github.com/ethereum/web3.py/blob/2271ba22be00dabc3eb8ba08a4d2ccc0dda1b93b/web3/_utils/encoding.py#L309

I tried swapping out the enclosing function (which appears to implement an experimental packed encoder before one was available in eth-abi) for the packed encoder that is now available in eth-abi.  This caused test

[2019-02-23 09:15] dylanjw commented on #1244
The doc example shouldn't have the parentheses.  It should be:

[code]

[2019-02-23 09:21] dylanjw commented on #1244
@jgeary What issue did you have? Im not getting an error adding the middleware this way.

[code]

[2019-02-23 09:27] dylanjw opened #1254 "Error with local_filter_middleware block filters with "latest" option, no new blocks"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

[code]

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

...

[2019-02-23 20:16] davesque opened #1256 "abi_sub_tree converts all iterables to lists"
### What was wrong?

I noticed that [this line](https://github.com/ethereum/web3.py/blob/29b007a9a92024761644b26f59f93db5c15e63ef/web3/_utils/abi.py#L593) in the `abi_sub_tree` utility function appears to convert all provided iterables to lists.  If you correct this behavior by doing something like `type(data_value)(...)`, a number of tests break because the original type given data structures is

[2019-02-23 21:56] sam-ulrich1 opened #1257 "InsufficientDataBytes: Tried to read 32 bytes. Only got 0 bytes (This One Appears To Be Different)"
Web3 Version: 4.8.2
Solidity: 0.4.18, 0.5.3 (Both Installed Via Py-Solc)
Geth Version: 1.7 (Built From Source), 1.8.23 (Binary), Master (as of 2/23/19) (Built From Source)
* Python: 3.6
* OS: Ubuntu 18.04
* `pip freeze` output

[code]
### What was wrong?

I have had this specific contract deployed on Ropsten for just over a month but the exact same code has been deployed and used many times (at le

[2019-02-24 05:09] pipermerriam commented on #1257
*after* deployment but before interacting with the contract, please check the value of `web3.eth.getCode(greeter.address)` and verify that the output isn't empty, aka `0x`.  If this is the case then you are interacting with an empty contract.

You can also check the value of `tx_receipt['status']` for the receipt from the contract deployment. I don't recall if we normalize that to `True/False` or

[2019-02-24 20:23] sam-ulrich1 commented on #1257
This was the result of w3.eth.getCode(greeter.address):

b"`\x80`@R4\x80\x15a\x00\x10W`\x00\x80\xfd[P`\x046\x10a\x00^W`\x005|\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x90\x04\x80c\xa4\x13hb\x14a\x00cW\x80c\xcf\xae2\x17\x14a\x01\x1eW\x80c\xefi\x0c\xc0\x14a\x01\xa1W[`\x00\x80\xfd[a\x01\x1c`\x04\x806\x03` \x81\x10\x15a\x00yW`\

[2019-02-24 20:24] sam-ulrich1 commented on #1257
Here is the contract address:
0x6D1E498F5F94072E83313b2b096d57Bafe9ee617

Here is the deployment transaction:
0xf5f7f5ac54ce4c26d02a9b29bc816d45d4997b32ccec31abf14f0a9b7fee0948

Here is the ABI:
[{"constant": false, "inputs": [{"name": "_greeting", "type": "string"}], "name": "setGreeting", "outputs": [], "payable": false, "stateMutability": "nonpayable", "type": "function"}, {"constant": true, "i

[2019-02-24 20:32] sam-ulrich1 commented on #1257
tx_recipet['status'] returned: 1
I assume that that is the equivalent of True.

[2019-02-25 00:59] davesque commented on #1257
This isn't really a solution, but I tried to duplicate the problem with the same deployment script and package versions and wasn't having any issues.  So I'm led to believe that there was some issue with @sam-ulrich1 's particular deployment of that contract.  But I don't know for sure.

[2019-02-25 02:21] sam-ulrich1 commented on #1257
@davesque Thanks! I know that doesn't solve my issue but it helps me narrow the problem down. After hearing that I'll start by purging all of my web3 related modules and reinstall from scratch. If that doesn't work I'll wipe geth, solidity, and my chain and reinstall from scratch. If none of that works I'll update here with more information.

[2019-02-25 08:16] BhumikaB opened #1258 "Error when deploying app in ubuntu server"
* Version: ubuntu 16.04
* Python: python 3.6.7
* OS:linux

 **pip3 freeze**
attrdict==2.0.1
blinker==1.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloud-init==18.4
command-not-found==0.3
configobj==5.0.6
cryptography==1.2.3
cytoolz==0.9.0.1
eth-abi==1.3.0
eth-account==0.3.0
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.2.1
eth-rlp==0.1.2
eth-typing==2.0.0
eth-utils==1.4.1
Flask==1.0.2
hexbyte

[2019-02-25 18:55] sam-ulrich1 commented on #1257
I wiped all Ethereum based modules from my venv and reinstalled them. That did not solve the issue. I then wiped geth completely off my computer and built from source (once master and then again with 1.8). This produced an odd issue where contract deployments would show in my geth console but would not be relayed to the network. I have now wiped all the chain data from my computer and am resyncing

[2019-02-26 16:36] pipermerriam commented on #1258
This is going to be beyond our ability to debug for you but I suspect a problem with how you're configuring your `sys.path`.  If you activate your `venv` manually does that import work?  If not, then it might be a problem with your actual install of `cytoolz` at which point I'd recommend nuking your venv and reinstalling, paying attention to any errors during the install.

[2019-02-27 16:29] kclowes opened #1260 "Make a v4 -> v5 upgrade guide for docs"
With the impending release of v5, it would be nice to tell people how to upgrade.

[2019-02-28 00:42] sam-ulrich1 commented on #1257
So syncing the chain was taking too long (I have horrible internet). I spun up a private network and deployed my contract. This was the transaction receipt.

{'blockHash': HexBytes('0x845b682ba613ac45c885a09be95d5029f326fd4cdaf0313ecfda4da01dabcab0'), 'blockNumber': 847, 'contractAddress': '0xDD0b3C5de2837953B8DD4C57cFC578ACb965EFc0', 'cumulativeGasUsed': 410036, 'from': '0xa5574b4c6166a5ed0fec766

[2019-02-28 00:54] sam-ulrich1 commented on #1257
Oh my... I'm so embarrassed. I forgot that I encrypted my ABI for security purposes. I have had it encrypted for months and never had ANY trouble. Well, I tried deploying the contract with encrypting the ABI after and it worked.

My sincerest apologies. You guys were great with this.

[2019-02-28 00:57] sam-ulrich1 commented on #1257
Okay, so I thought that my encryption could be causing issues (I encrypt the ABI for extra security). So I turned off the encryption and it worked the first time but now it has gone back to not working again. I only worked once though.

[2019-02-28 01:37] sam-ulrich1 commented on #1257
Okay, I have traced back some weird behavior. I tripled the calls to the contract and I found that the contract fails between 1 and 4 times but it always works after it has been called at a maximum 4 times in a  row.

`
def call_contract_function(
        web3,
        address,
        normalizers,
        function_identifier,
        transaction,
        block_id=None,
        contract_abi=None,

[2019-02-28 02:09] sam-ulrich1 commented on #1257
I have found this for a temporary solution but It's obviously not suitable for the main net.
This is from contract.py

`
def call_contract_function(
        web3,
        address,
        normalizers,
        function_identifier,
        transaction,
        block_id=None,
        contract_abi=None,
        fn_abi=None,
        *args,
        **kwargs):
    """
    Helper function for interacting

[2019-02-28 03:33] sam-ulrich1 commented on #1257
I thought this was a Web3 issue but it doesn't appear to be. I followed the call from the origin all the way to the requests module making the POST request. I found that successful and failed calls were identical. The only thing that I can imagine at this point is that it is a Geth issue. However, that doesn't sit right with me because the same issue occurs across multiple Geth versions. Is there

[2019-02-28 15:13] ammarqureshi commented on #1240
@kclowes could you point to where I should make a pull request to update the docs?

[2019-02-28 23:05] scottrepreneur commented on #1220
#1189 applies to these lines as well.

[2019-03-01 18:34] scottrepreneur commented on #1183
Are there more instances that are looking to be updated @pipermerriam? @aherzfeld suggested "web3 is used as the variable for instances of web3 in many of the .py files" in the previous pull. Would  that be good for consistency?

[2019-03-01 23:19] pipermerriam commented on #1183
It'd be good to be completely consistent across both `.py` and documentation to only use `w3`.

[2019-03-03 03:49] aherzfeld commented on #1183
I can take a crack at updating the .py files as well

[2019-03-04 06:26] SteadyAction opened #1264 "Transaction had invalid fields: gasPrice"
* Version: 4.7.2
* Python: 3.6.6
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Can't fix error.

Here is my code that causes an error.
[code]

This is the error message.
[code]

 ![alt text](https://imgur.com/24eGuYJ.png)

Connected to Infura node.

Please help!

[2019-03-04 15:55] pipermerriam commented on #1264
cc @kclowes it looks like we could improve this error message.

I believe the error is because you're using a floating point value.  You need to use an integer.

[2019-03-04 15:57] pipermerriam commented on #1264
Closing.  If you are still having a problem please feel free to continue commenting on this issue.

[2019-03-04 15:57] #1264 closed

[2019-03-04 19:34] kclowes opened #1265 "Add better error message for use of float when an integer is expected"
### What was wrong?
There have been some instances lately (#1264, #1189, and #1220) where an error gets thrown because `gasPrice` needs to be an `int` but it comes back as a float.

### How can it be fixed?
- [ ] better error message
- [x] cast https://github.com/ethereum/web3.py/blob/4185736a72171d9c728e8db14b4145cdf5d1f8c0/web3/gas_strategies/time_based.py#L108 and https://github.com/ethereum/we

[2019-03-04 20:39] kclowes opened #1266 "Remove Python `collections` Deprecation warnings"
* Python: 3.7 and below

### What was wrong?
Python 3.8 is changing the way imports from `collections` are being handled. The following Deprecation warning describes the issue:
`DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working`

### How can it be fixed?
Go through the codebase and swap out any `colle

[2019-03-04 23:08] kclowes opened #1267 "Support for named tuples, dictionaries, and arbitrary objects with attributes"
### What was wrong?
After #1235 gets merged, we'll have tuple support, but not support for rich object representation (see comment [here](https://github.com/ethereum/web3.py/pull/1235#issuecomment-469334671)). It would be neat to have support for named tuples, dictionaries, and arbitrary objects with attributes. These should probably be introduced in 3 separate PRs.

[2019-03-05 20:11] davesque commented on #1267
To clarify, as I understand it, the issue is that we don't support *returning* rich objects like dictionaries, or other mappings.  Right now, a tuple result is just returned as a tuple and it's difficult to parse its structure.

[2019-03-06 07:31] anzhaozhong commented on #1257
i meet the problems too, and i find that occurred when the node concurrent.

[2019-03-08 17:07] dianalo commented on #1257
It probably doesn't help, but in my own setup (private chain, geth miner, web3.py contract deployment/calling code), I'm getting the same error, when calling a contract function with a return statement in it.

[2019-03-11 03:55] BhumikaB commented on #1258
yes it was error  with my sys.path,got solved thank you so much

[2019-03-11 15:35] adamnmcc commented on #1257
i have had a similar issue when trying to run some code but managed to avert the issue when using direct IPC connection?  i have a full Geth node running in docker, so i don't know if that is one contributing factor.

[2019-03-11 19:59] picomancer commented on #1257
I have some speculation about the cause of this problem.  Solidity 0.5.x now requires the `memory` keyword for `string` return values.  Is it possible that Solidity is putting the return value somewhere on the heap, but `web3` or `geth` or whatever is expecting it on the stack?  Anyone familiar with the EVM want to chime in about this possibility?

At any rate, I do have a minimal reproduction cas

[2019-03-11 20:21] charles-cooper opened #1272 "<contract_func>.call modifies user input"
### What was wrong?
When a block hash is supplied as the block identifier, web3.py replaces the block param with that block's number (cf. https://github.com/ethereum/web3.py/blob/652650d47753927e9cf46c0087f1dd044b1da0fa/web3/contract.py#L1343).  This can result in `eth_call` being called on a different block than the intended block in the case of a reorg.

### How can it be fixed?
1) Raise an exce

[2019-03-12 14:35] njgheorghita opened #1273 "Relocating jsonrpc endpoints"
### What was wrong?
Web3's api needs updating to match [EIP 1474](https://github.com/bitpshr/EIPs/blob/147609158191a701cf02c8556d5e529ffcb31cd2/EIPS/eip-1474.md), and the [Parity](https://wiki.parity.io/JSONRPC) / [Geth](https://github.com/ethereum/go-ethereum/wiki/Management-APIs) supported jsonrpc endpoints.

#### Configuration.
Only endpoints listed in EIP 1474 should be available under the `we

[2019-03-12 17:17] mswilkison commented on #1241
Hey @Bhargavasomu! Are you working on this? The bounty is about to expire on gitcoin so I need to know if we should extend it or not - thanks!

[2019-03-12 17:47] Bhargavasomu commented on #1241
@mswilkison I have already completed implementing `EIP 191`. You can take a look here at https://github.com/ethereum/eth-account/pull/56. It might take another **10 days** to get the `Implementation of EIP 712` to get **merged**.

I would be delighted if you could extend the expire time to another 10 days.

[2019-03-12 17:52] mswilkison commented on #1241
@Bhargavasomu done. Thanks!

[2019-03-13 06:36] venkatBGit opened #1276 "cannot import name 'Web3' from 'web3'"
* Version: latest
* Python: 3.7
* OS: win
* `pip freeze` output

[code]

alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.6
anaconda-project==0.8.2
asn1crypto==0.24.0
astroid==2.1.0
astropy==3.1
atomicwrites==1.2.1
attrdict==2.0.1
attrs==18.2.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==

[2019-03-13 08:11] #1276 closed

[2019-03-13 08:12] venkatBGit commented on #1276
issue resolved.. Its a filename issue

[2019-03-13 17:15] huy-springlabs opened #1278 "EthereumTesterProvider: Sender account balance cannot afford txn gas"
* Version: 4.7.2
* Python: 3.6.8
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?
I wrote a unit test for one of my functions where I attempt to sign a transaction and broadcast it.

[code]

I get the following error:

[code]

I have attempted to unlock and transfer eth to the account:

[code]

If I print the balance, I see that the ether was transferred:
`print(self.web3.eth

[2019-03-13 18:10] #1278 closed

[2019-03-14 13:35] Fierozen commented on #1257
I too am getting the same error:
[code]
Similar conditions are:

1. Private network
2. geth running in Docker
3. Client Python 3.6
4. Solc version 0.5.5
5. happens running Greeter.sol during return in call of `greet` function

I'm going to start trying different changes that I can control. Eager to here more from anyone.

[2019-03-14 16:24] Fierozen commented on #1257
Several examples are working for me now - including greeting.sol, after I installed py-solc-x and installed and used solc v0.4.25 rather than v0.5.5 or v0.5.6.

[2019-03-14 17:04] davesque commented on #1257
Not sure if this is the cause, but it's worth noting that `py-solc` only supports up to solc version 0.4.25: https://github.com/ethereum/py-solc/blob/master/solc/install.py#L14-L34

However, that might not be related because a higher solc version would likely just cause py-solc to crash and not work at all.

[2019-03-15 02:12] kclowes opened #1281 "Remove web3.utils in favor of web3._utils"
* Version: 5a7

### What was wrong?
When installing v5a7, someone got an `ImportError: cannot import name 'compat'`. Commenting out the line  https://github.com/ethereum/web3.py/blob/master/web3/utils/__init__.py#L5 fixed the error.

### How can it be fixed?
`web3.utils` only existed for backward compatibility, so can be removed in v5.

[2019-03-15 15:44] Fierozen commented on #1257
@davesque I was using py-solc-x, which has support for solc 5.x, and I was experiencing the error. It was only when I notched down the version of solc to v0.4.25 that everything started working again.

[2019-03-15 16:13] pipermerriam commented on #722
I'd like to nominate type hinting to be added to this list, though it isn't a blocker on releasing v5 since it's not a breaking change.  I think web3.py is our last major library that isn't type hinted.

[2019-03-15 18:01] kclowes opened #1283 "Increase doctest coverage"
We have some doctesting, but it would be really nice to add more coverage so that we know when our docs aren't quite right. It will probably be a good idea to break up into multiple issues and/or PRs when someone actually starts working on this.

[2019-03-15 19:30] davesque commented on #1257
@Fierozen Ahh, my mistake.

[2019-03-15 20:16] kclowes commented on #1180
Closing - allowing only a single provider has been released in v5a3.

[2019-03-15 20:16] #1180 closed

[2019-03-16 17:25] Amxx opened #1285 "ImportError with web3-5.0.0a7"
I tried moving to toward `5.0.0a7`. I made a fresh install with

    sudo pip uninstall web3
    sudo pip install git+https://github.com/ethereum/web3.py.git

Once the install done, I have an error when importing `web3`

    ImportError: cannot import name 'collapse_if_tuple' from 'eth_utils.abi' (/usr/lib/python3.7/site-packages/eth_utils/abi.py)

[2019-03-16 22:02] kclowes commented on #1285
@Amxx you probably need to update eth-utils. It looks like `collapse_if_tuple` was added in 1.4.0. I should probably update the requirement in `setup.py` though. Thanks!

[2019-03-18 10:47] njgheorghita commented on #1273
@kclowes From what I can tell, we're very close to wrapping this up. One concern I have is that the [reference](https://github.com/ethereum/go-ethereum/wiki/Management-APIs) I've been using for the Geth-implemented endpoints might be outdated (last updated 2017). Have you come across any better resources?

As of now, `web3.version` only has one endpoint left in it, `web3.version.api` which returns

[2019-03-18 16:28] kclowes commented on #1273
This is the link I've been using. Looks like it was updated a little more recently than 2017 :)

I think they have both implemented and merged (see [this issue](https://github.com/ethereum/web3.py/issues/1241) but maybe there are no docs yet. And maybe it hasn't been released yet? I'm not sure how geth/parity releases work. @bhargavasomu is implementing in the `eth-account` repo. See this WIP PR:

[2019-03-18 18:24] #1281 closed

[2019-03-18 20:34] #1260 closed

[2019-03-19 13:04] mengquanrun commented on #892
@voith  i have the same question, so how can i solve the problem when the python3.5-dev is unable to locate package?
error information:
mqr@mqr-OptiPlex-7060:~$ sudo apt-get install python3.5-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package python3.5-dev
E: Couldn't find any package by glob 'python3.5-dev'
E: Couldn't find any

[2019-03-19 13:08] voith commented on #892
@mengquanrun web3.py doesn't support python2

[2019-03-19 13:14] mengquanrun commented on #892
ok, got it
Thank you~

[2019-03-19 15:17] mengquanrun opened #1289 "the rumtime enviroment of web3"
* Version: x.x.x
* Python: 2.7/
* OS: ubuntu 18.04

### What was wrong?

i want to install web3 on python2.7, because a tool i need to use is python2.7, and it depend on web3,.

So i want to know is there **an old version** of web3 that can support python2.7?

[2019-03-19 15:23] mengquanrun commented on #892
@voith  sry, i want to know is there an old version of web3 which supports python2.7?
because i have an old project to use which is committed six months ago, but it  depends on web3, and pyhton2.7.
thank you

[2019-03-19 17:34] kclowes commented on #1289
web3 v4 is when we started requiring Python 3 https://web3py.readthedocs.io/en/stable/releases.html. So anything before v4 should work with python 2 but know that v3 is not being actively maintained. Depending on your use case, it's probably a good idea to update to python 3. Here is some info on doing so: https://web3py.readthedocs.io/en/stable/v4_migration.html#python-2-to-python-3. Closing this

[2019-03-19 17:34] #1289 closed

[2019-03-19 20:57] sam-ulrich1 commented on #1257
@davesque I can't speak for anyone else, but in my case, I had the same issue with solc 0.4.18, 0.4.15, and 0.5.3.

[2019-03-20 14:19] carver opened #1293 "Support eth_chainId"
geth and parity both support the endpoint now (admittedly, this is hearsay), so we should to.

Also, we could update the local signing middleware and transaction builder to include the connected chain id when signing.

Huge bonus points for opening a PR to add it to https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1474.md

[2019-03-21 11:22] stringray55 commented on #1266
I would like to take this up.

[2019-03-21 14:51] KarinaMojsievich commented on #496
Could you please tell me what is this formula? Did you get it yourself or is it a ready one?
(1 - (N - h)/N) ** B

[2019-03-21 15:40] pipermerriam commented on #496
@KarinaMojsievich it's something I worked out on a whiteboard.  I don't recall the exact specifics.  You'd have to read my post from above and figure it out.

[2019-03-21 19:49] kclowes commented on #1266
Awesome, thank you!

[2019-03-22 20:18] jgeary commented on #1244
@dylanjw thanks for getting back about this. im using an asyncio event loop to watch for new events from multiple different filters in a continuous loop, and it seems like this middleware isn't compatible with that. here is what im working with: (modified to make it more generic and ignore unnecessary bits):

`
import web3
from web3 import Web3, WebsocketProvider
from web3.middleware import geth_p

[2019-03-22 21:52] dylanjw commented on #1244
The function post_event_loop is missing the `async` keyword.

Needs to be:

[code]

Maybe that is just a typo obfuscating the original issue.  If so, can you post the traceback once you have the async keyword added?

[2019-03-22 22:01] jgeary commented on #1244
@dylanjw good catch, but i actually already had the `async` and just accidentally didnt copy it into my comment. so, i ensured it's there and im still getting the above traceback after sending a keyboard interrupt.

[2019-03-22 22:49] dylanjw commented on #1244
Can you try to reduce your code to the simplest broken example?

What happens when you run a synchronous version of `post_event_loop`?  My guess is that it is stuck making requests for logs to infura, since it is starting from block 0.

You can try setting the environment variable `WEB3_MAX_BLOCK_REQUEST` to something higher. The default is 50.  With 7 million blocks, that would be making +100,000

[2019-03-25 02:10] tgreco commented on #1257
What's the solution to this?
I cannot interact with any contracts at the moment.

`  File "/usr/local/lib/python3.6/site-packages/eth_abi/decoding.py", line 296, in read_data_from_stream
    len(data),
eth_abi.exceptions.InsufficientDataBytes: Tried to read 32 bytes.  Only got 0 bytes
`

[2019-03-25 16:46] pipermerriam commented on #1257
So far I have not seen anything definitive to show this as a web3.py bug and it *can* be explained by any of the following:

- interacting with the wrong address
- interacting with an account with empty code (such as one from a failed deployment)

@kclowes and I talked about an update to this error message to provide more detailed information about what happened so that we can better try to diagno

[2019-03-25 20:02] pipermerriam commented on #1272
I'm in favor of this approach.

[2019-03-26 05:46] sam-ulrich1 commented on #1257
@tgreco If you want I have forked the web3 repo and created a really ugly solution but it works.
https://github.com/sam-ulrich1/web3.py

[2019-03-26 16:18] pipermerriam opened #1302 "Future of cloud-based auto-providers"
### What was wrong?

- Recently Infura changed it's API to require an API key.
- There are [new cloud based JSON-RPC providers](https://github.com/ethereum/web3.py/pull/1300) showing up.

The maintenance overhead of this API is not something I'd like the core development team to end up spending their time on, **but** there is value in having a way for users to *quickly* connect to a reliable cloud

[2019-03-27 08:24] gzuhlwang opened #1305 "support trace API?"

[2019-03-27 11:02] modagi commented on #1257
same situation in mainnet. I'm wondering if it is an issue about rpc module of geth. When I changed only the rpc directory to https://github.com/ethereum/go-ethereum/commit/f91312dbdbb9e04ef578946226e5d8069d5dfd5a, it worked fine(with minor modifying to other directories affected by the rpc change). So I suspect that this is a bug since https://github.com/ethereum/go-ethereum/commit/245f3146c26698

[2019-03-27 14:20] sam-ulrich1 commented on #1257
@modagi Hey nice work on tracing this back. Could you open up an issue on the go-ethereum repo?

[2019-03-27 15:07] pipermerriam commented on #1257
Yeah, if the RPC call is returning an empty byte string (empty hex) when it's expected to return a value that sounds a lot like a go-ethereum issue.  I'm curious if anyone has experienced this with parity or any other JSON-RPC provider (note that infura does use geth on it's backend so most any cloud provider would likely just be a manifestation of the same issue)

[2019-03-27 15:10] #1305 closed

[2019-03-27 16:17] carver opened #1306 "Add a command to launch with an IPC connection"
Some nodes, like geth, would prefer to drop their maintenance of tools like `geth attach` in favor of a web3.py python command line tool. They would do a simple alias, like:

[code]

to invoke

[code]

(Some alternate names for `pyconsole`: `ethpy`, `pyeth`, `web3py`.)

That gives us a clean geth integration, and a more general all-node console.

We *could* put it in it's own repo, but I think thi

[2019-03-27 16:26] modagi commented on #1257
I tested the code below by connecting to my geth and parity node. All contract calls in geth fail like the above, and all succeeds in parity like below. I'll open up this issue on the geth repo.

NOTE : I changed ABI to something from https://github.com/ethereum/wiki/wiki/Contract-ERC20-ABI

### Test code

[code]

### Result of parity node

[code]

[2019-03-27 16:33] modagi commented on #1257
https://github.com/ethereum/go-ethereum/issues/19186 looks like same issue.

[2019-03-27 17:05] pipermerriam commented on #1257
I'm going to close this issue since this is looking a lot like an issue with go-ethereum.  Feel free to continue the discussion.

[2019-03-27 17:05] #1257 closed

[2019-04-02 02:28] charles-cooper commented on #1272
Cf. https://github.com/ethereum/EIPs/pull/1898, could be a ways until this is implemented by nodes though.

[2019-04-02 17:18] #1246 closed

[2019-04-04 07:55] jmcph4 commented on #1220
@kclowes is this able to be closed now or should it stay open?

[2019-04-04 16:55] kclowes commented on #1220
We can close it. Thanks!

[2019-04-04 16:55] #1220 closed

[2019-04-04 16:57] kclowes commented on #1189
Closed with #1297

[2019-04-04 16:57] #1189 closed

[2019-04-04 18:50] warkechetan commented on #892
I m using windows i have python 3.6.5 still giving me same error
Here is my error log:
Collecting web3
  Using cached https://files.pythonhosted.org/packages/9d/df/0bfb618ff309ef9f2014e829daf689c13d0652534002d8dff8615b92946b/web3-4.9.1-py3-none-any.whl
Requirement already satisfied: hexbytes<1.0.0,>=0.1.0 in c:\users\chetan\anaconda3\lib\site-packages (from web3) (0.1.0)
Requirement already satisf

[2019-04-04 19:04] kclowes commented on #892
@mengquanrun You can try web3 v3, but it is no longer supported, so you'll have to use at your own risk 😞

@warkechetan it looks like you need to install Microsoft Visual C++ 14.0

[2019-04-04 19:27] warkechetan opened #1313 "error while installing web3"
* Version: x.x.x
* Python: 3.6.5
* OS: win
I gave command pip install web3 in anaconda it giving me error as follows:
Collecting web3
  Using cached https://files.pythonhosted.org/packages/9d/df/0bfb618ff309ef9f2014e829daf689c13d0652534002d8dff8615b92946b/web3-4.9.1-py3-none-any.whl
Requirement already satisfied: eth-utils<2.0.0,>=1.2.0 in c:\users\chetan\anaconda3\lib\site-packages (from web3) (1

[2019-04-04 19:32] kclowes commented on #1313
@warkechetan Try installing Microsoft Visual C++ 14.0 like the error says. Do you get another error after that?

[2019-04-05 10:30] warkechetan commented on #1313
Can u suggest me link i m unable to find Microsoft Visual c++ 14.0

[2019-04-05 15:27] kclowes commented on #1313
I'm just reading the error message you posted. Looks like it can be downloaded here:

[2019-04-06 00:57] tommyz7 commented on #1154
Above answer was helpful and a bit misleading for me at the same time. I had to right-pad bytes32 to achieve the same hash. I'm using `web3==5.0.0a9` and `solidityKeccak` but I'm guessing that it's the same as `soliditySha3` in previous version.
[code]
`getHash(0x757361)` returns `0x1866d505cb5df2e484fa00f0290697b8f7888b0fc27822a24acd662fad3c087c` but `web3.solidityKeccak(["bytes32"], ["0x00000000

[2019-04-06 01:11] jmcph4 commented on #1196
Just for reference, as of cba95384, this **should** be the list of affected files:

    web3.py$ grep -r --include "*.py" toolz . | cut -f1 -d :
    ./web3/module.py
    ./web3/gas_strategies/time_based.py
    ./web3/eth.py
    ./web3/middleware/gas_price_strategy.py
    ./web3/middleware/exception_handling.py
    ./web3/middleware/validation.py
    ./web3/middleware/attrdict.py
    ./web3/middlew

[2019-04-07 14:01] mswilkison commented on #1241
Hey @Bhargavasomu looks like everything here is merged and done?

[2019-04-08 02:49] Bhargavasomu commented on #1241
@mswilkison the `eth_signTypedData` needs to be still implemented in the `web3.py` repository. It shouldn't take long. Will get back to you after this is completed. Thankyou.

[2019-04-08 03:45] araa47 opened #1318 "AttributeError: type object 'Transfer' has no attribute 'getLogs'"
* Version: 4.9.1
* Python: 3.7.3
* OS: osx
* `pip freeze` output
[code]

### What was wrong?

Code
[code]
Error:
[code]
I am currently trying to get a list of all the contract transfers, so I can get the balances for each wallet who owns this erc20 token for each block. Based on instructions in https://github.com/ethereum/web3.py/blob/master/web3/contract.py.

Is there a better way to approach thi

[2019-04-08 06:23] araa47 commented on #1318
I have also tried another method to get all erc20 transactions for the token based on https://web3py.readthedocs.io/en/stable/contracts.html.

Code:
[code]

Output:
[code]

Still can't seem to pull the transactions for the particular erc20 token in order to calculate balances during different points of time.

[2019-04-08 13:46] warkechetan commented on #1313
i Downloaded it giving me error of cl.exe no directory found.
Then i try to install it through MSC++ command prompt now giving error
Installed c:\users\chetan\appdata\local\temp\pip-build-vgpau9\eth-account\.eggs\wheel-0.33.1-py2.7.egg
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "c:\users\chetan\appdata\local\temp\pip-build-vgpau9\eth-account\setup.

[2019-04-08 15:27] kclowes commented on #1313
I can't tell what's actually happening, but it looks like your python version is 2.7, which leads me to believe you aren't installing web3 in a clean environment. The most recent stable web3 needs python3.5 or higher, and the latest unstable web3 version needs 3.6+. I'm not sure if you are using one, but we highly recommend using a virtual environment. There are instructions here to set one up: ht

[2019-04-08 17:47] kclowes commented on #1318
If you want to use the contract instance like you have in the first comment:

You'll need to create the filter first:
`event_filter = token_contract.events.Transfer.createFilter(fromBlock=from_block, toBlock=to_block)`
and then you can get the new entries:
`event_filter.get_new_entries()`

I'm not sure why `transfer_filter = token_contract.eventFilter('Transfer')` isn't working. I'd guess that the

[2019-04-08 18:11] carver commented on #1154
So it looks like web3.js is left-padding and solidity is right-padding. That's even *more* reason for us to not take a stance in web3.py until it is standardized (and require explicit padding by the caller). In order to generate the hash, the caller must know which tool created the "short bytes" value, and pad it appropriately.

I agree that manual padding is a bit annoying, and would like to see

[2019-04-08 18:13] carver commented on #1154
cc @njgheorghita @kclowes Can we get the strictness of bytes input into v5? Much easier to relax it later than constrain it. That means that any constant-length bytes value would have to be explicitly padded by the caller.

[2019-04-08 20:04] kclowes commented on #1154
Sure! To be clear, this is a request for option 1 in [this comment](https://github.com/ethereum/web3.py/issues/1154#issuecomment-460830889), right?

[2019-04-08 22:54] #1229 closed

[2019-04-09 00:23] carver commented on #1154
Yup!

[2019-04-09 00:48] dathbezumniy commented on #1266
Is the issue still takeable?

[2019-04-09 01:44] araa47 commented on #1318
@kclowes , was able to try it out, here is the exact code snippet used. However I still get an empty list as output. I have checked etherscan to make sure there are transactions available between the blocks for the token I use.

[code]

[2019-04-09 01:48] araa47 commented on #1318
I seem to have found a web3 js function that works with Infura Http provider.

[code]

Is there a python equivalent of this? The node js snippet can be run using infura http provider, while the python code above seems to need infura websocket provider since filters are not available with infura http provider.

[2019-04-10 15:59] kclowes opened #1320 "V5 Migration Guide - Add info on how to use Contract Caller"
### What was wrong?

There has been some confusion around what to use instead of ConciseContract in v5

### How can it be fixed?
Documentation for the Contract caller API should be added to the v5 migration guide

[2019-04-10 16:12] #1258 closed

[2019-04-10 16:18] kclowes commented on #1293
- [x] eth_chainId implemented - #1295
- [ ] Update local signing middleware and transaction builder to include the connected chainId when signing
- [ ] 🏅Bonus: Add PR to EIP-1474

[2019-04-10 16:23] #1203 closed

[2019-04-10 18:56] kclowes opened #1321 "Resolve v4 dependencies"
* Version: 4.9.1

### What was wrong?

web3 4.9.1 requires eth-abi<2.0.0,>=1.2.0
eth-tester 0.1.0b37 requires eth-abi<3.0.0,>=2.0.0b4

### How can it be fixed?
Figure out what packages can be upgraded/downgraded to get rid of pip errors without breaking anything

[2019-04-10 19:00] carver commented on #1321
Note that Web3 v4.9.1 pins eth-tester to v0.1.0-beta.33: https://github.com/ethereum/web3.py/blob/v4.9.1/setup.py#L10

I'm not sure how they ended up with eth-tester beta.37

[2019-04-10 19:04] #1285 closed

[2019-04-10 19:22] veox commented on #1321
Perhaps tracking `git master` at first; then checking out `web3.py` v4.9.1, but not re-running `pip install <bla>`?..

-----

Tried cleanroom install (CPython 3.7.3, `python-virtualenv` 16.1.0, `python-pip` 19.0.3 via Arch Linux package manager):

[code]

Here `cat a`:

[code]

No `eth-tester`. :/

So:

[code]

Here `diff a b`:

[code]

Not same numbers as in original report. :/

-----

Need steps

[2019-04-10 19:31] veox commented on #1321
This a workaround for now:

[code]

Here `cat a`:

[code]

[2019-04-10 20:07] relyt29 commented on #1321
[code]

I am also on Arch Linux.

[code]

happy to assist in any way I can.

[2019-04-10 20:27] relyt29 commented on #1321
From a fresh virtualenv:

[code]
(observe the line: web3 4.9.1 has requirement eth-abi<2.0.0,>=1.2.0, but you'll have eth-abi 2.0.0b8 which is incompatible.)

[2019-04-10 20:31] carver commented on #1321
@veox

Yeah, it's in an extra, because eth-tester isn't needed by many installs, and is fairly weighty.

---
@relyt29

Oh yeah, that would do it. You can't generally assume that the latest stable web3 will support the latest eth-tester beta. So if you want to use eth-tester through web3, then you should use the extra that's pinned in web3:

[code]

Looks like this line ^ would improve the docs her

[2019-04-10 20:42] relyt29 commented on #1321
now we have (this is after a full `pacman -Syu`):

[code]

See: `py-evm 0.2.0a33 has requirement eth-typing<2.0.0,>=1.1.0, but you'll have eth-typing 2.1.0 which is incompatible.`

[2019-04-10 21:44] relyt29 commented on #1321
Also, perhaps I should file a separate issue for this, but I am unsure of whether it has to do with the wrong package version being pinned or is a bug in web3's eth-tester middleware, or what but there's also this stack trace, assuming you ignore the above error and try to actually use EthereumTesterProvider

side note someone should write a documentation page with some example code of how to do u

[2019-04-12 10:56] warkechetan commented on #1276
I m getting same problem can u tell me how u resolved it

[2019-04-12 11:10] venkatBGit commented on #1276
Actually Its issue with file name. I used my filename as web3.py,  So its fetching those functions from the same file.

[2019-04-13 12:19] warkechetan opened #1327 "Cannot connect to IPC socket path : None"
* Version: x.x.x
* Python:3.6.5
* OS: win 10
* w3.eth.blockNumber() output

[code]

[2019-04-14 03:28] aRooooooba opened #1328 "Could not handle interface? Error: return data b'' for output_types ['bool']"
* Web3 Version: 4.9.1
* Python: 3.7
* OS: win10
* `pip freeze` output

[code]

### What was wrong?
I was trying interface in solidity. It works well in remix. Because I have some trouble using local solc compiler, I used remix to compile (version: 0.5.1+commit.c8a2cb62.Emscripten.clang) and saved the abi and bytecode to local files. But it can't work properly using web3.py.

The two solidity files

[2019-04-14 22:35] tgreco opened #1329 "Delete"
Delete

[2019-04-14 23:34] #1329 closed

[2019-04-15 15:10] veox opened #1330 "Warnings during doc build: missing event-log-object"
* Version: v5.0.0-alpha.9-37-gf4a7d8c5 (current `master`, commit f4a7d8c55238bc6f3afcb697c56a91d80e8cd13a)
* Python: 3.7.3
* OS: Arch Linux
* `pip freeze` output: MISSING

### What was wrong?

During `make docs`:

[code]

Direct fallout of PR #1032.

### How can it be fixed?

* Review docs.
* Build docs in CI and fail on warnings.
* "Lint" docs.

[2019-04-15 19:43] #1193 closed

[2019-04-15 22:08] #1320 closed

[2019-04-16 09:20] palango commented on #1149
I'd argue that the best fallback would be to use ` web3.eth.gasPrice`.

[2019-04-19 09:53] aRooooooba commented on #1328
Can anyone help me please?
Although actually it's not that serious to me :), I can realize the function from above the smart contract. But it does matters, doesn't it?

[2019-04-19 18:29] kclowes commented on #1328
That error indicates that your ABI defines that the output type of `test` should be a boolean, but a bytestring is being returned instead. So it looks like somehow `test` is returning a bytestring. My guess is that there is an error in your Solidity code somewhere, but there is nothing obviously wrong that jumps out at me. Sorry that's not more help!

[2019-04-19 20:18] kclowes commented on #1328
I was wrong earlier. @pipermerriam pointed out that the error is actually saying that decoding a boolean requires `\x00` or` \x01` but it's getting an empty byte string. However, this is likely related to [this](https://github.com/ethereum/go-ethereum/issues/19186) go-ethereum bug. There are also some more details on [this thread](https://github.com/ethereum/web3.py/issues/1257). Sorry for the con

[2019-04-19 20:18] #1328 closed

[2019-04-22 19:01] kclowes commented on #1327
I can't tell for sure, but it looks like you set `web3 = Web3(IPCProvider())` earlier (outside of what you pasted) and then didn't reset the variable to use the `HTTPProvider` `web3 = Web3(HTTPProvider('http://localhost:8545'))`. If you are trying to use the `HTTPProvider`, you should be able to say:

[code]

Feel free to reopen if that doesn't fix your problem!

[2019-04-22 19:01] #1327 closed

[2019-04-22 22:33] #1266 closed

[2019-04-24 20:03] kclowes commented on #722
@pipermerriam @carver & @njgheorghita - I _think_ we've completed all of the breaking changes listed in this issue. Do any of you see anything breaking that I missed? We decided that all of the async stuff will be non-breaking, right?

[2019-04-24 21:13] carver commented on #722
Nice! I don't know of a more authoritative list than the one in this issue. So I guess we're ready to go beta! (and time for a blog post :))

[2019-04-28 20:58] flipchan opened #1336 "return current block zero"
* Version: x.x.x
* Python: 3.6
* OS: debian
* `pip3.6 show web3  ` output

[code]

## problem
[code]

##Geth
[code]

[2019-04-28 21:00] flipchan commented on #1336
## Geth is running as
[code]

[2019-04-28 21:00] flipchan commented on #1336
print(w3.eth.blockNumber) returns 0

[2019-04-28 21:04] flipchan commented on #1336
please close its geth issue
https://github.com/ethereum/go-ethereum/issues/19506

[2019-04-28 21:05] flipchan commented on #1336
started it on geth instead
https://github.com/ethereum/go-ethereum/issues/19506

[2019-04-28 21:05] #1336 closed

[2019-04-29 08:56] gt299792 opened #1337 "AttributeError: type object 'Callable' has no attribute '_abc_registry'"
* Version: 4.9.2
* Python: 3.7
* OS: win10
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
[code]
* The full output of the error
[code]
* What type of node you were connecting to.
NO connecting

### How can it be fixed?
I have no idea.
Please help me, thanks.

[2019-04-30 12:37] ethdev279 opened #1340 "AttributeError: 'list' object has no attribute 'buildTransaction'"
* Version:
* Python: 3.5
* OS: win10
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* I'm trying to send a transaction to smartcontract function. below is the error.
[code]
*

### How can it be fixed?

[2019-04-30 18:41] kclowes commented on #1340
You need to add `functions` in between `contract_instance` and `greet`. For example:
`contract_instance.functions.greet("Hi devs").buildTransaction({...})`. You can check out the docs [here](https://web3py.readthedocs.io/en/stable/contracts.html#web3.contract.ContractFunction.buildTransaction). Feel free to reopen if that doesn't solve your problem!

[2019-04-30 18:41] #1340 closed

[2019-04-30 22:18] kclowes opened #1341 "Use Pytest xfail decorator throughout tests"
* Version: v4 and v5

### What was wrong?

Some tests use the pytest xfail decorator, and others use the pytest.xfail syntax from within the test. We should be using the `@pytest.mark.xfail()` decorator instead of `pytest.xfail`.

From the docs:

### How can it be fixed?

I think we should pretty much be able to do a find and replace, but haven't looked to make sure that's the case.

[2019-04-30 22:36] kclowes opened #1342 "Add support for a JSON string in eth_signTypedData and personal_signTypedData"
### What was wrong?

Currently, the `signTypedData` implementations only allow a JSON object. We should add support for a JSON string in `eth_signTypedData` and `personal_signTypedData` too. Inspired by [this comment](https://github.com/ethereum/web3.py/pull/1319/files#r279892669) :)

[2019-05-02 02:56] Bhargavasomu commented on #1241
@kclowes could you please confirm that this issue and bounty is done? Thankyou.

[2019-05-02 04:18] tgreco opened #1343 "estimateGas always fails"
Deployed an ERC20Token
Tried to transfer tokens and cannot.
Always get an error when trying to estimate gas.
{'code': -32000, 'message': 'gas required exceeds allowance or always failing transaction'}
[code]

[2019-05-02 09:28] araa47 opened #1344 "ethers.utils.solidityKeccak256 equivalent in web3"
* Version: 4.9.2
* Python: 3.7.3
* OS: osx

### Question

Is there a web3 equivalent of the ethers.utils.solidityKeccak256 function,
or how would i go about re-creating a similar hash given a bunch of parameters.

It helps with computing the keccak256 cryptographic hash using the Solidity non-standard (tightly) packed data for values given the types.

[2019-05-02 15:04] Fierozen commented on #1257
Here is what fixed it for me, for all solc versions, in both geth and parity:
When invoking the compiler, the **evmVersion** must be set to the correct level depending on the Solidity version. In my case, the Docker image of geth must still use evmVersion : 'byzantium', while the parity version, as explained on their web site, is using the latest, 'petersburg'.

see the following for full explanat

[2019-05-02 16:33] kclowes commented on #1241
Confirmed. Thanks @Bhargavasomu!

[2019-05-02 16:36] kclowes commented on #1344
Is this what you're looking for? https://web3py.readthedocs.io/en/stable/overview.html?highlight=soliditySha3#Web3.soliditySha3

[2019-05-02 17:54] kclowes commented on #1241
Uh oh, I hope I didn't cancel the bounty by closing the PR. Let me know what I need to do @mswilkison

[2019-05-02 17:54] mswilkison commented on #1241
Sorry, something is wrong with gitcoin (or I did something wrong). Getting them to help. Stand by @Bhargavasomu

[2019-05-02 22:23] #1245 closed

[2019-05-03 00:09] #1344 closed

[2019-05-03 02:53] tgreco opened #1346 "Closed"
Closed

[2019-05-03 08:50] gt299792 commented on #1337
I solved this problem with ` pip uninstall typing`

[2019-05-03 16:43] kclowes commented on #1337
Glad you figured it out. Sorry for the long response time!

[2019-05-03 16:43] #1337 closed

[2019-05-03 18:04] kclowes commented on #1343
I am not able to replicate this, and I don't see anything obviously wrong. Here is a similar thread that may help: https://github.com/ethereum/web3.py/issues/769

[2019-05-03 18:57] kclowes commented on #1346
I'm not sure what the question is here. Is the `print(w3.toHex(TXID))` line returning anything?

[2019-05-03 20:00] tuxxy commented on #1241
It just occurred to us that #1319 only partially fulfills the needs that this issue established.

Currently awaiting Geth to implement the necessary API endpoints, which is fine. But #1319 only implement EIP-712 signatures, but we also require EIP-191 signatures. As we were a bit busy with our own development, we didn't notice the disparity in this until now.

With that said, we also need to expos

[2019-05-03 20:14] kclowes commented on #1241
Yep, for sure. I didn't realize there was a specific 191 endpoint.

[2019-05-03 20:24] tenuki opened #1347 "Disable a particular transaction formatter (RSK)"
* Version: 4.9.2
* Python: 3.7.2
* OS: linux
* `pip freeze` output

[code]

### I need to "change" a couple of transaction formatters for rsk nodes

I'm using web3py to connect to a few nodes. In particular I have this problem when connecting to RSK nodes which says to be somehow compatible with geth's RPC-protocol.

Problem is, when a transaction-formater is used, it breaks because some transacti

[2019-05-03 21:53] #1346 closed

[2019-05-04 18:46] ccding commented on #834
It raises exceptions. I have to use `bytes(HexBytes(...)).hex()`

[2019-05-05 12:46] Bhargavasomu commented on #1241
@tuxxy sorry about that, I will open a new PR to add the `personal_sign191` endpoint.

[2019-05-05 20:40] aerophile commented on #1183
I've been encountering this issue a lot as well.

[2019-05-06 20:51] carver commented on #834
This should be its own bug report, that workaround should not be necessary. Please open at https://github.com/ethereum/hexbytes/issues

FWIW, that one-liner works on my install of hexbytes v0.1.0. So we'll need your pip environment, the full stack trace, etc, in order to provide an help.

[2019-05-08 15:15] nbt-rezaem opened #1349 "Calling the deprecated sha3 method as an instance (bound) method causes an error."
* Version: 5.0.0b1
* Python: 3.7
* OS: win
* `pip freeze` output

[code]

### What was wrong?
Calling the deprecated sha3 method as an instance (bound) method causes an error.

Please include any of the following that are applicable:
[code]

### How can it be fixed?

I have a pull request to add ```@staticmethod``` to the definition to fix this.
After the pull request:
[code]

[2019-05-10 11:22] Uxio0 opened #1351 "Event ProcessReceipt fails for events with same id but different indexed attributes"
* Version: 4.9.2
* Python: 3.7
* OS: linux

### What was wrong?

When I use `rich_logs = erc721.events.Transfer().processReceipt(tx_receipt)` I expect the relevant logs to be decoded and the others ignored. But if I try to process a tx with mixed `ERC20` and `ERC721` `Transfer` events (`ERC721` has the third parameter of the event indexed, `ERC20` not) it will fail decoding the event.

`ERC20` Tra

[2019-05-10 14:31] pipermerriam commented on #1351
Thanks for raising this and explaining it well.

I think that we could address this using a similar pattern to `codecs.encode` and `decode` which take an `errors` keyword argument to decide what should be done on missing logs.  The simple implementation might take any of the following static values:

- `ignore`: return the log, in place, without decoding
- `discard`: in the event of a decoding err

[2019-05-10 14:35] pipermerriam commented on #1351
I think this also suggests we're lacking an API to do `erc721.events.Transfer().processLog(tx_receipt.logs[0])` which should be very easy to implement.  (and maybe backport to v4 since it should be very simple)

[2019-05-10 16:18] Uxio0 commented on #1351
Agree with the `ignore`/`discard`/`strict`.

As you say too, it would be very useful to have a method that allows to process a single `log`, instead of the full `receipt`

[2019-05-11 19:35] flipchan opened #1352 ".buildTransaction() default arguments not being published"
im trying to send erc20 tokens but it doesnt publish the transactions
[code]

returns a transaction id

[code]
gets stuck in my geth ethereum mainnet node

[2019-05-13 17:06] #1196 closed

[2019-05-14 00:16] banteg commented on #1267
It can be parsed somewhat like this:
[code]

For example, this
[code]
becomes this
[code]

[2019-05-14 03:02] pipermerriam commented on #1267
Returning rich objects probably won't be a default API since `name` isn't a required ABI field last time I checked.  However, I can see this as something that could very easily be supported either under the existing API or with some minor modifications to the contract API.  This really needs someone to take the torch and run with it to explore ways that this can be implemented in a flexible mainta

[2019-05-14 10:54] banteg commented on #1267
A few options on how to handle the API side of things:
1. Subclass `ContractCaller`, add an option or shortcut to override caller class when creating a contract. This requires the least changes but will only work with the caller calls.
2. Add an option to `call_contract_function`, which will also propagate to `ContractFunction.call`, `ContractFunctions` and `Contract`.

As for the decoder, I think

[2019-05-14 14:19] pipermerriam commented on #1267
Other options to look into.

1. contract level middlewares that only operate on calls that originate from the contract.
2. contract level abi decoder that does the additonal level of logic to convert things to rich logic.

A first step towards this that I would be supportive of would be to let the native layer return a `NamedTuple` when it detects it is possible since this would be a backwards com

[2019-05-14 14:58] fubuloubu commented on #1267
Add my support that this sounds like a pretty good way to handle this additional functionality.

Also really support adding this feature. Having to convert smart contract struct objects to/from tuples is really a hassle, and I was hoping that there'd be a better way eventually. It might help to think about how developers might interact with this API, for example I was developing a Transaction obje

[2019-05-16 16:40] kclowes commented on #1352
@flipchan Is your chain synced?

[2019-05-20 16:52] kclowes opened #1356 "Add Testing Best Practices Documentation"
### What was wrong?
We don't have any documentation around best practices for testing (that I'm aware of) for contributors to reference other than how to run the tests in the README. We should write some up! Some topics might include:
- Integration test setup/hierarchy
- Preferring the `@pytest.mark.xfail` decorator over `pytest.xfail`
- ...Any other best practices

[2019-05-21 05:56] joshuawu opened #1357 "ENS: Name normalisation is using `idna.decode` instead of `idna.encode`"
Normalisation function:

https://github.com/ethereum/web3.py/blob/abb3b631fb76eca21f02d420785c32c17ea9e760/ens/utils.py#L74-L91

The line in question:

https://github.com/ethereum/web3.py/blob/abb3b631fb76eca21f02d420785c32c17ea9e760/ens/utils.py#L89

Shouldn't this be `idna.encode(...)`? I don't see how this makes sense trying to decode the original input into Unicode. We want to encode it into A

[2019-05-21 12:41] pipermerriam commented on #1356
These are things that we'd often place in the https://github.com/ethereum/snake-charmers-tactical-manual

Maybe put them there and cross link from web3.py documentation?

[2019-05-21 14:22] pipermerriam commented on #1357
Do you know if there are any test vectors from the ENS spec that would demonstrate the correct behavior so we can add a test?

[2019-05-21 18:47] kclowes commented on #1356
Sounds good to me! Let me know if you have anything else you'd like to see added to this documentation.

[2019-05-21 21:30] Arachnid opened #1358 "web3py.ens should not do IDNA processing"
To correctly normalise ENS names, they need to be normalised with UTS46, but not subjected to the IDNA rules beyond that. See [this thread](https://discuss.ens.domains/t/non-compliant-name-on-official-lookup-https-manager-ens-domains-name-rainbow-eth/992/10?u=nickjohnson) for details.

[2019-05-23 04:20] fubuloubu opened #1359 "DeprecationWarning"
* Version: 5.0.0b2
* Python: 3.6
* OS: linux
* `pip freeze` output:
[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error:
I'm testing my library https://github.com/fubuloubu/hypothesis-ethereum
* The full output of the error:
I get the following in my warnings when running pytest
[code]

### How can it be fixed?
I'm _pretty_ sur

[2019-05-23 07:26] joshuawu commented on #1357
There are no test vectors in the EIP #137 spec.

[2019-05-24 06:23] wangyuncong123 opened #1362 "ModuleNotFoundError: No module named'eth_account.local'"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

I use the buildozer

requirements = python3,kivy,web3,eth-account,cytoolz,setuptools,toolz,ethereum,eth-keyfile,pycryptodome,eth-keys,eth-utils,eth-hash,eth-typing,hexbytes,eth-rlp,rlp,attrdict,eth-abi,parsimonious,idna,lru-dict,requests

### What was wrong?

Please include any of the following that are applicable:

[2019-05-24 14:31] Dominik1999 opened #1363 "Mini Typo in "web3.txpool.inspect" API description"
Hey there,

just because I saw it:

`Returns a textual summary of all transactions currently pending for inclusing in the next block(s) as will as ones that are scheduled for future execution.`

must be

`Returns a textual summary of all transactions currently pending for including in the next block(s) as well as ones that are scheduled for future execution.`

right?

[2019-05-24 15:58] kclowes commented on #1362
If you're using web3 v4, you'll want to make sure you're using an eth-account version between 0.3.0 and 0.2.1. The `eth_account /signer` change came in v0.4.0. If you make a new virtual environment and do a fresh `pip install`, it should work. Closing this, but feel free to reopen if you still are having issues. If you do reopen, pasting the output from running `pip freeze` would be helpful. Thank

[2019-05-24 15:58] #1362 closed

[2019-05-24 16:01] kclowes commented on #1363
Yes it should! Thanks for finding it. It would be awesome if you wanted to open a PR 😃

[2019-05-24 17:04] #1359 closed

[2019-05-24 17:13] wangyuncong123 commented on #1362
solve it！thanks a lot

[2019-05-24 22:47] kclowes commented on #1357
@joshuawu I believe decode is correct here because the purpose is to take any of the ASCII encoded urls `xn--...` and turn them into utf-8. See this testcase: https://github.com/ethereum/web3.py/blob/master/tests/ens/test_nameprep.py#L15

[2019-05-29 21:42] flipchan commented on #1352
its something weird with geth not a web3.py error

[2019-05-29 21:42] #1352 closed

[2019-06-03 20:34] pjonson2 opened #1365 "Web3.eth.defaultAccount is not signing txns to deploy a contract"
Here is my code.

[code]
Here is the error ...

![Screen Shot 2019-06-03 at 4 33 58 PM](https://user-images.githubusercontent.com/13080825/58832668-6b119a00-861d-11e9-9aa0-6524e854e1d4.png)

What should I do?

[2019-06-03 20:52] pjonson2 commented on #1365
Version: 4.9.2
Python Version: 3.7.3
Pip Freeze Output:
![Screen Shot 2019-06-03 at 4 50 58 PM](https://user-images.githubusercontent.com/13080825/58833826-f2f8a380-861f-11e9-8b57-81c1995ee5f1.png)

[2019-06-03 21:38] voith commented on #1365
`w3.eth.account.privateKeyToAccount` will return an object, however, `defaultAccount` needs to be `str`
try this:
[code]

[2019-06-06 01:25] wjmelements opened #1367 "Latest docs incorrectly suggest that sendRawTransaction returns a string, actually HexBytes"
Docs say string:
<img width="662" alt="Screen Shot 2019-06-05 at 6 20 40 PM" src="https://user-images.githubusercontent.com/799573/59000403-33425800-87bf-11e9-90cd-87c9b18d4c20.png">
However:
<img width="556" alt="Screen Shot 2019-06-05 at 6 15 04 PM" src="https://user-images.githubusercontent.com/799573/59000411-363d4880-87bf-11e9-972d-f51a85c19f78.png">

[2019-06-06 13:56] charles-cooper opened #1368 "Add a generic way to set timeout for provider"
Right now it seems that all providers have a timeout parameter somewhere, but in order to set it you need to inspect the type of the provider and write specific code for each provider. It would be nice if the Provider or Web3 interface allowed you to set this in a more generic way.

[2019-06-06 14:03] pipermerriam commented on #1368
Maybe something simple like `Provider.set_timeout()` and document that any provider that does not support a timeout should raise a `NotImplementedError` and that callers of this API should be prepared to handle this if appropriate.

[2019-06-09 04:31] araa47 opened #1369 "AttributeError: type object 'Account' has no attribute 'from_key'"
* Version: 4.9.2
* Python: 3.6.4
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Before install web3, everything seems to work, specifically this line of code

[code]

however after install of web3
[code]

this produces following error:

[code]

### How can it be fixed?

Uninstalling web3, and re-install eth-account.

Useful log from pip install web3

[code]

Seems like its because i

[2019-06-09 04:57] araa47 commented on #1369
Solution:

[code]

Looks like .from_key() has been deprecated

[2019-06-09 04:57] #1369 closed

[2019-06-13 22:27] kclowes commented on #1367
You're right! Thanks for pointing that out!

[2019-06-13 22:28] kclowes commented on #1365
Closing, but feel free to reopen if it's still not working!

[2019-06-13 22:28] #1365 closed

[2019-06-13 22:30] kclowes commented on #1273
@njgheorghita can this be closed?

[2019-06-14 16:29] #1273 closed

[2019-06-20 16:00] araa47 opened #1371 "SoliditySha3 mismatch"
* Version: 4.9.2
* Python: 3.7.3
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

Difference in Solidity web3 hash between ether utils and web3 python.

Js
[code]
Input :[0x08275b3d56e853a532b5e6bd01b219a768b9ccc17a1247409c3521dc0c495449,0,0,0xa6D3325EDDCF02BFEd06408F44444e6fA0Bc824e,10000000000000,0xa6D3325EDDCF02BFEd06408F444

[2019-06-21 02:06] araa47 commented on #1371
Hey guys, the solution is in python to use w3.toInt(hexstr=item) instead of int(item, 16)

[2019-06-21 02:06] #1371 closed

[2019-06-21 11:50] Bumerang47 commented on #1257
@Fierozen thank it helped me.
I work with test contract and use web3py and run solc in console through docker.
For use this solution i ran next comand:
[code]
with next input.json:
[code]
and use bytecode with abi from result

[2019-06-25 16:40] pipermerriam opened #1373 "Contract extensions API"
### What was wrong?

The `py-ethpm` library currently has to use a subclass of the `Contract` class to achieve some of the desired functionality (`LinkableContract`).

This approach isn't friendly towards any other code which also needs to extend the contract class in some way.

### How can it be fixed?

Currently using the name "Contract Extensions".

A contract extension would be a class.  Proba

[2019-06-26 10:28] yrdeboer opened #1375 "Error in installation (fresh venv): Cannot import name `scrypt`"
* Version: 4.9.2
* Python: 3.6
* OS: Ubuntu 16.04 LTS (Linux 4.18.0-21-generic #22-Ubuntu SMP Wed May 15 13:13:21 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux)
* `pip freeze` output

[code]

### What was wrong?

I carefully followed the instructions here: https://web3py.readthedocs.io/en/stable/troubleshooting.html#setup-environment

Then I try to import web3, and I get an error:

[code]

There is anot

[2019-06-26 13:29] #1375 closed

[2019-06-26 13:30] yrdeboer commented on #1375
Finally, (not sure how I did it), I got it to run.
Because I am not sure whether it had something to do with my PYTHONPATH, I will close the issue.

[2019-07-05 02:41] tycooperaow opened #1377 "ModuleNotFoundError: No module named 'Crypto'"
* Version: latest
* Python: 3.7.0
* OS: win
* `pip freeze` output

### What was wrong?
I consistently receive this error with my dapp regardless that I have web3 and pycryptodome installed on my computer and virtual environment.

[code]

Please include any of the following that are applicable:

* The code which produced the error
The code occurs in my routes file when I am importing web3 then onwa

[2019-07-06 02:28] tycooperaow commented on #1377
I have solved it!

The folders in the crypto site packages were all lowercase and python is case sensitive! Changing 'crypto' to 'Crypto' and along with all of the other sub-folders in 'Crypto' worked!

[2019-07-06 02:28] #1377 closed

[2019-07-08 18:28] carver commented on #1208
Also see https://github.com/ethereum/trinity/issues/754

[2019-07-11 19:53] #1330 closed

[2019-07-11 20:14] #1358 closed

[2019-07-11 20:14] #1357 closed

[2019-07-11 20:15] #1341 closed

[2019-07-15 17:27] kclowes opened #1387 "Return an int from eth.chainId instead of hex"
# What was wrong?
The eth_chainId method is implemented, but currently it returns the hex-encoded ID. An int would be nicer.

### How can it be fixed?
There is a `to_integer_if_hex` function that can be used in the middleware to format the result

[2019-07-15 20:08] kclowes opened #1388 "Docs should show checksummed addresses"
### What was wrong?
As pointed out [here](https://github.com/ethereum/web3.py/pull/1384#issuecomment-511522479), docs should show the checksummed version of the address so that examples can be used easier.

### How can it be fixed?

Go through the docs and replace any addresses that aren't checksummed with the checksummed version.

[2019-07-15 20:10] #1367 closed

[2019-07-15 20:12] #1349 closed

[2019-07-17 05:49] crawfordleeds commented on #1388
I've started this so feel free to assign me. Should have a PR within a few days.

[2019-07-18 08:11] locpv-ibl opened #1391 "Building wheel for lru-dict (setup.py) ... error"
* Version: x.x.x
* Python: 3.6
* OS: Unbuntu
* `pip freeze` output

[code]

### What was wrong?
Got error when install web3 via `sudo pip install web3`
[code]

[2019-07-18 16:44] kclowes commented on #1391
What happens if you try running the command in a fresh environment?

[2019-07-22 12:53] filips123 commented on #1391
You probably need to install APT package `python3-dev`.

[2019-07-22 13:00] filips123 commented on #1078
@carver Shouldn't ENS class also detect current network and use correct registry's address by default? This is already used in Web3.js.

[2019-07-22 14:02] filips123 opened #1397 "Doesn't support content hash (EIP1577) for ENS domains"
* Version: 4.9.2
* Python: 3.7
* OS: win

### What was wrong?

There is no way to get a content record of ENS domain.

Based on the source code, I should be able to get the content record with `ns.resolve('domain.eth', 'content')`. This is because there are two types of records. One is `addr` which is already aliased to `address` methods and other is `content` which currently doesn't have any alia

[2019-07-24 16:02] agatsoh commented on #518
Any news on whether someone is assigned on this issue or working on it !!!

[2019-07-24 20:17] crawfordleeds opened #1399 "Not Receiving Deprecation Notice for Web3.soliditySha3() method"
* Version: 5.0.0b4
* Python: 3.7.4
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

When I use the soliditySha3 method, per the docs in [overview.rst](https://github.com/ethereum/web3.py/blob/master/docs/overview.rst), I am not receiving a console warning indicating deprecation. The warning appears as expected with the Web3.sha3() method.

Here's what my console looks like in pycharm:

[2019-07-25 11:22] SaiTejaMakani commented on #778
Hello, I am Struck at miner.start() after nothing is mining not sure whether I am mining or not. I tried below command and looks like it is importing all the blocks from test net(I am trying to test this I am a newbie)

geth --rpc --rpcapi web3,eth,personal,miner

1. Could you please explain what the above command will do in detail?
2. after running miner.start() my screen only shows the below lin

[2019-07-25 11:50] SaiTejaMakani commented on #778
Update: seems like I have mined one block after computing for straight 14 hrs with two nodes.

web3.fromWei(web3.eth.getBalance(web3.eth.accounts[0]))
5

[2019-07-29 16:38] kclowes commented on #1399
@crawfordleeds see #1140 for the explanation on what's happening. I also just made a PR to have the deprecation warnings show because I think it's more confusing that one warning shows and one does not.

[2019-07-29 19:21] tsudmi opened #1402 "eth_subscribe and eth_unsubscribe support"
Hi,

Are there any plans on implementing `eth_subscribe/eth_unsubscribe` RPC calls similarly how it's done in [web3js](https://web3js.readthedocs.io/en/v1.2.0/web3-eth-subscribe.html#web3-eth-subscribe)?

`eth_getFilterChanges` consumes a lot of traffic as you need to always poll the node for the changes. With `eth_subscribe` node will push the updates upon arrival.

[2019-07-30 01:24] crawfordleeds commented on #1399
@kclowes thanks and sorry I wasn't aware of issue #1140. Seems it's all been handled there and through your PR.

[2019-07-30 01:24] #1399 closed

[2019-07-31 22:37] kclowes opened #1407 "enode address library"
Random idea: We end up wanting to talk about enode addresses in web3.py, trinity, and the devp2p sub-project in trinity as well.  Assuming that plugins become a thing in trinity, we'll want enode address information in 3rd party plugins as well as if we implement PSS or SHH protocols as trinity plugins.  Maybe we should have a small `enode` library that implements some basic primatives for working

[2019-08-01 16:00] kclowes opened #1408 "Fix Flaky Parity Shh Module integration tests"
### What was wrong?

Two intermittent test failures have popped up in the parity shh module.
`tests/integration/parity/test_parity_ipc.py::TestParityShhModuleTest::test_shh_remove_filter`
`tests/integration/parity/test_parity_ipc.py::TestParityShhModuleTest::test_shh_post`

See [this circle run](https://circleci.com/gh/ethereum/web3.py/70708) for the full output.

### How can it be fixed?
Looking

[2019-08-01 16:30] #1388 closed

[2019-08-01 16:30] #1387 closed

[2019-08-01 16:31] #1351 closed

[2019-08-01 16:33] kclowes commented on #1402
We do not have any plans yet, but will leave this ticket open to indicate that there is interest!

[2019-08-01 16:35] kclowes commented on #1313
Closing, but feel free to reopen if you still need support!

[2019-08-01 16:35] #1313 closed

[2019-08-04 21:11] ankitchiplunkar opened #1409 "Cannot decode tuple types"
* Version: 5.0.0
* Python: 3.6.8
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
[code]
contract abi available here: https://etherscan.io/address/0xD4B6cd147ad8A0D5376b6FDBa85fE8128C6f0686#code

* The full output of the error
[code]

### How can it be fixed?

[2019-08-05 06:30] enderphan94 commented on #879
@77aq same issue with me, I'm using MAIAN and it uses this module. Now it got removed.. hell we can do that? :D

[2019-08-05 15:48] pipermerriam commented on #879
What is MAIAN?

[2019-08-05 15:50] pipermerriam commented on #879
@enderphan94 and @77aq my guess is that you'll need to pin `web3` to a version in the `v4` range prior to when this was removed.

Try `pip install "web3>=4,<5"` and see if that fixes your problem

[2019-08-05 17:23] carver commented on #879
lol, `KeepAliveRPCProvider` isn't even used in the module, just imported.

[2019-08-05 20:54] #1409 closed

[2019-08-06 03:20] enderphan94 commented on #879
@pipermerriam  does not work :), no luck

[2019-08-07 08:57] palango opened #1412 "Missing ValidationError when calling bytes argument with string value"
* Version: 5.0.0
* Python: 3.7
* OS: linux/travis
* `pip freeze` output

See https://travis-ci.org/palango/raiden-contracts/builds/568742398#L398

### What was wrong?

I updated the web3.py, eth-tester and further dependencies in a PR of the raiden contracts: https://github.com/raiden-network/raiden-contracts/pull/1153

So far everything looks good, but I get on test failure that looks like a regr

[2019-08-07 15:25] pipermerriam commented on #1412
It looks like the offending code is here:

https://github.com/ethereum/web3.py/blob/b899050df8614db1d5ec339a920a7aa6b570fa99/web3/_utils/abi.py#L149-L157

If the value is text and can be decoded as hex it gets accepted.

My initial thought is that we should **only** accept `"0x" prefixed hex values.  This is complicated since we can't exactly make that change since it would be backwards incompatib

[2019-08-07 19:47] kclowes opened #1413 "Web3 Async API Tracking Issue"
Copy/paste from #1161, but with checkboxes and slightly more granularity. These will likely become their own issues.

- [x] Replace api methods with instances of a Method class, with a middleware like layer for formatting/normalizing/validating method input/output.

- [ ] Reduce middlewares to only those that make calls to the web3 api, moving the formatting middlewares to the Method input/output

[2019-08-07 21:54] carver commented on #1412
~~Yeah, the short-medium term answer is this ^.  Bytes parameters will interpret strings as hex, as Piper pointed out.~~

~~On first look, I think I'm good with requiring an `0x` prefix in order to interpret a string as hex, but we couldn't make that change until v6, even for the empty string. So it just belongs in the v5 migration docs.~~

Nope, this is a straight-up bug. Only a 64-character hex-

[2019-08-07 22:33] kclowes commented on #1412
Thanks @carver! @pipermerriam and I also talked about having a flag (similar to the `enable_unstable_package_management_api` flag) that enables stricter checking so that we can throw an error for the empty string case in v5 for people who opt-in without a breaking change.

[2019-08-07 22:45] carver commented on #1412
Yeah, that seems fine to me.

But even without the flag, the `ValidationError` from OP should be raised. :+1:

[2019-08-08 06:53] cmaliwal opened #1414 "Public address received from public key is not the same as real address"
- web3==5.0.0
- python 3.6

[code]

[code]

The address should be: `0xA2F0E9A572b111E2b2D25E359E08c5b9A37CD0E5`

[2019-08-08 12:16] #1414 closed

[2019-08-09 16:16] kclowes opened #1416 "v6 Breaking Changes"
Now that v5 stable is out, it's time to start collecting a list of breaking changes that we might like to see in v6. I'll update this issue as they come up.

Outstanding breaking tasks:
- [x] Python 3.11 Support - #2699
- [x] Remove Infura auto provider logic from within web3 ~~and make a template for new auto providers to use. See issue https://github.com/ethereum/web3.py/issues/1736~~ (#2706)
-

[2019-08-12 10:38] dee16pak commented on #879
https://github.com/cryptomental/maian-augur-ci/blob/master/Dockerfile
Try versions giver in Dockerfile. It worked for me except the gui-maian.py

[2019-08-13 20:33] cygnusv commented on #1293
There's an inconsistency in the docs wrt `w3.eth.chainId`. They say it returns an [integer value](https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Eth.chainId), but in fact it just returns the original hex string defined by [EIP-695](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-695.md#abstract)

[2019-08-13 22:07] carver commented on #1293
Ah, sounds like a bug.

[2019-08-13 22:14] cygnusv commented on #1293
My bad! It seems you guys already fixed this in the last release.
https://github.com/ethereum/web3.py/issues/1387

[2019-08-13 22:25] carver commented on #1293
Great! I'll close this issue, then.

@kclowes IIRC, this already happened, right? ^

[2019-08-13 22:25] #1293 closed

[2019-08-14 16:24] kclowes commented on #1293
@carver Unless I'm missing something (very possible), I don't think we've added chainId to the middleware and transaction builder yet. I'll open a new issue with a better title though so it's less confusing.

[2019-08-14 17:31] carver commented on #1293
Ok sounds good, thanks!

[2019-08-14 22:50] kclowes opened #1420 "Add ChainId to local transaction signing and transaction builder middleware"
### What was wrong?

Now that Geth and Parity support chainId, we should add it to our local transaction signing and transaction builder middleware. See comment on #1293

[2019-08-15 19:08] BlackTurtle123 opened #1421 "eth.getTransactionReceipt return a error instead null when transaction not in blockchain"
* Version: 5.0.0
* Python: 3.6
* OS: linux

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

`signed_txn = self._web3_proxy.eth.account.signTransaction(txn_dict, address.privateKey.hex())
                transaction = self._web3_proxy.eth.sendRawTransaction(signed_txn.rawTransaction)
                print(str(signed_txn))

[2019-08-15 21:23] pipermerriam commented on #1421
The documentation you are linking to is the Javascript library `web3js`

That said, it appears that our documentation is out of date as it also says that it returns `None`.

https://web3py.readthedocs.io/en/stable/web3.eth.html

[2019-08-19 15:54] avatar-lavventura opened #1422 "AttributeError: 'Web3' object has no attribute 'middleware_stack'"
* Version: 5.0.1
* Python: 3.6.3
* OS: linux

Following code was working on `web3==4.9.2`, which does not work for the `web3==5.0.1`. I am getting following error:

[code]

---------

[code]

[2019-08-19 16:01] avatar-lavventura commented on #1422
[Web3.middleware_onion.add(middleware, name=None)][1]

Replacing `web3.middleware_stack.inject(geth_poa_middleware, layer=0)` with `web3.middleware_onion.inject(geth_poa_middleware, layer=0)` fixed the problem.

  [1]: https://web3py.readthedocs.io/en/stable/middleware.html#Web3.middleware_onion.add

[2019-08-19 16:01] #1422 closed

[2019-08-19 17:48] pipermerriam opened #1423 "`ens.utils.dict_copy` only operates on keyword arguments"
### What was wrong?

There is a `dict_copy` decorator used in the `ens` module.  It is intended to allow us to write methods like this:

[code]

Normally using a mutable value like a dictionary as a default argument is problematic because the same mutable object is used across each call.  This decorator institutes a `copy` of this, but **only** if it is passed as a keyword argument.

There are at

[2019-08-19 18:25] Patil2099 commented on #1423
Can I work on it? @pipermerriam?

[2019-08-19 18:26] pipermerriam commented on #1423
@Patil2099 :+1:

[2019-08-20 14:23] avatar-lavventura opened #1424 "ShhFilter: ValueError: {'code': -32000, 'message': 'filter not found'}"
* Version: 5.0.1
* Python: 3.6.3
* OS: linux

For `web3.py==v5.0.1`:

`web3.geth.shh.newMessageFilter` used to return the `filter` on `v4.x.x` but now it only returns the `filter_id`, so I received the filter object using `w3.eth.filter(filter_id='0x')`.

The approach on the following code was working on `web3==v4.x.x`, but now I receive following error: `shh: ValueError: {'code': -32000, 'message

[2019-08-20 20:58] kclowes commented on #1424
@avatar-lavventura I noticed you're using `web3.eth.filter` instead of `web3.geth.shh.newMessageFilter`, and similarly `event_filter.get_new_entries()` instead of `web3.geth.shh.getMessages`. Does using the `web3.geth.shh...` methods find the filter?

[2019-08-21 09:35] avatar-lavventura commented on #1424
I was able to fix the problem by changing:

`for event in event_filter.get_new_entries():` =>
`for event in w3.geth.shh.getMessages(filter_id):`

---

[code]

[2019-08-21 16:03] kclowes commented on #1424
That's great! Thanks for the update.

[2019-08-21 16:03] #1424 closed

[2019-08-22 03:20] kclowes opened #1429 "Add Snake Case Methods for JSON-RPC calls"
### What was wrong?
We'd like to start using pythonic snake_case names for all JSON-RPC methods. The pattern has been laid out in the Geth admin module.

### How can it be fixed?
Add deprecation warnings, new snake case methods, and tests for all other modules. Ideally, each module would be its own PR.

- [x] Eth
- [x] GethShh
- [x] GethPersonal
- [x] GethTxPool
- [x] GethMiner
- [x] Net
- [x] Par

[2019-08-22 16:27] Patil2099 commented on #1429
@kclowes Can You Explain it a bit more? I want to work on this issue!

[2019-08-22 16:37] pipermerriam commented on #1429
@Patil2099 see this PR https://github.com/ethereum/web3.py/pull/1326 which implements this in the geth admin module.  You would follow the same pattern for the listed modules in this issue.

[2019-08-22 16:47] Patil2099 commented on #1429
Thanks 😊

On Aug 22, 2019 10:07 PM, Piper Merriam <notifications@github.com> wrote:

@Patil2099<https://github.com/Patil2099> see this PR #1326<https://github.com/ethereum/web3.py/pull/1326> which implements this in the geth admin module. You would follow the same pattern for the listed modules in this issue.

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2019-08-23 04:53] Patil2099 commented on #1429
@kclowes  I will start working on it.

[2019-08-23 05:26] Patil2099 commented on #1429
@kclowes Do I have to do it like this?

[2019-08-23 15:37] kclowes commented on #1429
I'm not sure what you mean. Can you explain a little more?

We would prefer that you follow the implementation laid out in #1326, but we're open to hearing other ideas!

[2019-08-23 18:05] #1084 closed

[2019-08-24 16:11] BeOleg commented on #751
Same issue, comment below dows not help @Netherdrake

Thanks!

[2019-08-26 08:51] MatthiasLohr commented on #964
Is there any official documentation, about how to provide the values for several types?

It could help to add some documentation in the Web3 libraries (JS, Python, ...) to provide examples on how to encode specific Ethereum types in these languages/libraries.

[2019-08-26 11:44] MunimShabir opened #1434 "AttributeError: 'ConstantinopleState' object has no attribute 'execute_transaction'"
* Version: x.x.x
* Python: 3.6.8
* Ubuntu 16
* `pip freeze` output

[code]

I am trying to deploy smartcontract on python. Everything goes nice except when I call the getter function of smart contract, it throws an error. It replaced the main.py in py-eth already and it solved all initial errors.

import json
from web3 import Web3, HTTPProvider
from solc import compile_standard
w3 = Web3(Web3.HTTP

[2019-08-27 03:39] m3ngyang opened #1435 "waitForTransactionReceipt may cause Too Many Requests error"
* Version: v5.0.0
* Python: 3.6
* OS: linux
* `pip freeze` output

### What was wrong?

The following function to query transaction receipt periodically may cause error `requests.exceptions.HTTPError: 429 Client Error: Too Many Requests for xxx` under certain circumstance.

https://github.com/ethereum/web3.py/blob/53337c3f909084a9082ee9081f677165540f6a75/web3/eth.py#L257-L259

In fact, the dependi

[2019-08-27 06:16] MatthiasLohr commented on #964
Oh, that would have been good to have had this link yesterday. ;) So first: It seems to be somehow hard to find. I have seen this point "Conventions", but didn't take a deep look into it because it somehow felt far away from my problem.

Yesterday I tried to call a contract with web3py with error (something like) "found (str, bytes[]), need (address, bytes32). For me, at first place, it looked lik

[2019-08-28 05:32] MatthiasLohr commented on #964
Why not just "Types"? Conventions can be so much more (Coding Conventions, if you want to start to contribute, Naming Conventions for internal variables, ...). Just "Types" reflects, what the page currently contains.

[2019-08-28 07:40] MatthiasLohr opened #1439 "Event().createFilter() address argument_filters problem"
* Version: 5.0.2
* Python: 3.7
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Filtering for address seems not to be working:

[code]

blocks forevery. But

[code]

gives `AttributeDict({'seller': '0xE3288441D0A41D3A6b99A250E3B43bA87c7601cD', ...`

Am I doing something wrong? How to submit addresses for the filter (lower/upper/checksum)?

[2019-08-28 09:08] MatthiasLohr commented on #1439
Found one solution: It works, if the lowercase address is used:
[code]

Is that the intended behavior? Can it please included in the docs?

[2019-08-29 07:24] MatthiasLohr commented on #964
Sounds good.

Would also be good to have a link in Smart Contract calling examples (how to convert your Python datatypes to Solidity types, see (e.g.) "ABI Type Conversion").

[2019-08-30 06:49] SyedMuhamadYasir commented on #711
carver can you help me out a bit ?

is there any way i can privately correspond with you, i need a bit of help with using this POA middleware

i would be grateful for a few minutes of your time @carver

[2019-08-30 20:27] natonamco opened #1441 "processReceipt() returns "Tried to read 96 bytes. Only got 68 bytes""
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output
[code]

### What was wrong?

I am trying to obtain event logs of the MakerDAO Tub Contract (Contract 1 etherscan) using getTransactionReceipt() and processReceipt(). The problem seems to be in LogNote() events, because all the other events work. Here is the code:

[code]

The output is the following:

[code]

[2019-09-04 08:10] Pet3ris opened #1442 "Cannot create `newAccount` using new `geth` API"
* Version: 5.0.2
* Python: 3.6
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Running `self.web3.geth.personal.newAccount(<passphrase>)` on a new Geth dev instance doesn't work.

Geth launched with:

[code]

The error:

[code]

### How can it be fixed?

I'm looking either for guidance on how I'm applying the new API wrong (because this code used to work with the personal API pre Web

[2019-09-04 08:10] Pet3ris commented on #1442
[StackOverflow thread](https://ethereum.stackexchange.com/questions/74567/creating-new-accounts-using-web3).

[2019-09-04 10:07] SyedMuhamadYasir commented on #711
easy solution **RIGHT HERE**;

Import your required libraries
`from web3 import Web3, HTTPProvider`

Intialize your infura node in a variable
`w3 = Web3(Web3.HTTPProvider("https://rinkeby.infura.io/v3/YOUR_INFURA_KEY"))`

aand.. the most **SIMPLE** part, which TOOK OVER THREE WEEKS to figure out because the documentation is absolutely horrenous ;

inject the damn middle-ware in the variable holdin

[2019-09-04 14:54] pipermerriam commented on #711
Looks like a great section of code to contribute to the documentation as a sort of "guide"

[2019-09-04 14:58] SyedMuhamadYasir commented on #711
can you please guide me how to do this ?

[2019-09-04 15:11] pipermerriam commented on #711
cc @cburgdorf and/or @kclowes

For now I think https://github.com/ethereum/web3.py/blob/4a98f1a60ca24366fca7b33ddb226c62d679b015/docs/examples.rst would be the appropriate file to add it to, but I think @cburgdorf has some ideas on adding a *"Guides"* section to the docs which would potentially be a more appropriate long term place for this to live.

To contribute this guide you'd open a pull requ

[2019-09-04 15:27] SyedMuhamadYasir commented on #711
ok, thank you so much for your guidance.

So... i'm a bit new to using Version Control and Github, in general. so before your message, i created a pull request to quickstart.rst

and i later read your comment and now i have submitted a pull request to examples.rst

how do i inform the owners of the repo regarding this small mistake?

[2019-09-04 15:30] kclowes commented on #711
@SyedMuhamadYasir There should be a button at the bottom of the pull request that says "Close pull request". You can just close the one that is wrong. Thanks!

[2019-09-04 15:32] SyedMuhamadYasir commented on #711
thank you !

please do take a look at the valid pull request and suggest any additions if you deem it neccessary

[2019-09-04 15:54] kclowes commented on #1442
@Pet3ris if you run `w3.isConnected()` do you get a `True` response? It looks like maybe you're not connected

[2019-09-04 16:51] carver commented on #711
Something that contributed to the difficulty here was using the v5 docs while the installed version of web3.py was v4. So that seems like a whole separate thing to address in the docs: helping people choose the right doc version to read.

[2019-09-04 17:32] Pet3ris commented on #1442
Hi @kclowes, unfortunately it's connected :(. Other transactions (e.g., deploying contracts, making calls to contracts) go through.

The problem was that `geth` dev instance has only one account pre-allocated in `web3.eth.accounts`, so my goal is simply to create a couple more and also replicate this across other evm clients.

[2019-09-04 19:02] kclowes commented on #1442
Yep, that makes sense to me.

It doesn't make sense to me that other transactions go through but the personal endpoints aren't working. I started up geth with the command you listed above, and am able to create new accounts via `w3.geth.personal.newAccount()`. I saw the error once, right on startup, but as soon as geth got going, it worked. I assume you're able to consistently replicate even if th

[2019-09-05 08:53] Pet3ris commented on #1442
@kclowes it indeed was a timing issue. Thanks a lot for the help.

Any thoughts on how to do the same for `parity`?

[2019-09-05 16:47] kclowes commented on #1442
You should be able to use the same method: `w3.parity.personal.newAccount(<passphrase>)`, but you do need to enable the personal API on your node: https://wiki.parity.io/JSONRPC.html#enabled-apis-default

[2019-09-05 17:43] kclowes commented on #1441
Hmm, I think this is a bug. Assuming you have the error flag set as the default `WARN` option, `InsufficientDataBytes` should get caught with the other errors. Thanks for the report!

[2019-09-05 20:23] kclowes commented on #1439
Sorry, I lost track of this @MatthiasLohr. I don't think that's intended behavior, but I'll look into it soon.

[2019-09-06 02:26] tyyen opened #1448 "rlp: non-canonical integer (leading zero bytes) for *big.Int, decoding into (types.Transaction)(types.txdata).R"
* Version: 1.8.11-stable
* Go Version: go1.10
* Python: 3.6
* OS: linux

[code]

I form the raw transaction and send it. Most of the times it succeeds, but sometime it shows this error. It seems that the problem is the transaction signature in which R is 0x0003....
Sorry that the raw transaction hex string including signature is lost. I only remember that the signature R starts with 0x0003.... and

[2019-09-06 19:50] kclowes commented on #1448
Any chance you can send a code snippet that reproduces the error, even if it doesn't happen every time?

[2019-09-08 17:08] MatthiasLohr commented on #1439
That would be great, thanks.

[2019-09-09 09:25] tyyen commented on #1448
The error happened when

- the private key is: 0x3A5703FD7C90E76E3EA34D08B0EC102E50EB97BE7AFA508CEDD7B7CC8B1FC6BB

- the transaction is as below

[code]

I use RLP, keccak hash and ecc signature of nodejs package to make ethereum raw transaction
[code]
And the running result is
[code]

Then use web3.py to sendRawTransaction
[code]

Error happened
[code]

It seems that it's due to the leading zeros

[2019-09-10 18:59] fab-spring opened #1449 "Websocket timeout isn't working properly"
* Version: 5.0.5b
* Python: 3.7
* OS: osx

### What was wrong?
[code]

The commands above hangs. It appears that it doesn't timeout properly.

[2019-09-18 02:38] ShreySatapara commented on #1061
The function name is always myEvent()

Or it changes as per the functions of your contract because in both the cases I'm getting error that MismatchedABI

[2019-09-18 03:11] m3ngyang commented on #1435
If you have install web3 and met the same problem, you could find installed `web3.py/web3/_utils/transactions.py` and modify the `poll_latency` to a larger value as a workaround.

[2019-09-18 07:55] gohuygo commented on #1449
@kclowes I addressed this issue in https://github.com/ethereum/web3.py/pull/1452. Please take a look.

[2019-09-18 08:57] voith commented on #1449
@fab-spring will it be possible for you to provide `WS_URL_THAT_DOESNT_WORK` or at least the format of the URL? refer https://github.com/ethereum/web3.py/pull/1452#issuecomment-532589911

[2019-09-19 19:14] kclowes opened #1455 "Move ExactLengthBytesEncoder to eth-abi"
* Version: 5.x

### What was wrong?
In order to support ABI encoding of bytes types of a specific length, a new encoder class had to be added. This class really belongs in the eth-abi library but was placed in web3 for the time being so that new eth-abi releases aren't needed for small changes. Once some time has passed, and we haven't seen issues raised with the API, it can be moved over.

### Ho

[2019-09-20 06:28] ravikant2986 opened #1456 "No module named 'cytoolz.itertoolz'"
Python: 3.6
Django: 2.3

I am trying to use this library in my Django project but it is giving me error "No module named 'cytoolz.itertoolz' " . Library is installed properly and working fine if I run file through shell.

Can you please tell me how to fix this issue to make it work with Django?

[2019-09-20 13:16] hunterpack commented on #1435
@m3ngyang I am making a request to 500 transactions, and am getting a 429 too many requests still after changing the poll latency ranging from .001 to 1200, I can't get the error to pass. Do you have any suggestions.

[2019-09-20 22:40] kclowes commented on #1412
Should be fixed in #1419, but note that if the stricter flag is enabled, it is no longer permitted to have bytestrings shorter than the specified byte length. Thanks for raising this @palango!

[2019-09-20 22:40] #1412 closed

[2019-09-22 21:06] dHonerkamp commented on #684
I'm afraid I couldn't find any reliable source on this. I tried to test it by listening to events for a few hours, but in no case could I encounter an event with said `removed` field.

Therefore my question: Is it known by now whether I can rely on the removed field to identify events that got lost in reorganisations? (And does this field even exist at all in the python implementation)

[2019-09-23 09:45] NateYan opened #1458 "websocket is not stable"
* Version: 5.0.2
* Python: 3.7.4
* OS: win
* `pip freeze` output
[code]

### What was wrong?
[code]
Error message:
Traceback (most recent call last):
  File "D:\defi\web3\uniswap.py", line 14, in <module>
    events = uniswap.events.NewExchange.createFilter(fromBlock = 8575500).get_all_entries()#8585567
  File "D:\defi\lib\site-packages\web3\_utils\decorators.py", line 16, in _wrapper
    return s

[2019-09-23 10:11] voith commented on #1458
You seem to be requesting all entries from block `8575500`. Infura barfs if you request a lot of data. I've had similar problems in the past and I solved them by requesting data in batches instead of getting them in one go.  In my case, I fetch data for 50 blocks at a time. You could do this by using a combination of `fromBlock` and `toBlock`  such that the requested blocks are not more than 50.

[2019-09-23 11:31] NateYan commented on #1458
Thanks!
Several days ago, it works when I use the method as you said. But now it does not work.

[2019-09-24 06:59] khssnv commented on #1458
I have an issue the same.

* web3py version: `5.0.2`

[code]

<details>
  <summary>$ pip freeze</summary>

[code]
</details>

<details>
  <summary>exec log</summary>

[code]
</details>

[2019-09-24 09:36] voith commented on #1458
from my past experience, I can tell that this happens because infura barfs occasionally. Try playing with any other websocket tool to check if infura still works fine. I usually use [wscat](https://www.npmjs.com/package/wscat) to test.
Here's an example to test filters on ifura using wscat: https://github.com/ethereum/web3.py/issues/1062#issuecomment-422166278
If infura works fine with any other w

[2019-09-25 04:04] tpmccallum commented on #660
Same here, was getting `ImportError: cannot import name 'decode_abi'` and `ImportError: cannot import name 'collapse_type'` so I uninstalled eth abi and web3 and then re-installed
`python3.6 -m pip install eth-abi --user`
then
`python3.6 -m pip install web3 --user`
in that order.

[2019-09-26 05:21] Patil2099 commented on #1429
@kclowes should I start working on other modules?
Now I have a good example to follow.

[2019-09-26 06:10] khssnv commented on #1458
I've used to test with `wscat` like `npx wscat -c wss://mainnet.infura.io/ws/v3/{myid}` and it opens connection while `.get_all_entries()` fails with `TimeoutError`.

[2019-09-26 18:39] kclowes commented on #1429
That would be great, thank you!

[2019-09-26 19:02] kclowes commented on #1458
@khssnv I am consistently getting events back using web3 via websockets when trying to replicate the original issue, do you have another snippet I can try? Maybe even this one:

[2019-09-26 23:37] cygnusv opened #1462 "Docs for web3.geth.personal.unlockAccount are incorrect wrt to duration parameter"
Current docs for `web3.geth.personal.unlockAccount` say: "If duration is None then the account will remain unlocked indefinitely."

However, from the documentation of Geth's `personal_unlockAccount` (see [here](https://github.com/ethereum/go-ethereum/wiki/Management-APIs#personal_unlockaccount)) and confirmation by inspection of go-ethereum code, it seems that in this case the behaviour is to unlo

[2019-09-27 14:55] arjunaskykok commented on #1434
@kclowes This is how you can reproduce the issue. I am not sure this is an issue with web3 v5 or eth-tester.

https://github.com/ethereum/eth-tester/issues/167

[2019-09-27 23:00] Jmjin opened #1463 "Support for Weighted Gas Price Strategy"
### What was wrong?

`construct_time_based_gas_price_strategy` is unable to handle cases when network suddenly requires higher gas prices due to many variables such as network congestion. This has resulted in more transactions to revert.

### How can it be fixed?

Currently `construct_time_based_gas_price_strategy` does not factor in weighting when looking over a sample of X number of blocks. If t

[2019-09-28 05:14] arjunaskykok commented on #1434
I found the thing that caused this issue. The execute_transaction is removed in a commit in py-evm project: ethereum/py-evm@1992368#diff-2d5d99f4dd8df9b29c7486b27678f9fb

The replacement is apply_transaction method. Fixing this issue is easy. Creating test is a little bit confusing.

By the way, the issue is in eth_tester project, not web3.py project. So I think this issue can be closed.

[2019-09-30 15:45] kclowes commented on #1434
Thanks for digging into this @arjunaskykok! Closing in favor of ethereum/eth-tester#167

[2019-09-30 15:45] #1434 closed

[2019-10-02 04:38] singenda commented on #557
i am having the same problem . can anyone help please

[2019-10-02 07:17] Leekyungun opened #1466 "Event().createFilter() doesn't work(w3.eth.filter)"
* Version: 5.0.2
* Python: 3.7
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
What is the reason for the error below?

[code]

[code]

### How can it be fixed?

[2019-10-02 11:10] cygnusv commented on #1462
Can this be closed?

[2019-10-02 15:24] kclowes commented on #557
@singenda do you have a code sample that reproduces the problem?

[2019-10-02 15:25] kclowes commented on #1462
Yep!

[2019-10-02 15:25] #1462 closed

[2019-10-03 14:28] pipermerriam commented on #1466
This is because infura doesn't support event filters.

Sent from ProtonMail mobile

-------- Original Message --------
On Oct 2, 2019, 1:17 AM, Leekyungun wrote:

[2019-10-03 16:45] pipermerriam commented on #1439
@MatthiasLohr what backend are you using?  geth node?  ganache?  I believe there was a bug in ganache for a while that didn't properly normalize checksummed addresses.

[2019-10-03 17:07] MatthiasLohr commented on #1439
I used the infura services, but no idea which client hey have.

[2019-10-03 17:12] pipermerriam commented on #1439
Seems whatever nodes they are using, they are not properly normalizing checksummed addresses.  I'm closing this as it isn't a web3.py bug.  Seems like lowercasing the address was a suitable workaround.

[2019-10-03 17:12] #1439 closed

[2019-10-04 00:49] Leekyungun commented on #1466
Thank you.
I'm designing with a WebSocket.

[2019-10-04 00:49] #1466 closed

[2019-10-05 02:29] smilegodly commented on #1429
I'd like to work on the GethPersonal module if that's ok ?

[2019-10-05 12:29] kclowes commented on #1429
@smilegodly that would be great, thanks! Let me know if you have any questions!

[2019-10-08 09:50] ayeteng opened #1469 "how can I set the enlarge the pool_connections and pool_maxsize for urllib3 in web3?"
* Version: 5.2.0
* Python: 3.6
* OS: osx

### What was wrong?
If I submit the transaction in multi-threading environment, I got the error message as below:

WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: localhost

I think it's because of the connection not released until I get the transaction receipt. So, is it possible to set larger the pool_connections and pool_m

[2019-10-08 17:12] smilegodly commented on #1429
@kclowes How can I individually run [these tests here](https://github.com/ethereum/web3.py/pull/1326/files#diff-9db648eb49912b137f56e9563f2011f2R7),  so that I can see if the Deprecation Warnings get raised?

At the moment , I've just been using ```tox``` to test on the whole build structure.. but I would like to be able to run just what I need to be running to see that the deprecation warning tes

[2019-10-09 06:25] kclowes commented on #1429
@smilegodly If you’re running the core tests, those use eth-tester and the skipped methods probably aren’t implemented in eth-tester. You might try running the integration tests. I think some of those are marked xfail, but the test should run and you may be able to check for a deprecation warning in the test anyway with a ‘with pytest.warns(DeprecationWarning, match=...)’. If that’s confusing I ca

[2019-10-17 02:27] luolixuan commented on #1061
@pipermerriam
I am wondering what is my_contract, is this under any library or you define it yourself?

[2019-10-17 14:13] voith commented on #1061
@ShreySatapara @luolixuan `my_contract` here is just a placeholder and should be replaced by the name of the smart contract deployed by you. The same holds true for `myEvent`. It is the name of the event in your smart contract that you're interested in.

[2019-10-17 16:16] kclowes commented on #1061
@ShreySatapara can you provide a sample please? It will be easier to see what exactly is going on

[2019-10-17 17:18] luolixuan commented on #1061
Thanks vioth. If I want to decode the log of a existing block on the chain, what should I do? I know the block number, the transaction hash...

[2019-10-17 17:35] voith commented on #1061
Could it be possible that you're trying to decode logs of an event that was not emitted by your smart contract? I'm not sure how `processReceipt(receipt)` handles errors in such a case.

@luolixuan Do you have the ABI of the smart contract whose logs you're trying to decode?
Btw, You can join the [gitter](https://gitter.im/ethereum/web3.py) channel of web3.py or you can ask a question on [ethereum

[2019-10-17 19:13] pipermerriam commented on #1061
@luolixuan take a look at this section of the documentation:

https://web3py.readthedocs.io/en/stable/contracts.html#web3.contract.ContractEvents.myEvent

[2019-10-22 15:29] pipermerriam commented on #1373
@kclowes I just realized that this *might* end up being part of your async support work.  We could probably model the `functions` and `events` APIs on the contract as extensions, which would naturally allow us to *swap* out the sync implementation for an async implementation of the `Contract.events` and `Contract.functions` APIs.  In theory we could model the majority of the contract APIs using th

[2019-10-24 20:49] kclowes commented on #1416
All custom web3 exceptions should inherit from Web3Exception. See #1478

[2019-10-24 22:18] kclowes commented on #1416
The eth-utils and web3 `apply_formatter_to_array` functions are slightly different. We should standardize on one or the other (probably the eth-utils version). The `apply_formatter_to_array` function in web3 converts the return value to an array and the eth-utils version does not.

[2019-10-25 02:47] ldub commented on #1086
Hey, is there any update on this? I was looking into `simple_cache_middleware` and had the same concern. Adding the `required_confirmations` argument makes sense.

[2019-10-25 17:35] carver commented on #1086
Thanks for the ping @ldub

cc @kclowes - are you up for taking a look?

[2019-10-25 17:40] kclowes commented on #1086
Yep, I can take a look!

[2019-10-25 17:58] ldub commented on #1086
One thing that came to mind with the `required_confirmations` argument: when using a  [`gas_strategy`](https://github.com/ethereum/web3.py/blob/master/web3/gas_strategies/time_based.py#L54) that queries the last 120 blocks for every tx sent by web3py, even a 5 or 10 block `required_confirmations` would end up in a lot of unnecessary requests. This  is also especially painful now that infura has qu

[2019-10-25 21:00] kclowes commented on #1086
Good point. That makes sense to me. @pipermerriam or @carver any thoughts?

[2019-10-26 18:06] pipermerriam commented on #1086
I think a confirmations based mechanism makes sense, however, if added directly to the cache muiddleware that would result in the Middleware not being usable for other non eth rpc methods. I think we can still implement something that does confirmation based conditional caching but we should try to find a way to do it such that it doesn't tie the middleware directly to the eth rpc methods.

Sent f

[2019-10-28 13:09] jschiarizzi opened #1481 "Make Quick Start in the docs easier to follow"
* Version: 5.2.2

### What was wrong?

The quick start is not quick enough. Several python developers I recommended it to were stuck on connecting a node. The quick start example requires users to look through docs elsewhere (bad user experience, most will quit at this step) in order to connect to a provider.

### How can it be fixed?

Adding a simple explanation to the quick start docs explaining

[2019-10-29 07:35] we4p0x opened #1485 "get_new_entries alaways return empty and get_all_entries raise exception"
* Version: 5.2.2
* Python: 3.6.8
* OS: linux

### What was wrong?

I use example code
https://web3py.readthedocs.io/en/latest/filters.html#examples-listening-for-events

[code]
*get_new_entries* returns *[]* and *get_all_entries* raise exception *ValueError: {'code': -32000, 'message': 'filter not found'}*

than I change to websocket

[code]

and error once again.

[code]

[2019-10-29 15:40] Wozacosta opened #1487 "Websocket connection issue"
Version: 5.2.2
Python: 3.6.8
OS: linux
Blockchain : Kaleido

### What was wrong?

When interacting with contracts via a websocket provider, after a couple of successful requests, we get this error :

[code]

The connection drops during the interaction as `web3.isConnected()` returns true before that interaction.

[2019-10-29 16:27] jpic commented on #1487
So, do you think reconnection can be done at this lib's level ? ie. try to reconnect, and raise an error only if reconnecting failed twice in a row maybe ?

[2019-10-29 22:27] kclowes commented on #1485
@we4p0x Infura doesn't support filters, which explains the error there. I will dig in a little bit more tomorrow on the geth side because I think there may be something going on with the `getFilterLogs` method. In the meantime you might try polling `w3.eth.getFilterChanges(filter_id)`. @pipermerriam do you have any ideas here?

[2019-10-29 22:31] pipermerriam commented on #1485
@kclowes infura definitely doesn't support filters over http, but it *might* support them over websockets but I'm not sure about that.

[2019-11-01 20:06] #722 closed

[2019-11-01 20:08] carver opened #1490 "Support for eth.getStorageAt with eth-tester"
### What was wrong?

`eth_getStorageAt` is unimplemented in eth-tester, and also in the web3.py adapter.

### How can it be fixed?

Add the endpoint to eth-tester, then add it to the web3 middleware. Should be straightforward.

This is obviously not the "right" way to do it, but for reference on where the info is, I hacked around the problem with:

[code]

[2019-11-02 19:17] jpic commented on #1487
For those who find this issue looking for a solution: we basically decorated our functions using web3py with tenacity. Not the best solution but unblocks the situation meanwhile core devs suggest an implementation that we can contribute.

[2019-11-04 02:14] brahma-sanbox opened #1491 "web3 installation error with build errors with cytoolz and wheels"
* Version: 5.2.2
* Python: 3.8
* OS: osx
* `pip freeze` output
fatal error: too many errors emitted, stopping now [-ferror-limit=]
    20 errors generated.
    error: command 'gcc' failed with exit status 1
[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting

[2019-11-04 02:59] brahma-sanbox commented on #1491
Well seems like updating xcode/gcc did the trick

[2019-11-04 02:59] #1491 closed

[2019-11-04 02:59] brahma-sanbox commented on #1491
Well seems like updating xcode/gcc did the trick

[2019-11-04 17:24] #1197 closed

[2019-11-07 21:32] kclowes commented on #1485
Oh you're right, Infura does support filters over websockets.

I was able to do some digging and I'm not sure why, but it looks like Geth, Parity, and Infura all return a `filter not found` error when a filter is set up using either the `pending` or `latest` arguments, and then `get_all_entries` is called. For example:

[code]
or
[code]
However, if you add a dictionary to the request with at least

[2019-11-07 21:32] #1485 closed

[2019-11-07 21:56] kclowes commented on #1416
Since `from` is a reserved word, change `from` to `sender` where appropriate.

[2019-11-08 10:19] CodeForcer opened #1496 "Web3 gives inconsistent function matching"
So I have a series of tests where I'm calling a smart contract with specific input, and checking for correct output. I'm using Web3 and Pytest

I'm using Genache deterministic local Blockchain, and Truffle migrations to bring up the Blockchain. This means that every time I run the tests the Blockchain AND input variables are exactly the same.

But about 10-30% of tests fails with a `Could not iden

[2019-11-08 15:32] pipermerriam commented on #1496
Can you provide us with the ABI for the contract you are trying to interact with and the exact function parameters that are being passed in when you get this error as well as the code you are using to invoke the function.  Basically a "minimal reproducible example" https://stackoverflow.com/help/minimal-reproducible-example

[2019-11-08 15:34] pipermerriam commented on #1496
BTW, it would be best if you provided these both as the values you expect to be using but also by adding a `try/except` in your code where this is being raised and then reporting `contract.abi` and the function arguments used for invocation at runtime.

[2019-11-13 01:32] CodeForcer commented on #1496
I've figured out the issue and fixed it, so I'm writing here incase any other developers stumble across the same problem.

The cause of the issue is the way that the Pytest library invokes functions during runtime, which wasn't playing nicely with the use of the `functools` package in Web3py.

I was generating some tokens for use in my smart contract like this:
[code]

The invocation of the functi

[2019-11-13 02:15] pipermerriam commented on #1496
Thanks for reporting back on this.  Glad you got it worked out.

You might consider using deterministic randomness in your test suite (`pytest-randomly` does this for you).  This can help considerably when diagnosing [heisenbugs](https://en.wikipedia.org/wiki/Heisenbug)

[2019-11-13 02:15] #1496 closed

[2019-11-13 21:24] kclowes opened #1500 "Infura websocket autoprovider throwing 401 without secret key"
* Version: v5 master

### What was wrong?
The upgrade to websockets v8 broke our Infura auto websocket provider. I'm not sure why it suddenly changed, and what it has to do with the websockets upgrade (maybe stricter URI handling?), but Infura returns a 401 when a request is issued without the secret key because the URI is malformed. I'm pretty sure this is also why we had to add a secret key to g

[2019-11-14 21:35] #1500 closed

[2019-11-14 22:37] kclowes commented on #1487
I ran into this yesterday when I was sent a malformed request via websocket, sometimes the websocket will just close. @Wozacosta or @jpic, are you seeing the exact same request go through after you reconnect? Or is the request somehow changing after reconnection?

[2019-11-14 22:42] kclowes commented on #1435
@hunterpack do you have a [minimal reproducable example](https://stackoverflow.com/help/minimal-reproducible-example) I can try out to help you troubleshoot?

[2019-11-14 22:43] #1408 closed

[2019-11-14 22:45] kclowes commented on #1391
I am assuming this is resolved with the last comment, but feel free to reopen if not!

[2019-11-14 22:45] #1391 closed

[2019-11-14 22:54] kclowes commented on #1177
Looks like this was merged long ago. Closing!

[2019-11-14 22:54] #1177 closed

[2019-11-14 22:55] #1208 closed

[2019-11-14 22:57] kclowes commented on #1236
Looks like this is complete! Thanks @charles-cooper!

[2019-11-14 22:57] #1236 closed

[2019-11-14 23:00] #1481 closed

[2019-11-14 23:20] kclowes commented on #1469
Sorry @ayeteng this was raised right at the beginning of Devcon and I missed it. Are you using the HTTPProvider? I'm not aware of a way to increase `pool_connections` or `pool_maxsize` in web3. I believe the urllib3 error is actually being bubbled up from the requests library and it looks like they don't do any requests that are non-blocking. @pipermerriam do you have any ideas here?

[2019-11-15 00:22] voith commented on #1487
@kclowes Can you give an example of a malformed request?

[2019-11-15 16:56] kclowes commented on #1487
For example, if I attach to a local geth node with wscat and send a request like: `{"jsonrpc":"2.0","method":"eth_chainId", params: []}` (notice params doesn't have quotes around it), I get immediately disconnected with a `1006` code. This is a pretty contrived example, and it does sound to me like implementing reconnection is probably the right way to go for this issue, but I wanted to make sure

[2019-11-15 17:32] voith commented on #1487
@kclowes What you're describing seems like a different issue from the one described in the title of this issue. My guess is that you got this error because you provided a malformed JSON to geth and geth failed to deserialize it giving `1006: Internal Error`(Although, it would be nice if geth could give a better error message ). However, In @jpic's case, it seems like the error is random and the re

[2019-11-15 20:29] kclowes commented on #1487
I know. It was a bad example. I can't remember the exact request I made where I saw the error. I was also using wscat rather than web3, which of course makes a difference. I was just surprised that a connection would just drop when it encountered certain errors, but not others. What I was getting at was trying to narrow down whether this was a problem with a request that led to the provider closin

[2019-11-17 02:39] jerryji opened #1508 "AttributeError: 'Contract' object has no attribute 'eventFilter'"
* Version: 5.3.0
* Python: 3.6.8
* OS: linux (Ubuntu 18.04)
* `pip freeze` output

[code]

### What was wrong?
[code]

when I run ```my_contract.eventFilter('TokenTransfer', {'filter': {'fromBlock': 0}})``` following the example in web3py latest doc https://web3py.readthedocs.io/en/latest/contracts.html#event-log-object

[code]

### How can it be fixed?

Please update doc with the correct example.

[2019-11-18 13:34] mallerkmike opened #1509 "Help!!!.. How to mine with cpu am getting errors"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

[2019-11-18 17:32] kclowes commented on #1509
@mallerkmike please help us help you by filling out the issue template

[2019-11-18 20:14] kclowes commented on #1508
Thanks for pointing this out @jerryji! In v5 we removed `my_contract.eventFilter` for `my_contract.events.<event_name>.createFilter()`. I can't link directly the the createFilter docs (which is another issue to address), but if you scroll down in [this section](https://web3py.readthedocs.io/en/latest/contracts.html#methods) you'll find the documentation, although it sounds like you've already seen

[2019-11-18 21:22] jerryji commented on #1508
As I tried to reproduce the issue today, all I got was --

`ValueError: {'code': -32601, 'message': 'The method eth_newFilter does not exist/is not available'}`

_with Infura's https:// endpoint._

As of now createFilter works fine with Infura's wss:// endpoint -- it could well be that I messed up with their websocket url on Sunday.

Thank you @kclowes for looking into this case. I look forward to

[2019-11-18 23:46] mallerkmike commented on #1509
jj

[2019-11-19 01:31] pipermerriam commented on #1509
@mallerkmike we'll happily reopen this and do what we can to help if you will please fill in the requested information in the issue.

[2019-11-19 01:31] #1509 closed

[2019-11-19 19:00] tsudmi opened #1514 "local_filter_middleware doesn't work with geth nodes"
Hi,

`get_filter_changes()` raises exception when used with `local_filter_middleware`.

[code]

* Version: 5.3.0
* Python: 3.7
* OS: linux
* Node type: geth
* Node version: 1.9.7-stable

[2019-11-19 20:59] kclowes commented on #1514
@tsudmi will you provide a [minimum reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) please? That will help troubleshoot exactly what is going on. Thanks!

[2019-11-19 21:33] tsudmi commented on #1514
Hi @kclowes ,

I run something like this:
[code]
The error occures quite randomly, but regularly.

[2019-11-20 00:45] pipermerriam commented on #1514
@kclowes it looks a lot like that `StopIteration` just needs to be caught and handled.  Without having looked at the code I suspect it will mean "no new logs" but I'm not confident in that diagnosis.

[2019-11-20 01:43] ayeteng opened #1516 "how can I get the account locked information via python web3?"
* Version: 5.2.2
* Python: 3.6
* OS: osx

There is a command personal.listWallets in geth cli to get the account locked/unlocked status such as below:

[code]

How can I get the similar account status from python web3 package or send the same command to fetch the information via python web3?

[2019-11-20 02:00] ayeteng commented on #1469
Thanks @kclowes ,
About this issue, because the DEFAULT_POOLSIZE is set to 10 in requests package, I'd like to check if possible to set the pool connection to 100 with following trick in web3 request connection.

import requests
sess = requests.Session()
adapter = requests.adapters.HTTPAdapter(pool_connections=100, pool_maxsize=100)
sess.mount('http://', adapter)
resp = sess.get("/mypage")

[2019-11-20 13:54] Lvzhou48 opened #1519 "Transfer records miss when using Eth_filter()"
* Version: 5.3.0
* Python: 3.7
* OS: win

### What was wrong?

`from web3.auto.infura import w3`
`filt = w3.eth.filter({'fromBlock': 8959976, 'toBlock': 8959976})`
`w3.eth.getFilterLogs(filt.filter_id)`

As a noob, I try to use filter like "filt = w3.eth.filter({'fromBlock': 8959976, 'toBlock': 8959976})" to get some ETH transactions from block "8959976", using func: "w3.eth.getFilterLogs(filt.fil

[2019-11-20 18:23] kclowes commented on #1516
I don't think there is a good way to get the account locked/unlocked status in this library, unfortunately. Probably the closest thing we have in web3py is [unlockAccount](https://web3py.readthedocs.io/en/stable/web3.geth.html#web3.geth.personal.unlockAccount). But you can always add a PR to add listWallets to our personal geth module. I'm happy to guide you through the process, or I'll get to as

[2019-11-20 18:52] kclowes commented on #1519
@Lvzhou48 it's because transfers outside of contracts don't have events associated with them. An event needs to be written into a contract in order to get logged. Let me know if that doesn't clear up your question!

[2019-11-20 18:52] #1519 closed

[2019-11-21 01:14] Lvzhou48 commented on #1519
@kclowes Thank you for your response! Here comes another question, what should I do if I want to get details of transfers outside of contracts? (maybe some other methods?)

[2019-11-21 17:27] kclowes commented on #1519
You could try the [getTransactionByBlock](https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Eth.getTransactionByBlock) method. What sort of data are you trying to see?

[2019-11-21 18:04] #1508 closed

[2019-11-21 18:29] kclowes commented on #1086
@pipermerriam did you have an API in mind? I had two ideas, but I think I like the second one better.

1) Add ability to pass in a dict with: {‘method_name’: required_confirmations}, and then also have a default `required_confirmations` that gets applied to the other methods, but is configurable.
or
2) Split out caching middleware so that we have one for methods like `eth_getBlockByHash`, and `eth

[2019-11-21 19:30] pipermerriam commented on #1086
Option 2 seems simpler.  I like it.

[2019-11-22 03:13] Lvzhou48 commented on #1519
@kclowes I want to see some transfer information(such as : From_address, To_address, value, etc.) outside of contracts, getting Eth transfers for certain exchanges and than make some analysis. I think the getTransactionByBlock method and the getBlockTransactionCount method can help me to solve this task, thank you for your answer!

[2019-11-22 20:36] kclowes opened #1522 "Update docs to reflect methods that raise errors in v5 instead of returning None"
* Version: 5.x

### What was wrong?
The docs weren't updated when we started returning a `TransactionNotFound` or `BlockNotFound` error instead of `None` for RPC methods that don't find a transaction.

### How can it be fixed?
Docs need to be checked and updated for the following methods:
https://web3py.readthedocs.io/en/stable/v5_migration.html#json-rpc-updates

[2019-11-23 02:23] jerryji opened #1523 "timeout when listening to events from Infura Ropsten websocket (works in web3.js though)"
* Version: 5.3.0
* Python: 3.6.8
* OS: Linux (Ubuntu 18.04)
* `pip freeze` output

[code]

### What was wrong?

Timeout when listening to events from Infura Ropsten via websocket, but the same implementation works in web3.js

The code can be found at  https://github.com/jerryji/ropsten_wss_timeout_demo.git  (instructions in README.md) --

[code]

### How can it be fixed?

IDK, why does the same im

[2019-11-23 09:22] pscott opened #1524 "Deprecated code example in docs"
Hi,
Was just reading the docs on [middleware](https://web3py.readthedocs.io/en/stable/middleware.html) and tried to follow along the code examples.
Found out this version is still using `w3.node.version` which is deprecated (`clientVersion` is the one it should be using).

Submitted a PR with fix, also modifying the `node.version` in other docs.

Thanks for your work! :)

[2019-11-24 12:25] ashish10677 commented on #1522
Hi. I want to try to contribute to this issue. Can you please assign it to me?

[2019-11-24 18:33] evandrix commented on #1289
`web3==3.16.1`, but dep:`ERROR: Package 'eth-hash' requires a different Python: 2.7.17 not in '>=3.5, <4'`

[2019-11-25 07:43] jerryji commented on #1402
As of Nov-2019, Infura keeps promoting eth_subscribe to an extreme extent that they are not trying to fix any other websocket issues for web3.py

Here's a week-long agonizing talk I had with them --

https://community.infura.io/t/ropsten-websocket-event-timeout-with-web3-py/1078

Given Infura's direction, could the discussion to support `eth_subscribe/eth_unsubscribe` be revived?

Thanks.

[2019-11-25 16:51] kclowes commented on #1522
Thanks @ashish10677! Let me know if you have questions!

[2019-11-25 17:02] kclowes commented on #1523
Thank you for such a detailed report @jerryji! I should be able to look into it next week, unless someone gets there ahead of me :)

[2019-11-25 17:30] ashish10677 commented on #1522
@kclowes I had a very silly doubt. In the documentation, these methods: https://web3py.readthedocs.io/en/stable/v5_migration.html#json-rpc-updates , only one of them has a return type of `None` mentioned. Do you want me to include the return type of `TransactionNotFound` or `BlockNotFound` in all?

[2019-11-25 17:33] kclowes commented on #1522
Yep, let's go ahead and include the return type for all of them.

[2019-11-25 17:33] #1524 closed

[2019-11-25 17:39] kclowes commented on #1289
@evandrix You may need to downgrade the `eth-hash` package, or it may be that web3 will work okay even with the error. Unfortunately, v3 is no longer supported. Can you upgrade to v4 or better yet, v5?

[2019-11-25 18:35] ashish10677 commented on #1522
@kclowes I have raised a pull request. I am very new to open source contributions. Please guide me if there are any mistakes that I can fix. I will be happy to do it.

[2019-12-02 21:27] kclowes opened #1534 "getUncleCount not documented"
* Version: 5.3

### What was wrong?
I noticed that we don't have documentation for `w3.eth.getUncleCount` method.

### How can it be fixed?
Following the pattern already laid out in the docs, add documentation about `getUncleCount`.

[2019-12-06 08:29] eugene-vasilev opened #1540 "Missed dependency when import web3: typing_extensions"
* Version: latest
* Python: 3.7
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

When I want to import web3, I catch the following error:

    from web3 import Web3
  File "/home/evasilev/Documents/Projects/pytests/venv/lib/python3.7/site-packages/web3/__init__.py", line 9, in <module>
    from web3.main import (
  File "/home/evasilev/Documents/Projects/pytests/venv/lib/python3.7/s

[2019-12-06 16:53] kclowes commented on #1540
Thank you for pointing this out! I will open a PR shortly!

[2019-12-06 17:03] pipermerriam commented on #1540
@kclowes we have some tests in trinity that actually build the wheel, install it, and then run some tests against it.  Maybe that type of thing would be useful here as it would catch this type of thing.

[2019-12-06 17:08] kclowes commented on #1540
That would be super useful. I'll check it out!

[2019-12-06 19:21] cheeseandcereal commented on #1540
Just as a thought, typing extensions should really never be required at runtime, so rather than simply adding typing_extensions as a requirement (which is ok for just a short-term solution), I would advocate for surrounding any usage of types with `if TYPE_CHECKING:`

Python type checking is only used to for static type checking, so it doesn't need to be required at runtime.

Taking a quick look,

[2019-12-06 21:41] kclowes commented on #1540
You're right, @cheeseandcereal, that seems like a better fix. This issue has the quick fix implemented in 5.4.0 by adding `typing_extensions` to the required packages, but I'm going to leave it open to add the `TYPE_CHECKING` check where it's missing. @njgheorghita do you have opinions?

[2019-12-09 10:01] anysoft commented on #1448
you can  see this issue https://github.com/MOACChain/moac-core/issues/24

[2019-12-09 13:33] njgheorghita commented on #1540
Yup, this is most likely my fault from all the type-stuff I've been doing. So there's `web3._utils.compat` which is an attempt to get around this. Basically there are three types `Literal`, `Protocol`, and `TypedDict` which are available in the standard `typing` module in `python>=3.8`. But, since `web3` is `python>=3.6` right now, I added the types in `web3._utils.compat` to try and mitigate any

[2019-12-09 15:16] cburgdorf commented on #1540
That's not exactly true though.

The `typing_extension` package aggregates features that might be added to the std lib `typing` namespace in a future upcoming version. E.g. it does host things like `Protocol` which you can use to implement protocols such as:

[code]

If I'm not mistaking I *think* this is added in Python 3.8 so that `Protocol` can directly be imported from `typing` in the same way

[2019-12-09 18:38] cheeseandcereal commented on #1540
@cburgdorf I agree that namedtuple would be an exception, but that's only because a namedtuple is a literal collections object type.

A python protocol should never need to be imported or defined at runtime in order to take advantage of it's typing features.
Take the following example, where we have a folder with `__init__.py`, `mytypes.py`, and `main.py`:

(__init__.py is empty)

mytypes.py
[code

[2019-12-09 18:49] cburgdorf commented on #1540
I think it depends. Protocols even allow to implement [default implementations](https://mypy.readthedocs.io/en/latest/protocols.html#defining-subprotocols-and-subclassing-protocols)

Also, you may want to check [`isinstance` against protocols at runtime](https://mypy.readthedocs.io/en/latest/protocols.html#using-isinstance-with-protocols).

I personally think it's a safer default to not treat `myp

[2019-12-09 18:54] cheeseandcereal commented on #1540
I suppose that is true. At least in that case, `mypy_extensions` should at least only be required on python < 3.8

[2019-12-10 04:06] ignition42 opened #1547 "Receipt formatter doesn't format 'from' and 'to' fields to checksum addresses"
### What was wrong?

Since `w3.eth.getTransaction()` returns the `from` and `to` as checksum addresses I was expecting the same behaviour for the receipt methods like `w3.eth.waitForTransactionReceipt()` or `w3.eth.getTransactionReceipt()`.

Basically the [receipt formatter](https://github.com/ethereum/web3.py/blob/v5.4.0/web3/_utils/method_formatters.py#L188) used [pythonic middleware](https://gi

[2019-12-11 07:38] xrn opened #1549 "Differentiation '0x' and NULL response"
* Version: 5.0.2
* Python: 3.7

### What was wrong?

I am not sure if I am correct but I think there is some issue which is very important for me. I am running Web3.py on Spark cluster where I am sending thousands of request to Node per second. I am using archive node to get states on different block number and this is why node sometime return timeout.

Following this 2 Geth issues:
https://github

[2019-12-12 12:24] amitsharma8891 opened #1550 "Unable to call contract functions"
* Version: 5.3.0
* Python: 3.7
* OS: osx

Trying to get the balance of address of this address : '0x3dE11FE8E6d0E20ff5CEA0BaA625939194Df2482'
`address = '0x3dE11FE8E6d0E20ff5CEA0BaA625939194Df2482'`
`balance = self.contract_address.functions.balanceOf(address).call()`

[code]
for this I am using infura ropston

I am trying to call the balanceOf function but it throws above-mentioned error. Can any

[2019-12-12 16:40] kclowes commented on #1550
Without a few more details, I can't tell what's going on here. `provider` should just be an object rather than a list. Can you show me how you are setting up your web3 instance? For example, it should look something like:
[code]
or
[code]
The other thing that stands out to me is the naming of `contract_address`. I think should be the contract instance, so it would also be helpful if you could show

[2019-12-12 17:52] kclowes commented on #1549
@xrn you're asking to see an error if `eth.call` times out, is that right? If that's the case, this request sounds reasonable to me!

[2019-12-12 17:55] xrn commented on #1549
Exactly - and error which will inform that timeout was faced

[2019-12-15 12:03] ushiwak opened #1553 "[Help!!]About Decentralized Optimization with Blockchains"
* Python: 3.7 (Anaconda3)
* OS: windows10
*Blockchain environment: Ganache
* `pip freeze` output

[code]

### What was wrong?

I am student studying blockchain and energy.

As a tutorial on research in this field,
http://ecomunsing.com/tutorial-controlling-ethereum-with-python
We are verifying.
In the environment at that time
Since connection of p blockchain and python is not done with web3, the c

[2019-12-16 06:03] amitsharma8891 commented on #1550
It was human error(url was wrong from my site), it's working as expected. Closing this issue. Sorry for the inconvenience.

[2019-12-16 06:03] #1550 closed

[2019-12-16 17:13] kclowes commented on #1553
You shouldn't need to `conn =` line. You should just be able to say `web3.eth.accounts[0]`. Let me know if that doesn't fix the issue.

[2019-12-17 07:18] ushiwak commented on #1553
thank you for your comment

Thanks to you, it moved safely! Thank you

[2019-12-17 07:18] #1553 closed

[2019-12-21 16:31] linerking commented on #730
I have the same problem, the filter created by the createFilter method returns an empty array, but the old version of eventFilter is no longer supported by the web3.py.
[code]
by the way, the simplest filter to select the latest block works well
anybody can help?

[2019-12-22 04:11] ackhia opened #1555 "Lacklustre performance using Websockets"
* Version: 5.4.0
* Python: 3.7
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

I wrote an API which utilises Web3.py but found the performance was slower than expected. I created the following two functionally equivalent (I believe) snippets, one using Web3.py and other using the Javascript Web3 library. They both time how long it takes to send 1000 transactions to my PoA blockchain

[2019-12-22 17:46] rajeev29five commented on #1547
I would like to work on this.

[2019-12-22 19:41] purplebitch opened #1556 "Broken w3.geth.txpool.content()"
### Expected behavior
`w3.geth.txpool.content()` returns a list of all full pending transactions

#### Actual behavior
When using `IPCProvider`, `w3.geth.txpool.content()` returns:
[code]

When using `WebsocketProvider`, `w3.geth.txpool.content()` returns:
[code]

#### Steps to reproduce the behavior

Just running in the terminal `python3 fileName` where `fileName` has the following code included:

[2019-12-22 19:41] purplebitch opened #1557 "getTransaction() not returning a known pending transaction"
#### Expected behavior
Calling `python3 fileName` where `fileName` includes the following code:

[code]
Should print a list of all pending transactions received in the last 3 seconds without any exceptions

#### Actual behavior
The above code instead prints the following:
[code]

#### Steps to reproduce the behavior

Run the above code

#### Versions
web3.py 5.4.0
ubuntu 18.04.3 LTS
python3.6.9
Ge

[2019-12-26 23:37] Arachnid opened #1560 "Contract event overloading breaks `hasattr`"
* Version: 5.0.0a6
* Python: 3.7
* OS: linux

### What was wrong?
Calling `hasattr` on a contract events object should return `True` or `False` as appropriate. Instead, it raises the following exception:

[code]

### How can it be fixed?

Fix the 'helpful' overloading of `__getattr__` to raise the exception expected by Python (preferable), or implement `__hasattr__`.

[2019-12-27 02:28] pipermerriam commented on #1560
:+1: to making `hasattr` work as expected.  Should be a pretty thing to fix.  It is possible we have a similar problem in `contract.functions`

[2020-01-01 08:49] ushiwak opened #1561 "How to transact two variable values?"
* Python: 3.7 (Anaconda 3, Using Jupyter notebook)
* OS: Windows10
* Samrtcontract is deproyed by REMIX
*Blockchain: Ganache

・I want to store x (and i) calculated in python in a smart contract, but I get such an error.
Please tell me how rewriting works
### Smartcontract
[code]
### python code
[code]
### Error message
[code]

### Supplementary information
This code refers to the following site fo

[2020-01-03 09:04] ashish10677 commented on #1547
@rajeev29five are you trying to fix this issue or can I also try?

[2020-01-03 10:18] rajeev29five commented on #1547
@ashish10677 I have already fixed the issue, just need to create a PR.

[2020-01-06 19:56] carver commented on #730
---

A good place to ask for help is https://ethereum.stackexchange.com/questions/tagged/web3.py -- or if no response there, then https://gitter.im/ethereum/web3.py

[2020-01-06 20:14] kclowes commented on #1561
@ushiwak it looks like the ABI requires calling `contract.functions.submitValue` with an `int256` and a `uint16`. In your code above you are calling the function with two string arguments. It looks like maybe you want to say `contract.functions.submitValue(x, i).transact()`. Closing because this is not a web3 issue, but feel free to reopen if I am mistaken!

[2020-01-06 20:14] #1561 closed

[2020-01-06 21:52] kclowes commented on #1556
I can't replicate this issue when attaching to a geth node locally. Are you still seeing this error?

[2020-01-06 23:42] kclowes commented on #1557
`getTransaction` is working as it was intended to, as far as I can tell. I think what's happening is that some transactions can't be processed, so they get moved out of the transaction pool, and then geth returns None for the result, which will raise the `TransactionNotFound` error via web3. [Here](https://github.com/ethereum/go-ethereum/blob/7a509b47321a28e36f437170a3cc5c283ee7909d/internal/ethap

[2020-01-06 23:42] #1557 closed

[2020-01-09 07:52] ushiwak commented on #1561
Dear kclowes,

I deeply thank you for your valuable comments and suggestions.
I have tried your methods, but it doesn't work correctly.
As you mentioned, now I think that my problem is not on web3 but solidity.
I will ask a solidity community the same question.

Sincerely,
ushiwak

[2020-01-13 17:01] kclowes opened #1566 "Support Solidity v0.6.x"
* Version: 5.x

### What was wrong?

Placeholder PR to check web3 support for Solidity v0.6. I'll fill in what needs to be done when I dig in, but if anyone knows something that needs to be changed, feel free to comment on this issue.

https://solidity.readthedocs.io/en/v0.6.1/060-breaking-changes.html

PR #1565 has already begun to address the new `receive` keyword.

[2020-01-15 19:36] #1547 closed

[2020-01-20 21:09] Pet3ris opened #1567 "`eth_getCode` gets initiated after `eth_call` fails"
* Version: 5.4.0
* Python: 3.7.5
* OS: OS X Catalina
* `pip freeze` output

Relevant libraries:

[code]

### What was wrong?

I'm using a custom `web3.py` provider and I've noticed that after a failed `eth_call` statement an `eth_getCode` rpc call is made immediately after. In particular the `eth_call` statement failed for a function with a `uint256` return value by returning `0x`. Just for clarif

[2020-01-20 22:25] kclowes commented on #1567
@Pet3ris I think this is the line that's making the call: https://github.com/ethereum/web3.py/blob/master/web3/contract.py#L1450 So behavior is expected after all. I am going to close, but feel free to reopen if you want to continue the conversation!

[2020-01-20 22:25] #1567 closed

[2020-01-21 09:04] Pet3ris commented on #1567
@kclowes - thanks, makes sense now !

[2020-01-21 23:22] pipermerriam commented on #1567
@kclowes something to keep an eye out for but nothing that needs to be acted on now.  Maybe there's a case where `eth_call` is supported but `eth_getCode` isn't...  In that case it would be ideal to be able to disable this follow up check.  It could be something as simple as an environment variable and/or a toggle-able property on the `eth` module.

[2020-01-22 16:56] kclowes commented on #1567
@pipermerriam Yeah, I like that. @Pet3ris, is that `getCode` call causing you problems?

[2020-01-22 17:54] Pet3ris commented on #1567
@kclowes not at all - in fact it actually helped me uncover a bug :).

I was simply wondering to understand whether my provider was triggering this call by accident cause it didn't make sense!

[2020-01-23 00:40] KaiRo-at opened #1569 "error creating filter for event with array arguments"
* Version: 5.4.0
* Python: 3.7
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

I'm trying to set up event filters for ERC 1155 transfer events (see https://eips.ethereum.org/EIPS/eip-1155#specification for the spec) with code like this (simplified):

[code]

This works for TransferSingle, but for TransferBatch it fails like this:

[code]

Now, TransferBatch is specified like this:

[2020-01-23 22:54] Swixx commented on #1560
@pipermerriam Are we looking to change `__getattr__` to raise an `AttributeError` [here](https://github.com/ethereum/web3.py/blob/cdf35dd44b64de5281900a341726c40e8f86377d/web3/contract.py#L237) and [here](https://github.com/ethereum/web3.py/blob/cdf35dd44b64de5281900a341726c40e8f86377d/web3/contract.py#L242), or do we want to implement `__hasattr__` by checking if some `event_name` exists in `self

[2020-01-23 22:56] Swixx commented on #1522
@kclowes Can this be closed because of #1527?

[2020-01-24 19:52] kclowes commented on #1522
@Swixx Yes! Thanks!

[2020-01-24 19:52] #1522 closed

[2020-01-29 17:06] kclowes opened #1572 "getBlockByHash and getBlockByNumber will return a block number if block is pending"
### What was wrong?
As of geth 1.9.11, `eth_getBlockByHash` and `eth_getBlockByNumber` will be returning a block number if the block is pending, instead of `null`. Older versions of geth were returning a number, but as of 1.9.7, geth returns `null` if the block is pending.

https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getblockbyhash

Context:
https://github.com/ethereum/go-ethereum/issues/20

[2020-01-31 21:08] pipermerriam commented on #1560
@Swixx sorry I missed your comment when it came through.

I believe we want to change `__getattr_` to raise an `AttributeError` (with the same exception messages).  It would be ideal if `hasattr` worked as expected too so if we need a custom implementation of that it could go alongside this fix.

[2020-01-31 21:11] pipermerriam commented on #1560
cc @kclowes I there is an argument to be made that this qualifies as a breaking change but also a bugfix.  Anyone with existing code catching these exception would end up with broken code.

We could:

1. tell ourselves it is ok because this is a bugfix (is it?)
2. make a new interum exception class that inherits from both `AttributeError` and the existing exception classes that are raised that wou

[2020-01-31 21:36] kclowes commented on #1560
Yeah, I'd lean toward option 2. I find it really frustrating when a library implements a breaking change on a minor or patch release, unless it definitely is a bug. And I'd argue that this is a functionality change, not a bug. We can add the removal of the interim exception class to the v6 tracking issue [here](https://github.com/ethereum/web3.py/issues/1416).

[2020-01-31 22:04] pipermerriam commented on #1560
@Swixx chime in if you'd like to take this on (or just open a PR :smile: )

[2020-02-05 18:17] kclowes opened #1575 "Plan to sunset v4 March 31"
* Version: 4.x

Since v5 has proven to be stable for a while now, and v4 and v5 have diverged a fair amount, it's time to start thinking about discontinuing support for v4. Unless we hear a compelling argument from anyone in the community, **March 31 will be the last day that we make any changes to the v4 branch**.

However, if you have a reason why you need to stay on v4, please let me know eithe

[2020-02-09 15:28] ashish10677 commented on #1429
Is this issue still open?

[2020-02-10 16:53] kclowes commented on #1429
@ashish10677 Yes it is! If you're going to work on one of the modules, please share which one here so we don't get two people working on the same thing! Thanks!

[2020-02-10 17:04] #1534 closed

[2020-02-11 18:09] therealwizard opened #1578 "trouble in trying to install web3.py in windows"
* Version: x.x.x
* Python: 3.7
* OS: win
* `pip install web3

[code]

### What was wrong?
trouble in installing web3
Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

[2020-02-12 16:31] pipermerriam commented on #1578
If you take a look at the text of the error message:

[code]

It appears you have a system dependency that you need to install.  I'm closing this but feel free to reach back out if you are still having trouble.

[2020-02-12 16:31] #1578 closed

[2020-02-12 16:31] pipermerriam commented on #1578
We should probably also update our quickstart/installation documentation to have this information in there.

[2020-02-14 03:57] tmckenzie51 commented on #1429
I'm working on the ParitySsh module.

[2020-02-17 03:57] billbsing commented on #1429
If it's OK I would like to start on GethMiner.

[2020-02-18 19:42] KaiRo-at commented on #1569
I have worked around this for the moment with a generic web3.eth.filter() on the topic, which I read out of the contract's .json file and then dedode the arguments from the event's data field via eth_abi.decode_single() but this is pretty cumbersome code when it should be supported straight-forward by web3.py instead.

[2020-02-19 20:31] kclowes commented on #1569
Thanks for posting an update @KaiRo-at. I'm glad you were able to figure out a workaround. I'll leave this open so we can dig in.

[2020-02-20 02:19] billbsing opened #1580 "Flaky integration tests on a ssh.post in the ssh module"
* Version: 5.5.1
* Python: py36-integration-goethereum-http-1.7.2
* OS: linux

### What was wrong?
tox tests fail on py36-integration-goethereum-http-1.7.2 for ssh_module
at https://github.com/ethereum/web3.py/blob/dd28939b351ef72ef038670368eb940669c2c65f/web3/_utils/module_testing/shh_module.py#L374

see the full [circelc logi](https://circleci.com/gh/ethereum/web3.py/97134)

### How can it be fi

[2020-02-21 00:13] billbsing commented on #1429
I'm working on the Net module

[2020-02-21 16:10] palango opened #1582 "Export type hints"
* Version: 5.5.1
* Python: 3.7
* OS: osx

### What was wrong?

It seems like currently the type information is not announced properly and won't be used by `mypy` in packages depending on `web3`.

See https://mypy.readthedocs.io/en/latest/installed_packages.html#making-pep-561-compatible-packages for more infos.

### How can it be fixed?

Like described, typing infos need to be announced via PEP561

[2020-02-22 07:25] rranjan3 opened #1584 "Getting timeout when trying to connect using websocket"
* Version: 5.4.0
* Python: 3.6.8
* OS: linux

Getting timeout when `isConnected()` is called over a websocket. The error would also occur on filter is the `isConnected()` call were removed.
Other clients(`wscat`) are able to get a connection over the same socket and receive events.

Here's the code where `isConnected()` is called.

[code]

Here's the stack trace -

[code]

[2020-02-24 15:05] karlb commented on #941
I'm interested in writing a PR for this. Is there already a test case including a revert that can be used?

[2020-02-24 16:09] kclowes commented on #941
@karlb That would be great! I don't think we have any test cases already. Feel free to ping me if you need anything!

[2020-02-24 18:36] kclowes commented on #1584
@rranjan3 I am not sure what is going on here. I'm unable to replicate with your code. It's strange that you're able to connect using `wscat`, but not web3 which does indicate that there may be a bug in web3. You might try connecting in new environment or upgrading to the most recent web3 (5.5.1). Let me know if neither of those options work for you and I can keep looking.

[2020-02-25 13:35] karlb opened #1588 "Add block_identifier to `Contract.estimateGas`"
### What was wrong?

[`Eth.estimateGas`](https://github.com/ethereum/web3.py/blob/06c194913e7736076f7d3f6f68c128c6d47c8559/web3/eth.py#L433) takes a `block_identifier` parameter, but [`Contract.estimateGas`](https://github.com/ethereum/web3.py/blob/f5fcaa67b5858a8b9f144023c50b73a0914981e1/web3/contract.py#L589) doesn't.

### How can it be fixed?

It should be possible to just add the parameter and

[2020-03-02 04:08] tmckenzie51 commented on #1429
I'm working on the parity personal module

[2020-03-02 18:40] kclowes commented on #1582
This has been released with 5.6.0 @palango! Thanks!

[2020-03-02 18:40] #1582 closed

[2020-03-02 18:50] #1580 closed

[2020-03-04 22:35] realjohnward commented on #1584
@kclowes @rranjan3
I was only able to reproduce the error when using localhost:22002 as the websocket. Below is the listening port's output when running the script:
`Client connected`
`{"jsonrpc": "2.0", "method": "web3_clientVersion", "params": [], "id": 0}`
`Disconnected (code: 1000, reason: "")`

I tested WebsocketProvider with an Infura websocket and it works fine.

[2020-03-05 02:21] billbsing commented on #1429
If it's ok I would like to start working on the eth module start soon.

I assume @Patil2099 your last PR #1465 is not active anymore?

I'm planning to break it into several PRs since it's the bigger module.
+ properties
+ methods
+ Move to ModuleV2 and the _utils/eth.py module ? (maybe a new issue for this?)

[2020-03-05 16:55] kclowes commented on #1429
Thanks @billbsing, but I've been working on moving the eth module to use ModuleV2, so hold off on that for a bit, otherwise I'll have some nasty merge conflicts! I'll let you know when I'm done if you still want to pick it up!

[2020-03-06 06:18] MikeHathaway opened #1596 "Move `get_event_data` and `get_function_info` from web3._utils modules to Public API"
### What was wrong?
Breaking changes were made to utility functions depended upon for client application functionality, making version updates more difficult.

### How can it be fixed?
Python clients are using utility functions such as `get_event_data` and `get_function_info` extensively to interact with the blockchain. Given their utility to clients, these functions should be moved out of the `_u

[2020-03-06 17:35] kclowes commented on #1596
@MikeHathaway can you provide your use case for why you couldn't use `contract.events.<your_event_name>.processLog` or `contract.events.<your event name>.processReceipt`?

[2020-03-11 11:21] tmckenzie51 commented on #1463
Hi. I'm interested in working on this issue. I notice that in the construct_time_based_gas_price strategy function that it takes as a parameter 'sample size'. I understand based on your description, that we would want to weight the price towards more recent blocks. What exactly influences this weight? Is it the price associated with the more recent blocks, or the amount of time associated with the

[2020-03-11 14:31] hindhanadi opened #1598 "trouble in installing web3 using pip"
hi guys, I have been trying to install web3 using the command pip install web3 but it doesn't work !!!, I have tried so many solutions but nothing works , here is the error that I have, I hope guys you can help me.
at the bigging, it gives this and then right after it just continues to give me red lines  of errors
"""Collecting web3
  Using cached web3-5.6.0-py3-none-any.whl (459 kB)
Collecting et

[2020-03-11 16:56] kclowes commented on #1598
@hindhanadi It's hard to tell without the whole stack trace, but it looks a lot like #1578 to me. I'm going to close but feel free to reopen if the solution in #1578 doesn't work for you.

[2020-03-11 16:56] #1598 closed

[2020-03-11 22:01] MSadriAghdam opened #1599 "I am new to python! need help with running this. Any body can help?"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

[2020-03-12 06:12] Jmjin commented on #1463
Hey @tmckenzie51 I believe it's the latter. Weighting should be favored more towards the time associated with the more recent blocks.

[2020-03-12 08:47] cburgdorf commented on #1599
@MSadriAghdam I think you forgot to mention the issue you are seeing. The placeholder in the issue template were meant to be filled out so that people can help you.

[2020-03-12 09:04] lavoiee opened #1600 "Error installing web3"
* Version: x.x.x
* Python: 3.6
* OS: linux
* `pip freeze` output
Hey everybody, I tried to resolve this by reading the other issues similar to mine but I was not able to resolve it. I tried installing it using pip and pipx also. I install python-devel for the headers. I also installed Cython. Tried uninstalling and reinstalling gcc to no avail.

I'd really like to get this installed to I can use w

[2020-03-12 15:36] kclowes commented on #1600
@lavoiee What distro are you using? Maybe you need to use `python-dev` instead of `python-devel`? Let me know what happens when you try to install in a fresh virtualenv.

[2020-03-13 19:20] kclowes commented on #1599
Closing, but feel free to reopen or open another issue with some details if you still need help @MSadriAghdam!

[2020-03-13 19:20] #1599 closed

[2020-03-13 21:44] lavoiee commented on #1600
I got it to install using anaconda-navigator. and setting the environment from Python 3.7 back to 3.6

[2020-03-14 08:44] tmckenzie51 commented on #1572
Hi. I would like to write tests for this fix (#20616). However, I have a few questions on how to go about this.

1.  I went through the web3 codebase to see where getBlockByHash/getBlockByNumber/getBlock are called and tested. I came across the test below for pending blocks. Given the different return values in the different geth versions, how is it that the test below is currently passing?

[code

[2020-03-14 20:10] guillaumecote opened #1603 "Can't pickle/dill contract objects " 'web3._utils.datatypes' has no attribute 'Contract'""
* Version: 5.6.0
* Python: 3.6.2
* OS: win
* `pip freeze` output:

[code]

### What was wrong?

I'm trying to find any way to save web3.contracts to limit the amount of calls I generate through infura during code initialization phase.

* The code which produced the error
[code]

The same seems to happen with any contract.

* The full output of the error

[code]

* What type of node you were connec

[2020-03-14 20:38] kclowes commented on #1572
If I'm reading the geth releases correctly, it looks like the change from #20616 went in to geth version 1.9.11. Currently, the geth 1.9 version that we're testing against is 1.9.7, so this test is passing because 1.9.7 returns a block number instead of null. Since that's the case, actually testing this PR just got a little more complicated. I'm not sure that it's a great use of our time since I'm

[2020-03-17 17:55] R31N3 opened #1604 "Could not decode contract function call GetTask return data b'' for output_types ['(string[3],string[2],int256[3],string[2],string)']"
* Version: 5.4.0
* Python: 3.8
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

I tried to call one of my functions, but over and over get traceback and problems with decoding, when from Remix IDE function works fine. I can't even just call mapping structure from my contract using ```contract.functions.tasks("project_id").call(transaction={"from": w3.eth.accounts[0], "gas":

[2020-03-18 05:08] cezhang52111 opened #1605 "Contract transact() function error"
* Version: latest
* Python: 3.6.9
* OS: linux

### What was wrong?
After I execute the `contract.functions.setGreeting('HELLOOOOOO!!!').transact()`, it shows the error:
[code]
All the transact() function call are failed! My solidity compiler is 0.5.14.

[2020-03-18 11:11] freelancer254 commented on #1276
Don't name your working directory or file web3.

[2020-03-18 11:26] freelancer254 commented on #1276
Don't name your working directory or file as web3. Also mind the caps: from web3 (small w) import Web3 (capital W).

[2020-03-18 13:41] R31N3 commented on #1604
I don't actually understand how it works, but after I had enable compiler optimization, everything started working correctly fine!

[2020-03-18 15:56] avatar-lavventura opened #1606 "web3.exceptions.BadFunctionCallOutput: Could not decode contract function call func return data b'' for output_types ['uint256'] due to `geth` version"
For clearity I am using two different ubuntu machines as follows, please note that both machines are sync to my private black chain and working on the same smart-contract:

Contract call was working on `1.9.9` where it starts not to work on `1.9.13`.

=> **ubuntu-a** uses:
[code]

-------

=> **ubuntu-b** uses:
[code]

----

Following function call works using `web3py` on **ubuntu-a** which has (g

[2020-03-19 20:30] kclowes commented on #1606
@avatar-lavventura I was looking at Geth [release notes](https://github.com/ethereum/go-ethereum/releases) for 1.9.12, and I don't think this is your issue, but does this apply to you:

[2020-03-19 20:38] kclowes commented on #1572
@tmckenzie51 I forgot we'll have to add the most recent geth versions to py-geth before we can make a fixture. If you're interested, you can follow [this PR](https://github.com/ethereum/py-geth/pull/54) to add the most recent geth versions to py-geth, and then I can generate a new fixture for you. Aside from this issue, we have another issue that was raised this week related to versions of geth 1.

[2020-03-19 20:57] avatar-lavventura commented on #1606
I actually use `Geth` only to start my node, and all the other operations is done through `Web3.py`.

One my `call()`s I didn't used `from` but `msg.sender` is not used within the function I am having issue.

[code]

[2020-03-20 09:02] avatar-lavventura commented on #1606
@kclowes: I feel like you have a good catch. I have asked the same issue on `go-ethereum` and @karalabe told me the same issue you mentioned (https://github.com/ethereum/go-ethereum/issues/20785#issuecomment-601590678). I will debug more and let you know.

[2020-03-20 13:53] avatar-lavventura commented on #1606
Solved in this issue, it was related to update on `geth` as @kclowes mentioned: (https://github.com/ethereum/go-ethereum/issues/20785#issuecomment-601590678)

@karalabe

[2020-03-20 13:53] #1606 closed

[2020-03-20 17:03] #1604 closed

[2020-03-20 22:30] pipermerriam commented on #1603
The `Contract` classes (and instances) are going to be unpickleable since they are dynamically created classes.

In order to support pickle-ability the `Web3` class would need to be pickleable (which I currently would not be surprised if it wasnt).  After that we'd need to introduce the [pickle APIs for handling custom construction/deconstruction](https://docs.python.org/3/library/pickle.html#obje

[2020-03-21 02:16] #1588 closed

[2020-03-21 02:42] kclowes opened #1609 "Better document how to set up a web3 instance"
### What was wrong?

There are many different ways to set up a web3 instance. For example:
[code]

But with each of these options comes certain configuration that needs to happen.

For example, `web3.auto` requires either an environment variable set, a local node running on mainnet, or an http provider running on localhost:8545. But you have to go to a different page in the docs to see that.

Simi

[2020-03-21 02:57] kclowes opened #1610 "Better documentation for signing and sending transactions"
### What was wrong?

There are three different ways to sign and send transactions:
1. a user can use an unlocked account and then `w3.eth.sendTransaction`,
2. Building a transaction, manually sign, then send with w3.eth.sendRawTransaction.
3. The `sign_and_send_middleware`.

It would be nice to detail the steps to use each one and list reasons for using it over the others

[2020-03-21 03:06] kclowes opened #1611 "Document manual contract instantiation vs ethpm"
@njgheorghita What do you think about adding a section to the docs comparing/contrasting manual contract instantiation and using ethpm? And maybe describing when you'd want to use one over another.

[2020-03-23 18:11] njgheorghita commented on #1611
@kclowes Sounds like a good idea to me! Has there been any confusion around the difference b/w the two methods? I'm happy to write something up... are you thinking it belongs in the `Contracts` section of the docs?

[2020-03-25 07:56] tmckenzie51 commented on #1572
@kclowes

Thank you! That's very helpful! I'll use that to test against the different versions.

I think I’m having a bit confusion about the return values of the different gets versions. My understanding from the issue description here is:
[code]

However, based on this it seems that geth 1.9.7 returns a number rather than null, but that seems to contradict with my initial understanding of the re

[2020-03-25 12:00] tmckenzie51 commented on #1572
@kclowes I also found a package online called 'semver' that could help with semantic versioning. Is this necessary here? Is it possible for me to add new libraries? If so, how may I go about adding a library such that it is incorporated in the CI tests?

[2020-03-25 22:48] isachard commented on #1056
@pipermerriam  can I work on this issue?

[2020-03-25 23:11] pipermerriam commented on #1056
Yes, you may!

[2020-03-30 15:08] mswilkison commented on #1566
Do you all have an estimate as to when v0.6 support will land in web3.py? Thanks!

[2020-03-30 15:42] kclowes commented on #1611
Awesome! Piper pointed out [this tutorial](https://consensys.net/blog/blockchain-development/how-to-send-money-using-python-a-web3-py-tutorial/), and was thinking about how there are multiple ways to do things in web3py, and how all of them aren't necessarily easy to find, one of which being manual contract instantiation vs using ethpm. So I haven't heard of any specific confusion. I was thinking

[2020-03-30 21:29] developerfred opened #1618 "Bug: contract.functions.symbol().call()"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx
* `pip freeze` output

### What was wrong?
I am having the error below when executing this contract call.

my code: ```get_symbol = lambda contract: str(contract.functions.symbol().call())```

[code]

[2020-03-30 22:42] marcgarreau commented on #1609
Double-checking that its on your radar: I found the [Providers](https://web3py.readthedocs.io/en/stable/providers.html) docs surprisingly robust. I do think it could stand to be higher up in the table of contents, though, as its the first thing you'll need to configure before being able to use the lib.

I wouldn't expect newcomers to guess that there's important setup information in the `Providers

[2020-03-31 14:38] #1611 closed

[2020-03-31 16:04] kclowes commented on #1609
Yes, I agree, the `Providers` docs are really good! And could stand to be higher up the list. Maybe this stuff really belongs in the troubleshooting docs. If `w3.isConnected() == False`, try these things depending on how you're trying to connect

[2020-03-31 16:13] marcgarreau commented on #1609
👍 I'll make some tweaks and ping you for feedback.

[2020-03-31 17:33] marcgarreau commented on #1609
@kclowes up for debate: https://github.com/ethereum/web3.py/pull/1619

Re: `If w3.isConnected() == False, try these things depending on how you're trying to connect`,
I only had a couple thoughts that I dropped into a new Troubleshooting section. Let me know if you had additional ideas in mind.