[2020-03-31 17:41] #1609 closed

[2020-03-31 20:57] #1560 closed

[2020-03-31 22:00] developerfred commented on #1618
the last update is working

[2020-03-31 22:00] #1618 closed

[2020-04-01 15:37] EdNoepel commented on #1469
Web3 seems to assume that kwargs passed to the `request` method (likely just _timeout_) are the ones which should be hashed in the `cache_key`.  I'd argue the following points:
- `HttpProvider` should accept arguments passed to the `HttpAdapter` constructor.
- `generate_cache_key` should hash both the `request` arguments and those used for creation of the `HttpAdapter`.

I'm meditating on a clean

[2020-04-02 11:20] ayeteng commented on #1469
@EdNoepel ,
Given I don't know how to pass the kwargs to request via web3, I did the workaround to modify the request default setting by myself. It works good recently so I don't work on this issue for the time been.
Thanks for your comment.

[2020-04-03 16:10] kclowes commented on #1566
@mswilkison it's not on the immediate docket, but knowing there is interest helps. It looks like supporting `receive()` is the feature you need? Anything else that would be handy?

[2020-04-03 16:25] vzotova commented on #1566
@kclowes thank you, only `receive()`, other features that we use are already working with latest version of web3.py

[2020-04-06 20:45] kclowes opened #1621 "eth_abi.exceptions.NoEntriesFound: No matching entries for 'tuple' in decoder registry"
* Version: 5.7.0
* `pip freeze` output
https://pastebin.com/yExMDsJH

### What was wrong?
Copy/pasted from gitter:

Hi all, I'm not sure if this is the right place to ask, but I've been getting the same error as @rodrigosobrero, attempting to do something presumably similar.

I have a private PoA network setup with geth nodes, and I have a portion of a smart contract that emits an event like so:

[2020-04-10 16:54] marcgarreau commented on #1610
don't think I know when best to use each yet, but will take a stab at this.

[2020-04-10 17:34] pipermerriam commented on #1610
This is by no means exhaustive but it should be an adequate starting point.  I suspect there is a visualization that could make the data below easier to ingest and understand.  Maybe something as simple as a table showing the various methods and their strengths/weaknesses

# `send_and_sign_middleware`

- **benefits**:
  - Concise code and minimal boilerplate.
  - Ability to use same code for both

[2020-04-10 23:08] marcgarreau commented on #1610
Spitballed a couple ideas (including a table view), but as a user, I think I just want to know when to  reach for each. Looking for some clarity on the middleware, though. Current idea is to add something like this to the Examples page:
[code]

[2020-04-13 05:53] cezhang52111 commented on #1605
Thanks. After I update the geth, the problem is solved!

[2020-04-13 05:53] #1605 closed

[2020-04-13 22:15] #1610 closed

[2020-04-13 22:54] marcgarreau commented on #1600
Closing since a workaround was found and I'm unsure if directly related to web3. If anyone continues to have trouble with installs, please re-open or open a new ticket.

[2020-04-13 22:54] #1600 closed

[2020-04-15 17:29] #1575 closed

[2020-04-15 19:46] #1463 closed

[2020-04-15 20:15] kclowes commented on #1442
Looks like this was resolved way back when. Closing, but feel free to reopen if I'm mistaken!

[2020-04-15 20:15] #1442 closed

[2020-04-15 20:22] kclowes commented on #1130
Fixed in #1453

[2020-04-15 20:22] #1130 closed

[2020-04-16 08:24] utkarshrai2811 commented on #1456
Obviously this is a Cython module. Python can not determine if the Cython C object module is importing some Python module. Please [read the manual](https://pyinstaller.readthedocs.io/en/stable/feature-notes.html#cython-support) for details and a solution. See [this section of the manual](https://pyinstaller.readthedocs.io/en/latest/hooks.html) for more information about how to implement hooks.

[2020-04-20 14:48] #1516 closed

[2020-04-24 17:16] Recmo commented on #829
I'm unable to parse [this event](https://github.com/dydxprotocol/solo/blob/v0.35.1/contracts/external/traders/CanonicalOrders.sol#L177) from [this contract](https://etherscan.io/address/0xCd81398895bEa7AD9EFF273aeFFc41A9d83B4dAD#events).

[2020-04-24 17:16] pipermerriam opened #1628 "Provide `TypedDict` types for return values of methods usable by 3rd parties."
### What was wrong?

While making an application that uses the web3.py library I found myself really wishing there were strong return types for the various methods like `w3.eth.get_block(...)`.  Basically, I want to have something like a `TypedDict` which strongly defines the return types of the various web3 methods.

### How can it be fixed?

The `web3` library should have `TypedDict` types for a

[2020-04-24 17:22] pipermerriam commented on #1628
I realize these are already present under `web3.types`

Looks like the primary thing would be to document them.

[2020-04-24 17:23] recmo opened #1629 "Can not parse event with tuple arguments"
* Version: 5.7.0
* Python: 3.7.6
* OS: osx
* `pip freeze` output
* Node: Geth/v1.9.13-stable/darwin-amd64/go1.14.2 (IPCProvider)

<details>
  <summary><code>pip freeze</code> output</summary>

    absl-py==0.9.0
    appnope==0.1.0
    asn1crypto==0.24.0
    astor==0.8.1
    astroid==2.0.4
    atomicwrites==1.2.1
    attrdict==2.0.1
    attrs==18.2.0
    autopep8==1.4.4
    backcall==0.1.0
    base

[2020-04-24 17:36] pipermerriam commented on #1629
Can you provide the output from `pip freeze` so we can see versions of your dependencies.

[2020-04-24 17:38] Recmo commented on #1629
`pip freeze`

[code]

[2020-04-24 19:12] carver commented on #1629
IIRC, someone brought this up in chat recently, too. My first guess was an old version, but like @Recmo, they had recent-enough libraries.

#1235 is what added tuple support generally, so really #829 should have closed. (Though clearly there's a new, specific problem here)

I do notice that this PR only adds tests for tuples at method arguments and return values. I don't see any tests for tuple-ty

[2020-04-24 20:25] carver commented on #829
Basic tuple API support was added in #1235, so closing...

There remains a bug, detailed in #1629, that seems to affect events. That will be the tracking place for any event-related issues.

[2020-04-24 20:25] #829 closed

[2020-04-24 22:19] KaiRo-at commented on #1629
Maybe related to #1569 as well (arrays there, not tuples, but otherwise I guess similar)?

[2020-04-24 22:25] kclowes commented on #1629
I'm pretty sure this is also the same problem as the one in #1621. I am going to close #1621, but want to leave #1569 open because I'm not sure that's exactly the same problem, even though it does look similar.

[2020-04-24 22:25] kclowes commented on #1621
Closing in favor of #1629.

[2020-04-24 22:25] #1621 closed

[2020-04-25 02:27] rymkapro opened #1631 "Contract decode_function_input"
* Version: 5.8.0
* Python: 3.6
* OS: linux

### What was wrong?
Hi, I'm trying to decode contract function input (Tether).
I've created contract with Tether contract address and Tether ABI.

[code]

Mostly everything is ok, but there are some contracts, where I get exception
`eth_abi.exceptions.NonEmptyPaddingBytes: Padding bytes were not empty: b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x03&'`

H

[2020-04-27 20:07] kclowes commented on #1631
Thanks for the report! It does look like there may be a bug in our decoder, but I'm not 100% sure what is going on there. Can you provide any other transaction examples where you've seen the error?

[2020-04-27 20:19] rymkapro commented on #1631
I have only one more example for such tx: https://etherscan.io/tx/0x34204b3ef07a82b2c4a6e159612652ec03b793ca0d836bf471acd80ffdc81150

Also I've noticed, that etherscan.io also can't decode this wrong transactions' data, e.g. you can press "Decode Input Data" button on the etherscan tx page and there will be no result..

[2020-04-27 21:22] kclowes commented on #1631
Yeah, I noticed that too. It looks like it's a problem with the address parsing. I found a good one [here](https://etherscan.io/tx/0xa82cd7296a09d8c197fe37e428c75b88ca6ce8951fea9036a2bb1fc6104f9c60), that has 24 leading `0`s, which seems correct. The two examples that are raising the error in the decoder have less than 24 leading zeros. I will have to dig in a little more to figure out where the "

[2020-04-29 04:23] jordanmkoncz commented on #1337
When using Pip version 20.1 (released 29/04/2020), the solution of uninstalling the `typing` package no longer works for some reason. An easy workaround is to ensure you're using the previous version of Pip, 20.0.2, where this solution still works.

[2020-04-29 15:28] kclowes commented on #1337
@jordanmkoncz which version of web3 are you using?

[2020-04-30 01:11] jordanmkoncz commented on #1337
@kclowes I am actually not using web3 personally. However I ran into the exact error that's discussed here (`AttributeError: type object 'Callable' has no attribute '_abc_registry'`) and so I thought I'd mention that the proposed solution of uninstalling `typing` appears to have stopped working with the new version of Pip, in case others run into the same problem.

[2020-04-30 08:41] zinootje opened #1634 "Bug: OverflowError: Python int too large to convert to C ssize_t"
* Version: 5.8.0
* Python: 3.7.6
* OS: win
* `pip freeze` output

[code]

### What was wrong?
I get a overflow error when calling a specific view function which returns a int256[];
When i call te same function online using a site like https://justsmartcontracts.dev the function works fine
[code]
I know this isn't enough information. If you tell me what else you need i will try to provide is as qui

[2020-04-30 15:51] kclowes commented on #1634
@zinootje Can you provide a [minimum reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) of what you're trying to do?

[2020-04-30 16:33] pipermerriam opened #1635 "Alternate infrastructure for testing event filters"
### What was wrong?

Testing event filters sucks.  Either we depend on `eth-tester` which *probably/maybe* implements the filter logic correctly, or we use `geth` which results in flaky tests and the bad kind of black-box testing since when things fail we don't really have any good way to know why...

### How can it be fixed?

I recently wrote this: https://github.com/ethereum/cthaeh

The most rel

[2020-04-30 16:55] pipermerriam commented on #1635
Explicitely what I think is needed is:

- orm models
- filter querying API
- ir representation (https://github.com/ethereum/cthaeh/blob/a3f63b0522d940af37f485ccbeed07666adb465b/cthaeh/ir.py)
- something to make it easy to load up an in-memory database declaratively/concisely

Then in our tests we can use a middleware to intercept JSON-RPC filter requests and serve them using the core library API.

[2020-04-30 19:10] marcgarreau commented on #1635
is [sqlite](https://docs.python.org/3/library/sqlite3.html) what you had in mind?
[code]

[2020-04-30 20:42] #1514 closed

[2020-05-01 16:09] zinootje commented on #1634
sure ,  do i also need to provide contract source code or is there another way

[2020-05-01 16:20] kclowes commented on #1634
Just the snippet of the contract code that is throwing the error would be good, and any background needed to put it in context.

[2020-05-01 16:26] zinootje commented on #1634
Here is my minimal example i also uploaded the source code to [ether scan](https://etherscan.io/address/0x4802b5410bbf3dc9284dd63ea02e6ef588707970#code) to make it easier. As you will see when you call the function  "buysellmultiple" from etherscan it work as expected. I hope i didn't miss something obvious .

[code]

[2020-05-01 21:56] kclowes commented on #1634
It looks like the `amount` you're sending is more than `sys.maxsize` on a 64 bit machine. If you use a smaller amount, does that get around the error?

[2020-05-02 20:50] evowilliamson opened #1637 "Tests not working in docker image & Python 3.8 missing in image"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output
alabaster==0.7.12
apipkg==1.5
appdirs==1.4.3
atomicwrites==1.4.0
attrs==19.3.0
Babel==2.8.0
base58==2.0.0
bitarray==1.2.1
bleach==3.1.5
bumpversion==0.5.3
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==3.5.0
contextlib2==0.6.0.post1
cytoolz==0.10.1
distlib==0.3.0
d

[2020-05-03 14:48] MatthiasLohr opened #1638 "Contract Fallback functions undocumented"
* Version: 5.9.0

According to https://web3py.readthedocs.io/en/stable/contracts.html#fallback-function, there is some support for fallback functions for interacting with a smart contract. Is there any documentaton on how to use this? I'm also not possible to figure this out by reading the code. Some infos would be nice.

Best regards
Matthias

[2020-05-03 17:45] MatthiasLohr commented on #1154
Anything new here..?

[2020-05-04 16:04] marcgarreau commented on #1638
Thanks for pointing out the limited documentation here @MatthiasLohr. If there is one in the contract, the fallback function is available directly on the contract instance. For example:

[code]

New to solidity 0.6.X, there's also a [`receive` keyword](https://solidity.readthedocs.io/en/latest/060-breaking-changes.html?highlight=receive#semantic-and-syntactic-changes), which is another type of fal

[2020-05-04 16:08] MatthiasLohr commented on #1638
Thanks for replying so quickly!

How to set the fallback function? Just `example_contract.fallback.transact = mytransact`?

[2020-05-04 16:33] marcgarreau commented on #1638
Actually, the contract API will figure that out for you. Maybe a more long-winded example will help:
[code]

If you're interacting with an existing contract on the network, obviously you don't need to deploy it again, and can just skip to the last couple lines in the example. Etherscan can be a good place to find contract addresses and ABIs. ([The DAI contract](https://etherscan.io/address/0x89d24

[2020-05-04 16:37] MatthiasLohr commented on #1638
Sorry, maybe I'm just too stupid for that.

The main reason why I'm asking is the fallback for estimateGas. I'm working on a contract method where estimateGas always fails (no idea why). I thought this fallback option might help to introduce a custom estimateGas method which is able to catch and handle the error, e.g. by setting a default gas limit.

[2020-05-04 16:53] marcgarreau commented on #1638
Ah, I understand the confusion now. `fallback` in this case is a specific type of function in solidity, so cannot be used to do things like handle estimateGas failures. You _can_ customize the way that gas price is calculated in web3: https://web3py.readthedocs.io/en/stable/gas_price.html.

This issue related to adding more documentation around fallback functions is appropriate, but I'd prefer not

[2020-05-04 16:55] MatthiasLohr commented on #1638
Sure, out of scope. Just last comment: My question is not related to gas *price*, but gas estimation.

[2020-05-04 18:09] pipermerriam commented on #1634
@kclowes interestingly this is an `eth-abi` error, which I believe suggests that the `total_offset` or the` pos` from this call in the stacktrace is the value exceeding the integer size limit (which causes an error when that value enters some area of the CPython API that uses C instead of pure-python.

[code]

I think that's the place to investigate as it isn't exactly clear to me why or how that

[2020-05-04 18:10] pipermerriam commented on #1634
If you can reproduce the above error in CI then dropping into a pdb might be the most informative way to try and figure out which value is exceeding the limit and then how eth-abi is encountering a that value.

[2020-05-04 20:28] marcgarreau commented on #1637
Thanks for the interest in contributing @evowilliamson. Docker is not a part of my development workflow, but I did confirm that 3.8 isn't available within the container. I see the Dockerfile starts with the python 3.6 image, and that docker-compose.yml doesn't specify versions, so I'm not actually sure where v3.7 is coming from. Pinging our resident Docker expert @cburgdorf - Christoph, some direc

[2020-05-04 22:52] carver commented on #1154
I don't know if there have been any standardization discussions between Solidity and web3.js.

---

As for web3.py, it looks like our answer will have to be that too-short values are rejected, and the caller must pad themselves using:

According to the summary on https://github.com/ethereum/web3.py/pull/1419 the too-short values are only rejected if you first call `w3.enable_strict_bytes_type_chec

[2020-05-04 22:54] carver commented on #1416
Looks like the #1419 plan is to enable strict bytes length checking by default. At which point I think #1154 could be closed.

[2020-05-05 13:09] cburgdorf commented on #1637
It just happens to be the case that the docker image `python:3.6` also contains Python 3.7. For Python 3.8, yes you could just change `python:3.6` to `python:3.8` in the `Dockerfile` but the environment will only contain Python 3.8 and Python 3.7 then which means running something like `tox -e py36-core` will fail in such an environment.

If we care about the Docker image supporting all three Pyth

[2020-05-05 16:50] evowilliamson commented on #1637
@cburgdorf @marcgarreau thanks for the info. The local installation is fine, so will start from there.

Looking forward to picking up some stories, issues. But first, trying to wrap my head around the codebase!

[2020-05-05 16:51] #1637 closed

[2020-05-05 20:20] ahonnecke opened #1640 "Feature Request: Expose RPC client until batching is done"
Until https://github.com/ethereum/web3.py/issues/832 is worked out, it would be nice to have the ability to get the RPC client directly such that one could send batch requests but still leverage web3 for the decoding.

The equivalent of:
`
curl -X POST --data \
'[{"jsonrpc":"2.0","id":"1","method":"eth_getBlockByNumber","params":["0x1b4", true]},{"jsonrpc":"2.0","id":"2","method":"eth_getBlockByNu

[2020-05-07 14:57] ulope commented on #1463
Is there a reason this has been closed?
This is still a problem (esp. at the moment with very high and fluctuating gas prices on mainnet).

[2020-05-07 15:52] pipermerriam commented on #1463
@Jmjin historically the weighted gas price strategy was written at a time when this problem was just starting to show up and certainly was not well understood.  Since then it has become clear (to me at least) that gas pricing is a very subjective area.  Because of this, I'm inclined to focus on ensuring that the gas pricing strategy API is well suited for 3rd party extension and to encourage the c

[2020-05-07 15:59] pipermerriam opened #1641 "Move the weighted gas price strategy under `web3.tools`"
related to #1463

### What was wrong?

I believe that the weighted gas price strategy should be deprecated or moved to live under `web3.tools`.  This is based on the high subjectivity of gas prices which I believe means that we will be unable to supply gas price strategies that work well across the many disparate use cases that Web3.py is intended for.

### How can it be fixed?

The most extreme a

[2020-05-08 00:54] 99Kies opened #1643 "PyPi Document format problem"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

<https://pypi.org/project/web3/1.3.0/>
PyPi Document format problem, Markdown seems to have failed.
![image](https://us

[2020-05-08 15:51] marcgarreau commented on #1643
Thanks for reporting. 1.3.0 is an old, unsupported version, though. We're up to [v5.9.0](https://pypi.org/project/web3/5.9.0/) and all the latest releases are properly formatted.

[2020-05-08 15:51] #1643 closed

[2020-05-08 18:25] kclowes opened #1644 "Upgrade Sphinx to v3.0+"
* Version: 5.9+

### What was wrong?
The Sphinx dependency wasn't pinned and when Sphinx 3.0 came out some of our doctests broke. It's currently pinned to  >=2.4.4,<3.

### How can it be fixed?
Pin Sphinx between 3.0 and 4, and then fix any failing tests.

[2020-05-12 14:00] rajeev29five commented on #1644
I would like to work on this.

[2020-05-12 18:20] evowilliamson commented on #1641
@pipermerriam Could you please assign this issue to me please ?

[2020-05-12 19:36] pipermerriam commented on #1641
@evowilliamson we don't really use assignees as part of our workflow.  If you'd like to work on this you are welcome to simply open a pull request and mention this issue in the PR to link them together.  Doing that is completely adequate for *claiming* an issue.

[2020-05-13 23:42] carver opened #1646 "Is the ContractEvent type bugged?"
### What was wrong?

When calling `contract.events.Event()`, mypy warns that `ContractEvent` is not callable.

### How can it be fixed?

After digging a little deeper, it seems that these three annotations should probably be `Type[ContractEvent]` instead:
https://github.com/ethereum/web3.py/blob/92cf6410ecdc77db5a689ddd1645d564b2ef84bf/web3/contract.py#L246-L263

[2020-05-13 23:45] carver opened #1647 "IPCProvider argument type bug"
### What was wrong?

IPCProvider correctly handles a `pathlib.Path` as its `ipc_path` argument, but the type annotation says it only accepts `str`.

### How can it be fixed?

Change it to `Union[str, Path]`

[2020-05-14 21:22] carver opened #1648 "ContractEvent.processLog (and others?) break when used as classmethod"
### What was wrong?

When `ContractEvent.processLog()` is called (instead of `ContractEvent().processLog()`), you get this:
[code]

### How can it be fixed?

The event ABI is only set on initialization, which doesn't make sense to me.

Maybe:
1. make `.abi` a `@property` that caches the result of `_get_event_abi()`
2. drop `.abi` altogether and use `_get_event_abi()` everywhere internally
3. set `

[2020-05-14 21:59] marcgarreau commented on #1648
Poking around this and your other couple issues now 👀

[2020-05-14 22:32] marcgarreau commented on #1648
Was able to reproduce this, but I'm unclear on expected behavior. Should `ContractEvent.processLog()` and `ContractEvent().processLog()` have identical output?

[2020-05-14 23:40] carver commented on #1648
So, there seems to be some kind of half-baked feature to filter events by argument name. I don't really understand that use case, and it doesn't seem tested at the contract API level.

Maybe it's worth looking a little deeper about what how the `argument_names` input to the `ContractEvent` init method work. (and maybe removing it until there's a properly supported feature there?)

But yeah, my nai

[2020-05-15 09:47] arjunaskykok opened #1649 "Forced to use Infura when using ethpm module"
* Version: 5.9.0
* Python: 3.7
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Using ethpm module, we are forced to use infura.

[code]
You got this error:

[code]

### How can it be fixed?

The culprit is in ethpm/backends/registry.py line 49-51:
[code]

[2020-05-15 12:45] iDataist opened #1650 "web3 ConnectionError: HTTPConnectionPool(host='127.0.0.1', port=8545)"
* Version: 5.9.0
* Python: Python 3.7.7
* OS: osx
* `pip freeze` output

[code]
### What was wrong?
The first two lines worked fine.
`from web3 import Web3`
`w3 = Web3(Web3.HTTPProvider('HTTP://127.0.0.1:8545'))`

* The code which produced the error
`w3.eth.getBalance("0xD498cEb53D2E1b48375e2d1F1a257f5B787C9fD5")`

* The full output of the error
[code]

* What type of node you were connecting to.

[2020-05-15 16:29] marcgarreau commented on #1646
Confirmed the suggested fix addresses the issue. Will get a PR going.
1) Is this something that needs test coverage? If so, any examples you can point to as a template?
2) If test coverage can't be used to detect this sort of thing, any ideas for detecting/preventing this in the future?
3) Since contract functions are typed in what looks to be the same pattern, its not immediately clear to me why

[2020-05-15 16:54] njgheorghita commented on #1649
Hey @arjunaskykok , thanks for raising this! We use infura a lot in `ethpm` to help resolve any ens names and make other calls to the blockchain - though I'd agree it's not ideal to be strictly tied to infura, that's the case right now.

I'm currently working on upgrading the `ethpm` library to support v3 (and I'd recommend that you also target the [v3 spec](http://ethpm.github.io/ethpm-spec/v3-pa

[2020-05-15 22:00] #1646 closed

[2020-05-15 22:23] carver commented on #1646
Hm, there are some places that do explicit mypy checks. Let's see...
- eth-utils makes mypy run on a test file that calls the API: https://github.com/ethereum/eth-utils/blob/386863e6b7d95ac5acb11f6ba81619dc88ed6eb9/tox.ini#L52
- Here's another approach: https://github.com/ethereum/eth-utils/blob/970aba7ac51edb171988200fd2b74e1b36e9615f/tests/functional-utils/type_inference_tests.py
- Maybe @cburgd

[2020-05-16 02:32] marcgarreau commented on #1646
(Sorry if this was closed prematurely.)

re: #1, The eth-utils examples are interesting. Will explore this more when I get a chance. Would be great to have programmatic confidence that types are accurate.

re: #3, Ah, I did test some ContractFunction functionality, but didn't get any warnings. That'd explain it.

[2020-05-18 07:40] cburgdorf commented on #1646
@carver the testing approaches you listed are the only ones I know from the top of my head.

Generally, a high profit gain should also come from working towards strict mypy checking. There is still room in the [`mypy.ini`](https://github.com/ethereum/web3.py/blob/master/mypy.ini) to tighten some checks (and mypy continues to add stricter checks with new releases) but that's more a general recommen

[2020-05-18 16:21] marcgarreau commented on #1650
Hey @iDataist, this could be an issue with how you're running the client you're trying to connect to. What client are you running (e.g., geth, openethereum, etc.) and what command are you using to run it?

[2020-05-18 19:11] #1647 closed

[2020-05-19 11:07] reinisb123 opened #1655 "abi['name'] == name KeyError: 'name'"
* Version: 5.9.0
* Python: 3.7
* OS: win
* `pip freeze` output

[code]
### What was wrong?
from web3 import Web3
web3 = Web3(Web3.HTTPProvider('https://mainnet.infura.io/v3/xx'))

routerV2ABI = json.loads('[{"inputs":[{"internalType":"address","name":"_factory","type":"address"},{"internalType":"address","name":"_WETH","type":"address"}],"stateMutability":"nonpayable","type":"constructor"},{"input

[2020-05-19 14:03] berndbohmeier opened #1656 "Typing of AttributeDict return values is broken"
* Version: 5.10.0
* Python: 3.6
* OS: linux

### What was wrong?
Many data like events are returned as an `AttributeDict`, so that `event['event']` and `event.event` both work. The typings however inherit from `TypedDict`, for example for `EventData`, so that only `event['event']` correctly typechecks, but not `event.event`. This is annoying, as perfectly valid code does not pass typechecking.

##

[2020-05-19 14:55] pipermerriam commented on #1656
Thanks for bringing this to our attention.

Unfortunately, this is likely complex to fix since `TypedDict` does not natively provide attribute access.  I believe it would require hooking into the `mypy` plugin APIs.

For v5 I'd be willing to review and merge a fix for this if someone wants to open a PR.  I don't think it's something that we'll be prioritizing ourselves.

This gives me more reason

[2020-05-19 15:29] berndbohmeier commented on #1656
Yes, I thought this might be complex. Using `NamedTuple` would be awesome.

[2020-05-19 15:46] pipermerriam commented on #1655
@marcgarreau

1. I think this is a bug that can be fixed reasonably simply.  We've run into this type of thing before.  Somewhere in the list of ABI definitions there is an entry that doesn't have a `'name'` key.  The fix *could* be as simple as changing the `abi['name'] == name` to be `abi.get('name') == name`.
2. Since this isn't the first time that we've encountered this type of issue, either d

[2020-05-19 15:47] pipermerriam commented on #1655
*and* it's worth looking into what if any of this functionality should/could live in `eth-abi`.  I think it might be reasonable for the internal representation of the ABI to be part of that library

[2020-05-19 15:53] marcgarreau commented on #1655
will poke at this today :eyes:

[2020-05-19 16:25] marcgarreau commented on #1655
Actually, I wasn't able to reproduce the error with the `getAmountsOut` function.

The addresses used in the example code threw the `Web3.py only accepts checksum addresses` exception, but after applying a `toChecksumAddress`, Infura returned a successful response: `[100000000000, 606728]`.

Is there something else in the environment that might explain the original issue?

[2020-05-19 16:42] reinisb123 commented on #1655
Here I tried again:
import json
from web3 import Web3

web3 = Web3(Web3.HTTPProvider('INFURA'))

routerV2ABI = json.loads('The same ABI as Above')
routerV2Contract = web3.eth.contract(address='0xf164fC0Ec4E93095b804a4795bBe1e041497b92a', abi= routerV2ABI)

#print(web3.toChecksumAddress('2b591e99afe9f32eaa6214f7b7629768c40eeb39'))

print(routerV2Contract.functions.WETH())
print(routerV2Contract.fun

[2020-05-19 17:05] MatthiasLohr commented on #964
Anything new on this? Any chance on getting some more verbose on information what actually went wrong on type conversion when executing code?

[2020-05-19 17:10] pipermerriam commented on #964
We'd be happy to review and provide feedback on a pull request if you'd like to take a stab at it.

[2020-05-19 17:14] reinisb123 commented on #1655
Tried it in new environment. Its working now. Thanks guys!

[2020-05-19 17:14] #1655 closed

[2020-05-19 17:14] marcgarreau commented on #1655
Yeah, predictably, the other functions are working as expected on my end. I'm not sure of the best way forward; our package versions are aligned and I've tested in a script and within a jupyter notebook. @pipermerriam suggestions welcome on how to further debug.

If you're up for it @reinisb123, one thing you could try is to apply the fix Piper is suggesting in a locally edited version of web3 and

[2020-05-19 17:15] marcgarreau commented on #1655
🎉  ah, great. you just beat my message. 😆

[2020-05-19 17:52] MatthiasLohr commented on #964
The problem is: If I would know how to debug/find out what exactly the problem is, I wouldn't have to write here and ask for more details ;)

[2020-05-19 18:18] pipermerriam commented on #964
Here are the two entry points where I expect this functionality would be easiest to add:

https://github.com/ethereum/web3.py/blob/6258d2e1c807aee892481296c7f115399ce6a6f8/web3/_utils/contracts.py#L75-L161

In the case of `find_matching_fn_abi` we already have a good start at an improved error message, so the same pattern could be ported over to `find_matching_event_abi`.  This is probably the sma

[2020-05-20 08:48] Uxio0 opened #1657 "ENS.fromWeb3 not copying middleware"
* Version: 5.10.0
* Python: 3.8
* OS: linux

### What was wrong?

I would expect that after configuring a Web3 instance, if I do `ENS.fromWeb3(w3)` it would copy the middleware and parameters needed. Instead, it just uses the provider. This is very important for using ENS with Rinkeby and Geth, as it needs the POA middleware.

Steps to reproduce:

Initialize instance of Web3, add middleware for PO

[2020-05-20 16:04] marcgarreau commented on #1657
Thanks for the report. Seems like a reasonable expectation.

I see that `fromWeb3` just [peels the provider](https://github.com/ethereum/web3.py/blob/master/ens/main.py#L102) off of the web3 instance passed in, because ENS accepts a provider. Upon creation, there's also some [adding and removing of middleware](https://github.com/ethereum/web3.py/blob/master/ens/utils.py#L91-L95) as a result of the

[2020-05-20 16:22] carver commented on #1657
Yeah, there are definitely some quirks there. But I *think* they're all managed by the methods @marcgarreau  already found at https://github.com/ethereum/web3.py/blob/6258d2e1c807aee892481296c7f115399ce6a6f8/ens/utils.py#L77-L96

So the bulk of the work is to pass in a "template" w3 instance and copy the existing middlewares & provider, as a kind of alternative to `init_web3()`, then apply `custom

[2020-05-21 12:27] evowilliamson commented on #1641
@pipermerriam,

In his comment https://github.com/ethereum/web3.py/pull/1614#pullrequestreview-384290068, @kclowes was suggesting refactoring the `time_based_gas_price_strategy` strategy, which is currently used both for time and weighted strategy, into its own entity. Do you envision this issue (#1641) to be only effecting the weighted part of that strategy (kwarg weighted + code), or do you want

[2020-05-21 20:00] nazariyv opened #1659 "Insufficient funds no matter what (error -32000)"
* Version: 5.10.0
* Python: 3.7.7
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

[code]

and then I get this

[code]

`w3.eth.getBalance("0xd93800B7290B37a3ac36e4cDd3F881a929acD4A3")`

is the address from which I am sending, and it has enough ether on it. Very perplexed about this

### How can it be fixed?

??

[2020-05-21 20:19] marcgarreau commented on #1659
Without digging in too much, first guess is that you have a [defaultAccount](https://web3py.readthedocs.io/en/stable/web3.eth.html?highlight=defaultAccount#web3.eth.Eth.defaultAccount) set to something other than this address. Let me know if that is or is not helpful.

[2020-05-21 20:47] nazariyv commented on #1659
I think you are right! How do I change it? Do I just directly write `Eth.defaultAccount = "0xd93800B7290B37a3ac36e4cDd3F881a929acD4A3"?`

[2020-05-21 20:52] marcgarreau commented on #1659
Great! Yup - within a Web3 instance it's available on the `eth` namespace, e.g., `w3.eth.defaultAccount = "0x..."`

[2020-05-22 08:09] nazariyv commented on #1659
So, adding the `from` field and then attempting to send causes same error. Overriding the default account with `w3.eth.defaultAccount = 'checksummedaddressfrom'` doesn't work. And having both doesn't work.  🤔

[2020-05-22 08:10] nazariyv commented on #1659
Does the private key need to be in a special form? Mine is not check summed (not sure if it applies to private keys) and in hexadecimal form.

[2020-05-23 16:02] nazariyv commented on #1659
@marcgarreau sorry for atting, but do you have any other clues about how I can resolve this? thanks

[2020-05-26 17:15] marcgarreau commented on #1659
@nazariyv Apologies, I think I steered you wrong initially. I don't believe the address sending the raw transaction should make any difference, as long as the account that's signed the tx has sufficient funds.

Doing some testing locally, I am able to reproduce this exception when I wouldn't expect to:
<img width="912" alt="Screen Shot 2020-05-26 at 11 12 22 AM" src="https://user-images.githubuser

[2020-05-26 17:26] pipermerriam commented on #1659
@marcgarreau I'm not sure there's a trivial way to do this but we *might* be able to add some special casing code to `eth_sendTransaction` and `eth_sendRawTransaction` calls that raises a more user friendly error in this case.

The problem is that we won't actually have a good way to detect this error without doing something gross like matching the error string.  Still, upon hitting an error to ei

[2020-05-26 17:47] marcgarreau commented on #1659
Definitely room for better error handling in that regard, but in my testing, the sending account is a `geth --dev` account that shouldn't be anywhere close to not being able to afford the tx:
[code]

[2020-05-26 18:10] pipermerriam commented on #1659
:+1: so something else happening beyond simple insufficient balance... interesting.

[2020-05-26 21:42] marcgarreau commented on #1659
False alarm. I'm not able to reproduce the issue again, so I think the more likely scenario is that I was juggling too many accounts and the private key indeed belonged to an account with insufficient funds.

Specific to @nazariyv, I finally did the math and this is just a case of insufficient funds. The mentioned address has 0.011 ETH and the cost of the transaction is 0.04 ETH. So, the solution

[2020-05-26 21:42] #1659 closed

[2020-05-27 01:38] michael-darlin opened #1661 "SSL error when importing mysql.connector and web3.py, while using websockets"
* Version: 5.10.0
* Python: 3.8
* OS: linux

### What was wrong?
I am attempting to query an Infura websocket node. This code executes normally:
[code]
However, I need to write the output to a SQL database. When I add the line `import mysql.connector` to the beginning of the file, I get the following error upon running:
[code]
I can import mysql.connector and Web3 when using an HTTP connection (In

[2020-05-27 04:39] rar8000 commented on #1257
@Fierozen @uliantsev-a In python (from original post), you can simply add the evm flag to the compile_source() call. Since the function uses a **kwargs passthrough to solc, and autoreplaces underscores _ with dashes - in the argument name.

`compile_source(source=contract_source_code, evm_version='byzantium')`

Additionally I used py-solc-x (import solcx). Also added a byzantium block to my privat

[2020-05-29 17:37] brschkv opened #1662 "ValueError with eth.contract()"
* Version: 5.10.0
* Python: 3.8
* OS: ubuntu 20.04
* `pip freeze` output

[code]

### What was wrong?
Code:
[code]

Json source of the contract can be found here: https://compound.finance/docs/abi/ropsten/Comptroller

Error:
[code]

[2020-05-29 17:49] pipermerriam commented on #1662
If you take a look at the error message (clipped from what you included in your issue)

[code]

You'll see that the ABI you are loading includes duplicate definitions of multiple functions which is an invalid ABI.  If you fix your ABI json to remove the duplicates everything is likely to be fine.  Feel free to re-open or continue the conversation here if you are still having trouble.  I'm closing

[2020-05-29 17:49] #1662 closed

[2020-05-29 17:50] pipermerriam commented on #1662
Oh, and if we adjust the exception class here, it would be reasonably simple to make the formatting of this error message better with some line breaks and simple markup so that it is easier to pull out the most important information.

[2020-05-29 21:36] rbval commented on #1293
Trying to bump my web3.py version from 4.8.0 to 5.1.0 in order to get support for `poll_latency` in `getTransactionReceipt`.

Seems like this breaks running the stack locally with docker due to `chainId` not being support yet:
[code]
Anything to be done short term?

[2020-05-29 21:39] carver commented on #1293
Interesting, `ganache` doesn't support `chainId`?

You could manually set the chain id of your transaction, so that web3 doesn't try to fill it in for you automatically.

Maybe see if an upgrade of ganache will support chain id? Or see if the eth-tester backend will get the job done for you, since it seems you're just testing locally.

[2020-05-29 21:45] rbval commented on #1293
Thanks for the prompt answer, seems like ganache bump didn't do it. Will try including chainId in the transaction next.

[2020-05-29 23:11] carver commented on #1293
FWIW, ganache claims to have this since a year ago: https://github.com/trufflesuite/ganache-core/pull/419

IDK how to track down which released version that corresponds to.

[2020-05-30 07:26] brschkv commented on #1662
Hi,
thanks for you quick reply. I clipped part of the error message because it became redundant at a certain point.

However, I am able to load and interact with the exact same ABI from web3.js. So I think the contract is actually valid. Probably should have added that in the original description.

web3.js Code:
[code]
Output:
[code]

[2020-05-30 14:52] pipermerriam commented on #1662
Please re-read my reply to you.  It explains why you are getting the exception and what you need to do to fix it.

I suspect web3.js is just not performing the same validation checks that web3.py does.

[2020-05-30 19:02] brschkv commented on #1662
Which is my point: The very first line of the web.py Readme says "A Python implementation of web3.js". So I would expect both libraries to have the same opinion of what a valid contract is, with web3.js being the point of reference.

And also, I don't think the official solution to using vendor supplied contracts (this one being from Compound) should be to hack around in it until it validates.

We

[2020-06-01 17:14] kuabhish commented on #608
this is not helping .. invocation failed..

Please look at my question and suggest something ..

https://stackoverflow.com/questions/62117851/unable-to-verify-a-signed-message-in-solidity

[2020-06-01 18:37] marcgarreau commented on #1421
As of #1663, the documentation is more accurate. Closing this nearly year-old issue; please open a new one if there's still a request beyond this correction.

[2020-06-01 18:37] #1421 closed

[2020-06-01 21:02] marcgarreau commented on #887
Cleaning up stale issues; the work was done, issue didn't get closed with it.

[2020-06-01 21:02] #887 closed

[2020-06-01 21:05] marcgarreau commented on #1112
Cleaning up stale issues; types have been implemented 🚢

[2020-06-01 21:05] #1112 closed

[2020-06-01 22:00] voith commented on #1662
I can verify that the ABI that @brschkv was using has some colliding functions.
More details on [gitter](https://gitter.im/ethereum/web3.py?at=5ed578a9a3a1b13679bf39e1).

[2020-06-03 18:58] kuabhish opened #1667 "Signed Message Hash not matching in web3py and solidity"
* Version: 5.10.0
* Python: 3.7
* OS: Ubuntu-18.04

## Let's start with comparing results of solidity, web3py and web3js

## Writing a signed message

* in web3py
[code]

* in web3js
[code]
* in solidity
[code]

For python(web3py) I also tried using `encode_intended_validator` but that also didn't help me at the end. Problem was the same: message Hash was not matching.

### Results
We can see here

[2020-06-04 08:15] kigawas commented on #898
It's `w3.middleware_onion.inject(geth_poa_middleware, layer=0)` now...

[2020-06-04 16:47] #1667 closed

[2020-06-07 08:08] KipCrossing commented on #537
I just added my public key to my whitelist in the Infura settings - might help someone else

[2020-06-08 16:00] pipermerriam commented on #1656
linking to #1416 and adding "good first issue" even though this is really more of a good 2nd or 3rd issue.

[2020-06-12 16:24] Uxio0 commented on #832
Hi and sorry for the late response, as this was something needed for us I implemented batching support for contract calls (just on HTTPProvider). Do you think this can be integrated on Web3.py easily?

https://github.com/gnosis/gnosis-py/blob/master/gnosis/eth/ethereum_client.py#L898

So for example for fetching information about an erc20 contract:

[code]

[2020-06-12 22:52] pipermerriam commented on #832
Just noting that this fits nicely with the new `Method` class that is used to implement the various APIs.  I think we now have a much firmer foundation to support this functionality if anyone wants to try to take a stab at it.

[2020-06-15 18:28] avatar-lavventura opened #1672 "Whisper: Received event's recipientPublicKey does not contain sender's publicKey"
* Version: 5.11.0
* Python: 3.5
* OS: linux

### What was wrong?

I observe that when a message received sender's public key does not show up instead receiver see itself's public key. Basically I am unable to retreive the public key of the sender from `event`. Could there be any solution for this?

---

What I have [done on ethereum stack](https://ethereum.stackexchange.com/a/58299/4575) pasted be

[2020-06-18 13:54] mudgen opened #1674 "Support for Diamonds"
It would be great if web3.py provided support for deploying and upgrading diamonds. The Diamond Standard is here: https://github.com/ethereum/EIPs/issues/2535

Here is an example of a tool (in Python) that helps manage diamonds: https://github.com/lampshade9909/DiamondSetter

Here is a blog post about that tool: http://joeyzacherl.com/2020/06/diamond-setter-ethereum-smart-contract-manager/

[2020-06-18 20:43] raniama commented on #496
i cannot understand how could i choose the number of blocs as sample_size because the price could changes if i choose different values

[2020-06-18 21:40] marcgarreau commented on #1674
I see this has been broadcasted to many tools/repos, which is fine, but I don't have the bandwidth in the short-term to deep dive into the EIP and brainstorm APIs and the like. If someone is interested enough in this feature, please feel free to propose something specific and concrete.

Upon quick inspection, though, this seems like it may be better suited for a framework like Brownie, cc/ @iamdef

[2020-06-18 21:47] marcgarreau commented on #1650
Closing since I believe this is a configuration issue (and a month old). Hope you've got it resolved, but please reopen with more details if you still have issues.

[2020-06-18 21:47] #1650 closed

[2020-06-18 22:40] carver commented on #496
@raniama please do not spam a bunch of locations with the same question. See our gitter linked in my last response to you.

[2020-06-22 16:51] manuthema-rodriguez opened #1675 "problem with unlock account method"
Versions:
python -->3.6.9
web3.py --> 5.11.1
trinity --> 0.1.0a35

I run trinity with:

trinity --genesis /root/devnet.json --trinity-root-dir /tmp/node1 --data-dir /tmp/node1/devnet --network-id 4711 --disable-tx-pool

i got unexpected error when try to use unlock_account
This is my script,
[code]
I have tried other combinations without success

[2020-06-22 21:37] #1675 closed

[2020-06-23 11:42] karlb opened #1677 "Mismatching chain ids between web3.eth.chainId and chainid opcode"
Calling `web3.eth.chainId` will return the chain id as set in
https://github.com/ethereum/web3.py/blob/master/web3/providers/eth_tester/defaults.py#L215, but using
[code]
returns 0 as `id`, which is the default value in pyevm.

There should be a way to set up an `EthereumTesterProvider` so that these match up. Ideally, this would be the default when doing
[code]

Is this issue something that can/s

[2020-06-25 10:01] Uxio0 opened #1678 "Decoding ERC20 transfer with ERC20 short address attack"
* Version: 5.11.1
* Python: 3.8
* OS: linux

### What was wrong?

When trying to decode transaction `data` using `Contract.decode_function_input` a `InsufficientDataBytes: Tried to read 32 bytes. Only got 31 bytes` is raised. That data is executed by the EVM and I would expect to see it decoded by web3.y, yet it's a [ERC20 Short address attack](https://vessenes.com/the-erc20-short-address-attack-e

[2020-06-28 17:28] fubuloubu commented on #1634
I'm having a similar sort of issue as well, it seems this comes from an issue with `web3.codec.decode_abi` (which `web3.eth.contract` uses) doing things differently from how it would if it were using `decode_single`. The former breaks with the above error, the latter works perfectly:
[code]

As a note, this is for decoding a function that returns a struct of the following format:
[code]

[2020-06-29 15:23] marcgarreau commented on #1674
My gut is still telling me this is in dapp framework territory and outside the scope of web3.py. Closing the issue, but if someone feels strongly otherwise, you can still state your case.

[2020-06-29 15:23] #1674 closed

[2020-07-03 01:04] pipermerriam commented on #1678
Thanks for reporting this.  I haven't dug in so don't take the following as definitive as I'm leaning heavily on memory.

IIRC, we made a design decision favoring safety a while back somewhere in our ABI decoding.  Rather than implicitly padding values, we made a choice to instead raise an exception when the data payload is shorter than the expected length.

What I believe we're encountering now i

[2020-07-03 01:22] pipermerriam commented on #1634
Dumping what I figured out thus far.

Taking the value provided by @fubuloubu it looks like we can correctly perform a round trip encode/decode on the provided value.

[code]

The original example also works if we split the ABI up into it's component parts rather than providing as a tuple-type

[code]

So I think the problem here is that when a function returns a singular *tuple* ABI type we aren'

[2020-07-03 04:25] dfinzer commented on #1629
Running into this as well. Any good workarounds?

[2020-07-06 08:39] pete00067 commented on #492
Hello, I am testing w3.eth.modifyTransaction() on Kovan however it returns
`ValueError: Could not format value '0x2a' as field 'chainId'`
when I tried to replace the tx. I am using infura as node, does this only works with local node?

[2020-07-06 16:29] carver commented on #492
Commenting on old, closed issues isn't the best way to get support. One excellent way to get support is https://ethereum.stackexchange.com . Sometimes our gitter channel works well too, but makes it harder for others to find the same answer you were looking for.

Wherever you post, you will get better & faster answers if your question has a minimal, complete, and verifiable example: https://stacko

[2020-07-06 19:05] manuthema-rodriguez opened #1679 "deploy() is used anywhere in the stable docs, and it was removed"
As a sample, I link this documentation pages:
https://web3py.readthedocs.io/en/stable/examples.html#working-with-contracts

[2020-07-06 19:59] marcgarreau commented on #1679
Thanks for reporting @manuthema-rodriguez. I've got some docs cleanup in flight already, so I'll take care of this along the way.

[2020-07-07 16:41] marcgarreau commented on #1677
Hey, sorry this is has gone unaddressed so far. My goal is to jump in here later this week.

[2020-07-10 16:24] marcgarreau commented on #1677
Poking around, starting with just passing a [custom endpoint](https://github.com/ethereum/web3.py/blob/aa30b3bf97d67b8434cb399c659d8b6425a9bec1/web3/providers/eth_tester/main.py#L58) to the EthereumTesterProvider. You _can_ configure the chainId value this way, though maybe a bit clunky. An example:

[code]

(Note that in its current implementation, whatever is passed to `api_endpoints` is the ent

[2020-07-11 00:33] carver commented on #1677
I think the right solution is to specify the chain id in the genesis parameters to eth-tester, if you want a custom chain id.

That may already be possible, I don't remember. That's where I'd start.

[2020-07-11 00:37] carver commented on #1677
Ah, actually, there's an outstanding issue to move the genesis file parsing to py-evm.* Once that's done, it should be fairly trivial to pass in a genesis file format into eth-tester, and just pass it through to py-evm. Then everything like chain-id settings (plus starting  account balances, fork definitions, etc) should work as expected.

\* See trinity's `trinity/_utils/eip1085.py`

[2020-07-14 03:47] renpu-mcarlo commented on #1629
So can not support ABIEncoderV2 to enable structure-type parameter in event?

[2020-07-14 18:03] esraa95mahmoud opened #1685 "call contract from different user account using web3.py"
The project is a group of Ethereum users, who want to send their data to the blockchain network to be saved, this data is sent by those users by Python. As I understood that each user has an address that sends his data through this address in order to save the data.
Python will be used to send data. My question is how will I specify the addresses that will send the data in the Python file?
Or how

[2020-07-14 19:45] #1679 closed

[2020-07-14 20:12] marcgarreau commented on #1685
Hey @esraa95mahmoud, thanks for reaching out, but GitHub issues are best used for pointing out bugs or making feature requests in the library. I'll see if I can quickly point you in a helpful direction, though.

The `sendTransaction` method or contract functions allow you to specify a `from` value.

Your smart contract can have whatever permissions you code into it. If you write a public function

[2020-07-14 20:13] #1685 closed

[2020-07-22 01:12] roussafi-omar commented on #1675
i have the same probleme

[2020-07-22 07:10] manuthema-rodriguez commented on #1675
it is a limitation of trinity. I recommend using geth with --dev or some test network like ropsten through infura.io.
These two ways worked for me

[2020-07-22 15:02] esraa95mahmoud opened #1693 "DeprecationWarning: This library has been renamed to `eth-abi`. The `ethereum-abi-utils` package will no longer recieve updates. Please update your dependencies accordingly."
when i run

`python 1_accounts.py `
I get the following error
[code]

[2020-07-22 16:06] pipermerriam commented on #1693
You very likely are using a very old version of the library.  Check `pip freeze | grep web3` and see about updating to a new version which should fix this problem.

[2020-07-22 16:06] #1693 closed

[2020-07-22 18:08] marcgarreau commented on #1302
Found my way here after a PR was opened to add documentation for another provider here: https://github.com/ethereum/web3.py/pull/1692.

I like the idea of deprecating native Infura-specific APIs in favor of a more even playing field. Would be lovely to handle all providers via generic env vars, e.g., `WEB3_REMOTE_NODE_URL`, `...SCHEMA`, `...KEY`, but may be unrealistic.

[2020-07-22 18:14] pipermerriam commented on #1302
I think it is reasonable to define a URI scheme for providers that would allow something like `Web3.from_provider_uri(...)` however I think this is still different from the `auto` style imports which are supposed to *just work*.

I'm still in favor of splitting off and releasing a `web3-infura` library that can serve as a template for other hosted providers who wish to provide similar ease-of-onbo

[2020-07-22 19:42] wolovim opened #1694 "Client diversity and Web3.py"
### What was wrong?

Geth dominates the etherscape, [according to Etherscan](https://etherscan.io/nodetracker#) (~75% at the time of writing). Client diversity has been the subject of multiple recent All Core Devs conversations, so it feels apt to create some space to ask if/how Web3.py can support network health in this capacity.

Q's:
- Geth and Parity are first-class citizens in the library. Sh

[2020-07-23 07:28] esraa95mahmoud commented on #1693
i get this error
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support

[2020-07-23 13:32] pipermerriam commented on #1693
Web3.py no longer supports python version 2.  You'll have to upgrade to a more modern version of python.

[2020-07-24 11:21] Uxio0 commented on #1678
Sorry for the late response, I missed this notification. I just wanted to report this because I think it's important that there's a way to decode the `ABIs` using the same logic that the `EVM` (IIRC I even tested that on web3.js and it was working the same way that the `EVM`). I'm not in a hurry for this feature, but it's good to know that there are some things I can do if I need that.

@pipermerr

[2020-07-24 15:52] ErikBjare commented on #1634
Having this issue as well with the Uniswap v2 contracts :slightly_frowning_face:

Is it known when/where this regression (I assume) occurred? Is it in web3.py or eth-abi? I have a thing in prod which I can't update until this is fixed :/

[2020-07-24 16:06] pipermerriam commented on #1634
@ErikBjare can you expand a little,  which function, what inputs are resulting in this error?

[2020-07-24 19:22] pipermerriam commented on #1634
At present, the code example provided in https://github.com/ethereum/web3.py/issues/1634#issuecomment-622457633 works correctly for me, and brief exploration into the uniswap v5 contract @ [0x7665fecb393ca45061a6338662751d6cf45a854d](https://etherscan.io/address/0x7665fecb393ca45061a6338662751d6cf45a854d) didn't appear to have any functions that used tuples for output values.

I'm going to close t

[2020-07-24 20:33] fubuloubu commented on #1634
@pipermerriam were you able to run the test case mentioned in https://github.com/ethereum/web3.py/issues/1634#issuecomment-650797252

We currently have an outstanding failure in Vyper that could be a good target to check if this is fixed in the latest version:
https://github.com/vyperlang/vyper/blob/006968f021b0b0001c0d4fa9465160f1dbfbc453/tests/parser/globals/test_getters.py#L25

[2020-07-24 20:38] marcgarreau commented on #1634
@fubuloubu I started poking around your example this morning. I'm not well-versed in this part of the code base, but the `eth_abi` and `web3.codec` decode methods were doing what I'd expect:

[code]

Do you remember one of these failing or have I got the context wrong?

[2020-07-24 20:54] fubuloubu commented on #1634
Yeah, one of those was failing before (`web3.codec.decode_abi` from `web3.eth.contract`), so I'll give it a shot again and see if our issues are solved by... Some newer release or web3. (Unsure when it was fixed 😬)

[2020-07-24 21:06] fubuloubu commented on #1634
Nope, still an issue:

[code]

[2020-07-24 21:11] pipermerriam commented on #1634
@fubuloubu did you see my analysis of that issue here: https://github.com/ethereum/web3.py/issues/1634#issuecomment-653282706

I'm curious if we can get the ABI produced by that contract so that we can verify/reproduce this using web3 code.

[2020-07-24 21:53] fubuloubu commented on #1634
ABI:
[code]

[2020-07-24 22:52] pipermerriam commented on #1634
Here is what I know so far.....

[code]

Here we see the behavior for **fixed** size value encoding.  The singular/plural encodings are identical.

Next lets look at variable length encodings.

[code]

If we try to decode the output from the `encode_single` call with `decode_abi` things blow up with loud stacktraces.

[code]

So now looking at the tuple example, what I believe we are seeing is an

[2020-07-25 00:09] fubuloubu commented on #1634
@pipermerriam Turns out you were right, in a way.

Same contract in Solidity:
[code]

ABI:
[code]

The difference is that Solidity doesn't even use `tuple` when returning a single `struct`, and abjectly skips parts of the struct it doesn't like (see missing `b` and `e` in the above ABI). It _will_ return a named tuple object if _another_ struct is defined within a struct that is being returned:
[c

[2020-07-25 00:18] pipermerriam commented on #1634
@fubuloubu

Definitely, this needs to be fixed regardless of what decision gets made on how to handle singular tuple types.

As for what to do about methods that return singular tuple types with variable size elements, are we in agreement that the output encoding produced by vyper is missing the "wrapper" that other variable size return values exhibit when returned from the EVM?

[2020-07-25 00:22] fubuloubu commented on #1634
Actually, I figured out that it is actually the opposite: if the value returned is a complex type (such as a `struct` or `tuple`), the convention is _not_ to wrap it. I think we're seeing that our ABI encoder actually did the right thing, but what we output for the ABI is wrong.

[2020-07-25 00:24] pipermerriam commented on #1634
Issue for better exception messaging in `eth-abi`: https://github.com/ethereum/eth-abi/issues/142

[2020-07-25 00:25] pipermerriam commented on #1634
It appears this issue is not a problem with web3.py and I am now re-closing this.  Happy to re-visit/re-open if someone feels differently or there is something that web3.py could be doing in this case to mitigate.

[2020-07-25 02:33] fubuloubu commented on #1634
Would also like to note that a function returning a tuple directly is most likely untested behavior, because no Ethereum smart contract language implements it (unless it is tested separately in `eth_abi`, which seems likely)

[2020-07-25 03:20] #1634 closed

[2020-07-26 17:54] kaleb-keny opened #1695 "waitForTransactionReceipt Data Type String Error"
* Version: 5.6.0
* Python: 3.7.4
* OS: win
* `pip freeze` output

### What was wrong?

The issue is when doing `w3.eth.waitForTransactionReceipt('0x1234....',10)` what happens is that it gives back the following error:
`TypeError: Unsupported type: The primitive argument must be one of: bytes,bytearray, int or bool and not str`
In case the transaction is not yet mined, because the hash datatype is

[2020-07-28 17:30] esraa95mahmoud opened #1696 "AttributeError: type object 'Web3' has no attribute 'utils'"
When I run into a Python file with the smart contract
`contract.functions.set_data (1, i, lis1 [i]). transact ({'from': Web3.utils.toChecksumAddress (0xdc2221d583aef3539547cb041cb58fa3c81f1d92)})`
I'm getting the error
Traceback (most recent call last):
[code]

[2020-07-29 18:14] pipermerriam commented on #1696
I think you can find what you need in the documentation:

https://web3py.readthedocs.io/en/latest/web3.main.html#web3.Web3.toChecksumAddress

[2020-07-29 18:14] #1696 closed

[2020-07-31 13:05] nikitapodga opened #1697 "The issue with web3.eth.getBalance()"
* Version: 5.12.0
* Python: 3.8.5
* OS: win
* `pip freeze` output

### What was wrong?
The issue is when doing `balance = web3.eth.getBalance(k)`
[code]

[code]

[2020-07-31 16:46] pipermerriam commented on #1697
In your code `web3` is the python module.  You should be calling `w3.eth.getBalance(k)`

[2020-07-31 16:46] #1697 closed

[2020-07-31 19:11] om26er commented on #1402
We are trying to keep our multiple off-chain backends in sync with the blockchain but are having a hard time doing that. We currently have the polling interval set to 300 seconds, maybe we could adjust that a bit. However there are still cases where we could only "afford" a few seconds lag between on-chain and off-chain states. Being able to subscribe to blockchain events will likely make things s

[2020-08-02 17:45] esraa95mahmoud opened #1698 "raise DeprecationWarning( DeprecationWarning: This library has been renamed to `eth-utils`. The `ethereum-utils` package will no longer recieve updates. Please update your dependencies accordingly."
when i run` python3 1_accounts.py` command
i get the error
[code]

[2020-08-03 07:00] xerx-x commented on #1578
pip install web3
Collecting web3
  Using cached web3-5.12.0-py3-none-any.whl (467 kB)
Collecting eth-abi<3.0.0,>=2.0.0b6
  Using cached eth_abi-2.1.1-py3-none-any.whl (27 kB)
Requirement already satisfied: websockets<9.0.0,>=8.1.0 in c:\python38\lib\site-packages (from web3) (8.1)
Collecting eth-account<0.6.0,>=0.5.2
  Using cached eth_account-0.5.2-py3-none-any.whl (94 kB)
Requirement already sat

[2020-08-03 07:08] RZeynalov opened #1699 "OverflowError: Python int too large to convert to C ssize_t"
* Version: x.x.x
* Python: 3.7
* OS: win
* web3: 5.12
* `pip freeze` output

[code]

### What was wrong?

Hi Guyz,

i am trying to run getBidPrice (_quantity) function of setrebalance contract (https://etherscan.io/address/0x19f4a2f8e21915376f1429c26a3a9b9b1db5ff5a#code ) to get bids flow, but i get an error (OverflowError: Python int too large to convert to C ssize_t), i ve tried to modify this f

[2020-08-03 18:58] pipermerriam commented on #1699
Confirming that I can reproduce this, not sure why it is happening yet.

The raw data returned by the call is:

[code]

The expected return type is `(uint256[], uint256[])`

Some brief futzing didn't yield any valid way to manually decode this return value.

[2020-08-03 19:09] pipermerriam commented on #1699
Alright, I think I "some" of what is going on here:

The returned "data" from the call is

[code]

This looks a lot like a transaction with a 4byte prefix.  Lookup up this 4byte prefix we get a revers map to `Error(string)` as the ABI.

Decoding the data, stripping off the first 4 bytes gives us:

[code]

So it appears that this call is throwing an error (revert?), but that web3 is trying to decod

[2020-08-03 19:12] pipermerriam commented on #1699
A little more digging:

Removing all of the contract mechanisms and doing this call directly using `w3.eth.call`:

[code]

[2020-08-03 19:18] pipermerriam commented on #1699
Little more digging.  This is using the websockets infura provider.  Here is the raw JSON returned by the response:

[code]

So the JSON-RPC isn't giving us any indication that this call causes a revert.  I think we need to do some digging to understand why this is happening and whether the behavior here is defined anywhere since it appears that internally the transaction actually fails, but that

[2020-08-03 19:36] pipermerriam commented on #1699
And one more bit of information.

Using the etherscan web-based contract interface, this is the response I get from whatever API they hit.

[code]

Which suggests that either they are using a custom JSON-RPC backend, or that the infura endpoint we are hitting is returning a non-standard response.  I'm in the process of re-syncing my geth node after which I'll experiment with whether it provides an

[2020-08-03 20:03] pipermerriam commented on #1698
can you provide the output of `pip freeze` so we can see what dependencies you have installed.

[2020-08-03 20:18] pipermerriam commented on #1699
Geth (1.9.15) returns an empty response to this call: aka it returns `0x`

[2020-08-06 05:23] nolash opened #1700 "Docs fail to build 5.12.0"
* Version: 5.12.0
* Python: 3.8.4
* Sphinx: 3.1.2
* OS: linux 5.7.0

* `pip freeze` output

[code]

[code]

workaround (not same command as makefile, so probably doesn't produce the same result):

[code]

[2020-08-06 06:44] nolash opened #1701 "Cannot set multiple providers"
* Version: 5.12.0
* Python: 3.8.4
* OS: linux 5.7.0
* `pip freeze` output

[code]

wtr: https://web3py.readthedocs.io/en/stable/web3.main.html#providers

[code]

[code]

[code]

Control:

[code]

[code]

[2020-08-06 07:01] esraa95mahmoud commented on #1698
when i run `sudo pip freeze | grep web3`
i get
[code]
i dont understand

[2020-08-06 11:51] esraa95mahmoud commented on #1698
the output of `pip freeze`
[code]

[2020-08-06 15:23] kclowes commented on #1701
Sorry for the confusion. We removed the functionality to set multiple providers on one web3 instance. IIRC it was because there was no logic to be able to cycle through providers so it didn't really seem to make sense to allow multiple providers. Apparently the docs didn't get updated though, sorry about that. One workaround is to have two different web3 instances, each with a different provider t

[2020-08-06 15:50] MatthiasLohr commented on #1490
Would need that, too. However, I even failed to try your dirty hack so most probably the wrong person for trying to implement in a good way :/

[2020-08-06 15:51] kclowes commented on #1698
@esraa95mahmoud It looks like you have web3 v3.11 installed. We currently only support v5+. Try upgrading your web3 version and feel free to reopen this issue if you're still having problems!

[2020-08-06 15:51] #1698 closed

[2020-08-06 20:13] marcgarreau commented on #1700
Just did a fresh clone and install with Python 3.8.4, then ran `make docs` without issue. Can you provide some more context about what you're trying to do and what commands you're running?

[2020-08-07 06:03] esraa95mahmoud commented on #1698
i have this error i can not solve it `ERROR: File "setup.py" not found. Directory cannot be installed in editable mode: /home/esraa/private-ethereum`

[2020-08-08 14:25] nolash commented on #1700
@marcgarreau when I try `make docs` `make build-docs` `sphinx-apidoc` I get the error above. I am only trying to build the docs to browse them in browser locally.

[2020-08-08 14:27] nolash opened #1702 "Why is web3.geth.personal.signTransaction not included?"
I noticed that `web3.geth.personal.signTransaction` is not implemented. This is part of the `web3js` apis on the `..personal` endpoint. Why is this, and would it be an idea to add it?

[2020-08-10 22:39] kclowes opened #1703 "Update Geth Version Support"
This can probably be split up into two related issues, but since the Geth team doesn't support any old versions, we can at least drop support for Geth versions prior to the most recent hard fork. Dropping support includes:
- removing logic around the old versions in integration tests
- updating the integration test fixture to the most recent Geth and then fixing any broken tests
   - We will proba

[2020-08-11 18:59] Pet3ris opened #1704 "Events cannot retreive their ABI if multiple events have the same name"
* Version: 5.12.0
* Python: 3.7
* OS: osx

### What was wrong?

`_get_event_abi()` doesn't work with overloaded events (same name, but different argument counts).

From [here](https://github.com/ethereum/web3.py/blob/aa30b3bf97d67b8434cb399c659d8b6425a9bec1/web3/contract.py#L1125), we can see that `_get_event_abi()` calls `find_matching_event_abi()`, which has the problem of not working if two eve

[2020-08-13 10:24] ayeteng opened #1706 "Where can I find the transaction revert reason provided by contract?"
* Version: 5.2.2
* Python: 3.6
* OS: osx
* Geth: 1.9.15-stable-0f77f34b

### What was wrong?
when send a transaction to blockchain but get fail status, how can I know the reason reported by the contract as printed in Remix?

eth.getTransaction("{txhash}") and eth.getTransactionReceipt("{txhash}") doesn't provide me sufficiency details.

### Submit the transaction:
tx_hash =getattr(test_contract.fu

[2020-08-13 14:01] marcgarreau commented on #1706
Native support for revert messages is a work in progress, but will hopefully be ready in the next release. In progress here: https://github.com/ethereum/web3.py/pull/1585.

Tangentially, the Brownie framework has some support for [revert message testing](https://eth-brownie.readthedocs.io/en/stable/tests-pytest-intro.html#handling-reverted-transactions), if that's of interest.

[2020-08-14 04:24] ayeteng commented on #1706
I found when send the gas estimate function and I can get contract exception. I will use this to get some failure message for the time been. Look forward to get revert message function enabled in the next release.

[2020-08-14 14:55] n3me5is-git opened #1707 "Can not pip3 install web3 on raspberry 4"
I'm using python 3.7 on raspbian and using `pip3 install web3'. The error I get is
[code]
All the other packages I need are installing fine.
Any suggestions?

[2020-08-14 16:21] kclowes commented on #1707
I am not familiar with piwheels, but following the url (https://www.piwheels.org/simple/web3/), indicates that there isn't a web3 package there. A brief look at the [piwheels FAQ](https://www.piwheels.org/faq.html) leads me to believe that there should be, so will take some troubleshooting with the piwheels team to figure out why it's not there. However, if you run this command: `pip3 wheel <packa

[2020-08-14 16:21] #1707 closed

[2020-08-14 16:49] kclowes commented on #1695
@kaleb-keny I'm not sure what the question is here, can you clarify?

`w3.eth.sendTransaction` and `w3.eth.sendRawTransaction` both should return Hexbytes. How are you getting the transaction hash? I am also not sure what 'is not in the chain' supposed to be in the second part of your question. If you can provide a [minimum reproducible code snippet](https://stackoverflow.com/help/minimal-reproduc

[2020-08-14 19:14] kaleb-keny commented on #1695
@kclowes Hey thank you for your reply...so please find below a reproducible code which just need an infura key.

[code]

So the first thing I notices, as you can see if the transaction is not on chain, the first two `waitForTransactionReceipt` functions give back different errors from the same hash depending whether the transaction hash fed is hexstr of bytes. I would favor having only one error,

[2020-08-14 20:06] kclowes commented on #1695
Ah, got it. Thanks for clearing that up.

You're getting two different error messages because we do param normalization before we send the request, so if the params you're passing aren't valid, the code will error out with a `TypeError` before we send the JSON-RPC request.

I would catch the `TimeExhausted` error, rather than the very broad `Exception`, then you don't have to filter for 'is not in

[2020-08-14 20:06] #1695 closed

[2020-08-14 21:17] kclowes commented on #1578
@xerx-x does installing Microsoft Visual Studio as mentioned [above](https://github.com/ethereum/web3.py/issues/1578#issuecomment-585292341) work? If not, there are some answers here that might help: https://stackoverflow.com/questions/40018405/cannot-open-include-file-io-h-no-such-file-or-directory. If neither of those fix the problem, feel free to open a new issue.

[2020-08-15 19:30] n3me5is-git commented on #1707
`pip3 wheel web3` solved the issue. Thanks. I also opened the issue as suggested so they can add the wheel to the database.

[2020-08-18 09:22] hivemall opened #1710 "ModuleNotFoundError: No module named 'eth_account'"
git clone + `git checkout tags/v5.12.0 -b v5.12.0_b` + pytest in base dir results in:
[code]

[2020-08-18 20:49] marcgarreau commented on #1710
Did you install the dependencies? For local development, we use `pip install -e .[dev]`

I'm assuming that'll resolve it, so closing this issue. Please reopen if that's not the case.

[2020-08-18 20:49] #1710 closed

[2020-08-19 09:26] hivemall opened #1711 "Get the contract abi by address to simplify contract constructor? [FEATURE]"
Reviewing the [doc](https://web3py.readthedocs.io/en/latest/examples.html#sending-tokens) it seems not possible to send/receive erc20s since the contract `>>> contract = w3.eth.contract(contract_address, abi=ABI)` expects an abi to be avail (eg from https://etherscan.io/address/0x0f5d2fb29fb7d3cfee444a200298f468908cc942#code).

Expected: The contract address should suffice as unique identifier pul

[2020-08-20 16:37] marcgarreau commented on #1711
This feels like a layer on top of web3.py to me. The change would be fairly significant, requiring a round trip to a node or external service for lookup. If you have some need of dynamic ABI lookups, I think it would be relatively straightforward to build that functionality yourself and be able to more easily account for where to do the lookup, what chain you're on, etc. Otherwise, if you're makin

[2020-08-20 19:07] hivemall commented on #1711
i was browsing around myetherwallet and noticed that they pull it from their github repo  [const fetchContracts = async () => {](https://github.com/MyEtherWallet/MyEtherWallet/blob/8616f0847d70bd23e4c27db40294f86c4c01bc81/fetchLists/index.js#L167), thats all.
on top or middleware layer is probably way to go. ty

[2020-08-20 19:07] #1711 closed

[2020-08-21 03:46] ayeteng opened #1712 "Where to find the argument mapping methodology when send transaction to a function?"
* Version: 5.12.0
* Python: 3.6
* OS: linux
* Solidity: ^0.6.2
### What was wrong?

I have a function with several arguments:

`function batchAdd(address to, bytes[] memory descriptions, uint256[] memory amounts, bytes memory data) public`

I try to encode my input:
[code]

Error message:
[code]

How to encode function argument types properly?

[2020-08-21 04:11] ayeteng commented on #1712
my bad. I found the address should be set with '0x'
I can submit the transaction.

[2020-08-21 04:11] #1712 closed

[2020-08-22 13:22] esraa95mahmoud opened #1713 "web3.exceptions.BadFunctionCallOutput web3.exceptions.BadFunctionCallOutput: Could not transact with/call contract function, is contract deployed correctly and chain synced?"
When I search for an object through a web application with Python as follows, I call a function from the smart contract and I get incomprehensible data. Python code is as follows:
[code]
solidity code is as follows:
[code]

When I execute a Python file i get error :
**web3.exceptions.BadFunctionCallOutput web3.exceptions.BadFunctionCallOutput: Could not transact with/call contract function, is con

[2020-08-23 20:38] kclowes commented on #1713
Assuming you have the ABI and ignoring the typo where x is defined, I don't see anything obviously wrong. Is the contract for sure deployed? I don't see anything associated that address on mainnet or any of the testnets

[2020-08-24 02:08] ShubhamKarala opened #1714 "TypeError: Address <eth_account.signers.local.LocalAccount object at 0x7ffaa4c4adc0> must be provided as a string"
* Version: 5.12.0
* Python: 3.8
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
When I try to deploy the smart contract I constantly got same errot.
[code]

* The code which produced the error

[code]

[2020-08-24 02:38] ShubhamKarala commented on #1714
nevermind, I got it. I was storing object in w3.eth.defaultAccount instead of the account address.

[2020-08-24 02:38] #1714 closed

[2020-08-24 17:38] kclowes opened #1716 "mypy can't find methods in `eth-utils.curried `"
# What was wrong?

Eth-utils had some linting tests failing, and updated the `curried` stub file (`eth-utils/curried/__init__.pyi`) in this PR: https://github.com/ethereum/eth-utils/pull/191/files. This update broke the web3.py mypy runs. Trinity has a similar problem described [here](https://github.com/ethereum/trinity/issues/1982).

### How can it be fixed?
I found these issues:
https://github.c

[2020-08-25 15:35] duaa99 opened #1717 "raise ValueError(response["error"]) ValueError: {'message': 'VM Exception while processing transaction: invalid opcode', 'code': -32000, 'data': {'stack': 'RuntimeError: VM Exception while processing transaction: invalid opcode\n"
[code]
   `web3.eth.waitForTransactionReceipt(contract.functions.set_data(1,i,lis1[i]).transact({'from':'0x343A55f7792f6a355CD8f9109C869F9c6DA7b3a8'}))`

Gives me an error on this
``web3.eth.waitForTransactionReceipt(contract.functions.set_data(1,i,lis1[i]).transact({'from':'0x343A55f7792f6a355CD8f9109C869F9c6DA7b3a8'})`)`
[code]

can help me .....

[2020-08-26 08:18] kaleb-keny opened #1718 "waitForSeveralTransactionReceipts"
* Version: 5.6.0
* Python: 3.7.4
* OS: win
* pip freeze output

I am working on a piece of code that needs to await the receipt of several hashes and returns a result as soon as a result is returned using `asyncio.FIRST_COMPLETED`. This should happen either if a timeout error  is triggered or an actual receipt is received. The issue I am facing is that `waitForSeveralTransactionReceipts` is not an

[2020-08-26 16:15] kclowes commented on #1716
update: AIUI, eth-utils 1.9.4 removed the `pyi` file so we'll need to add missing curried methods like so: https://github.com/ethereum/eth-utils/pull/200/files#diff-daeec037a8849e663467fa69ac7d6e6cR155-R173

[2020-08-26 16:46] kclowes opened #1719 "Flaky Geth websocket tests"
### What was wrong?
[This PR](https://github.com/ethereum/web3.py/pull/1708) introduced flaky tests in the Geth Websocket module.
Failures look like: https://app.circleci.com/pipelines/github/ethereum/web3.py/331/workflows/b033c86b-528a-47eb-a699-44027cb1e46b/jobs/122605

[2020-08-26 16:52] kclowes commented on #1718
@kaleb-keny I'm not sure what the question is here. Can you clarify?

[2020-08-26 17:00] kclowes commented on #1717
@duaa99 my first guess is that it might be your bytecode. Is your bytecode correct?

[2020-08-26 20:01] kaleb-keny commented on #1718
Yeah sure no issue, so the purpose of this snipped of code is to take in several hashes as an input and should await a response from one of the `waitForTransactionReceipt` asynchronously.  When one of the hashes returns a response (either a receipt or a timeout) then it should terminate all the tasks and return the result.

I am not able to figure out how to await `w3.eth.waitForTransactionReceipt

[2020-08-26 20:29] kclowes commented on #1718
Gotcha. I am not super familiar with async python, but AIUI, I don't think that is possible with how the code base stands.

@pipermerriam do you have any ideas?

[2020-08-26 20:52] kaleb-keny commented on #1718
Yeah I understand, async on python is really challenging as the docs are really not that straightforward... So the end objective of this is I send a transaction, it's still pending because of the crazy gas prices, ok I send another one with the same nonce... So  I would need await the new transaction as well as the old one as it could happen that the first one is mined by the time the second is se

[2020-08-27 21:56] kclowes opened #1720 "Update Flake8"
* Version: 5.12.0
* Python: 3.8

### What was wrong?
flake8 3.4.1 doesn't run with python 3.8, but upgrading flake8 will fail our linting.

### How can it be fixed?
Upgrade flake8 to the most recent version and fix all the errors.

...Or maybe this is a good time to pull in black

[2020-08-28 00:33] pipermerriam commented on #1718
Web3.py doesn't yet support native awaitable APIs.  If you are using `asyncio` you can use [loop.run_in_executor](https://docs.python.org/3/library/asyncio-eventloop.html#asyncio.loop.run_in_executor) to push it into a thread but I can't make any guarantees that it will *just work*.

You can see me doing something similar but using the `trio` async framework here:

https://github.com/ethereum/ctha

[2020-08-28 04:02] kaleb-keny commented on #1718
alright thank you for your replies @pipermerriam  @kclowes I'll look into it.

[2020-08-28 04:02] #1718 closed

[2020-08-28 13:34] step21 opened #1721 "pypiwin32 vs pywin32"
* Version: since 4.2.0
* Python: 2.7/3.4/3.5/*
* OS: osx/linux/win

### What was wrong?

pypiwin32 is an outdated package, that basically only requires pywin32. To make things less complex and tidier and easier on environments without that packages (as it basically does not do anything) it would be nice to switch to pywin32. It should just work, as abi wise they are the same and even from the same

[2020-08-29 09:40] duaa99 opened #1723 "How do I count the elements of an array in solidity?"
In my project, I want to count the elements of an array as follows:

[code]
When I call a count function to see how many elements in the array it always gives me 1 no matter how many of the elements of the array

`   print( format(contract.functions.count().call()))
`How do I count the elements of an array ??

[2020-08-31 16:17] kclowes commented on #1723
It looks like there is something wrong with your Solidity code. I am going to close because this looks to me like more of a Solidity question than a web3 question but feel free to reopen if you feel that I'm wrong. I would start debugging by using [Remix](remix.ethereum.org) to compile your Solidity and then you can deploy a contract to the testnet and interact with it that way all through Remix.

[2020-08-31 16:17] #1723 closed

[2020-09-01 10:07] esraa95mahmoud opened #1725 "ValueError: {'message': 'VM Exception while processing transaction: invalid opcode"
When I run the Python file, it is connected with the smart contract as follows:
[code]

**I get this error:ValueError: {'message': 'VM Exception while processing transaction: invalid opcode', 'code': -32000, 'data': {'0xbf973af40fd404802791ad76df890672564456efd9be22b51dd4e646e46763d9': {'error': 'invalid opcode', 'program_counter': 1177, 'return': '0x'}, 'stack': 'RuntimeError: VM Exception while

[2020-09-02 16:32] carver commented on #1719
Oops, didn't realize that linking it from the PR would auto-close it on the merge (without the "close" tag)... weird.

[2020-09-02 16:34] kclowes commented on #1719
Yeah, super weird. At first I thought you just figured it out really quickly 😆

[2020-09-02 20:16] kaleb-keny opened #1726 "Issue Pip Installing Web3"
* Version: latest
* Python: 3.8
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
I am getting an error while trying to pip web3

* The code which produced the error
[code]

Also I tried pip installing lru-dict and got the below:
[code]

[2020-09-02 20:24] kclowes commented on #1726
@kaleb-keny I would try reinstalling gcc. I've been having trouble with gcc lately too, but I thought it was something with my local environment. I use homebrew so `brew reinstall gcc`. If that doesn't work, then I've had success with full uninstall and reinstall:
[code]
Feel free to reach back out if neither of those work

[2020-09-02 20:37] kaleb-keny commented on #1726
@kclowed, I just uninstalled and reinstalled it and got maybe an error without a problem with gcc
[code]

[2020-09-02 20:46] kaleb-keny commented on #1726
ok seemed like it worked now needed `sudo apt-get install python3-dev` thanks @kclowes

[2020-09-02 20:46] #1726 closed

[2020-09-04 03:32] kclowes opened #1729 "Get Rid of Hypothesis Deprecation Warnings"
* Version: 5.12.1

### What was wrong?

At the end of our core tests, we have a Deprecation Warning that looks like:
`HypothesisDeprecationWarning: tests/core/utilities/test_event_filter_builder.py::test_match_any_bytes_type_properties uses the 'web3' fixture, which is reset between function calls but not between test cases generated by `@given(...)`.  You can change it to a module- or session-sco

[2020-09-05 18:43] Daxxas opened #1730 "Can't install web3 through pip"
* Version: x.x.x
* Python: 3.8.5
* OS: win
* `pip freeze` output

[code]

### What was wrong?

With the command "pip install web3"
I got the error as following :

[code]
 I did followed this as much as I could : https://web3py.readthedocs.io/en/latest/troubleshooting.html#setup-environment

I'm using JetBrains PyCharm and its console with a virtual environnement

what can I do to be able to instal

[2020-09-07 16:49] r-marques commented on #1730
I see this happening in alpine. With fedora or ubuntu it works fine

[2020-09-08 18:39] Pet3ris opened #1731 "`web3.eth.getTransaction()` output documentation out of date"
### What was wrong?

This page https://web3py.readthedocs.io/en/stable/web3.eth.html?highlight=gettransaction#web3.eth.Eth.getTransaction documents `web3.eth.getTransaction` output incorrectly. It is missing three arguments `v`, `r`, `s` that typically do appear in the transaction output.

### How can it be fixed?

-

[2020-09-08 23:15] pipermerriam opened #1732 "ModuleV2 should probably not inherit from Module"
### What was wrong?

https://github.com/ethereum/web3.py/blob/08ff156c071eb4486017b7e035d30a08750e927f/web3/module.py#L62-L101

Note that `Module` has a `web3` property declared on it's type.

And explicitely, `ModuleV2` does **not** populate this property.

These two classes should probably inherit from a common base, but should **not** have `ModuleV2` inheriting from `Module` since they expose f

[2020-09-10 14:46] iammortimer commented on #1730
i had the same problem with an alpine docker build. Setting web3 <= 5.8.0 let's it run through.
If that works for you depends on if you need any changes from after 5.8.0

[2020-09-10 15:28] kclowes commented on #1730
Interesting, thanks for raising this and tracking down a version that works. I'll see if I can figure out what changed after 5.8.0 🤔

[2020-09-10 19:57] Daxxas commented on #1730
Installing Windows SDK fixed the issue for me
https://developer.microsoft.com/fr-fr/windows/downloads/windows-10-sdk/

[2020-09-11 22:19] kclowes opened #1736 "Autoprovider repo template"
### What was wrong?

Currently, you can access an Infura provider in web3 using `from web3.auto.infura import w3`. This was good at the time because Infura was the only viable provider. However, a while back someone submitted a PR to add Nodesmith as an auto provider. After some internal discussion, we decided that we didn't want to be the gatekeeper for every new node provider, and decided that w

[2020-09-11 22:19] kclowes commented on #1416
Remove Infura auto provider logic from within web3 and make a template for new auto providers to use. See issue #1736

[2020-09-12 20:12] mikeshultz opened #1737 "Docs still mention UnhandledRequest but it's been removed"
### What was wrong?

There are still two mentions of `UnhandledRequest` in the docs even though it appears to have been removed in #1166.

- The [note in the Infura provider section of the quickstart](https://web3py.readthedocs.io/en/stable/quickstart.html#provider-infura)
- [`BaseProvider.isConnected()` section of the Web3 internals](https://web3py.readthedocs.io/en/stable/internals.html#BaseProv

[2020-09-12 23:57] mikeshultz opened #1738 "_parse_logs() missing 1 required positional argument: 'errors'"
* Version: 5.12.1
* Python: 3.8.3
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

When trying to use an event without initializing the Event instance, methods may throw errors like this:

    Traceback (most recent call last):
      File "main2.py", line 9, in <module>
        contract.events['AddressEvent'].processReceipt(EVENT_RECEIPT, STRICT)
      File "/home/mike/.venvs/web3te

[2020-09-14 17:29] fathomson opened #1739 "Python int too large to convert to C ssize_t in w3.eth.contract.functions.symbol()"
Issue similar to: [1699](https://github.com/ethereum/web3.py/issues/1699)

* Version: 5.21.1
* Python: 3.7.7
* OS: win
* `pip freeze` output

[code]
### What was wrong?

The w3.eth.contract.functions.symbol() throws an error on certain contract addresses, thus not being able to load the contract details.

* The code which produced the error

[code]

* The full output of the error

[code]

* What t

[2020-09-14 19:55] kclowes commented on #1738
Thanks for this report @mikeshultz. It does indeed look like a bug. I'll dig in as soon as I can!

[2020-09-14 20:10] kclowes commented on #1737
Yep, you're right. Without doing too much digging it looks to me like we just pass through whatever error comes from the  provider, but docs definitely need to be changed. Thanks for the report!

[2020-09-14 22:54] #1737 closed

[2020-09-14 23:29] kclowes commented on #1739
I suspect this is the same as https://github.com/ethereum/eth-abi/issues/142 - i.e. just a really confusing error message.

To troubleshoot, make sure your ABI is correct. When I pull the ABI from the contract at "0x08A2E41FB99A7599725190B9C970Ad3893fa33CF" I get the below results:
[code]

I'm going to close, but if this doesn't fix your issue, please re-open because this has come up a bunch!

[2020-09-14 23:29] #1739 closed

[2020-09-14 23:34] pipermerriam commented on #1739
@kclowes this previously was happening due to the JSON-RPC response returning the revert reason instead of the function call output.  I documented that in #1699

[2020-09-14 23:49] kclowes commented on #1739
Yeah, I saw that one, but the symbol that they're calling above is just a state variable, which wouldn't trigger any revert, right? So it seems like there are two separate issues that could cause this OverflowError: 1) bad ABI, and 2) `revert`?

[2020-09-15 00:08] pipermerriam commented on #1739
I'm trying to avoid making assumptions about what what the raw JSON-RPC response is that is coming back.  You are correct though that in general, this is caused by the return value not being well formed with respect to the provided ABI.  We just can't necessarily diagnose it until someone inspects the raw response.

[2020-09-15 16:41] marcgarreau commented on #1416
Whisper is officially out of Geth distros ([latest release notes](https://github.com/ethereum/go-ethereum/releases/tag/v1.9.21)), so we probably ought to drop support too.

[2020-09-15 16:44] marcgarreau commented on #1703
Geth version was bumped to 1.9.19 in this PR: https://github.com/ethereum/web3.py/pull/1708. A couple patch releases have come out since, but the purpose of this issue has been achieved. (Bumping to the latest version will cause all Whisper-related tests to fail. This has been noted in the v6 breaking changes list.)

[2020-09-15 16:44] #1703 closed

[2020-09-15 16:58] marcgarreau commented on #1672
Whisper was finally removed from Geth distributions (see: https://github.com/ethereum/go-ethereum/releases/tag/v1.9.21), so I expect that we will soon drop support for it too. I believe Waku, the Status fork of Whisper, continues to be supported. If this is mission critical software, that's where I would be looking. Closing as a `wontfix`, but welcome feedback or additional context.

[2020-09-15 16:58] #1672 closed

[2020-09-15 20:16] kclowes commented on #1721
@step21 it would be awesome if you wanted to propose a PR! I think this is the line that needs to be changed:
https://github.com/ethereum/web3.py/blob/master/setup.py#L82. Thanks!

[2020-09-16 10:50] step21 commented on #1721
I omitted release notes for now, because the actual imports didn't change and users will not import this directly anyway.

[2020-09-16 17:02] marcgarreau commented on #1416
v6 is a probably a good time to reflect on some client namespace topics, given:
- Parity is now OpenEthereum (and has been for a while)
- Both Parity and OE clients are in the wild
- Soon™, OE is set to diverge significantly from Parity, see: [recent blog post](https://medium.com/openethereum/vision-for-openethereum-ex-parity-client-eb7b11f6eef8)
- Other clients on the sidelines: Nethermind, Trini

[2020-09-16 21:01] #1701 closed

[2020-09-17 11:38] AdamMiltonBarker opened #1744 "Basic auth"
### What was wrong?

Cannot find information on whether basic auth is supported. I have tried with kwargs but get error about Authorization key.

### How can it be fixed?

If it is not supported can you suggest a way to interact with private ethereum blockchain that is protected by a proxy with basic authentication requirement.

[2020-09-17 12:55] AdamMiltonBarker commented on #1744
I resolved this, for anyone that may require the information in the future, the following worked:

w3 = Web3(Web3.HTTPProvider("URL", request_kwargs={'auth': HTTPBasicAuth('User', 'Pass') }))

[2020-09-17 12:55] #1744 closed

[2020-09-17 17:46] marcgarreau commented on #379
**[old issue cleanup]**

My gut is that Web3.py probably shouldn't have primitives for leasing ENS names, and that functionality should remain with the ENS app (or be built as needed by dapp devs). Agree/disagree? Is there any other functionality included in "Registrar Integration" that should be considered?

[2020-09-17 17:52] marcgarreau commented on #567
stale; for any new installation bugs, please open a new issue.

[2020-09-17 17:52] #567 closed

[2020-09-17 17:55] marcgarreau commented on #403
`wontfix`, because Whisper is now gone from both Geth and OpenEthereum/Parity.

[2020-09-17 17:55] #403 closed

[2020-09-17 17:57] marcgarreau commented on #561
CircleCI is in use (and stable).

[2020-09-17 17:57] #561 closed

[2020-09-17 18:07] marcgarreau commented on #550
**[old issue cleanup]**

Always room for improvement, but events and filters are better documented these days. Please open another issue for any new bugs.

[2020-09-17 18:07] #550 closed

[2020-09-17 18:18] marcgarreau commented on #385
**[old issue cleanup]**

Confirmed fixed.

[2020-09-17 18:18] #385 closed

[2020-09-17 18:21] marcgarreau commented on #570
**[old issue cleanup]**

This is ancient, but the issue was just a typo `totalSuply` vs. `totalSupply`.

[2020-09-17 18:21] #570 closed

[2020-09-17 18:33] marcgarreau commented on #1142
stale; re-open with more context if appropriate.

[2020-09-17 18:33] #1142 closed

[2020-09-17 19:04] carver commented on #379
Yup, agree. At most, maybe it's useful to know if/when a lease on a name ends, because it can affect how trustworthy a name is. (Maybe we ought to reject resolving names where ownership has already expired, for example).

But that's a pretty advanced feature, and belongs far enough down on the priority list that it should just be re-opened as an issue when it's time.

[2020-09-17 19:04] #379 closed

[2020-09-17 21:20] kclowes opened #1745 "remove block_number_formatter in favor of to_hex_if_integer"
* Version: 5.13 (to be released)

### What was wrong?
In `web3/_utils/method_formatters.py` there is a method called `block_number_formatter` that is used for all of the block numbers. However, I also want to use it for a transaction index. I added a method called `to_hex_if_integer` that is the exact same functionality with a different name.

### How can it be fixed?

This should be a straightfor

[2020-09-18 13:56] AdamMiltonBarker opened #1747 "ValidationError"
* Version:5.12.1
* Python: 3.6.9
* OS: Linux Ubuntu
* `pip freeze` output

[code]

### What was wrong?

Using the following code on a contract that can be called successfully, I retrieve ValidationError and no additional information, the account I am sending the transaction with is unlocked. This issue only exists when sending to the contract methods, all calling works fine.

id is the Mogod

The

[2020-09-18 14:00] AdamMiltonBarker commented on #1747
Lol speak and you shall find the issue immediately, I got the full error now,

`ValidationError("\nCould not identify the intended function with name `registerHash`, positional argument(s) of type `(<class 'bson.objectid.ObjectId'>, <class 'bytes'>, <class 'float'>, <class 'int'>, <class 'str'>, <class 'str'>)` and keyword argument(s) of type `{}`.\nFound 1 function(s) with the name `registerHash`

[2020-09-18 14:05] AdamMiltonBarker commented on #1747
Yep my fault sorry :)

[2020-09-18 14:05] #1747 closed

[2020-09-18 20:52] marcgarreau commented on #507
**[old issue cleanup]**

Closing due to age; testing infra must have evolved a ton since this was written. New issue warranted if necessary.

[2020-09-18 20:52] #507 closed

[2020-09-18 20:58] marcgarreau commented on #478
**[old issue cleanup]**

I believe this hypothesis testing belongs (and already exists) in eth-account. Correct me if I'm wrong.

[2020-09-18 20:58] #478 closed

[2020-09-18 20:59] marcgarreau commented on #431
**[old issue cleanup]**

Not sure of all the context here, but if any action still required, it should be tracked in the relevant libs.

[2020-09-18 20:59] #431 closed

[2020-09-18 22:02] marcgarreau commented on #1302
Closing since the decision has been made to move to 3rd party packages. Newer issue here: https://github.com/ethereum/web3.py/issues/1736.

[2020-09-18 22:02] #1302 closed

[2020-09-18 22:45] carver commented on #431
Yeah, it's fine. Apart from forgetting about it, I think the only to-do left is to publish the audit. Unfortunately, the audit was tied to web3.js, which never really got resolved. Anyway, :+1: to close.

[2020-09-18 22:48] carver commented on #478
Hm, I don't think this particular test exists yet in eth-account. Maybe copy/move the issue over and reopen?

[2020-09-18 22:48] marcgarreau commented on #1736
Documenting remote providers we've heard interest for:
* infura
* quiknode
* nodesmith
* alchemyapi

[2020-09-18 23:06] marcgarreau commented on #478
Re: transfer, looks like I've got insufficient privileges in eth-account @carver. Would you mind moving it over? (The `-> Transfer issue` button lives in the sidebar.) Thanks!

[2020-09-21 23:30] drandreaskrueger commented on #385
Well done. Thanks. Cool: 1062 days ;-)

[2020-09-23 03:00] ferhatkochan opened #1750 "RESOLVED: Issue installing Web3 with Pip"
* Version: x.x.x
* Python: 3.8.2
* OS: OSXw
* `pip freeze` output

[code]

Following the step-by-step installation instructions on the [Quickstart page](https://web3py.readthedocs.io/en/latest/troubleshooting.html#setup-environment), i was unable to install web3 via Pip.

Here is the error generated when running the command: pip install --upgrade web3 (i also tried pip3). I appreciate the help.

p

[2020-09-24 01:16] ferhatkkochan commented on #1750
Installing X Code Command Line Tools and `python-dev-tools` has resolved the issue.

[2020-09-24 16:26] kclowes commented on #1750
Closing, since this is resolved!

[2020-09-24 16:26] #1750 closed

[2020-09-25 21:05] marcgarreau opened #1753 "Upgrade Parity version in test infrastructure"
### What was wrong?

Our Parity tests run on version 2.3.5. According to a recent OpenEthereum [blog post](https://medium.com/openethereum/vision-for-openethereum-ex-parity-client-eb7b11f6eef8), latest stable recommendation is 2.5.13.

[2020-09-26 08:14] ayeteng opened #1754 "Eth.getTransactionReceipt seems don't issue the connection close and release socket after call"
* Version: web3.py 5.21.1
* Python: 3.6.9
* OS: linux

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
Python code: (assume there are 20 tps request submitted to the chain)
[code]

Monitor socket:
[code]

* What type of node you were connecting to.
I connect to my private POA chain.

### How can it be fixed?
No idea.

[2020-09-26 10:57] ayeteng commented on #1469
I found this was closed in 55297bc

[2020-09-26 10:57] #1469 closed

[2020-09-27 22:12] fabdarice commented on #1556
Running into the same bug.
Running a geth node with --ws.api "eth,net,web3,txpool" and --http.api "eth,net,web3,txpool".

This command works fine: w3.geth.txpool.inspect()
But this one timeout, any idea?

[code]

[2020-09-28 16:31] kclowes commented on #1556
@fabdarice I'm still not able to replicate. What version of web3 are you using?

[2020-09-28 17:51] pipermerriam commented on #1556
It might be timing out for the txpool having a very large number of transactions and this it taking geth a long time to serialize and return them

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 28, 2020, 10:32 AM, kclowes wrote:

[2020-09-28 19:15] fabdarice commented on #1556
@pipermerriam @kclowes
Connecting via HTTP works fine while fetching the content, it only fails if we're connecting via websocket.
[code]

Something to note is that `w3.geth.txpool.inspect()` works fine, only `content()` times out

[2020-09-28 21:34] pipermerriam commented on #1556
@fabdarice what are you connecting to?  Geth node?  something else?

I think the next step here is to do some "futzing" to try and understand what is happening with your node.  Here are some things I would try:

1. bypass web3.py and make the request manually with something like the equivalent of curl and see if it succeeds.
2. restart your node, maybe on a private network or on a testnet where tr

[2020-09-28 22:05] kclowes opened #1755 "Document `Method` class to allow for extensibility"
With the move toward `Method`, we can now allow users to extend the library to include RPC methods other than what's included in web3 by default. We should document how it works so people can use it!

[2020-09-29 11:23] fiedersz commented on #567
The solution was to update the commandline tools, but that didn't go smooth as well, I had to first remove the older version and download Command_Line_Tools_for_Xcode_11.5 from the Apple developer site as a zip file. That install worked and solved the problem of not being able to install my package.

[2020-09-29 17:58] arjunaskykok opened #1762 "Assert statement does not throw exception"
* Version: 0.5.0b2
* Python: 3.8.2
* OS: linux

### What was wrong?

`assert` statement in the smart contract does not throw exception.

This is the source code of the smart contract.

[code]

Solidity compiler is 0.7.2.

[code]

It shouldn't pass because accounts[1] called `pay` method but there is assertion to make sure only the owner (accounts[0] is the only one who are able to call `pay` metho

[2020-09-29 21:40] liquid-8 opened #1756 "'TypeError: 'ABCMeta' object is not subscriptable' while importing"
* Version: 4.8.2
* Python: 3.7
* OS: win
*Exception while importing web3.types

[code]

[2020-09-30 13:04] cducrest commented on #1596
I encountered the same "problem". I receive a bunch of events from different contracts types at different addresses. I have a means to get the abi of the event from the log, and used to get the processed event with something like:

```event = get_event_data(self._get_abi_for_log(raw_event_log), raw_event_log)```

Since the way `get_event_data` works changed for me with upgrading web3, I now have t

[2020-09-30 15:15] #1756 closed

[2020-09-30 15:54] kclowes commented on #1416
Move `get_event_data` and `get_function_info` to the public API. Related issue: #1596

[2020-09-30 15:55] kclowes commented on #1596
Thanks for the code snippet @cducrest, that helps a lot! I don't see any reason why this wouldn't be able to go in the v6 release. Added to the v6 issue!

[2020-09-30 16:41] pipermerriam commented on #1596
We can do this in the v5 line.  This isn't a breaking change since it would just be exposing some previously private APIs as public.

[2020-09-30 16:55] kclowes commented on #1596
doh, true. Thanks @pipermerriam!

[2020-10-01 15:56] tmckenzie51 commented on #1745
I can start working on this

[2020-10-01 22:04] kclowes opened #1758 "Eth 2 Endpoints"
### What was wrong?
We'll need to add the Eth2 endpoints so that people can access that data. We'll also need good documentation and it would probably be nice to have a tutorial or two.

### How can it be fixed?
For the initial pass, @pipermerriam and I talked about making a new provider to access the endpoints and then putting the provider behind a flag much like the `enable_unstable_package_mana

[2020-10-02 09:20] pratik-vii commented on #1720
@kclowes I will pick this up. please assign to me.

[2020-10-02 12:44] bizso09 opened #1760 "How to catch contract exception in Web3 py?"
I'm using infura.io with web3.py and I would like to catch exception thrown by smart contract. Currently, web3.py does not throw any exception even if the contract does, and hence it burns a lot of gas failing.

Since I'm using a public node, I have to sign the raw transactions before submitting

[code]
The problem is that addAdmin throws an exception, but web3 py will just send the transaction an

[2020-10-05 15:26] tmckenzie51 commented on #1729
I'm interested in working on this issue.

[2020-10-05 16:17] donsmeed opened #1761 "Unable to download web3 on Mac"
Here is the error message I am getting:
  Using cached cytoolz-0.11.0.tar.gz (477 kB)
    ERROR: Command errored out with exit status 1:
     command: /Users/username/anaconda3/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/sf/0ffx9bz14q5dl2xtstpccbxr0000gn/T/pip-install-rzitfoh2/cytoolz/setup.py'"'"'; __file__='"'"'/private/var/folders/sf/0ffx9bz14q5dl2xt

[2020-10-05 16:35] carver commented on #1762
Moved to web3, since this is really an API question.

AIUI, ganache is responding to `eth_sendTransaction` with an error if there was a throw. This is not what happens on other clients, like when connected to mainnet, so I'm not a fan of the changed expectation that ganache gives. eth-tester seems to follow the standard client model here. (Notice that if you run the example code and inspect the re

[2020-10-05 18:34] pipermerriam commented on #1762
Agree with @carver `eth_sendTransaction` shouldn't raise an exception on failed transactions because that doesn't mirror mainnet behavior.

[2020-10-05 18:34] #1762 closed

[2020-10-07 06:44] gohuygo opened #1764 "Is it possible to use asyncio/threading with web3 contract calls?"
* Version: 5.12.1
* Python: 3.7.4
* OS: osx
* `pip freeze` output

### What was wrong?

I have some piece of code that I want to optimize for performance. The bottleneck currently happens whenever I make calls with web3py. (e.g. web3.eth.blockNumber or my smart contract functions).

Example:

[code]

Each iteration of `_queue_tasks` currently takes a few seconds to run and is IO-bound. I can run s

[2020-10-07 06:53] fabdarice commented on #1556
Apologies for the late answer.
I'm connecting to a local geth node.

1) curl succeeds
2) Haven't tested that, but amount of pending is lower these days, still seeing the issue
3) HTTPProvider success all the time, whereas WebSocket always fail
4) will try that and keep you guys posted

[2020-10-08 08:51] Enigmatic331 commented on #1631
Was doing some studying on abi-decoding, and stumbled here; Thought I could chime in a bit.

So what likely happened to this tx (https://etherscan.io/tx/0x34204b3ef07a82b2c4a6e159612652ec03b793ca0d836bf471acd80ffdc81150) is that the input data was sent wrong. The "address" part of the input parameter probably was entered wrong (0a6a70bb27128702777f3996fcf451c36de563cedf57926753f4977318cb09fa) and

[2020-10-08 13:44] pipermerriam commented on #1631
Our ABI library is very strict.  There are going to be things that actually work in the EVM that fail our decoder.  In the main example I believe we're looking at an ABI encoded address which only has 20 bytes of data and then 12 bytes of padding.  Our decoder strictly enforces that these padding bytes are zero'd.  However, smart contracts likely just read those 20 bytes since validating that the

[2020-10-08 16:24] kclowes commented on #1760
This issue is similar (I think) to #1762. From the comments there, you may try using Ganache, but there isn't a way in web3 to detect the error before sending. I am going to close this issue, but feel free to reopen if you have other questions, or if I misunderstood!

[2020-10-08 16:24] #1760 closed

[2020-10-08 16:52] kclowes commented on #1761
I'm not quite sure what's going on here. Initially I was thinking that maybe the version of cytoolz might not be compatible with web3, but I was able to install cytoolz==0.11.0 and run web3 with no problem. Does starting over in a new virtual environment solve the problem?

[2020-10-09 15:39] donsmeed commented on #1761
Let me try that

[2020-10-09 16:08] donsmeed commented on #1761
OK I just spun up a virtual enviroment, upgraded pip and retried downloading web3 by
running pip install web3. In the middle of the below error code it states:
ALERT: Cython not installed.  Building without Cython   Running setup.py install for cytoolz ... error
I am wondering if not having cython installed is the source of my above problem. I did get one other error message.
At the bottom I got t

[2020-10-09 18:42] #1753 closed

[2020-10-09 20:05] kclowes commented on #1761
I'm going to look into this a little more because it keeps coming up, but I've had success in the past uninstalling and then reinstalling gcc. I haven't taken the time to figure out the root cause, however. It may be Cython not being installed like you mentioned, but I don't see it installed on my machine, so I don't think that's it. You might try running `xcode-select --install` again as well to

[2020-10-09 21:30] kclowes opened #1769 "Support for Python 3.9"
* Version: 5.x
* Python: 3.9!
* OS: osx/linux/win

### What was wrong?

Now that Python 3.9 is out, we should make sure we can support it.

### How can it be fixed?

Pretty much anywhere that tests against Python 3.7 and 3.8, we should add Python 3.9. Python 3.8 support was added  #1471, so that would be a good template to follow.

[2020-10-09 23:19] kclowes commented on #1761
So I just checked and I am able to replicate the failed install in a fresh env but it's not quite the same problem as yours. It looks like mine is due to the watchdog library, but for whatever reason upgrading pip fixes my issue. I'll keep digging on Monday.

[2020-10-10 02:42] donsmeed commented on #1761
Thank you for you help

[2020-10-10 14:40] bizso09 opened #1770 "Websocket Provider constantly disconneting / reconnecting, resulting in BAN by Infura"
In this code:

[code]

For each request, a new websocket is opened, and once the request finishes, it is closed. When running multiple connections in parallel, this results in a BAN by Infura.io , because of the constant reconnections. In addition, constant reconnection defeats the whole purpose of using a websocket, which is suitable for streaming communication.

The websocket should be opened on

[2020-10-10 14:42] bizso09 commented on #1760
in fact, there is a way. Need to call `web3.eth.estimateGas()` on the transaction. This will throw an error if an exception is encountered.

[2020-10-12 14:17] Mahsa-Bastankhah opened #1771 "use web3.py for other ethereum-based blockchains"
is this possible to use this library for other ethereum-based blockchains like binance smart chain(bsc) and if yes how?

[2020-10-12 14:56] FeliciaXmL opened #1772 "Pip freeze"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

[2020-10-12 15:56] kclowes commented on #1772
Closing, since this is blank. Feel free to open another one with the details filled out if you have questions, @FeliciaXmL.

[2020-10-12 15:56] #1772 closed

[2020-10-12 16:32] kclowes commented on #1771
I don't know much about Binance, but I think that should be possible in theory. You would follow [these instructions](https://web3py.readthedocs.io/en/stable/overview.html#providers) to make your web3 instance with whatever provider and URL makes sense for you. Feel free to open another issue if you have specific questions!

[2020-10-12 16:32] #1771 closed

[2020-10-14 17:41] kclowes commented on #1764
@gohuygo there isn't really any native async support in web3 yet, but you can wrap some functions. Here is an example: https://web3py.readthedocs.io/en/stable/filters.html?#single-threaded-concurrency-with-async-and-await. Closing, but feel free to reopen either this or another issue if you have more questions!

[2020-10-14 17:41] #1764 closed

[2020-10-14 18:59] kclowes commented on #1770
From a brief glance at the code base, it does look like it connects with every request @bizso09. It will probably take us a while to get to this, but if you'd like to open a PR it would likely be faster and much appreciated!

I'm pretty sure (but not 100%) that this does not support asynchronous response handling.

[2020-10-15 16:47] pipermerriam opened #1776 "Benchmarking suite"
### What was wrong?

We need a baseline for library performance.

### How can it be fixed?

We should create a benchmarking suite.  Here are some high level contraints.

- The code should live under `web3.tools.benchmarking`
- The benchmarking code should be run as part of the test suite.  These runs should be fast, intended to only ensure that the benchmarking suite works well, and thus the bench

[2020-10-15 16:50] pipermerriam commented on #1776
This is marked as "good first issue", and it is, but it's also not going to be small or easy, it just won't require too much intimate knowledge of the library internals.

[2020-10-17 09:22] jayvdb opened #1777 "DeprecationWarning: Call to deprecated create function *Descriptor"
* Version: 5.12.2
* Python: 3.8
* OS: linux

[code]

[2020-10-19 16:32] kclowes commented on #1777
Thanks for this report @jayvdb!

@njgheorghita do you have any time to take a look at this warning?

[2020-10-19 19:47] njgheorghita commented on #1777
@kclowes Sure! I'll take a look at it tomorrow

[2020-10-20 16:34] njgheorghita commented on #1777
@jayvdb I'm fairly certain that this will disappear with a version update - but I'm unable to reproduce this warning to confirm that it disappears. Do you remember how you triggered these warnings?

[2020-10-22 09:10] Pet3ris opened #1779 "`eth.getCode` returns 32000 intermittently when JSON RPC API works"
* Version: 5.12.2
* Python: 3.7
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

The following code returns a 32000 error intermittently:

[code]

While the same request using CURL succeeds on every call:

[code]

### How can it be fixed?

Is `web3.py` adding a bad id to the json rpc call?
Is it caching already executed request

[2020-10-22 15:51] kclowes commented on #1779
Thanks for the report @Pet3ris. I'm not sure what is going on here. On quick glance, we don't add anything extra to getCode. If the block number that gets passed in is an integer, we convert it to hex, but that's the only formatting we do on the request side. And we do cache it, but like you said, it's weird that you're able to get the error on a first run 🤔 What is the error message that you see?

[2020-10-22 16:54] Pet3ris commented on #1779
@kclowes indeed!

If I run it from a script I get a value error:

[code]

If I run it in the shell I occasionally just get blank output.

[2020-10-22 18:37] pipermerriam commented on #1779
Are you running this against Geth?  What is backing your http based RPC provider?

I've been running your code block from above in a loop for a few minutes now and haven't gotten any failed requests.

[code]

[2020-10-23 16:49] Pet3ris commented on #1779
@pipermerriam thanks so much for double checking!

**Short answer**

It turned out that I was running the code with a block number that doesn't exist yet (`latest` + 1).

**Long answer**

This was for a mainnet fork that increments the current block number and I forgot to decrement it when looking back for source code that already exists.

As a result, whenever I ran the code, it would fail. Moreo

[2020-10-23 16:49] #1779 closed

[2020-10-26 11:25] sobolev-igor opened #1781 "Revert reason is successfully parsed as int number"
* Version: 5.12.3
* Python: 3.8/3.9
* OS: osx

### What was wrong?

I have a function that returns `uint256` value and has a revert with error text in it. The return value of the tx starts with `0x08c379a0` (e.g. `0x08c379a0000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000184461692f696e73756666696369656e742d62616c616e6365

[2020-10-28 21:44] #941 closed

[2020-10-28 21:59] marcgarreau commented on #1781
Should be addressed by https://github.com/ethereum/web3.py/pull/1585 in the next release; please reopen after the release if not the case.

[2020-10-28 21:59] #1781 closed

[2020-10-28 22:05] kclowes commented on #1720
Closed via #1759.

[2020-10-28 22:05] #1720 closed

[2020-10-28 22:08] kclowes commented on #1699
This should be closed via #1585. Please re-open if not @RZeynalov!

[2020-10-28 22:08] #1699 closed

[2020-10-28 22:18] kclowes commented on #1566
@mswilkison (or anyone else) On a quick glance, I think we can close this? Are there other v0.6.x features we still need to support?

[2020-10-29 07:46] vzotova commented on #1566
I think it can be closed, thank you. We are using 0.7.x for now and everything works good

[2020-10-29 15:36] #1566 closed

[2020-10-30 00:41] blockchainOSINT opened #1785 "web3 import issues"
* Version: web3==5.12.3
* Python: 3.9
* OS: Windows 10

[code]
I updated all of my Python packages (including web3) to latest version, which I thought would install all of the dependencies such as this `lru `module, however I’m still getting this error. I tried manually install `lru `but I'm getting errors there also:

[code]

My web3 code worked with previous versions of Python and I’d rather not

[2020-10-30 16:21] kclowes commented on #1785
@blockchainOSINT We don't yet support Python 3.9 (see #1774), but it's on the docket. I'd try downgrading your python and installing web3 in a new virtual environment to see if that is the problem. If it's still not working, feel free to reopen!

[2020-10-30 16:21] #1785 closed

[2020-10-30 16:33] kclowes commented on #1540
Closing, this was fixed a long time ago in #1546.

[2020-10-30 16:33] #1540 closed

[2020-10-30 16:46] kclowes commented on #518
Closing - Looks like this was resolved and it's very old.

[2020-10-30 16:46] #518 closed

[2020-11-01 16:39] NavyaZaveri commented on #1770
I'd like to take a stab at this :)

I think the easiest/quickest way to accomplish this is to make sure the socket  isn't closed/set to `None` on `__aexit__.`

`I'm not sure *when* the socket should be closed though. I think a potential solution could be to introduce a custom destructor (`__del__`)  on `WebsocketProvider`, which would close the socket when it's out of scope

[2020-11-02 13:18] zaneta186 opened #1788 "Multiple error with install web3 on win10 home and python 3.8"
* Python: 3.8
* OS: win
* `pip freeze` output

[code]

### What was wrong?

I'm trying install web3. I also tried installing in virtualenv, but the code ended with same error.
Microsoft C++ Build Tools is installed. Setuptools is upgraded.
And I lost any idea how fix it. Can somebody help me please?

[2020-11-02 16:22] kclowes commented on #1788
What version of Microsoft Visual C++ build tools do you have installed? Looks like it needs to be 14.0 or greater based on this error message:
`error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/`

[2020-11-02 16:54] kclowes commented on #1770
Oh, you're right @NavyaZaveri. Thanks for digging in! I also noticed that it only re-connects if there is a system exception (anything that inherits from `BaseException`), rather than `Exception`, so won't disconnect on the "normal" errors that we'd get back from hitting JSON-RPC endpoints. I'm going to close, but if I missed something, feel free to reopen.

[2020-11-02 16:54] #1770 closed

[2020-11-03 09:12] zaneta186 commented on #1788
Problem is solved. Cytoolz supports Python 2.7+ and Python 3.4+. I had Python 3.8.5, so now I'm running on Python 3.2

[2020-11-04 16:20] kclowes commented on #1788
web3 doesn't support python 3.2, so you may run into some unexpected errors. It may be that you were running an old version of cytoolz -- looks like you need at least 0.10.1. Closing, but feel free to reopen if you have more questions!

[2020-11-04 16:20] #1788 closed

[2020-11-05 14:52] kkx commented on #1449
hi, i am having the same issues here, when i try to connect to an unreachable endpoint(correct format but unreachable). seems that in the establishing socket connection step we are not using websocket_timeout as a configurable option inside of asyncio.wait_for
i tested to change this [line](https://github.com/ethereum/web3.py/blob/aa30b3bf97d67b8434cb399c659d8b6425a9bec1/web3/providers/websocket.p

[2020-11-08 16:29] kaleb-keny opened #1789 "Estimate Gas Value Error"
* Version:  5.13.0
* Python: 3.7.9
* OS: win
* `pip freeze` output

[code]

### What was wrong?

Trying to estimate gas with ganache, I setup the mainnet fork using:

- ganache-cli -f https://mainnet.infura.io/v3/XXXXXXXXXXXXXXXXXXXXXX --chainId 1 --verbose -u 0xeF4818607B34A3159e8FFc2C4B4C3492A1901812
- Then I run the below code which estimates the gas of doing a exchange on 1inch from ETH to sUS

[2020-11-09 17:05] kclowes commented on #1789
@kaleb-keny it looks like web3 is trying to format the response on the way back, but the formatter (`int()`) doesn't know what to do with the dash. You may be able to add some middleware to strip out the dash ([docs here](https://web3py.readthedocs.io/en/stable/internals.html#internals-middlewares)), or you could extend the `Method` class and put in your own custom response formatter, but that's n

[2020-11-09 17:13] kaleb-keny commented on #1789
hey, thanks for the answer, should I raise this issue with ganache devs? As I don't think the gasEstimate is correct even without the dash ... As it exceeds the max gas in a block  think?

[2020-11-09 17:22] kclowes commented on #1789
Yeah, I'd raise it with them and see what they say. I'm going to close this issue, but feel free to reopen if there's something else going on!

[2020-11-09 17:22] #1789 closed

[2020-11-10 06:28] zaneta186 commented on #1788
thank you. it works with python 3.2

st 4. 11. 2020 v 17:20 odesílatel kclowes <notifications@github.com> napsal:

[2020-11-11 20:52] kaleb-keny commented on #1789
Just wanted to post here a solution to the issue, in case someone stumbles upon it, using estimate transaction as per the below configuration seems to work fine on ganache and mainnet, where txPrep is the variable generated as per the above code
[code]

[2020-11-11 21:08] kclowes commented on #1789
Ah, thanks for the update @kaleb-keny. Looks like the key was that `data` field encoding?

[2020-11-11 21:37] kaleb-keny commented on #1789
yeah definitely, using the `data encoding` instead of wrapping estimateGas with the tx seems to work, although both approaches are equivalent on mainnet but not on forked ganachian-mainnet.

[2020-11-11 23:55] marcgarreau commented on #802
this is ancient, but:
- since whisper is abandoned, just ripped it out in this PR: https://github.com/ethereum/web3.py/pull/1791
- swarm could still end up with web3 support in some fashion, but the team is off with their own agenda these days. separate ticket required if necessary.

[2020-11-11 23:55] #802 closed

[2020-11-12 18:27] marcgarreau commented on #1031
Stale issue, but Whisper was officially dropped from Geth and Parity/OE, so support has been removed from Web3.py in #1791.

[2020-11-12 18:27] #1031 closed

[2020-11-13 10:23] Kindhearted57 opened #1792 "Web3.py didn't throw error(in Remix it did)"
* Version: 5.9.0
* Python: 3.6.9
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

The contracts I used:

[EtherDelta(DEX)][1]

[Freedomcoin(Token)][2]

Here is my logic:

I use userA who deployed the two contracts to transfer 100Ether to userB, then userB invoke `depositToken`, however, as there is no `transferFrom` in the token's contract, it will go to fallback function:

[code]

[2020-11-15 13:32] avatar-lavventura commented on #1031
@marcgarreau  In the latest `web3.py` versions still can I use it since I was able to use it on its previous versions?

Do you know the reason why is it dorpped from Geth and Parity? and is there any alternative for it?

[2020-11-16 04:47] Kindhearted57 commented on #1792
Ok so I got an reasonable answer from [https://ethereum.stackexchange.com/questions/90150/what-is-the-gas-limit-for-a-fallback-function-called-when-the-method-does-not-ex/90159#90159](stackexchange), this shouldn't be something related to web3.py but solc. I'm closing this.

[2020-11-16 04:47] #1792 closed

[2020-11-16 22:50] #1745 closed

[2020-11-17 14:48] dmitry-tk opened #1793 "Solidity error parsing doesn't work with Ganache"
* Version: 5.13.0
* Python: 3.7.6
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

The latest version of `web3py` was unable to handle Solidity revert thrown by `ganache` (Docker container `trufflesuite/ganache-cli:beta`):

[code]

### How can it be fixed?

Ganache response format looks like that:
[code]

And that's how `web3py` tries to parse error section:
[code]

But `error` field

[2020-11-18 16:17] marcgarreau commented on #1793
Thanks for the report - Ganache indeed was not part of my test set. Will jump in here this afternoon.

[2020-11-18 17:06] dmitry-tk commented on #1793
@marcgarreau Here's the proposed fix:

[code]

Should I submit the PR or you will work on that?

[2020-11-18 17:23] marcgarreau commented on #1793
PR would be great, thanks! The reason parsing logic is hairy, but I don't think there will be any particularly elegant/non-brittle solution. Can bikeshed in the PR.

[2020-11-18 18:02] marcgarreau commented on #1031
@avatar-lavventura my limited understanding is that Whisper is discontinued or abandoned; I don't know the reasons why. You should look into the Status team's effort, [Waku](https://our.status.im/peer-to-peer-messaging-where-whisper-falls-short-and-waku-picks-up/).

[2020-11-18 23:35] kclowes commented on #1706
Revert support was released in 5.13.0. Closing!

[2020-11-18 23:35] #1706 closed

[2020-11-19 10:51] dmitry-tk commented on #1793
@marcgarreau actually I decided to drop parsing logic and just return revert reason as is.

[2020-11-19 21:59] kclowes opened #1795 "Allow `Method` to short circuit the JSON-RPC request if needed"
### What was wrong?
The `filter` method on the Eth module doesn't make a JSON-RPC request if a filter_id is passed in. The Method class doesn't make it easy to skip the method call if needed. The current solution is to raise and then catch an error right before the request is made, but this isn't an ideal long-term solution.

### How can it be fixed?

Piper made a suggestion for a solution [here](

[2020-11-21 01:22] jquesnelle commented on #1556
I'm seeing the same thing @fabdarice is -- `content()` only works with `HTTPProvider`

[2020-11-21 15:13] owodunni opened #1798 "Allow longer timeouts then 10 seconds"
* Version: 5.12.1
* Python: 3.8.6
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

* Connections timeout after 10 seconds. I am doing a lot event filtering of smart contracts. Which results in me choking my Geth Node. Leading to longer respons times and eventually timeouts.
* Error output:
[code]

* Node:

ethereum/client-go:stable@sha256:8009eca8f4a768e76582a14b4cce0e2e0dd5044e5f96

[2020-11-23 17:54] kclowes commented on #1798
@owodunni At a quick glance, it looks like you should be able to pass in timeout as a keyword argument. Did you try that already?

[2020-11-23 19:17] owodunni commented on #1798
Hi @kclowes, I think I missed that. I thought it looked pretty hard coded..
I tried setting other parameters in this manner: https://github.com/ethereum/web3.py/commit/55297bc9df44a032e7ea223aa12229d72de5ef5a

But as far as I could see I cannot set the timeout that way.

[2020-11-23 19:54] kclowes commented on #1798
I just tested it out, and you are able to pass it in with the request_kwargs. So:
`w3 = Web3(HTTPProvider('http://localhost:8545', request_kwargs={'timeout': 60}))`
But that could definitely be documented better, so I'll leave this issue open to add it to the docs. Let me know if that doesn't work for you. Thanks for the report!

[2020-11-24 10:36] cygnusv opened #1799 "Incorrect docs for Eth.getTransaction: it doesn't throw when TX is not mined yet"
### What was wrong?

Documentation on the `Eth.getTransaction()` method states:

That last sentence is not true: if the TX is pending it still gives you the TX data.

### How can it be fixed?

Specify what are the correct conditions for `eth.getTransaction()` to throw `web3.exceptions.TransactionNotFound`.

[2020-11-24 20:16] esraa95mahmoud opened #1800 "requests.exceptions.ConnectionError: HTTPConnectionPool(host='127.0.0.1', port=7545): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fccac7ca5f8>: Failed to establish a new connection: [Errno 111] Connection refused',))"
I created a blockchain app using Ethereum, I downloaded a virtual box. I activated the smart contract on the virtual box and connected it to the Python file on the original device. When the application is executed I get this error:

[code]

[2020-11-26 12:44] Pet3ris opened #1801 "`getTransactionCount` fails with a block identifier using `web3[tester]`"
* Version: 5.13.0
* Python: 3.7
* OS: osx

### What was wrong?

[code]

This code fails when it should succeed. It seems that `web3.py` automatically formats block references to hex numbers but `eth-tester` `get_nonce` expects it to be a number.

### How can it be fixed?

This could possibly be an `eth-tester` issue but I've added it here for coverage.

[2020-11-27 08:46] avatar-lavventura commented on #1031
@marcgarreau `Whisper` is abandoned over a year, but it was working fine for basic stuff to send messages based on a topic. The issues I open never responded. The main goal in peer-to-peer messaging should considered [Does go-ethereum/whisper provides any kind of Public Key Server to obtain other nodes' public key](https://ethereum.stackexchange.com/questions/83968/does-go-ethereum-whisper-provide

[2020-11-27 11:31] Pet3ris commented on #1801
Two possible fixes:

One would be to accept hexadecimal block numbers on the `eth-tester` side https://github.com/ethereum/eth-tester/blob/171dce6074d6ee1b7dd6d97dbd0df397259d421d/eth_tester/backends/pyevm/main.py#L194.

Another would be to fix the formatting for `get_nonce` rpc calls on the `web3.py` side.

[2020-11-29 16:21] zinootje opened #1802 "web3.exceptions.BadFunctionCallOutput on ens.name call"
* Version:5.12.2
* Python: 3.7
* OS: win
* `pip freeze` output
[code]

### What was wrong?
[code]

running this gives the error
[code]
it should return the eth name or null if there isn't one if i understand correctly

[2020-11-30 10:17] znss1989 commented on #1793
Encountering the same issue, also when using ganache. Before, fixes are patched, is there any workaround for web3.py usage? Thanks.

[2020-11-30 18:09] kclowes commented on #1801
Thanks for the report @Pet3ris! I want to double check, but I think we'll want to fix this on the eth-tester side.

[2020-12-02 23:04] marcgarreau commented on #1031
Ah, sorry to hear that Waku isn't an option for you. I don't believe its reasonable for this team to commit to maintaining an interface to a discontinued Whisper, but we are working to make it easier to introduce custom methods in web3.py. I think this interface is still evolving, but @kclowes is there anything we can share about it yet?

[2020-12-02 23:11] kclowes commented on #1031
@avatar-lavventura [this](https://github.com/ethereum/web3.py/pull/1797) is the WIP PR for the documentation, but use with caution as it's not public quite yet and is subject to breaking changes. But you should be able to use that in a pinch

[2020-12-03 01:52] avatar-lavventura commented on #1031
@kclowes  Thanks, I am manage to make Whisper work, basic example: ( https://ethereum.stackexchange.com/a/58299/4575 ), by many trial-error and using @pipermerriam 's [example-file](https://github.com/ethereum/web3.py/blob/master/tests/core/shh-module/test_shh_filter.py) (but the link is gone right now)

I am just get lost, where not sure whisper (`w3.geth.shh`) be available on  the changed versio

[2020-12-04 03:01] ayushm2003 opened #1803 "Unable to install 'web3[tester]'. Possible error while installing pyethash"
* Version: web3==5.13.0
* Python: 3.9.0
* OS: win 10
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error - `pip install 'web3[tester]'`
* The full output of the error -

[code]

Seems like the problem is with running setup.py for ```pyethash``` on Windows. Found a possible solution by installing the sourc

[2020-12-04 16:08] kclowes commented on #1803
@ayushm2003 we havent yet gotten support in for Python 3.9 across our libraries. Are you seeing the same problem if you use python 3.8?

[2020-12-04 17:41] ayushm2003 commented on #1803
@kclowes haven't tried using 3.8. But, think I figured out what the issue was. ```ethash``` doesn't support Windows.
One can do a workaround though, by changing some code in source files.
See - https://github.com/ethereum/ethash/issues/104#issuecomment-379430086

Thanks for your time, though.

[2020-12-04 17:41] #1803 closed

[2020-12-04 21:50] kclowes commented on #1793
Closed in #1794. Thanks @dmitry-tk!

[2020-12-04 21:50] #1793 closed

[2020-12-04 21:53] kclowes commented on #1800
@esraa95mahmoud I'll need some more detail to help you troubleshoot. Can you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) please?

[2020-12-05 11:40] esraa95mahmoud commented on #1800
@kclowes I have a smart contract that was linked to web3.py through the Python file. I want to do a test to apply Ethereum. I ran the smart contract and 127.0.1.1.7545 on my Eppento device, and I linked them with the Python file on the virtual box, when running them it gives me the previous error.
Do you want to put the code here ??

[2020-12-08 04:30] kclowes commented on #1802
@zinootje Sorry for the long response time. You are right, it usually does return either the name or `None` if there is no name. I _think_ what's happening in this case is that the contract uses a custom resolver that either doesn't implement reverse resolution, or the ABI for reverse resolution doesn't match the ABI that web3py expects. I can't see the ABI for the contract at "0x6ED8CD17EE5453E17

[2020-12-08 18:29] carver commented on #1802
Right, if the ENS entry points to an invalid resolver, or to a resolver that doesn't offer a reverse resolution function, then the resolution attempt would crash.

[2020-12-09 02:54] Activity00 opened #1804 "Multiple events found"
* Version: 5.12.1
* Python: 3.7.0
* OS: linux

### What was wrong?
/usr/local/lib/python3.7/site-packages/web3/_utils/contracts.py in find_matching_event_abi
raise ValueError("Multiple events found")

https://etherscan.io/tx/0x59054d383a9b3dd5289ebd994bc6fb95dd66fee741a33f1da9aa9a0b4a04a086#eventlog
same name event

[2020-12-09 16:26] pipermerriam commented on #1804
@Activity00 it is helpful for you to supply more context for this.  Can you supply the actual code you are using that triggered this error?

@kclowes here's where we need an API for retrieving an event directly by it's topic which a brief scan of the code suggests that 1) we might have never implemented a way to retrieve events that have duplicate names and 2) That we have inadequate documentation

[2020-12-09 20:58] kclowes commented on #1800
Yes please!

[2020-12-09 21:30] kclowes commented on #1804
Yeah, I believe there is a half-baked PR up to allow overloaded events, but it still needs more work. And more documentation is always good! cc @marcgarreau to add to the tutorial/blog post list

[2020-12-09 23:11] marcgarreau commented on #1804
An attempt was made (https://github.com/ethereum/web3.py/pull/1705), but after digging in a bit, we found that a larger effort was required. Details/suggestions for how to go about it are in the PR. I just added a `help wanted` label, which I should've done before moving on to other priorities.

[2020-12-12 14:20] zinootje opened #1807 "Can't create filter"
* Version:5.12.2
* Python: 3.7
* OS: win
* `pip freeze` output
[code]

### What was wrong?
[code]

running this gives the error
[code]
I do not understand why i can't create a filter this way for other events it works as expected and also when creating manually.
The contract is the uniswap governance contract

[2020-12-15 04:21] kclowes commented on #1416
The `SolidityError` that was introduced in #1585 should be more generic since more than one language has an `assert`/`revert` feature and we want to support more than just Solidity.

[2020-12-17 17:52] zak100 opened #1811 "Problem with installing web3 on Ubuntu 18.04"
* Version: x.x.x
* Python: 2.7.17/3.6.9/Pycharm community 2020.3
* OS: ubuntu 18.04
* `pip freeze` output
~$ pip install web3
Collecting web3
  Using cached https://files.pythonhosted.org/packages/85/01/eacb73ae16364295bf26cba4aacc94e513f5feae54dbb5f8121bec697e49/web3-4.8.1.tar.gz
web3 requires Python '>=3.5.3,<4' but the running Python is 2.7.17

[code]
~$ `pip freeze` output
anytree==2.8.0: comm

[2020-12-17 17:56] kclowes commented on #1811
It looks like you're using python 2.7 which isn't supported by web3. You need to upgrade to python 3.6 or higher. You might try installing something like [pyenv](https://github.com/pyenv/pyenv) to manage your python versions. Closing, but feel free to reopen if that doesn't fix your issue!

[2020-12-17 17:56] #1811 closed

[2020-12-17 18:04] kclowes opened #1812 "Support for Solidity 0.8.x"
### What was wrong?
Solidity 0.8 just came out, and we should check to see what we need to update. The Release blog post can be found [here](https://blog.soliditylang.org/2020/12/16/solidity-v0.8.0-release-announcement/).

### How can it be fixed?
This will likely be an issue that needs to be broken up into a few issues, but for starters, go through the changelog and write some tests for changes.

[2020-12-20 20:52] zak100 commented on #1811
Hi,

I am still trying to  install web3 on my ubuntu 18.04 system. I am using the following command:

@lc2530hz:~$ sudo npm install -g web3

but I am getting the error:

    sudo: npm: command not found

But when I am typing: @lc2530hz:~$ npm --version 6.14.6

I have node version 10 installed on my system. Kindly guide me how to solve this problem.

Zulfi.

[2020-12-21 17:59] marcgarreau commented on #1758
MVP merged in. Work remains for input/output validation, documentation, etc., but we're early to the party, so we'll keep iterating. (Only Teku and Lighthouse support the API so far.)

[2020-12-21 17:59] #1758 closed

[2020-12-21 20:41] kclowes commented on #1811
npm is the package manager for JavaScript. So if you want to install web3py, you'll need to do a `pip install web3`. If you're trying to use web3js, you'll have to raise an issue on their repo.

[2020-12-21 23:09] zak100 commented on #1811
Hi,I did "pip install web3"
I got following message at the end:
Successfully built bitarray pyrsistent cytoolz
Installing collected packages: hexbytes, certifi, idna, urllib3, chardet, requests, pycryptodome, eth-hash, toolz, cytoolz, eth-typing, eth-utils, six, parsimonious, eth-abi, bitarray, eth-keys, eth-keyfile, rlp, eth-rlp, eth-account, websockets, base58, zipp, importlib-resources, netaddr

[2020-12-21 23:19] kclowes commented on #1811
It looks to me like the build succeeded, but we don't have a command line interface which is why you can't run just `web3` from the command line. In a REPL, try `from web3 import Web3`. If it succeeds, then web3 installed successfully.

[2020-12-23 05:41] Morgon opened #1817 "gethdev AutoProvider does not consider the WEB3_PROVIDER_URI environment variable"
* Version: 5.13.0
* Python: 3.8.5
* OS: Linux (Ubuntu 20.04.1 LTS)

### What was wrong?

When using `web3.auto.gethdev`, the `WEB3_PROVIDER_URI` environment variable does not appear to be honored.

[code]

### How can it be fixed?

Apply this environment variable to the gethdev autoprovider.

[2020-12-23 07:29] nkiki opened #1818 "trouble in trying to install web3.py in windows"
* Version: x.x.x
* Python:3.8.7
* OS: win
* `pip freeze` output

[code]

[2020-12-23 07:32] nkiki commented on #1818
I google all day and tried lots of ways but still unable to install web3,  is somebody know how to fix this issue?

[2020-12-23 09:10] #1818 closed

[2020-12-23 09:11] nkiki commented on #1818
solved, just disabled shadowsockR

[2020-12-27 18:20] elliottdehn opened #1819 "Interest/feasibility of "headless" Contract instances? Overview/discussion inside..."
* Version: 5.13.1
* Python: 3.9
* OS: osx
* `pip freeze` output:

[code]

### What was wrong?

**In general:** Instances of Contracts in web3py seem to retain/depend on the Web3 instance and connection that was used to create them. While this is somewhat convenient for "total encapsulation," it causes problems for WebSocket connections in particular. Unlike HTTP-based Web3 instances, WebSocket ins

[2020-12-29 17:09] gmondok opened #1821 "web3.geth broken?"
* Version: current as of Dec 29th 2020
* Python: 3.9
* OS: win

### What was wrong?
My test code:
[code]

Error:
[code]

Yet when I test web3.eth functions like :
[code]
it connects to my node fine. It's just the geth methods it seemingly can't find.

[2020-12-29 17:14] gmondok commented on #1821
Closing, it was my mistake.

Need to explicitly allow the various API's on geth's end like so "--http.api personal,eth,net,web3,admin,txpool"

[2020-12-29 17:14] #1821 closed

[2020-12-30 13:43] lucadonnoh opened #1822 ".deploy({'from': accounts[0]}) is ok but .transact({'from': accounts[0]}) throws TypeError: Address 0x must be provided as a string"
* Version: 5.11.1
* Python: 3.8.3
* OS: osx

### What was wrong?

calling `.transact({'from': accounts[0]})` throws `TypeError: Address 0x... must be provided as a string`, but `.deploy({'from': accounts[0]})` does not which seems inconsistent

`.transact({'from': str(accounts[0])})` seems to solve the issue

[2021-01-03 13:03] HarryR commented on #961
Wow, this ticket is still open! Here is a snippet that emits all decode-able events for a specific contract.

[code]

[2021-01-04 05:49] jimtje commented on #1556
I've had various issues with how WebsocketProvider seems to work and ultimately I figured the best way to figure things out is with doing some testing and logging things. I personally never ran into the IPCProvider problem unless there was some sort of permission issue with the actual file itself, which can be solved if you run the node not as root but as a regular user (assuming you're running it

[2021-01-05 18:34] carver commented on #961
Ping @kclowes for an old issue that could use some love.

[2021-01-05 21:37] marcgarreau commented on #1807
Thanks for the report. I've reproduced the issue and indeed see other events working. Investigating.

[2021-01-05 22:06] kclowes commented on #1817
Thanks for the report! I'll take a look.

[2021-01-06 16:44] kclowes commented on #1799
Thanks for the report @cygnusv! Sorry for the long response time. I will take a look!

[2021-01-06 16:47] kclowes commented on #1822
Thanks for the report @lucadonnoh! That does seem inconsistent, will fix!

[2021-01-06 18:01] ahadda5 commented on #1240
I have that issue with web3 as well.
Working in a venv installing web3 gives

[code]

[2021-01-06 18:11] kclowes commented on #1240
@ahadda5 I'd try in a new virtual environment. Please open a new issue if you're still having problems after trying in a new env. Thanks!

[2021-01-06 21:27] 1337SEnergy opened #1826 "calling contract function with an argument of type 'bytes32' with a hex value with 63 characters (instead of 64) does not work"
* Version: 5.13.1
* Python: 3.8.6
* OS: win 10
* `pip freeze` output

[code]

### What was wrong?

I've been trying to understand EIP-712 and was signing permits for Uniswap, which worked fine, however as I was testing it, I suddenly got an error:
[code]
which was really weird, as the parameters seem to be correct and it was working fine multiple times just 5 sec before that... I've been trying to

[2021-01-06 22:17] kclowes commented on #1826
Thank you for such a detailed report, @1337SEnergy! At first glance, I think this is likely the correct diagnosis and fix, but will defer to @carver to verify that adding leading 0's to the r value is the right approach here? I'm also going to transfer this issue to eth-account, since `sign_transaction` comes directly from there.

[2021-01-07 11:57] ahadda5 commented on #1240
STill there.   Could it be WSL file system implementation for opensuse15.2?!

- Using OPenSuse leap 15.2  on windows (WSL2)
- created a clean new venv  `>python3 -m venv envo`
- sourced the new venv  `source ./envo/bin/activate`
- ran `>python3 -m pip install ipython`   , with no issues
- ran `pip install web3`  gives the following

Collecting web3
  Using cached web3-5.14.0-py3-none-any.whl (467

[2021-01-07 18:41] kclowes commented on #1819
Thank you for such a detailed issue! Without digging in too much, I think a "headless" contract like you outlined above: (`contract.functions.someReadOnlyFunction(w3 instance)(otherwise identical API)`) is feasible, but would be a significant change to the codebase. To restate the problem you're having: it seems like it's hard to work with many different contracts because of bottlenecks at the pro

[2021-01-07 19:12] pipermerriam commented on #1819
I'm not sure the change would have to be significant.

https://github.com/ethereum/web3.py/blob/dd35bbc23904addacd032855059af5dfba691bc6/web3/contract.py#L955

If `ContractFunction.call(...)` took an optional web3 instance it would be easy to use that **if** provided, and fall back to the `self.web3` otherwise.

I'm sure there's a bunch of hidden complexity though:

- Still no way to fully detatch

[2021-01-11 08:32] yaocg opened #1830 "web3.exceptions.MismatchedABI: The event signature did not match the provided ABI"
* Version: 5.14.0
* Python: 3.7.9
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
event_abi_to_log_topic(event_abi) return: b'\x1cA\x1e\x9a\x96\xe0q$\x1c/!\xf7rk\x17\xae\x89\xe3\xca\xb4\xc7\x8b\xe5\x0e\x06+\x03\xa9\xff\xfb\xba\xd1'
log_entry['topics'][0] return: 0x1c411e9a96e071241c2f21f7726b17ae89e3cab4c78be50e062b03a9fffbbad1

in file:web3/_utils/events.py

    209     # type igno

[2021-01-11 17:18] kclowes commented on #1830
@yaocg That error says that there is a mismatch between the event returned and the ABI that web3 is trying to decode it with, but I can't tell much more without a [minimum reproducible example](https://stackoverflow.com/help/minimal-reproducible-example). If you provide that I can help you troubleshoot some more.

[2021-01-11 18:18] kclowes opened #1832 "Upgrade to hypothesis v6.0"
* Version: 5.14

### What was wrong?
Hypothesis v5 introduced a bunch of deprecation warnings around fixture scoping that need to be addressed before we can upgrade to v6.

### How can it be fixed?
Fix deprecation warnings. This will probably best be done in a few, smaller PRs The warnings can be seen on any of our core test CI runs.

[2021-01-12 08:40] #1830 closed

[2021-01-14 20:11] kclowes opened #1835 "Support for EIP-1559"
* Version: v5.14+

### What was wrong?
It looks like [EIP-1559](https://eips.ethereum.org/EIPS/eip-1559) is coming up soon (maybe in the London hard fork), so we'll need to update web3py to support it. This is a placeholder issue that will likely get broken down into a few issues.

### How can it be fixed?
From a high level, it looks like we need to change our transaction object:
- New fields in t

[2021-01-14 20:21] abdelhamidbakhta commented on #1835
@kclowes Thank you very much for starting looking at this.
You don't have to remove `gas_price`. There is no plan/timeline to remove legacy transaction support for the moment.  @timbeiko can you confirm ?
Also IMO the `move gas_limit to gas_target` is not necessary. It is a nice to have though.
Otherwise the high level approach makes a lot of sense.

[2021-01-14 23:12] timbeiko commented on #1835
No plan on removing legacy transactions in the foreseeable future!

[2021-01-15 08:19] Patil2099 commented on #1822
Hi, @kclowes  I would love to help on this issue. Do I have to change 'from': str(anyvalue) for all the transact function calls?

[2021-01-16 21:24] Ifere commented on #1429
@kclowes any modules left to be done? I'd like to work on this issue. Also is there a guide I could follow?

[2021-01-18 14:09] STYJ opened #1838 "Build error with gcc when installing web3.py on fedora 33"
* Version: latest
* Python: 3.9.1
* OS: linux (fedora 33)
* `pip freeze` output

[code]

### What was wrong?

Hi, I'm trying to install web3.py on my fedora machine but to no avail. There seems to be a build error since gcc keeps complaining of "unrecognized command line option". I followed the [developer setup on linux](https://github.com/ethereum/web3.py/blob/master/docs/README-linux.md) and tri

[2021-01-19 01:26] STYJ commented on #1838
Sorry, I didnt know that [python 3.9 is not yet supported](https://github.com/ethereum/web3.py/issues/1769). Will downgrade my version of python and close this issue. Thanks!

[2021-01-19 01:26] #1838 closed

[2021-01-19 14:45] vnavascues opened #1839 "Support ENS multicoin EIP-2304"
* Version: 5.11.1
* Python: 3.7
* OS: osx/linux/win

[ENS PublicResolver](https://docs.ens.domains/contract-api-reference/publicresolver)
[EIP-2304](https://eips.ethereum.org/EIPS/eip-2304)

`RESOLVER` would require something like this:
[code]

[bruno.eth](https://app.ens.domains/name/bruno.eth) is an ENS domain with multiple coins set up.

By calling `addr(bytes32, unit256)` on its public resolve

[2021-01-19 20:07] gitpull2 opened #1840 "ValueError: {'code': -32000, 'message': 'filter not found'} while fetching events using .get_all_entries() ."
node (BSC mainnet): "https://bsc-dataseed.binance.org/

Error message -
[code]

Code -
[code]
Error shows up at `print `statement

Error arbitarily shows up . It is more frequent if `startingBlock `is a small value . Sometimes there is no error and data is recieved smoothly.
Why is this error showing ? Can this code be used in production given the arbitariness with which the error is showing ?How

[2021-01-20 17:49] kclowes commented on #1429
@Ifere I've been working my way through the `eth` methods one by one. If you'd like to work on one (or more) of those, that would be awesome! The pattern can be found in pretty much any of the linked PRs, but #1829 or #1828 are probably the best to check out since they're the most recent and in the `eth` module. Be sure to get a PR up at the beginning (even if it's in progress), or list here what

[2021-01-20 18:18] joseluu opened #1842 "ipc socket timeout unrecoverable doing unlock_account on a local node"
* Version: 5.15.0
* Python: 3.6
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
*w3.geth.personal.unlockAccount(QAXH_ADDRESS, QAXH_PASSWORD)
* The full output of the error
Traceback (most recent call last):
  File "/var/www/test_id/plateform/venv/lib/python3.6/site-packages/web3/providers/

[2021-01-20 18:22] kclowes commented on #1839
Thanks for raising this issue! I'm for it, but will probably take a bit for us to get to it. If you'd like this feature soon, feel free to open a PR and we'd be happy to review!

[2021-01-20 18:39] kclowes commented on #1840
I'm not sure about BSC mainnet, but filters are notoriously flaky on mainnet nodes. Your error message looks like the node dropped the filter which sometimes happens if too much time passes, or if there are too many records in a request. Last I checked on mainnet, 50 blocks was about the most blocks you could do, but not sure how that translates to your node/chain. You may try using [local_filter_

[2021-01-20 18:39] #1840 closed

[2021-01-20 18:50] vnavascues commented on #1839
Hi! No rush at least for me. If I find some time definitely I'll try to open a PR.

[2021-01-21 23:57] marcgarreau commented on #1807
ah ha - the `ProposalCreated` event abi contains a `values` key. Our filter building logic blows up when it tries to read the `values()` of the dict. Will have to account for that case. Fix coming soon™.

[2021-01-22 13:58] jamadden opened #1847 "lru.LRU is not thread-safe; session cache maintenance (web3._utils.request) can crash the interpreter"
* Version: 5.15.0, but current master too.
* Python: Any
* OS: Any

### What was wrong?

In https://github.com/ethereum/web3.py/pull/876, code was added to close sessions as they are evicted from the session cache. But in the presence of multiple threads this can lead to interpreter crashes, [because `lru.LRU` is not thread safe](https://github.com/amitdev/lru-dict/issues/22). If, while running th

[2021-01-22 15:44] pythonster commented on #1821
i did brew install ethereum, then inside the virtual environment did
`geth --http.addr https://mainnet.infura.io/v3/<#######> --http.api personal,eth,net,web3,admin,txpool
`
then did like this
`w3.geth.personal.new_account('pass-phrase')`
and still give the same error, what i did wrong? thank you

[2021-01-22 18:31] marcgarreau commented on #1798
IMO, this is a fringe use case and is sufficiently documented [here](https://web3py.readthedocs.io/en/stable/providers.html#httpprovider), so closing this issue. If we want to document other/all tweakable args, lets open a new issue.

[2021-01-22 18:31] #1798 closed

[2021-01-22 18:40] kclowes commented on #1847
Wow, thanks for the report @jamadden! Will put this near the top of our todo list.

[2021-01-22 18:58] kclowes commented on #1821
@pythonster You can't access the personal module (or any of the geth-specific or parity-specific RPC methods) via Infura. If you're trying to create an account on your local node it's best to use IPC, so you can just start geth with:
`geth` which enables the IPC connection by default. Then you can do `w3.geth.personal...`.
Here are some docs you can check out:
https://web3py.readthedocs.io/en/stab

[2021-01-22 19:06] marcgarreau commented on #1821
@kclowes beat me to it, but will send anyway:

@pythonster you can only use geth to create new accounts if you are the one running the geth node. You're using a mix of strategies here: you installed geth locally (`brew install ethereum`), but infura is a remotely hosted geth node. You need to choose one or the other:

1) If geth, it takes many hours to sync, but runs on a local port, 8545 by defau

[2021-01-22 21:58] pythonster commented on #1821
@marcgarreau @kclowes Thank you, you are right! I figured out just several hours earlier that i exactly mix methods local and hosted nodes.
P.S. - For those who might be puzzled as i was - you cant just create and unlock account via geth.personal to send a transaction, you need to sign a transaction with the private key if you are using a hosted node like infura.

[2021-01-25 23:01] #1807 closed

[2021-01-25 23:03] #1343 closed

[2021-01-27 21:42] pipermerriam commented on #1842
Can you expand on why this is "unrecoverable"?

[2021-01-28 22:27] Th0rgal opened #1861 "No event ever fired"
* Version: 5.15.0
* Python: 3.7
* OS: linux (nixos)
* `pip freeze` output

[code]

### What was wrong?
 This is my code:
[code]

I expected to get spammed with event logs ...but I didn't see anything. This is the output of my console:
[code]

What am I missing? Go-ethereum is running and spamming the terminal but did I miss something?

Sincerely,
Thomas

[2021-01-28 22:50] Th0rgal commented on #1861
Hey I am really sorry for this post, it was completely my fault:

- The ethereum node I was running was trying to download the entire blockchain (and I don't have the size on my computer for it). This is why I started a lightnode ...and this worked fine!

[2021-01-28 22:50] #1861 closed

[2021-01-31 16:05] ml31415 opened #1864 "Unhandled ValueError when calling contract functions"
Version: master

### What was wrong?

Whenever a contract function call fails, for whatever reason, it throws an unspecified `ValueError`, which pops up through all the call stack. For libraries on top it's not possible to properly reason and deal with such an unspecific error. This problem shows up in a lot of issue reports, e.g. https://github.com/ethereum/web3.py/issues/1725 https://github.com/

[2021-02-01 22:34] marcgarreau commented on #728
Finally closing this ancient issue after making a couple doc tweaks. I like the pattern of adding an FAQ to the bottom of specific guides, e.g., contracts, otherwise questions that don't fit nicely into one bucket wind up in `Troubleshooting`.

[2021-02-01 22:34] #728 closed

[2021-02-02 21:32] mapapuche opened #1866 "The method eth_coinbase does not exist/is not available"
* Version: 5.15
* Python:3.8
* OS: ubuntu
* `pip freeze` output

[code]

### What was wrong?

Hello, i'm trying web3.py to my new project. When i try to send a transaction with the example of the doc i got an error.

There error :
[code]

Please include any of the following that are applicable:

Here my code :
[code]

I'm using infura as node.

[2021-02-02 21:45] marcgarreau commented on #1866
Hey @mapapuche, that example in the docs is a bit confusing. Instead of `w3.eth.coinbase`, just enter the address of the account you want to send the transaction from. I'll clarify the docs then close this issue. Let me know if you have any follow-up questions.

[2021-02-02 21:47] marcgarreau commented on #1866
If that is the entirety of your code, it looks like you have some conceptual gaps to fill in. I wrote a guide here for getting started with Ethereum and Web3.py: https://snakecharmers.ethereum.org/a-developers-guide-to-ethereum-pt-1/.

[2021-02-02 21:51] mapapuche commented on #1866
Ok thank you. will read it now

[2021-02-02 22:12] mapapuche commented on #1866
PS : just notice a fun fact, my name is Valentin Garreau ;)

[2021-02-02 22:22] marcgarreau commented on #1866
Wild. Hello long lost cousin 😄

This issue will be closed once the docs change PR gets merged in, but you're still welcome to ask questions. Feel free to open a new issue if its something totally unrelated.

[2021-02-02 22:32] #1866 closed

[2021-02-02 22:47] mapapuche commented on #1866
Your guide is nice.
Now i have the buy token working well, i'm asking myself new question lol.
Did you have one about how to sell token ? In the guide at the end of part 2 you start to talk about it but there is no example about how to sell token to get back eth

[2021-02-03 02:56] marcgarreau commented on #1866
Thanks @mapapuche. My next blog post will explore contracts, including tokens, but it's still in development. I don't have another resource in mind, but ethereum.org has a lot of great tutorials and other resources. Maybe that's a good place to explore next: https://ethereum.org/en/developers/tutorials/.

[2021-02-03 15:03] NikitosnikN opened #1868 "Update docs for web3.eth API"
### What was wrong?

Docs for `eth.getTransactionReceipt`, `eth.waitForTransactionReceipt` is outdated. Response of these methods is different:
It includes `logsBloom`, `status` fields and does not include `root` field.

Also it is impossible to find information about transaction status (if it is successful or it was reverted) in web3.py docs, but this info can be found in simular section [web3.js

[2021-02-03 22:21] marcgarreau commented on #1868
thanks for the PR!

[2021-02-03 22:21] #1868 closed

[2021-02-05 19:21] AngelGris commented on #1817
I think the issue is not related to the env vars.
The real problem is that get_default_ipc_path() is returning None because the user doesn't have the geth.ipc in the expected location.
I would be glad to contribute with a fix for this, but I'll need some guidance on what the way to go is.
Would it be the best to raise an exception with an adequate message when get_default_ipc_path() returns None?

[2021-02-06 01:41] fubuloubu opened #1870 "Use `IntEnum` for chain ID"
### What was wrong?
`eth.chain_id` returns an `int`, which isn't always the most direct thing to be looking at when working with multiple chain IDs (as will become the case with L2 use cases). It would be excellent to use a datatype that supports human-readable naming, and is still backwards compatible with `int` comparisions (e.g. [`IntEnum`](https://docs.python.org/3/library/enum.html#intenum) c

[2021-02-07 04:51] Morgon opened #1871 "With local_filter_middleware, Block filters do not clear received entries"
* Version: 5.15.0
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

When using event filters, `get_new_entries()` only returns actual new entries, and are cleared prior to calling the method again. When using `local_filter_middleware` on Block filters, results appear to be retained.

This behavior occurs regardless of IPC, Websocket, or HTTP Providers, and seems to be specific to the

[2021-02-08 06:33] fubuloubu opened #1872 "Feature suggestion: `blockAtTimestamp`"
### Motivation
It is sometimes useful to find the closest block to a given timestamp for searching purposes. It is not easy to do so as there is no RPC method to call to do so, with the most efficient method probably being a binary search assuming an average delay between blocks.

### Specification
After input validation (timestamp not in the future or before chain genesis), estimate the number of

[2021-02-08 11:00] tgdn commented on #1402
Hi, thank you for developing this project.

This issue was opened two years ago, has anything been done to implement subscriptions?

Thanks.

[2021-02-08 15:46] pipermerriam commented on #1872
To avoid ambiguity we should consider:

- `blockBeforeTimestamp`: last block before the given timestamp.  Unambiguous.
- `blockClosestToTimestamp`: will need the ability to supply rounding rules for when there are two surrounding blocks both equal distant away from the provided timestamp.

[2021-02-08 17:03] fubuloubu commented on #1872
I like `blockBeforeTimestamp`

[2021-02-08 17:45] kclowes commented on #1817
@AngelGris A PR would be great! I think the reported problem is an environment variable issue, although it's you're right in seeing that if the path doesn't exist, `None` gets returned. I think it would be good to add an error message instead of just silently not connecting, although I'm not sure what the thinking was originally to return None instead of an error.

I'd approach the env var fix by

[2021-02-08 18:19] kclowes commented on #1871
Thanks for the report @Morgon! I am able to replicate this. I suspect that we're not updating the start block, but I'm not sure where. I'll take a look as soon as I can!

[2021-02-08 18:36] kclowes commented on #1402
@tgdn Nope, not yet, but it's fairly high priority at this point. If anyone has the time to put up a PR, I'd be happy to review/help out. That's probably the fastest way to get something in!

[2021-02-08 18:45] tgdn commented on #1402
Do you have any idea how you would like this to be built?
I suppose it would be available through the websocket interface.

[2021-02-08 22:37] kclowes commented on #1402
I'd like to get some feedback from @pipermerriam because I'm not super familiar with python pub/sub paradigms. One naive implementation might be to add the `subscribe` and `unsubscribe` methods to the Eth Module, and then we'd have a similar API to the event examples [here](https://web3py.readthedocs.io/en/stable/filters.html#examples-listening-for-events). But I'm curious if there's a more elegan

[2021-02-09 04:00] marcgarreau commented on #1402
Also unsure of the most pythonic approach. Web3.js uses the event emitter pattern, e.g.,
[code]
Looks like a python port exists [here](https://pypi.org/project/pymitter/). Maybe a different flavor of observer pattern is preferred, though. I yield the remainder of my time to Piper or Carver.

[2021-02-09 13:32] jbirnick opened #1873 "Installation of web3[tester] fails because of netaddr-0.7.3"
* Version: Newest?
* Python: 3.9.1
* OS: Arch Linux
* `pip freeze` output

[code]

### The problem

The installation of web3[tester] fails with the following error:
[code]

How can this be fixed?

[2021-02-09 17:30] kclowes commented on #1873
It looks like you're using python 3.9 which we don't support yet. Try using python 3.8, and if that doesn't work, feel free to reopen this issue!

[2021-02-09 17:30] #1873 closed

[2021-02-10 04:27] randomshinichi opened #1874 "Getting the symbol of 0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2 (MKR) fails"
* Version: 4.7.2
* Python: 3.8, 3.9
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
In https://github.com/TokenEngineeringCommunity/BalancerAMM_Model/blob/cf4210443b7c6780b1f6d74f86d63b996c517784/data/w3_utils.py#L63 for `address = 0x9f8F72aA9304c8B593d555F12eF6589cC3A579A2` (Maker MKR token), looking up the symbol on Infura fails with:

[code]

[2021-02-10 17:18] kclowes commented on #1874
It looks like the ABI you have in your utils file isn't quite right for the maker contract. The ABI for maker is:
[code]
I'm going to close because this isn't a web3 bug. If it comes up again though, I'll add an issue for a better error message.

[2021-02-10 17:18] #1874 closed

[2021-02-11 09:47] hoh opened #1875 "Getting the block_number asynchronously is hacky"
* Version: 5.16.0
* Python: 3.8.5

### What was wrong?

PR #1851 `Moving blockNumber -> block_number` replaced a function with a `@property`.

Since that peoperty does RPC under the hood, which blocks on the network, using a property here does not seem intuitive, but more importantly it makes it more difficult to get that information in a non-blocking way.

This is an issue when running this in a

[2021-02-11 20:46] kclowes commented on #1875
@hoh thank you for the report! It's historically been a property, and I think it accidentally became a public method, but I don't have any problem moving it back to being a public method as well :thumbsup:

[2021-02-12 20:42] Naheel-Azawy commented on #1800
Hello, I'm having a similar error. Here's a minimal example:

[code]

Using `url1` everything works nicely for me. But `url2` results to a similar error as OP's error. Note that this is my actual private IP. I was wondering why I'm getting this error on my raspberry pi. But when I tested the same on my local machine, weirdly enough, I got the same error. I'm using ganache and truffle. I guess I'm

[2021-02-12 23:14] kclowes commented on #1800
Hmm, I'm not sure. Could be a firewall?

[2021-02-13 00:55] Naheel-Azawy commented on #1800
I don't think so. I didn't add any special rules to it. But anyway, I always use my machine to deploy all sorts of services for development and access it from different devices with no issues.

[2021-02-13 16:28] takipsizad commented on #1578
uhhh

[2021-02-15 12:18] ml31415 commented on #1864
I'd be happy to put a PR together, but I'd like to hear the developers view on that first.

[2021-02-15 22:13] kclowes commented on #1864
Sorry, @ml31415 I lost track of this. I'm for changing ValueError to be something more specific to web3. I think the best option would be to raise something other than `ValueError` in `manager.py`. In order to keep this backwards compatible, however, we'd need to inherit from ValueError in v5. Once we have a v6 branch going, we can remove the inheritance. I'm not sure what we'd call the error clas

[2021-02-16 10:19] ml31415 commented on #1864
Thanks for coming back to that! From a user point of view, I'm always a big fan if a library provides a "root" exception, from where all purposefully thrown errors derive, so that I can catch for only that error type, if I'm not sure what exactly might go wrong in some library call. Or to put it in other words: It's great to be able to freely choose the level of granularity when catching an except

[2021-02-17 11:36] alexisVandewalle commented on #1629
I have the same issue when i try to parse an event wich takes a struct as parameters

[2021-02-17 17:18] kclowes commented on #1864
Great minds! That is one of the features we're planning on implementing in v6. Tracked in #1478

[2021-02-17 20:22] Naheel-Azawy commented on #1800
Ok I guess I found it. As mentioned in https://github.com/simolus3/web3dart/issues/32, ganache uses 127.0.0.0 by default. It needs to be set to 0.0.0.0. Problem solved for me. I hope this helped @esraa95mahmoud?

[2021-02-17 21:39] kclowes commented on #1800
Awesome, thanks for the update @Naheel-Azawy! I'm going to close since you solved your issue and I never got a response from @esraa95mahmoud back in December.

[2021-02-17 21:39] #1800 closed

[2021-02-18 11:31] ml31415 commented on #1864
Sorry for having created a duplicate then. Had missed that unfortunately.

[2021-02-18 18:39] kclowes commented on #1822
@Patil2099 Thanks for the contribution! I think the first thing that we'd want to do is write a test that replicates this issue (probably in `tests/core/contracts/test_contract_transact_interface.py`), and once that's correctly failing then I think the best solution is to modify `validate_address` in `web3/_utils/validation.py` to accept a hex that's not a string. Let me know if you have any quest

[2021-02-18 18:45] kclowes commented on #1864
No worries! I think this deserves to be open still since it's a separate request to have a different error come back than `ValueError`.

[2021-02-22 15:25] datgrog opened #1881 "Gas Price Cache Strategy not working"
Python 3.8.1
web3.py 5.15.0

Using the doc (https://web3py.readthedocs.io/en/stable/gas_price.html#selecting-the-gas-price-strategy) with Infura's ropsten node

[code]

I expected that the first time I called the glacial_gas_price_strategy it would take time but not the second time I called it because of the cache set but it does not appear to change anything. I am using it wrong ?

[2021-02-22 18:47] marcgarreau commented on #1881
Hey @datgrog, this part of the world could be better documented. In your case, you're executing the `glacial_gas_price_strategy` outside of the w3 instance and its middleware. Try `w3.eth.generateGasPrice()` instead. Subsequent calls should be quicker.

I did a quick demo with the `medium_gas_price_strategy` and found the first call took ~35 seconds, and subsequent calls were ~8 seconds. That's lo

[2021-02-22 21:49] marcgarreau commented on #711
(cleaning up old issues)

Relevant links if you landed on this page:
- [poa middleware docs](https://web3py.readthedocs.io/en/stable/middleware.html#geth-style-proof-of-authority)
- [connecting to rinkeby](https://web3py.readthedocs.io/en/stable/examples.html?highlight=rinkeby#using-infura-rinkeby-node)
- [geth --dev autoconnect docs](https://web3py.readthedocs.io/en/stable/providers.html#geth-dev

[2021-02-22 21:49] #711 closed

[2021-02-22 22:19] marcgarreau commented on #1244
cleaning up stale issues; please reopen/open a new one if appropriate.

[2021-02-22 22:19] #1244 closed

[2021-02-22 22:23] marcgarreau commented on #960
A crypto-generation removed now 😅

[2021-02-22 22:23] #960 closed

[2021-02-22 22:51] #686 closed

[2021-02-23 02:04] nazariyv commented on #845
why would infura work with web3.js but not web3.py (for estimating gas)?

I am having the same issue right now. Asking because I am thinking about using Alchemy, but also thinking if Infura would be the real culprit, then (1) will Alchemy help, (2) why would web3.js work fine.

[2021-02-23 02:18] poisson-aerohead opened #1885 "Failure Installing 'tester' Extra With Pip"
* Version: 5.16.0
* Python: 3.9.1
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

I attempted to install the 'testers' extra with

pip install 'web3[tester]'

I received the following error:

  Using cached netaddr-0.7.3.zip (1.2 MB)
    ERROR: Command errored out with exit status 1:
     command: /usr/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-ins

[2021-02-23 11:33] datgrog commented on #1881
Many thanks for your reply ✌️

[2021-02-23 11:33] #1881 closed

[2021-02-23 19:55] carver commented on #845
The first place I would check is that you're estimating gas with exactly the same transaction in both js and py.

[2021-02-25 16:19] #707 closed

[2021-02-25 16:19] #1143 closed

[2021-02-25 16:20] #1167 closed

[2021-02-25 16:21] #1321 closed

[2021-02-25 16:26] #719 closed

[2021-02-25 16:28] #527 closed

[2021-02-25 16:37] marcgarreau commented on #560
Quick test shows this has been implemented.

[2021-02-25 16:37] #560 closed

[2021-02-25 17:52] marcgarreau opened #1887 "Update Geth test fixture to 1.10.1"
### What was wrong?
Our Geth fixture is lagging behind. We're on 1.9.19 while latest is now 1.10.1.

### How can it be fixed?
Test out the docs [here](https://web3py.readthedocs.io/en/stable/contributing.html#generating-new-fixtures). ~Hopefully they're sufficient, but ping me if not.~ Docs can use some improvement; let's identify where the gaps are.

[2021-02-26 13:45] Uxio0 opened #1888 "Missing data when reverting transaction"
* Version: v5.17.0
* Python: 3.8
* OS: linux

### What was wrong?

When a transaction `call()` fails, a message like this is returned from the node:

[code]

In previous versions of web3.py (last one was `5.12.3`), a `ValueError` was raised by `web.py` with a dictionary as the arguments, so we can work with `data`.

[code]

From `5.13.1` onwards, this dictionary has been replaced by a `str`, and i

[2021-02-26 15:09] pipermerriam commented on #1888
IIRC there was some variance in different JSON-RPC providers (infura, geth, etherscan, etc) in exactly how revert messages were returned from an `eth_call`, so whatever we do here, it's worth a little basic exploration into understanding how these different backends expose this data.

When I looked at this a while back....

- some returned the revert message as if it was the return of the call: AK

[2021-02-26 15:57] Uxio0 commented on #1888
Thanks @pipermerriam for your quick response.

That's right, but I think currently they are following a similar approach, at least with the `data` attribute:

OpenEthereum//v3.1.1-rc.1-stable:
[code]

Geth/v1.9.25-stable:
[code]

Infura (Geth/v1.9.25-omnibus)
[code]

I think the actual approach is good, trying to raise a `ValueError` with the error as a `str`. A lot of smart contracts will be work

[2021-02-27 13:51] Pol-Lanski opened #1889 "Getting: AttributeError: 'Eth' object has no attribute 'xxxx(any)'"
* Version:
[code]
* Python: 3.9.1
* OS: osx
* `pip freeze` output:

[code]

### What was wrong?

I can't seem to use any of the `web3.eth` methods

Other calls like `web3.api` or `web3.clientVersion` work, so the object is created.

I'm using Jupyter Notebook.

* The code which produced the error
`w3.eth.chain_id`
or
`w3.eth.get_block('latest')`

* The full output of the error
[code]
[code]

* Wha

[2021-02-28 14:38] marcgarreau commented on #1889
Hey @Pol-Lanski, typically this is because you haven't configured a web3 provider. See the docs [here](https://web3py.readthedocs.io/en/stable/troubleshooting.html#why-can-t-i-use-a-particular-function). Closing, but please reopen if that wasn't your issue.

[2021-02-28 14:38] #1889 closed

[2021-03-01 06:52] Pol-Lanski commented on #1889
Hey @marcgarreau , thanks a bunch, I really appreciate the help!
Unless I'm forgetting something super basic, I have configured a web3 provider.

I am connected to my local Nethermind Node, but I also tried with infura to make sure it wasn't my node, with the same result:
`w3 = Web3(Web3.HTTPProvider('http://fullnode.dappnode:8545'))`
and also
`w3 = Web3(Web3.HTTPProvider("https://mainnet.infura.i

[2021-03-01 15:25] pipermerriam commented on #1889
I think it's because he's using `web3==5.0.0`.  Try `w3.eth.getBlock`.  Those methods were recently migrated to snake case.

[2021-03-01 16:03] Pol-Lanski commented on #1889
Oh my god. Thanks @pipermerriam , that made it :) I knew it had to be something super stupid and I was starting to go crazy!
Admittedly, I'm also not great at this :)

Thanks a lot!

[2021-03-01 16:06] pipermerriam commented on #1889
glad we could get it figured out.  Reach back out if you run into any more problems.

[2021-03-04 08:32] haniyeh-habibi opened #1891 "eth_signTypedData does not exist/is not available"
Hi,
signtypeddata doesn't work and gives me this error.

ValueError: {'code': -32601, 'message': 'The method eth_signTypedData does not exist/is not available'}

[2021-03-04 08:56] haniyeh-habibi commented on #1891
i know it because of infura, but what can i do instead of this?

[2021-03-04 13:29] takipsizad commented on #1730
bruh

[2021-03-04 14:05] spinoch opened #1892 "add package to conda-forge"
pip environments are easily broken, (conda)[https://docs.conda.io/] solves most of these issues by tracking package versions and their dependencies to prevent broken environments

All of `web3`'s dependencies are already on `conda` except for `pypiwin32`. Adding `web3` to conda-forge would be trivial if it were not for this dependency. I am not entirely aware what the value is of having `pypiwin32

[2021-03-04 16:40] marcgarreau commented on #625
Stale issue cleanup; if anyone lands here in the future, #1890 introduces some Python types to ABI examples in the docs. For other feature requests/bug reports, please open a new issue.

[2021-03-04 16:40] #625 closed

[2021-03-04 16:42] marcgarreau commented on #661
Stale issue cleanup; please reopen with reproducible code if appropriate.

[2021-03-04 16:42] #661 closed

[2021-03-05 06:11] takipsizad commented on #1730
yeah but i dont want to spend 13 gb for a thing that i wont use

[2021-03-05 15:38] kclowes commented on #1730
This might be a dependency resolution issue. Try installing with either `pip install web3 --use-feature=2020-resolver` or with pip version 20.3 or greater.

[2021-03-06 22:14] JoshuaMulliken opened #1894 "Does not work on M1 Macs"
* Version: 5.17.0
* Python: 3.9.2
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

<img width="948" alt="CleanShot 2021-03-06 at 17 13 19@2x" src="https://user-images.githubusercontent.com/36283247/110222306-42c46880-7e9f-11eb-9dc3-f81c610658f5.png">

### How can it be fixed?

I am not sure but I believe some of the dependencies need to be updated to support this.

[2021-03-08 16:10] kclowes commented on #1894
I can confirm that the library does work on M1 macs, but we don't yet support python 3.9. Try using python 3.8 and feel free to reopen if that doesn't do it!

[2021-03-08 16:10] #1894 closed

[2021-03-08 16:59] vintrocode opened #1895 "Accessing elements through a Proxy Contract"
* Version: web3==5.11.1
* Python 3.8.6
* OS: Ubuntu 18.04.5
* `pip freeze` output

[code]

I'm trying to access the Aave lending pool contract via web3py. I'm not sure if my issue is because I'm missing something with web3py or there's something with the Aave contracts, but I'll explain what I tried.

First, I connected to the Kovan testnet with no problem
[code]

Aave has a lending pool addresses

[2021-03-08 17:33] kclowes commented on #1895
Thanks for such a detailed issue @vintrocode! Looking over this briefly I'm not sure why you'd need to call the `implementation` function? It looks like you should be able to do all of the external facing tasks - deposit, withdraw, borrow, etc. from the lending pool address that you have: `0xE0fBa4Fc209b4948668006B2bE61711b7f465bAe`. Am I misunderstanding?

The error you're getting back is a Solid

[2021-03-08 17:55] Huge commented on #1895
You should check the adresses in https://docs.aave.com/developers/getting-started/deployed-contracts , Kovan tab. Then you can either just copy the LendingPool adress now or at least compare it with your current target.
Do something like:
`
lp_addr = web3.eth.contract(address= 0xE0fBa4Fc209b4948668006B2bE61711b7f465bAe, abi=lp_abi)`, where you put the ABI of the current implementation, usually by

[2021-03-08 18:05] vintrocode commented on #1895
The kovan tab has a note that says to make sure you go through the `LendingPoolAddressesProvider` to get the latest `LendingPool`. That address provider returns `0xE0fBa4Fc209b4948668006B2bE61711b7f465bAe`, which is the address to the proxy function. @kclowes the Aave devs said exactly what you did -- i should be able to do all those things apparently. But when I create the contract object with th

[2021-03-08 18:16] vintrocode commented on #1895
I'll be damned. @Huge if I do as you're saying, and just use that proxy address like it's the LP address along with the LP ABI, it works. That's wild to me. I do my due diligence, check the addresses on etherscan, and it leads me astray when in reality I should have been ignorant and everything would have worked! Haha thanks both of you @kclowes and @Huge for your help.

[2021-03-08 18:16] #1895 closed

[2021-03-09 08:49] takipsizad commented on #1730
well i can get pass it but lru wont let me after that

[2021-03-09 21:58] kclowes commented on #1730
@takipsizad Can you post a stack trace?

[2021-03-09 22:32] marcgarreau commented on #1891
@haniyeh-habibi still stuck? if so, can you provide a code sample of what you're trying to do?

[2021-03-10 06:26] takipsizad commented on #1730
i was downloading lru instead of lru-dist

[2021-03-11 13:46] tobiwankenobii opened #1899 "eth_newPendingTransactionFilter does not exist"
### What was wrong?

[code]
returns:
`ValueError: {'code': -32002, 'message': 'pending logs not supported'}`

[code]
returns:
`ValueError: {'code': -32601, 'message': 'The method eth_newPendingTransactionFilter does not exist/is not available'}`

### How can it be fixed?

It's probably related to request param getting changed to `newPendingTransactions`, described [here](https://community.infura.i

[2021-03-11 16:27] kclowes opened #1901 "Remove SolidityError"
version: v6.x

### What was wrong?
Revert messages used to raise a SolidityError, but they should have been raising something more generic to account for different languages.

### How can it be fixed?

SolidityError has already been removed, but the error that is currently raised by revert inherits from it. Will need to remove the inheritance.

[2021-03-11 16:29] #1347 closed

[2021-03-11 16:33] kclowes opened #1902 "Standardize `apply_formatter_to_array`"
* Version: v6

### What was wrong?

The eth-utils and web3 `apply_formatter_to_array` functions are slightly different. We should standardize on one or the other (probably the eth-utils version). The `apply_formatter_to_array` function in web3 converts the return value to an array and the eth-utils version does not.

[2021-03-11 16:44] kclowes opened #1903 "Enable strict byte length checking by default"
* Version: v6

### What was wrong?

In v5, there is a flag where you can enable strict bytes length checking. See [these docs](https://web3py.readthedocs.io/en/latest/contracts.html#enabling-strict-checks-for-bytes-types) for some background. We want to remove the flag and make the strict checking the default.

### How can it be fixed?

[This PR](https://github.com/ethereum/web3.py/pull/1419) adde

[2021-03-11 18:19] acemasterjb opened #1904 "Cannot send int256[] (list of integers) into function with parameter type int256[]"
* Version: 5.17.0
* Python: 3.8.8
* OS: win (WSL 2, Ubuntu)
* `pip freeze` output

[code]

### What was wrong?

The code which produced the error:

The solidity function defined:

[code]

does not accept the python list of integers I provide

[code]
Full output of the error:

[code]
* What type of node you were connecting to:

hardhat test node.

### How can it be fixed?

I think there is somethin

[2021-03-11 18:35] kclowes commented on #1904
@acemasterjb I think it's your `toHex` conversion because it returns a string. Do you still get the error if you try with the initial `term`?

[2021-03-11 18:46] kclowes commented on #1899
It looks like Infura doesn't support the RPC method `eth_newPendingTransactionFilter`, and web3py doesn't support `eth_subscribe` at this point but we plan to in the future (see #1402). One workaround is to use your own local node instead of a hosted one. Closing since the eth_subscribe/unsubscribe feature request is already tracked, and this isn't a bug in web3.

[2021-03-11 18:46] #1899 closed

[2021-03-11 18:47] acemasterjb commented on #1904
@kclowes
When I do so, I get this
[code]

This is the start and end of the traceback, would you need the full traceback to get a better idea of what's going on?

[2021-03-11 18:51] kclowes commented on #1904
I think that's your `gas` and `gasPrice`. Try making those `int`s too

[2021-03-11 18:54] acemasterjb commented on #1904
@kclowes
makes perfect sense, thank you! I sometimes over look the fact that even `1e1` would be a float type.

[2021-03-11 18:54] #1904 closed

[2021-03-11 18:56] kclowes commented on #1892
It's for windows users to allow them to use the package, so we can't delete it. However, it's pretty outdated AFAIK, and there is a PR up to swap it out for `pywin32` that keeps getting deprioritized. I don't use conda, but it looks like pywin32 is on conda-forge, is that right? If so, I can work on spinning up a Windows virtualenv to test/review the PR.

[2021-03-11 18:58] kclowes commented on #1885
Sorry for the long response time. Unfortunately, it looks like you're running python 3.9 which we don't support yet. Try downgrading to 3.8. If that doesn't fix your issue feel free to reopen!

[2021-03-11 18:58] #1885 closed

[2021-03-13 20:11] tobiwankenobii commented on #1899
LOL, so since almost 1.5 year there is completely no implemenation regarding one of the most used endpoints?
Which could be implemented in like 5 lines?
[code]
Well, obviously `it could`, in some normal project where you can move it in some kind of service and make it available in whole package. But here it's impossible, like many things mentioned above.

I really don't like this kind of "suboffic

[2021-03-14 19:06] miohtama opened #1911 "http_retry_request_middleware needs to be more graceful and sleep a bit"
* Version: 5
* Python: 3.x

### What was wrong?

The current `http_retry_request_middleware` is not graceful and configurable enough.

### How can it be fixed?

The current `exception_retry_middleware`, which is used by `http_retry_request_middleware`, looks like:

[code]

Possible usual retryable error conditions include

* Temporary TCP/IP routing errors

* Network card reset

* Firewall reset

[2021-03-14 21:59] notooth1 opened #1912 "Failed to get token balance"
I failed to get the balance of tokens with this code. Can anyone help me fix it?

[code]

Error:

`web3.exceptions.ContractLogicError: execution reverted`

[2021-03-17 00:32] benber86 commented on #1903
I started working on this and have a question: since the strict byte length checking is going to be the default behavior, should variables named to indicate a strict behavior be renamed accordingly?

For instance in the tests, things like `StrictArraysContract` would become `ArraysContract` and the old `ArraysContract` would be renamed to something like `NonStrictArraysContract` ?

On Discord, @ma

[2021-03-17 04:44] multizone-quant opened #1914 "suggestion filter_by_name() in web3/_utils/abi.py"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?
This is not bug. But it could be potential bug.

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?
def filter_by_name(name: str, contract_abi: AB

[2021-03-17 14:46] pipermerriam commented on #1914
I think instead it should be something like `abi.get('name') == name` and take out the `type` pre-filter entirely.

[2021-03-17 21:31] spinoch commented on #1892
Thanks for clarifying.

That's right: https://anaconda.org/conda-forge/pywin32

That'd be great

[2021-03-17 21:58] kclowes commented on #1776
@pipermerriam - Tiffany and I were talking about how to approach to this issue today, and wanted to make sure we had the API right for the testing methodology you lay out here:

Taking IPC as an example, implement the RPC server like you linked to in `ddht`, and then:

Base performance:
`RPCServer().execute_rpc()`

Provider performance:
`Web3.IPCProvider('path/to/rpc/server').make_request(...)`

U

[2021-03-17 22:24] pipermerriam commented on #1776
Spot on

[2021-03-18 09:25] multizone-quant commented on #1914
It looks better. adding new function, abi.get('name')

[2021-03-18 09:41] spapinistarkware commented on #1888
I would like this too

[2021-03-18 18:08] ulope opened #1918 "Clarify snake case migration strategy"
### What was wrong?

In recent releases a bunch of RPC methods became deprecated and suggest to use the new snake_case alternative.
However only a small handfull of methods so far seem to be converted.

This piecemeal way of converting the namespace is quite confusing and additionally causes ongoing maintenance burden on downstream projects.

Please clarify what the strategy going forward is going

[2021-03-18 19:32] kclowes commented on #1918
Sorry for the confusion and added burden! The goal was to keep PRs small and easy to review so we don't miss anything.

Here are the answers to your questions:

Old methods will be around until v6. We try very hard to not introduce breaking changes in minor version releases. The exception to this rule is if our dependencies (Geth, Parity/OE, Infura, etc.) make breaking changes and we have to incor

[2021-03-18 19:32] #1918 closed

[2021-03-20 22:08] LefterisJP commented on #832
Hey guys any news on this one? Any plans to implement it?

Kind of sucks to have to use the [multicall contract](https://etherscan.io/address/0xeefBa1e63905eF1D7ACbA5a8513c70307C1cE441#code) to do batch queries on the node when the nodes itself allows batch queries.

The js guys already have this functionality for years now and are gonna be making fun of us pythonistas :snake:

[2021-03-21 08:31] banteg opened #1921 "eth_call formatter breaks when supplying third argument"
### What was wrong?

`eth_call` supports [a third optional argument](https://geth.ethereum.org/docs/rpc/ns-eth#3-object---state-override-set) which overrides state prior to a call. web3.py makes an incorrect assumption there should only be two arguments.

[code]

### How can it be fixed?

Make formatter aware of the third option argument for `eth_call`.

[2021-03-22 16:24] marcgarreau commented on #1921
Thanks for raising the issue. We'll dig in next opportunity. PRs welcome; this might be a straightforward one for interested contributors.

[2021-03-22 16:31] marcgarreau commented on #1912
@notooth1 did you get this sorted out? On quick glance, the ABI can be input as a string rather than json. Other than that, the snippet looks fine. More code/exception messaging would be required to properly diagnose. However, this sort of question is best asked in stack overflow or in the Discord server (invite link in the README).

[2021-03-22 16:31] #1912 closed

[2021-03-22 16:37] marcgarreau commented on #1911
Thanks for raising the issue and the link to the web3.js reference. We'll dig in next opportunity; if someone wants to pick this up before then, drop a note here.

[2021-03-23 19:13] JuanDavidG1997 opened #1922 "AttributeError: 'Contract' object has no attribute 'transact'"
* Version: 5.17.0
* Python: 3.69
* OS: linux*
* `pip freeze` output

[code]

### What was wrong?
For some wierd reason I can't call the funcion transact of web3._utils.datatypes.Contract.
I am trying to add a participant to my test blockchain

Please include any of the following that are applicable:

* The code which produced the error
for i in range(num):
            # Transact to the blockchain

[2021-03-29 14:00] pipermerriam commented on #1899
@tobiwankenobii this is an open source project.  The way you are engaging with us doesn't work for me.  If you don't like this library you can:

1. Not use it.
2. Improve it with pull requests or contributions
3. Provide constructive feedback that is kind and respectful

The way you are currently interacting with us isn't acceptable and won't be tolerated going forward.

[2021-03-29 17:30] kclowes commented on #1922
@JuanDavidG1997 It's hard to tell without more details, but my best guess is your ABI is wrong. Can you post how you're setting up the contract instance?

[2021-03-29 18:44] #1887 closed

[2021-03-31 14:28] banteg opened #1931 "BlockNotFound and TransactionNotFound don't fire with TurboGeth"
* Version: 5.11.1
* Python: 3.8
* OS: linux
* `pip freeze` output

### What was wrong?

There is inconsistent behavior between Geth and TurboGeth when requesting nonexistent blocks and transactions.

Geth returns null, which raises an exception, while TurboGeth returns an RPC error.

[code]

### How can it be fixed?

This can be fixed on either web3py or TurboGeth side.

[2021-03-31 15:03] spinoch commented on #1892
I'll close this as the conda-forge recipe already exists

[2021-03-31 15:03] #1892 closed

[2021-03-31 15:47] pipermerriam commented on #1931
I *think* that this is worth considering as an extensible compatibility layer.  When different providers have different behavior, adding special cases to the core library code isn't a very scalable solution.  Ideally, we could do something like registering a turbo-geth specific error handler (or multiple error handlers) that allow shimming this behavior.

Could be something very simple...

[code]

[2021-04-01 11:40] alcuadrado commented on #1931
Good news! This has been fixed in TurboGeth: https://github.com/ledgerwatch/turbo-geth/issues/1645

[2021-04-01 12:58] samdruster commented on #1706
transact to ERC20.transfer errored: VM error: revert. revert The transaction has been reverted to the initial state. The reason provided by the contract: "Insufficient balance".  Can you give some details about this?

[2021-04-01 16:50] kclowes commented on #1706
@samdruster `Revert` is a solidity control structure that will validate certain things depending on how it's defined in the function in the contract. Based on your error, it looks like the transaction has been reverted because you didn't have enough funds. I can't really tell more than that from the info you provided. See the solidity docs [here](https://docs.soliditylang.org/en/v0.8.3/control-str

[2021-04-01 21:06] kclowes commented on #1931
Awesome! I'm going to close issue then. I believe the other way you could handle this is through some custom middleware if you wanted to catch the `ValueError` and raise a `Transaction`/`BlockNotFound` error, although I realize that's not ideal.

[2021-04-01 21:06] #1931 closed

[2021-04-02 01:46] luboremo opened #1932 "txpool.content() giving incomplete output and in different format"
* Version: 5.17.0
* Python: 3.8.6 64bit
* OS: win10

### What was wrong?

I'm trying to get content of txpool from geth. But it seems that the output is incomplete since it is missing beginning.
Also the format seems to differ from what is shown in the docs and from what I get when I run txpool.content in attached web3 console in the geth node.
The one from web3py ends with ) while the one from ge

[2021-04-02 12:55] luboremo commented on #1932
ok the problem was between the computer and the chair :D

I am able to get the complete output in correct format when I redirect it to a file
[code]

It seems the output is too long and terminal just cut it and shows it from some part to the end of the output, but that is what gets stored in my variables when I use the query through web3py.
In fact I also get incomplete result in my terminal when

[2021-04-02 17:25] kclowes commented on #1932
@luboremo you can turn it into a dict if it makes more sense to work with a plain old dict. AttributeDict is an extension of dict that gives the ability to access attributes with dot notation. For example:

[code]

I'm going to close, but feel free to reopen if you need more help!

[2021-04-02 17:25] #1932 closed

[2021-04-05 20:49] marcgarreau commented on #1922
Closing due to inactivity; please reopen if necessary. I suspect the [contract example docs](https://web3py.readthedocs.io/en/latest/examples.html#working-with-contracts) are enough to resolve this either way.

[2021-04-05 20:49] #1922 closed

[2021-04-08 15:04] marcgarreau opened #1938 "Update Geth test fixture to 1.10.3"
### What was wrong?
Geth 1.10.3 was recently released. Time for a fixture bump.

### How can it be fixed?
The [docs](https://web3py.readthedocs.io/en/stable/contributing.html#generating-new-fixtures) got a little overhaul after the last update, so time to see if they're sufficient or still need improvement.

[2021-04-08 17:18] noam-alchemy opened #1939 "Set default timeouts to mirror Geth"
* Version: all
* Python: all
* OS: all

### What was wrong?
Geth specifies default timeouts of 30s [1] per request. Clients that use this library should expect the default behavior to match that of the node. This is particularly true for writes (sendRawTransaction) because of the data inconsistencies that can arise from a successful transaction that returns a client-side timeout.

[1] https://gith

[2021-04-08 20:37] #1875 closed

[2021-04-09 13:56] Pet3ris commented on #1435
This should be closed? https://github.com/ethereum/web3.py/pull/1144

[2021-04-09 14:15] Pet3ris opened #1940 "Proposal: global polling latency"
Hi There,

The polling latency parameter was exposed for `getTransactionReceipt`: https://github.com/ethereum/web3.py/issues/1130, but other parameters like request timeout parameters are already used more widely than just receipts.

**High-level proposal**

My proposal would be to introduce a global polling latency parameter that can remember the timestamp of the last request to to the provider a

[2021-04-09 14:24] Pet3ris commented on #832
Couple of thoughts:

- First, I really like the proposal and have an immediate need for this feature
- I think @pipermerriam proposal makes a lot of sense
- I wonder what the implications are for exception handling, how easy will it be to disambiguate which request was problematic
- Finally, I'm relying on `make_request` for request forwarding so would be nice if that didn't break during the refac

[2021-04-09 16:19] kclowes commented on #1435
Yep, you're right. Thanks @Pet3ris!

[2021-04-09 16:19] #1435 closed

[2021-04-09 16:29] Pet3ris commented on #1940
A very rough prototype solution for how to do this using sessions and event hooks:

[code]

This may be too specific, hacky to merit inclusion in the documentation but I'll leave it here for other wandering souls who need this problem solved!