[2018-03-08 10:36] postables opened #688 "Unable to get return data from getter functions when using the `call` method"
I'm using the latest version of web3py fetched from pip (4.0.0b11), on a private PoA network.

`>>>contract.call().numPeers()` produces the following output

[code]

[2018-03-08 20:37] pipermerriam commented on #551
I suspect it will be part of the next major release cycle but there's no firm timeline for when that will be.

[2018-03-08 20:38] #678 closed

[2018-03-08 20:41] pipermerriam commented on #685
The reason that `buildTransaction` raises the error you see when `data` is provided is that `buildTransaction` is intended to be used to call contract functions with encoded function parameters.  This data gets encoded into the `data` field for the transaction and thus, if you supply `data` then you aren't actually calling the function in question.

If you want to override, then I suggest simply c

[2018-03-08 20:42] pipermerriam commented on #685
closing as the behavior your seeing is intented.  Please reply if I've mis-understood your question or you need further help.

[2018-03-08 20:42] #685 closed

[2018-03-08 20:52] pipermerriam commented on #687
@cgarvie can you provide an exact version. *latest* can be a bit ambiguous.

[2018-03-08 20:59] pipermerriam commented on #683
@palango closing as this doesn't seem to be a web3.py issue.  Feel free to continue conversation.

[2018-03-08 20:59] #683 closed

[2018-03-08 21:12] pipermerriam commented on #688
This looks like trying to talk to a contract which doesn't exist, *or* that the ABI you're using doesn't match the return types.  To debug this any further we'll need full information to reproduce this locally.

- contract address
- contract abi
- ideally contract source too

[2018-03-08 21:29] postables commented on #688
Thanks Piper! After reading your post I re-did my workflow gathering the data you required and everything worked. Not sure what I missed but I clearly missed something last night. Thank you :D

[2018-03-08 21:29] #688 closed

[2018-03-08 21:46] postables opened #689 "IPC connection patch not found on random occasions when using python scripts"
I don't seem to have this problem when using web3py from the terminal, and it only appears to happen intermittently with my python scripts. I'm not quite sure what the problem is, since the path to the IPC file is a soft link in the same directory as my python code.
[code]

Traceback
[code]

[2018-03-08 23:03] mowliv opened #690 "Can't load web3 at command line: ImportError: cannot import name 'force_text'"
* Version: 3.11.1
* Python: 3.6.4
* OS: osx

### What was wrong?

Unable to load Web3 at command line. Please advise - do I need older version of python or some libraries?

[code]

[2018-03-08 23:32] pipermerriam commented on #690
This is fixed in the v4 beta (which is very very close to being released as stable).  I recommend you upgrade with `pip install -U --pre web3`

Alternatively you can try downgrading `eth-utils` with `pip install eth-utils<=1.0.0` but I suspect you may still have problems.

[2018-03-08 23:32] #690 closed

[2018-03-08 23:33] pipermerriam commented on #689
This doesn't look like a web3 error.  Have you checked that the file at `ipc_path` exists?

[2018-03-08 23:33] #689 closed

[2018-03-08 23:39] postables commented on #689
@pipermerriam  Yes I'm 100% sure the file at ipc_path exists, the output of the `ls` command is the first code snippet showing that the ipc path exists.

[2018-03-08 23:48] pipermerriam commented on #689
I understand that it exists when you ls, but there may be a race condition at play.  I would recommend trying something like the following.

[code]

Another issue could be if you're using relative paths?

[2018-03-09 00:39] mowliv commented on #690
Thanks.

On Thu, Mar 8, 2018 at 3:32 PM, Piper Merriam <notifications@github.com>
wrote:

[2018-03-09 05:06] cgarvie commented on #687
I ran pip install web3

`oot@ubuntu-geth:~# pip show web3
---
Metadata-Version: 2.0
Name: web3
Version: 3.16.5
Summary: Web3.py
Home-page: https://github.com/ethereum/web3.py
Author: Piper Merriam
Author-email: pipermerriam@gmail.com
Installer: pip
License: MIT
Location: /usr/local/lib/python2.7/dist-packages
Requires: rlp, eth-tester, requests, pysha3, toolz, lru-dict, eth-utils, eth-abi, cytoolz

[2018-03-09 12:03] boneyard93501 commented on #687
-32000 is the [json-rpc spec](http://www.jsonrpc.org/specification), see 5.1, server error catch all and the rpc client's just passing that on.
my encoding/decoding prowess sucks but just looking at the codec, it looks like turkish or thai to me. using TIS-620, i get ฤดd|าบs๗ษGไธุ which ol' google seems to think stands for _i'm sorry_. does that make any sense?  well, at the very least, we n

[2018-03-09 13:27] cgarvie commented on #687
hmmm... I am indeed in Thailand and that is indeed Thai but the server I am running this on is a digitalocean droplet rented in Singapore. Very strange. My full code is in the OP, and I'm not using any IDE. I'm just typing in the python2 terminal/console over ssh. The geth node is running on the same box (localhost).

What's the standard client that most people use web3py with? Is it geth? Should

[2018-03-09 15:54] nueverest commented on #685
@pipermerriam It is not clear that the question was understood.

If I look at an ethereum transaction on etherscan I see an "Input Data" field (generally containing 0x).  This field is highlight in red in the image below.  My impression is that the Web3 "data" field is different than the "Input Data" field.  Is this correct?

How do I set the "Input Data" field via Web3 (working code example prefe

[2018-03-09 16:36] pipermerriam commented on #685
You are not correct.  The `data` field in `Web3.py` is the same as the "Input Data" field on etherscan.

[2018-03-09 16:38] pipermerriam commented on #685
When working with contracts, the assumption is that the contract instance is going to hangle populating the `data` field (with the encoded arguments for whatever function you are calling.

So, when working with contracts, you won't use the `data` field (other than maybe if you're interacting with the fallback function API.

If you want to send raw data to a contract, you can just use `web3.eth.sen

[2018-03-09 16:56] pipermerriam commented on #687
I'd recommend upgrading to use the v4 beta `pip install --pre -U web3` which may fix some of the encoding issues.  Prior to v4 we had some weird character encoding issues and inconsistencies that have largely been resolved.

[2018-03-09 17:56] nueverest commented on #685
Thank you this helped to clarify my misunderstanding.

[2018-03-09 22:25] MichaelRazum opened #691 "Multiple Providers Call to highest block number"
* Version: latest
* Python:3.5
* OS: win

### What was wrong?
I think it is wrong (not 100% sure )! Right now I'm using infura as HTTP Provider and want to add a localhost provider running geth. So the natural way would be:
`web3 = Web3([geth_local_host_provider, infura_provider])`

Now as I understand web3 makes always the first request to geth_local_host_provider and if it fails it tries infura_

[2018-03-10 07:56] carver opened #692 "Use EthereumTesterProvider backed by eth-tester in default import"
`from web3 import EthereumTesterProvider` should use the eth-tester one, not the testrpc one.

[2018-03-10 08:35] postables commented on #689
@pipermerriam  Here's the code:

[code]

The yaml file that the information is loaded from
[code]

The library that is called which connects to the network
[code]

Error that is triggered when a function is called
[code]

[2018-03-12 08:38] EralpB commented on #674
@jordanjambazov could you solve this? Maybe by replacing ganache with something else. This is also a very important blocker for me.

[2018-03-12 09:32] jordanjambazov commented on #674
@EralpB Unfortunately currently I am using a forked monkey patched version of web3.py: https://github.com/jordanjambazov/web3.py/commit/a61b382dd5c11de1102779868d377408c7590839

[2018-03-12 16:22] cgarvie commented on #687
I updated to the latest version using the command you gave, and I'm now using python3. same error.

No worries.

What is the 'reference implementation' .. What setup should this work on easily?

[code]

[2018-03-12 17:39] pipermerriam commented on #689
Did you try my suggested code for verifying that the `ipc_path` does indeed exist prior to interacting with web3?  This really doesn't look like a web3 bug so I would suggest trying my suggestion above and reporting back.  If you can verify that there is a valid IPC socket at that location just prior to the call that fails (and maybe also just after), then we can start digging deeper into this.

[2018-03-12 17:49] pipermerriam commented on #687
sorry for initially mis-reading your issue.

It looks like you are trying to transaction from an account that testrpc doesn't know about.  You generally will need to use an account from` web3.eth.accounts` with testrpc.

[2018-03-12 17:49] #687 closed

[2018-03-12 17:50] pipermerriam commented on #687
And by the way.  `eth-testrpc-py` has been deprecated.  You should look into switching over to the `EthereumTesterProvider` which is backed by `eth-tester` which is in active development.

[2018-03-12 17:50] owocki commented on #566
@pipermerriam @carver id love to see websockets available in web3py.  in fact, it looks like [infura wants to see it too](http://bits.owocki.com/2S0n1C3k2p2J/Screen%20Shot%202018-03-12%20at%2011.48.36%20AM.png)

is this on the roadmap soon?  is it a good bounty-able issue?  perhaps given the route that @pipermerriam suggests here?

[2018-03-12 17:58] pipermerriam commented on #691
I don't think your proposed solution will work for us, but I do think this is an issue that we should look into providing at minimum the tools for solving.  This strikes me as something that *should* be solveable with our middleware layer, but I think it may be tough as things currently stand because middlewares don't have visibility across multiple providers.

cc @carver

[2018-03-12 18:05] pipermerriam commented on #566
I'm not sure if they **need** to be done in conjunction with each other, but this issue compliments the websockets one.

https://github.com/ethereum/web3.py/issues/657

Since both need `asyncio`.

[2018-03-13 02:45] boneyard93501 commented on #691
i was looking into something similar to not select infura for stateful interactions. not quite done but checking for blocks as a (user) add-on is a little more manageable.
assuming something like this:
[code]

something like that will get you the winning provider:

[code]
if select_providers() actually returned a (ordered by block size provider) list preceding the request loop in  _make_request in

[2018-03-13 08:57] land-pack opened #695 "Where is mycontract.methods ?"
* Version: 3.16.5
* Python: 3.6.4
* OS: osx

### Can't see my methods from my Contract instance.
I have try the below code, and then run it on my Mac. Just for check where is my methods.

import redis
from web3 import Web3, HTTPProvider, IPCProvider, RPCProvider
from web3.contract import ConciseContract
from abi import abi

w3 = Web3(HTTPProvider('http://192.168.12.34:9585'))
addr = '0x9548bd8b13c

[2018-03-13 15:30] pipermerriam commented on #566
Main issue has been updated to reflect what I *think* is the minimum necessary implementation.

[2018-03-13 16:42] pipermerriam commented on #691
The issue with pushing this logic into the manager is that it's forces it onto everyone.  While it's going to be *common* for people to want to use the provider with the highest block number, there are other selection criteria that people may want to use.

So whatever mechanism we use, it's going to be a hard requirement that it's something that users can configure.  One example might be that peop

[2018-03-13 16:44] gsalgado commented on #566
AIUI, the new `WebsocketProvider` would just need to provide a synchronous `make_request()` method? One way to do that is to start a thread running `loop.run_forever()`, and then implement `WebsocketProvider` like this:
[code]

[2018-03-13 17:18] pipermerriam commented on #695
The docs you link to are for the javascript web3 library.  Take a look at the python docs here:

- for `3.x`: http://web3py.readthedocs.io/en/stable/
- for `4.x` (beta): http://web3py.readthedocs.io/en/latest/

If you go ahead and upgrade to v4 beta which is generally recommended, what you are looking for is under `contract.functions`.  There is no equivalent in v3 so you'll have to dig into the c

[2018-03-13 17:18] #695 closed

[2018-03-13 20:32] boneyard93501 commented on #691
@pipermerriam totally agree. i don't want to pay for the overhead as a default. i should have addressed @MichaelRazum explicitly. it's somewhat trivial to implement on a per use case and providing a couple implementation examples might be more useful.
as an explicit handler:
[code]

after fiddling with it a bit more, i'd probably sort the providers as stoppable/pausable background task (as a user

[2018-03-13 21:01] MichaelRazum commented on #691
@boneyard93501
Thanks for the code snippet 👍

One more question regarding this topic. We were able to find the right providers.

Now we are sending a Transaction:  `w3.eth.sendRawTransaction(rawTransaction)`.

What happens at this, is it a good Idea to send the rawTransaction to all providers? For example to get a bit faster execution.
As I understand right now w3 sends the request to the first pr

[2018-03-13 21:02] pipermerriam commented on #691
With the caching middlewares, it should be reasonably easy to setup provider level caching for each of the providers in question which would greatly reduce the request overhead, especially in cases where there's a lot of requests going out since it'd cache the `eth_blockNumber` request for an amount of time equal to the current average block time.

I'd be supportive of having some different manage

[2018-03-14 02:41] PHPerBigMan opened #696 "some problem with object contract"
* Version:
* Python: 3.5
* OS: win

### What was wrong?

[code]

This is my code , I want use this object method but It always send this to me:

[code]

Fill this section in if you know how this could or should be fixed.

[2018-03-14 03:41] webjunkie01 commented on #185
Hi guys,

I'm using version 3.16.2 and experiencing the same issue when calling the method approveAndCall of a standard ERC20 token contract.

What surprises me is that in JavaScript when I call the method is works as expected. But in Python is a different story.

Even if I copy paste the encoded data generated from the JavaScript file and try to call the contract method (approveAndCall) in Python

[2018-03-14 03:59] voith commented on #566
I would like to work on this. I am not a asyncio user, however I have experience with twisted. I should get started on this, this weekend.

@pipermerriam @carver  Would it be fine to add a third party dependency like [websockets](https://pypi.python.org/pypi/websockets). It seems to be built on top of asyncio.

[2018-03-14 16:09] pipermerriam opened #698 "Better error message if `abi` is not provided for contract"
* Version: 3.x and 4.x

### What was wrong?

In `3.x` if no ABI is provided when instantiating a contract instance you would get an unhelpful error message as seen here: https://github.com/ethereum/web3.py/issues/696

In `4.x` this type of error won't occur, however, the situation can still be approved because the `contract.functions` API simply won't have any accessible functions.

### How can it

[2018-03-14 16:10] pipermerriam commented on #696
You need to provide an `ABI` with your contract.

I've opened https://github.com/ethereum/web3.py/issues/698 to try and improve this error messaging.

[2018-03-14 16:10] #696 closed

[2018-03-14 16:37] pipermerriam commented on #185
I'm **inclined** to update `eth-abi` to accept `0x` as `False`, however, I don't think this is an ok solution, or at least I'm worried about it.

If we start accepting `0x` as a valid return of `False` then that means that *if* someone calls a contract function which returns a bool on the wrong contract, or a non contract, and no data is returned, then web3.py would tell the use that the contract

[2018-03-14 16:42] pipermerriam commented on #185
https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI#types

@carver I think this indicates that booleans are QUANTITY

Now what I'm curious about is whether solidity is returning `0x` (empty return value) for false, or if javascript is incorrectly interpreting no return value as `false`.

[2018-03-14 16:48] pipermerriam commented on #185
@webjunkie01 one thing to add to this, `approveAndCall` is a method which requires a transaction so you probably shouldn't be getting a return value (or really interacting with it via the `call()` api).

[2018-03-14 22:30] dylanjw commented on #555
Fixed in #631

[2018-03-14 22:30] #555 closed

[2018-03-14 22:31] dylanjw commented on #394
Fixed in #631

[2018-03-14 22:31] #394 closed

[2018-03-14 22:34] dylanjw commented on #378
fixed in #631

[2018-03-14 23:07] pipermerriam commented on #566
@voith take a look at the main issue description.  It lays out some basics for how this should be implemented and tested (and suggests using the `websockets` python library to answer your question explicitely).

Looking forward to seeing this get started.  Please get a pull request open this weekend as soon as you've started your work (we'll mark it as a work in progress).

[2018-03-14 23:10] #654 closed

[2018-03-15 06:34] boneyard93501 commented on #691
@pipermerriam  i'll look at it over the weekend/early next week.

[2018-03-15 11:25] boneyard93501 commented on #566
@voith  i was looking at this at one point but then got totally distracted with connection pools (e.g., [ws4py](http://ws4py.readthedocs.io/en/latest/sources/ws4py/#ws4py.manager.WebSocketManager) ) and [autobahn's client factory](https://github.com/crossbario/autobahn-python/blob/ea4842090a03cf57c09eb0c34359cff4d3cc2b44/autobahn/asyncio/websocket.py). also, [rust-web3](https://github.com/tomusdrw

[2018-03-15 16:47] Lebski opened #699 "No matching events found"
* Version: v4.2.0
* Python: 3.5
* OS: linux
* Geth: 1.8.6-stable, private network
(with rpcapi="db,eth,net,web3,personal,web3")

***Script***
[code]

***Output***
[code]

`last_block_num` was set to Block 1895.
The transaction was mined in Block 1897.

[2018-03-15 18:12] pipermerriam commented on #691
This is another case where custom manager logic would be nice.  More theoretical functionality might be the ability to register specific functionality for specific JSON-RPC endpoints.

- for `eth_sendRawTransaction` -> broadcast to all providers.
- for `eth_getTransactionReceipt` -> use provider with highest block number.
- for `eth_sendTransaction` -> only send to local provider.

Some concise wa

[2018-03-15 20:15] pipermerriam commented on #699
Your stacktrace shows a different event name `PermissionRequestdeployed`.

And it *looks* like it may have a casing error, since `deployed` is lowercase.  Is that supposed to be `PermissionRequestDeployed`?

[2018-03-15 22:25] boneyard93501 commented on #691
ha, i've been messing around with rxpy on and off trying to do a few of those things on top of web3py. any appetite for rx ? in my little journey i even stumbled upon an async rxpy implementation that at least superficially looks quite promising, [aioreactive](https://github.com/dbrattli/aioreactive), and adds a bit of a future-proving should asyncio be a package enhancement down the road.

[2018-03-15 22:39] pipermerriam commented on #691
We *try* to be very conservative with the dependencies we adopt.  I'm don't see a need for a framework to accomplish this functionality.

[2018-03-16 00:24] dylanjw commented on #661
@bweick  Can you paste your `pip freeze` output? I want to try to replicate this.

[2018-03-16 00:27] djrtwo opened #700 "Vyper decimal10 abi type support"
* Version: 4.0.0-beta
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?
There is currently no support for vyper abi type `decimal10`. Although vyper is in alpha, it is increasingly used by ethereum research team for casper and sharding.

### How can it be fixed?
Add support for `decimal10` abi type :)

[2018-03-16 00:47] djrtwo commented on #700
This is on my to-do list but I'm not sure when I will get to it.
If someone else begins development on it, just let me know here.

[2018-03-16 02:59] pipermerriam commented on #700
cc @davesque can you get this issue duplicated in the `eth-abi` repository.  I think this is higher priority than the `tuple` type work that I initially pointed you at.

I think this also suggests prioritizing https://github.com/ethereum/eth-abi/issues/36 ahead of tuple types might also be beneficial so that it's easier for 3rd party encoders/decoders to be written without requiring a core change

[2018-03-16 08:43] Lebski commented on #699
Oh damn, sorry. I chagend the code to be minimalistic for the Issue but copied the wrong console output.
It was `PermissionRequestdeployed` in the Smart-Contract and I copy + pasted it in the python file.
Assert the Variable-Names as correct. Checked them in the original files at least a 1000 times.
'Sorry again.

[2018-03-16 12:14] sot528 commented on #554
Thank you for your post.
And FYI: I could use just pip for ethereum & web3 when I used Amazon Linux docker image for make .zip file.
- https://github.com/sot528/lambda-web3py/blob/master/Dockerfile

[2018-03-16 17:06] Uxio0 opened #701 "Could not format value as field 'extraData' on getBlock (4.0.0b11)"
* Version: 4.0.0b11
* Python: 3.6
* OS: linux

### What was wrong?

Problem is easily reproducible:

[code]

`Could not format value '0xd783010803846765746887676f312e392e34856c696e757800000000000000009128ca9c6357269ddb9021c6e66a4b5c9379cea539060ec078a4831173fd3b1c00037bee0dde5caa3b1cb638a7e211593341495bc1563fa737739ea240852c4101' as field 'extraData'`

No problem on v3.16.5:

[code]

[2018-03-16 17:20] pipermerriam commented on #701
You need to use the [`web3.middleware.geth_poa_middleware`](http://web3py.readthedocs.io/en/latest/middleware.html#geth-style-proof-of-authority) to deal with the non-standard `extraData` field in the POA testnet.

[2018-03-16 17:20] #701 closed

[2018-03-16 17:21] pipermerriam commented on #701
cc @carver or @dylanjw I suspect this will be a recurring thing.  What do you guys think about adding a *special* case that checks *if* the `extraData` field *looks* like a POA chain's and provides an exception message informing them to use the appropriate middleware?

[2018-03-16 17:22] Uxio0 commented on #701
I agree @pipermerriam, or at least better documented, because it's not easy to find

[2018-03-16 17:54] pipermerriam commented on #699
The error I'm seeing is a failure to find the actual event ABI for named event.  Can you provide the full contract ABI for the contract in question (the one with the `PermissionRequestdeployed` event).

[2018-03-16 18:55] zheli commented on #666
Leave a comment here to confirm that I am still working on this issue, so that gitcoin bot will not remove me from the issue :)

[2018-03-16 21:11] Lebski commented on #699
Added ABI.

Might be similar issue to #209  with v3.10.0...

[2018-03-16 22:02] boneyard93501 commented on #691
mind if i PR something, rather incomplete, later today and mark it WIP? i'm gonna be out of pocket for a few days starting tonight ... day job, food, etc.

[2018-03-16 22:26] #378 closed

[2018-03-16 22:47] dylanjw commented on #551
Im starting on this.

[2018-03-16 23:38] pipermerriam commented on #691
@boneyard93501 go for it.

[2018-03-17 19:25] davesque commented on #700
@pipermerriam Sure no problem.  Sorry I missed this the other day.

[2018-03-17 19:29] davesque commented on #700
eth-abi issue: https://github.com/ethereum/eth-abi/issues/39

[2018-03-18 07:41] avatar-lavventura opened #704 "AttributeError: 'Contract' object has no attribute 'eventFilter'"
* Python: 2.7
* OS: osx

**_Goal:_**  I want to print logs of the smart contract, like I do on `web3.js`, using `web3.py`.

On `web3.js` side, following code piece works:

[code]

---------

But on the `web3.py` side I was not able to make it work. :( I have followed following [documentation](http://web3py.readthedocs.io/en/latest/filters.html?highlight=watch).

`event_filter = myContract.eventfil

[2018-03-18 14:06] pipermerriam commented on #704
I'm going to *guess* that you're using the 3.x line since you're on python 2.7.

In that case you should be using the `stable` version of the docs: http://web3py.readthedocs.io/en/stable/ as `latest` is the 4.x release line.

I think you're looking for `my_contract.on('TheEvent', ...)` in the 3.x line.

[2018-03-18 14:07] pipermerriam commented on #704
cc @dylanjw and @carver

Would be good for us to try and figure out a practical way to have notes like "added in 4.0" like I've seen in django and the python standard library documentation.

[2018-03-18 14:08] pipermerriam commented on #704
let me know if this doesn't fix your issue and we'll get this re-opened and figured out.

[2018-03-18 14:17] avatar-lavventura commented on #704
@pipermerriam
I have tried:

`transfer_filter = eBlocBroker.on('LogCluster', {'filter': {'_from': '00x6af0204187a93710317542d383a1b547fa42e705'}})`

The error I have received:

[code]

[2018-03-18 14:26] pipermerriam commented on #704
Can you post the ABI for your contract (and verify that there is indeed an `event` with the name `LogCluster`.

[2018-03-18 14:35] avatar-lavventura commented on #704
Yes I verify that there is an `event` with the name LogCluster.

On `web3.js` side following code works:

var event = myContract.LogCluster({}, {fromBlock:0, toBlock:'latest'});
event.watch(function(error, result) {
  console.log(JSON.stringify(result));
});

ABI: https://gist.github.com/avatar-lavventura/c45ad830700a9d19cd0e9c1ce417c380

[2018-03-18 16:10] voith commented on #566
STATUS UPDATE:
I've managed to get working a basic version of the `WebsocketProvider` which includes @gsalgado suggestion of starting the provider in a thread as discussed in the gitter chatroom.

@pipermerriam I tried looking if similar tests are written for other providers but I couldn't find any. If such tests exists, can you point me to the code? I've had a look at the unit tests for the provi

[2018-03-18 16:25] voith commented on #566
Also, I have tested some basic methods manually.
However I am getting an error with `getBlock`. I'll dig into this later. But posting here in order to get some feedback
[code]
This is the response returned:
[code]

[2018-03-18 19:07] voith commented on #566
never mind, found the tests!

[2018-03-18 20:47] pipermerriam commented on #566
@voith posting code here is not a good way for us to communicate about this issue.  You should get a pull request open and we can start from there.

[2018-03-18 20:48] pipermerriam commented on #566
Also to use rinkeby, you'll need this: http://web3py.readthedocs.io/en/latest/middleware.html#geth-style-proof-of-authority

[2018-03-18 21:06] Lebski commented on #699
Tested on parity, same result.

I think i found the source of the error-output. I didn't provide `_from` as an attribute in my event.

But this won't explain why it doesn't find any of the events. Any ideas how i could test for the source of the error?

[2018-03-19 10:00] voith commented on #566
@pipermerriam Thanks! The middleware fixed the issue.
I have managed to get tests running with parity. I will send a PR tonight(IST), just have some cleaning up to do.

[2018-03-19 13:18] pipermerriam commented on #566
Our preference is for you to open the PR as soon as you have code.  Pull requests do not need to be polished or *done*.  This can save you a lot of time since that allows us to have a look at your implementation and give feedback/direction earlier on.

[2018-03-19 14:47] carver opened #705 "Get contract functions with item lookup"
* Version: 4

### What was wrong?

If a contract's function name is stored in a variable, and we want to work with that function, we have to do an awkward:

`contract_func = getattr(contract.functions, function_name)`

### How can it be fixed?

Add a function lookup using:

`contract_func = contract.functions[function_name]`

[2018-03-19 15:04] jpoullet2000 opened #706 "Passing byte32 array to contract"
* Version: 3.16.5
* Python: 3.6
* OS: linux
### What was wrong?

I have some solidity function: function Voting(bytes32[] candidateNames)
Full `Voting.sol` file is available [here](https://github.com/llSourcell/Your_First_Decentralized_Application/blob/master/voting.sol)
From Python
[code]
Error:
- `TypeError: Incorrect argument count.  Expected '1'.  Got '3'`

If I replace the line
`candidates =

[2018-03-19 15:16] carver opened #707 "Test v4 with fresh install in pipenv"
* Version: v4

### What was wrong?

Claims of dependency mismatches in https://github.com/ethereum/eth-abi/issues/25#issuecomment-370448910

### How can it be fixed?

Probably just some dependency fixups.

[2018-03-19 23:38] dylanjw commented on #706
@jpoullet2000 `args` expects a list, so the last line of your code should be:

[code]

[2018-03-20 00:11] dylanjw commented on #699
@Lebski You are right, the reason for the error is the inclusion of `_from` in the event filter argument for `PermissionRequestdeployed`.  Because there is no `_from` argument in the `PermissionRequestdeployed` event abi, web3 doesn't find an event in your contract that matches that event name + argument.

The error message is a bit misleading and could be improved to say "No matching event interf

[2018-03-20 00:48] dylanjw commented on #704
Your last comment is the same as this issue: https://github.com/ethereum/web3.py/issues/699, and shows that our documentation needs to be fixed.  Our example has `_from` in the filter arguments, that makes it seem like that is the way to filter for the emanating contract, rather than what it is, an argument specific to the example event.

Because your `LogCluster` event has no `_from` argument, th

[2018-03-20 06:36] #706 closed

[2018-03-20 07:57] Lebski commented on #699
@dylanjw But the reason I added this in the first place, is because I couldn't track the event without it.
Doest the filter method work for parity+ropsten or testrpc?
I've build up a minimal example with the only purpose to trigger an event an catch it but I only get an empty list.
Or could anyone provide me with an example which is working on her/his device? So I could determine, that I've got an

[2018-03-20 12:00] #576 closed

[2018-03-20 12:02] #692 closed

[2018-03-20 13:12] carver commented on #707
Things are broken, but I can't tell why. Asked for some support in: https://github.com/pypa/pipenv/issues/1802

It's at least possible that it's a `pipenv` issue, so I'm pulling this out of the milestone requirement, since it installs with `pip` without apparent problems.

[2018-03-20 15:12] carver commented on #699
Note the block number in the transaction receipt which shows the `PermissionRequestdeployed` event log. Then try creating the filter with explicit fromBlock/toBlock values that are before and after that block number. Do the events show up for you then?

The default block boundaries on filters can be unintuitive.

[2018-03-20 15:18] carver commented on #701
Seems reasonable. Maybe a good solution in the docs is a page just following the "Quickstart" with specific guides for connecting in different scenarios. Something like "Getting Started with ...", with sections for Rinkeby, Infura, `geth --dev`, `parity`, etc

[2018-03-20 18:13] carver commented on #700
So almost all of the work will happen in eth-abi#39, but I'll leave this one open until we upgrade eth-abi in web3.

[2018-03-20 18:25] carver commented on #691
Can all of this happen outside of web3? An over-simplified example:

[code]

[2018-03-20 18:28] carver commented on #661
Likely related to https://github.com/ethereum/py-evm/pull/432

[2018-03-20 18:57] dylanjw opened #711 "Add documentation for connecting to POA chains"
### What was wrong?
Its not obvious that `geth_poa_middleware` must be used to connect to POA chains.

### How can it be fixed?

[2018-03-20 19:01] dylanjw opened #712 "Check for POA extra data and throw a helpful exception"
### What was wrong?

It would be nice to direct users to use the `geth_poa_middleware` when `extraData` conforms to the poa chain form.

### How can it be fixed?

[2018-03-20 19:01] dylanjw commented on #701
Added issues for both #711 #712

[2018-03-20 21:54] boneyard93501 commented on #691
@carver  at cursory glance, don't see why not ... but as i'm typing this the old gut feeling is rapidly moving toward queasy  :)

[2018-03-21 03:44] pipermerriam commented on #691
@carver

I *think* that the following use cases are what we're trying to cover.

1. provider selection based on the call parameters (`meth_a` to Provider A, `meth_b` to Provider B).
2. provider selection based on call result (first to respond, highest block)

My analysis:

- your solution works fine for number 2.
- your solution has a 1:1 mapping to a custom `Manager` class based solution.
- numbe

[2018-03-21 05:56] pipermerriam commented on #707
TIL pipenv exists.

[2018-03-21 06:22] voith commented on #712
+1 was bitten by this a few days back!

[2018-03-21 08:43] jpoullet2000 opened #714 "Contract method not incrementing as expected"
* Version: 3.16.5
* Python: 3.6
* OS: linux
### What was wrong?

I have some solidity functions:
  - function Voting(bytes32[] candidateNames)
  - totalVotesFor(bytes32 candidate) returns (uint8)
  - voteForCandidate(bytes32 candidate)

Full `Voting.sol` file is available [here](https://github.com/llSourcell/Your_First_Decentralized_Application/blob/master/voting.sol)

From Python
[code]

I don't

[2018-03-21 09:26] Uxio0 opened #715 "Web3.isAddress doesn't work for non prefixed checksumed values"
* Version: 4.0.0b11
* Python: 3.6
* OS: linux

### What was wrong?

As stated in the docs http://web3py.readthedocs.io/en/latest/overview.html#Web3.isAddress the function Web3.isAddress(value) should **allow both 0x prefixed and non prefixed values**.

If the address is not checksumed, it's ok not to have the **0x**:

[code]

But if it's checksumed

[code]

No problem if we add the **0x**:

[code]

[2018-03-21 10:27] carver opened #716 "Improve warning on failed address checksum"
* Version: 4

### What was wrong?

Error message about checksum failure isn't clear enough, especially when the address is supplied as all-lower-case.

### How can it be fixed?

Special-case the warning, so that an all-lower-case address gives a specific warning, along the lines of: "web3py only accepts checksummed addresses. Please report it as a bug on any project that does not provide you check

[2018-03-21 10:29] carver opened #717 "Where did the ENS API docs go?"
### What was wrong?

The low-level API docs for the `ens` module are gone... See https://web3py.readthedocs.io/en/latest/ens.html

### How can it be fixed?

:man_shrugging: Make sure all docs warnings are resolved, and futz with the docs settings.

[2018-03-21 11:05] pipermerriam commented on #715
This is due to a discrepancy between `is_checksum_formatted_address` and `is_checksum_address`.  The former returns `True` but the later `False`

[code]

We could:

- Special case `is_address` to allow non-prefixed checksummed addresses.
- Be more forgiving with `is_checksum_address` to allow non-prefixed values.

I'm inclined to do the later.

[2018-03-21 13:35] kanzure opened #718 "Middleware bug about parameters (TypeError: Exactly one of the passed values can be specified)"
[code]

* python3.6
*  `web3==4.0.0b11`
*  `eth-utils==1.0.1`
*  `pyethereum==2.1.3`
*  `eth-testrpc==1.3.3`

The node is provided by eth-testrpc `EthereumTesterProvider`. I recognize that these libraries are not compatible. It seems that these libraries were developed around the time of pyethereum 1.6.1 so I may have to revert to those earlier versions. I am honestly not sure if the middleware er

[2018-03-21 14:06] carver commented on #691
I think that the extra work of keeping two instances of w3 around pays dividends in code clarity:

[code]

[code]

(None of this is meant to discourage @boneyard93501 from exploring the direction, since my opinion is formed without knowing what the api would look like. As a reference point, though, I'm not even convinced that our current multi-provider setup does more good than harm :) )

[2018-03-21 14:07] pipermerriam commented on #718
Fix needs to happen in the **old** `EthereumTesterProvider` (the one you are using).  It's trying to `valmap` the `to_text` to the response which is `[None]` which is causing `to_text` to throw an error.  That middleware in `web3.providers.tester.ethtestrpc_string_middleware` needs to be updated to only conditionally apply the `to_text` **if** the value is not `None`.

[2018-03-21 14:09] carver commented on #711
BTW, there is some example code in the docs, but it's probably not discoverable (in the right place):

http://web3py.readthedocs.io/en/latest/middleware.html#geth-style-proof-of-authority

[2018-03-21 14:21] pipermerriam commented on #691
I completely agree.  If we don't have anything using it by the time that v5.x is on the horizon we would plan to deprecate and remove it.

[2018-03-21 14:33] kanzure commented on #718
Is there a new `EthereumTesterProvider` that I should be using? Also, I would appreciate hints about any other middleware upgrades or other required upgrades?

[2018-03-21 15:17] carver commented on #718
@kanzure yes, the `web3.providers.eth_tester.EthereumTesterProvider` is the newer one (it will be the default on the next beta release).

Make sure you have a compatible version of eth-tester (which is a replacement for `eth-testrpc`), with:

[code]

[2018-03-21 15:20] carver commented on #715
The reason it works this way is because of how [EIP-55](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md) defines the checksum addresses. According to spec, it's not a valid checksum address if it does not have the "0x" prefix. Note that the `test()` method defined in the spec is only valid on prefixed addresses.

So this seems like the right solution:

[2018-03-21 15:22] carver commented on #714
`ConciseContract` does a call by default, not a transaction. See here for more background: https://ethereum.stackexchange.com/questions/28157/how-do-you-change-a-contract-value-using-concisecontract-in-web3-py

[2018-03-21 15:22] #714 closed

[2018-03-21 15:55] carver commented on #674
@EralpB @jordanjambazov can you help provide the ganache version issue and such on this issue: https://github.com/trufflesuite/ganache-cli/issues/494 ?

[2018-03-21 16:07] carver commented on #686
:+1: documentation fix TODO

[2018-03-21 16:11] carver commented on #684
Hm, interesting, even the example just below the link does not include the `removed` flag. Presumably, if the key isn't present, then it means it was not removed. Not a good experience though.

At first glance, it seems that it would be good to default the key to `False` if it's not present in the json-rpc response.

[2018-03-21 16:18] palango commented on #684
When I looked at this it seemed like it got never emitted by the pyethereum tester provider I used. `geth` emits it but I'm not sure if it's reliable as I couldn't manage to build a reliable chain reorg test.

[2018-03-21 19:05] avatar-lavventura commented on #704
Could this be help to fix the issue: https://ethereum.stackexchange.com/a/43471/4575

[2018-03-21 21:22] carver opened #719 "EthCC 2018 Paris Workshop Results"
My apologies to the workshop group. You unintentionally became documentation testers. The good news is that your struggles were not in vain! I marked down what I could about where people got stuck, and we'll see what we can do about improving the situation.

### What was wrong?

1. Old version of pip, setuptools
2. Run virtualenv setup in python console
3. Virtualenv not installed
4. Using python

[2018-03-21 23:03] pipermerriam commented on #715
Ok, but the real question here is *what is the `is_address` function intended to be used for?

- is this a valid address
- is this an address

If it's either of the *valid* variations then I think the function is poorly named, so I'd posture that the right fix is to update the docs as you specified, but to remove the checksum checking from the `is_address` function and have it simply return someth

[2018-03-22 10:08] carver commented on #715
Good point. It used to be that `isAddress` was a test for "is this value valid as an input, where addresses are required in web3.py?" I don't think we've re-evaluated the use case of this method, given the rule "only checksum addresses are accepted" in web3 v4.

I suppose it should be: "is this address valid as an input to: `toChecksumAddress`". Something seems a bit wrong about accepting invalid

[2018-03-22 10:13] carver commented on #704
Well, upgrading won't change the fact that you need to drop the `_from` argument from the filter.

But yes, you need the latest v4 for `eventFilter`.

[2018-03-22 10:13] carver commented on #704
Closing, since I believe everything is addressed. Please feel free to comment to carry on the conversation if you're still stuck.

[2018-03-22 10:13] #704 closed

[2018-03-22 10:33] avatar-lavventura commented on #704
I am still in some trouble and errors. @carver @dylanjw

Following line returns: `[]`. But on web3.js side it returns logs.

[code]

----

Following line returns:

[code]

[code]

[2018-03-22 11:45] jordanjambazov commented on #674
@carver I commented on the version of Ganache-CLI, it was reproducible in v6.1.0-beta.2

[2018-03-22 14:28] carver commented on #704
At this point, it seems like you'll be best off posting the source of a minimal, but complete, example to ethereum.stackexchange.com (that means the solidity source, the python that emits the event and that watches for it.

[2018-03-22 16:51] kanzure commented on #718
Thank you, switching to that implementation has helped to resolve my original errors. However, this implementation seems to be broken? For example:

[code]

Am I misunderstanding something?

[2018-03-22 17:22] carver commented on #718
eth-tester is newer, but definitely not complete! Issues with it should be submitted here: https://github.com/ethereum/eth-tester/

Sure, arguably `getBlock` shouldn't be returning anything there. You're essentially getting the pending block that way. Is it causing you a problem?

[2018-03-22 17:26] kanzure commented on #718
No, it's not causing a problem, although it's unexpected behavior. It seems that the pending block is "included" in the chain even though it's supposedly pending. It gives me no insight into whether the tip of the chain is going to be fully processed or is expected to be processed by wallets, etc. Is it considered a confirmation or is it considered zero-conf? etc.

[2018-03-22 18:29] carver commented on #718
If you're checking if a transaction is included in the canonical chain, getting the transaction receipt should work. If you're getting a receipt despite the txn still being pending, then it's definitely a bug in eth-tester.

[2018-03-23 07:40] avatar-lavventura commented on #704
TY @carver I already did asked on ethereum.stackexchange.com (https://ethereum.stackexchange.com/q/43091/4575), I guess you responded.

[2018-03-23 09:51] carver commented on #704
Your latest issue has a different setup and a different error. Try asking a new question.

[2018-03-23 11:07] avatar-lavventura commented on #704
New question: https://ethereum.stackexchange.com/q/43642/4575  @carver

[2018-03-23 11:10] voith commented on #566
I'm posting the design decision held between @pipermerriam and @gsalgado on gitter,  to keep track.
<img width="790" alt="screen shot 2018-03-15 at 12 30 38 am" src="https://user-images.githubusercontent.com/8171193/37826247-badf9180-2eb8-11e8-9dfe-cccacaf5356c.png">
<img width="803" alt="screen shot 2018-03-15 at 12 31 10 am" src="https://user-images.githubusercontent.com/8171193/37826260-c1a9472

[2018-03-23 11:11] voith commented on #566
while trying to address https://github.com/ethereum/web3.py/pull/708#discussion_r175543182, I came up with the following solution:
Posting this here because this is more of a design decision and the issue seems to be a better place than the PR.

[code]

The solution has been inspired by: https://stackoverflow.com/a/18643557/3526700

Since the event_loop runs in a separate thread, the problem I was

[2018-03-23 17:15] carver commented on #566
This seems okay, probably. I also wish for there to be an easier way. But sometimes with threading, it's tough to find one. Just to ask the question. Could we just get away with putting the asyncio loop on a `Thread` with `(..., daemon=True)`? What bad state could that put us in?

[2018-03-24 15:54] vs77bb commented on #666
Hi @zheli this one has returned to an open status on Gitcoin (not sure if on purpose or if it was a mistake)... are you still working on it? I've heard interest from a few people on this so would appreciate an update, if so. Hope you are well!

[2018-03-24 17:19] zheli commented on #666
Hi @vs77bb! Thanks for checking out. Yes I am still working on it and trying to finish it up this weekend actually. Perhaps in the future gitcoin should also watch the pull request for updates. I will submit an issue on the gitcoin repo.

Regarding to the issue status on gitcoin, it might be a bug. Who should I contact in regarding to this?

[2018-03-24 20:10] voith commented on #566
I am not an expert in threading, however from what I've understood daemon threads are used to run background tasks that are only useful when the main program runs. In this case, `loop.run_forever()` seems to be a good candidate for daemon threads.
@pipermerriam Is there any reason why you think that we shouldn't use a daemon thread in this case?

[2018-03-24 22:15] boneyard93501 commented on #566
when i looked at it, approaching it from the perspective of self-contained event loops seemed to make the most sense given the existing sync architecture.  from a think-async perspective not optimal but given the code base, it's a pretty good approach.  wrapping each loop in it's own thread, as suggested by @carver, gives you also the basis for the socket registration pool i eluded to earlier and

[2018-03-24 22:28] boneyard93501 commented on #566
@voith  while demonized cleans up threads, some of the (IO) resources may be locked for a bit. generally not for very long but if it's a concern, using threading.Event in a graceful exit method with non-demonized threads would alleviate that issue. you probably wan to cascade closing each ws con for thread alive.

[2018-03-25 06:10] voith commented on #566
@boneyard93501 Thanks for weighing in!

You're absolutely right. I wasn't having any problems till now as I was creating and closing a new websocket connection for every request. The moment I implemented a Persitent connection, I'm getting some spurious errors.
[code]
Now I get this error:
[code]

The problem here is that the event loop is stopped before `__del__` is called.

I also tried to wait

[2018-03-25 14:36] pipermerriam commented on #566
Looks like using `daemon=True` is the best solution on the table?  Am I missing anything?

[2018-03-25 18:24] boneyard93501 commented on #566
@voith @pipermerriam   i don't think you want to treat ws provider analogous to httpprovider, which means reuse and requires some additional management at the request manager level. otherwise you may end up not only blocking a lot of ports on the clients-die but possibly bring the ws server on the node to grinding halt. not likely but plausible especially in a multi-user per node situation.

let's

[2018-03-25 19:30] voith commented on #566
from what I've explored, `daemon=True` looks like the best way to me. However, I will try to dig in a bit more in the source code of libraries like `gevent`. If you know any other libraries that use coroutines and threads then I'd be happy to explore them too.

@boneyard93501 If I understand you correctly, I think you are worried about the number of connections that will be opened up in a multi we

[2018-03-26 06:33] kingctan opened #720 "pip install failed."
* Version: latest
* Python: 3.6.3
* OS: win

### What was wrong?

pip show error below:
[code]

[2018-03-26 06:35] kingctan commented on #720
oh. it is easy_install, not pip.

[2018-03-26 13:05] pipermerriam commented on #720
@kingctan is there a reason you can't use `pip`.  `easy_install` isn't well supported to the best of my knowledge.

[2018-03-26 13:06] #720 closed

[2018-03-26 13:11] larrymeng opened #721 "gas required exceeds allowance or always failing transaction"
* Version: 4.0.0-beta.11
* Python: 3.6.4
* OS: linux

### What was wrong?

code:
gas = contract_instance.functions.halt().estimateGas()

get Error:
ValueError: {'code': -32000, 'message': 'gas required exceeds allowance or always failing transaction'}

Note:
I use rinkeby in infura.

### How can it be fixed?

[2018-03-26 16:34] pipermerriam commented on #566
Lets assume connection pooling is out of scope for this initial implementation.  I agree that it may be an issue, but I want to get the core functionality into the main codebase before we start optimizing things.

[2018-03-26 16:57] pipermerriam commented on #721
@larrymeng it appears that the `halt` function may have a `throw()` in it somewhere.  This is likely why you're seeing this as when it tries to *estimate* the gas needs, all it sees are a transaction which **always** fails.

[2018-03-26 16:57] pipermerriam commented on #721
If you still need further assistance, we'll need some example code which we can use to reproduce this.

[2018-03-26 16:57] #721 closed

[2018-03-26 20:08] voith commented on #566
Will work on this tomorrow. I won't be available this weekend, so I'll try my best to finish this before Thursday.

[2018-03-27 17:49] carver opened #722 "Planned v5 changes"
v5 has no planned release date, but it would be nice to have some ideas in mind for what we would want to change.

### Potential v5 backwards-incompatible changes

Each of these line items should have its own issue. This is just a place to link them all (and a reminder to create the issue later).

*Edit*: I'll try to update this list to keep it in sync with the comments below:

- [x] drop py3.5 su

[2018-03-27 19:25] carver commented on #666
Thanks @zheli this looks wrapped!

[2018-03-27 19:25] #666 closed

[2018-03-28 08:24] zheli commented on #666
@pipermerriam will I still get paid for this issue? 😄

[2018-03-28 12:47] sjtupingjian opened #727 "The method personal_unlockAccount does not exist"
* Version: 4.0.0
* Python: 3.6
* OS: win

### What was wrong?
When I want to unlock my account by:
``
web3.personal.unlockAccount(valid_from,,'123')
``
It returns error:
[code]
How can I fixed it?

[2018-03-28 15:53] boneyard93501 commented on #727
the error is a pass through from your node, which i presume is geth and i presume you've selected the web3py http provider.  in non-interactive mode, your only options are to either unlock the account at geth startup or over ipc.

[2018-03-28 18:45] carver commented on #666
Lol, well it definitely shouldn't go to me :P

[2018-03-28 18:56] carver commented on #727
Closing as not a bug. Feel free to continue conversation here for assistance, @sjtupingjian

[2018-03-28 18:56] #727 closed

[2018-03-28 21:29] jfdelgad commented on #549
Was this solved in some way? I am getting the same error using rinkeby

w3.eth.sendTransaction({'to':w3.eth.accounts[0],'from':w3.eth.accounts[1],'value':w3.toWei(1,'ether')})
ValueError: Could not format value '0xd783010802846765746887676f312e392e34856c696e757800000000000000004828e79588880b1fc9557dc3ee74d3567f269e4fc86b8319cc24176b8d35f8fc47aa7196f01c54907983a67e74341a8b3571d7edb36f6fbd0f9fd07140

[2018-03-28 21:40] dylanjw commented on #549
@jfdelgad Have a look at the documentation for the optional PoA middleware: http://web3py.readthedocs.io/en/latest/middleware.html#geth-style-proof-of-authority

[2018-03-28 22:14] carver commented on #549
This is now on stackexchange for discoverability, as well: https://ethereum.stackexchange.com/questions/44130/rinkeby-failure-with-web3-py-could-not-format-value-0x-as-field-extrada

[2018-03-29 15:52] pipermerriam commented on #666
Triggered payment (txn may take some time to confirm)

0x012d386eaa7dd55b272f5facf784b2c17b2a465ba4453c1b8515db6a99c1f665

[2018-03-29 16:00] pipermerriam opened #728 "Add a "Common Problems" page to the documentation"
### What was wrong?

There are certain issues that are encountered regularly by users.

### How can it be fixed?

We should add a "Common Problems" page to the documentation which tries to capture these succinctly and provides answers/solutions.

- using `web3.eth.sendTransaction` when connected to infura
- trying to access `web3.personal` API when using parity or when the `personal` API is not en

[2018-03-29 18:56] zheli commented on #666
@pipermerriam thx!

[2018-03-30 14:34] pipermerriam opened #729 "`eth-tester` does not support byzantium"
Logging this issue here even though it's really a Py-EVM and eth-tester thing because I think it should block the v4 stable.

### What was wrong?

The `EthereumTesterProvider` doesn't support the Byzantium fork rules.

### How can it be fixed?

Needs to be fixed upstream in Py-EVM and eth-tester.

[2018-03-30 16:17] carver commented on #729
`eth-tester` isn't even installed as part of a vanilla web3 install. It's incomplete in other ways as well. Why do you think this in particular is a blocker?

[2018-03-31 13:14] jfdelgad opened #730 "Empty event log"
* Version: 4.b13
* Python: 3.6
* OS: win
* Geth
* Rinkeby

I have a simple contract that produces events. The events are registered on mist correctly.
I can interact with the contract without problems but can't get the events. I am simply doing this:

"RegisterCall" is the name of the event in the contract.

[code]

Any suggestion will be appreciated.

[2018-04-01 14:34] EralpB commented on #730
Can you please put all your code? after instantiating the contract object you need to force update it's address to lowercase address (no EIP-55).

[2018-04-01 18:18] jfdelgad commented on #730
Hi, thanks for your answer

I am not forcing the address to lower case, I will try and will post the results. In the mean time this is the code. I remove the contract_soruce_code because is long.

compiled_sol = compile_source(contract_source_code)
mycontract.Interface = compiled_sol['<stdin>:MyContract']

[code]

[2018-04-02 04:39] dylanjw commented on #730
Can you try the old api, so I can see if this is a problem specific to the new api.

[code]

Are you able to see results with a simple block filter?

[code]

If you could post more of your code, it would be helpful.

[2018-04-02 08:25] EralpB commented on #730
@jfdelgad please try this one:

[code]

[2018-04-02 16:13] jfdelgad commented on #730
Hi Guys

putting the address in lower case throw an error because the address is validated when the event filter is created.

However, by looking at Eralp answer I realize that I never initialize the address in mycontract as he pointed out. That was the issue.

Thanks a lot

[2018-04-02 21:28] jfdelgad commented on #730
Hi

I have again an issue:

This works as I commeneted above (give me a warnig about being deprecated), but works fine
[code]
I am requested to do use the new api but doesnt work: The list of events is empty
[code]

Any ideas what is going on?

[2018-04-02 23:46] carver commented on #730
Is the event in block 0? Your second example skipped it. Try this:

[code]

[2018-04-03 07:05] avatar-lavventura opened #735 "web3 upgrade: No distributions matching the version for eth-account>=0.1.0-alpha.2,<1.0.0 (from web3)"
* pip: 1.5.4 from /usr/lib/python3/dist-packages (python 3.4)
* Python: 2.7
* OS: linux

Based on this guide (https://ethereum.stackexchange.com/a/43471/4575) I am trying to install the v4 beta.

How could I fix the following error? What am I doing wrong?

[code]

[2018-04-03 18:04] carver commented on #735
web3 v4 requires python 3, you'll need to upgrade to use it.

[2018-04-03 18:04] #735 closed

[2018-04-03 18:18] dylanjw commented on #735
@avatar-lavventura Using a virtualenv is recommended:

[code]

[2018-04-03 18:21] avatar-lavventura opened #736 "Cannot import web3"
* pip 9.0.3
* Python: 3.5
* OS: linux (ubuntu)

[code]
Current session is: `(.venv-py3) user$`

When I use following line on my python file:
`from web3.auto import w3`

I receive the following error:

[code]

[2018-04-03 18:31] avatar-lavventura commented on #735
I did that but now I cannot import web3 library. Please see: https://github.com/ethereum/web3.py/issues/736 @dylanjw

[2018-04-03 20:10] carver commented on #736
What's the result of `python --version` while in the virtualenv?

`typing.Type` was introduced in version 3.5.2 according to https://docs.python.org/3/library/typing.html

[2018-04-03 22:27] kfichter commented on #730
@carver Unfortunately because `createFilter` does an `if not fromBlock` check, `fromBlock` cannot be 0 (because 0 is falsy)

[2018-04-03 22:45] kfichter commented on #730
I'm having a similar problem getting events to work at all.

I have a testing method in my contract:
[code]

I then call that method via web3.py:
[code]

[2018-04-04 02:56] Abirdcfly opened #739 "How to connect to Ropston via infura and deploy contract use web3.py？"
* Version: 4.0.0
* Python: 3.4
* OS: win

### What was wrong?
How to connect to Ropston and deploy contract use web3.py？
I have deploy a contract to Ropston use remix and MetaMask.
I want know how to  deploy a contract to Ropston via infura using web3.py **without geth or parity.**
I read the Documention and find there is no how-to chapter.
A small demo code will be very helpful.

this is my code

[2018-04-04 03:17] #736 closed, assigned to nobody

[2018-04-04 03:42] Abirdcfly commented on #739
I make it work by change some line. But it's very ugly.
[code]

[2018-04-04 06:54] avatar-lavventura commented on #736
Any version >= than `3.5.2 `will work? such as `3.6`?
This line `sudo apt-get install python3` installs python 3.5.0, I was not able to upgrade it. @carver

[2018-04-04 07:21] avatar-lavventura opened #740 "web3.exceptions.InvalidAddress: ('Address has an invalid EIP checksum', '0x...')"
* pip 9.0.3
* Python: 3.5.2
* OS: linux (ubuntu)

[code]
Current session is: `(.venv-py3) user$`

python file:

[code]

When I use following line on my python file:
`smartContract = web3.eth.contract(contractAddress, abi=abi);`

I receive the following error:

[code]

[2018-04-04 07:26] avatar-lavventura commented on #740
I am actually reading it from a file. For example `abi.json` contains the abi of the smart-contract and address.js contains its address. Should I do: `dbAddress = web3.toChecksumAddress(dbAddress)` ? @dangell7

[2018-04-04 07:26] dangell7 commented on #740
Always.

[2018-04-04 07:28] avatar-lavventura commented on #740
Wow it worked, thanks!! Should I do it also for `abi`? @dangell7

[2018-04-04 07:33] dangell7 commented on #740
No not for the abi. Just for any address that doesn’t come directly from web3 or metamask. Glad to help tho. If you want more. Here is my repo. Https://github.com/samyagency/samy

[2018-04-04 07:39] dangell7 commented on #716
Why don’t you just force toChecksum on every call?

[2018-04-04 07:49] avatar-lavventura opened #741 "How to ignore web3's DeprecationWarning message?"
* pip 9.0.3
* Python: 3.5.2
* OS: linux (ubuntu)

When I call my smart-contract's call() I keep receive following message:

`/home/alper/.venv-py3/lib/python3.5/site-packages/web3/utils/decorators.py:14: DeprecationWarning: call is deprecated in favor of contract.<functions/events>.<method name>.call`

[Q] Is there any way to ignore it?

[code]
Current session is: `(.venv-py3) user$`

python file:

[2018-04-04 07:54] dangell7 commented on #741
If your smart contract function is getClusterAddresses(), then your code should read smartContract.functions.getClusterAddresses()

[2018-04-04 08:01] dangell7 commented on #741
https://github.com/samyagency/samy/blob/master/deploy_crowdsale.py

Check out the function “finalize crowdsale”.

I use the signed transaction function but you can use the same code up to that point. Make the transaction. transaction = smartContract.functions.yourFunction.buildTransaction(built_transaction) Then use sendTransaction(transaction).

Just make sure if you use my “built_transaction” th

[2018-04-04 08:07] dangell7 commented on #741
Oops nevermind. Just use smartContract.functions.yourFunction().call()

[2018-04-04 09:51] avatar-lavventura commented on #741
It says:
Traceback (most recent call last):
  File "getClusterAddresses.py", line 22, in <module>
    array = smartContract.functions.yourFunction().call();
AttributeError: 'Contract' object has no attribute 'yourFunction' @dangell7

[2018-04-04 09:53] avatar-lavventura commented on #741
Your first suggestion works! Cheers.  @dangell7

Working line:
`smartContract.functions. yourFunction().call();`

[2018-04-04 10:09] avatar-lavventura commented on #741
How about for `transact()` calls? @dangell7

[2018-04-04 15:57] dangell7 commented on #741
I don’t mind helping you, but you need to read the docs...

[2018-04-04 15:58] dangell7 commented on #741
owner_key is the private key, used for signing the transaction

[2018-04-04 15:59] avatar-lavventura commented on #741
I find a easier solution.

Following line suppresses the warning messages. contractCall.py contains `transact()` or `call()` functions.

`python contractCall.py 2>/dev/null`

[2018-04-04 16:05] dangell7 commented on #741
Right, you don’t have to. Again, you should read the docs. There are 2 types of transactions. Ones that are signed by the private key and ones that are done from an unlocked account. Really the code is the same up until sendTransaction or sendRawTrabsaction.

[2018-04-04 16:09] avatar-lavventura commented on #741
Thanks mate, I really appreciated all your help and guide.  @dangell7

[2018-04-04 17:06] #729 closed

[2018-04-04 17:10] voith commented on #566
@owocki I have completed this task via https://github.com/ethereum/web3.py/pull/708

[2018-04-04 17:15] owocki commented on #566
@carver @pipermerriam 👌 to payout?

[2018-04-04 17:28] #675 closed

[2018-04-04 17:30] pipermerriam commented on #716
@dangell7 because that would defeat the purpose of checksummed addresses.  We require that the actual *input* value be checksummed so that web3 can then verify it's validity.

[2018-04-04 17:32] pipermerriam commented on #716
I think there are multiple classes of error messages if we want to be extra friendly.

* if all lower, give instructions on how to checksum an address.
* if mixed-case and bad checksum, show a *diff* of sorts of the input value and the properly checksummed value.

[2018-04-04 17:36] carver commented on #716
@voith this would be a helpful one (see Piper's comments, too)

[2018-04-04 17:37] carver commented on #712
@voith this is another good one to work on. I see you personally dealt with it, too :)

[2018-04-04 18:26] carver commented on #730
Can you confirm that the transaction has been mined, like:

[code]

[2018-04-04 19:09] zheli commented on #739
Sorry, my bad. I think overlooked the comments.

[2018-04-04 19:12] kfichter commented on #730
@carver It does seem to be mined. Here's the prettified transaction receipt:

[code]

And `event_filter.get_all_entries()` still returns `[]`

I'm running ganache-cli v6.1.0

[2018-04-04 20:16] pipermerriam commented on #566
delegating to @carver

[2018-04-04 20:33] carver commented on #716
Every **output** of `from` and `to` should already be checksummed. If it's not, it's a bug. Can I ask what source you're using to generate the addresses in a non-checksum way?

[2018-04-04 20:33] jfdelgad commented on #730
I still have the problem and I am using plain python with Geth. As I mentioned the old method for the filtering works, the new one doesn't.

[2018-04-04 20:38] dangell7 commented on #716
I meant every input. If I get the address from web3/metamask/dappbrowser and save it to the db or to a file. When I open that address its never "in checksum". And because in my code, sometimes I grab directly from web3 and sometimes I use the db, I ended up just adding the checksum on every call. I didn't test for performance, but it seems like a small call.

[2018-04-04 20:39] dangell7 commented on #716
Reading more though, I understand why that is not a solution to the problem. I was just giving my input of how I solved the checksum problem in my system

[2018-04-04 21:27] dangell7 commented on #716
MetaMask/Cipher and both web3 (py & js) repos output checksum. Firebase DB and Firestore both "downgrade" the address. Also, using python, saving to json, "downgrades" the address. Those are the instances I have found. So its pretty much only when I use the db address. Thinking more, you're right. If I'm doing the saving, I should know if its checksum ed.

[2018-04-04 22:36] carver commented on #716
Are you using the ["text string" type](https://firebase.google.com/docs/firestore/manage-data/data-types) on Firestore? That and [Firebase](https://firebase.google.com/docs/database/web/structure-data) should both preserve the case of the letters in the address.

How are you writing it to json? json maintains the case of text:

[code]

[2018-04-05 01:14] dangell7 commented on #716
Huh, for the json I was doing it the same way. and for firestore and firebase as you noted. I wonder where my error occurred then. I would also note that I use web3.js on the client and web3.py on the server. I'm not really sure where the error occurred though. My code is 3 months old... not sure if that has anything to do with it. I was definitely getting the error at one point. Hence the reason

[2018-04-05 11:47] avatar-lavventura commented on #704
@dylanjw Is this error message normal?

[code]

[2018-04-05 17:02] dylanjw commented on #704
@avatar-lavventura Have a look at the web3.py docs, specifically on filters and contracts.  The contract class does not implement an "on" method, like you may be used to in web3.js (or js in general).

Callbacks are one pattern for building asynchronous programs. There are other patterns as well. Take a look at http://web3py.readthedocs.io/en/stable/filters.html#asynchronous where we give examples

[2018-04-05 17:15] avatar-lavventura commented on #704
@dylanjw  I just want to print the logs _synchronously_.

Following line seems working:

`smartContract.eventFilter('Log',{'fromBlock':int(blockReadFrom),'toBlock':'latest'});`

[2018-04-06 00:12] carver commented on #336
v4 launched Apr 2.

[2018-04-06 00:12] #336 closed

[2018-04-06 03:07] dylanjw commented on #730
@jfdelgad Have you re-tried with the latest web3 (installed from the master branch) that includes #742, and setting the block number to 0?

If you are still having an issue after following these two steps, can you post a complete example demonstrating the error you are having.

An complete example including contract code, any event emitting transactions, and the filter creation and filter polling.

[2018-04-06 03:44] ti6oti6o commented on #730
exact same problem as  jfdelgad: I am using python (web3py(4.0.0)...Code I use is:
[code]

[2018-04-06 04:45] dylanjw commented on #730
Here is a self contained test, borrowing the contract code from the rinkeby address: "0xc778417E063141139Fce010982780140Aa0cD5Ab"
https://gist.github.com/dylanjw/cac15da222b933616e1a6cd0ad5515af

Im getting an exception because the topic is incorrect for the event signature:

[code]
[code]

[2018-04-06 12:15] cz3kit opened #746 "Calling state-chaning function of Smart Contract and wait till transaction is mined"
* Version: 4.0.0
* Python: 3.5
* OS: Ubuntu 16

### What was wrong?
I am currently using the Quickstart code and at the end we are calling the setGreeting function of the contract. I would like to know how it is possible to get the tx hash (as with contract.deploy) so that I can wait until the transaction is mined.

[code]

[2018-04-06 12:40] cz3kit commented on #746
I found actually the solution.
I changed contract instance code like this:

`contract_instance` = w3.eth.contract(abi=contract_interface['abi'], address=contract_address, ContractFactoryClass=Contract)`
`txHash = contract_instance.functions.setGreeting('Nihao').transact({'from': '0x6B0c56d1Ad5144b4d37fa6e27DC9afd5C2435c3B'})`
`print('Setting value to: Nihao')`

And then I am able to check if the t

[2018-04-06 12:40] #746 closed

[2018-04-07 07:36] alexey-grom opened #748 "Automatically encoding of an arguments for contract method"
* Version: 4.0.0
* Python: 3.5
* OS: linux

### What was wrong?

I call a contract method and get this trace:

[code]

My problem is that `web3.utils.abi.is_encodable` doesn't consider `int` as representative as bytes array:

[code]

Actually it's not problem of web3 I guess but maybe it's possible to improve a validation and encoding there, because after all it raises validation error on contract

[2018-04-07 15:18] Netherdrake opened #751 "ImportError: cannot import name 'scrypt'"
* Version: 4.0.0
* Python: 3.6.5 (Anaconda Full Distribution)
* OS: linux

[code]

[2018-04-07 15:21] #751 closed, assigned to nobody

[2018-04-07 16:55] Netherdrake opened #752 "Unable to call contract mapping from web3 4.0.0"
Setup:
[code]
Lets establish its setup:
[code]

Lets say I want to call into a mapping called `videos`.
[code]

Calling a simple value works fine:
[code]

However for the mapping, nothing seems to work.
[code]

The functions:
[code]

[2018-04-07 17:05] Netherdrake commented on #752
Ok, it seems like the new version is strict about types, and expects users to do the casting.

This works:
[code]

[2018-04-07 17:05] #752 closed

[2018-04-07 17:13] Netherdrake commented on #752
A more insightful error message would be helpful, something in line of `No matching functions found` => `A function {function_name} was called with arguments that mismatch with ABI defined types`

[2018-04-07 18:05] miguelsimon opened #753 "web3.eth.account.sign method missing in web3==4.0.0?"
* Version: web3==4.0.0b11
* Python: 3.6
* OS: ubuntu

### What was wrong?

I recently reinstalled web3==4.0.0b11 with pip and the web3.eth.account.sign method described in the docs seems to be gone: https://github.com/ethereum/web3.py/blob/master/docs/web3.eth.account.rst#sign-a-message

To reproduce:

[code]

A set difference of dir(web3.eth.account) between an old web3==4.0.0b11 build and the ne

[2018-04-07 18:27] miguelsimon commented on #753
I hadn't noticed that web3==4.0.0 already came out, I ```pip install --no-cache-dir web3==4.0.0``` and it doesn't seem to be available there either.

[2018-04-07 19:34] voith commented on #753
@miguelsimon can you run `pip freeze |  grep 'eth-account' `.
I have `eth-account==0.1.0a2` installed and `sign` works fine.

However, a new version of `eth-account` was released yesterday and that does in fact give me the same error that you're getting.

A quick fix for now should be:
`pip install eth-account==0.1.0a2`

[2018-04-07 19:42] miguelsimon commented on #753
@voith I have ```eth-account==0.2.0a0```, installing ```eth-account==0.1.0a2``` does indeed fix the issue, thanks for the workaround!

[2018-04-07 20:17] voith commented on #753
cc @carver
I wanted to submit a PR with pinning `eth-account` to `0.1.0a2`(not sure if its the right fix), However there doesn't seem to be a v4 branch.

[2018-04-08 11:41] MattNguyen commented on #727
I ran into this as well. To use IPC, use the following code to access `unlockAccount`:

[code]

[2018-04-08 15:27] cbogithub opened #755 "[help] transfer erc20 token"
* Version: 4.0.0
* Python: 3.6
* OS: ubuntu

I used below  code to transfer ICX token myetherwallet to another but got error:

[code]

Please tell me how to fix it, thanks.
[code]

[2018-04-08 15:38] voith commented on #755
`web3.py` only accepts checksummed addresses. you can force an address into checksummed state with  `w3.toChecksumAddress(address)`

[2018-04-08 16:35] voith commented on #755
web3.exceptions.UnhandledRequest: No providers responded to the RPC request:

@cbogithub Your problem is more specific to `etherscan api` than web3. You should be better off asking for help on [ethereum stackexchange](https://ethereum.stackexchange.com/).

[2018-04-09 06:00] lmittmann commented on #686
Why has the return value been changed to `HexBytes`? I always need the string representation.

This is one of many changes in `4.0.0` that require lots of updates in my code base and are really annoying. Now I need to mess up my code with lots of ` Web3.toHex(...)` conversions.

[2018-04-09 14:30] pipermerriam commented on #753
@voith I believe what's going on here is the following (@carver can verify)

The `sign` functionality between web3js, web3py, geth, parity, etc has not been implemented consistently or to any specific standard.  The *most* standardized one (what web3.py does and what geth uses) is fundamentally broken for certain inputs.

So, I think we're either removing `sign` or moving it to different name in p

[2018-04-09 14:42] voith commented on #753
@pipermerriam
I did have a look at the [PR](https://github.com/ethereum/eth-account/pull/13) where `signHash` was introduced and `sign` was deprecated before commenting here. However the PR also mentions that `sign` still works.

But the docs of v4 still say that `sign` works. So this is either a doc fix or the `eth-account` version needs to be pinned.

[2018-04-09 15:09] pipermerriam commented on #686
@lmittmann I'm sorry that the v3 -> v4 changes are causing you problems, however, there are good reasons behind all of these changes.

The `HexBytes` one specifically is part of a broader change removing ambiguity about return values and input values.

Given a string `"0xabcd"` we can't infer if this is the hex encoded value `b'\xab\xcd'`, or the literal string `"0xabcd"`.  When returning values l

[2018-04-09 15:25] voith commented on #753
Tests on master are failing because of this!

[2018-04-09 15:29] pipermerriam opened #757 "Improve error messaging when not matching function is found."
* Version: 4.0.0

link: https://github.com/ethereum/web3.py/issues/752

### What was wrong?

The error messaging when no matching function can be found is not as helpful as it could be, providing no contextual information about what went wrong or how to fix it.

[code]

### How can it be fixed?

This error message should be updated to contain the following.

- what function name was called
- what

[2018-04-09 15:30] pipermerriam commented on #752
@Netherdrake https://github.com/ethereum/web3.py/issues/757 to improve error messaging around this issue.

[2018-04-09 18:25] carver commented on #753
Correct.

Indeed. #758 fixes that.

[2018-04-09 19:45] carver commented on #748
Try to get the address from a source that checksums the address. If you're interacting with a contract deployed by someone else, request a checksummed address from them, or look it up on Etherscan.

Unfortunately, you can lose information when converting back and forth from int to bytes. If you have an abi `bytes` value of `b'\x00\x0a'` and convert that to int, you get 10. Convert that back to `by

[2018-04-09 20:01] carver commented on #686
From `HexBytes`, you can also call `val.hex()`.

[2018-04-09 20:14] carver commented on #755
I'm not sure what's going on here with `w69`:

[code]

I'm guessing you want to do something like this:
[code]

---

@voith @cbogithub Please avoid doing this unless absolutely necessary -- it throws away all of the value provided by checksumming.

Instead, try to get the address from a source that provides it in a checksummed way. The deployer of the contract, or a block explorer like etherscan,

[2018-04-09 21:31] pipermerriam commented on #748
I think he was asking for this.  You can expand on this if there are additional input types available (I think hex strings are accepted in some places but I can't recall where).

- solidity `int` `uint` -> python `int`
- solidity `string` -> python `str` (expected to be utf8 encoded) or `bytes`
- solidity `bytes` -> python `bytes`
- solidity `bool` -> python `bool`

[2018-04-09 21:31] #748 closed

[2018-04-09 21:31] pipermerriam commented on #748
closed as this is not a bug, please feel free to continue the conversation.

[2018-04-10 01:36] carver commented on #753
Fixed by pinning eth-account to an older version. But note that `sign()` *will* be going away soon. The docs will update with information on how to work around it, at the time that the method is removed.

[2018-04-10 01:36] #753 closed

[2018-04-11 11:33] SteelStrider commented on #730
Same problem. (v. 4.1.0)
Only in my case does not work neither the old version nor the new one...

        filter_new = Contracts.eth_pandora_con.events.TestEvent.createFilter(fromBlock=0)
        filter_old = Contracts.eth_pandora_con.eventFilter('TestEvent')

        new = filter_new.get_all_entries() -> []
        old = filter_old.get_all_entries() -> []

       create_tx_hash_1 = Contracts.eth

[2018-04-11 16:56] carver commented on #730
@SteelStrider are you using ganache?

[2018-04-12 07:13] SteelStrider commented on #730
Hi Carver !
I re read the entire branch again for this error.
Yes. initial tests were conducted on ganache and different versions of the library (3.16.5 and 4.1.0) was used.
3.16.5 - works great
4.1.0   - looks like it works on rinkeby testnet but does not work with gnache

filter_new = Contracts.eth_contract.events.TestEvent.createFilter(fromBlock=0)
new = filter_new.get_all_entries() -> returned

[2018-04-12 17:37] carver commented on #730
Yes, I have confirmed that ganache filters are case-sensitive for the address of the contract, which is a bug in ganache. See https://github.com/trufflesuite/ganache-core/issues/97

Can you consider using eth-tester instead of ganache? http://web3py.readthedocs.io/en/stable/providers.html#ethereumtesterprovider

We're working on a better error message for that extraData message in #756 -- it would

[2018-04-12 19:48] dangell7 opened #764 "Cannot set nonce in transaction"
* Version: 4.1.0
* Python: 3.5
* OS: linux

### What was wrong?

When running the function contract.constructor().buildTransaction() I got the following error:

[code]

Here is my code:

[code]

If I remove the nonce, I get the following error on the signTransaction() function.

`TypeError: Not all fields initialized`

### How can it be fixed?

I dont think its a fix, but I think I'm doing somethi

[2018-04-12 19:52] dangell7 commented on #764
Obviously it looks like this check `["data", "to", "nonce"]` is the error. Why can I not set the nonce in the transaction, and where would I set the nonce?

[2018-04-12 20:06] dangell7 commented on #764
Looks like adding the nonce after the buildTransaction() worked. However, I also have to add the ['to'] = '' as well. I thought there was a pr/merge for this? Do I need to upgrade somehow? I would like to be on the latest version and not the stable. I believe I need something like pip install web3==4.2.0-beta or something?

[2018-04-12 21:37] carver commented on #764
I believe the fix is already on master.

We're not currently releasing beta versions right now, since stable releases are coming out pretty often. Next one should be out on ~Monday.

If you want to install the latest version from source, you could use:

[code]

---

Protip: you can mark multiline code blocks in github comments with:

<pre>
[code]
</pre>

I updated your issue with those ^ to make i

[2018-04-12 21:37] #764 closed

[2018-04-12 21:42] dangell7 commented on #764
@carver Groovy! Thanks for the pointers!

[2018-04-13 11:04] startsts opened #765 "sendRawTransaction returns hash but transaction seems to be not broadcasted"
* Version: 4.1.0
* Python: 3.6
* OS: linux

I'm trying to make transaction

Code:

[code]

It prints hash of transaction, but transaction never appears at block explorer, so seems to be not broadcasted

[2018-04-13 13:57] palash25 commented on #757
Claiming this.

cc @pipermerriam

[2018-04-13 14:14] pipermerriam commented on #757
Work on this is already underway in #628

[2018-04-13 15:17] palash25 commented on #757
Maybe we should add a point in the contributors guide in all the ethereum repos which tells the contributors to include the issue reference in their commit messages.

I've seen this on many issues where the corresponding PR wasn't referenced, this would avoid any kind of confusion and would also prevent contributors to ping the maintainers unnecessarily like I just did. Should I raise an issue?
@p

[2018-04-13 21:27] carver opened #767 "Specific warning message for ambiguous contract function calls"
### What was wrong?

When calling a contract function, if the types of the arguments are ambiguous, so there are more than one matching methods, the error message is confusing: "Function invocation failed due to improper argument encoding".

For example, calling a contract that has both `func1(string)` and `func1(bytes)` with `contract.functions.func1('yo').call()`.

### How can it be fixed?

A se

[2018-04-13 23:25] carver commented on #765
@startsts If that's a real private key, I recommend transferring everything out of there and never using it again. (it's not *super* easy to guess your complete key, but it's now `10^43` times less secure than a properly chosen random private key)

The first thing that stands out is the `nonce`. Has that account already sent 5 transactions?

BTW, you're more likely to get fast answers for question

[2018-04-13 23:25] #765 closed

[2018-04-15 04:57] ScriptProdigy opened #769 "Contract interaction always raising "gas required exceeds allowance or always failing transaction""
* Version: 4.1.0
* Python: 3.6
* OS: linux

### What was wrong?
Using the code below, the error below ALWAYS appears, no matter the ERC20 token.

[code]

I have ether as well as poly on the from address. I've tested this with ebtc contract as well. Same result.
https://etherscan.io/address/0xB6856aD7c30ED8e8447357DE835165a78CfBdebB

[2018-04-15 04:57] ScriptProdigy commented on #769
Im using a fully synced geth node

[2018-04-15 05:12] ScriptProdigy commented on #769
Oddly enough this 'sort of' works

[code]

clearly doesnt work though as Im sending 0 tokens..

[2018-04-16 12:36] mandarvaze commented on #757
Since #628 is already merged, should this one be closed ?

If not, at least remove "Good First Issue" label (I came here looking to contribute, and realized this one is (almost?) ready to be closed.)

cc @pipermerriam @carver

[2018-04-16 15:20] #757 closed

[2018-04-16 19:28] ScriptProdigy commented on #769
Woo, turns out I wasnt supplying enough gas to the above. All is well now!

[2018-04-16 19:28] #769 closed

[2018-04-17 03:36] ti6oti6o commented on #730
dylanjw: Could the 'Topics' issue you get be coming from the fact that you are using EthereumTesterProvider (I use HTTPProvider)? ... I still get the same issue: he new methodology (createFilter) does not return any results (and EventFilter does)...Does anyone have a workaround?

[2018-04-17 15:32] dylanjw commented on #730
@ti6oti6o Have you tried using 4.1?  The generation of the topic filters is independent of the provider, so the issue would occur with both.

Can you paste the output of your filter's `filter_params` attribute?

for example:

[code]

[2018-04-17 20:08] carver opened #770 "Dropped data field in modifyTransaction"
* Version: 4.1.0
* Python: 3.6
* OS: linux

### What was wrong?

Used `web3.eth.modifyTransaction(txn_hash, gasPrice=new_gas_price)`, and it dropped the data field from the original transaction.

### How can it be fixed?

Rename `input` field to `data` when copying data from old transaction.

[2018-04-17 20:44] carver opened #771 "Better error message on failed encoding"
* Version: 4.1.0

### What was wrong?

A field of type `HexBytes` slipped through the pythonic middleware and the web3 provider tried to encode it with json. The only error message was:

### How can it be fixed?

Catch type errors in:

[code]
In case of a `TypeError`, inspect `params` and raise another `TypeError` saying which parameter index was failing to json encode, and (if applicable) which k

[2018-04-18 03:32] ti6oti6o commented on #730
Here is the filter_params output using the new method:
`{'topics': [[], ['0xe1fffcc4923d04b559f4d29a8bfc6cda04eb5b0d3c460751c2402c5c5cc9109c']], 'address': ['0xc778417E063141139Fce010982780140Aa0cD5Ab', '0xc778417E063141139Fce010982780140Aa0cD5Ab'], 'fromBlock': 2110000, 'toBlock': 'latest'}`

Here is the filter_params output using the old method:
`{'topics': ['0xe1fffcc4923d04b559f4d29a8bfc6cda04

[2018-04-18 03:33] ti6oti6o commented on #730
To clarify:
old method:
`myfilter_old=contract_instance.eventFilter('Deposit',{'fromBlock':2110000,'toBlock':'latest'})`
new method:
`myfilter_new=contract_instance.events.Deposit.createFilter(fromBlock=2110000, toBlock='latest')`

[2018-04-18 12:25] Gallaecio opened #772 "Incorrect return value example for web3.personal.newAccount"
http://web3py.readthedocs.io/en/stable/web3.personal.html?highlight=newAccount#web3.personal.newAccount

The documentation provides the following example:

[code]

However, the return value is the address as a string, not an array containing it:

[code]

[2018-04-18 23:59] carver commented on #730
Why do you say it's unstable?

[2018-04-19 00:29] carver commented on #772
:+1: doc bug

[2018-04-19 02:57] hbprotoss commented on #537
Does this repo has any connection to web3 java version `https://github.com/web3j/web3j`? They can interact with infura (i.e. call contract function). I'm wondering if they achieve it by sending raw transactions and exposing high level api?

[2018-04-19 05:19] winterjung opened #774 "Mismatch eth-keys version in eth-account and eth-keyfile"
* web3.py version: 4.1.0
* Python: 3.5
* OS: osx
* pip: 10.0.0
* pipenv: 11.10.0
* eth-account 0.1.0a2 (latest)

### What was wrong?
In commit 15e4097a937c2d7203b0fd251da1687fe08d1b61, `eth-key*` dependencies are droped and moved into `eth-account`

Required `eth-keys` version in `eth-account` is [`eth-keys>=0.2.0b3,<0.3.0`](https://github.com/ethereum/eth-account/blob/f7d174cb38d78d0e9adcf062e7b2

[2018-04-19 17:18] #774 closed, assigned to nobody

[2018-04-19 20:28] pipermerriam commented on #537
@hbprotoss you can call contract functions with web3.py, you just can't do so by sending transactions without extra configuration (see https://github.com/ethereum/web3.py/pull/649)

[2018-04-19 21:03] carver commented on #699
Can you re-verify on the latest stable version? (v4.1.0)

[2018-04-19 21:05] carver commented on #700
I suspect we'll be seeing Vyper switch to `fixedMxN` based on https://github.com/ethereum/vyper/issues/566

Continuing to leave this issue open until that's confirmed.

[2018-04-19 21:06] #705 closed

[2018-04-19 21:13] carver commented on #717
This seems to be fixed...

[2018-04-19 21:13] #717 closed

[2018-04-19 21:17] #740 closed, assigned to nobody

[2018-04-19 21:29] carver opened #775 "Invoke ambiguous contract functions"
### What was wrong?

If a contract has multiple functions of the same name, and the arguments are ambiguous, say:

[code]

It is currently impossible to call the identity function on that contract for positive numbers, because web3 cannot identify which one you want:

[code]

### How can it be fixed?

Add a way to unambiguously call a specific method (maybe by providing the function signature). So

[2018-04-19 21:33] pipermerriam commented on #775
might be nice to support both the full function signature and the 4byte selector in those lookups.

[2018-04-19 21:35] pipermerriam commented on #775
Also probably worth some extra convenience APIs surrounding this.

[code]

[2018-04-19 21:44] carver commented on #775
Hm, was I suggesting something different? Oh, maybe you thought I meant you could just specify the one type you cared about, like: `identity(,,bytes,)`? That's interesting too, but I meant the whole signature.

Yeah, that too, but I was punting because it requires an even heavier api (since you have to also specify the ABI definition somehow).

[2018-04-19 21:54] pipermerriam commented on #775
Nope, just suggesting what you already proposed (full signature) with the addition of support for 4byte selector.

No, I just mean supporting `contract.functions['0xabcd1234']` assuming `0xabcd1234` was one of the 4byte selectors for a contract functions.  Should be quite trivial to implement.

[2018-04-19 23:00] carver commented on #775
:man_facepalming: Ah, of course: given that the function info was already specified in the abi (just like with all these other selectors).

[2018-04-19 23:14] carver commented on #775
Hm, and we're back to inferring hex vs text strings. Solidity doesn't allow a function starting with `0`, so we could use that to tell the difference, but I'm not sure we can guarantee that all languages that compile to EVM bytecode have that restriction. Maybe we should just require `bytes` or hex literal (`int`) to use this esoteric feature.

[2018-04-20 01:00] carver commented on #775
I really like this (but they shouldn't sit inside `contract.functions` where they might conflict with the contract's functions).

[code]

One trick is how do we help people do something useful with the returned functions in an iterator. I guess we add each function's abi to that ContractFunction instance, so users can inspect the types and decide how to filter them further...

[2018-04-20 01:10] JungWinter commented on #774
Thanks! `rm -rf Pipfile.lock && rm -rf ~/.cache/pip && rm -rf ~/.cache/pipenv && pipenv install --skip-lock web3 && pipenv lock --pre --clear` works for me!

[2018-04-20 03:15] hbprotoss commented on #537
@pipermerriam Thank you for your patience :)

[2018-04-20 06:48] avatar-lavventura commented on #741
I find a better solution. On `/.venv-py3/lib/python3.5/site-packages/web3/utils/decorators.py` file there is this function:

[code]

Line:` warnings.simplefilter('always', DeprecationWarning)` Should be commented out. Also please note that, that line does not exist at https://github.com/ethereum/web3.py/blob/master/web3/utils/decorators.py . @carver @dangell7

[2018-04-20 08:33] 08zhangyi opened #778 "How to start mining using web3.py?"
* Version: 3.6.15
* Python: 3.6
* OS: windows10

I have built a private ethereum-network and started its RPC service. The connection is OK when I use the code
[code]
to test the connection. But when I use `web3.miner.start(1)`, it returns that
[code]
But in my geth. the command `miner.start(1)` is OK. How can I solve the problem?

[2018-04-20 08:52] voith commented on #778
@08zhangyi Have you enabled the miner api in geth over rpc?
if you haven't try this:
[code]

[2018-04-20 14:39] avatar-lavventura opened #779 "Could eventFilter traverse from latest block number(tail) through head?"
* pip 9.0.3
* Python: 3.5.2
* OS: linux (ubuntu)

My question is related to `eventFilter` function related to his opened question: (https://ethereum.stackexchange.com/q/17572/4575)

Following line works as explained in the documentation:

[code]

Now, I just want to iterate from greater block number to smaller block number:

_Example:_

[code]

When I try that to do that, I get following error mes

[2018-04-20 15:51] pipermerriam commented on #779
You could just reverse the returned logs assuming your querying for a list of blocks that have already been mined.

[2018-04-20 16:48] avatar-lavventura commented on #779
I want to iterate from latest block number to block-number, where my contract is deployed. Whenever I catch the event I will break the `eventFilter` this will help me to catch the latest event. Since I make this call every 10 seconds, storing returned logs might consume memory.Or I just want a fast and efficient way just to catch the latest event.

`For example:` my contract is deployed at blockNu

[2018-04-20 17:17] agz1990 opened #780 "Working with Local Private Keys, module 'web3' has no attribute 'utils'"
* Version:  4.1.0
* Python: 3.6
* OS: linux/win

### What was wrong?
Traceback (most recent call last):
  File "<ipython-input-260-69766ce4d393>", line 2, in <module>
    w3.eth.contract(address="0xfB6916095ca1df60bB79Ce92cE3Ea74c37c5d359", abi=EI
P20_ABI)
  File "f:\python36\lib\site-packages\web3\eth.py", line 351, in contract
    ContractFactory = ContractFactoryClass.factory(self.web3, **kwarg

[2018-04-20 17:31] pipermerriam commented on #779
Since event filtering happens on the node itself I'm not aware of anything we can do from the web3.py side.  This would require a change to the JSON-RPC API itself to allow for reversed event log filters.

[2018-04-20 17:31] #779 closed

[2018-04-20 17:32] pipermerriam commented on #779
Again, you can request **all** changes for a block range of `[deploy_block, 'latest']`, reverse the returned logs and grab the first one (or equivalently, just grab the last log entry from the returned values).  Not ideal since it requires polling, but it's the best solution I can think of.

[2018-04-20 17:39] avatar-lavventura commented on #779
Thanks for the input @pipermerriam

[2018-04-20 18:47] #772 closed

[2018-04-21 00:38] carver commented on #780
It kind of sounds like you have a borked environment. I would start in a fresh virtualenv. However you do it, you'll want to uninstall web3utils. It is an old package that only supports web3 v3, as you pointed out. There shouldn't be anything that depends on web3utils anymore. (all the good stuff from it has been imported into web3 v4, anyway)

[2018-04-21 02:02] agz1990 commented on #780
hi carver ,  I clean the development environment adn reinstall web3 , now the problem has been solved. Thank you!

[2018-04-21 02:30] #780 closed

[2018-04-21 09:05] jerryji commented on #503
As of 21-Apr-2018, web3.py 4.1.0 python 3.6.3 under Ubuntu 17.10, I'm not getting any event (I'm only trying to print the last event from gakonst's code) --

[code]

Sorry for my messy global pip3 freeze --

[code]

[2018-04-22 10:37] avatar-lavventura commented on #735
Thanks for the input, it now works! @dylanjw

[2018-04-22 11:45] AlexTan-b-z opened #781 "Getting web3.exceptions.BadFunctionCallOutput in private chain"
### My environment:
* Version: 4.1.0
* Python: 3.6
* OS: Ubuntu16.04
* Geth version: 1.8.5-unstable
* solc version: 0.4.21-develop.2018.3.8

### My code:
* contract code:
[code]
* web3.py:
[code]

**When I deploy the contract, my private chain has start mining**
### The question is:
* I can't use the function of the contract neither call() nor transact() when I run the contract in my private chain

[2018-04-22 11:49] AlexTan-b-z commented on #781
By the way, the w3 is that I used IPCProvider:
```w3 = Web3(IPCProvider('./data/geth.ipc'))```

[2018-04-23 03:28] githubcyc opened #782 "Convert an AttributeDict with bytes values to a json string"
* Version: 4.2.1

### What was wrong?

`w3.eth.getTransaction()` returns an `AttributeDict`, which I want to send as a string, say over HTTP. I couldn't find a convenient way to make this conversion.

### How can it be fixed?

A new method that converts an `AttributeDict` to a json string:

[code]

[2018-04-23 06:08] voith commented on #782
try this:
[code]

[2018-04-23 12:02] bigEvilBanana opened #783 "unable to locate this transaction hash"
Version: 4.1.0
Python: 2.7/3.4/3.6
OS: osx/linux/win

### What was wrong?

I'm trying to send transaction with the following code:

[code]

As result I got txHash, but when I'm trying to find this transaction at etherscan I got nothing (https://ropsten.etherscan.io/tx/0x6e863430e83a22d93ae8181c54e40f309427deb8b1900bae222223d8ca8c173f).

The transaction is not sent and I can't figure out what the p

[2018-04-23 14:36] AlexTan-b-z commented on #781
Now, I can use the transact function. But can't use the call() function:
![image](https://user-images.githubusercontent.com/16188661/39133375-9d5d7ec8-4746-11e8-8319-b3b513e3e0c1.png)
![image](https://user-images.githubusercontent.com/16188661/39133406-b1d39e50-4746-11e8-9899-396165dafe4f.png)

But why? I need help! Who can help me! Thank you very much!

[2018-04-23 16:38] pipermerriam commented on #781
can you run `w3.eth.getCode(tb.address)` and paste the output.

Also, rather than screenshots, it's more useful/helpful if you can provide that as text in a code block.

[2018-04-23 19:54] boneyard93501 commented on #771
@carver i should be able to work on  #770 & #771 this week if you're still looking for help.

[2018-04-23 20:41] carver commented on #771
Sure, that would be great! If you can only get to one, #770 has bigger impact

[2018-04-23 20:45] boneyard93501 commented on #771
@carver  like so?
[code]

[2018-04-23 20:49] carver commented on #771
Yeah, that's the idea!

I think minimizing what's in the try block would be better, so we know the `TypeError` came from the `json.dumps`. (and the second try block should just catch `TypeError` as well)

[2018-04-23 20:55] carver commented on #783
Each transaction from an address must increment `nonce` starting at 0. Higher nonces will just sit as pending on the network, until they are eventually included or dropped.

[2018-04-23 20:55] #783 closed

[2018-04-23 22:42] boneyard93501 commented on #771
k. thx.
i put in a pr. will start tackling 770 tomorrow.

[2018-04-23 23:28] veox commented on #775
Yes, please. ^_^

A case I've had (with LLL, so maybe not so relevant to most) is testing several same-name functions from a contract's ABI where the argument list gets ever-longer (less arguments implied).

The proposed improvement is very far up the pipe from where I'm at now; but "it would be great" if I could

* take a `contract`,
* get `all_functions_by_name('transfer')` that it implements,
*

[2018-04-23 23:34] jfdelgad commented on #259
I have an issue with this. having a message = 'mymessage' y use w3.eth,account.sign(message_text=message, public_key=publickKey) and the messageHash obtained differs from doing w3.sha3(text=message)

Any comment will be appreacited

[2018-04-23 23:54] jfdelgad opened #786 "signature messageHash do not match sha3"
* Version: 4.1
* Python: 3.5
* OS: win

### What was wrong?
The `messageHash` obtained when signing a message does not match with sha3 nor with Keccak256 in solidity.

I have this message
`message = "0xa905556532f8353195f389824fa34ea8f9719519/1000000/1524518223"`

and sign it doing
`signature = w3.eth.account.sign(message_text = message, private_key = account.privateKey)`

the sha3 of the message

[2018-04-24 00:18] carver commented on #786
Potentially a couple of things going on, but one of them is that the hash of the message isn't simply the keccak256, there are other things added first. See https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sign

Not a bug, so I'm closing, but feel free to continue commenting here for help (and/or check out https://ethereum.stackexchange.com ).

[2018-04-24 00:18] #786 closed

[2018-04-24 00:32] carver commented on #775
Good to know! This whole feature suite is aimed at power users, so I'm definitely curious to explore it a bit with you.

I don't understand something though: the default selector should be pretty good at differentiating between calls with different numbers of arguments. Why doesn't something like this work for you?

[code]

[2018-04-24 02:42] 08zhangyi commented on #778
@voith Thank you for helping me. Now I know what is the mechanism of geth rpc interface.

[2018-04-24 02:42] #778 closed

[2018-04-24 05:37] AlexTan-b-z commented on #781
Thank you very much! After I run the ```w3.eth.getCode(tb.address)```, the output is:
```HexBytes('0x')```

[2018-04-24 05:40] AlexTan-b-z commented on #781
That's represent that this contract was not deployed successfully?

[2018-04-24 08:33] veox commented on #775
That example of mine was not only "convoluted", but also "contrived": I'm not actually doing this (yet). :D

The snippet you provide would work just fine for testing the functions with their correct arguments and data, i.e.:

[code]

with a total of 4 tests. What I wrote about should allow for 16 tests: every selector also tested with data that would have been passed to the other selectors in "nor

[2018-04-24 16:43] pipermerriam commented on #781
Correct, a return of `0x` from `w3.eth.getCode(..)` means that the contract failed during deployment.

[2018-04-24 16:43] #781 closed

[2018-04-24 16:58] pipermerriam commented on #775
[code]

And probably something like this too.

[code]

[2018-04-24 17:01] pipermerriam commented on #259
@jfdelgad that's because messages have a prefix prepended to them as part of the signing process to prevent usage of this API for transaction signing.

[2018-04-25 13:14] Lebski commented on #699
Same issue...
I watched other issues and noticed similar problems and all using testrpc/ganache-cli as well.

[2018-04-25 14:17] AlexTan-b-z commented on #781
But why? The same contract that I can deployed in web3.js.
The deploy code: `MyContract.constructor(100000000, "zhihui", "ZB").transact({'from': w3.eth.accounts[0], 'gas': 410000}` is not correct? Or what else problem?

[2018-04-25 15:54] dirmansebastian opened #791 "TypeError: Transaction had invalid fields when i send a raw transaction to contract address"
* Version: v4.0.0
* Python: 3.6.4
* OS: win 10

### What was wrong?
I'm trying to sign and broadcast a raw transaction(to send 0.x ETH) to contract address. If i send 1 ETH it's working.

Code:
import time
from web3 import Web3, HTTPProvider
#import contract_abi

contract_address     = '0x86148aA32d278ZZZZZZ9866bFd545a0B1d70fAD'
wallet_private_key   = 'e56ec09e254d33dZZZZZZe6bfc86fb760b3bee2b51a00

[2018-04-25 16:05] dangell7 commented on #791
Dont manually convert a value to wei. Use the api for this. value = w3.toWei(value, 'ether')

[2018-04-25 16:07] dangell7 commented on #791
Or if you're dead set on manually converting it, make sure you use

```amount_in_wei = int(amount_in_ether * 1000000000000000000)```

But again, you should use the api...

[2018-04-25 16:16] carver commented on #699
Ah yes, there's the known bug that ganache is case-sensitive to searches. I'd recommend a different testing backend until they get that resolved.

Closing as a duplicate of #674

[2018-04-25 16:16] carver commented on #730
ganache has a known bug. Closing as a duplicate of #674

[2018-04-25 16:16] #730 closed

[2018-04-25 16:25] grahamturk commented on #674
@jordanjambazov are you getting the same problem when using the new `Contract.events.<event` name>.createFilter()` method?

[2018-04-25 16:42] carver commented on #791
@dangell7 's answer is correct. `wei` should not be passed in as a float.

[2018-04-25 16:42] #791 closed

[2018-04-25 16:51] carver commented on #781
There's too much code right now for us to look through and debug visually for you.

Here is a debugging technique that you can try: reduce the code in the contract and python by removing features, until the deploy starts working. That should help you identify an offending piece. Then post the difference between the working and non-working code. Also, you can try posting that to https://ethereum.st

[2018-04-25 17:03] dirmansebastian commented on #791
oh, i got it now, thank you both

[2018-04-25 17:38] pipermerriam commented on #674
If you're dealing with this error consider speaking up in the following github issue in the ganache codebase.

https://github.com/trufflesuite/ganache-cli/issues/494

[2018-04-26 01:50] boneyard93501 commented on #770
@carver

want to do it in the param extraction ?
[code]

[2018-04-26 02:48] pipermerriam commented on #770
Um, maybe just use the [`eth_utils.apply_key_map`](https://github.com/ethereum/eth-utils#apply_key_mapformatter_dict-dict_like---dict)?  At least with the latest `eth-utils` it should protect against situations where both `data` and `input` are included and prevent overwritting.  (not super familiar with this issue so disregard if this isn't the right solution).

[2018-04-26 03:42] boneyard93501 commented on #770
i looked at that but wasn't entirely sure whether data and input could be instantiated; i kinda doubt it. but if its a highly improbably/impossible edge-case, re-keying is definitely the way to go.

[2018-04-26 06:02] ConnorChristie commented on #403
Resolved by #784?

[2018-04-26 06:02] ConnorChristie commented on #402
Resolved by #784?

[2018-04-26 06:54] Lebski opened #792 "Malformated sendTransaction return value"
* Version: 4.2.0
* Python: 3.5.2
* OS: linux
* Geth-cli (private network)

### Can't find transactionReceipt

Getting strange return value from web3.eth.sendTransaction function which can't be used from .getTransactionReceipt
Script works with ganache-cli.

**Python**
[code]
**Output**

[code]
**Geth CLI-Call**
[code]

**ABI**
[code]

[2018-04-26 10:59] AlexTan-b-z commented on #781
OK. Thank you!

[2018-04-26 12:00] AlexTan-b-z commented on #781
I found the bug! The reason why the contract was not deployed successfully is that the gas is not enough.
I feel it is very uncomfortable, why not show me the error: `gas is not enough` when I deploy the contract.
It cost my 5 days to solve the problem.

[2018-04-26 16:32] carver commented on #402
Yes, thanks!

[2018-04-26 16:32] #402 closed

[2018-04-26 16:33] carver commented on #403
It was built using the geth APIs. I'm not certain Parity is API-compatible.

I would want to see a parity integration test before closing this. (but #402 looks good :+1: )

[2018-04-26 18:11] pipermerriam commented on #792
`getTransactionReceipt` returns `None` when the transaction has not yet been mined.  You will need to implement some form of *waiting* for the receipt.  You can make use of `web3.eth.waitForTransactionReceipt` if you're using a new enough web3.

[2018-04-26 18:11] #792 closed

[2018-04-26 19:11] nemaniarjun commented on #698
Hey! I am new to Gitcoin, Web3 and blockchain in general. I do have python coding experience and I think I can get this done.

For `3.x` : Add an Exception with a proper message (here)[https://github.com/ethereum/web3.py/blob/1cb19a0e2116d3d2a7075b28683290d3b60c76c7/web3/contract.py#L186]

For: `4.x`: This is bit more complex, on my first go through the code, I think raising exceptions on creation

[2018-04-26 19:17] pipermerriam commented on #698
Yes, feel free to take this on.

For `4.x` (which is `master`) the best I can think of is to raise a custom `AttributeError` when an attempt is made to access a function via `c.functions.myFunction` in the case where the `abi` contains no function definitions.

[code]

[2018-04-26 22:58] carver opened #794 "Compatibility with rlp v1.*"
### What was wrong?

pyrlp went through a major upgrade, web3.py should support both v0 and the new v1.

### How can it be fixed?

_Maybe_ the only requirement is to upgrade eth-tester after https://github.com/ethereum/eth-tester/pull/84 is merged and released. Will have to wait and test it out.

[2018-04-27 07:33] yihuang opened #796 "How to use signAndSendTransaction in 4.0?"
It seems api ``personal.signAndSendTransaction`` no longer exists in 4.0, how to migrate?
Thanks.

[2018-04-27 11:52] AlexTan-b-z commented on #781
Yes, that's how I do now! Anyway, thank you very much!

[2018-04-27 20:56] voith commented on #775
I'll take a stab at this over the weekend.

[2018-04-27 21:40] carver commented on #775
Thanks, @voith !

Note that the API here doesn't seem finalized. So there may be quite a bit of churn in the PR. (By posting a PR, you're implicitly proposing a final API)

Alternatively, you could propose a summarized API here for consensus before trying to polish off an implementation.

[2018-04-27 22:05] carver commented on #796
Correct, that method was raising deprecation warnings in v3: https://github.com/ethereum/web3.py/blob/v3.16.5/web3/personal.py#L75-L81

Use `personal.sendTransaction()` instead.

[2018-04-27 22:05] #796 closed

[2018-04-27 22:15] voith commented on #775
@carver I wanted to ask you if the API was finalized but then I'd thought to myself that I'll get the basic implementation out and then we could rename/add functionality as needed.
 In my first take I want to implement the following:
[code]
piper merriam's [suggestion](https://github.com/ethereum/web3.py/issues/775#issuecomment-384005513) seems like it'll need another class to implement the functi

[2018-04-27 22:32] carver commented on #775
It's okay to fail out if `contract.abi` is not set, hopefully with a nice error message (as requested in #698).

[2018-04-28 01:14] carver opened #797 "Add new autoproviders for geth --dev and Infura"
### What was wrong?

Connecting to common places is still a little hairy. For example `geth --dev` and Infura.

Inspired by #719

### How can it be fixed?

Add new auto providers:

- [ ] Add a `from web3.auto.gethdev import w3`
- [ ] Add a `from web3.auto.infura import w3`

[2018-04-28 19:31] fubuloubu opened #798 "Whisper - TypeError: Object of type 'ShhFilter' is not JSON serializable"
* Version: 4.2.0
* Python: 3.6.5
* OS: linux
* geth v1.8.7 (`geth --shh --syncmode "fast"`)

### What was wrong?
Trying the new Whisper v6 integration. Let me know if I did not set it up correctly, basically trying to figure it out for the first time.

I got one error that didn't seem right to me, it looks like the `ShhFilter` doesn't implement serializable for pretty-printing or something.

Code

[2018-04-29 11:43] thomaszdxsn opened #799 "get error when run README example"
* Version: latest
* Python: 3.6
* OS: osx

### What was wrong?

* The code which produced the error

I install all dependency and run the README's example, but can't complete, may be API changed error.

* The full output of the error

[code]

* What type of node you were connecting to.

   just testrpc, not connecting real node

### How can it be fixed?

I'am a newbie, don't now how to fix it.

[2018-04-29 11:55] ConnorChristie commented on #798
Unfortunately, it does not. It should, however, be updated to handle serialization to support use cases like this.

[2018-04-29 11:58] voith commented on #799
can you post your version of rlp?
[code]
In any case try to pin your `rlp` version to `0.6.0` and see if it works.
[code]

[2018-04-29 13:37] thomaszdxsn commented on #799
It work, thank you very much.

but still stranger. it's previous version is latest(1.0.1), but don't work.

is it testrpc error?

[2018-04-29 14:07] voith commented on #799
@thomaszdxsn The latest `rlp 1.0.1` release has done some refactoring. This is a known issue.
Other packages that are dependent on this are yet to be made compatible.
This should be fixed in [eth-testrpc](https://github.com/pipermerriam/eth-testrpc/blob/cbb22ff2bebc9f12098b0bb7f2a245f3510522b4/setup.py#L41)

[2018-04-29 14:40] fubuloubu commented on #798
@ConnorChristie I was trying it out. Is there another way to use the API to try basic messaging?

[2018-04-29 15:11] thomaszdxsn commented on #799
thanks, please close this issue

[2018-04-29 15:11] #799 closed

[2018-04-30 10:35] mikery commented on #698
I would like to take a shot at this. The approach in PR #800 will raise an exception if you instantiate a contract with no ABI, but I think the behaviour we want is to only raise an exception if an attempt is made to access a non-existent function/event. PR incoming.

[2018-04-30 15:10] pipermerriam commented on #775
@voith re needing another class.  +1 to pushing that out to a subsequent PR.  Lets ignore the idea of *chaining* these filters for now and just implement the top level API, after which we can see about extending it to somthing where you can chain the filtering methods together.

Also, my naming suggestion would be `find_functions_by_<thing>` and `get_function_by_<thing>`.

[2018-04-30 16:27] pipermerriam commented on #775
I actually think we could drop the `is_unique` API.

[2018-04-30 16:28] pipermerriam commented on #775
I actually think we could drop the `is_unique` API.

[2018-04-30 19:27] pipermerriam opened #802 "Figure out what to do with `web3.shh`, `web3.bzz`, etc."
### What is wrong

Right now we have some in-flight functionality for Whisper V6: #784

As it stands, we *can* write in support for this in `web3.shh` but I want to figure out a future proof way to do this.  I see the following problems coming down the road.

- API differences between nodes (parity, geth, ...)
- API differences across protocol versions (v5, v6, v???)

### How it could be fixed.

#

[2018-04-30 20:17] carver commented on #775
ContractFunction to have an instance of ContractFunctions or have the abi's of all other functions

Not exactly. `ContractFunction` is really the set of all functions that match the given function name. So it is arguably a bit misnamed (since it implies exactly one function match). So you could find out `is_unique` by checking if more than one function has that same name.

[2018-04-30 22:26] fubuloubu commented on #798
Ah, I see now! For usabilities sake, the middleware sounds nice.

I will give this a try!

[2018-04-30 23:33] fubuloubu commented on #798
Works!

[code]

[2018-04-30 23:33] #798 closed

[2018-05-01 02:52] pipermerriam commented on #802
👍

[2018-05-01 06:21] Liuch10 opened #804 "token contract returns zero balance"
* Version: 4.1.0
* Python: 3.5
* OS:  osx

### What was wrong?
i was trying to deploy the simplest erc20 token, with solidity of

[code]
the compilation works smoothly i use constructor().transact() to deploy the token on my own private chain :

[code]

after deployment, i can get the contract address, as well as  public members (name, symbols, etc) by using

[code]

However, the token seems not f

[2018-05-01 15:32] Lebski commented on #699
I'm _so_ sorry to bother you again.
I didn't work with another testing backend either.
But I got it working with the deprecated `contract.eventFilter()`

Since v5 got already announced I'd love to wrap my head around before the method isn't available anymore.

[code]
The transfer_filter is every times successful, but the event_filter is never.

[2018-05-01 15:37] Lebski commented on #804
You can use ``` for codeblocks

***What was wrong?***

i was trying to deploy the simplest erc20 token, with solidity of
[code]
the compilation works smoothly i use constructor().transact() to deploy the token on my own private chain :
[code]

after deployment, i can get the contract address, as well as public members (name, symbols, etc) by using
[code]
However, the token seems not fully successf

[2018-05-01 15:40] Lebski commented on #804
The constructor has the same name as the contract.
In your case this would be `function FoYoToken()`

[2018-05-01 16:59] rockdoctor opened #805 "gasPrice timeout when using light client"
* Version: 4.2.0
* Python: 3.6.3
* OS: linux
I am executing RPC methods against a Geth node in --light mode using Web3.py

Geth version: 1.8.6

All other methods work fine, but
`w3.eth.gasPrice`
always times out.
Have reproduced in both Jupyter notebook and with regular python shell.
Stacktrace below:

[code]

[2018-05-01 17:04] pipermerriam commented on #805
Try using `curl` to hit your geth node's JSON-RPC with `--connect-timeout 10`.  If that succeeds then this is a web3.py issue, otherwise it's just an issue with your geth node.

[2018-05-01 18:41] #804 closed, assigned to nobody

[2018-05-01 18:52] carver commented on #699
What web3.py version? Which provider? What type of node?

Also, looks like a copy/paste error in your code, can you take another look?

[2018-05-01 21:56] #716 closed

[2018-05-01 21:58] Lebski commented on #699
Thank you very much. I was worried because this issue is going on since over a month now...
What bugs me it that the deprecated method works with my setup but the new one doesn't.
I might have set the parameters wrong? I'm quite unsure about the `fromBlock="latest"`.
I've got a low hardware and mining super slow, which caused problems in the past.

* Version: v4.2.0
* Python: 3.5
* OS: linux
* Get

[2018-05-01 22:32] carver commented on #699
Cool, this highlights an interesting case. @dylanjw might have more ideas, but the first difference I notice between the two is the `fromBlock='latest'`. Can you try setting it to something static, like:

[code]

[2018-05-02 06:26] Lebski commented on #699
I tried using a static value as you suggest in the example.
`last_block_num` was set to Block _1895_.
The transaction was mined in Block _1897_.

I got the receipt from geth:
[code]

[2018-05-02 11:17] drandreaskrueger opened #808 "deploy contract example is broken ? TypeError: Incorrect argument count. Expected '1'. Got '0'"
Your [own example](http://web3py.readthedocs.io/en/stable/examples.html#working-with-contracts) has stopped working?
[code]

### What was wrong?

Please see
* [DeployContractExample.py](https://gitlab.com/electronDLT/chainhammer/blob/master/DeployContractExample.py)
* tested both contracts in [contract.sol](https://gitlab.com/electronDLT/chainhammer/blob/master/contract.sol), both fail with the sa

[2018-05-02 11:26] drandreaskrueger commented on #808
Actually, now I chose to deploy not their, but your example contract.sol ... and now I get a different error:

[code]

[2018-05-02 13:31] drandreaskrueger commented on #808
in spite of

    pip3 install py-solc web3 web3[tester]

I get a

[code]

[2018-05-02 13:37] drandreaskrueger commented on #808
So ... now ...

This code, which is the exact copy of your example in the `latest` manual
https://gitlab.com/electronDLT/chainhammer/blob/1c87749345d04a474b243e7b3ccd97a8dc3358e3/DeployContractExample.py

does still fail:

[code]

[2018-05-02 13:44] drandreaskrueger commented on #808
Your
[code]
is incomplete?

because the `print (type(primitive))` gives me:

    <class 'list'>

for a

    print (w3.eth.accounts)

-----------

should I perhaps NOT use the `latest` version?

http://web3py.readthedocs.io/en/latest/releases.html says last stable is 4.0.0
do you still trust that version?

[2018-05-02 14:03] drandreaskrueger commented on #808
I have now also tried `web3 4.0.0`, and deleted the `w3.eth.defaultAccount = w3.eth.accounts[0]` but then it runs into the exact same problem at  `tx_hash = Greeter.constructor().transact()` --> `TypeError: Expected an int, bytes, bytearray or hexstr.`

Web3.py is broken.

[2018-05-02 14:06] drandreaskrueger commented on #808
In short:

Please update your `latest` [contracts.html#contract-deployment-example](http://web3py.readthedocs.io/en/latest/contracts.html#contract-deployment-example) into something that actually works with your 'latest' code, and don't forget to give the exact dependency versioning: `pip3 install web3[tester]==4.0.0 py-solc==x.y.z web3==x.y.z eth-testrpc==x.y.z`

Thanks a lot!

[2018-05-02 14:34] dangell7 commented on #566
I used threading with Deamons at first and then I switched to celery to deploy and transact with functions async. I had no experience with asyncio so that’s the decision I chose. I know it prob doesn’t matter, I just wanted to give my input on how I solved it in our production application.

[2018-05-02 15:16] dangell7 commented on #808
@drandreaskrueger

change the line

[code]

to

[code]

This will fix your problem.

@carver Can you change the docs to reflect this? Seems that the `EthereumTesterProvider()` is being imported, however, the docs are pointing the user to use the TestRPC at the top...

[2018-05-02 15:17] dangell7 commented on #808
Also, @drandreaskrueger fyi

[code]

[2018-05-02 16:57] carver commented on #699
Ok, I'm going to reopen this, then, and update the summary with this info. It seems like a Web3.py bug, if not in the code, then in the docs.

[2018-05-02 17:43] voith commented on #712
@carver I guess this can be closed now.

[2018-05-02 20:41] #712 closed

[2018-05-03 17:44] dylanjw commented on #699
Since the same behavior is happening with a numbered block as with "latest", Im lead to believe this to be something else weird between the two api's.  The two implementations **do** have some differences in the resulting filter parameters they generate.  The new createFilter api will be more strict in matching events, whereas the eventFilter will be less strict.

@Lebski Can you paste the output

[2018-05-03 17:58] Lebski commented on #699
Thanks!

***event_filter.filter_parms:***
[code]
***transfer_filter.filter_parms:***
[code]

[2018-05-04 06:39] mandritac opened #810 "Web3.py installation Issue in Windows 7"
* Version: latest code base from github
* Python: 3.6
* OS: win 7

### What was wrong?

While trying to install Web3.py we are getting the below error at last stage:

[code]

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
PFA the log file
[Error.txt](https://github.com/ethereum/web3.py/files/1973434/Error.txt)

* What ty

[2018-05-04 06:56] voith commented on #810
You need Microsoft Visual C++ Build Tools installed on your machine. Your error message points you the link from where you can download them.
[code]
Retry installing web3 after you finish installing them in a new terminal.

This is something that needs to be documented and I will do that soon.

[2018-05-04 07:30] r0fls opened #811 "AttributeError: module 'web3.manager' has no attribute 'request_blocking'"
* Version: 4.1.0
* Python: 3.6
* OS: osx

I received the error:

[code]

When executing the below code:

[code]

I was connecting to a test node on the Ropsten network.

[2018-05-04 07:42] voith commented on #811
You need to create a web3 instance:
[code]

[2018-05-04 09:06] wenbo228228 opened #812 "ERC-20 Token Transfer Error (unable to locate corresponding Transfer event log), check with sender."
* Version: 4.0.0
* Python: 3.6
* OS: win8.1

### I try to send some EOS from one address to another,below are the codes:

[code]

Anyone know how to fix this?Thanks!

[2018-05-04 11:03] mandritac commented on #810
I already had installed Microsoft Visual Studio Professional 2017 in my system prior to running the pip install option.
On my system: VS140COMNTOOLS=**:\Microsoft Visual Studio 14.0\Common7\Tools\ but still it is not working, also I understand this is a trial edition so the trial has expired on my system. Can that be an issue? Which one should I install from - https://www.visualstudio.com/download

[2018-05-04 11:18] voith commented on #810
@mandritac I am not a windows user. However, the last time I tried I installed https://www.visualstudio.com/downloads/#build-tools-for-visual-studio-2017.

Please note that Microsoft Visual C++ Build Tools should not be confused with  Microsoft Visual Studio Professional IDE. These are two different things. I made the same mistake in my first attempt.
However, the IDE should be shipping the build

[2018-05-04 11:40] mandritac commented on #810
Hi the above python snippet raised the error -   File "**:\Python\lib\distutils\msvc9compiler.py", line 262, in query_vcvarsall
    raise DistutilsPlatformError("Unable to find vcvarsall.bat")
distutils.errors.DistutilsPlatformError: Unable to find vcvarsall.bat

I am currently uninstall Microsoft Visual Studio 2015 and will try reinstalling the build tool by running - vs_buildtools__986798620.152

[2018-05-04 11:48] voith commented on #810
This is another error that you get when build tools aren't installed properly!

Ideally you should be create a new `virtualenv` and install web3 in it.

[2018-05-04 12:26] mandritac commented on #810
I am unable to install the build tool also, the installer exits with the error - *\ProgramData\Microsoft\VisualStudio\Packages\_bootstrapper\vs_setup_bootstrapper_201805041751089371.json' is denied.
When I checked the folder there is no  json file at all it is trying to access, so is there any pre-requisite prior installing the build tools?

Also about virtualenv, doesn't not require Microsoft bui

[2018-05-04 12:42] voith commented on #810
As much as I'd like to help you, I'm not a windows user. So asking for help on stackexchange might be better.

However, looking at your `is denied` error I would check if I have the right privileges to install it. Probably use Administrator access to install the binary.

No, virtualenv just makes sure that you don't have library conflicts between packages used by different projects. You'd need bui

[2018-05-04 12:50] mandritac commented on #810
No even with virtual env nothing improved, error remains the same -
building 'cytoolz.dicttoolz' extension
    error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual
C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

So I guess this thing doesn't work without a proper installation of the c++ build tool.

    ----------------------------------------

[2018-05-04 13:56] carver commented on #812
@wenbo228228 What happens when you run the code?

[2018-05-04 14:52] wenbo228228 commented on #812
The program run successfully and exit with no error.
Then the transaction was boradcast to the network.
I went to etherscan to check the transaction,for a while,it said pending;a few minutes later,it said transaction failed.
This is the transaction information:
[https://etherscan.io/tx/0x9b2fad048600d8b0e809e397a0df4681235061501f31a42cc20a50cbee661dd6](url)

[2018-05-04 15:27] pipermerriam commented on #812
@wenbo228228 Not a web3 error.  Your transaction just errored out during execution.

[2018-05-04 15:27] #812 closed

[2018-05-04 15:30] pipermerriam commented on #810
Correct, you will need the ability to compile c extensions to be able to install web3.py.  Since this doesn't appear to be a problem with web3.py I'm closing this but feel free to continue the conversation here.

[2018-05-04 15:30] #810 closed

[2018-05-04 15:37] pipermerriam commented on #811
@voith FYI: We've been using the convention `w3` as the variable name for a web3 instance to reduce the likelyhood of confustion between the python module and an instance of the `Web3` object.

[2018-05-04 15:37] #811 closed

[2018-05-04 15:39] pipermerriam commented on #811
@r0fls you should consider using `w3.toWei('1', 'ether')` for currency conversions.  Well tested to do the proper conversion and easier to read.

[2018-05-05 03:57] wenbo228228 commented on #812
@pipermerriam   Yep.But I don't have a clue what's wrong,you got any idea?

[2018-05-05 08:18] FrancisJen opened #813 "ImportError: cannot import name 'decode_hex' when import ethereum"
(py3interface-rXFxZXWO) bash-3.2$ python
Python 3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 05:52:31)
[GCC 4.2.1 Compatible Apple LLVM 6.0 (clang-600.0.57)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/renyiguang/.local/share/virtualenvs/py3interface-rXFxZXWO/lib/python3.6/site-p

[2018-05-05 08:48] FrancisJen opened #814 "import ethereum succeed but indicate No module named 'ethereum.transactions' when from ethereum.transactions"
python3

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'ethereum.transactions'

[2018-05-05 08:49] #813 closed

[2018-05-05 10:58] voith commented on #814
@FrancisJen  Your traceback does not say anything that this problem has anything to do with ` web3.py` but seems more likely a problem with `pyethereum`.
Are you using `eth_tester` or `testrpc`? These are the only two dependencies that I know of, that `web3.py` uses which in turn depend on `pyethereum`.

I tried `from ethereum.transactions import Transaction`, works fine for me.

Side note: In ord

[2018-05-05 14:51] carver commented on #812
Sounds like a question for https://ethereum.stackexchange.com

You will get better/faster answers if your question has a minimal, complete, and verifiable example: https://stackoverflow.com/help/mcve

[2018-05-05 18:06] carver opened #815 "Add "internal transactions" section to troubleshooting guide"
### What was wrong?

People want more information about internal transactions, and it's not obvious how to get it.

### How can it be fixed?

Document that "internal transactions" are not visible the standard json-rpc interface. Link to StackExchange. Offer workarounds, like event filters, or using a custom node debugging technique. (plus links to geth and parity mechanisms for tracing)

[2018-05-06 02:20] sapph1re opened #816 "ContractConstructor.buildTransaction() adds invalid "to" into transaction"
* Version: 4.2.0
* Python: 3.6
* OS: linux

### What was wrong?

When I want to deploy a contract, and I use ContractConstructor.buildTransaction() to create the bytecode data first, it returns a dictionary with a correct data, but there is a field added: `'to': b''`. Later when I use web3.personal.sendTransaction to actually send this, it fails because of this "to" field, with an error: `TypeErro

[2018-05-06 07:28] FrancisJen commented on #791
why i got ValueError: {'code': -32010, 'message': 'Invalid chain id.'}
after run above program?

# coding=utf-8
import web3
from web3 import Web3, HTTPProvider
import json
import rlp
from ethereum.transactions import Transaction

class OperationKovan:

	def __init__(self):
		self.url = 'https://kovan.infura.io'
		self.w3 = Web3(HTTPProvider(self.url))

		# 前端充值
		self.R1_CONTRACT_ADDRESS = '0x97b2

[2018-05-06 07:48] voith commented on #791
@FrancisJen Your issue doesn't seem related to the issue discussed in this thread!
Either create a new issue or hop on to the [gittter channel](https://gitter.im/ethereum/web3.py) or ask for help on stackexchange.

I'll still try to answer your question:
remove `chainId` from your `tx_dict` and try again. If you send an incorrect `chainId` your transaction will error out. Its best not to send one.

[2018-05-06 07:53] FrancisJen opened #818 "contract reverted(Error in Txn) when send ether to https://kovan.infura.io"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

python3.6.5
### What was wrong?
ethereumscan: https://kovan.etherscan.io/tx/0xf11ead8229446be0a2bf388cee16822f81b713fa94a4bfde687159544aa77afb

Contract 0x97b2f257e51da5bd16f6ec34a575c366ffb745c2
 Warning! Error encountered during contract execution [Reverted] Value: 0.0001 Ether ($0.00) - [CANCELLED]

### How can it be fixed?
source code

[2018-05-06 08:01] r0fls commented on #537
I'm getting this when I try to run `w3.personal.newAccount(password)`. Is it possible to create an account on the ropsten infura test network?

[2018-05-06 08:39] voith commented on #537
Hi @r0fls The `personal` module is to be used when you're running a local node.
Technically, you don't need to be connected to the internet to create a account. You just need to know the ingredients to make a private key and generate an address.
You can use [eth_account](http://eth-account.readthedocs.io/en/latest/eth_account.html#module-eth_account.account) to create a convenience account object

[2018-05-06 19:32] r0fls commented on #537
Thank you @voith. I'm fine with going through the hassle if it's going to work on the actual ethereum network once we're finished testing. Will both methods work on the real ethereum network?

[2018-05-07 03:37] carver commented on #818
There are a lot of reasons that your transaction might hit an error condition. Figuring out why your transaction is reverting is simplest to do by reading the source of the contract.

Since the problem doesn't appear to be specific to Web3.py, I'm closing the issue. But feel free to continue discussing here. One alternative to consider is https://ethereum.stackexchange.com

You will get better & f

[2018-05-07 03:37] #818 closed

[2018-05-07 04:31] voith commented on #537
Yes, It will work on the main network. However, make sure that once you create an account using
`account = w3.eth.account.create()`,  store the privateKey(`account.privateKey`) somewhere safe. Else you'll end up creating a new account with a new  `privateKey` every time.
Once you have a privateKey you can use [privateKeyToAccount](http://eth-account.readthedocs.io/en/latest/eth_account.html#eth_ac

[2018-05-07 10:35] FrancisJen opened #820 "how to send ETH with web3.py if you got one ABI file of json format?"
how to send ETH with web3.py if you got one ABI file of json format?

[2018-05-07 15:57] pipermerriam commented on #820
@FrancisJen I don't understand your question.  Can you provide some code?  Tell us what you've tried?

[2018-05-07 16:55] #816 closed

[2018-05-08 03:18] #820 closed

[2018-05-08 03:19] FrancisJen commented on #820
close this and open other one

[2018-05-08 03:30] FrancisJen opened #821 "indicate ValueError: No matching functions found when call the method in abi json file"
[env]:
python3.6

[description]:

1. part of abi source file which contains the deposit function:  details of abi json file is displayed after running.
        {
        "constant": false,
        "inputs": [],
        "name": "deposit",
        "outputs": [],
        "payable": true,
        "stateMutability": "payable",
        "type": "function"
    },
  abi has been loaded as dict"
      with

[2018-05-08 03:34] pipermerriam commented on #821
Try wrapping your `abi` in a list.  The `abi` value should be a list of dicts.

[2018-05-08 03:55] carver commented on #821
Closing, since this is not likely a Web3.py issue. Feel free to continue the discussion here.

[2018-05-08 03:55] #821 closed

[2018-05-08 07:01] FrancisJen commented on #821
It was list

`[{'constant': True, 'inputs': [], 'name': 'withdrawEnabled', 'outputs': [{'name': '', 'type': 'bool'}], 'payable': False, 'stateMutability': 'view', 'type': 'function'}, {'constant': True, 'inputs': [{'name': '', 'type': 'address'}, {'name': '', 'type': 'address'}], 'name': 'withdrawAllowance', 'outputs': [{'name': '', 'type': 'uint256'}], 'payable': False, 'stateMutability': 'view',

[2018-05-08 07:03] FrancisJen commented on #821
@pipermerriam It was list

[2018-05-08 08:28] sapph1re commented on #816
Yep, it works. buildTransaction still adds `'to': b''`, but personal.sendTransaction() no longer fails because of that. Thank you guys!

[2018-05-08 09:36] Lvenkin2 opened #822 "No module named web3.__main__; 'web3' is a package and cannot be directly executed`"
* Version: 4.0.0
* Python: 3.6
* OS: linux Ubuntu 16.04
Im run
`python3 -m web3`
error

`/usr/local/bin/python3: No module named web3.__main__; 'web3' is a package and cannot be directly executed`

and

` python3 /var/www/ico.1ct.io/public_html/wp-content/themes/1ct/py/token.py`
Traceback (most recent call last):
[code]
I can not do 10 days. Once it happened, but after a few hours it stopped worki

[2018-05-08 11:17] wenbo228228 opened #823 "How to set the amount when transfer ERC-20 token?"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

I use the following code to sent EOS token successfully:
`
from ethtoken.abi import EIP20_ABI
from web3 import Web3, HTTPProvider

infura_provider = HTTPProvider('https://mainnet.infura.io/CMI5Z7n7hAy8CP7nx95s')
w3 = Web3(infura_provider)
w3.eth.enable_unaudited_features()

contract_Address=w3.toChecksumAddress("0x86fa049857e0209aa7d9e616

[2018-05-08 11:25] dangell7 commented on #823
Your send value needs to be in wei.

[2018-05-08 11:27] wenbo228228 commented on #823
@dangell7  that's the gasPrice,I think it has nothing to do with the token amount I wanna send

[2018-05-08 11:31] dangell7 commented on #823
No lol your token amount must also be in wei. I’m almost 100 percent sure. I also run a production dapp. So, in your dreams action, after the address, set the 1 to wei, in ether, and then let me know. Lol

[2018-05-08 11:34] wenbo228228 commented on #823
you mean:
`unicorn_txn = unicorns.functions.transfer(
'0x86BBB3938bf9DD47898f9cbCB49C3809B4d29F7a',
w3.toWei('1', 'ether'),
).buildTransaction({
'chainId': 1,
'gas': 200000,
'gasPrice': w3.toWei('2', 'gwei'),
'nonce': nonce,
})`
Am I right?

[2018-05-08 11:34] dangell7 commented on #823
Yes!

[2018-05-08 11:39] wenbo228228 commented on #823
@dangell7  You are right,man!Thanks!
But I got one more question,for EOS, the Decimal is 18,what about tokens whose Decimal aren't 18?
-- | --

[2018-05-08 11:43] dangell7 commented on #823
Np, also, if you keep posting issues here, the mods are going to get upset. This area is for problems with web3, not problems with your code. Stack overflow is great for issues plus we get credit for answering. But the answer is, you’ll need to find out the decimals and handle accordingly.

[2018-05-08 11:45] wenbo228228 commented on #823
@Thank you for your advice!

[2018-05-08 11:46] #823 closed

[2018-05-08 11:51] drandreaskrueger commented on #808
Fantastic, thanks a lot, @dangell7 and @carver

[This version](https://gitlab.com/electronDLT/chainhammer/blob/a9e38d137444986c822bc621ae9cd5bb01a9cfa8/DeployContractExample.py) is now working perfectly.

Thanks!

[2018-05-08 11:54] drandreaskrueger commented on #808
Is there an easy way to link to a matching version of the readthedocs

https://web3py.readthedocs.io/en/v4.2.0/

instead of linking to

http://web3py.readthedocs.io/en/latest/contracts.html#contract-deployment-example

because `latest` will be a moving target ;-)

---

To prevent such problems in the future, I have now fixed the `pip install ...` [versions like this](https://gitlab.com/electronDLT

[2018-05-08 12:00] voith commented on #822
@Lvenkin2 AFAIU,  web3 is not meant to used as command line utility. Hence there is no `__main__.py` file.

I'm not very sure about your second error, but seems more likely an issue with your version. Can you  check if upgrading your web3 version solves the issue for you? `pip install 'web3==4.2.0'`

[2018-05-08 12:34] Lvenkin2 commented on #822
im run
`pip3 iinstall --upgrade web3==4.2.0`
after
`
python3 /var/www/ico.1ct.io/public_html/wp-content/themes/1ct/py/token.py 0xB8aAc54a27d40e5D71A43f114e3E5ad53071735d 1`

but

[code]

[2018-05-08 12:40] Lvenkin2 commented on #822
error I have on 3 computers ... maybe I'm missing something?
im install
python3.6
pip3

[2018-05-08 12:44] wenbo228228 opened #824 "How to send tokens to 100 different address in a single transaction?"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

Now,I can use the following code to transfer EOS from one address to another.
But I need to do this action for 100 different address,can I send tokens to 100 address in a single transaction?

`
from ethtoken.abi import EIP20_ABI
from web3 import Web3, HTTPProvider

infura_provider = HTTPProvider('https://mainnet.infura.io/CMI5Z7n7hAy8CP7n

[2018-05-08 13:45] voith commented on #822
just taking a random guess here:
Are you using the latest version of pip and setuptools?
`pip3 install --upgrade pip3`
`pip3 install --upgrade setuptools`
Try the above listed commands and then retry installing web3

[2018-05-08 13:51] voith commented on #775
Update: I just started working on this. Posting here to make sure that no one else is working  on this. I don't want to duplicate work!

[2018-05-08 14:11] Lvenkin2 commented on #822
[code]

and

[code]
when I start to install the dependencies, they are restored and so in a circle. For example, I set base58 == 0.2.2 after which requests <= 2.11.1 and base58 == 0.2.1 will become ...

[2018-05-08 14:31] Lvenkin2 commented on #822
new error

[code]

[2018-05-08 15:14] voith commented on #822
Now you seem to be on a older version of `eth-utils`.
`pip install --upgrade eth-utils`.
I think you're having this  problem because you installed an older version  of `web3.py` previously.
Can you create a new `virtualenv` and install web3 in it?

[2018-05-08 15:49] kolosovvs opened #825 "generateGasPrice division by zero exception"
At this method generateGasPrice() I have division by zero exception
It's because `_get_avg_block_time` will return zero in some cases
[code]

[2018-05-08 16:53] dylanjw commented on #699
No problem. Im glad we could get to the bottom of it! Re-open this issue if you still hit an issue after upgrading.

[2018-05-08 16:53] #699 closed

[2018-05-08 17:27] carver commented on #821
The `deposit` function does not take any arguments, but you supplied some, so the function ABI doesn't match. I recommend upgrading to v4.2.0, which will give you somewhat better error messages in this scenario.

[2018-05-08 17:30] drandreaskrueger commented on #808
Your suggestion of moving from `latest` to `stable` doesn't help that at all:

no, @carver that won't help

because `/stable/` will also keep moving one day, and that will then break something new.

My experience tells me: In Ethereum, nothing is ever stable; interfaces keep on changing, examples stop working, etc.

---

The only way out is to use precise version numbers, e.g.

http://web3py.readt

[2018-05-08 17:31] drandreaskrueger commented on #808
yes, me too. Thanks for your bugfix!

[2018-05-08 17:33] carver commented on #822
Ah, it seems your OS is managing your setuptools version, so the pip upgrade may not have an effect. What OS are you on? Also, what is the result of `pip list | grep setuptools`?

[2018-05-08 17:41] Lvenkin2 commented on #822
`setuptools        39.1.0`

[2018-05-08 19:25] pipermerriam commented on #825
This should be a reasonably easy thing to fix.  I think that if the average block time returned is `0` then we need to default to a *safe* default block time.  For now I'm fine with this being hard coded to `15` unless someone has a better idea.

[2018-05-08 19:26] pipermerriam commented on #824
@wenbo228228 this question is out of scope for the type of support we can provide in this codebase. You can try asking your question on the ethereum stack exchange site, or reach out in the gitter channel and see if anyone there is able to help you.

[2018-05-08 19:26] #824 closed

[2018-05-08 19:43] Lvenkin2 commented on #822
@carver any idea?

[2018-05-08 19:53] pipermerriam commented on #822
@Lvenkin2 It's not clear to me what you are trying to do, however, in the code snippets you've pasted I see a mix of `pip` and `pip3` invocations indicating that you might be mixing between different python environments.

I would suggest the following workflow.

1. create a new virtual environment and activate it.
2. verify that the `pip` or `pip3` that you are using is from the virtual environmen

[2018-05-08 20:33] gakonst opened #826 "createFilter event syntax does not work while eventFilter works"
* Version: 4.2.0
* Python: 3.6
* OS: linux

### What was wrong?
Filtering for an event with Syntax 2 does not work, while the deprecated Syntax 1 works:

Syntax 1:
[code]

Syntax 2
[code]

### How can it be fixed?
By inspecting `event_filt.filter_params`, when using Syntax 2, the `address` field is populated with a list which includes the contract address twice. This happens because in the followi

[2018-05-08 20:35] Lvenkin2 commented on #822
@pipermerriam

[code]

[2018-05-08 22:25] pipermerriam commented on #822
that's a bash error.  you should be running that in a python repl.

[code]

[2018-05-08 22:29] Lvenkin2 commented on #822
first instance ubuntu 16.04 - ec2 amazon
[code]
second instance ubuntu 18.04
[code]

[2018-05-08 22:37] Lvenkin2 commented on #822
first
[code]
(venvnew) ubuntu@1:~$ python -c "import pkg_resources; print(pkg_resources.__dict__.keys())"
dict_keys(['__name__', '__doc__', '__package__', '__loader__', '__spec__', '__path__', '__file__', '__cached__', '__builtins__', 'absolute_import', 'sys', 'os', 'io', 'time', 're', 'types', 'zipfile', 'zipimport', 'warnings', 'stat', 'functools', 'pkgutil', 'operator', 'platform', 'collections

[2018-05-08 22:49] pipermerriam commented on #822
Both of those have a `get_distribution`.  You've got something wrong with your python install, modules, or something, but this looks very unlikely to be a bug with web3.py.

[2018-05-08 22:49] #822 closed

[2018-05-09 00:10] carver opened #829 "Tuple ABI support"
### What was wrong?

Tuple types are not supported yet in Web3.py

### How can it be fixed?

- Add tests for passing in & returning tuple values with contract functions
- Figure out how to handle `web3.utils.abi.is_encodable` when elements of the tuple are handled as special cases, like what if the function accepts this tuple as an argument: `(address, string, (bytes, bytes32))` and someone passes

[2018-05-09 00:57] carver opened #831 "Add contract test with fixedMxN argument and return value"
### What was wrong?

`fixedMxN` types are not supported. Various groups (including Casper), need them.

### How can it be fixed?

#828 only fixed a specific issue raised by a team that wants to use fixed types. It is likely that there are other things that need to be addressed before everything is resolved. The best way to know is to add a new contract in the tests that accepts and returns a fixed

[2018-05-09 02:34] pipermerriam commented on #829
We can *probably* special case the tuple case for `address` and `string` so that our `is_encodable` function knows how to walk tuple types.  Any 3rd party types may just be out of luck for now if they want ENS names or fancy string handling.

[2018-05-09 02:36] pipermerriam commented on #829
Lets define this as two phases.

1. support passing in the values only as actual tuples like your example.
2. support passing in richer objects like a `dict` or any object with all of the necessary attributes for the tuple so that fields of the tuple can have names.
3. support for returning richer versions of tuple return types, maybe via `namedtuple` or `dict`

[2018-05-09 09:11] Uxio0 opened #832 "Perform batch RPC requests to ethereum node"
* Version: 4.2.0
* Python: 3.6
* OS: osx/linux/win

### What was wrong?

There's currently not support for batch requests, when using `HTTPProvider`. Even using IPC/WS connectors I think a speed up could be possible using batch requests.

### How can it be fixed?

Implementing batch requests

[2018-05-09 12:25] Lvenkin2 opened #833 "please help configure python/server for web3"
* Version: 4.2
* Python: 3.6
* OS: linux

im run
`python3 -m web3`

[code]

[2018-05-09 12:28] Lvenkin2 commented on #833
pip3 freeze
[code]

[2018-05-09 12:32] Lvenkin2 commented on #833
` python3 -c "import pkg_resources; print(pkg_resources.__dict__.keys())"`

[code]

[2018-05-09 13:35] voith commented on #775
I have a basic working version of this which I'll submit either today or tomorrow. But I have a few questions before I submit.
1. I don't  think supporting `contract.find_functions_by_signature` makes much sense as signature will always be unique(unless I'm missing something). Solidity gives a compilation error if  two functions are  defined with the same signature.
2. Also I'm not sure if it make

[2018-05-09 13:48] Lvenkin2 commented on #833
fix python3 -c "import pkg_resources; print(pkg_resources.__dict__.keys())" and update post

[2018-05-09 14:07] wenbo228228 commented on #824
@pipermerriam Yep,thanks.

[2018-05-09 15:53] pipermerriam commented on #833
Web3 is a library intended to be used from python.  It has no API for use directly from the command line, thus invoking `python -m web3` isn't intended to be a supported feature or functionality.

[2018-05-09 15:53] #833 closed

[2018-05-09 16:02] carver commented on #829
TIL that [tuple components are named in the ABI](http://solidity.readthedocs.io/en/v0.4.23/abi-spec.html#handling-tuple-types). Nice

[2018-05-09 16:06] carver commented on #775
Dropping these two is fine by me, *if* we explicitly check for these conditions in the `abi` passed into the contract and error out when trying to create the contract object, on failure.

[2018-05-09 16:11] carver commented on #832
I don't understand what you mean by batching, here. IPC is a streaming connection. Can you elaborate?

[2018-05-09 16:16] pipermerriam commented on #832
@carver web3js at least historically had a feature for asynchronous request batching via an API that let you stack up some JSON-RPC requests, and then submit them as a batch.  The requests would be issued concurrently.  (feature may still exist, not sure).

I'm good with exploring this alongside #657

[2018-05-09 16:36] carver commented on #832
Right, that makes sense in web3js, because the HTTP request to your node has a lot of overhead (HTTP headers) for each message.  But there is roughly 0 overhead for each message in an IPC stream. So I'm skeptical that it will provide any benefit in that context.

I'm less sure about the internals of websockets. There might be some benefit there.

Batching over an HTTP connection is likely to have

[2018-05-09 16:46] Uxio0 commented on #832
Hi @carver,

I agree about that, but:

- I'm talking about HTTP, not in every environment is possible to use IPC/WS.
- Even using IPC/WS, it's possible that Geth/Parity and other nodes have optimizations depending on if they are receiving a batch request or multiple streamed requests. At least for me is faster to send batchs than to send synchronous IPC requests (python 3.6 at least with web3 4.2.

[2018-05-09 16:47] veox commented on #775
Somewhat OT: "Solidity does X" shouldn't be an argument. There are other languages, too. ;) (Some of them don't even have the notion of signatures/selectors...)

[2018-05-09 16:51] Lvenkin2 commented on #833
please help

[2018-05-09 16:52] carver commented on #831
This is going to take longer than I thought: [fixed types are not supported by Solidity, as of v0.4.23](http://solidity.readthedocs.io/en/v0.4.23/types.html#fixed-point-numbers).

Time to go learn me some Vyper.

[2018-05-09 17:12] dylanjw commented on #826
I am curious why this issue came up.  My understanding of the address parameter is that it can be a list where logs from ANY of the addresses matching the filter parameters will be caught.  Having two of the same address shouldnt prevent seeing logs.

It doesnt make sense to have 2 identical contract addresses passed in a list and a necessary clean up (Thank you for catching that!), but it does se

[2018-05-09 17:13] boosth opened #834 "tx.hash is now hexByte encoded not string"
* Version: 4.2.0
* Python:3.5
* OS: linux

Previously with 3.6  I could include the tx.hash from tx = web3.getTransaction()  in the output for django jsonResponse.

Now I receive an error :

HexBytes('0x71994edd746562b06d0047c0fef01574336f39e88973f98f066c449e10143592') is not JSON serializable

If I wrap str(tx.hash) before passing to jsonResponse()   I see the following:

"txhash": "b'q\\x99N\\xd

[2018-05-09 17:18] carver commented on #833
Somehow your python environment is borked. You need to find a way to get setuptools & pip installed correctly.

This command must work before even worrying about anything ethereum-related (run it in your terminal):

[code]

This isn't exactly your problem, but some resources for debugging a broken environment:
https://stackoverflow.com/questions/7446187/no-module-named-pkg-resources

Seems like so

[2018-05-09 17:20] voith commented on #834
have a look at https://github.com/ethereum/web3.py/issues/782#issuecomment-383464754.

[2018-05-09 17:20] webjunkie01 commented on #834
Use the method web3.toHex to return its hexadecimal representation.

[2018-05-09 18:35] dylanjw commented on #826
I started doing a little bit of testing to see if I could find out if there is a deeper issue made apparent by the double address issue.  The behavior seems specific to ganache.  Im going to some digging into ganache with multiple emanating contract addresses next.

Here is a comparison between ganache and eth_tester:

[code]

[2018-05-09 19:17] dylanjw commented on #826
I realize that the above test is useless, as Im not forcing the contract address to be lowercase.  Here is a repeat of the full test with the checksum address validation monkey patch, and forced lowercased addresses:

[code]

It appears ganache does not properly handle mutliple address filters.

[2018-05-09 19:52] dylanjw commented on #826
Someone has already created an issue: https://github.com/trufflesuite/ganache-core/issues/38

[2018-05-09 20:37] carver commented on #782
Seems like a custom JSON encoder could reasonably live in Web3.py. If we do it right, we could even replace some of the middleware with it.

Something like:
[code]

or:

[code]
which would do something like the first thing under the hood.

[2018-05-09 20:39] carver commented on #834
Additionally, there is a `hex()` method on the `HexBytes` class. Like so:

[code]

---

Closing because it's not a bug, but feel free to continue to comment for support.

[2018-05-09 20:39] #834 closed

[2018-05-09 20:59] pipermerriam commented on #782
👍 to `Web3.toJson(...)`

[2018-05-09 20:59] pipermerriam commented on #782
@carver we could also add  `AttrDict.to_json()` to the actual `AttrDict` class.

[2018-05-09 21:02] carver commented on #782
Eh, I don't like the idea that `AttributeDict` would know anything about `HexBytes`.

[2018-05-09 21:08] pipermerriam commented on #826
Good find dylanjw.  Closing as this isn't really a web3.py bug (if you squint and don't look too closely), but it's still good that we uncovered #827 with it.

[2018-05-09 21:08] #826 closed

[2018-05-09 21:12] pipermerriam commented on #832
@carver having now thought about this for a few minutes, I think this is going to be *easy* if we build it on top of #657 since everything under `web3.async.*` will be coroutine based and thus, batching them to run concurrently (in the asyncio version of concurrency) should be really easy to expose .

Here's some imagined API

[code]

[2018-05-09 23:33] dangell7 commented on #832
Interesting idea. What happens when one tries to send multiple tranascations? Cuz in my system, I have to wait till the first transaction clears before send the next. Prob because getTransactionCount doesn’t take the pending transaction into consideration. I didn’t really dive into the problem, but wanted to bring it up.

[2018-05-10 00:59] pipermerriam commented on #832
@dangell7 good point.  We *may* choose to start with a minimal initial implementation which only allows batching requests that are *read-only* or that don't modify state.

[2018-05-10 02:34] voith commented on #775
If that's the case then I assume that collision of  selectors would not be an issue. So should we error out strictly when collisions are found in the ABI??  OR does web3  plan to support ABI generated by  such languages?

Also @veox can you name some languages that don't have the notion of selectors. I've heard about `vyper` and `lll`, but haven't explored them.

[2018-05-10 03:05] pipermerriam opened #836 "Notes on probable bugs in filters"
### What is wrong?

There are *probably* bugs lurking in contract event filters that filter on data values.

#### 1. Variable length data elements.

suppose the log data has an ABI with a variable length value *before* other values. `MyEvent(string,bytes32)`

The code which constructs the regex here: https://github.com/ethereum/web3.py/blob/master/web3/utils/filters.py#L138 assumes fixed length pl

[2018-05-10 13:26] veox commented on #775
**TL;DR:** Raising an exception on collisions in the ABI would be a safe bet, and a wise thing to do. :)

It is an edge case, so should be rare unless intentional. My main concern is with the "intentional" part: it's not about what `web3` implementations are willing to support, but what is going to be "fed" to them, in some cases maliciously.

-----

Very OT:

Yes, I'm talking about LLL mainly. :)

[2018-05-10 15:34] voith commented on #775
@veox Thanks for the detailed write up, makes sense! I will stick to jason's advice for erroring out early incase of collisions.

[2018-05-10 16:43] pipermerriam commented on #722
Deprecate `Web3.sha3` and rename to `Web3.keccak`

[2018-05-10 16:58] carver commented on #722
Re: https://github.com/ethereum/vyper/pull/815#discussion_r187383429

After seeing people struggle with it, I do think that we should stop encouraging the use of `ContractFactoryClass=ConciseContract` in the web3.py docs. But I still think there's value in the concise style. Something like:

[code]

Many of these features can be added in v4, except it would be nice to drop the `transact/estimateGa

[2018-05-10 17:36] pipermerriam commented on #722
@carver  An alternate pattern we could encourage would be creating your own contract classes combined with some helpers.

[code]

Basically, a guide on *how* to subclass the `Contract` class and then some helpers for common patterns like wanting property access to zero argument functions.

[2018-05-11 05:54] Park-jeong-seop opened #837 "Problem with from web3 import Web3"
* Version: 4.2.1
* Python: 3.5
* OS: linux

### What was wrong?
[code]
[code]
### How can it be fixed?

[2018-05-11 17:01] carver opened #840 "Readme Dev Setup touchups"
### What was wrong?

The [readme developer&testing setup sections](https://github.com/ethereum/web3.py/#developer-setup) might be out of date. At least they don't have leveldb install instructions if that is missing.

### How can it be fixed?

- Add leveldb install instructions to readme, for various OSs
- Run the testing setup instructions on a fresh machine (as fresh as you can find, like ideall

[2018-05-11 17:59] carver commented on #837
What is the full python version? I'll assume it is <3.5.2

`typing.Type` was added in 3.5.2 https://docs.python.org/3/library/typing.html#typing.Type

So you can either upgrade to a later python3.5 runtime (which you should anyway, bugfixes and such).

Or, you can use the backported typing library: https://pypi.org/project/typing/ Note that because it's a builtin library, you would have to play ga

[2018-05-11 21:46] #831 closed

[2018-05-12 18:48] medvedev1088 opened #842 "Optimize IPCProvider.make_request"
* Version: 4.2.1

### What was wrong?

In the current implementation the response will be parsed on every `recv` from the socket https://github.com/ethereum/web3.py/blob/master/web3/providers/ipc.py#L175

If the response is big it can become a bottleneck. E.g. in ETL tasks https://github.com/medvedev1088/ethereum-etl

### How can it be fixed?

Is it possible to check the last bytes of the response

[2018-05-13 03:49] pipermerriam commented on #842
Some thoughts.

- seems viable, lets try it.
- I'd like to take a benchmark before so we can have an objective performance metric
- Our integration tests should catch most classes of errors for this approach.

Any chance you'd like to take a stab at this?

[2018-05-13 09:53] medvedev1088 commented on #842
Sure. For the benchmark I'm going to
- Pick some API with big response (probably eth_getBlockByNumber for a block with many transactions)
- Run `IPCProvider.make_request` with this API a few thousand times against geth or parity
- Run it with the "},]" optimization
- Check the performance gain

Let me know if you have other ideas.
Thanks.

[2018-05-13 14:12] medvedev1088 commented on #842
I tried this script:

[code]

The output is
[code]
It's about 25% gain. I'm gonna try it on bigger blocks tomorrow.

This is the line that does the check for closing brace:
`if raw_response[-1:] == b"}" or raw_response[-2:-1] == b"}":`

That's a quick and dirty way just for testing the idea. The last character is usually \n so I guess I'll need to "right trim" the response before checking for the

[2018-05-13 19:07] webjunkie01 opened #843 "Retrieve Token Name And Decimals From Contract"
* Version: 4.0.2
* Python: 3.5
* OS: Linux

### What was wrong?

Hi, I would like to know if it's possible to retrieve the decimals, name and symbol from a contract. From the docs I can see you can get the address, but no decimals, name or symbol. I remember this was possible in version 3.13 and below.

Currently I can't with the following code

`token_contract =  web3.eth.contract(abi=token_abi,a

[2018-05-13 21:36] #843 closed

[2018-05-13 23:59] pipermerriam commented on #842
That looks like solid gains.  You *might* check and see if `raw_response.endswith(b'}')` is faster.  There is a decent chance that it save a few object allocations and comparisons, or does them in a faster way.  +1 to a pull request with these changes if you're up for it.

[2018-05-14 00:43] Park-jeong-seop commented on #837
Thank you. this problem is solved.
my pyhon version is 3.5.1
I solved this problem by using module 'typing' in 'pip' instead of using module 'python 3.5.1'.

[2018-05-14 00:43] #837 closed

[2018-05-14 05:11] Park-jeong-seop opened #844 "I have a question about web3.py"
* Version: 4.2.1
* Python: 3.5.1
* OS: linux
# I have a question.
[code]

[2018-05-14 17:00] soundreactor opened #845 "estimateGas() fails completely if high GAS values are required."
* Version: 4.2.1
* Python: 3.6
* OS: osx

i can't estimateGas() on locally signed transaction. (before OR after i sign it).
for example this fails miserably:

[code]

HOWEVER:
if i set gas manually to 300000
the exact same transaction succeeds without erros. so i know the transaction is actually valid.
so why is the gas estimation not working?
is there a limit ?

[code]

Traceback (most recent cal

[2018-05-14 17:13] #825 closed

[2018-05-14 17:35] soundreactor commented on #845
@carver yes i know. this is not the full code.
i am 100% sure it succeeded im using the mist wallet to check if the contract values have been updated. and i use https://ropsten.etherscan.io/ to see the progress.
but thanks for your concern anyways.

[2018-05-14 17:39] carver commented on #843
Since you closed the issue, I assume you've got it figured out :+1:

There have been a lot of improvements since 4.0.2. I highly recommend an update to the latest: v4.2.1.

[2018-05-14 17:52] carver commented on #845
There is no limit in Web3.py on the amount of gas that can be estimated. The error is being returned by the node, though, so I can't say anything about what the node is capable of.

---

Since the problem doesn't appear to be specific to Web3.py, I'm closing the issue. But feel free to continue discussing here. One alternative to consider is https://ethereum.stackexchange.com

You will get better

[2018-05-14 17:52] #845 closed

[2018-05-14 17:58] soundreactor commented on #845
@carver okey thanks for clearing that up.
im using infura. so i guess they don't like estimating expensive functions.

[2018-05-14 18:04] soundreactor commented on #845
@carver i guess one issue here could be the error handling in web3 so others don't have to come knocking on the wrong door.

[2018-05-15 17:02] #840 closed

[2018-05-15 17:02] pipermerriam opened #847 "Support for Ledger hardware wallets"
### What was wrong?

Hardware wallets are generally considered the *gold* standard for private key security.  Supporting them in web3.py would allow users to take advantage of that security.

### How can it be fixed?

Figure out how to do signing with a ledger hardware wallet.

https://github.com/LedgerHQ/blue-loader-python

This repository from the Ledger github is probably a good starting point.

[2018-05-16 01:18] paymog opened #848 "How to transfer tokens from non-`contract.eth.accounts` address?"
* Version: 4.1
* Python: 3.5
* OS: osx

### What was wrong?

I've writing tests for a token which implements the [ERC20 token standard](https://theethereum.wiki/w/index.php/ERC20_Token_Standard). In the constructor of my token I split the currency between two addresses like so:

[code]

On the python side I'm trying to call the `transfer` method from one of these addresses like

[code]

However, w

[2018-05-16 02:20] voith commented on #847
Curious to Know how the device would be configured with CI to run integration tests.

[2018-05-16 03:04] pipermerriam commented on #847
These tests likely wouldn't be run in CI.  They'd be something we'd run manually in a local environment.

[2018-05-16 12:40] voith commented on #847
registering this issue for myself. I've spoken to @miohtama over chat!

[2018-05-16 17:52] pipermerriam commented on #847
@voith assuming that you have a ledger to test against?

[2018-05-16 18:04] voith commented on #847
May be a little early to say but most likely I will get sponsored to get this feature out. To answer your question I don't own one at the moment, but if everything  goes as planned I should have one by the end of this week.

[2018-05-16 18:31] #771 closed

[2018-05-16 18:44] carver commented on #847
Any code for this issue should probably end up in https://github.com/ethereum/eth-account

[2018-05-16 18:53] carver commented on #848
I don't recognize that error message. I would need to see more of the code and the stack trace to help you debug (or preferably a smaller, complete example that isolates the problem).

---

Since this isn't a bug or feature request for Web3.py, I'm closing the issue. But feel free to continue discussing here. One alternative to consider is https://ethereum.stackexchange.com

You will get better &

[2018-05-16 18:53] #848 closed

[2018-05-17 13:17] roberto68 opened #851 "pip install web3 - Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-6KJnnI/eth-account/"
* Python: 2.7
* OS: linux - ubuntu 17.04

` pip install web3`
resulted in
`
Installed /tmp/pip-install-6KJnnI/eth-account/.eggs/pypandoc-1.4-py2.7.egg
    /usr/lib/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'python_requires'
      warnings.warn(msg)
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-6KJnnI/

[2018-05-17 17:24] #851 closed, assigned to nobody

[2018-05-17 22:59] owocki opened #852 "how do i call ens.setup_owner() with a signed trnasaction"
* Version: latest
* Python: 3.5
* OS: osx

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

i am trying to use this code to register a subdomain https://github.com/ethereum/web3.py/blob/master/ens/main.py#L211

[code]

but i seem to always get this exception

[2018-05-17 23:06] pipermerriam commented on #852
### Most user friendly way to do this.

You'll need the middleware from #649 .  With that you can load the private key for the account you're trying to sign into that middleware and it will intercept the `sendTransaction` call, sign it, and send it as a raw transaction.

### Less UX friendly way: option A

Use infura for *read* operations.  Build the transaction object using `contract.functions.th

[2018-05-17 23:07] pipermerriam commented on #852
Also cc @carver since he's actually the original author of the ENS apis and may has something to say on the subject.

[2018-05-18 00:18] carver commented on #852
I agree, the best way to do this is with the signing middleware (since there are a series of transactions that need to be signed).

There will probably need to be some changes to #649 support that, actually. I think the best way will be to add an intercept to the signing middleware that inserts the private key addresses into the response for `eth_accounts`.

[2018-05-18 00:19] voith commented on #852
I see what the problem is:
https://github.com/ethereum/web3.py/blob/0890875a83ec3578a68844ea28fc638af8182939/ens/main.py#L252-L258

There's a forced check to allow only accounts in `web3.eth.accounts`(local accounts in your node).

@owocki A quick dirty solution for now is to monkey patch `_claim_ownership`.
In your code `ns._claim_ownership = lambda *_: True`

[2018-05-18 00:29] carver commented on #852
That monkeypatch will help only after using the signing middleware. The ENS setup code is all built assuming that your node can sign transactions. There isn't a quick workaround, because several different transactions may need to be issued. So the method can't, say, return a single unsigned transaction for local signing. (the equivalent of `buildTransaction()`)

[2018-05-18 00:37] voith commented on #852
Oh yeah, intended to mean the same, Should have been more explicit!

@owocki Also to plug the middleware:
[code]
May be this is obvious, but want  to make sure that  you're not missing out any info.

[2018-05-18 02:46] pipermerriam opened #853 "Inject accounts into `web3.eth.accounts` and web3.eth.getAccounts()`."
### What was wrong?

It's useful to use `web3.eth.accounts` for things like:

- list of accounts to select from.
- pre-check for some pre-condition that is account based.
- auto selection for some automated criteria.

Acocunts used with the new in-flight transaction signing middleware will not show up in this list.

### How can it be fixed?

Add a conditional to the constructor for the transaction

[2018-05-18 02:46] pipermerriam commented on #852
https://github.com/ethereum/web3.py/issues/853

[2018-05-18 06:41] petri commented on #847
Something that could perhaps be useful to take a look at: https://github.com/bargst/pyethoff

[2018-05-18 15:02] owocki commented on #853
@pipermerriam is this something team gitcoin should/could bounty?

[2018-05-18 15:39] owocki commented on #852
thanks for your help yall,

I just got the middlware and monkey patch stitched together over at https://github.com/gitcoinco/web/pull/509/files#diff-f569e34d4c10568aa2b7e1d6138e60a6R69

but i am getting a random 405 response from  https://mainnet.infura.io/ when i try to run it.

[code]

trying to figure out why i'm getting that response now.. if anyone has any bright ideas i'd love to hear them!

[2018-05-18 15:46] owocki commented on #852
hmmm... itd be useful to know what infura method is returning the 405 response.. that way I could confirm if there is a workaround available.

[2018-05-18 15:58] pipermerriam commented on #852
@owocki almost definitely `eth_sendTransaction`

[2018-05-18 16:12] pipermerriam opened #854 "Add logging messages to Providers"
### What was wrong?

Inspired from: https://github.com/ethereum/web3.py/issues/852#issuecomment-390247197

There are places where it would be useful for a user to enable logging on the `web3` namespace to get a better picture of what is happening.

### How can it be fixed?

A good starting point would be our providers.  Each provider should output some `DEBUG` level logging.

- `web3.manager.Reque

[2018-05-18 16:14] pipermerriam commented on #852
link: https://github.com/ethereum/web3.py/issues/854 to make debugging this type of thing easier.

[2018-05-18 16:16] pipermerriam commented on #853
@owocki yes, but it's dependent on #649 being merged as well as a bit of confirmation from @dylanjw and/or @carver on whether they agree with how this should be implemented.

[2018-05-18 16:41] voith commented on #852
@owocki I just  tested `sendRawTransaction` using infura on rinkeby net.  It worked fine.

[2018-05-18 16:50] carver commented on #853
Yeah, that sounds good to me. I'd even advocate to drop the flag altogether, and always inject the addresses, until someone requests it. It's much easier to add the flag in a minor point release than to remove it at the next major release, if we decide we don't want to support it.

Also, if `strict` is on, maybe we should strip out the node's addresses, since we can't use them anyway.

[2018-05-18 17:01] owocki commented on #852
hmm.. i wonder if theres a way to transpose the `ns.setup_owner` call to be a raw transaction.  let me see if i can figure this out

[2018-05-18 17:05] voith commented on #852
@owocki The middleware does the `sendRawTransaction` part for you. You don't need to explicitly use `sendRawTransaction`.
The middleware checks if there's any outgoing `eth_sendTransaction` and then tries to sign it with the private key provided and then emits a `eth_sendRawTransaction`

[2018-05-18 17:08] owocki commented on #852
ah okay.. so we are likely receiving the 405 _before_ the raw transaction is emitted.  let me `ipdb` through the code to try to figure out where

[2018-05-18 17:19] pipermerriam commented on #853
I think I'm +1 on address injection, though I am inclined to advocate for the same solution I suggest in #649 which is to implement the address injection as a stand-alone middleware and to write a new utility function `merge_middlewares` or `combine_middlewares` which wraps up multiple middlewares into a single unit.

note that `combine_middlewares` is already a function we use in` web3.middleware

[2018-05-18 18:12] dylanjw commented on #853
I agree with the middleware approach.  So, in order to have it included by default, we would provide a merged middleware, and document that as _the_ primary local signing middleware?

[2018-05-18 18:25] owocki commented on #852
ok.. syncing a local node now. :fingers_crossed:

[2018-05-18 19:18] owocki commented on #852
got it working by making my own raw tx and signing it locally... thanks yall

[2018-05-18 19:18] #852 closed

[2018-05-19 20:44] jfdelgad commented on #730
Guys, thus still don't work. The all method works though.

[2018-05-20 00:56] tommy2049 opened #855 "AttributeError: module 'web3.eth' has no attribute 'getBlock'"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: Ubuntu 16.04

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

[2018-05-20 08:30] voith commented on #855
@tommy2049 Did you create a web3 instance? Try the following bellow:
[code]

[2018-05-20 10:02] mtcz91 commented on #446
hello，I get the web3 of vision4.2.1，but i cannot call my contract method at a block number,such as "detail = info.functions.getInfo().call(block_identifier=3)",I always get the "latest" block's info.Could tell me what's the reason of my problem?

[2018-05-20 20:43] ETH-contractDev commented on #815
help can not figure out the filters, I'm doing everything the right way, I need to get the transactions received on the wallet in real time
[code]
in response, I always get an empty array [],  using web3.py == 4.2.1

there are a lot of transactions on the wallet  https://rinkeby.etherscan.io/address/0xf4e16e79102b19702cc10cbcc02c6ec0ccad8b1d

[2018-05-21 04:37] nelsonhp opened #856 "Async Await and Web3"
* Version: 4.2.1
* Python: 3.6
* OS: Ubuntu 17.04 64-bit

### What is wrong?

Async await syntax with websockets is not readily facilitated. It can be done with external processes, but it gets nasty.

### How can it be fixed?

First, move all sub-calls into the middleware stack. (IE calls that calculate gas price, account nonce, etc). These calls break any attempt at a simple hot swap of the manag

[2018-05-21 05:42] voith commented on #856
I do agree that `WebsocketProvider` implementation  is far from ideal.
Also, there's a similar issue #657 to have async functionality in web3py.

Can you list some issues that you've faced with the current implementation?

[2018-05-21 15:08] nelsonhp commented on #856
@voith
Honestly, I have not used the current version much. I know about the potential issues from doing the exact same approach in some of our older production code IE:
future = aio.run_coroutine_threadsafe(...)

The problems we saw, that are likely to apply here are:
1: The utility of an async await approach is limited by wrapping the coroutine such that the return value is future.result()
This p

[2018-05-21 19:10] carver commented on #446
Hi @mtcz91 that looks right. There's not enough info to help you debug.

This issue was left open by mistake, it is only tracking the main feature being added. I'm closing it now.

Can you open a new issue with a minimal, complete, and verifiable example: https://stackoverflow.com/help/mcve ? Specifically, the contract source, the contract deployment, any transactions, and the call.

[2018-05-21 19:10] #446 closed

[2018-05-21 19:12] carver commented on #730
@jfdelgad what web3py version are you on?

[2018-05-21 19:26] ckcollab commented on #813
NOTE: fix is `pip install 'rlp==0.6.0'`

[2018-05-21 19:30] carver commented on #855
@tommy2049 help us help you. Please fill out the template in the issue.

[2018-05-21 20:44] boneyard93501 commented on #832
@pipermerriam anybody working on this? it's not all that far off the poc i did a while ago. might be able to resurrect that without too many changes as a wip starting point.

[2018-05-21 21:39] carver commented on #832
@boneyard93501 not that I've seen

[2018-05-21 21:49] pipermerriam commented on #855
will re-open if @tommy2049 returns.

[2018-05-21 21:49] #855 closed

[2018-05-21 22:01] boneyard93501 commented on #832
@carver cool. if you don't mind, i'll take a stab at it starting wednesday.

[2018-05-21 22:06] pipermerriam commented on #832
@boneyard93501 are you looking at starting into the `web3.async` API?  If not, can you provide a proposal for what you're looking to build?  Basic API and a basic description of how it'll work.

[2018-05-22 08:17] glaksmono commented on #854
Would like to take a stab on this @pipermerriam 🔪

[2018-05-22 09:27] jfdelgad commented on #730
Updated to the last version and got it working! Thanks.

[2018-05-22 14:14] pipermerriam commented on #854
No, just a message which includes whatever data is needed in a reasonable way.  Look at the `py-evm` codebase if you want a sense for how we emit logging messages in that codebase which should be suitable for this codebase as well.

[2018-05-22 18:12] voith commented on #856
@nelsonhp Thanks for the detailed write up! I agree with most of what you've written.
However, I'd like to tell you the design considerations that went into the existing implementation.
IMO, `web3.py` was designed with only synchronous calls in mind. @carver and @pipermerriam  can correct me on this If I'm wrong. When `WebsocketProvider` was implemented, the idea was to get a basic version out whi

[2018-05-22 19:17] pipermerriam commented on #722
I'd love to see `web3.async` in v5 as well but this list is starting to get long.

[2018-05-22 19:45] carver commented on #722
Yeah, we should start exploring it before v5, too. Then, we can figure out what kinds of backwards-incompatible changes might be warranted.

[2018-05-22 20:50] nelsonhp commented on #856
@voith
I will see if I can create some of the errors we saw in our own production systems in this implementation.
If you would like any of our code that uses the concurrent futures methods, I would be happy to share. I didn't want this to be taken as a knock against web3py. I use this library constantly. I brought this up to see if a general approach could be found that allowed me to control my co

[2018-05-22 21:31] carver commented on #856
It was definitely understood as constructive, and please keep the feedback coming!

We believe that the best end result comes from being nice to the community... and mean to the code. :)

[2018-05-23 00:28] boneyard93501 commented on #832
@pipermerriam @carver
if a solution is supposed to be provider agnostic, i think a thread-based pub-sub solution is probably the most straight forward (and could be wrapped in an event-loop, if needed). quick and dirty outline, untested, unoptimized/un-toolzed:
[code]

[2018-05-23 10:32] boneyard93501 commented on #856
@voith   if you want any help for round two, let me know.

[2018-05-23 10:55] voith commented on #856
Please, that'll be very helpful. But I'm not very sure if we can move forward with this until we have a design for #657.

@boneyard93501 Thanks, Lets make `web3.py` better. If you have some ideas on #657 then you can leave some comments on the issue. Since you've decided to work on  #832, it'll be good if you could consider using `asyncio` over `threads`.

I have a couple of tasks queued up which

[2018-05-23 15:27] pipermerriam commented on #832
@boneyard93501 echoing what @voith said in another issue.

1. I think `asyncio` is going to be our *goto* for concurrency (and conversely, I'm hesitant to add any thread based concurrency for that reason).
2. I don't have a specific concern here, but I know historically that users who've tried to use web3.py in conjunction with threads have had issues, so a thread based solution seems likely to ha

[2018-05-23 16:37] medvedev1088 opened #862 "ValueError when using IPCProvider"
* Version: 4.2.1
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

When using IPCProvider sometimes ValueError is encountered if the response is incomplete. Looks like in this pull request https://github.com/ethereum/web3.py/pull/785/files the author forgot to add `except ValueError` to IPCProvider  https://github.com/ethereum/web3.py/blob/master/web3/providers/ipc.py#L176

### How c

[2018-05-23 18:33] carver commented on #862
Ah, thanks for tracking that down! Another solution would be to re-raise a `JSONDecodeError` here:
https://github.com/ethereum/web3.py/pull/785/files#diff-0260bdf984abdd4b8ab8987ea75d032cR258

[2018-05-23 18:51] boneyard93501 commented on #832
k. converting above to asyncio Queue is fairly trivial. although you'll want to make threaded allowances (concurrent.futures, ThreadPoolExecutor). for event loop registration purposes, i was trying to find the (repo for the) async API  but came up short.  where can i find it? thx.

now, wrapping providers is nice and may have some benefits but the real benefit of batch processing comes from muxing

[2018-05-23 19:13] gutfeeling opened #863 "getCode produces "0x" on smart contract addresses"
Version: 4.0.0
Python: 3.5
OS: Linux

### What was wrong?

I have Geth (version 1.7.2) node, which was synced using the "fast" mode. When I use the `getCode` method on smart contract addresses, it always returns "0x". I have verified this with known smart contract addresses like the Iconomi ERC20 token contract address.

I am wondering why this is happening? Is it possible that nodes synced in "fa

[2018-05-23 20:59] pipermerriam commented on #863
Likely culprits.

- Wrong address (or connected to the wrong chain)
- The node you're connected to isn't fully synced (still in the midst of a fast sync?)
- The contract has been self destructed
- The contract threw an error during deployment.

[2018-05-23 20:59] #863 closed

[2018-05-23 21:00] pipermerriam commented on #863
Closed as it is *very* unlikely this is a web3.py bug.  Please continue to post here if you still have issues and we can re-open if it turns out to be a web3.py issue.

[2018-05-23 23:30] boneyard93501 commented on #862
@carver  i'll look at it tonight. i think the reason for not re-raising was to avoid the nested (double) error. let me have a look.

[2018-05-24 08:11] boneyard93501 commented on #862
i'm having a bit of trouble reproducing the issue.
for, say,
[code]
a complete result would be `{"jsonrpc":"2.0","result":true,"id":67}` and an incomplete result would be`{"result":true,"id":67}` assuming an incomplete response is one where one or more of the json-rpc required key-value pairs is missing.
[code]
which checks out. if instead we're looking at a structurally invalid json response othe

[2018-05-24 08:20] gutfeeling commented on #863
The node is definitely not fully synced. I was stumped because all transaction related queries returned fine, however `getCode` didn't return the correct values. When the node syncs fully, will report back if the problem is resolved.

[2018-05-24 08:28] medvedev1088 commented on #862
@boneyard93501 I meant the structurally invalid result. When the json rpc response is not fully received from the socket, the IPC provider will try to parse it anyway and if the parsing failed, it will continue to receive more chunks from the socket, until the json is valid.

An example of incomplete response would be:

`'{"jsonrpc":"2.0","method":"net_listening","params":[]'`

[2018-05-24 09:08] boneyard93501 commented on #862
k. thanks. appreciate the update.

at the surface, that looks more like a `has_valid_json_rpc_ending` error of omission since it's a little permissive. if we tighten that up, we don't even get to the json processing. at the mere minimum we could check for matching startswith/endswith.
however, having PersistentSocket parse the complete response ought to be the preferred course of action. maybe  in

[2018-05-24 17:09] carver commented on #862
`has_valid_json_rpc_ending` will always be optimistic, and fail sometimes. For example `'{"jsonrpc":"2.0","result":[{"key":"val"}'`. The provider's parser already handles that case by capturing `JSONDecodeError`, so all we need to do is raise a `JSONDecodeError` instead of a `ValueError` in our friendly decoder. It should be pretty quick, I'll take care of it.

[2018-05-24 18:55] pipermerriam commented on #863
👍 your description fits.  Fast sync finishes syncing Blocks/Transactions/Receipts well before the state sync finished and the contract code is part of the state sync.

[2018-05-25 10:56] boneyard93501 commented on #657
to put a stake in the ground and get the blood boiling, below a few approaches (unoptimized, exploratory in scope) to async in the context of batch processing.

without re-writing the providers, concurrent.futures is the best (performance) bet. however, the GIL doesn't care where and how threads are spawned and generally, there is decreasing performance at an increasing rate as threads are added b

[2018-05-25 19:50] boneyard93501 commented on #657
@carver
`Some async callers want asyncio versions of methods available.`

is the assumptions that the (async) users will handle the event loop correct? and, as a corollary, that the web3.async namespace/API is comprised of a collection of awaitable primitives, e.g., async providers?

[2018-05-25 20:04] pipermerriam commented on #657
@boneyard93501 Correct on both counts.

Clarification on *how* I think our providers should work.

Rather than having sync and async providers, I think that we should have the standard provider API be

[code]

The `web3.async` namespaced providers would all use the `make_async_request` API for provider requests.

[2018-05-26 08:31] weberV commented on #666
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.4 ETH (276.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/web3.py/666/92).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-26 08:32] weberV commented on #566
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 0.4 ETH (276.84 USD @ $692.1/ETH) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/web3.py/566/142).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='htt

[2018-05-26 08:38] weberV commented on #698
Issue Status: 1. Open 2. Started 3. Submitted 4. **Done**

<hr>

__This issue now has a funding of 100.0 DAI (100.0 USD @ $1.0/DAI) attached to it.__

 * If you would like to work on this issue you can 'start work' [on the Gitcoin Issue Details page](http://localhost:8000/issue/ethereum/web3.py/698/312).
 * Questions? Checkout <a href='https://gitcoin.co/help'>Gitcoin Help</a> or the <a href='http

[2018-05-28 14:13] #698 closed

[2018-05-29 14:26] palango opened #866 "Exception in `Provider.isConnected` check"
* Version: 4.2.1
* Python: 3.6
* OS: osx

### What was wrong?

I have written the following middleware to throw an error when the provider isn't connected. Unfortunately this fails when running killing the ethereum client while running the middleware.

[code]

[code]

### How can it be fixed?

The `isConnected` method should probably catch the `json.decoder.JSONDecodeError` error.

[2018-05-29 14:39] voith commented on #866
@palango Something unrelated to your exception but, web3 has an `w3.isConnected` method(forgot about that earlier). No need check at provider level.

[2018-05-29 16:15] carver opened #867 "Accept Path as argument to IPCProvider constructor"
### What was wrong?

Currently, `IPCProvider` only accepts a `str` as the ipc path.

### How can it be fixed?

Detect if the `ipc_path` is a `pathlib.Path`, and convert to `str`.

[2018-05-29 21:42] dylanjw opened #868 "Roadmap meeting notes"
List of topics discussed for the future, with level of interest assigned to each topic

Hardware wallet support - 3
Windows support - 2
Gas price daemon - 2
EthPM support - 1
Contract source stack traces - 1
One step setup (configuration) - 0
Signer Integration - 0
Logging - 0
MyPy typing - 0

![20180529_152936rotated](https://user-images.githubusercontent.com/8933231/40687105-c1139a4c-6356-11e8-9

[2018-05-30 13:16] artemistomaras opened #870 "ENS error when using filters in private blockchain"
* Version: 4.2.1
* Python: 3.6
* OS: Ubuntu 17.10
* Private network: started with ``ganache-cli -d -p 7545 -i 999``

### What was wrong?
I've deployed the [ClaimsRegistry](https://github.com/uport-project/ethereum-claims-registry) contract and send some transactions to it.

When I try to get the events that fired using filters I get the following error:
[code]

After reading the docs, it seems tha

[2018-05-30 15:34] carver commented on #870
Which addresses are you hoping to see included in this filter for `from` and `to`?

`f = web3.eth.filter({'from': "1", "to": "11"...`

`"1"` and `"11"` don't look like addresses, so Web3.py is interpreting them as ENS names.

[2018-05-30 17:27] dylanjw opened #872 "Discussion: How to improve filter api"
### What was wrong?

See #836.  Current web3 filter api's are not intuitive and are just unable to do certain things.  An example is creating a filter for array event arguments.  Current argument encoding can not differentiate between argument options and arguments that _are_ arrays:

Current api:

[code]

The following lines in web3/utils/events.py parse the above array incorrectly into argument

[2018-05-31 07:10] artemistomaras commented on #870
It appears that I had a typo in my code,

the [correct](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_newfilter) arguments are ``fromBlock`` and ``toBlock``. Setting the correct argument names everything works as intended.

Thank you for your time!

[2018-05-31 07:10] #870 closed

[2018-05-31 10:30] palango opened #874 "ResourceWarnings from the web clients session"
* Version: 4.2.1
* Python: 3.6
* OS: osx

### What was wrong?

We converted the raiden RPCClient to use the web3 client. Now we get a lot of `ResourceWarning:`s  about unclosed sockets in the web client.

Example:
[code]

For details see here:
https://travis-ci.org/raiden-network/raiden/jobs/386089172#L895

### How can it be fixed?

The sessions should be properly closed.

[2018-05-31 17:59] carver commented on #722
Drop some of the repeated endpoints. Use and standardize the "supported endpoints" endpoint. EIP for all current standards.

[2018-05-31 21:19] palango commented on #874
Fixed in #876

[2018-05-31 21:19] #874 closed

[2018-06-01 09:33] yoonghm opened #878 "Web3.soliditySha3(['bool'], True) does not work"
* Version: 4.2.1
* Python: 3.6.5
* OS: win

### What was wrong?

Web3.soliditySha3(['bool'], True)

Please include any of the following that are applicable:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-10-17e63ddc222d> in <module>()
----> 1 Web3.soliditySha3(['bool'], True)

C

[2018-06-01 10:42] lyhistory opened #879 "ImportError: cannot import name 'KeepAliveRPCProvider'"
* Version: 4.2.1
* Python: 3.5
* OS: ubuntu16.04

### What was wrong?

Traceback (most recent call last):
  File "maian.py", line 24, in <module>
    from web3 import Web3, KeepAliveRPCProvider, IPCProvider
ImportError: cannot import name 'KeepAliveRPCProvider'

[2018-06-01 10:47] lyhistory commented on #879
sorry, just found KeepAliveRPCProvider has been removed from 3.5.5

[2018-06-01 10:47] #879 closed

[2018-06-01 15:13] #854 closed

[2018-06-01 17:51] edevil opened #880 "Cannot filter transfer events for "to" and "from" with parity"
* Version: 4.2.1
* Python: 3.5
* OS: linux

### What was wrong?

I'm trying to filter the "Transfer" events of an ERC20 token, using a Parity 1.10.4 node, using the "from" and "to" parameters:

[code]

This produces the following error:

[code]

[2018-06-01 18:13] carver commented on #775
Closed by #841

[2018-06-01 18:13] #775 closed

[2018-06-01 21:36] carver commented on #878
I think this is actually a bug in [the docs](http://web3py.readthedocs.io/en/stable/overview.html#Web3.soliditySha3) and should be this instead:

[code]

---

Leaving the issue open until the docs are fixed.

[2018-06-01 21:40] carver commented on #879
No worries, thanks for cleaning up the issue!

If you're not sure of the best way to connect to your node, check out: http://web3py.readthedocs.io/en/stable/providers.html#choosing-provider

[2018-06-03 16:25] ankitchiplunkar opened #881 "JSON decoding some parity results using IPCProvider gives delimiter error"
* Version: 4.2.1, fresh installed today from master branch
* Python: 3.6.5
* OS: ubuntu 18.04

### What was wrong?
web3.py was not able to decode result from parity.

[code]

Please include any of the following that are applicable:

* The code which produced the error
[code]

* The full output of the error

[code]

* What type of node you were connecting to.
Parity

### How can it be fixed?
?

Fil

[2018-06-03 21:10] bargst commented on #847
Hey I extracted relevant part of my repo into https://gist.github.com/bargst/5f896e4a5984593d43f1b4eb66f79d68
I could try to turn it into eth-account code but I may need guidance !

[2018-06-04 08:33] ankitchiplunkar commented on #881
I did some more testing and found that this error occurs only if I use the IPCProvider, does not occur with HTTP or WS providers.

[code]

[2018-06-04 08:50] ankitchiplunkar commented on #881
Upon more digging I found this Issue similar to
Issue: https://github.com/ethereum/web3.py/issues/862
Pull request: https://github.com/ethereum/web3.py/pull/864

I will close this issue and move the discussion to earlier above posts.

[2018-06-04 08:50] #881 closed

[2018-06-04 21:57] carver opened #882 "Parity binary download (intermittently) failing in CI"
### What was wrong?

It appears that we're (intermittently) getting no data back from the parity binary url json (for example, in #864). See this error:

[code]

### How can it be fixed?

Some options to consider, not mutually exclusive:

- Cache the parity binary much more aggressively (shouldn't need to recreate the cache for the parity binary, basically ever)
- Add some more retries
- Find anot

[2018-06-04 22:03] pipermerriam commented on #847
Made an issue for this in `eth-account`: https://github.com/ethereum/eth-account/issues/25

[2018-06-05 17:09] pipermerriam commented on #847
@bargst you appear to be on the right track.  I'd take a look at the linked issue for hardware wallets: https://github.com/ethereum/eth-account/issues/25  and what may potentially be a dependency on that https://github.com/ethereum/eth-account/issues/24

[2018-06-05 17:28] carver opened #884 "Permit bytes addresses for programmatic API usage"
Update Web3.py to accept length=20 `bytes` values as an ABI address. This will be the only format for addresses that Web3.py accepts without a *checksum*.

- The `pythonic_middleware` and `abi_middleware` will need to be updated to handle this.
- The code used for contract parameter validation will need to be updated.
- The code related to filters may need to be changed too.
- Tests need to be wri

[2018-06-05 17:31] pipermerriam commented on #884
Change likely involves updating `pythonic_middleware` and `abi_middleware`

[2018-06-05 18:38] pipermerriam commented on #884
@iamonuwa PR should include implementation, tests, and documentation updates.

[2018-06-05 18:39] LefterisJP commented on #884
So with this PR we will be able submit byte encoded addresses to web3.py function?

[2018-06-05 18:42] pipermerriam commented on #884
Main description of this issue has been updated with a more complete spec.  Whoever implements this will still need to do some digging to ensure they cover all of the APIs.

[2018-06-05 18:42] iamonuwa commented on #884
@pipermerriam cool, thank you

[2018-06-05 19:03] dylanjw commented on #882
This was easy, because it seemed the parity binary wasnt getting cached at all.  Add to the circleci cached directories in #885.

[2018-06-05 19:21] pipermerriam commented on #882
Fixed in #885 885

[2018-06-05 19:21] #882 closed

[2018-06-05 20:56] #424 closed

[2018-06-05 21:00] carver opened #887 "Only try to resolve ENS names on mainnet (in the default middleware)"
### What was wrong?

The ENS middleware will try to resolve names no matter what your network ID. Test chains shouldn't try to resolve these names, and give confusing errors when you accidentally supply a name-like value to an address field.

### How can it be fixed?

- [ ] Modify the ens middleware to initialize with a network ID and only attempt to resolve names if connected to that network ID.

[2018-06-05 23:11] #862 closed

[2018-06-06 01:09] carver opened #888 "Raise deprecation warning on w3.eth.getTransactionFromBlock"
### What was wrong?

The deprecated method is missing a warning.

The new getTransactionByBlock and getUncleByBlock also do not have any docs.

### How can it be fixed?

Use the `@deprecated_for` decorator, and add the new docs in `docs/web3.eth.rst`.

[2018-06-06 05:07] ankitchiplunkar commented on #888
@carver I can take this up if you want.

[2018-06-06 07:09] githubcyc commented on #880
u may check the `topics` param referred to [`eventlog`](https://ropsten.etherscan.io/tx/0xebb6d8de83401dd6168dd0b0c101ed223dd681160364ec00426c4cd24673b1a3#eventlog).

[2018-06-06 16:48] carver commented on #888
Sounds great, thanks @ankitchiplunkar

[2018-06-06 17:10] edevil commented on #880
After discussing this in the Gitter channel we reached the conclusion that I needed two filters for what I wanted to do.

[2018-06-06 17:10] #880 closed

[2018-06-06 18:02] voith commented on #884
@iamonuwa Are you working on this. Today, in the morning I saw that the issue was claimed by you. However, the issue page on gitcoin doesn't show any info about it being claimed. Let me know if there's some problem!

[2018-06-06 18:14] voith commented on #884
Also noticed that the gitcoin issue page shows a bounty of 0.4 ETH.  However, the gitcoin bot has commented saying that its 0.3 ETH. @vs77bb Any idea why?

[2018-06-06 18:39] pipermerriam commented on #884
@voith if there's no open pull request and you want to run with it, 👍

[2018-06-06 18:42] vs77bb commented on #884
I spoke with @iamonuwa, he released the bounty so it's all yours @voith. Also, the .3ETH should update to .4ETH (I added to the contribution slightly once it opened up as I wanted to see it complete.

Will track a ticket for the update to flow through to Gitcoin Bot here when a contribution is added. Good luck with this one, @voith.

[2018-06-07 07:56] medvedev1088 commented on #842
Fixed here https://github.com/ethereum/web3.py/pull/849

[2018-06-07 07:56] #842 closed

[2018-06-09 12:57] prographo opened #892 "Install of web3 fails"
* Version: don't know
* Python: 2.7.12
* Ubuntu 16.04

ubuntu@ip-172-39-31-91:~$ pip install web3
Collecting web3
  Using cached https://files.pythonhosted.org/packages/9d/82/baba7ddc61c1c7a066ca13af1ba34cbcd8e51154f3da51e12a0fc9451bcf/web3-4.3.0.tar.gz
**web3 requires Python '>=3.5, <4' but the running Python is 2.7.12**

This is as far as I got.

[2018-06-09 20:04] voith commented on #884
commenting here to inform the gitcoin bot: I've opened a WIP PR at #893

[2018-06-10 03:40] dylanjw commented on #892
web3 requires python 3.5 or above.  Its also good to work in a virtual environment.  Try the following:

[code]

Have a look at python doc to learn more about managing project requirements with a virtual environments: https://docs.python.org/3/tutorial/venv.html