[2021-04-09 17:47] kclowes commented on #832
@Pet3ris or anyone else on here - if you need this and want to get it rolling, I can definitely help out! I want to finish up a few other things (primarily getting async off the ground) before I put this on my immediate queue, but I can definitely provide feedback and review for anyone wanting to do the legwork now.

I think this will be a challenge, but I like @Uxio0's implementation where you pa

[2021-04-09 19:10] kclowes opened #1941 "Move Revert logic into middleware"
* Version: 5.18+

### What was wrong?
Many different clients/frameworks/languages return the revert messages differently. We've had to update the logic to support Geth/Parity/OE/Brownie, and based on [this comment](https://discord.com/channels/809793915578089484/817614427490615307/829059432267907082) from the web3py discord channel, OpenEthereum v3.2.0 has changed the response format and it doesn'

[2021-04-09 19:50] carver commented on #832
Yeah, that plus Piper's seems like a reasonable combo to me.

It seems okay to just allow any exceptions to bubble up normally, though maybe we could wrap it in an exception that identifies the index of the call that raised it? Someday there will be something Exception Groups ([PEP 654](https://www.python.org/dev/peps/pep-0654/)), but until then we can do the dumb simple thing.

[2021-04-12 06:00] edd34 commented on #1921
@marcgarreau @banteg  I've created a PR, still in draft because I am not sure about it, will happy to get feedback about it :smiley:

[2021-04-12 06:05] edd34 commented on #1921
@banteg can you give me a snippet which reproduce the bug ? So I can test against it, thank you.
@marcgarreau Can you explain me a little more what should I do here ? I mean, how and where can I test it ? What's the workflow you usually use when working on issue. (I've tried something on #1942 )

[2021-04-12 16:15] kclowes commented on #1921
@edd34 thanks for the PR! To get the current tests passing, it looks like you'll need to add a new request formatter [here](https://github.com/ethereum/web3.py/blob/master/web3/_utils/method_formatters.py#L380). You'll want to follow the `apply_formatter_to_dict` pattern similar to [line 345](https://github.com/ethereum/web3.py/blob/master/web3/_utils/method_formatters.py#L345).

Once those are pa

[2021-04-14 01:43] edd34 commented on #1921
Hi @kclowes , it's not clear for me, I think I need first to understand what are formatter for and how/where are they applied.
Can you send me resource where I can grasp more understanding of it ? I'll do my own research from my side.
I'd like also to see one formater where it is all used.

[2021-04-15 20:25] marcgarreau commented on #1921
@edd34 thanks for giving this a shot initially. there was more complexity hiding in there than my first guess. i'll pick it up from your PR.

[2021-04-15 23:51] edd34 commented on #1921
Ok I'll read the pr afterward

[2021-04-17 21:00] apljungquist commented on #832
If it's of any use I'd be happy to clean up this stop-gap solution that I hacked together. It does not expose any async interfaces but it seems to enable the websocket provider to be used with a threadpool executor thus allowing multiple rpcs to be in flight without the overhead of making individual http requests.

[code]

[2021-04-19 20:52] marcgarreau commented on #1921
welp, this turned into something more exciting. possibly user error, but i'm getting unexpected results from Geth in my testing. i pulled in @kclowes, who reproduced them. we'll get an issue up in the geth repo to verify if its us or them.

[2021-04-20 21:11] kclowes commented on #1921
I just raised a geth issue [here](https://github.com/ethereum/go-ethereum/issues/22709)!

[2021-04-22 22:46] marcgarreau commented on #1921
yep, user error 🤦 - used compilation vs. runtime bytecode when testing. finished up @edd34's PR (#1942), which will close this issue once merged. side note: looks like this'll be one of those rare features that we implement before web3.js and ethers.js 😅🏆

[2021-04-23 04:10] edd34 commented on #1921
Nice effort here

[2021-04-23 16:37] #1921 closed

[2021-04-24 19:28] araa47 opened #1958 "How to verify eth_signTypedData_v4 in web3 py"
## Problem

How to verify signer of the method `eth_signTypedData_v4` using web3 py?

### Js Metamask signature example:
 https://docs.metamask.io/guide/signing-data.html#sign-typed-data-v4

## What Ive tried

[code]

## Current result

Signer shows up as random addresses that does not match with the actual signer of the message.

The above web3 py code works if `personal_sign` method is used in j

[2021-04-25 12:12] FCaimi opened #1959 "web3.exceptions.BadFunctionCallOutput: Could not decode contract function call getAmountsOut return data b'' for output_types ['uint256[]']"
* Version: web3==5.18.0
* Python: 3.9.4
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

I'm trying to call a smartcontract function deployed on BSC mainnet (pancakeswap router) to read token prices :

[code]

But I have the following error :

[code]

The strange thing is that if a call another function on the smart contract everything works fine, for example:

[code]

Can anyone help

[2021-04-27 11:50] deluxemonitor opened #1966 "[help] Buy BSC token using web3"
i'm trying to buy $TRY token with my code. It's BSC token. The problem is when i send money to the contract i don't receive any token :/

The contract i'm trying to buy :
https://bscscan.com/token/0xc12ecee46ed65d970ee5c899fcc7ae133aff9b03

I'm coding in python using Web3 wrapper : https://pypi.org/project/web3/

[code]
I tried with the contract address :
https://bscscan.com/tx/0xb9652d6f36d22a13a

[2021-04-27 18:48] marcgarreau commented on #1966
1) We don't officially support BSC. If Web3.py happens to work with it, great, but we make no commitments there.
2) Are you sure that that sending funds to the contract address is a valid way to purchase tokens? Check with the project.
3) I don't know anything about Pancake either, but its public methods will be available like any other contract if you configure an [instance of the contract](https

[2021-04-27 18:48] #1966 closed

[2021-04-27 22:54] PatrickAlphaC opened #1967 "Proposal: Simplify transactions"
* Version: 5.18.0
* Python: 3.8
* OS: osx
* `pip freeze` output

[code]

### Abstract

Right now, if you use a wallet address that is different from your node (such as a metamask wallet, and a web3 client like [infura](https://infura.io/)), you have to follow a long `buildtransaction` process in order to send a transaction.

For example, calling the approve function on an erc20 on the kovan networ

[2021-04-28 14:05] miracle2k commented on #856
SQLAlchemy now supports asyncio using an innovative approach that might be worth considering. You can read about it here: https://gist.github.com/zzzeek/2a8d94b03e46b8676a063a32f78140f1

Using it, I can get web3py working using asyncio like this:

[code]

(see the gist: https://gist.github.com/miracle2k/5a5fdd226310ece48ef22aef6011ccc6)

Note that the use of `web3.eth.block_number` is written in n

[2021-04-28 18:36] marcgarreau commented on #1769
closed via #1774

[2021-04-28 18:36] #1769 closed

[2021-04-28 18:49] marcgarreau opened #1968 "Broken docs styles"
### What was wrong?

Some of the styling in the docs broke recently.

For example, landing page should look like:

<img width="1101" alt="Screen Shot 2021-04-28 at 12 45 41 PM" src="https://user-images.githubusercontent.com/3621728/116456747-d2432380-a81f-11eb-9712-c8f59bc0e320.png">

but instead looks like:

<img width="1090" alt="Screen Shot 2021-04-28 at 12 45 52 PM" src="https://user-images.gi

[2021-04-28 18:52] marcgarreau commented on #1429
pretty sure #1963 was the last of em :tada: closing out.

[2021-04-28 18:52] #1429 closed

[2021-05-01 08:09] tinydjp opened #1972 "web3.fromWei return type is inconsistent with Doc"
* Version: 5.18.0
* Python: 3.6.10
* OS: osx/linux/win
* `pip show` output

[code]

### What was wrong?

Decimal('1E-12')

0
As the doc shows, the method return a Decimal, but it returned int where the input is 0
https://web3py.readthedocs.io/en/stable/web3.main.html#web3.Web3.fromWei
### How can it be fixed?
Update the doc or change the code return `Decimal(0)` when input is 0

[2021-05-03 22:20] clanstyles opened #1974 "web3.exceptions.LogTopicError: Expected 3 log topics. Got 2"
* Version: 0.8.0
* Python: 3.8
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
We are trying to listen on the event "transfer" and are having an issue where the topics aren't aligned.

env variables to reproduce it:
MARKETPLACE_ADDRESS=0xE9d84aa46C621b159eB6118aC8774F5E630B58e8
NODE=https://data-seed-prebsc-1-s1.binance.org:8545

[code]
Please include any of the following that are a

[2021-05-03 22:28] clanstyles commented on #1974
Bug on our end. Sorry

[2021-05-03 22:28] #1974 closed

[2021-05-04 19:38] Harmouch101 commented on #1817
From my understanding, web3.auto.gethdev would call [get_default_ipc_path](https://github.com/ethereum/web3.py/blob/06803e26903e4f8d94e4a6db7f98a56988664f6a/web3/providers/ipc.py#L82) because of the [IPCProvider](https://github.com/ethereum/web3.py/blob/06803e26903e4f8d94e4a6db7f98a56988664f6a/web3/auto/gethdev.py#L12) call which, in its turn, would call [get_default_ipc_path](https://github.com/e

[2021-05-06 18:57] Harmouch101 commented on #1817
@Morgon, to help you with your situation, follow the steps below:

1. Begin by starting your ethereum node such as [Geth](https://geth.ethereum.org/docs/install-and-build/installing-geth#install-on-ubuntu-via-ppas) server by running the following cmd:

[code]

2. Open another terminal, and set the env variable:

[code]

3.  And then proceed with the python statements.

[code]

[2021-05-07 01:11] Harmouch101 commented on #1776
@pipermerriam, I think I can handle this task if it is related to profiling or something like so.

[2021-05-07 02:15] CONQUISTADORA0101 opened #1983 "PIP install web3 on MacOS"
* Version: x.x.x
* Python3
* OS: osx
* "/Users/MacBookPro/PYTHON: bad interpreter: No such file or directory
(venv) (base)

[code]

### What was wrong? not installing

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how

[2021-05-07 02:16] #1983 closed

[2021-05-07 18:53] WyseNynja opened #1984 "[feature request] web3.ens.resolve should take a block number"
* Version: 5.18.0
* Python: 3.9
* OS: osx

### What was wrong?

I am doing some analysis of some of my old transactions and noticed that `web3.ens.resolve` was returning the current address and not the address at the time of the transaction.

### How can it be fixed?

I think adding a kwarg to `web3.ens.resolve` that gets passed to the `call` functions inside would be a simple addition that would

[2021-05-09 07:12] tserg commented on #1968
I tried running `make doctest` locally and got the following errors:

WARNING: Failed to get a method signature for ethpm.Package.deployments: <ethpm._utils.cache.cached_property object at 0x7f50b9674b20> is not a callable object

Making the following changes to `ethpm.rst` resolves the errors:

Original
[code]
Amended

[code]

I am not sure if this is causing the errors though.

[2021-05-09 14:50] tinydjp commented on #1972
I got it, thanks!

[2021-05-09 14:51] #1972 closed

[2021-05-10 09:39] spindriftur opened #1985 "module not found"
I installed `web3` using pip and pip3, and when I import it into a py file to use or the interpreter, it returns with `ModuleNotFoundError: No module named 'web3`

python 3.9.0
pip version 21.1.1

[2021-05-10 15:37] marcgarreau commented on #1985
This is typically an environment, import, or configuration issue on your end. See if [this page](https://web3py.readthedocs.io/en/stable/troubleshooting.html#why-can-t-i-use-a-particular-function) in the docs helps you. If not, please reopen the issue with more details about the commands/code you're running.

[2021-05-10 15:37] #1985 closed

[2021-05-10 16:26] kclowes opened #1986 "Async HTTP Provider"
### What was wrong?
Web3py needs Async HTTP Provider in order to be able to make async calls to RPC providers over HTTP.

### How can it be fixed?

Add an async HTTP Provider. This issue only encompasses the provider. Middleware and session caching will come in a later PR.

[2021-05-10 16:36] kclowes opened #1987 "Handle middleware in Async HTTP Provider"
### What was wrong?
Web3py relies on middleware for pre- and post-processing of requests. We'll need to combine middleware in the async HTTP provider and send requests and responses through the middleware onion.

### How can it be fixed?

This will require at least one of the middlewares to be async, and probably another async method or two. Looking at how the sync HTTP provider handles middleware

[2021-05-10 16:38] kclowes opened #1988 "Session Caching in Async HTTP Provider"
### What was wrong?
The sync HTTP Provider has some nice session caching that isn't yet present in the async HTTP Provider.

### How can it be fixed?
Add it! Looking at the caching from the sync HTTP Provider will be a good place to start.

Will build on work done in #1986

[2021-05-10 16:44] kclowes opened #1989 "Async Gas Price Strategy middleware"
### What was wrong?

The gas price strategy middleware relies on calls to an RPC server. In order to have a full async pathway, web3py needs an async version of the middleware that will use an async w3 instance.

### How can it be fixed?
Add an async_gas_price_strategy_middleware that can be used in the async pathway. This issue builds on #1986, and will depend on #1987.

[2021-05-10 16:45] kclowes opened #1990 "Async name_to_address middleware"
### What was wrong?

The name to address middleware relies on calls to an RPC server. In order to have a full async pathway, web3py needs an async version of the middleware that will use an async w3 instance.

### How can it be fixed?

Add an async_name_to_address_middleware that can be used in the async pathway. This issue builds on #1986, and will depend on #1987.

[2021-05-10 16:55] kclowes opened #1991 "Async validation middleware"
### What was wrong?

The validation middleware relies on a web3 instance to validate the chain id. In order to have a full async pathway, web3py needs an async version of the middleware that will use an async w3 instance.

### How can it be fixed?

Add an async_validation_middleware that can be used in the async pathway. It looks like we may be able to take the `result_formatters` out of this vali

[2021-05-10 17:54] #1986 closed, assigned to kclowes

[2021-05-10 18:45] Garito opened #1992 "Pass string[] to function"
Hi!
Giving this signature:
address, string[] calldata, string[] calldata

I'm trying to pass parameters as:
w3.toChecksumAddress(address), ["val1", "val2"], ["val3", "val4"]

But it fails as detects:
(<class 'str'>, <class 'list'>, <class 'list'>)
instead of:
(address,string[],string[])

Is this library updated to support string[]?
or
am I doing something wrong? How should I pass those params?

Th

[2021-05-13 16:59] joshuajaharwood opened #1994 "Can't connect over IPC, despite pipe existing"
* Version: 5.19.0
* Python: 3.9, using Miniconda
* OS: Windows 10 19042
* `pip freeze` output

[code]

### What was wrong?
I'm attempting to connect to a local OpenEthereum v3.2.5 synced full node. Running the following code returns `False`, however:

[code]

`geth attach` works using the same IPC path. The pipe is verified as existing using PowerShell.

Connecting over a web socket works however,

[2021-05-13 18:51] rjbanna opened #1995 "ValueError: {'code': -32601, 'message': 'The method eth_sendTransaction does not exist/is not available'}"
I'm getting above error while trying to deploy contract using
`my_contract.constructor().transact()`

When I tried to run same using ganache GUI, it's giving me following error
`web3.exceptions.ContractLogicError: execution reverted: VM Exception while processing transaction: revert`

This is because of gas_estimate failed. I don't know how to fund contract with eth to cover gas fees. My account h

[2021-05-13 19:25] Harmouch101 commented on #1994
I am not sure what you are trying to accomplish, but it seems like that there is a lack of knowledge on how IPC works. In simple terms, two or more Unix processes on the same machine use a synchronized file that is a record stored on disk like `jsonrpc.ipc` to communicate between each other(e.g. sending Unix signals and such.) which means there is no IP address or exposed port being used by one of

[2021-05-13 19:36] Harmouch101 commented on #1994
You can [read the docs](https://web3py.readthedocs.io/en/latest/providers.html) for more info about providers.

[2021-05-13 23:30] marcgarreau commented on #1995
The error occurs because Infura cannot interact with your local private key, by design. You'll have to build, sign, and send a raw transaction instead. See [this example](https://web3py.readthedocs.io/en/stable/web3.eth.account.html#sign-a-contract-transaction), replacing `transfer` in the example with `constructor` to deploy. Start from the top of that page to learn the differences in private and

[2021-05-13 23:30] #1995 closed

[2021-05-14 18:23] rjbanna opened #1996 "execution reverted: SafeERC20: low-level call failed"
Hello all,
I'm trying to get a flashloan using web3.py. I'm able to deploy the flashloan contract successfully but when I call the flashloan function it's giving me 'execution reverted: SafeERC20: low-level call failed' failed error. I have enough ether in my account.

Do I need to send some ether to my flashloan contract? But I don't think so the error is because of lack of ether to pay the gas f

[2021-05-14 21:18] marcgarreau commented on #1996
Sorry, we don't have the bandwidth to debug contracts. This type of usage question is best directed to stack overflow or one of the developer-centric Discord servers like [CryptoDevs](https://discord.gg/D3jdDyf6Xv) or the [Ethereum Python](https://discord.gg/JSZpv7Q8Mu) server where you can . Good luck!

[2021-05-14 21:18] #1996 closed

[2021-05-15 00:30] zipzap888 commented on #1402
im curious if anyone has figured out a way to get eth_subscribe to work with web3py?  I just ported a project from web3js because I wanted to work with scikit, only to find that I can't subscribe. I'd love to see this feature implemented, or if someone has an idea of a workaround, that would be great too!

[2021-05-15 00:43] zipzap888 commented on #1402
here are two examples of pub sub. python-binance-chain has a subscribe feature and an auto reconnect for their websockets connection.
https://github.com/eclipse/paho.mqtt.python#subscribe-unsubscribe
https://github.com/sammchardy/python-binance-chain

[2021-05-15 23:33] Harmouch101 commented on #1992
`toChecksumAddress` takes only one parameter, which is `address`, and builds a checksum based upon it as follows:

[code]

[2021-05-16 05:39] Harmouch101 commented on #1992
I am not sure what your intention is in this issue. However, it seems like you are trying to make a new proposal or suggestion for the `toChecksumAddress` method. Therefore, it would be great to elaborate more on what you expect that function to do? And what do you mean by `string[]`? What is `calldata` used for? Answering these questions would make it easier for the project's maintainers to help

[2021-05-16 06:37] shashankks0987 commented on #1423
I'd like to take this if it is still open!

[2021-05-16 12:42] Garito commented on #1992
Sorry, but you should check the parenthesis to notice that I've not change its signature
What I'm asking is why a signature as address, string[], string[] fails with those parameters types in python w3.toChecksumAddress(address), ["val1", "val2"], ["val3", "val4"] (address, List[str], List[str]) that should become address, string[], string[]

Is this making more sense, now?

[2021-05-17 12:16] Nighty13 opened #1997 "Web3 Async"
hello , is there any web3 async version ?

[2021-05-17 15:28] kclowes commented on #1992
@Garito That seems like it should work. Maybe the ABI is wrong? It's hard to tell without seeing the actual code. [These docs](https://web3py.readthedocs.io/en/stable/abi_types.html#types-by-example) might help, but if you're still having trouble please post a minimum reproducible example along with the actual error and we can help troubleshoot further!

[2021-05-17 15:39] kclowes commented on #1997
Not yet, but it's in progress!

[2021-05-17 15:39] #1997 closed

[2021-05-17 15:59] Garito commented on #1992
I'm agree that should work
But
I should suspect that it is a problem with this library keeping up with solidity since:
1.- It should work since python List[str] should be exactly translated to string[]
2.- The docs you provide doesn't include any example with string[] (prove that, at least, the docs are outdated)

The abi, per se, shouldn't be a problem since I'm passing the one that generates the

[2021-05-17 16:04] kclowes commented on #1992
The docs should be up to date. Can you provide a code example of what you're trying to do and the error message you're getting?

[2021-05-17 17:52] Garito commented on #1992
I've deployed and used this contract:
[code]
with success (https://ropsten.etherscan.io/tx/0x7c79db9593bd510eebad1f9a0dd6b2f7f58dd2479f740531801b9a7bcb394daf) so my assumption about the List[str] to string[] conversion seems to be plain wrong

Since I can't publish the actual code, feel free to close this issue if you like

[2021-05-17 18:39] kclowes commented on #1992
Okay, sounds good. Feel free to open a new issue if you need more help!

[2021-05-17 18:39] #1992 closed

[2021-05-17 18:46] Garito commented on #1992
thanks

[2021-05-19 07:53] nanaknihal commented on #1650
In case anybody else is having this problem, adding --rpc after geth fixed it for me. --http.address localhost --http.port 8545 also may help

[2021-05-19 14:37] dvdblk commented on #1830
@yaocg how did you solve it? I'm having the exact same issue.

When I encode it manually I get the same topics but the `get_event_data` raises `MismatchedABI`.

[2021-05-20 18:01] kclowes opened #2000 "Async EthereumTester Provider"
### What was wrong?

`make_request` in `AsyncEthereumTesterProvider` does not quite mirror the actual `make_request` in the AsyncHTTP provider.

### How can it be fixed?

Adapt `AsyncEthereumTesterProvider` to more closely resemble the other providers.

[2021-05-21 16:55] kclowes opened #2001 "Async send_transaction_munger"
### What was wrong?

The `send_transaction_munger` uses a few functions in `web3/_utils/transactions.py` that should be asynchronous because they make RPC calls. Additionally, it may be a good time to move gas estimation to the middleware.

### How can it be fixed?

Go through the `send_transaction_munger` and make `get_buffered_gas_estimate` (and any functions `get_buffered_gas_estimate` uses tha

[2021-05-21 18:25] kclowes commented on #1994
@joshuajaharwood `isConnected` catches some errors to return a nice `True` or `False` value. What error do you get if you call a regular RPC method using the IPC provider?

[2021-05-21 18:33] kclowes commented on #1984
Good idea, thanks for the request! The fastest route to get this in would be to open up a PR that we can review.

[2021-05-22 22:44] adamant-pwn opened #2003 "TypeError: __new__() missing 4 required positional arguments: 'hash', 'r', 's', and 'v'"
* Version: 5.19.0
* Python: 3.8.10
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

I was trying to work with the BSC API from ankr.com. Code that triggered the error was approximately this (context omitted):

[code]

It triggered the following error:

[code]

As far as I can tell, the error is caused by datatype (which is eth_account.datastructures.SignedTransaction) being construc

[2021-05-22 22:58] adamant-pwn commented on #2003
My bad, forgot about .rawTransaction. Disregard the issue.

[2021-05-22 22:58] #2003 closed

[2021-05-25 18:21] pcko1 opened #2004 "`eth_getBlockReceipts` not available via `web3.py`?"
Hi, the RPC method `eth_getBlockReceipts` seems not available via `web3.py`, am I mistaken?

[2021-05-26 22:11] GHowlett commented on #1695
When I run this example using a hex string, I get a TypeError thrown after handling the TimeExhausged error. This typerror does not occur when I use a bytes array instead of a hex string.

This seems like a bug.

[2021-05-29 05:53] pfcodes commented on #1456
@ravikant2986 did you ever figure this out?

[2021-05-29 08:01] deluxemonitor opened #2006 "Retrieve an account instead of creating new one"
Hello,

I am coding a local (on my computer) bot.

I'm trying to interact with the function "SELL" of this contract :
https://bscscan.com/address/0x0a4259d2c647000d089c828b881970d85f823328#writeContract

An example of the function call on bscscan :
https://bscscan.com/tx/0x459a7ca6b54e571203abff42fdb3f9747f1dd5d5660784d26daecb6daa74fae5
![image](https://user-images.githubusercontent.com/38113865/1

[2021-05-29 10:22] #2006 closed

[2021-05-30 15:33] KaiRo-at commented on #1738
Hrm, I'm running into this now, has that never been actually looked into?

[2021-05-31 10:42] 4vadim4 opened #2007 "Web3.WebsocketProvider in web.py can't to listens appear new mined block and to transfer control further only after this"
* Version: 5.19.0
* Python: 3.8
* OS: Ubuntu 18.04.5 LTS
* `pip freeze` output:

[code]

### Node

I use own Node at Ubuntu 20.04.2 LTS:

Geth
Version: 1.10.2-stable
Git Commit: 97d11b0187b4695ccf44e3b71b54155fe405a36f
Architecture: amd64
Go Version: go1.16

### What was wrong?

I always thought that:
- `HTTPProvider` works as endpoint - creates connect, gets some info, closes connect
but
- `Webso

[2021-06-02 15:56] kclowes commented on #1738
@KaiRo-at that's right, this has not been looked into yet. It's pretty low priority right now, since there is a workaround. I'd happily review a PR if you feel like putting one up!

[2021-06-02 15:59] kclowes commented on #1456
@ravikant2986 I suspect this is an environment issue, but if you post the full stack trace from a clean environment, I can help you debug!

[2021-06-02 16:13] PatrickAlphaC opened #2009 "[FEAT] Add encodeFunctionData function"
ethers.js has a function called `encodeFunctionData` and it encodes a function and it's arguments into bytes. This is helpful especially when working with proxies and low level delegate calls.

Here is an example: https://github.com/ethers-io/ethers.js/blob/d3b7130ed6ec50b192eb7f33905eaa327d65eee2/packages/abi/src.ts/interface.ts#L332

I'd think the API would look something like:
[code]

[2021-06-02 16:27] kclowes commented on #2009
Thanks for the request! I can see adding this to the main Web3 instance, so I'll leave it open.

However, there are a few workarounds you can use:

- If you have a contract instance, you can use `contract.encodeABI` (see [these docs](https://web3py.readthedocs.io/en/stable/contracts.html?highlight=encodeABI#web3.contract.Contract.encodeABI)):
[code]

- Or, if you don't, eth_abi comes with the web3

[2021-06-03 08:50] istankovic opened #2010 "raise_block_not_found gets an unexpected argument"
* Version: 5.19.0
* Python: 3.9
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

We ran into the following exception when trying to use Raiden with an openethereum node:
[code]

It seems like `raise_block_not_found` gets an unexpected argument (it gets the response object):
[code]

[2021-06-03 08:54] yashmadhwal commented on #752
You should pass paramenter of bytes32
c.functions.videos(parameter).call()

[2021-06-03 19:07] adam505hq opened #2011 "Don't include arbitrary addresses in documentation."
One example is https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Eth.send_raw_transaction. `0xd3CdA913deB6f67967B99D67aCDFa1712C293601` should be replaced with `public_address_of_receivers_account`.

This is live address that is actually used on mainnet: https://etherscan.io/address/0xd3CdA913deB6f67967B99D67aCDFa1712C293601 . Whether this is accident - I don't know.

[2021-06-04 13:57] moneyEvolution opened #2012 "How to scan event log with complex filter condition"
* Version: 5.19
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

I followed this example https://web3py.readthedocs.io/en/stable/examples.html#example-code

I want to scan event log with a complex filter condition,

[code]

I want scan all the Transer event from the addressList or to the addressList

My code is not work.  Is there a way I can filter log

[2021-06-04 16:41] kclowes opened #2013 "Fix AsyncEth module typing"
### What was wrong?

Because the eth module is called `eth` regardless of whether or not it refers to the `Eth` module or the `AsyncEth` module, the typing is a little bit funky. Once `AsyncEth` is completely switched over to mirror the functionality of the `Eth` module, we can make the `eth` attr [here](https://github.com/ethereum/web3.py/blob/0afdd87d45ca7c4f64d146579e84c7810fac95de/web3/main.py

[2021-06-04 21:47] kclowes commented on #1987
Closed with #1999

[2021-06-04 21:47] #1987 closed

[2021-06-04 21:47] kclowes commented on #1988
Closed with #1999

[2021-06-04 21:47] #1988 closed

[2021-06-04 21:47] kclowes commented on #2000
Closed with #1999

[2021-06-04 21:47] #2000 closed

[2021-06-06 02:59] chivalry123 opened #2014 "How do i connect with AWS Managed Block Chain?"
Currently, I used the following python codes to connect to web3

    from web3 import Web3
    # Fill in your infura API key here
    infura_url = "https://mainnet.infura.io/v3/djsoiqowejojoajsdooqw"
    web3 = Web3(Web3.HTTPProvider(infura_url))

I am now using AWS managedblockchain, it gives me this credential:

    Node ID
    nd-GFJL!JJDANSANJQWEQNDSA
    Blockchain instance type
    bc.t3.lar

[2021-06-07 15:42] kclowes commented on #2014
You should be able to replace the `infura_url` with the HTTP EndpointInfo. Closing, but feel free to reopen if that isn't what you're asking!

[2021-06-07 15:42] #2014 closed

[2021-06-07 17:15] chivalry123 commented on #2014
I actually failed if I used:

from web3 import Web3
# Fill in your infura API key here
infura_url = "https://nd-zVfjoaisjodbqiwubjud.ethereum.managedblockchain.us-east-1.amazonaws.com"
web3 = Web3(Web3.HTTPProvider(infura_url))

AWS had provided PRIVATE key and public KEY saying that I need to use it... Is it possible to include such information there?

[2021-06-07 17:49] kclowes commented on #2014
You'll probably need to include those in the headers. You'll need to figure out which headers Amazon needs, but you can add whatever relevant headers you want to the `request_kwargs` that you pass to your provider. So something like:
[code]
Where it looks like you'll need to calculate the `authorization_header`, but I'm not sure.

See the docs for the web3 HTTPProvider here for more info on passin

[2021-06-07 21:32] kclowes opened #2016 "Allow users to pass a session object to aiohttp"
The HTTPProvider allows users to pass a session object for advanced configuration of the underlying `requests` library request. That logic should be emulated for the AsyncHTTPProvider and aiohttp.

[2021-06-08 17:47] olaem71 commented on #1634
how to set amount to buy...everything works fine but it stops at approving then preparing bot

[2021-06-09 13:55] PatrickAlphaC opened #2020 "Sample Contract interaction outdated and erroring"
* Version: 5.19.0
* Python: 3.9
* OS: macOs big sur 11.4
[code]
The [sample example](https://web3py.readthedocs.io/en/stable/contracts.html#contract-deployment-example) is giving me the following warning and error:

[code]

### How can it be fixed?

I feel this example should be updated to a working version. It appears we are using an outdated version of something.

[2021-06-09 15:57] marcgarreau commented on #2020
Thanks for reporting @PatrickAlphaC. Does look like we can use some modernization here. I doubt there are many users compiling their contracts in-line like this, but those that are probably should use the more up-to-date [py-solc-x](https://pypi.org/project/py-solc-x/). PR's welcome to make this example current; otherwise one of us will circle back to it as we're able.

[2021-06-10 19:14] Morgon commented on #1817
As another test, I `touch`ed `~/.ethereum/geth.ipc` so that we wouldn't get a file not found error. Executing through gethdev showed 'Connection Refused'

This confirms my claim that `WEB3_PROVIDER_URI` is not being honored at all and it's simply looking for the default path.

[2021-06-10 19:58] bibajz opened #2024 "Redundant async/await in AsyncJSONBaseProvider serde methods"
* Version: 5.20
* Python: 3.9.5
* OS: Linux

[code]

### What was wrong?

Serde methods internally do not await on any coroutines, so there is no reason to have them `async`

### How can it be fixed?

Remove `async/await` in those methods.

[2021-06-10 20:25] #2024 closed

[2021-06-11 01:38] Nov1X opened #2026 "Can't send a raw transaction: missing 4 required positional arguments: 'hash', 'r', 's', and 'v'"
Python: 3.9
OS: osx

pip freeze:
[code]

I am trying to send raw transaction using infura node. There is a code:
[code]
And this error happening when im trying to run code above:
[code]

I dont't know what to do and how fix that. I am doing everything only after reading docs, and all code above is written only using docs. Help me.

[2021-06-11 01:52] Nov1X commented on #2026
Okay, fixed with t.rawTransaction().

[2021-06-11 01:52] #2026 closed

[2021-06-11 15:52] #1938 closed

[2021-06-11 16:04] kclowes commented on #1968
This has been fixed in #1977!

[2021-06-11 16:04] #1968 closed

[2021-06-11 16:14] #1989 closed

[2021-06-11 16:14] kclowes commented on #2001
Closed in #1999

[2021-06-11 16:14] #2001 closed

[2021-06-11 16:29] kclowes commented on #2004
Sorry for the delay in response on this. I don't see that rpc method available in Geth. If you want all the transaction receipts from a block, AFAIK, you'll need to do a `w3.eth.get_block(block number)` and then for each transaction, do `w3.eth.get_transaction(tx hash)`. Closing, but feel free to reopen if I misunderstood something.

[2021-06-12 05:58] jjhesk opened #2030 "TypeError: sign_transaction() takes 2 positional arguments but 3 were given"
* Version: 5.11.1
* Python: 3.8
* OS: osx
* `pip freeze` output

[code]
trying to run the sample code from deploy a contract but it gives me an error

[code]

### What was wrong?
TypeError: sign_transaction() takes 2 positional arguments but 3 were given

Output:

Traceback (most recent call last):
  File "/Users/hesdx/Documents/b95/dao/testdem.py", line 13, in <module>
    meta.deploy("ERC20")

[2021-06-12 19:10] moontrustdev opened #2031 "web3py does not show true pending transactions when using dictionary parameter"
* Version: 5.19.0
* Python:3.8.5
* OS: win
* `pip freeze` output

[code]

### What was wrong?

node: "https://bsc-dataseed.binance.org/" and local full node

If I use the following code:

[code]

I can see that this transaction is truly pending because the `blockNumber` hasn't been defined yet. However, if I use the dictionary format as a parameter like this:

[code]
The block number is always def

[2021-06-13 11:45] divyanshugit commented on #2020
Hey, @marcgarreau I would love to work on this. Can you please assign this issue to me? It will great If you can provide a little bit more info about this. I think it will be great for me to getting started with ethereum :)

[2021-06-13 12:21] ItayPodhajcer commented on #1584
Having the exact same issue when trying to connect to a remote Hyperledger Besu node through the default 8546 port.
`wscat` works without any issues.

[2021-06-14 06:46] #2031 closed

[2021-06-14 16:37] fselmo commented on #2020
Hey @divyanshugit. Thanks for the interest on this!

I ended up pulling this issue in my workload at the end of last week and am going to put up a PR this morning. There are some other issues that may be good for getting started in our issues list. I recommend checking out other issues with the "Good First Issue" tag.

[2021-06-14 16:40] marcgarreau commented on #2011
Fair point; PR welcome or I'll get to it next time I'm in the docs.

[2021-06-14 16:50] #1817 closed

[2021-06-14 17:53] marcgarreau commented on #1776
While still nascent, benchmarking got off the ground in #2002, so closing out this issue. New issues should be opened if we want to track more specifics.

[2021-06-14 17:53] #1776 closed

[2021-06-14 20:04] #2020 closed

[2021-06-14 20:05] marcgarreau commented on #2012
Questions in the format "how do I build X in Web3.py?" are best asked in the [Ethereum Python Discord](https://discord.gg/GHryRvPB84) or on Stack Overflow. You may have more luck by first breaking down your code to get a desirable result for one of the addresses you're interested in, then expand from there.

[2021-06-14 20:05] #2012 closed

[2021-06-15 00:06] fselmo commented on #2030
Hi @jjhesk. I tried to reproduce this today in a few different ways and I was not able to. I'm assuming this is in a method within a class since you have `self` references to the object. Have you tried breaking this down into a simpler form and interacting with the library directly first before making an OOP abstraction? It might help to debug your situation without knowing any more of the inner w

[2021-06-15 00:11] #2030 closed

[2021-06-15 16:04] prashanthvenky opened #2034 "Geth Node panics with SIGSEGV when using pending transaction filter"
* Version: 5.19.0
* Python: 3.9.5
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
I run a python script that registers for pending transactions using w3.eth.filter('pending') and continuously polls for new transactions using filter.get_new_entries().
I am using a local geth node and am connected to it over ipc.
I see that atleast once a day, my geth node dies with a segmentation fau

[2021-06-15 21:36] beaugunderson commented on #1958
this is the difference between v3/v4 in the JavaScript library that does v4 signing if it's helpful to someone:

https://github.com/MetaMask/eth-sig-util/blob/41a62c8255ce061130f85876be178e65e6ae99a2/src/index.ts#L98-L151

[2021-06-16 02:19] divyanshugit commented on #2011
Hey, @marcgarreau I wanna work on this. Can you please assign this issue to me? It will great If you can provide a little bit more info about this. I think it will be great for me to getting started with ethereum :)

[2021-06-16 12:27] shellwhale commented on #1714
Could you please share the code with your problem solved?

[2021-06-16 16:08] kclowes commented on #1729
Yes it does, and we'd love help! You can see the full list of warnings on any of the latest core test runs on CircleCI. The py36-core tests can be found [here](https://app.circleci.com/pipelines/github/ethereum/web3.py/1440/workflows/5b42450d-b9d8-4d5a-bd6e-e82a1641764b/jobs/159645), and you can see the warnings in the `run tox` dropdown. I'd recommend tackling a few at a time so that we can revie

[2021-06-16 17:14] fselmo commented on #2011
Hey @divyanshugit. Thanks for the interest! I went ahead and assigned this to you. For this issue, we would want to replace the address `0xd3CdA913deB6f67967B99D67aCDFa1712C293601`, wherever it appears in the code base, with a variable name that is suited for the context in which it is used. For the particular example mentioned in the description of this issue, `public_address_of_receivers_account

[2021-06-17 16:51] reyaw commented on #1729
Couple of questions:
1) Is this the correct way to define the scope of a fixture? (top line of the screenshot)

![fixture_scope](https://user-images.githubusercontent.com/82685635/122440542-a8c68e80-cf6a-11eb-84d2-7e85e03190c1.png)

[2021-06-17 21:52] kclowes commented on #1729
yep!

Since we're not having problems with the scope now, I'd start with the largest scope you can (which I believe is session, but I'm not sure on that) and then make the scope narrower as you run into issues. We've done a few of these before - [this PR](https://github.com/ethereum/web3.py/pull/1780/files) is a good example. We ended up moving all of the functions related to the Emitter fixture t

[2021-06-18 20:21] kclowes opened #2038 "Add eth_feeHistory RPC endpoint"
### What was wrong?

Once the London hard fork happens, we'll have access to a new RPC method - `eth_feeHistory`. Some docs can be found [here](https://playground.open-rpc.org/?uiSchema%5BappBar%5D%5Bui:splitView%5D=false&schemaUrl=https://raw.githubusercontent.com/ethereum/eth1.0-specs/master/json-rpc/spec.json&uiSchema%5BappBar%5D%5Bui:input%5D=false)

### How can it be fixed?

Add `fee_history`

[2021-06-18 20:28] kclowes opened #2039 "Add eth_getRawTransactionByHash"
### What was wrong?

We don't have support for the `eth_getRawTransactionByHash` RPC method.

### How can it be fixed?

Add it to `BaseEth`, and add it to both `Eth` and `AsyncEth` following established patterns. Tests will need to be added as well.

[2021-06-18 21:49] kclowes opened #2040 "Add eth.get_raw_transaction_by_block"
### What was wrong?
We don't have support for the RPC methods `eth_getRawTransactionByBlockHashAndIndex`, and `eth_getRawTransactionByBlockNumberAndIndex`.

### How can it be fixed?

Similar to `eth.get_transaction_by_block`, this method will call a different RPC method based on what gets passed in. If a block number gets passed in, we'll call `eth_getRawTransactionByBlockNumberAndIndex`. Otherwis

[2021-06-19 09:59] randomlogin commented on #1726
I have the same issue on ubuntu 20.04, removing and reinstalling `python3-dev` does not help. Python version 3.8.2.

[2021-06-19 20:20] moda20 opened #2041 "`BuildTransaction` and `estimateGas` launch the transaction and caus a revert."
* Version: latest
* Python: 3.6
* OS: osx

### What was wrong?

i am trying to estimate the gas of a contract function, and when add .estimateGasAfter my contract method name, i find out that it launches the transaction, reverts and causes my script to fail as if the actual transaction reverted.

[code]
the line above would launch the transaction without even going through the signing process and

[2021-06-21 13:42] programerr01 commented on #1726
`python3-dev` doesn't help with 20.04

[2021-06-21 13:51] programerr01 opened #2042 "Installation failure with exit code 1"
* Version: 5.20.0
* Python: 3.7
* OS: linux
* `pip freeze` output

[code]

setup for cytoolz failed with the above log when tried installing web3

[2021-06-21 16:02] kclowes commented on #1726
@randomlogin @programerr01 Please open a new issue with a stack trace, and I'll help debug. Thanks!

[2021-06-21 16:49] programerr01 commented on #1726
https://github.com/ethereum/web3.py/issues/2042 @kclowes

[2021-06-21 17:39] kclowes commented on #2042
@programerr01 thanks for opening this. I assume this is a fresh environment? If installing `python3-dev` doesn't work, the other thing you might try is installing `build-essential`. It looks like that will install `gcc` along with some others.

[2021-06-21 17:47] kclowes commented on #2041
I think this means that the transaction will revert based on what you're passing in because some contract logic isn't being fulfilled. I'd double check the parameters you're passing, and try again. I'm going to close because I don't think this is an issue with the library, but feel free to reopen if you think that's wrong!

[2021-06-21 17:47] #2041 closed

[2021-06-21 18:08] moda20 commented on #2041
yes, the method will revert, and that is expected in this case. the issue i have is that `buildTransaction` for example is a local function that doesn't call any rpc method of my node and would only reformat the data it has into a transaction dictionary but in my case, it does run the method as if it is sending a transaction. it doesn't return a transaction dict but rather literally run the functi

[2021-06-21 19:13] programerr01 commented on #2042
@kclowes  tried all methods nothing working. It working on my local setup which is similar to the cloud server but still there i am getting the error there

[2021-06-21 21:02] kclowes commented on #2042
Are you getting the same error after installing `build-essential`, or is it something different? [Here's a link](https://app.circleci.com/pipelines/github/ethereum/web3.py/1477/workflows/ee74cdbc-57e9-47a5-9481-d47a33bd067f/jobs/161115) to a recent CI run on master, which runs on Ubuntu 18. You can see all the dependencies installed in the various dropdowns.

[2021-06-21 21:43] sobolev-igor opened #2043 "Bug with `to_hex` in `wait_for_transaction_receipt` function"
* Version: 5.20.0
* Python: 3.9
* OS: osx

### What was wrong?

Hey! I've got an issue with `to_hex` and `wait_for_transaction_receipt` functions.
I use the function as in the example

But if the tx doesn't get mined within timeout it raises the exception which uses `to_hex` function with a tx hash passed as a parameter (which is a string in an example). It raises another exception as a string can

[2021-06-22 04:35] programerr01 commented on #2042
same thing after installing build-essential too

[2021-06-22 07:36] fahadh4ilyas opened #2045 "How to input decimal parameter in contract function?"
* Version: 5.20.0
* Python: 3.8.8
* OS: win
* `pip freeze` output

[code]

### What was wrong?

I have a contract made using vyper with abi like this

[code]

When I tried to deploy the contract like this

[code]

I've got this error message
[code]

Even when I tried to change the `float` to `decimal.Decimal` like this

[code]

The error kept showing up. Is there a special way to input decimal par

[2021-06-22 20:51] kapisolec opened #2046 "Unable to access TxPool.content() via WebSocket connection"
* Version: 5.20
* Python: 3.9
* OS: win
* `pip freeze` output

[code]

### What was wrong?
I'm trying to access Binance Smart Chain tx_pool using WebSocket provider, but I get an error:
`{'code': -32601, 'message': 'the method txpool_content does not exist/is not available'}`

*My code:
[code]

* What type of node you were connecting to.
I tried to connect to a private node hosted by getblock and

[2021-06-22 22:13] dshehbaj commented on #2040
Hello!

I would like to work on this. Please assign this task to me and point to what source code files I should be looking at.

Thanks!

[2021-06-23 01:58] huy-springlabs commented on #1154
Why would you not adopt Solidity's implementation in this scenario? Shouldn't that be the source of truth?

[2021-06-23 07:38] MoeQatoum opened #2047 "clear"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

[2021-06-23 14:01] pfcodes commented on #1456
Had this issue using Zappa with Django which deploys to AWS Lambda. Building the environment inside a Docker image that simulates the lambda environment fixed the issue for me.

[2021-06-23 14:19] stellaywu opened #2049 "fetch all token transfer events for binance smart chain tokens"
* Version: 5.20.0
* Python: 3.8.10
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* `python eventscanner.py "https://bsc-dataseed.binance.org/"`
* `WARNING:__main__:Retrying events for block range 5128 - 10248 (5120) failed with {'code': -32000, 'message': 'exceed maximum block range: 5000'}, retrying in 3.0 seconds`
* Bina

[2021-06-23 16:15] kclowes commented on #2046
While connected to a geth node, I am able to get back a response from `w3.geth.txpool.content()`, so I am going to close this. I can't tell from a quick look at the docs, but I'd be surprised if you were able to access a geth-namespaced endpoint through the Binance API, so it may be that Binance doesn't support that particular RPC method.

[2021-06-23 16:15] #2046 closed

[2021-06-23 16:48] kclowes commented on #2040
Great, thanks @dshehbaj! You'll probably want to start in `web3/eth.py` - [here](https://github.com/ethereum/web3.py/blob/master/web3/eth.py#L462-L473) is a similar RPC method that you should be able to pretty much follow that implementation. You'll also likely need to add some formatting in `web3/_utils/method_formatters.py`. You'll also need to add some tests. Let me know if you have other quest

[2021-06-23 16:51] #2047 closed

[2021-06-23 17:00] Moras-del commented on #2039
Hello! I would like to work on this. Could you assign this task to me? :)

[2021-06-23 17:21] kclowes commented on #2039
Done! Let me know if you need any guidance! PR-ing early and often is best! Thanks!

[2021-06-23 17:24] kclowes commented on #2049
That error message indicates that you need to query for 5000 blocks or less. It looks like you're currently querying for 5120 blocks. Closing because this isn't a bug in web3py, but feel free to reopen if I'm misunderstanding something.

[2021-06-23 17:24] #2049 closed

[2021-06-23 19:36] kclowes commented on #2045
`eth-abi` (which is the library under the hood that does the encoding) is able encode a `Decimal(...)`, so I would have expected `Decimal(0.0)` to work. Any chance you can provide the bytecode or address so I can try and reproduce?

[2021-06-23 21:05] kclowes commented on #2043
Thanks for raising this! Option 2 (convert it to bytes in `wait_for_transaction_receipt`) is going to be the most straightforward I think, so I'd vote for that solution.

[2021-06-24 02:02] fahadh4ilyas commented on #2045
I'm currently using private network build using geth. So, here is the contract so I can not provide the address

[code]

[2021-06-24 10:29] rupansh opened #2050 "ERC20 token burn not working"
* Version: 5.20.0
* Python: 3.9
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

I have a contract which calls the burn function of an erc20 token.
the following function is called to do so:
`function withdraw(string memory to, uint256 value)`
Upon sending call via web3.py:
[code]

I am getting
`ValueError: {'code': -32603, 'message': 'Error: VM Exception while processing transactio

[2021-06-24 16:38] kclowes commented on #2050
[Here are the docs](https://web3py.readthedocs.io/en/stable/web3.main.html#currency-conversions) on currency conversions for web3py. I'm going to close this, but feel free to reopen if that doesn't fix your issue!

[2021-06-24 16:38] #2050 closed

[2021-06-25 02:19] KingCreate commented on #2043
Hi, am I able to give this a crack as my first issue?

[2021-06-25 04:14] dshehbaj commented on #2040
@kclowes I have opened a WIP PR and have tagged you for feedback and further directions. Thank you!

[2021-06-25 15:13] kclowes commented on #2043
@KingCreate yes please! let me know if you need more direction!

[2021-06-27 17:00] rupansh commented on #2050
Hi.
i tried Web3.toWei(10000000000000000, 'wei'), it didn't work
Web3.fromWei(1000000000000000) -> Decimal, which is incompatible with the function signature

[2021-06-27 23:46] korchix commented on #2042
if someone still have problem with this, please check this https://stackoverflow.com/a/57698471/8977328
the name of the `python3-dev` **seems to be changed**. now you have to install this one
`sudo apt install libpython3.9-dev`

[2021-06-27 23:47] korchix commented on #1726
if someone still have problem with this, please check this https://stackoverflow.com/a/57698471/8977328
the name of the `python3-dev` seems to be changed. now you have to install this one
`sudo apt install libpython3.9-dev`

[2021-06-28 14:35] rupansh commented on #2050
Fixed.
Since the function implicitly depends on the sender of the txn, the gasLimit estimation was causing the transaction to fail.
Using explicit gasLimit.

[2021-06-28 18:13] wolovim opened #2054 "EIP-1559 gas price / fee history oracles"
Pre-London (legacy) transactions rely on a `gasPrice` to be set by the user or determined by Web3.py or the client. Post-London transactions drop `gasPrice` in favor of `maxFeePerGas` and `maxPriorityFeePerGas`.

Questions:
- Will `eth_gasPrice` continue to be supported for legacy transactions as is?
   - Geth will continue to return total fees paid (tip + base)
- Should Web3.py continue to offer

[2021-06-29 04:38] programerr01 commented on #2042
@korchix  i have `libpython3.7-dev`  already installed doesn't help with the error. build is still failing

[2021-06-30 20:47] abhi3700 commented on #810
Solution:
1. Try this:
[code]
1. `pip install web3`

Your installation is done successfully.

[2021-07-01 16:23] banteg commented on #2004
It's a method available in Erigon.
https://github.com/ledgerwatch/erigon/blob/devel/cmd/rpcdaemon/README.md

[2021-07-01 17:06] kclowes commented on #2004
Ah, thanks for the clarification @banteg. Will reopen!

[2021-07-03 08:58] Celeborn2BeAlive opened #2061 "TypeError raised in wait_for_transaction_receipt when Timeout occurs and transaction_hash is a string"
Hi,
I noticed that when I pass a string to `wait_for_transaction_receipt` and a Timeout occurs then a new TypeError is raised from the following line:
https://github.com/ethereum/web3.py/blob/f13d78a6388fb4727f7ee7d11d4bd12674c67dc2/web3/eth.py#L536

The TypeError is "Unsupported type: The primitive argument must be one of: bytes,bytearray, int or bool and not str" and is due to `to_hex` not handl

[2021-07-05 03:23] ericscagnelli commented on #2043
@KingCreate @kclowes Is this one still being worked or is any help needed? I'd like to give this one a try as a first issue

Also - it looks like #2061 is a duplicate of this one

[2021-07-05 20:56] quazzuk commented on #1402
can't something similar to [this](https://github.com/ethereum/web3.py/issues/1899#issuecomment-798778261) be used?

[2021-07-05 21:12] JorgeGAGR commented on #1556
Any implementation I try whilst trying to fetch .content() raises an 1006 error for me. As above, if I try with inspect() or status() this doesn't happen. Any tips?

[2021-07-06 09:04] berar commented on #2042
Worked with python3.6, after installing libpython3.6-dev.

[2021-07-06 13:36] pavelrib opened #2062 "Possible memory leak in the library in parsing block internals"
* Version: 5.20.1
* Python: 3.7
* OS: osx/linux
* `pip freeze` output:
[code]

### What was wrong?

We're experiencing a memory increase over time in our process, that requests new blocks and parses transactions periodically.
Debugging with a `tracemalloc` module seemed to point in the direction of this library, specifically for call `w3.eth.get_block` with `full_transactions=True`.
I've made a mi

[2021-07-07 16:52] kclowes commented on #2043
@ericscagnelli I haven't seen a PR yet, so as far as I can tell, it's up for grabs. Thanks!

[2021-07-07 16:54] kclowes commented on #2061
Thanks for the report @Celeborn2BeAlive! This is a duplicate of #2043 - closing since it's already tracked there.

[2021-07-07 16:54] #2061 closed

[2021-07-07 17:03] kclowes commented on #2062
Thanks for the report @pavelrib! That is not expected. I will take a look as soon as possible, but in the meantime, if you end up tracking it down please open a PR!

[2021-07-08 08:27] Eenae opened #2063 "Bug with `geth_poa_middleware` in the case of non-existing blocks"
* Version: 5.20.1
* Python: 3.7.2
* OS: linux

`pip freeze` output:

[code]

### What was wrong?

The poa middleware formatters are applied to block contents even in the case when block is not found and `None` returned instead.

Reproducing:

[code]

Expecting `web3.exceptions.BlockNotFound` to be risen.

Instead, got:

[code]

### How can it be fixed?

A simple monkey-patch that works for me:

[c

[2021-07-08 09:13] KingCreate commented on #2043
@ericscagnelli I think I need to go back and learn some more, so feel free to take this one

[2021-07-08 17:32] kclowes commented on #2063
Thanks for the report @Eenae! Added PR #2064!

[2021-07-08 18:54] #2063 closed

[2021-07-08 19:51] fselmo opened #2065 "Support EIP-1559 params for signTransaction"
### What was wrong?
- ~~`geth` does not yet have support for the new 1559 params for the `signTransaction` RPC call~~ [Support added in 1.10.5]
- ~~Waiting on `eth-account` 1559 support~~ - [PR #115](https://github.com/ethereum/eth-account/pull/115)

### How can it be fixed?
- Once geth has support for params `maxFeePerGas` and `maxPriorityFeePerGas` for signing... and eth-account is updated to su

[2021-07-08 20:04] fselmo opened #2066 "Final 1559 major updates"
### What was wrong?
- Missing default values for `maxFeePerGas` and `maxPriorityFeePerGas` in `/web3/_utils/transactions.py`
- Our unit / core tests do not test for the new EIP-1559 params `maxFeePerGas` and `maxPriorityFeePerGas`
- Our docs still use `gasPrice` values in the examples / code samples rather than the new `maxFeePerGas` and `maxPriorityFeePerGas` fields

### How can it be fixed?
**On

[2021-07-09 12:22] Theagainmen opened #2067 "Don't understand the Eth.call data field"
* Version: latest
* Python: 3.5
* OS: win

### The issue:
Following this info: https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Eth.call

I want to use the eth_call function so I can send a fake-transaction to see what the contract returns (e.g. transaction failed, or succes for example). However I'm having a hard time using this function. The example shows data used `0x477a5c98`, wi

[2021-07-09 15:34] kclowes commented on #2067
This is a good stack overflow answer to answer your question about what call data is: https://ethereum.stackexchange.com/questions/52989/what-is-calldata

In the example you are citing, the call data defaults to the first 4 bytes of the Keccak-256 hash of the ASCII form of the signature, which is also called the function selector. In this case:
[code]

However, if you're interacting with a contrac

[2021-07-09 15:34] #2067 closed

[2021-07-09 16:06] Theagainmen commented on #2067
Thanks a lot for your quick reply @kclowes! It's slowly starting to make sense now. So it's the method ID in the function that gets encoded to 4 bytes, after that it takes the parameters from that function in HEX. That's why the ABI is needed to properly decode this data, if I'm right.

So far it works flawless!

To make transactions I interact with the Pancakerouter contract, it seems to work fla

[2021-07-09 16:37] kclowes commented on #2067
I think BSC is a PoA chain, so they add extra bytes in the calldata.

This isn't an issue with the web3py library, so I'm going to direct you to the [discord channel](https://discord.gg/GHryRvPB84). Someone can probably help you out over there! Another good option is to post on stack overflow.

[2021-07-09 21:23] Fillicia commented on #1402
I'm not usually one to give tricks but here's a small snippet you can use to subscribe with autobahn/twisted under python

[code]

You would have to manage the response under the onMessage, probably with a json.loads(payload) thingy. I'll let you all discover the rest. Also this is twisted which is similar but different to asyncio so you would have to manage it as such but it's a good start

[2021-07-11 08:15] ck-chaudhary commented on #1726
Thanks @korchix "sudo apt install libpython3.9-dev" worked for me.

[2021-07-12 16:17] #2010 closed

[2021-07-12 16:21] kclowes commented on #1835
There are a few issues open that still need some work, but initial MVP work on 1559 support has been completed. See #2065 and #2066.

[2021-07-12 16:21] #1835 closed

[2021-07-13 15:22] Uxio0 opened #2069 "Could not decode contract function call {function_identifier} return data {return_data!r} for output_types {output_types}"
* Version: 5.21.0 (detecting this since 5.20)
* Python: 3.9
* OS: linux

### What was wrong?

Previously when a contract reached a Solidity `require` the message was returned in the exception. Currently I just see the placeholders.

Errors can be seen in our library (gnosis-py) tests:
- https://github.com/gnosis/gnosis-py/pull/43
- https://github.com/gnosis/gnosis-py/pull/43/checks?check_run_id=30

[2021-07-13 15:51] fselmo commented on #2069
@Uxio0 Thanks for reporting this! Something did change in the string interpolation here near 5.20... I'm going to check if any other files were affected and I'll submit a quick fix.

[2021-07-13 16:02] josh-gree commented on #2041
Perhaps I am completely missing something but I understood this to be an `offline` method? However calling buildTransaction does in fact result in an rpc call to the node - why is this?

[2021-07-13 16:54] fselmo commented on #2069
@Uxio0  I didn't see any other affected files and I pushed a hotfix for this directly to `master` since it was quite a small change. It should be included in the next release but you can you master for now if this helps.

I'm going to close this. Feel free to re-open if you are still having issues.

[2021-07-13 18:24] fselmo commented on #2041
@josh-gree If you do not pass in a gas price to the transaction, for example, there will indeed be an RPC call to `eth_estimateGas` in order to build a dict for you with an appropriate value. This is not the same as sending a transaction. I imagine that is the call you are seeing? If not can you provide more context?

[2021-07-13 21:09] Uxio0 commented on #2069
Thanks for the quick response and fix @fselmo

[2021-07-13 23:35] fselmo opened #2070 "Async formatting and validation middlewares"
### What was wrong?
- Async support is needed for formatting and validation middlewares

### How can it be fixed?
- These middlewares are a bit intertwined at the moment. Revisit this to see if this is necessary along the way, then, update both accordingly to support async.

**Note: This is already in progress. Adding this issue to track the progress.**

[2021-07-14 11:43] cristianberbecaru opened #2071 "EIP1559 Send Transaction require to include the field: gasPrice"
Hi,

When I run this code to send an EIP 1559 transaction, it gives me the following error:

TypeError: Transaction must include these fields: {'gasPrice'}

As I know, we don't need to add gasPrice anymore.

If I add the gasPrice, then it pops:"

TypeError: Transaction must not include unrecognized fields: {'maxFeePerGas', 'maxPriorityFeePerGas'}

**Note: I'm using v5.21.0**

    nonce=w3.eth.get_

[2021-07-14 14:35] fselmo commented on #2071
@cristianberbecaru Thanks for reporting on this. We have a ticket to track it [here](https://github.com/ethereum/web3.py/issues/2065). The issue lies in `sign_transaction`. That had not yet been updated by `geth` to support the new fields. We reported this to their team and it was included in the new `geth` that was just [released](https://github.com/ethereum/go-ethereum/milestone/117?closed=1) ([

[2021-07-14 14:35] #2071 closed

[2021-07-15 03:44] LimLims opened #2074 "Python hard crash: PyEval_EvalFrameEx returned a result with an error set"
* Version: 5.19.0, 5.21.0
* Python: 3.8.9, 3.9.5
* OS: Linux, Win10
* `pip freeze` output

[code]

### What was wrong?

I have some code that causes web3 to crash python after a few minutes. It doesn't raise an exception that can be caught / debugged; it's a hard crash. Sometimes the console will output:
`PyEval_EvalFrameEx returned a result with an error set`
If I enable faulthandler, I get:
`Win

[2021-07-15 16:51] kclowes commented on #2074
Unfortunately, we don't support BSC, so I'm going to close this issue. But if you figure out what's going on, feel free to post back here.

[2021-07-15 16:51] #2074 closed

[2021-07-15 20:25] LimLims commented on #2074
I really don't think this is bsc specific. Any provider that misbehaves in such a way as to trigger an exception in this part of the code will have the same problem of exception mishandling and subsequent crash. Seems like a nasty bug -- if it was my code I'd be wanting to track it down and squash it.

[2021-07-15 20:30] kclowes commented on #2074
If you can replicate using one of the Eth clients, I'd be more than happy to take a look!

[2021-07-17 05:31] Abhishekkochar opened #2075 "Install of web3"
* Version: Window 10
* Python: 3.9
* OS: osx/linux/win
* `pip freeze` output

[code]

What is wrong?

Unable to install the web3 by running pip install web3. I was running this virtual env. It is saying that I need to install Microsoft Visual C++ 14.0 or greater is required. But the first I did install the said requirements. No resolve.

Any idea whats happening?

[2021-07-17 17:54] MEHHCOIN commented on #1661
Did you find any solution cos I'm having same issues here

[2021-07-17 20:55] michael-darlin commented on #1661
Not the solution you're looking for, but I stopped using web3.py and ported my code to NodeJS. Documentation/help for ethers.js (my preferred version) or web3.js is a lot more complete.

[2021-07-17 21:15] MEHHCOIN commented on #1661
Alright, i think I'll just i might just do the same, thank you

[2021-07-18 09:52] freaker2k7 commented on #1650
I also found out that you need to connect via http:// rather than https:// because I don't have a valid cert (as far as I see), and in http:// it works fine (slower, because every connection has to do a handshake, but works).

[2021-07-18 16:22] moda20 commented on #1738
@kclowes i am having the same error and i can't find a workaround. what is the workaround you mentioned?

[2021-07-19 15:15] Sad-Walrus opened #2076 "Bug with decode_function_input"
* Version: 5.21.0
* Python: 3.8.10
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Attempting to use decode_function_input but getting back ValueError: Could not find any function with matching selector despite pulling the exact ABI. Could be an issue with using BSC instead of ETH but it's unlikely. Error is:

Traceback (most recent call last):
  File "scratch.py", line 30, in <mod

[2021-07-19 15:26] kclowes commented on #2075
The relevant line from the error message is here:
[code]
If that doesn't fix your issue, feel free to reopen!

[2021-07-19 15:26] #2075 closed

[2021-07-19 15:34] Sad-Walrus commented on #2076
I take it back, it is a problem with contracts on the Binance Smart Chain, ETH mainnet works fine.

[2021-07-19 15:36] fselmo commented on #2076
Sounds good. I'm going to close this since this isn't a web3py issue. Feel free to open it if you believe there are outstanding web3py related errors.

[2021-07-19 15:36] #2076 closed

[2021-07-19 16:57] kclowes commented on #1661
Sorry this got missed the first time. I'm not able to replicate this, but let me know if I'm missing something. Here is what my file looks like:

[code]

@MEHHCOIN can you share the output from running `pip freeze` in your virtualenv?

[2021-07-20 03:34] kclowes opened #2077 "Add visual studio requirement for microsoft installs to troubleshooting docs"
* Version: 5.21+
* OS: win

### What was wrong?
We periodically get an issue like #2075 where a windows user can't install web3 because cytools needs Microsoft Visual C++ 14.0 or greater.

This results in a stack trace like the one shown in #2075.

### How can it be fixed?

Add a blurb in the `Troubleshooting` section of the docs that shows a genericized stack trace and the link to download Micros

[2021-07-20 04:39] santoshdvc commented on #2077
Hi,
I have created a pull request addressing the changes in the Troubleshooting docs. Please verify them and let me know if some more changes are required.

[2021-07-20 22:40] #2077 closed

[2021-07-21 15:33] chivalry123 opened #2079 "best practice to query 100 millions of contract function call"
To get the right historical data for analysis, my task actually required me to perform millions of contract function calls on an archive node. What would be the best practice for me to obtain the optimal speed? Shall i do multithreading/ asyncio / bulk query (if such thing exists?) Thanks!

[2021-07-21 17:10] chivalry123 opened #2081 "use proxy for http request web3py"
I'm currently using this method to connect to web3py

[code]

How do I enable proxy? say i have proxy at '321.123.121.123:8081'

[2021-07-21 20:10] kclowes commented on #2079
This is a question that would be better asked in the [Python Ethereum Discord](https://discord.gg/GHryRvPB84), or on StackOverflow. We generally use issues for bug reports or for people to get help with specific errors.

[2021-07-21 20:10] #2079 closed

[2021-07-21 20:18] kclowes commented on #2081
This is a question that would be better asked in the [Python Ethereum Discord](https://discord.gg/GHryRvPB84), or on StackOverflow. We generally use issues for bug reports or for people to get help with specific errors.

[2021-07-21 20:18] #2081 closed

[2021-07-22 09:10] ls-lucency commented on #1402
any updates on the implementation of subscriptions?

[2021-07-22 15:38] kclowes commented on #1402
I looked into doing this a while back, and there wasn't really a straightforward way to do it within our existing architecture. It's not on our immediate roadmap but it will probably move up in priority once async gets off the ground since there is so much interest! If anyone wants to take a crack at it, I'd be happy to review/keep things moving!

[2021-07-23 05:25] gupta437 commented on #2011
@divyanshugit Are you still working on this issue? If not I would like to work on it. Appreciate your response in advance!

[2021-07-23 12:13] joergkiesewetter opened #2084 "No Events on Arbitrum"
* Version: 5.21.0
* Python: 3.8
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

I'm trying to get the events of a contract on Arbitrum, but it is not working. When I use ```contract.events.MyEvent().createFilter()``` the library says 'filter not found'. When I use ```w3.eth.filter()``` the result is just empty.

A working example is
[code]

When I try to get the same events on JavaSc

[2021-07-23 17:24] kclowes commented on #2011
@gupta437 feel free to pick it up since there has been no PR in over a month. I'll remove @divyanshugit from the assignees. Let us know if you have questions!

[2021-07-23 17:58] kclowes commented on #2084
Thanks for such a nice bug report, @joergkiesewetter. While we don't support arbitrum explicitly, I was able to replicate this. I added `local_filter_middleware` and was able to get some filter responses from that. That might be a good workaround for now. So:

[code]
I also made the block range smaller when I was testing. Sometimes people get `filter not found` errors if the block range is too big

[2021-07-23 21:06] gupta437 commented on #2011
@kclowes Thankyou! I will pick this up.

[2021-07-24 09:27] freaker2k7 opened #2086 "IPC Connection refused"
* Version: 5.21.0
* Python: 3.6.4
* OS: docker/linux

[code]

### IPC Connection refused

I have a node which I run using docker (it's now synced and running):

[code]

I also ran: `chmod 777 /mnt/nvme/data/bsc/.ethereum /mnt/nvme/data/bsc/.ethereum/geth.ipc` because the docker container created all these files under his root.

So I have the following:

[code]

When I try to connect to it and even

[2021-07-25 02:33] k128 opened #2087 "Snakecase modify_transaction not available"
* Version: 5.1.7
* Python: 3.8
* OS: win
* `pip freeze` output

[code]

### What was wrong?
Despite the documentation saying that modifyTransaction is deprecated in favor of modify_transaction, modify_transaction is unavailable.
[code]

[2021-07-25 04:05] k128 commented on #2087
Same issue with get_transaction_receipt.  Not sure if this is intentional or if I'm missing something.

[2021-07-25 07:13] 0xrishabh commented on #2011
@kclowes can't we replace every live address with `address_of_account` or `address`?

[2021-07-25 07:15] 0xrishabh commented on #2004
@kclowes Do you have any suggestions on how to start working on this?

[2021-07-25 17:59] fselmo commented on #2087
Hey @k128 . These are methods and thus need to have parentheses at the end. But also, you need to pass the transaction hash and the values to be modified. Please consult the docs for examples on each method:

https://web3py.readthedocs.io/en/latest/web3.eth.html?highlight=modify_transaction#web3.eth.Eth.modify_transaction

[2021-07-25 17:59] #2087 closed

[2021-07-26 16:33] abdulqgg commented on #2043
Could i give this a go as my first issue?

[2021-07-26 17:00] fselmo commented on #2043
Hey @abdulqgg. Sorry about that, looks like this was picked up and changes were merged as part of #2068 but we forgot to close it. I'm going to close this but I'd still encourage looking for a `Good First Issue` tag or anything else that seems interesting to you if you are still interested in contributing. Thanks for the interest!

[2021-07-26 17:00] #2043 closed

[2021-07-26 17:06] abdulqgg commented on #2011
Hey could i tackle this for my first issue? Thanks

[2021-07-26 17:11] fselmo commented on #2011
Thanks for the interest, @abdulqgg. Looks like @gupta437 mentioned working on this as of 3 days ago. I would suggest a conversation here with @gupta437 to see how far along they are in order to avoid duplicate work.

[2021-07-26 17:16] gupta437 commented on #2011
@abdulqgg I also picked this up as my first issue.  I am still working on it. I will update you if this would be free to pick up.

[2021-07-26 17:18] fselmo commented on #2011
@gupta437 I went ahead and officially assigned it to you to avoid confusion 👍

[2021-07-26 18:49] Theagainmen opened #2088 "HTTP 503 websocket error web3"
* Version: 5.21.0
* Python: 3.7
* OS: win

### What was wrong?
After running web3 some time, I get the following error:
[code]

With the following piece of code:
[code]
I'm wondering, could it be that I'm exceeding data rate limits or something? It says 10K/5min rate limit, do they mean 10k requests every 5 minutes max?

Also could it be the websocket stays open too long, for like after a day, it

[2021-07-26 22:49] fselmo commented on #2088
This seems very much related to the node you are connecting to. There seems to be a few different scenarios where the web socket connection may be terminated. Not a direct resource for the node you are connecting to but from the Binance docs [here](https://binance-docs.github.io/apidocs/delivery/en/#basis-market-data):

- A single [websocket] connection is only valid for 24 hours; expect to be dis

[2021-07-26 22:49] #2088 closed

[2021-07-27 08:55] Theagainmen commented on #2088
Thanks and understandable! The node was indeed longer connected than 24 hours, I thought maybe closing and opening the connection manually for when I need it, but I didn't find anything other than `isConnected()`.

[2021-07-28 03:23] hoangduyloc commented on #948
@araa47 @pipermerriam @carver
Hello, I'm trying to make the application from python in MAC, however, It can be successful due to web3 lib, any of you solve this problem? Can you show me some guides, I really appreciate that.

[2021-07-29 00:11] Jay54520 opened #2089 "How to make IPC provider async?"
* Version: 5.21.0
* Python: 3.5
* OS: linux

### What was wrong?
The socket of IPC is blocking because you don't [setblockking](https://docs.python.org/3/library/socket.html#socket.socket.setblocking) at https://github.com/ethereum/web3.py/blob/f4add4643f1d841c2ed59706a6a9659328b18304/web3/providers/ipc.py#L42 , and there is a lock of thread, so multiple threads can't work as expected.

[2021-07-29 03:11] freaker2k7 opened #2090 "Feature Request: Websocket Pool"
Version: latest
Python: any
OS: osx/linux

[code]

### Problem with concurrent connections

I'm using the threading (pool) library in my code.
When there're several parallel requests to my local ("fast" synced) node, I get:

[code]

### Let's do a pool :)

Following [when "cannot call recv while another coroutine is already waiting for the next message" will happen](https://github.com/aaugustin/we

[2021-07-29 15:03] karlb commented on #1677
Did anything change with regards to this problem?

The workaround mentioned by @marcgarreau changes the chain id used by web3, but I would prefer to change the one used by the contracts, since having zero as the chain_id is not ideal (with zero being the default value for unset solidity variables).

[2021-07-29 18:27] ebrahimkarimi opened #2091 "Web3.eth.signTransaction error missing gasPrice"
* Version: x.x.x
* Python: 3.6
* OS: linux
* `pip freeze` output
aiohttp==3.7.4.post0
amqp==5.0.5
appdirs==1.4.3
apt-xapian-index==0.49
apturl==0.5.2
asgiref==3.3.0
asn1crypto==0.24.0
astroid==2.5.1
async-timeout==3.0.1
attrs==19.3.0
base58==2.1.0
bcrypt==3.1.7
billiard==3.6.3.0
bitarray==1.2.2
blinker==1.4
Brlapi==0.7.0
cached-property==1.5.1
catfish==1.4.13
celery==5.0.5
certifi==2019.11.28
char

[2021-07-29 19:16] fselmo commented on #2091
hey @ebrahimkarimi, thanks for reaching out. This has been addressed in PR #2065. This has been merged and will be out in a release early next week. In the meantime you can pull in the latest `master` branch from the repository here and `pip install -U path/to/local/web3` if that helps you get past this hump for now.

Keep in mind if you do install from the current `master` branch, you will need t

[2021-07-29 19:16] #2091 closed

[2021-07-29 19:26] fselmo commented on #2091
@ebrahimkarimi I updated my comment above with an easier way of installing from `master`. Hope this helps.

[2021-07-30 13:43] HameedFawwaz commented on #1485
I am having a really weird issue. About a month ago I created a PairCreated event in web3.py and I used geth, and that worked. I try it about a month later using both HTTP and WS infura, and it returns an empty array. I believed that I also tried it in geth a few weeks ago and it also returned an empty array.

`
web3 = Web3(Web3.WebsocketProvider("wss://mainnet.infura.io/ws/v3/eb8d899d09ac4fd6b440

[2021-07-30 15:19] fselmo commented on #1991
Closing in favor of #2070 which duplicates this

[2021-07-30 15:19] #1991 closed

[2021-07-30 16:25] mhmehdi commented on #1578
I have the same problem and I couldn't find a solution even tried [this](https://aka.ms/vs/16/release/VC_redist.x64.exe)

[2021-07-30 18:23] Rnamita commented on #1628
I would like to take this up if the issue is still open.

[2021-07-31 13:51] mike6649 commented on #2038
Hi! 👋 I would like to help work on this. Please assign this task to me and let me know if there are any things I should pay attention to. Thanks!

[2021-08-01 07:25] daniaoren commented on #1726
Thanks! This works for me and really saved my day.

[2021-08-01 11:28] MdSamsuzzohaShayon commented on #531
You may need to install those packages

[code]

[2021-08-01 11:28] MdSamsuzzohaShayon commented on #1811
you may need to install those
[code]

[2021-08-01 11:42] MdSamsuzzohaShayon commented on #1391
you may need to install

[code]

[2021-08-02 15:44] kclowes commented on #2086
We don't support BSC, so I don't know the ins and outs of running a BSC node in a docker container. However, here are [the Geth docs](https://geth.ethereum.org/docs/install-and-build/installing-geth#run-inside-docker-container) about running inside a Docker container. And from [this stack overflow question](https://stackoverflow.com/questions/44029035/ipc-communication-between-docker-containers) i

[2021-08-02 15:44] #2086 closed

[2021-08-02 15:47] kclowes commented on #2004
@0xrishabh [here is a PR](https://github.com/ethereum/web3.py/pull/2051) that was merged recently for another RPC method that we just added. That should provide a good starting point.

[2021-08-02 15:51] #2089 closed

[2021-08-02 16:10] kclowes commented on #2065
Merged with #2082

[2021-08-02 16:10] #2065 closed

[2021-08-02 16:51] kclowes commented on #1628
Yep, feel free to make a PR! Thanks @Rnamita!

[2021-08-02 20:16] fselmo commented on #2091
@ebrahimkarimi just letting you know that web3.py version `5.22.0` was released this morning with support for signing transactions with EIP-1559 transaction params

[2021-08-03 11:50] nimcon commented on #1556
Same issue here. Using Web3.py to connect to Geth on a local node via IPC
```w3 = Web3(Web3.IPCProvider("/home/ethereum/.ethereum/geth.ipc"))```
Running ```w3.geth.txpool.content()``` fails with

[code]

Other transaction pool functions such as ```w3.geth.txpool.inspect()``` and ```w3.geth.txpool.status()``` execute without error. Also, attaching to the node directly works fine
[code]

[2021-08-03 17:22] KaiRo-at opened #2095 "Provide constants for e.g. the zero address and max uint256"
* Version: 5.22.0
* Python: 3.8
* OS: linux

### What was wrong?

If I need to compare an address returned from a contract or variable to the zero address or want to e.g. use the maximum allowed uint256, I need to define those myself.

### How can it be fixed?

Provide values like this as constants from Web3.py - see also what Ethers has available at https://docs.ethers.io/v5/api/utils/constants/

[2021-08-04 15:46] kclowes commented on #2095
Sure, I like that idea. On first glance, what I would do is make a new file called `constants.py` in the `web3/` dir and then go search the codebase for the hard-coded constants and replace them. Docs should be added too.

[2021-08-04 17:55] kclowes commented on #1179
Old issue cleanup - I believe this was fixed in v5.0.0a8.

[2021-08-04 17:55] #1179 closed

[2021-08-04 20:16] kclowes commented on #1556
Thanks for digging into this @jimtje.

@nimcon or @JorgeGAGR - have you tried with the workaround that @jimtje found increasing the `websocket_timeout` and adding `max_size`?
`w3 = Web3(WebsocketProvider("ws://127.0.0.1:8546", websocket_timeout=360, websocket_kwargs={"max_size": 650000000}))`

[2021-08-04 23:42] KaiRo-at commented on #2095
Sounds great!
I was looking at code my colleagues did with Ethers and found there's a constant there for the zero address, and told them to use that, and then thought about how I always define this in my Python code somewhere and wondered if Web3.py has that to refer to as well, so I looked for it and when I didn't find it, I thought I probably should file this as an enhancement request. ;-)

[2021-08-04 23:50] maannajjar commented on #2091
Hi @fselmo, I'm testing EIP-1559 transaction using version 5.22.0. But after signing the transaction, when I send it using send_transaction, I get the following error:
`ValueError: {'code': -32000, 'message': 'invalid sender'}`

However, if I try to sign and send as legacy transaction (by adding `gasPrice` and removing `maxFeePerGas` & `maxPriorityFeePerGas`), I don't get this error and the transa

[2021-08-05 05:52] fselmo commented on #2091
@maannajjar if you are manually signing a transaction using your private key you will need to [send it via `send_raw_transaction()`](https://web3py.readthedocs.io/en/latest/web3.eth.html?highlight=send_raw#web3.eth.Eth.send_raw_transaction), not `send_transaction()`.

Please try to use `send_raw_transaction()` as in the example above and update here if the problem still persists.

[2021-08-05 05:59] maannajjar commented on #2091
@fselmo my bad, I meant to say I'm using `send_raw_transaction` with my private key. I'm not using `send_transaction`. It works with signed legacy transaction. But when I do just that one change: replace `gasPrice` with `maxFeePerGas` & `maxPriorityFeePerGas`in `sign_transaction` (I'm adding type: 2 also). I get that error when calling `send_raw_transaction`.

[2021-08-05 15:27] fselmo commented on #2091
@maannajjar hmm out of curiosity are you providing the `chainId` when signing as well?

[2021-08-05 15:52] Uxio0 commented on #2069
Hi @fselmo , I've just tried the new release and there's still different behaviour. Revert messages are not decoded. For example, now I get:

`Could not decode contract function call execTransaction return data HexBytes('0x08c379a0000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000195369676e617475726573206461746120746f6f207

[2021-08-05 15:56] Uxio0 commented on #2069
I think the issue is the `!r` in the string interpolation:

[code]

[code]

[2021-08-05 16:06] ebrahimkarimi commented on #2091
Actually missing `chainId` was my problem as well, it wasn't documented

[2021-08-05 18:53] maannajjar commented on #2091
@fselmo you were right, I had the chainId missing. I just added it and it worked. Thanks for the help!

[2021-08-05 23:27] fselmo commented on #2069
Hey @Uxio0 You are right that we can get the bytes returned without the `!r` (repr). Ideally we'd like to extract a better message out of this but putting the return data in the exception for now seems like a happy medium with all the possible parsing that might need to take place. I'm assuming that's what you are trying to do on your end?

If we were to return this for now, is this what you are l

[2021-08-06 08:53] CongZhengithub opened #2097 "The method eth_signTypedData does not exist/is not available"
Warning: Failed to derive default API key credentials: {'code': -32601, 'message': 'The method eth_signTypedData does not exist/is not available'}
Traceback (most recent call last):
  File "/Users/zhengcong/Documents/hkust/financial math/gitlab_py/apps/DataPlatform/MarketDataService/DYDX/dydxDataWss.py", line 25, in <module>
    onboarding_response = client.onboarding.create_user(
  File "/usr/loc

[2021-08-06 11:41] Uxio0 commented on #2069
That's right

Yes, that would work

Yes, we have some logic to check for some messages inside the error string and return proper exceptions. I would be also ok if you pass the `HexBytes` as an argument of the exception, so I can extract it using `exception.args[x]`, but removing `!r` would make everything like before and our code will work again.

Thanks for your quick response and understanding!

[2021-08-06 15:22] kclowes commented on #2097
It looks like the node you're using doesn't have `eth_signTypedData` available. What kind of node are you connected to?

[2021-08-06 15:55] CongZhengithub commented on #2097
I am using infura node. Do I have any other choise? @kclowes  Thank you.

[2021-08-06 17:06] kclowes commented on #2097
You have lots of choices :) Here are some [docs](https://web3py.readthedocs.io/en/stable/node.html) on choosing a node.

After some digging, it looks like infura doesn't support eth_signTypedData even though their docs say they do. See this question: https://community.infura.io/t/eth-signtypeddata-is-currently-working/2626/3. From the dydx docs [here](https://community.infura.io/t/eth-signtypeddat

[2021-08-06 17:07] #2097 closed

[2021-08-06 18:50] fselmo commented on #2069
@Uxio0 sounds good... this was a breaking change that was never intended so thanks for the feedback. The only reason for the change (adding `!r`) was due to some dependency updates that led to linting errors. [This section](https://www.python.org/dev/peps/pep-0498/#no-binary-f-strings) outlines why this is bad practice and one reason why this will eventually change in a future major release.

We a

[2021-08-06 18:50] #2069 closed

[2021-08-08 11:34] Uxio0 commented on #2069
Good to know! I was not aware.

Nice! Thank you for everything. Cheers!

[2021-08-09 09:05] TnzGit opened #2101 "EIP1559 Style Tx gets TypeError: Transaction must include these fields: {'gasPrice'}"
* Version: 5.22.0
* Python: 3.8
* OS: win
* Geth: 1.10.6

I'm trying to test with the new 1559 style tx but have encountered the below issue where it is still wanting me to include a 'gasPrice' field.

simplified relevant code section:

[code]

output:
[code]

I have tried building the tx with/without either or both of the below two fields but I kept getting the same error:

          maxFeePerGas

[2021-08-09 09:57] banteg commented on #2101
I fixed this in #2099, can you give it a try? (`gh pr checkout 2099`)

[2021-08-09 10:00] banteg commented on #2054
I added `eth_maxPriorityFeePerGas` in #2100. Tested with `devel` version of Erigon.

[2021-08-09 11:05] TnzGit commented on #2101
Thanks for replying. I'm not too familiar with the github cli and my production environment is offline. Is there anyway to include #2099 without Internet? I don't need this fixed urgently so I can wait till the next update comes out get install it via a .whl file.

I'll test #2099 in an online environment and get back to you anyway.

[2021-08-09 11:29] TnzGit commented on #2101
I tried editing the web3/middleware/gas_price_strategy.py file with the changes from #2099 directly and tested. However I am still getting the same issue.

Actually looking into the stack trace now, am I right to assume that the 'eth_account' is the actual culprit here not web3?

[2021-08-09 12:22] banteg commented on #2101
Can you check if your tx included `{'type': 2}` field?

[2021-08-09 13:00] TnzGit commented on #2101
That's it! Thank you so much! I wonder where/how did you know that? I couldn't find much info on eth-account regarding 1559 apart from the release notes.

[2021-08-09 13:00] #2101 closed

[2021-08-09 20:35] kclowes commented on #2039
Fixed in #2051

[2021-08-09 20:35] #2039 closed

[2021-08-10 16:42] fselmo commented on #2038
Closed by merging PR #2094

[2021-08-10 16:42] #2038 closed

[2021-08-11 16:49] kclowes commented on #1572
Looks like this was fixed in #1790

[2021-08-11 16:49] #1572 closed

[2021-08-11 16:56] kclowes opened #2102 "Remove Parity/OpenEthereum integration tests"
### What was wrong?

We have been ignoring our old Parity Integration tests since the URL to the Parity/OE binary broke a few months ago, and OpenEthereum is no longer supported since the London hard fork.

### How can it be fixed?

Remove all Parity Integration tests and references to them.

[2021-08-12 20:47] fselmo commented on #2069
@Uxio0 fyi, web3 v5.23.0 was just released and includes this change

[2021-08-13 05:56] enthusiastics opened #2106 "use web3py to simulate buy token approve sell token to avoid being scammed"
I have been scammed by some of the web3 contracts, where I can buy it from pancake swap,
but the approve function is written in a way such that it does not take effect. I'm the only one in the world who is scammed by that token, the scammer is 0x608756c184A0723077B0c10F97f4D054c9eE1C0F (in BSC network) he had created a lot of such tokens one of which i accidentally buy.

So to further avoid being

[2021-08-15 02:50] miracle2k commented on #1629
For anyone struggling here, applying the patch from #1484 works for me.

[2021-08-16 14:43] ernestosperanza commented on #2095
Hello, I'm interested in working on this issue and contribute to the project, let me know if I can help.
Thanks!

[2021-08-16 22:24] cryptoevrial opened #2107 "Syntax error when calling a method 'from' from class 'web3.datastructures.AttributeDict'"
* Version: 5.23.0
* Python: 3.6
* OS: linux
* IDE: PyCharm

**What was wrong?**

* The code which produced the error

from web3 import Web3
w3 = Web3(Web3.HTTPProvider('https://mainnet.infura.io/v3/811ec3f711634180b065f03510code'))
tx = '0xd9fea5d2eb47d9c7c35fe709eb53afca546a41d2724e84d5b24187e4b6c7382c'
print(w3.eth.get_transaction(tx).from)

* The full output of the error
File "/Users/d/PycharmP

[2021-08-17 00:40] k128 commented on #2087
fselmo, in python, object.method returns a method object if it exists.  For example:
`>>> w3.eth.modifyTransaction
<bound method Eth.modifyTransaction of <web3.eth.Eth object at 0x000001E8D78483A0>>`

The example above demonstrates that the object w3 has no method called modify_transaction, which is the issue.

[2021-08-17 04:16] fselmo commented on #2087
@k128 Ah yep! You are absolutely right that should not be the expected result here. Looks like these changes came in at [`5.18.0`](﻿﻿https://web3py.readthedocs.io/en/stable/releases.html#v5-18-0-2021-04-08) and you are at `5.17.0` though based on your pip freeze. You may have caught non-ideal messaging between versions. Any chance you can update web3 to the latest?

[2021-08-17 15:26] kclowes commented on #2107
I think the problem is that `from` is a reserved word, so you can't call it using the dot notation. You could add some middleware to convert `from` to `_from` or something if you need to access it via dot notation, or just use the regular `tx['from']`. I'm going to close because I don't think it's worth adding this middleware/formatter to the main library, but could be convinced if you feel strong

[2021-08-17 15:26] #2107 closed

[2021-08-17 17:32] cryptoevrial commented on #2107
Yes, tx['from'] doing well for me! Thank you a lot!

[2021-08-17 22:19] k128 commented on #2087
Ok, updating to the lastest version seems to have fixed the issue.  Thanks!

[2021-08-17 22:39] k128 opened #2108 "ExtraDataLengthError using modify_transaction on Polygon (POS)"
* Version: 5.2.3
* Python: 3.9.2
* OS: win
* `pip freeze` output

[code]

### What was wrong?

When attempting to modify a transaction to increase the gasPrice, I get an ExtraDataLengthError.

Pseudo-code setup - no problems here:
[code]

Code which produces the error:
`w3.eth.modify_transaction(hash,gasPrice=newGas)`

Error:
[code]

As can be seen above, I am connected to Matic/Polygon which is P

[2021-08-18 00:04] k128 commented on #2108
After further exploration, my guess is that this has to do with send_transaction vs send_raw_transaction, since modifying the transaction should require resigning it.  If this is the case, then my question is how to sign and modify the transaction when using local (instead of hosted) keys.  Also, if that's what is going on, then the error message is very misleading.

[2021-08-18 05:45] smishy05 commented on #2095
Hey there! I am interested in working on this issue. Please let me know if I can contribute.
Many thanks!

[2021-08-18 06:35] smishy05 commented on #1648
Hey there, @carver ! Is this issue still open? I would love to contribute to this. Please let me know.
Thanks!

[2021-08-18 15:34] kclowes commented on #2108
We don't support Matic/Polygon, so I'm going to close this but [here](https://eth-account.readthedocs.io/en/stable/eth_account.html#eth_account.account.Account.sign_transaction) is the documentation about signing with local keys. To access that method, you can use `w3.eth.account.sign_transaction(...)`

[2021-08-18 15:34] #2108 closed

[2021-08-18 15:35] kclowes commented on #2095
It looks like @ernestosperanza got there first, @smishy05. But if there isn't a PR in the next few days, feel free to pick it up. Thanks for the interest!

[2021-08-18 15:41] k128 commented on #2108
Okay.  Can I request that support be added for Matic/Polygon?  I've used web3 a lot on Polygon without issue (just this one which I'm not sure is Polygon-specific), so it should be pretty easy to support.

[2021-08-18 15:58] kclowes commented on #2108
My _guess_ is that it is Polygon-specific, but that may not be the case. You can always write some custom middleware to handle that case if you track it down. We have a lot of other features we want to tackle before we'd put something like this on our priority list, but request noted :)

[2021-08-18 21:14] ernestosperanza commented on #2095
Yes sorry, it's my first issue. It might take some time but I am working on it.

[2021-08-19 01:25] smishy05 commented on #2095
@kclowes Thanks for the reply! Sounds fair enough!

@ernestosperanza No issues! Good luck!

[2021-08-19 01:46] smishy05 commented on #1729
Hey there @kclowes ! Has this issue been resolved? If no, then I would like to have a go at it?
Many thanks!

[2021-08-19 15:37] kclowes commented on #1729
@smishy05 It would be great if you wanted to have a go! Let me know if you have questions. Thanks!

[2021-08-19 20:34] TheAsouka commented on #1714
Hey @ShubhamKarala be carefull you are exposing a privatekey here. Someone could have stolen your funds ;)

[2021-08-20 19:40] TheAsouka opened #2112 "TypeError: Address must be provided as a string. But it's already a string"
* Version: 5.21.0
* Python: 3.9.6
* OS: macOS Mojave

Hi web3 community !

I've an issue using web3.py library. I'm trying to interact with a deployed smart contract on the Polygon (layer2) network.

Here is my python code :

[code]

I don't understand because acct.address is a string (my public address from my privatekey) 20 bytes long (without "Ox" as prefix).

There is my solidity code :

[code

[2021-08-23 05:31] smishy05 commented on #1729
Thanks a lot for the reply! Yup, I will let you know if I face any issues.

[2021-08-23 20:07] programerr01 opened #2116 "can web3 be used to buy smart contract a.k.a tokens"

[2021-08-25 16:28] fselmo commented on #2116
Hey @programerr01, this doesn't seem to be an issue. I'd encourage you to join us at the [Ethereum Python Community Discord](https://discord.com/invite/9zk7snTfWe) if you have any questions about usage.

[2021-08-25 16:28] #2116 closed

[2021-08-25 16:33] kclowes commented on #2112
I suspect what's happening is the `defaultAccount` is being filled in in some transaction params automagically, and it expects an address string, but it's getting a `LocalAccount` object instead. Try setting `web3.eth.defaultAccount = acct.address` and see if that fixes the issue.

[2021-08-25 18:52] cstampar opened #2119 "Issue importing Web3 from web3 in Google Colab"
* Version: latest installed when calling pip install
* Python: 3.7
* OSX

[code]

Tried to install web3 on Google Colab. Then ran "import web3 from Web3" and it tells me that web3 requires jsonschema=3.2.0 which i have confirmed i have installed in the directory it says its looking for it in (dist-packages). All it finds is an older version.

Not sure why its not seeing the version of jsonschema t

[2021-08-26 16:59] #2119 closed, assigned to nobody

[2021-08-27 04:46] ctycode opened #2120 "contract.functions call problem"
* Version: 5.23.0
* Python: 3.7
* OS: osx

### What was wrong?

Hi,I have a question about the call contract.
[code]
When I call it with web3py：

[code]
input this:

[code]

So what did I do wrong?

[2021-08-27 08:39] #2120 closed, assigned to nobody

[2021-08-27 14:23] ramgos opened #2121 "Issue using AsyncHTTPProvider"
* Version: 5.23.0
* Python: 3.7.9
* OS: win
* `pip freeze` output

[code]

I used Ganache CLI v6.12.2 (ganache-core: 2.13.2) for the local ethereum provider
Instantiation: `ganache-cli`

### What was wrong?

I was trying to make a simple program to print the coinbase:
[code]
When I run the code, I get the following error:
[code]
It seems despite using an async http provider, the manager still uses

[2021-08-27 17:41] #2121 closed, assigned to nobody

[2021-08-28 11:42] smishy05 commented on #1648
Hey @carver and @kclowes !

I have gone through the `contract.py` and I was able regenerate the error.

[code]

This is the code that I used for getting the error. I have migrated the contract using Truffle and used Ganache for deployment (I think this information is superfluous). Hence, I wanted to ask if this code is fine?

What should be the parameter that would indicate if I have resolved the

[2021-08-28 15:40] Sahma61 commented on #1822
Hey, @kclowes I would like to take up this issue if it's still open.

[2021-08-28 22:27] savvn001 commented on #2090
Did you ever write a solution for this? I'm in the same boat and have an app where it makes concurrent websocket calls from different threads, and am running into the same RuntimeError because of this. I was hoping this project would sort of 'queue' the calls when multiple are made, or something like that.

[2021-08-30 03:24] smishy05 commented on #1648
Hi @carver and @kclowes !

I have opened a PR and I used # 2 for solving this issue. I have put the reason for not using # 1 for solving the issue. Please let me know if I have gone wrong somewhere.

Hoping to hear from you soon,

Many thanks!

[2021-08-30 04:23] emrahsariboz opened #2125 "web3.eth.get_block()"
* Version:5.23.1
* Python: 3.8.10
* OS: linux
* `pip freeze` output

### What was wrong?

I get the following error when I the following command

* The code which produced the error
`w3.eth.get_block(71)`
* The full output of the error

[code]

* What type of node you were connecting to.

I am connecting local geth node through IPC.

### How can it be fixed?

I am not sure how it can be fixed.

[2021-08-30 10:01] matthewalan0 opened #2126 "Error " KeyError: 'anonymous' " when create filter"
* Version: 5.23.1
* Python: 3.7
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

[code]

running this gives the error

[code]

CA is '0x709102921812B3276A65092Fe79eDfc76c4D4AFe', it's swap factory of cherryswap(OKEXCHAIN).

[2021-08-30 12:54] Uxio0 commented on #2069
Thank you very much @fselmo!

[2021-08-30 13:09] emrahsariboz commented on #2125
By the way, same error occurs even when I call `w3.eth.get_block('recent')`

[2021-08-30 15:46] kclowes commented on #1822
Great! It is still open, thanks! We encourage collaborators to open PRs early and commit often so you don't spend too much effort going down the wrong path.

[2021-08-30 16:52] kclowes commented on #2125
It looks like you're attached to a PoA chain. If so, the relevant part of the error message is here:
`Refer to http://web3py.readthedocs.io/en/stable/middleware.html#geth-style-proof-of-authority for more details`

Yeah, I would still expect the same error to be thrown if you don't have the middleware installed. Another thing to note is that `recent` isn't a valid block identifier. You'll want to

[2021-08-30 16:52] #2125 closed

[2021-08-31 01:39] rdxpt commented on #554
hey @iteratelance, @greese, running into the same issue, and I do have a basic question on how to resolve this.

Here is what I did so far:

1. Added all Python packages needed (ethereum, web3, py-solc, etc.) on an EC2 instance running Ubuntu 18.04
2. Ran virtualenv on the same EC2 instance and used pip to install the same packages mentioned above
3. Created an archive that contains all the necess

[2021-09-01 20:21] savvn001 commented on #2090
Ok well if anyone's interested, I've botched together a solution using futures.ThreadPoolExecutor, which submits tasks everytime a request is made, to one of N number of WebsocketProviders which are initialized beforehand, a bit like the suggested solution. Have a bit more testing to do, but it seems to work ok so far, I've proven you can submit multiple WS requests from different threads and it s

[2021-09-01 22:08] bitcoin1000k opened #2128 "I would like to know how to add Input Data when sending ERC20 tokens."
* Version: Last version
* Python: 3.7
* OS: win
* `pip freeze` output

Adding data when sending erc20 tokens causes an error.

How can I solve this?

This is example. https://etherscan.io/tx/0xab6c66b44b58b57358336409458258ee249cba2d989b75f28463c7e6c8ae5ecf

[code]

### What was wrong?

Traceback (most recent call last):
  File "C:/Users/prog/PycharmProjects/untitled/web3/web3_test.py", line 23, i

[2021-09-02 15:24] kclowes commented on #2128
The data should be added automatically. Try without the data key/value. I'm going to close, but if that doesn't solve the problem, feel free to reopen!

[2021-09-02 19:04] tsudmi opened #2129 "Support get_logs in AsyncHTTPProvider"
Hi,

Fetching the logs (especially if it's a long list) is one of the most time-consuming operations.  It would be great to add support for executing `get_logs` using `AsyncHTTPProvider`.

Thanks!

[2021-09-02 19:07] kclowes commented on #2129
Thanks for the request! It's near the top of our priority list!

[2021-09-02 23:17] jimtje commented on #1556
Yeah I can't exactly be sure what the exact issue is here @JorgeGAGR since error 1006 indicates a problem with the websocket connection itself and not necessarily with the command you're trying to call. Not sure what sort of setup you have running but the code still works for me, now on Python 3.9.5 and on the latest release of web3.py. If you're running the node, can you up the verbosity on loggi

[2021-09-03 16:36] kclowes opened #2130 "Support for Consensus Engine Methods"
### What was wrong?

This isn't ready for work yet, but wanted start tracking.

There are some new consensus methods coming down the pipe prefixed with `engine_`. Here is a preliminary list: https://hackmd.io/@n0ble/consensus_api_design_space. It will probably make sense to make each method its own issue or group a few methods together for implementation so the PR isn't massive.

### How can it be

[2021-09-05 15:04] rockkoca commented on #832
It's great! But, if you increase the n to 400+ for stress function, it might hang forever.

[2021-09-05 17:49] mapapuche opened #2132 "How to set Gas limit ?"
Hello, i have a little question about gas.

On my code i use it to set the gas gwei
[code]
But i'm paying at fees because of "Gas Limit" i think :
![image](https://user-images.githubusercontent.com/64193148/132136338-926579c8-e58d-4a74-84de-4756f4b70cd8.png)

When i check other people doing exaclty same transaction than me they have 10x less fees than me (same function called)
![image](https://use

[2021-09-06 13:56] fanofthis opened #2133 "Can't install web3 on Windows 10"
* Version: x.x.x
* Python: 3.9
* OS: win10
* `pip freeze` output

[code]

[2021-09-06 20:14] jhb10c opened #2134 "Issue with buildTranscaction"
* Version: 5.23.1
* Python: 3.8.8
* OS: osx
* `pip freeze` output

[code]

[2021-09-07 05:05] kclowes commented on #2133
The relevant line in the error message is: `Microsoft Visual C++ 14.0 is required. Get it with "Build Tools for Visual Studio": https://visualstudio.microsoft.com/downloads/`

See https://web3py.readthedocs.io/en/stable/troubleshooting.html#why-am-i-getting-visual-c-or-cython-not-installed-error.

[2021-09-07 05:05] #2133 closed

[2021-09-07 13:58] kclowes commented on #2134
@jhb10c what's the error message you're seeing with `buildTransaction`?

[2021-09-08 17:24] helgridly opened #2137 "Improving throughput of calls to w3.eth.filter"
* Version: 5.23.1
* Python: 3.9.6
* OS: Ubuntu 20.04
* 16 cores (this will become apparent later)

This isn't an issue, it's a discussion :)

## Motivation

I have a list of contracts that I want to get all events for. Here's a rough approximation of my code: it runs a filter and walks through all blocks from the contract creation block to some end block.

[code]

(In practice my code is more comp

[2021-09-08 17:41] fselmo commented on #2132
@mapapuche This isn't an issue with web3.py. The best avenue for asking usage questions is asking in the [discord server](https://discord.gg/9zk7snTfWe) or [gitter](https://gitter.im/ethereum/web3.py). I'd also suggest getting familiar with BSC transaction setup and sending in particular.

The discord is a great community of people helping people and is a more appropriate method of asking question

[2021-09-08 17:41] #2132 closed

[2021-09-08 18:32] fselmo commented on #2106
Hey @enthusiastics this is a great question to ask in the [discord](https://discord.gg/9zk7snTfWe). It doesn't seem like an inherent issue with the web3.py library. I or others would be glad to help out if you reach out there. If you feel this is an issue with web3.py and I misunderstood, please feel free to reopen this issue! Cheers.

[2021-09-08 18:32] #2106 closed

[2021-09-08 22:06] PaulinaParangerHr opened #2139 "Gecocoin.ad"

[2021-09-09 20:07] oocrypticoo opened #2140 "EIP-2930 accessList structure discrepancy"
Unable to signTransactions with accessList in Web3.py 5.23.0

[2021-09-09 20:43] fselmo commented on #2140
@oocrypticoo did you try explicitly setting the `type` for the transaction to `'0x1'` or `1` in the transaction parameters? This is the appropriate transaction type for access list transactions. Access lists can also be signed with type `'0x2'` transactions but those would involve using EIP-1559 fee values (`maxFeePerGas` and `maxPriorityFeePerGas`) instead of the `gasPrice`.

Can you check if thi

[2021-09-09 21:16] oocrypticoo commented on #2140
That doesn't work
I'll just paste my tx_details

{
'value': 0,
 'chainId': 1,
 'nonce': 33,
 'from': '0x00000000000000000000000000000',
 'gas': 696969,
 'gasPrice': 148241644394,
 'type': '0x1',
 'accessList': [{'address': '0x5a98fcbea516cf06857215779fd812ca3bef1b32',
   'storageKeys': []},
  {'address': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2', 'storageKeys': []},
  {'address': '0x454f11d58e2

[2021-09-09 21:53] fselmo commented on #2140
@oocrypticoo I think I see the issue here. The client expects `accessList` as a Tuple of Dicts with `address` and `storageKeys` as keys and their respective values:

[code]

Whereas `eth-account` (the library web3.py uses to sign off-chain) expects them as Tuples / Lists (no keys, just the values):

[code]

If you need to sign locally with a private key, give the Tuple setup a try. Let me know if

[2021-09-09 22:06] oocrypticoo commented on #2140
Thanks for your help,
I saw this once I dug into the account.py file; I figured it was going to be a dict.  That works, excited to see it hit the chain.

[2021-09-10 01:00] jhb10c commented on #2134
This is the error that appears:

ValueError: {'code': -32016, 'data': 'Reverted', 'message': 'The execution failed due to an exception.'}

[2021-09-10 10:50] benjiqq opened #2141 "string encoding of contract call"
* Version: 5.23.1
* Python: 3.9.6
* OS: osx

eth-abi==0.5.0
eth-account==0.5.4
eth-ape==0.1.0a22
eth-bloom==1.0.4
eth-brownie==1.15.2
eth-event==1.2.3
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.1.0b4
eth-rlp==0.2.1
eth-tester==0.1.0b11
eth-typing==2.2.2
eth-utils==0.7.4

freeze https://gist.github.com/benjyz/4e003f5cc310025abf19eec6c0b56d4a

### What was wrong?

```ctr.functions.someString().c

[2021-09-10 15:59] fselmo opened #2142 "improve user experience working with access lists"
### What was wrong?

The rlp encoding for access list is:

[code]

However, the RPC structure for access lists has key/value pairs with `address` and `storageKeys` as keys:

[code]

We should facilitate the process of building only one version of an access list for a transaction that can be used for rlp encoding (e.g. signing via `w3.eth.account.sign_transaction()`) and can also be sent via RPC. C

[2021-09-10 16:01] fselmo commented on #2140
Since this isolated issue has been resolved, tracking these improvements in issue #2142

[2021-09-10 16:01] #2140 closed

[2021-09-10 16:04] kclowes commented on #2134
I think this is probably an issue with the parameters that you're passing in. `Revert` is a contract error that people use to validate that certain conditions are met in the contract, and it looks like your code is reverting when trying to estimateGas. If you do: `router.functions.swapExactTokensForTokens(1,1,Path[:2],web3.toChecksumAddress('0xCA090945dF18fFd93F342Cb1e8B61d3f71e044a7'),1633501982)

[2021-09-10 16:39] kclowes commented on #2141
@benjyz you're saying the error occurs when it's trying to decode the return value of the function?

[2021-09-11 03:01] benjyz commented on #2141
i call a contract and it fails. was working fine before, no idea where this comes from. it goes back to web3/_utils/normalizers.py

[code]

[2021-09-11 03:19] benjyz commented on #2141
If I replace

`# return type_str, codecs.decode(data, 'utf8', 'backslashreplace')`

with this if works fine

`return type_str, data`

[2021-09-11 11:30] solkoren opened #2144 "ModuleNotFoundError: No module named 'web3'"
I just started coding in python and I'm trying to do "python deploy.py" and this pops out:

Traceback (most recent call last):
  File "D:\Web3\project\Web3_python\web3_py_simple_storage\deploy.py", line 3, in <module>
    from web3 import Web3
ModuleNotFoundError: No module named 'web3'

somebody knows what to do?

[2021-09-11 12:46] solkoren commented on #2144
what i shuld do?

[2021-09-11 21:25] mr-tron opened #2145 "Any request return "Parser Error""
* Version:5.23.1
* Python: 3.6.8/3.8.10
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Can't do any request to ethereum node. Server always returns "Parse Error".
[code]

[2021-09-11 23:44] rdxpt commented on #554
Was able to figure this out. For anyone else that may be running into the same issue:

1. In the EC2 instance, install all the packages you need
2. Zip all your dependences found in venv/lib/pythonX.X/site-packages, and upload them to AWS S3
3. Have your Lambda function use this environment (at the time of this writing, the UI allows you to reference whatever you uploaded onto S3, just copy/paste

[2021-09-11 23:44] rdxpt commented on #2144
Have you installed web3 via pip?

[2021-09-12 05:09] jhb10c commented on #2134
I tried router.functions.swapExactTokensForTokens(11,5,Path,maddress,1636232904).estimateGas(). The same error appears: {'code': -32016, 'data': 'Reverted', 'message': 'The execution failed due to an exception.'}

For the work around, the transaction is explicitly built using encodeABI. Then it is signed and sent out.
For example, here is the code block that will approve the tokens, build a transa

[2021-09-12 09:18] solkoren commented on #2144
i have pip
and i can not download web3 look...

[2021-09-12 09:19] solkoren commented on #2144
Collecting web3
  Using cached web3-5.23.1-py3-none-any.whl (486 kB)
Requirement already satisfied: eth-utils<2.0.0,>=1.9.5 in c:\users\sol\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (from web3) (1.10.0)
Requirement already satisfied: requests<3.0.0,>=2.16.0 in c:\users\sol\appdata\local\packages\pythonsoftwarefoundatio

[2021-09-12 19:06] mr-tron commented on #2145
But it works with infura - https://mainnet.infura.io/v3/
I don't know why cloudflare  returns error. It works manually via curl.
curl https://cloudflare-eth.com -H 'Content-Type: application/json' --data '{"jsonrpc":"2.0","method":"eth_getBlockByNumber","params":["0x1b4", true],"id":1}'

[2021-09-13 14:32] Cyber-BlackBird opened #2147 "Unable to install web3 despite having Visual C++ 14.3"
* Version: web3 5.23.1
* Python:  3.9.7
* OS: win
* `pip freeze` output

[code]

### What was wrong?
I got the same error as many others before me, researched about it and installed Visual C++ 14.3. Restarted my laptop but still the problem persists. I even tried installing an older version of web3 - namely version web3 5.22.0 which was also giving me the same error.

Please include any of the fol

[2021-09-13 15:43] kclowes commented on #554
@0xRadix Thanks for coming back and posting!

[2021-09-13 15:46] kclowes commented on #2134
Interesting. We'll take a look. Thanks for raising this!

[2021-09-13 15:54] kclowes commented on #2144
The relevant line in the error message is here: `error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/`.

Here is some more info: https://web3py.readthedocs.io/en/stable/troubleshooting.html#why-am-i-getting-visual-c-or-cython-not-installed-error

[2021-09-13 15:54] #2144 closed

[2021-09-13 17:21] kclowes commented on #2147
This is an issue with the bitarray library working with Windows. See [this issue](https://github.com/ilanschnell/bitarray/issues/63). Some suggested options are to use Anaconda for package management, or you can find a wheel [here](https://www.lfd.uci.edu/~gohlke/pythonlibs/#bitarray) and try to install bitarray that way. I'm going to leave this open because this keeps coming up, and it's probably

[2021-09-14 00:02] jhb10c commented on #2134
Thanks, if there is a bug, I would not mind fixing it with some directions.

[2021-09-14 04:22] Cyber-BlackBird commented on #2147
@kclowes Thanks for replying. I will be trying again with Ananconda and post the results in this thread. In the meanwhile can you guys please come up with a release where this issue can be fixed.

[2021-09-14 09:06] solkoren commented on #2144
ok installed but i have all the time this error

C:\Users\Sol\AppData\Local\Microsoft\WindowsApps\python.exe: can't open file 'D:\Web3\Solw3\project\Web3_python\deploy.py': [Errno 2] No such file or directory
PS D:\Web3\Solw3\project\Web3_python>

[2021-09-14 10:13] Cyber-BlackBird commented on #2144
I am facing the same issue @solkoren
https://github.com/ethereum/web3.py/issues/2147#issue-994967807

@kclowes conda installation is not working. The link to the issue is below -
https://github.com/conda-forge/web3-feedstock/issues/31#issue-995837337

[2021-09-14 10:19] step21 commented on #2144
This seems like a problem with your python install, I would suggest using a proper python distribution.
@Cyber-BlackBird yours is likely a different problem, and you should make a different thread for it (as you did on conda-forge/web3-feedstock)

[2021-09-14 10:22] Cyber-BlackBird commented on #2147
@step21 can you please look into it and throw some light...

[2021-09-14 10:23] step21 commented on #2147
I told you to post the error message to the other thread, and to make sure that you use a custom conda environment.

[2021-09-14 11:02] solkoren opened #2148 "Expected ';' but got 'contract'"
I'm trying to do this:

pragma solidity ^0.8.0;

import "./ERC721.sol"

contract nft is ERC721.sol {

  constructor() ERC721.sol("name", "NAME") public {
  }
}

and i get this error:

Expected ';' but got 'contract'

what should I do?

[2021-09-14 16:10] fselmo commented on #2148
@solkoren In general, we refrain from answering questions here and direct users to the [discord](https://discord.gg/GHryRvPB84) as we like to keep this space for issues with the web3.py library. This happens to be a question about writing solidity but I'm sure you'd get some support over there.

[2021-09-14 16:10] #2148 closed

[2021-09-14 17:19] phamhongphuc1999 opened #2149 "Getting 'missing trie node' when call function for a specific block number"
* Version: web3 5.19.0
* Python: 3.8
* OS: ubuntu
* `pip freeze` output

### What was wrong?
I am using web3 py library to interact with the ethereum based blockchain mainnet. I tried to call a contract method for a specific block number:
[code]
I am getting the following error(Missing trie node).

![Screenshot from 2021-09-15 00-14-48](https://user-images.githubusercontent.com/56115755/133303867-

[2021-09-14 17:25] fselmo commented on #2149
@phamhongphuc1999 This is an error being returned by your client. This does not involve an issue with web3.py. It seems like a sync or configuration issue with the client but I would suggest you ask it in the appropriate channel for the client you are using. Best of luck.

[2021-09-14 17:25] #2149 closed

[2021-09-14 17:26] fselmo commented on #2142
Closing in favor of https://github.com/ethereum/eth-account/pull/125

[2021-09-14 17:26] #2142 closed

[2021-09-15 01:01] dingguijin commented on #2145
in providers/base.py
change
self.request_counter = itertools.count()
to
self.request_counter = itertools.count(start=1)

[2021-09-15 01:21] phamhongphuc1999 commented on #2149
thank for your suggestion

[2021-09-15 03:31] SamarthPardhi commented on #2066
I am using Infura network and currently sending my transactions in web3.py like this:
[code]

In order to make EIP-1559 styled transaction I modified the ```tx``` as:
[code]

But, now I'm getting error that ```gasPrice``` is not provided. I am using web3's version: 5.23.1

Can you please help me to how to make EIP-1559 transactions in web3.py correctly.

[2021-09-15 17:00] fselmo commented on #2066
@SamarthPardhi, this is the line that's important here:

[code]

You need to add `{type: '0x2'}` as a param to your transaction for signing at the moment. There is a PR out for `eth-account` to make this implicit decision for the user but at the moment you need to be explicit about the `type` of transaction you are sending. 1559 dynamic fee transactions have type = 2. I hope this helps.

[2021-09-15 21:12] fselmo commented on #2145
@dingguijin good call on this, seems like the client may be subtracting one from the request id each time leading to a `-1` on the first call at `id=0`.

@mr-tron we'll have a change coming in soon... but for now, starting with the second request, you should be able to make successful subsequent requests because the `id` is at `1` by the second request (not ideal, see below).

The above is not ide

[2021-09-15 21:12] #2145 closed

[2021-09-16 09:43] pau1a commented on #2147
@Cyber-BlackBird are you managing your Visual C++ env through Visual Studio? I just faced this and solved it because I hadnt updated Visual C++ build tools but had updated the codebase more generally.

[2021-09-16 20:36] #2139 closed

[2021-09-16 20:57] kclowes commented on #2137
Thanks for checking this out and opening such a detailed issue @helgridly! I think your best bet as far as increasing throughput is the AsyncHTTPProvider, like you say. Our preliminary benchmarking looks like a pretty significant performance bump. You can see results on [circle ci](https://app.circleci.com/pipelines/github/ethereum/web3.py/1790/workflows/0cb6d5d0-9fca-453f-a785-b45be5a6fbb5/jobs/1

[2021-09-16 21:42] helgridly commented on #2137
I tried the local filter middleware and from a quick (not thorough at all) test it seemed way slower, at least for me - I'm typically interested in a small number of addresses, so getting every block and filtering client-side (my understanding of how they work) was quite the yikes.

[2021-09-18 09:01] akashsenta13 commented on #1811
@MdSamsuzzohaShayon  : Installing mentioned library works. Allowed me to install web3 after that. Thanks

[2021-09-19 03:32] Gresliebear opened #2155 "Infura not working on Contract Contructor() include eth.send_raw_transaction suggestion?"
* Version: x.x.x
* Python: 3.9
* OS: Windows 10
* `pip freeze` output

[code]

### What was wrong?

I am calling the infura API and would like to use the Contract.constructor().transact() but it uses eth.send_transaction(transact_transaction) which for infurai doesn't work instead I have to use Eth,send_raw_transaction(raw_transaction). I am going to change to local host solution but I don't know

[2021-09-22 06:05] howgoodisdata opened #2156 "How to get metadata of nft token?"
I would like to get metadata of nft token through web3.py https://web3py.readthedocs.io/en/stable/examples.html#querying-token-metadata
But when i call this function i'm getting as None, is there any alternative way to get the metadata?
if so please guide me the way to get this done.

[2021-09-23 22:34] CaixiangFan commented on #2155
I found this also happens to Besu when trying to send a transaction through deployed smart contract. In my case, the following value error happened when calling the _contract.functions.set(1).transact()_ function in [SimpleStorage](https://github.com/ConsenSys/quorum-dev-quickstart/blob/master/files/common/smart_contracts/contracts/SimpleStorage.sol).

`ValueError: {'code': -32604, 'message': 'The

[2021-09-24 15:09] kclowes commented on #2155
This isn't a bug, but the docs could be clearer so I'll leave this open. See [here](https://web3py.readthedocs.io/en/stable/examples.html#using-infura-rinkeby-node) for an example of how to build the transaction, sign it, and then send it using `sendRawTransaction` using a node that doesn't handle your private key.

[2021-09-24 16:39] kclowes commented on #2156
What address is it and what is the code you're running? A `None` response sounds like the token hasn't implemented the metadata you're asking for.

[2021-09-25 02:04] Gresliebear commented on #2155
I have read that in the docs but the reason I brought this up is that I enjoy the contract functionality where sol compile translate solidity code into python Object calls but this is not possible with Infura and besu API. I have proceeded to set up Geth but its failed to sync and errors.

Mabye I am using it wrong

[2021-09-26 01:21] igormorgado opened #2158 "Add Type Hints in Web3 project Python files."
The title says all.

Is there in a roadmap a plan to add robust Type Hinting into Web3.py?

[2021-09-26 01:23] #2158 closed

[2021-09-26 01:24] igormorgado commented on #2158
Sorry. I was reading an old repository. I can see in sources that Type hints are being added.

[2021-09-26 05:05] Morgon commented on #2137
Just to chime in that using `local_filter_middleware` for block filters has some performance issues, via #1871. I suspect the approach will be more stable once it is resolved.

[2021-09-28 00:00] tenuki opened #2160 "It is esoteric to get to use things from `web3.utils.events` as importing it fails.."
* Version: 5.24.0
* Python: 3.7
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

#### code which produced the error

[code]

#### The full output of the error

[code]

# What type of node you were connecting to.

No node is involved.

### How can it be fixed?

#### Fill this section in if you know how this could or should be

[2021-09-28 00:03] tenuki commented on #2160
And.. after all, I mean, when you finally get your code "working" using the whole bunch of imports from above, what you get?

[code]

[2021-09-28 16:34] LefterisJP opened #2161 "Handle json rpc responses where "result" key is missing better"
* Version: 5.23.1
* Python: 3.7
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

There is numerous edge cases where a node will not return a "result" key in an endpoint response. This is handled badly by web3.py as the exception is not handled in any way and the error is propagated out of the library's code and becomes a prob

[2021-09-29 16:06] kclowes commented on #2161
Thanks for raising this @LefterisJP. We could definitely handle this better. Added to our queue!

[2021-09-30 02:26] miRemid opened #2162 "Cannot attach to the ganache test network, 502 bad gateway error"
* Version: 5.24.0
* Python: 3.9.5
* OS: linux
* `pip freeze` output

[code]

### What was wrong?
cannot attach to the ganache-cli test network, 502 bad gateway error

Please include any of the following that are applicable:

* The code which produced the error
[code]
* The full output of the error
[code]
* What type of node you were connecting to.
Ganache-cli eth test network

[2021-09-30 17:49] #2102 closed

[2021-09-30 20:23] kclowes commented on #2162
Thanks for opening this @miRemid. I just tried this, and I'm not able to reproduce. Maybe try re-starting your `ganache-cli`?

[2021-10-01 03:04] liavkoren commented on #2097
@kclowes thank you for providing support for dydx's project !! This looks very helpful.

[2021-10-01 05:46] fahadh4ilyas opened #2163 "How to sign new modified transaction?"
* Version: 5.20.0
* Python: 3.9.6
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

I'm using web3.py to connect to ethereum node using `HTTPProvider`. This is how I connect to the node

[code]

I also try to send transaction and it's working properly

[code]

The problem is when I want to try to [`modify_transaction`](https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Et

[2021-10-01 14:23] miRemid commented on #2162
I have tried to restart ganache and setup ganache with docker but got same error.

I can't find a way to solve it, so I reinstalled my os in virtualbox and everything works well :)

[2021-10-01 15:05] kclowes commented on #2162
Great! Thanks for coming back to report your solution!

[2021-10-01 15:05] #2162 closed

[2021-10-01 21:32] kclowes commented on #2163
You should be able to use the [construct_sign_and_send_raw_middleware](https://web3py.readthedocs.io/en/stable/middleware.html?#web3.middleware.construct_sign_and_send_raw_middleware). Feel free to reopen if that doesn't fix your issue!

[2021-10-01 21:32] #2163 closed

[2021-10-02 02:40] tannishmango opened #2165 "get_logs suddenly unable to handle inputs"
* Version: 5.24.0
* Python: 3.7
* OS: osx

Using Quicknode archive node, standard RPC

I have been using the get_logs function for a while, suddenly the inputs are not working for this example, nor many others I have tried. I input fromblock, toblock, address, topics, and did variations here.

The only time i could get it to wrk was when i removed the blocks.

****CODE****
filter_params = {'fromBl

[2021-10-02 03:47] tannishmango commented on #1872
def estimate_block_height_by_timestamp(timestamp):
    target_timestamp = timestamp
    averageBlockTime = 15.1
    block = web3.eth.getBlock('latest')
    blockNumber = block['number']
    blockTime = block['timestamp']

    lowerLimitStamp = target_timestamp
    higherLimitStamp = target_timestamp + 30

    requestsMade = 1

    while blockTime > target_timestamp:
        decreaseBlocks = int((b

[2021-10-03 05:02] LucasColas opened #2166 "Property adress not found on Contract class"
* Version: 5.24.0
* Python: 3.7.6
* OS: Win 10
* `pip freeze` output

[code]

### What was wrong?

Here is the code :
[code]

True
13344223
Traceback (most recent call last):
  File "C:\Users\lucas\github\Web3-Test\main.py", line 21, in <module>
    contract = web3.eth.contract(adress=adress, abi=abi)
  File "C:\Users\lucas\AppData\Local\Programs\Python\Python37\lib\site-packages\web3\eth.py", lin

[2021-10-03 15:18] LucasColas commented on #2166
I found the problem.

The code should be like this :
[code]
address (not adress).

[2021-10-03 15:18] #2166 closed

[2021-10-03 23:21] #2165 closed

[2021-10-04 07:44] ilyalesokhin-starkware opened #2167 "construct_sign_and_send_raw_middleware uses unbuffered gas estimation following PR #1999."
After the change that made buffered gas estimate a middleware
https://github.com/ethereum/web3.py/commit/17264b423f24a6c4e88f690391d5e9fc56bb0714
Adding the construct_sign_and_send_raw_middleware using w3.middleware_onion.add like the example
in the documentation:
https://web3py.readthedocs.io/en/stable/middleware.html#web3.middleware.construct_sign_and_send_raw_middleware
causes the signing middl

[2021-10-04 09:51] Uxio0 commented on #832
As @rockkoca says, when increasing the number of requests to the nodes it can hang forever or even hang the node itself.

I've found out that `batch_requests` are not very well handled by the nodes, and there's even some node services that don't enable batch requests. For our use case I decided to implement [multicall](https://github.com/makerdao/multicall) support and it's really really fast comp

[2021-10-04 15:37] kclowes commented on #2167
Thanks for raising this! Will fix!

[2021-10-04 23:41] coleUI opened #2168 "Event Filter missing event when running Poll in Docker container"
* Version: 5.23.1
* Python: 3.9
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

I have a filter poll set up in a docker container that is not returning the logs to one of my events. It works perfectly when I run the poll on my local machine for some reason. The event is relatively large compared to the other event (contains lists)...maybe this is the issue?

* The code which produc

[2021-10-05 15:03] coleUI commented on #2168
UPDATE:
web3.eth.get_filter_logs() is working,
contract.events.MyEvent.createFilter() is still not

[2021-10-05 16:18] fredo opened #2169 "Cannot send transactions on arbitrum"
* Version: 5.24.0
* Python: 3.9
* OS: linux

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

I tried to send a basic transaction (sending eth) on arbitrum with web3.py.

Configurations:

`w3 = Web3(HTTPProvider("https://rinkeby.arbitrum.io/rpc"))`
Network:

[2021-10-05 20:04] demirarikan opened #2170 "pip install web3 on windows causes error: [WinError 2] The system cannot find the file specified"
* Version: x.x.x
* Python: 3.8.10
* OS: win
* `pip freeze` output

[code]
### What was wrong?

with the `pip install web3`  I get the following error:
[code]
I am following the freeCodeCamp.org tutorial on youtube: https://www.youtube.com/watch?v=M576WGiDBdQ&t=190s and

What can I do to install web3 properly?

[2021-10-05 21:58] fselmo commented on #2034
@bscqt I haven't yet been able to get to this but it's on my list! I've been updating some things in other libraries but I will try to check this out as soon as I can. For clarification, you can run it over ipc but it will fail at some point throughout the day?

[2021-10-05 22:05] bscqt commented on #2034
That is correct. Everything seems to run fine over ipc at startup, but it will crash out later. For me this happens 5+ times pr day. For some reason I only see this when connected to BSC nodes.

[2021-10-05 22:10] arjuneth opened #2171 "Pip install error -- Mac"
* Version: x.x.x
* Python: 3.9
* OS: MAC
* `pip freeze` output

[code]

### What was wrong?
Trying to install web3 but getting an error when it comes to building wheel for lru-direct and bitarray. I'm trying to run this on a Mac and haven't found a solution yet. Any help would be appreciated.

Please include any of the following that are applicable:

* The code which produced the error
* pip insta

[2021-10-05 22:15] fselmo commented on #2171
Hey @arjuneth this seems like a similar issue we've seen where you don't have xcode command line tools installed (required by some dependencies). Can you try running `xcode-select --install` and see if it is installed or not. If it is not, install it. This will likely solve your issue.

Please report back. Best of luck.

[2021-10-06 01:18] k128 opened #2172 "Support for python 3.10"
- Version: 5.x
- Python: 3.10!
- OS: osx/linux/win

What was wrong?
Now that Python 3.10 is out, we should make sure we can support it.

How can it be fixed?
Pretty much anywhere that tests against Python 3.7 - 3.9, we should add Python 3.10. Python 3.9 support was added in [#1774](https://github.com/ethereum/web3.py/pull/1774) so that would be a good template to follow.  Merging will likely have

[2021-10-06 16:08] kclowes commented on #2170
That error isn't one I've seen before. I would try to set up a fresh environment. Instructions to do so can be found [here](https://web3py.readthedocs.io/en/stable/troubleshooting.html#setup-environment). Please report back if there are new errors you can't resolve after installing in a fresh environment, or close the issue if you get it figured out. Thanks!

[2021-10-06 17:25] bscqt commented on #2034
I am seeing this when running a web3py ipc pending filter towards my own geth bsc fullnode. Again, I do not see it when I run a webp3 ipc pending filter towards my own geth eth fullnode.

[2021-10-06 17:27] fselmo commented on #2034
@bscqt that is very helpful thanks for the update 👍

[2021-10-07 16:38] bitcoinmeetups opened #2174 "Trying to duplicate a transaction from GUI to CLI generates a syntax error"
Hello,

I'm BM. A very nice and polite guy.

I've been trying to duplicate a transaction that I made with a GUI in my Terminal for a while without success.

This is the transaction I'm trying to duplicate:

https://polygonscan.com/tx/0xcaf7358788aed4fd73b4fc26717e44a54750811fc1c62e6997db9bb0ae9f7585

This is what I was trying to do:

txn_data = contract.functions.swapExactETHForTokens(138607273911

[2021-10-07 22:56] kylemcdonald opened #2176 "Possible speed improvements"
After comparing web3.py to web3.js I found web3.js was more performant at most tasks. My particular interest is in the `eth_getBlockByNumber` JSON-RPC method.

Retrieving 1000 blocks over IPC, synchronously:

* web3.py 6.2s
* web3.js 2.5s

Asynchronously:

* web3.py 2.9s
* web3.js 0.3s

I am comparing between Node v12.22.6 and Python 3.7.10 on web3.js 1.6.0 and web3.py 5.24.0, under Ubuntu 18.04,

[2021-10-08 02:51] BatyaGG opened #2177 "getTransaction returns transaction without blockHash and blockNumber (both are None)"
`
from web3 import Web3
from web3.middleware import geth_poa_middleware

w3 = Web3(Web3.HTTPProvider("...."))
w3.middleware_onion.inject(geth_poa_middleware, layer=0)

tx = w3.eth.getTransaction('0x09cee22d258425e978a3a1bb4c07a2b5a51196c5a35d5aae813983e69ab25472')
tx_block_num = tx.blockNumber   # None, but other fields are filled
`

[2021-10-08 13:39] VladLupashevskyi opened #2178 "Update websockets to 10.0"
Currently it's not possible to use web3.py webscokets providers with python 3.10, because when trying to connect it fails with:

[code]

Solution would be: websockets package needs to be upgraded to 10.0, which support python 3.10

Related #2172

[2021-10-08 15:28] fselmo commented on #2178
Thanks for this! There is a PR open for python 3.10 support, we can start tracking changes there #2175

[2021-10-08 15:30] fselmo commented on #2172
This is closed by PR #2175, for reference

[2021-10-08 23:20] ideolog commented on #2171
I finally managed to install web3 after many hours of fight! Here is what I did:

1. I've downloaded Python 3.9.7 and reinstalled it https://www.python.org/downloads/release/python-397/
2. I've changed my Python's project interpreter to the new Python 3.9.7. and created a new virtual environment
3. `pip install bitarray` (this step is probably not needed)
4. `pip install web3 `
Everything worked l

[2021-10-12 04:05] fselmo commented on #2147
@ArcusConsulting VS Code is not what you need here and neither is the full Visual Studio. Just the `Microsoft C++ Build Tools` which you said you have.

Python 3.10 is not supported yet so you may want to use a virtual environment with 3.9 for now. Is it possible you are running into a different problem altogether, probably even related to your python version? What is your error message? Please pr

[2021-10-12 07:55] andypavia opened #2180 "sign_typed_data not reachable through account"
* Version: 5.24.0
* Python: 3.6
* OS: linux

### What was wrong?

The sign_typed_data is not available through the Account layer. The web3.eth.Eth.account.sign_transaction is there, however.

`web3.eth.Eth.account.sign_typed_data(initiator_address, transaction)`

### How can it be fixed?

The sign_typed_data should also be exposed through the account layer.

---
**Note:** We prefer to use issues t

[2021-10-12 08:49] hotbroker opened #2181 "error to call a contract,return :"rlp: expected List""
* Version: x.x.x
* Python: 3.7
* OS: win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:
======
contract source code is here, and it is quite simple

https://ftmscan.com/address/0xf1bf34e46ecf465591b7a7fa9635e4c583174fa3#code

=====

    mytxn = get_rarity_adventure_contract_obj().functions.executeDaycare([int(summonid)]).buildTransactio

[2021-10-14 14:42] garyng2000 opened #2182 "ipfshttpclient nailed at 0.7.0a2 ?"
any reason for that ? infura now requires 0.9 compatible and even though ipfshttpclient is semi-abandoned, I would still like to use a newer version of it(0.8) but because it is nailed by web3.py, I can't install it

[2021-10-14 14:47] #2182 closed

[2021-10-14 22:10] EddyDomingo opened #2183 "Not compatible with python"
* Version: web3 5.24.0
* Python: 3.10
* OS: win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

[code]

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

---

[2021-10-15 15:09] #2183 closed, assigned to nobody

[2021-10-15 15:29] kclowes commented on #2181
That error looks like you are passing the wrong type somewhere along the way (it looks like a `List` is expected). The error is coming back from the node, so I'm going to close because I don't think this is a problem with web3. It's also worth noting that we don't support fantom, so you may run into problems there.

[2021-10-15 15:29] #2181 closed

[2021-10-16 13:48] kommalyskb opened #2184 "Problem when install web3.py on Windows 10 (already installed Visual C++ 14.0)"
* Version: 5.24.0
* Python: 3.10.0
* OS: win
* `pip install web3`

[code]

### What was wrong?

Trouble in installing web3:

After I install Visual C++ 14.0 via visual studio installer and then I got this error
* error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.29.30133\\bin\\HostX86\\x64\\link.exe' failed with exit code 1120

[2021-10-16 13:53] kommalyskb commented on #2184
My option when I install VC++ 14.0

![VC14](https://user-images.githubusercontent.com/58819782/137590086-50b67f14-b8ed-4a27-a132-d068750b41e4.JPG)

[2021-10-17 12:48] its5Q commented on #1087
This is still a problem on windows, and the issue with python wasn't fixed. As a workaround, I just removed path resolving.

[2021-10-18 08:10] andypavia commented on #2180
Thanks @kclowes! I'll give that a try.

[2021-10-18 13:48] Meemaw opened #2185 "Issue with latest_block_based_cache_middleware"
* Version: 5.24.0
* Python: 3.9.5
* OS: osx

### What was wrong?

Please include any of the following that are applicable:

There seems to be an issue with the `latest_block_based_cache_middleware` implementation. Given the following config:

[code]

I'm observing `w3.eth.get_block('latest')` to always be cached even though it should never be cached.

Digging into the code a bit more, I suspect th

[2021-10-18 15:42] kclowes commented on #2185
Thanks for raising this! This does look like a bug, will fix!

[2021-10-20 07:49] douglasg-fintec opened #2186 "\"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

---
**Note:** We prefer

[2021-10-20 14:10] fselmo commented on #2186
@douglasg-fintec If you have an issue, please feel free to reopen with the details of the issue. This looks like the blank template so I'm going to close it for now.

[2021-10-20 14:10] #2186 closed, assigned to nobody

[2021-10-20 20:19] irudoramas commented on #2147
I get the same error, and I have the Microsoft C++ Build Tools. Error failed to build wheel in bitarray... like everyone else (Win 10).

[2021-10-20 21:10] irudoramas opened #2187 "pip install web3 fail: to do with wheels bitarray & lru_dict (got MS C++ and venv)"
Hi, I set up a new virtual environment, I installed Microsoft C++... I tried everything. I tried also installing libpython3.9-dev but didnt work (could not find a version that satisfies the requirement ... no matching distribution found for libpython...).

I also tried downloading bitarray and lru_dict wheels from a link someone provided here, but clicking the downloaded file opens and instantly c

[2021-10-23 17:36] rollue opened #2189 "ContractLogicError not raised during ContractFunction.estimateGas"
When I used estimateGas on my contract function, it used to raise ContractLogicError if the function calls would revert.
I'm pretty sure this was definitely the case a few weeks ago.

I haven't updated the package or anything, but suddenly the function just returns gas_estimate for the revert.
For example, if without revert a function would take 500,000 gas, and if conditions are met for the rever

[2021-10-25 19:32] #2189 closed, assigned to nobody

[2021-10-27 08:59] viponedream opened #2190 "how to make transaction in polygon network"
i test the code, i works well in ropsten test net.
when i change it to polygen network  or polygen numbai,
it doens work
(i  also change the chanid and provider)
error message is invalid sender.

        w3 = self.w3
        if not w3:
            return None
        from_address = w3.toChecksumAddress(from_address)
        to_address = w3.toChecksumAddress(to_address)
        nonce = w3.eth.getTr

[2021-10-28 03:34] #2190 closed, assigned to nobody

[2021-10-29 13:58] unparalleled-js opened #2191 "BaseChainBackend type annotation missing"
* Version: master
* Python: 3.9.7
* OS: macOS

### What was wrong?

`BaseChainBackend` missing from `tester` annotation in `EthereumTesterProvider`

### How can it be fixed?

Add `BaseChainBackend` type annotation to `EthereumTesterProvider` `__init__()` `tester` parameter.
---
**Note:** We prefer to use issues to track our work. If you think you've encountered a bug in web3py or
have a feature re

[2021-10-29 17:49] wuyi771 opened #2193 "how to make transaction in polygon network"
i test the code, i works well in ETH and BSC.
when i change it to polygen network
it doens work

ValueError: {'code': -32000, 'message': 'invalid sender'}
how to make a transaction in polygon network.
please help , thank you all.

[2021-10-29 18:12] #2191 closed

[2021-10-29 18:14] kclowes commented on #2193
Right now we only support Ethereum. I'm not sure why it would work on ETH and BSC but not Polygon, sorry. Closing since this isn't a web3 bug.

[2021-10-29 18:14] #2193 closed

[2021-10-30 12:23] FILAgiao opened #2194 "How to check my token balance( shib for example) in BSC?"
i  don't know how to check one tonken balance in BSC instead of BNB or ETH,if you know ,tell me please.

[2021-10-31 13:51] bscqt commented on #2034
Any updates on this? still crashing multiple times pr day..

[2021-11-01 09:09] dexertos opened #2195 "urllib3.exceptions.NewConnectionError: <urllib3.connection.HTTPSConnection object at 0x7ff0a4462bb0>: Failed to establish a new connection: [Errno 111] Connection refused"
Hello. Everytime I try to connect to the host from a virtual machine using Ubuntu 20.04.3 LTS(64-bit) I get the following errors.

Traceback (most recent call last):
  File "urllib3/connection.py", line 174, in _new_conn
  File "urllib3/util/connection.py", line 96, in create_connection
  File "urllib3/util/connection.py", line 86, in create_connection
ConnectionRefusedError: [Errno 111] Connectio

[2021-11-01 15:43] QinHaoChen97 opened #2196 "Something about filter.get_new_entries()"
* Python: 3.6.9
### What was wrong?
I use this example [https://web3py.readthedocs.io/en/latest/filters.html](url)
[code]

when I send a transition in ganache-cli，it return `b'o\\\xd9Z\xc5\x0b\x98\xb1\xe3\nG#\x0c\xfe\x9c\x9a\xe7\x98\tk%\xd3)\x0e|\x16\xf8+l\xad9\xa8'`
I think this is the `blockHash`,But the return value mentioned above is difficult to understand.

### How can it be fixed?

I think

[2021-11-01 20:09] kclowes commented on #2034
@bscqt It looks like this is a known issue running BSC, based on [this issue](https://github.com/binance-chain/bsc/issues/388). I'd try updating your node software and see if that fixes the problem.

I'm going to close this because it looks like the exact same stack trace as the issue linked above, so I don't think this is an issue with web3py.

[2021-11-01 20:09] #2034 closed

[2021-11-02 16:56] shekharchander commented on #2049
@kclowes How can we solve this issue? Where to specify block size?

[2021-11-03 04:40] bluszcak44 commented on #2011
@gupta437 If you need I can take this over for you, just let me know!

[2021-11-03 14:23] Pet3ris opened #2198 "Cannot use contract calls with signing middleware: invalid "from" key error"
* Version: latest web3["tester"]
* Python: 3.8
* OS: osx

### What was wrong?

[code]

This test fails with the error `No valid "from" key was provided`. Please note that the deployment transaction succeeds but the contract call fails even though contract calls don't require signing.

I've also confirmed that the calls work well without the signing middleware.

### How can it be fixed?

Could we r

[2021-11-03 16:34] fselmo commented on #2198
@Pet3ris I think I understand this a bit better. So the messaging in `eth-tester` could probably definitely improve still and we can talk about that over in that thread. `eth_call` is not getting signed here but you are setting ` w3.eth.default_account = acct.address` which will always use the `from` as the default address (including in contract calls).

That line is explicitly saying "every time

[2021-11-03 16:44] Pet3ris commented on #2198
@fselmo makes sense!

If I remove the line it works, but my understanding from the `web3.py` documentation (https://web3py.readthedocs.io/en/stable/middleware.html#web3.middleware.construct_sign_and_send_raw_middleware) is that this line is a convenient way to ensure that all transactions would be sent from that from address?

Would the work-around be to manually specify the "from" address in all

[2021-11-03 17:27] fselmo commented on #2198
I'm actually going to re-open this to investigate some different scenarios too to see if we can improve this flow a bit more. But I'm glad you were at least able to get unstuck for now. I will update here if / when I have any updates after doing some testing. Thanks for reporting this!

[2021-11-03 17:35] Pet3ris commented on #2198
Thanks - happy to answer more questions or clarify more about use case if at all helpful but love the fact that I can just insert the middleware and reuse the same code across unit tests and prod.

[2021-11-06 00:07] NewMountain commented on #1628
I'd be interested in helping here, but it's not totally clear what the desired outcome is. Is the ask to add type annotations to all files in `/docs` or specifically to add a new section to the docs making the fact there are types explicit?

[2021-11-08 16:29] kclowes commented on #1628
Awesome, thanks @NewMountain! Maybe both? IMHO, a new section in the docs seems like lower hanging fruit, so maybe we can start with that and then we can add types to the rest of the docs in a later PR if that would be useful. How does that sound?

[2021-11-11 12:57] komarp opened #2202 "AttributeError: 'AsyncEth' object has no attribute 'contract'"
### What was wrong?

Please include any of the following that are applicable:
[code]
I use AsyncHttpProvider, when i want to call "contract" function of eth object, python raises the following error:
[code]

Daclaration of my node class:
[code]
Help, please!

[2021-11-11 16:11] kclowes commented on #2202
Async is still a work in progress, and contract isn't natively async yet. Here's [the list](https://web3py.readthedocs.io/en/stable/providers.html#supported-methods) of supported methods/middleware.

[2021-11-11 16:11] #2202 closed

[2021-11-12 18:00] viponedream opened #2204 "how to get all transactions by an address?"
how to get all transactions by an address?

i want go get all my transactions.
how to make it?
thank you all.

[2021-11-13 15:58] kratatomi commented on #2204
I use the event scanner tool for getting all transactions from smart contracts, like ERC20 tokens: https://web3py.readthedocs.io/en/stable/examples.html

[2021-11-13 16:02] kratatomi opened #2206 "Add support for SmartBCH specific JSON-RPC methods"
SmartBCH has some specific and very useful JSON-RPC methods, described here: https://docs.smartbch.org/smartbch/developers-guide/jsonrpc (under SBCH section).

I wonder if there's possible to add those methods.

[2021-11-15 19:00] fselmo commented on #2204
Hey @viponedream. We prefer to use issues to track our work. If you have implementation or usage questions,
please refer to our [documentation](https://web3py.readthedocs.io/en/latest/) and/or join us on [discord](https://discord.gg/GHryRvPB84).

[2021-11-15 19:00] #2204 closed

[2021-11-15 19:04] fselmo commented on #2195
@dexertos What exactly are you trying to do here? I'm not sure I understand from the above. Are you still running into issues? Do you have more context?

[2021-11-15 19:06] fselmo commented on #2194
Hey @FILAgiao. We prefer to use issues to track our work. If you have implementation or usage questions,
please refer to our [documentation](https://web3py.readthedocs.io/en/latest/) and/or join the conversation on [discord](https://discord.gg/GHryRvPB84). There's a great community there asking very similar questions every day. Hope this helps.

[2021-11-15 19:06] #2194 closed

[2021-11-15 22:35] fselmo commented on #2169
@jornx This seems to be a known issue with Arbitrum validators I believe. If you are certain that you have enough funds, this is related to the `gas` value being set too low and unfortunately the message here is wrong.

I ran into a similar issue trying to send a transaction and I knew I had enough funds but increasing the `gas` value did the trick. I submitted a support ticket to them but I do be

[2021-11-15 22:35] #2169 closed

[2021-11-16 16:44] L-F-Escobar commented on #1363
Can I get a link to where this api description is? I cant find it in the docs

[2021-11-17 03:01] ngovindrajan commented on #1807
Hi @marcgarreau , I am seeing the same issue for ProposalCreated event. I see this issue was fixed long back .
Could you please suggest which version has this fix ?  Because , I am using Version: 5.9.0 of Web3.py.
Any thoughts would be helpful.Thanks !

[2021-11-17 17:30] kclowes commented on #1363
https://raw.githubusercontent.com/ethereum/web3.py/master/docs/web3.geth.rst, line 359

[2021-11-18 07:49] iraj-jelo commented on #1061
what if the contract have no `event`? see this question please https://ethereum.stackexchange.com/questions/113819/decoding-transaction-logs-of-pancakeswaps-router-by-web3-py

[2021-11-18 09:52] avatar-lavventura commented on #1061
@iraj-jelo  If the tx has no `event`, logs should return empty list (`[]`).

[2021-11-18 10:09] iraj-jelo commented on #1061
my `contract.events` object just has a property named `named`. there is no other event in that `events`.  the `logs` is not empty. there are 5 logs there

[2021-11-18 12:44] Andrei-Dolgolev opened #2210 "Issue when try use AsyncHTTPProvider with geth_poa_middleware middleware"
### What was wrong?

Can't use middleware with asyncHttpProvider

it's return exception

[code]
code for reproduce error.

[code]

[2021-11-18 14:19] viponedream commented on #2204
thanks for your replay.
how to use this function?

i have run the tool,  it only save nothing in test-state.json
{"last_scanned_block": 4370674, "blocks": {}}

[2021-11-18 16:42] #2210 closed

[2021-11-19 00:08] L-F-Escobar commented on #2054
beautiful

[2021-11-19 18:09] #2040 closed

[2021-11-20 01:10] L-F-Escobar opened #2214 "Txpool methods not working with ganache or infura"
* Version: 5.24.0
* Python: 3.8.9
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Connected to local ganache node v2.5.4.

[code]

yields the following error

[code]

Connected to an infura rospton node yields the following error
[code]

It seems that I cant read from the tx pool with web3.py? I am confused given that I see in the docs examples of web3.py reading from the tx pool
[co

[2021-11-20 08:12] viponedream opened #2215 "ValueError: {'code': -32000, 'message': 'insufficient funds for gas * price + value'}"
this address have  0.049370000000000003 MATIC
https://polygonscan.com/address/0xD9A77Cf99545081787462a53c8Ae2075573a77b5

the fee is  0.00063 on the browser.

i set the gas:
gas_price:  30
gas_limit:  210000

it fits 0.00063

when i send  0.04837  ( 0.049370 - 0.001  )
it says insufficient funds for gas * price + value'.

even i send 0.04737,  same error.

how to send the max value of the address?

[2021-11-20 14:04] LefterisJP opened #2216 "Using typing-extensions 4 with web3.py and python < 3.8"
Hey guys,

This is question on typing-extensions package. In setup.py https://github.com/ethereum/web3.py/blob/74fbcd1761407ee37808173b089d8e44e537fb99/setup.py#L88-L89

you require <4 and python <3.8. From what I understand that is since these extensions you use have made it into stdlib's typing module from 3.8 and on.

But from what I see this requirement creates a probem for projects like ours

[2021-11-20 21:21] kclowes commented on #2216
I put up a PR to see what would happen if we bump it, and it looks like we have some dependency resolution errors if we use >=4.0.0 (see [this CI run](https://app.circleci.com/pipelines/github/ethereum/web3.py/1904/workflows/9b2de1e2-86fb-4f38-acfa-5038adb408b0/jobs/176899)), but those aren't insurmountable. On quick glance, it doesn't look like anything would break from our end if we bump to v4+

[2021-11-20 23:16] LefterisJP commented on #2216
Hey @kclowes thanks for the quick response.

The new additions in v4 are here: https://github.com/python/typing/blob/master/typing_extensions/CHANGELOG#L10-L13

I am most interested to try the TypedDict with certain fields marked as optional and certain as required: https://www.python.org/dev/peps/pep-0655/

[2021-11-22 07:44] qiushui777 opened #2219 "ransaction had invalid fields: {'accessList'"
* Version: 5.24.0
* Python: 3.8
* OS: linux
* `pip freeze` output

[code]

### What was wrong?

I am trying to sign a tx with accesslist, the struct is like this
[code]
and with the latest version it gives me this error ransaction had invalid fields: {'accessList'
This works with the 5.22.0 version, so I am wondering how to use the accesslist for the latest version. What I did wrong here? Thx

[2021-11-22 07:53] maconard opened #2220 "Wrong timeout parameter typing in wait_for_transaction_receipt"
### What was wrong?

The typing for the `timeout` input to the exposed `wait_for_transaction_receipt` is falsely listed as `int`, seeing as the internal function it calls of the same name from `_utils.transactions` accepts float.

Exposed function falsely showing int: https://github.com/ethereum/web3.py/blob/e01e6ca9e765b54430a152ac18f0890dfa8ae69e/web3/eth.py#L670

Internal function accepting flo

[2021-11-22 08:11] qiushui777 commented on #2219
emm it's the error from eth_account, lower to 0.5.5, the error disappears.

[2021-11-22 08:11] #2219 closed

[2021-11-22 10:47] enayatinfo commented on #2168
Also i have problem on this feature.
The return value of events is empty dict...
contract.events.MyEvent.createFilter() not working

[2021-11-22 15:54] fselmo commented on #2219
@qiushui777 The error is coming from `eth-account`, correct... but I'm not sure that lowering the version is good here. There is a more proper validation for the `access_list` structure in the latest `eth-account` version. The error message can improve a whole lot here (so thanks for raising this issue) but it seems like the _validation_ for the `accessList` value is what was throwing your error -

[2021-11-22 16:49] kclowes commented on #2220
Thanks! Feel free to submit a PR if you have time :) Otherwise it may be a bit until we can get to it!

[2021-11-22 18:35] kclowes commented on #2216
Ah, thanks! I don't see that we're using any of the features that were dropped, so I think we're safe to bump. Will put this in our backlog.

[2021-11-23 17:10] L-F-Escobar commented on #2214
Anyone there? Maybe I should just switch to web3.js, seems a lot more active and zero problems

[2021-11-23 20:20] broper2 commented on #2220
I can scratch up a quick PR to fix this, will be a good first issue to contribute on web3.py

[2021-11-24 05:55] kclowes commented on #2214
Infura doesn’t support those methods either. You’ll probably have to run your own geth node if you want access to those methods. Closing since I don’t think this is a bug but feel free to reopen if I misunderstood something.

[2021-11-24 05:55] #2214 closed

[2021-11-24 07:28] L-F-Escobar commented on #2214
Hi @kclowes ! How can I confirm that infura does indeed not support those methods? I dont doubt it, just want to see the docs for myself.

Apart from running my own node is there any other way I could have access to those methods?

If I run my own geth node, I should be able to connect web3.py to my nodes `ipc_path` and have access to all geth methods correct? I'm curious if there are instructions

[2021-11-25 21:11] mzaprudin opened #2222 "ValueError: {'code': -32000, 'message': 'transaction type not supported'}"
* Version: 5.25.0
* Python: 3.9
* OS: linux
* `pip freeze` output
[code]

### What was wrong?

I'm trying to send some BNB from one account to another in Binanse Smart Chain but I get 'transaction type not supported' error message.

[code]

* The full output of the error
[code]
* I connect HTTP Node.

[2021-11-25 21:36] mzaprudin commented on #2222
Well, I solved the issue by changing transaction values from
[code]
to
[code]
the documentation [says](https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Eth.send_transaction)
[code]
and the provided example doesn't use gasPrice value
[code]
But it doesn't work in this manner (

[2021-11-26 15:25] robinportigliatti opened #2223 "Invalid Field in signTransaction while trying to deploy a contract"
* Version: 5.24.0
* Python: 3.9.7
* OS: Docker (`from python`)
* `pip freeze` output

[code]
### What was wrong?

Hello,

Juste made my first NFT today as a POC :D. But my application is in python (Django) and the migration and mint process are in NodeJs... So I tried your solution but I found some difficulty by deploying my first contract.

When I run the following code I get the following error

[2021-11-26 16:17] fselmo commented on #2222
@mzaprudin Thanks for reaching out. It's important to note that the module these methods exist within is the `eth` module. Ethereum recently introduced the London hard fork and EIP-1559 was one of these changes. EIP-1559 introduced support for a `type=2` transaction where the max fee fields replace the gas price field. Not all chains will have this support. I suspect most won't.

It looks like you

[2021-11-26 16:17] #2222 closed

[2021-11-26 16:27] fselmo commented on #2223
@robinportigliatti Thanks for reaching out. I think I can help you debug here. It looks like in this case the message isn't entirely clear. It is the _value_ of your fields that are problematic, not the fields themselves. You are passing them in as `string` but they need to be `int`.

Give it a shot with `int` values instead:

[code]

I believe this is the error here. I'm going to close this but f

[2021-11-26 16:27] #2223 closed

[2021-11-26 16:40] robinportigliatti commented on #2223
@fselmo thank you, it worked, now I have to find why my contract creation is in error

I will join the discord, it might be better you are right

[2021-11-26 21:09] robinportigliatti commented on #1800
Found myself here as I used Docker and had the same error.

Just run the `ganache-cli` inside your docker with this command :
[code]
And then you can access ganache via `http://0.0.0.0:8545"`
Or just use another docker with this `Dockerfile` and `docker-compose`:
[code]
In `docker-compose.yml` you should have something like this:
[code]

And access it via `http://ganache:8545`  from your applicati

[2021-11-27 16:44] maztube opened #2225 "ModuleNotFoundError: No module named 'web3'"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

---
**Note:** We prefer

[2021-11-28 04:46] molecula451 commented on #2225
<code>web3</code> module is not installed on your python environment, running <code>python3 -m pip install web3</code> should do

[2021-11-28 19:11] ComplaintID commented on #2225
Message them on Twitter about your complaints. Send them a direct message to get your issues resolved. I also encountered the same problem.
https://twitter.com/messages/compose?recipient_id=884210741347332100

[2021-11-29 02:02] dbfreem commented on #1644
This issue appears to already be fixed in this [PR](https://github.com/ethereum/web3.py/pull/1977/files). Sphinx was upgraded in the [setup.py](https://github.com/ethereum/web3.py/blob/master/setup.py#L27). This issue can probably be closed.

[2021-11-29 14:13] baokhanh1479 opened #2226 "Lỗi khi cài đặt web3 pip"
* Version: x.x.x
* Python: 3.9.9
* OS: Windows
* `pip freeze` output

[code]
config==0.5.1
eth-hash==0.3.2
eth-typing==2.2.2
toolz==0.11.2

### What was wrong?

Please include any of the following that are applicable:

error when running pip install web3

Output:
[code]

How to fix it. Thank you!

[2021-11-29 16:58] stevencoveta commented on #1959
Your router contract is not correct

[2021-11-29 18:16] kclowes commented on #1644
Yep, you're right @dbfreem. Closing!

[2021-11-29 18:16] #1644 closed

[2021-11-29 18:27] kclowes commented on #1700
This looks pretty stale, and I also can't replicate. It looks like there have been updates to the Sphinx version since this issue was open so I'm going to close. If there are still problems with `make docs`, please open a new issue so we can try to troubleshoot.

[2021-11-29 18:27] #1700 closed

[2021-11-29 19:14] kclowes commented on #2225
Closing since there is no info in the issue, and looks like @molecula451 has the right solution to the title.

[2021-11-29 19:14] #2225 closed

[2021-11-29 21:29] MatthiasLohr commented on #1065
Any news on this?

[2021-11-29 21:45] NevilleLongedBottom opened #2227 "Begging for help, cant solve: ValueError: {'code': -32000, 'message': 'filter not found'}"
Hi all,

As you may have sensed, i am starting to near the end of my willpower when it comes to resolving this script and i was hoping someone here could save me a few hairs and guide me in the right direction.

From the code outlined below, which should be scanning for new Liq pairs on PCS and then actioning a transaction, i keep getting the following errors 'ValueError: {'code': -32000, 'message

[2021-11-29 22:04] fselmo commented on #1065
@MatthiasLohr this open issue may have already been addressed by #1235 as mentioned in the closed duplicate issue linked above. @kclowes @marcgarreau any context I may be missing that warrants keeping this open?

[2021-11-29 22:11] kclowes commented on #2227
This is a known problem with filters - nodes tend to drop them periodically without any warning. I'm going to close since this isn't a web3 issue, but feel free to reopen if you think it is.

[2021-11-29 22:11] #2227 closed

[2021-11-29 22:20] kclowes commented on #1065
AFAICT this can be closed, but @MatthiasLohr do you have an example that isn't working?

[2021-11-30 07:40] NevilleLongedBottom commented on #2227
Cheers for the reply, i appreciate its not Web3 related but would you have any further guidance on how to solve the issue?
cheers

[2021-11-30 07:52] MatthiasLohr commented on #1065
I'm not sure. I have something which isn't working, but not completely sure who is the culprit.

I have the following nested Solidity structure (from the [perun project](https://github.com/hyperledger-labs/perun-eth-contracts/)) and an binary encoding method for it:

[code]

and its Python equivalence:

[code]

Now, I can either invoke `encodeState` in the smart contract using web3 or I can do the

[2021-11-30 23:52] fselmo commented on #2226
@baokhanh1479 This doesn't seem related to web3.py and seems related to wrong or missing python-dev installation. A quick google shows there have been some successes for other users following a similar approach as seen here:

https://stackoverflow.com/questions/34668675/cython-fatal-error-python-h-no-such-file-or-directory

I'm going to close this as it doesn't seem to be a web3.py issue. Best of

[2021-11-30 23:52] #2226 closed

[2021-11-30 23:53] fselmo commented on #2220
closed by #2221

[2021-11-30 23:53] #2220 closed

[2021-12-01 14:17] baokhanh1479 opened #2229 "Please help. I have a problem on line 34"
* Version: x.x.x
* Python: 3.9.9
* OS: Windows
* `pip freeze` output

[code]

### What was wrong?

When running the command line below I get the output
SyntaxError: invalid syntax

[code]

How can i fix it. Thank you!

[2021-12-01 14:24] baokhanh1479 opened #2230 "Please help. I have a problem on line 34. Invalid syntax"
* Version: x.x.x
* Python: 3.9.9
* OS: Windows
* `pip freeze` output

[code]

### What was wrong?

When running the command line below I get the output
SyntaxError: invalid syntax

[code]

How can i fix it. Thank you!

[2021-12-01 14:28] #2229 closed

[2021-12-01 16:01] fselmo commented on #2215
Hey @viponedream. This message seems to be returning from the provider and does not look an issue web3.py. For usage / implementation questions and questions beyond web3.py, I highly suggest joining the discussion over on [discord](https://discord.com/invite/GHryRvPB84).

[2021-12-01 16:08] #2230 closed

[2021-12-01 16:56] kclowes commented on #2227
As a starting point, you can check for the filter and make a new one if one doesn't exist. I think most people store the filter data they need in a database so they can query it. Hope that helps!

[2021-12-01 17:09] pipermerriam opened #2231 "Difficult to attach one extra module to a web3 instance.."
### What was wrong?

There is no simple way to include a custom module in a web3 instance while still also including all of the default modules.

### How can it be fixed?

Ideally it should be a one-liner

[code]

[2021-12-01 23:15] dbfreem commented on #1423
So I was thinking about taking this one on but then started thinking. Wouldn't this be a breaking change as consumers of the library could be relying on the @dict_copy to not mutate the dictionary that they are passing in to things like main.setup_address. I can make the change but just wanted to make sure I made it on the right branch as it might not be appropriate to make the change on master.

[2021-12-02 10:41] mzaprudin opened #2232 "web3.middleware.geth_poa_middleware doesn't work with asyncio"
* Version: 5.25.0
* Python: 3.9.7
* OS: linux

### What was wrong?
I'm trying to get the lates block information from Binance Smart Chain node

[code]

it works with ETH node as expected, but for BSC node I have to add
[code]
and after that I get the next error
[code]

[2021-12-02 16:50] kclowes opened #2234 "Benchmarking CI run is silently failing"
### What was wrong?

The Benchmarking suite is has these errors on CI:
[code]

But is still "passing". An example can be seen [here](https://app.circleci.com/pipelines/github/ethereum/web3.py/1920/workflows/0dae272b-fac5-4713-b1d0-01f1292d9f54/jobs/177486).

### How can it be fixed?

I haven't dug into when or why this is happening, but wanted to leave a placeholder.

[2021-12-06 01:57] anhtuan96a8 opened #2236 "Can not sign private key ( use 12 word phrase ) when use web3.eth.account.sign_transaction"
* web3 : 5.20.1
* Python: 3.6
* OS: win
I cannot send transaction . It say "binascii.Error: Non-hexadecimal digit found" when i use this function

pancakeswap2_txn = contract.functions.swapExactETHForTokens(
    0,
    [spend, contract_id],
    sender_address,
    (int(time.time()) + 1000000)
).buildTransaction({
    'from': sender_address,
    'value': web3.toWei(0.001, 'ether'),
    'gas': 25000

[2021-12-06 04:28] pikeas opened #2237 "maxPriorityFeePerGas broken on Harmony"
Working under 5.24, seems to be related to the changes introduced by https://github.com/ethereum/web3.py/pull/2205 in 5.25.

[2021-12-06 16:53] unparalleled-js commented on #2236
You have to use the private key of your account, maybe something from `eth-account` python package, like this:

[code]

[2021-12-06 17:23] boxydog commented on #425
I am having this same problem.

Below is some code that works on mainnet but not rinkeby.

The [documentation of how to set up geth](https://web3py.readthedocs.io/en/stable/middleware.html#geth-style-proof-of-authority) is not sufficiently detailed to get it to work. The docs describe what I think is a local server, and I don't know how to run one.

[code]

[2021-12-06 17:28] fselmo commented on #425
Hey @boxydog. The docs could be a bit more clear for other cases but the important piece here is that if you are seeing the extradata error, injecting the `geth_poa_middleware` is the way to resolve it. See the second example in that link for how to import it and inject it into the middleware onion so that you do not see the error you are seeing with the `extraData`.

I'll leave this open for now

[2021-12-06 17:33] boxydog commented on #425
This issue hints that there may be an ENS registry somewhere for Rinkeby, but I don't know what that means or how to configure it.

I am saying that a complete and working example documented somewhere would really help, instead of just fragments.

[2021-12-06 17:37] kclowes commented on #2237
Can you post the error you're seeing?

[2021-12-06 17:38] boxydog commented on #425
Additionally, if I try

[code]

I just get an error.

[code]

Pretty sure it's expecting something running and configured.  We want to run our web3.py on Heroku, it's not clear to me how to even run a geth server at all, let alone on Heroku.

cc @fselmo

[2021-12-06 17:39] kclowes commented on #2236
Looks like this is resolved. Thanks @unparalleled-js!

[2021-12-06 17:39] #2236 closed

[2021-12-06 17:40] boxydog commented on #425
Can ENS lookups even differ between mainnet and rinkeby? Perhaps I should be doing ENS lookups on mainnet even when our app is using rinkeby for everything else.

[2021-12-06 17:51] pikeas commented on #2237
It should be reproducible with any call to `[contract].functions.[function].transact()` - this uses default values, and one of those defaults uses the priority fee RPC call, which fails.

[2021-12-06 18:01] kclowes commented on #2237
Got it. So Harmony doesn't support `maxPriorityFeePerGas` RPC endpoint?

[2021-12-06 18:03] pikeas commented on #2237
That does seem to be the case. I'm not an expert on Harmony, hopefully someone with more experience can chime in with a definitive answer.

[2021-12-06 18:08] kclowes commented on #2237
If they support EIP-1559 style transactions (a.k.a. dynamic fee transactions) but just not the `maxPriorityFeeEndpoint`, I would try sending in a value for `maxPriorityFeePerGas` to see if that works. Otherwise the workaround is to manually pass in legacy parameters.

[2021-12-06 19:08] fselmo commented on #425
Hey @boxydog thanks for the updates. It looks like `ENS.fromWeb3()` injects another middleware so the `geth_poa_middlewre` needs to be injected after that line as well like this:

[code]

This should get you unstuck for now but we can definitely use a documentation improvement around some of this so I will leave this issue open and use this as a guide to make some updates.

Thanks again.

[2021-12-06 19:12] boxydog commented on #425
Thanks very much for your response. I still get the same error.

Here is all the code after the `if` just to double-check:

[code]

[2021-12-06 19:12] boxydog commented on #425
Also, here is my version:

[code]

[2021-12-06 19:14] boxydog commented on #425
My apologies, I didn't see that difference.

Yes, now it doesn't throw an error. It returns `None`, but that may well be correct. Perhaps that address is not mapped in Rinkeby ENS space, whatever that means. :)

Thanks for your help!

[2021-12-07 02:22] fselmo commented on #2237
Harmony isn't expected to work with the `eth` module out of the box. From a quick glance it looks like using `gasPrice` is the way to go for Harmony transactions (and this will bypass any calls to max fee endpoints) though you are likely to still run into issues that may need to be built out in order to support Harmony.

We have some ideas in the works to import custom providers / modules in the f

[2021-12-07 07:50] MatthiasLohr commented on #1065
Any ideas?

[2021-12-07 12:22] zpcodemen opened #2238 "I wonder if there is a method similar to getPastEvents in web3.js"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

---
**Note:** We prefer

[2021-12-07 17:36] fselmo commented on #2177
@BatyaGG What provider are you connecting to? We need more information. I can't reproduce this on my end. Are you still having issues?

[2021-12-07 17:54] fselmo commented on #2156
Hey @howgoodisdata, we prefer to use issues to track our work. I’m going to close this as this does not seem like it is an issue with web3.py. Please feel free to re-open if you believe it was closed in error.

If you have implementation or usage questions, please refer to our [documentation](https://web3py.readthedocs.io/en/latest/) and/or join the conversation on [discord](https://discord.gg/GHr

[2021-12-07 17:54] #2156 closed

[2021-12-07 23:30] #1657 closed

[2021-12-08 08:58] #2238 closed

[2021-12-08 11:49] marcobesier commented on #1183
Hey there, I'm looking to make my first contribution to Web3.py (and first contribution to open-source, in general). Given that the issue is still marked as Open, I was wondering whether there is still something I can help with.

[2021-12-08 17:21] kclowes commented on #1183
@marcobesier Welcome! Yep, there are still many places in our docs where we us web3 instead of w3. `docs/web3.eth.rst` is a prime example. Any code examples using `web3.eth` can move to `w3.eth`, but if you're doing a find and replace, be sure to not break the doc links (which look like: `:attr:'~web3.eth.Eth.default_block'`).

[2021-12-08 17:32] kclowes commented on #1065
Thanks for the example and the bump @MatthiasLohr. It looks like this may be a bug in `eth-abi`, but also looks like you have a workaround? We need to get a few things out the door, but this is on my list to look at.

[2021-12-08 17:39] MatthiasLohr commented on #1065
Unfortunately, this workaround only works in a testbed for me, since I want to connect to an already existing smart contract, which does not have the encodingMethod public, it's internal only. So I really need a solution for this, but for now couldn't find any...

[2021-12-08 18:06] L-F-Escobar opened #2240 "possible bug with .buildTransaction, producing strange behavior"
* Version: 5.25.0
* Python: 3.8.9
* OS: osx big sur
* ETH Node: https ropsten.infura.io
* `pip freeze` output

[code]

### What was wrong?

`gas` & `gasPrice` are being returned into variable `construct_txn` and the entire function takes about 5-9 seconds to complete. Any idea what might be happening?

[code]

### How can it be fixed?

---
**Note:** We prefer to use issues to track our work. If yo

[2021-12-08 18:20] L-F-Escobar commented on #2240
Solved. Problem was in the middleware

From @_felipe#2480

[code]

New web3 factory

[code]

[2021-12-08 18:20] #2240 closed

[2021-12-08 18:23] kclowes commented on #1065
Gotcha. And you can't use the "working example" you listed above passing the empty arrays?

[code]

[2021-12-08 18:47] MatthiasLohr commented on #1065
Unfortunately not, another part in the smart contracts checks for length of the error to be zero for specific cases (https://github.com/hyperledger-labs/perun-eth-contracts/blob/main/contracts/Adjudicator.sol#L256).

[2021-12-09 20:50] kclowes commented on #1416
Drop python 3.6 support? Python 3.6 will no longer be supported after 12/23/21. See: https://endoflife.date/python

[2021-12-10 07:14] marcobesier commented on #1183
Awesome! Will take a crack at making the update.

[2021-12-10 16:33] lforet commented on #1603
Has anyone made progress on this.. I would PAY for this functionality - to be able to store web3 smart contacts in a local mysql db

[2021-12-10 21:25] kclowes commented on #1603
This hasn't reached the top of our priority queue, so no progress has been made. If you'd like to take a crack at it, @lforet, we'd be happy to review! That's probably the fastest way to get it in at this point.

[2021-12-12 12:40] Zepps555 opened #2248 "ValueError: {'code': -32004, 'message': 'filter requests not supported'}"
* Version:5.25.0
* Python: 3.9.9
* OS: win

### while i was testing the code it didin't want to go through and showed me this error

ERROR: 2021-12-12 13:30:21,429 {'code': -32004, 'message': 'filter requests not supported'}
Traceback (most recent call last):
  File ".\test.py", line 953, in <module>
    run()
  File ".\test.py", line 944, in run
    scan(tokens)
  File ".\test.py", line 607, in s

[2021-12-13 00:01] unparalleled-js commented on #2248
What provider are you using? It appears that your provider does not support filtering.

[2021-12-14 01:57] feedss commented on #2232
Yes
I got the same exception.
How to fix it?

[2021-12-14 03:58] guoyiteng commented on #2237
Hi, I'd like to add that `eth_maxPriorityFeePerGas` isn't part of [ETH JSON-RPC spec](https://playground.open-rpc.org/?schemaUrl=https://raw.githubusercontent.com/ethereum/eth1.0-apis/assembled-spec/openrpc.json&uiSchema%5BappBar%5D%5Bui:splitView%5D=true&uiSchema%5BappBar%5D%5Bui:input%5D=false&uiSchema%5BappBar%5D%5Bui:examplesDropdown%5D=false). It is an endpoint Geth added on its own. Clearly

[2021-12-14 13:02] J0hn3ch opened #2250 "Python3.10 pip install. Module not found: distutils.command.bdist_wininst"
* Version: latest
* Python: 3.10
* OS: linux
* `python3.10 -m pip install web3` output

[code]

### What was wrong?

[code]
The module bdist_wininst is not implemented.

I cannot install web3

How can I solve this problem?

[2021-12-14 15:18] marcobesier commented on #1183
@kclowes A quick comment on the pull-request: for now, I just updated the `docs/web3.eth.rst` file to see if I understood everything correctly. Once you (or someone else) approves the pull request, I would go ahead and update additional doc files in the same manner.

Also, since this is my first real contribution to open-source, please let me know in case I should do anything differently going for

[2021-12-14 17:00] fselmo commented on #2250
Hey @J0hn3ch, that's a good question. We don't currently have Python 3.10 support. It is coming up and there is a PR out for adding support [here](https://github.com/ethereum/web3.py/pull/2175). All are welcome to contribute.

I would recommend using a virtual environment with Python 3.9 for now for using `web3`. I'm going to close this for now as this is being tracked elsewhere. Feel free to open

[2021-12-14 17:00] #2250 closed

[2021-12-14 22:32] kclowes commented on #2232
The async provider is a work in progress, and this is definitely on the list to get done. Here is the list of currently supported methods and middlewares: https://web3py.readthedocs.io/en/stable/providers.html#supported-methods

[2021-12-14 23:31] ssl-serg opened #2253 "Web3 crash on web3.eth.get_balance call"
* Version: x.x.x
* Python: 3.9/3.10
* OS: win
* `pip freeze` output
[code]

### What was wrong?

Exception traceback:

'''
TypeError: unhashable type: 'dict'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
.......
    balance_wei = web3.eth.get_balance(bts.addr)
  File "c:\Python310\lib\site-packages\web3\module.py", line 57, in caller

[2021-12-14 23:35] ssl-serg commented on #2253
I got same crashes in other we3 api calls also.
I got it on connection to BSC node - https://bsc-dataseed1.ninicoin.io/

[2021-12-15 14:43] ddocs opened #2256 "Update to Quickstart"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win
* `pip freeze` output

[code]
### What was wrong?

In the current Quickstart, it states the following:
"Provider: Infura
The quickest way to interact with the Ethereum blockchain is to use a remote node provider, like Infura. You can connect to a remote node by specifying the endpoint, just like the previous local node example:"

However,

[2021-12-15 15:30] rickbeeloo opened #2257 "Possible to call estimateGas() without sufficient balance"
A rather short question, when calling `estimateGas()` (or `call()` for that matter) on a transfer function, the `from` account needs the specified amount of tokens. Is it possible to execute the gas estimation without checking if the `from` address has the token? I think to recall that I saw a "fake" balance being created with web3.js through `extend` although I'm not sure.

[2021-12-15 16:08] AngeloCa commented on #2129
Any update on an async-ification of web3.eth.get_transaction_receipt ?

[2021-12-15 17:23] kclowes commented on #2257
We do not have that functionality AFAIK. Can you link me to the docs in web3js that they have it? I'd be curious to see their implementation.

[2021-12-15 17:47] pipermerriam opened #2258 "Support for `eth_createAccessList`"
### What was wrong?

Unsure if this is standardized but, support for `eth_createAccessList` would be useful

https://geth.ethereum.org/docs/rpc/ns-eth#eth_createaccesslist

### How can it be fixed?

Add support for that JSON-RPC endpoint either in the `w3.geth` namespace or under `w3.eth` if it is standardized (I think it is)

[2021-12-15 17:55] rickbeeloo commented on #2257
@kclowes here is an[ issue](https://github.com/ethers-io/ethers.js/discussions/2379) and [here](https://web3js.readthedocs.io/en/v1.2.11/web3-eth.html#extend) a "desc" in the docs. I don't know if, using this, I can do what I want but in the github issue for example I see that there is something called "balance"

[2021-12-15 17:57] kclowes opened #2259 "Move usage of `eth_maxPriorityFeePerGas` to `eth_feeHistory`"
Since `eth_maxPriorityFeePerGas` is Geth-specific, we should stop using it to fill in gas values. We should use `eth_feeHistory` instead. I think it still makes sense to keep the RPC endpoint in `web3/eth.py`, but all places we call `eth_maxPriorityFeePerGas` should be changed.

Comment from #2237:

_Originally posted by @guoyiteng in https://github.com/ethereum/web3.py/issues/2237#issuecomment-99

[2021-12-15 21:05] kclowes commented on #2257
I _think_ the github issue is referencing the `state_override` argument that Geth implements. So when doing a `call` with a geth node you can override certain things. If that suits your needs, we do have that functionality, but only for `call`. Docs [here](https://web3py.readthedocs.io/en/stable/web3.eth.html?highlight=eth_call#web3.eth.Eth.call). Is that what you were looking for?

[2021-12-15 21:23] rickbeeloo commented on #2257
@kclowes Thank you so much for the quick replies and looking with me!
The main thing is I want to test if a swap is possible regardless of the `from` having insufficient balance of the token. I quickly wrote a reproducible script:

[code]

Since the `from` (i.e. 0xb40ED5445aA62b3adF032D89F9183bB907C7f929) does not hold the token this will throw an `execution reverted: TransferHelper: TRANSFER_FROM

[2021-12-15 21:38] rickbeeloo commented on #2257
[This](https://www.programcreek.com/python/?code=ethereum%2Feth-tester%2Feth-tester-master%2Ftests%2Fbackends%2Ftest_pyevm.py) looks related, although it looks it's only possible to change the eth balance not that of something else

[2021-12-15 21:52] pacrob commented on #2129
Thanks for the reminder! Working on it now.

[2021-12-16 00:56] dbfreem commented on #1729
@kclowes  this issue can be closed.

[2021-12-16 01:56] dbfreem commented on #2253
I was looking at this and trying to understand what code where you running when this exception happened?

[2021-12-16 05:28] kclowes commented on #1729
Thanks!

[2021-12-16 05:28] #1729 closed

[2021-12-16 09:46] AngeloCa opened #2262 "Cannot use w3.eth.filter with httpProvider with custom headers"
### What was wrong?

In order to connect to my HTTP provider, I need to pass an 'X-Auth-Token' containing the credentials in the header. I do the following:

[code]

This works, well when trying to get a block with ```w3.eth.get_block('latest')```. However when I try to use filter methods like ```w3.eth.filter('latest')```, I get an ```HTTPError: 403 Client Error: Forbidden for URL. xxx```

### Ho

[2021-12-16 13:25] DanielMS93 opened #2263 "Transactions not executing despite same function call on poocoin.app"
* Version: 5.25.0
* Python:3.8
* OS: linux

### What was wrong?

I am trying to use the swap functionality of the pancake router here: https://bscscan.com/address/0x10ed43c718714eb63d5aa57b78b54704e256024e

However, none of my transactions are completing when i use the below code. I have tried multiple to_tokens so fairly confident is it not an issue with the token but i just dont understand why t

[2021-12-16 17:41] ssl-serg commented on #2253
My exception handler for this traceback:

        except Exception as err:
            bpu.print2file(bts.fnlog, f'Error: {err}', eoln = 2, dbg = True)
            exc_info_str = ''.join(traceback.format_exc())
            bpu.print2file(bts.fnlog, f'Traceback: {exc_info_str}', eoln = 2)

the exception is not the reason of program crash, but, each time I got this exception, my program crashes.

I

[2021-12-16 17:41] ssl-serg commented on #2253
My program are multithreaded - it has about ~20 threads, and each thread are doing similar work - each thread on it's own BSC node.
It is reproducible only in case if there are present threads on BSC nodes from this list:

[code]

In case if I use my local fast BSC/ETH nodes in multithreaded mode, there are no such problem.

[2021-12-16 17:42] ssl-serg commented on #2253
I'll try to collect crash dump.

[2021-12-16 18:11] ssl-serg commented on #2253
Collected additional logs on program crash with "-X dev" python option:

[code]

[2021-12-16 18:17] ssl-serg commented on #2253
It looks like the problem are reproducible on HTTPS node endpoints.

[2021-12-16 21:29] ssl-serg commented on #2253
Last 3 crash dumps:

[python.exe.19240.dmp.zip](https://github.com/ethereum/web3.py/files/7730480/python.exe.19240.dmp.zip)
[python.exe.24388.dmp.zip](https://github.com/ethereum/web3.py/files/7730479/python.exe.24388.dmp.zip)
[python.exe.21720.dmp.zip](https://github.com/ethereum/web3.py/files/7730478/python.exe.21720.dmp.zip)

"!analyze -v" in 64-bit windbg:

**python.exe.19240.dmp**

[code]

**

[2021-12-16 21:34] ssl-serg commented on #2253
I can try to create some small PoC if required.

[2021-12-17 00:12] fselmo commented on #2066
Closed by #2205

[2021-12-17 00:12] #2066 closed

[2021-12-17 02:47] dbfreem commented on #2262
I debugged both of the methods you mentioned and it seems that the kwargs are passing through on both request.

![image](https://user-images.githubusercontent.com/9778569/146480333-f534b485-5dcd-4155-82b8-7877e12b5c61.png)

1. `w3.eth.get_block('latest')`  kwargs passed to the requests library in request.py `{'headers': {'X-Auth-Token': 'hey', 'Content-Type': 'application/JSON'}, 'timeout': 5}`
2.

[2021-12-17 03:15] broper2 commented on #2259
Hi @kclowes, good excuse to dig into some more web3.py code. I will put together a PR for this.

[2021-12-17 03:51] kclowes commented on #2259
Awesome, thanks @broper2!

[2021-12-17 08:32] AngeloCa commented on #2262
Thank you very much for your help and time.

1 is working also fine for me. But 2 is receiving an HTTPError: 403 Client Error...

Do you have any idea why this is the case?

[2021-12-17 09:38] AngeloCa commented on #2262
The node I am using also supports WebSocket connections. So I have tried using a WebsocketProvider with the same setup.

I have a similar behavior where 1 works but 2 doesn't. However the error message is different, I have:

[code]

Any clues about how to understand this error code?

[2021-12-17 10:43] dbfreem commented on #2160
What version are you using?

I tried the imports you have in your second code snippet and it seems to work. When trying your imports from the first code snippet I noticed the _ was missing when accessing the events module

was `web3.utils.events`
should be `web3._utils.events`

[2021-12-17 10:50] dbfreem commented on #2187
I ran into issues installing web3 on windows so I went the wsl route and everything worked perfectly.

[2021-12-17 16:05] SasoriOlkof opened #2267 "MismatchedABI error only the first time"
* Version: 5.25.0
* Python: 3.9.6
* OS: win
* `pip freeze` output

[code]

### What was wrong?

The first time I try to pull the event out of a hash it gives me the MismatchedABI error, the following times it works fine

If you execute this in the console, the warning will appear and the variable "results" is not defined

[code]

in the same python shell, if you subsequently run this it works fine

[2021-12-17 16:59] MrCanan opened #2268 "web3 + pyinstaller"
Hi,

[code]

`pyinstaller --clean --strip --onefile test_web3.py`

Without pyinstaller, web3_status is true every time, so it is normal.
But with pyinstaller, it is ALWAYS false, so there is a problem.

It is for sure a setting of pyinstaller.
Any ideas?

Best regards.

[2021-12-17 17:36] MrCanan commented on #2268
Hi,

I am on a fresh VM on VirtualBox, so I have already a clean install.
OS: Ubuntu 18.04
Python: 3.6.9
PyInstaller: lastest

Best regards.

[2021-12-17 17:43] SasoriOlkof commented on #2267
i try it somethin like that, but i get the same error, i get it every try

[code]

[2021-12-17 18:02] #2268 closed

[2021-12-17 22:18] dbfreem commented on #2234
Yea the issue is that on the benchmark for 100 request the geth node stops responding at around 80 request. That is when the timeouts come in because the node doesn't ever respond.

I stopped the debugger after the first timeout. I made a manual sendTransaction requester to the test node while it was still running. It never responded, but other request types did respond. So this seems like an issu

[2021-12-17 23:52] broper2 commented on #2259
Hi @kclowes, wanted to run something by you before submitting PR. I do think the underlying data used in  eth_maxPriorityFeePerGas implementation is available in eth_feeHistory, and we could add a simple function to estimate a reasonable "tip" default.

However, as I read about this more, I found this discussion:
https://github.com/ethereum/pm/issues/328#issuecomment-853510466

Seems we may be abl

[2021-12-18 00:55] #2267 closed

[2021-12-18 01:02] glenvollmer commented on #1556
anyone figure this issue out??? I am having the same problem but with the IPC connection instead of Websocket

[2021-12-18 06:01] kclowes commented on #2259
That looks good to me, but @fselmo has done way more of the dynamic fee work so I'll defer to him. Do you have any thoughts @fselmo? Thanks for looking into it, @broper2!

[2021-12-18 16:37] #2262 closed

[2021-12-18 16:58] AngeloCa opened #2270 "Add async support for eth.contract and contract function calls"
### What was wrong?

Support for async eth.contract and async contract calls would be useful

### How can it be fixed?

Asyncify eth.contracts and contact calls.

[2021-12-20 10:55] dbfreem commented on #1413
@kclowes  I was thinking about taking on one of these Async additions if it didn't turn into a mountain of work. I had one question.

On the Geth one above I see there is Admin, Miner, Personal, Shh, **TxPool**. I looked at the [docs](https://web3py.readthedocs.io/en/latest/web3.geth.html#gethtxpool-api) on how these methods are used. When I try to run inspect or status (see below code) in TxPool

[2021-12-20 21:48] kclowes commented on #1413
@dbfreem that error message is coming back from your node. You’ll need to be attached to a local Geth node to have access to those methods. Sometimes you also need a flag on startup to have access to those modules on the Geth side. Running ‘geth —help’ should show the commands you need. It don’t remember the exact command off the top of my head but it’s something like ‘—http.api=personal’

[2021-12-20 22:15] fselmo commented on #2259
I don't think this is good enough. Some testing on my end suggests that at every new block transition (most likely) there is inconsistency in the values for `eth_maxPriorityFeePerGas` and (`eth_gasPrice` - `latest_base_fee`), therefore this is simply not good enough to hold.

I did some testing calling the below method on an infura connection multiple times until I got `False` and the inequality p

[2021-12-20 23:05] broper2 commented on #2259
Yeah its a good point. From reading about this, I am not convinced we will be able to replicate behavior of RPC endpoint eth_maxPriorityFeePerGas perfectly either way, but if that is accepted I can put together a calculation and see if it gets closer over number of tries (I am actually guessing that it will not be as good, but don't mind trying).

If the goal is really to never deviate from what e

[2021-12-21 02:21] fselmo commented on #2259
@broper2 yeah I hear you... I don't necessarily care that we replicate what geth is doing... something else that is reasonable would work well here too. The reason I don't like the `eth_gasPrice` approach is that sometimes it doesn't make sense at all and thus isn't reliable. I just ran it for less than a minute and I got a negative value because the `base_fee` was higher than the `gas_price` at t

[2021-12-21 02:40] broper2 commented on #2259
Good catch with the negative value, should have considered that. And no problem, I'll give it a go creating an estimate to this endpoint in the next few days. I am just trying to dig into some web3 code so don't mind the added complexity at all.

When I was researching this before, I came across this Alchemy blog which gives a lot of info on best way to do exactly this calculation. Will circle bac

[2021-12-21 03:46] broper2 opened #2272 "Upgrade websockets to 10.1 ?"
* Version: 5.25.0
* Python: 3.8
* OS: osx
* `pip freeze` output

[code]

### What was wrong?

Currently in dependency hell trying to use solana-py and web3 in same service. solana-py requires websockets 10.1, web3 seems to not support that. Below is the changelog for 10.1 release of websockets, there are no incompatible changes. Any chance I could bother the team to consider upgrading support to 1

[2021-12-23 04:54] Daniel-Itzul opened #2274 "Gas estimation provided by web3.py is too low and is different than the one provided for exactly the same transaction in metamask."
* Version: 5.22.0
* Python: 3.9.5
* OS: osx 12.0.1 Monterey
* Network Binance Smart Chain Testnet
* `pip freeze` output

[code]

### What was wrong?

- The following transactions produce a different gas estimation when manually sending the exact same transaction using Metamask and web3.py.
- It is very interesting that this happens apparently randomly just some hours before the estimations were th

[2021-12-23 08:20] Daniel-Itzul commented on #2274
I verified this and after some testing. I think it is an issue regarding to the speed blocks are being produced in the testnet, that is the reason it sometimes appears and sometimes doesn't appear.
Closing the issue.

[2021-12-23 08:20] #2274 closed

[2021-12-24 09:58] vkage commented on #1578
Hi i found solution after trying these steps..

For this error
[code]

Download latest > [Microsoft C++ Build Tools](https://visualstudio.microsoft.com/visual-cpp-build-tools/)

Select tools as shown in screenshot >

![image](https://user-images.githubusercontent.com/32420145/147341720-f66a5cc1-63b6-479f-b8c2-719a704cd17b.png)

After this you will get error like this ..
[code]

Resolution

Add thi

[2021-12-25 08:22] ZTreeson opened #2278 "Issue from web3 import Web3 got error: ImportError: cannot import name 'encode_abi' from 'eth_abi' refer to #1698"
* Version: 5.12.2
* Python: 3.7
* OS: Mac
* `pip freeze` output
[code]
<put the output from running pip freeze here>

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
I try to create contract instance with below simple codes:
[code]
got error:
[code]
* What type of node you were connecting to.
BSC_PRC='https://bsc-dataseed.binance.o

[2021-12-26 08:51] ZTreeson commented on #2278
I tried to uninstall ethereum-abi-utils and upgrade eth-abi, but another error: ImportError: cannot import name 'encode_abi' from 'eth_abi'.
Not resolved yet.

[2021-12-26 18:21] SomeoneVacuous opened #2279 "Issue pip Install web3"
* Version: x.x.x
* Python: 3.10.1
* OS: Windows
* `pip freeze` output

[code]

### What was wrong?

Got error when install web3 via pip install web3

[code]

[2021-12-26 19:07] dbfreem commented on #2279
I ran into this issue on windows and decided to use WSL connected to VS Code instead of trying to work through the issue.

[2021-12-26 19:14] dbfreem commented on #2278
maybe try this with a clean virtual environment and see if that fixes the issue.

[2021-12-27 14:47] SomeoneVacuous commented on #2279
Thank you, with which distribution?

[2021-12-27 23:38] glenvollmer commented on #1556
???

[2021-12-27 23:39] glenvollmer commented on #1556
why though? Shouldn't is also work with the IPC connection as well?