[2017-11-29 19:29] owocki commented on #339
@jasonrhaas @miguel550 @techtonik thanks for your work on this.   im going to fulfilled the bounty to myself and then remit the above payments as [tips](https://gitcoin.co/tip).  Soon, we are going to integrate [StandardBounties](https://github.com/ConsenSys/StandardBounties/) which will more formally support payouts to multiple parties.

i will not take action on the above plan for the next 12 ho

[2017-11-29 19:40] carver commented on #454
This will go out in the next v3 version: 3.16.4

[2017-11-29 19:40] #454 closed

[2017-11-30 01:23] carver commented on #466
While investigating this issue in signed messages, I also looked into transactions. What I found is that web3js v1 0-pads `r` and `s` values in signed transactions. But things started to get hairy when implementing that and I got suspicious. So I looked at geth and parity. Neither of them 0-pad their r and s values in the raw transaction.

Interestingly, that means that exactly the same transactio

[2017-11-30 15:33] owocki commented on #339
have not heard anything from anyone.  payout imminent (est in ahour or two)

[2017-11-30 18:42] carver opened #478 "web3.eth.account signature hypothesis tests"
### What was wrong?

Want to catch/prevent more issues like #466 earlier.

### How can it be fixed?

More hypothesis tests. Piper's suggestions (on #477):

* A signed transaction's signature recovers to the expected sender address
* The raw transaction can be rlp decoded into a transaction object
* An rlp decoded transaction object's v,r,s match the v,r,s from the signature.
* The signature bytes

[2017-11-30 18:49] pipermerriam commented on #478
We can use the same strategy that we used to speed up the test suite in the Py-EVM codebase for *slow* tests like this.  We can setup a daily cron run on travis that runs and only run the *slow* tests during the cron run.

See implementation here: https://github.com/ethereum/py-evm/blob/master/tests/json-fixtures/test_state.py#L116-L119

[2017-11-30 21:12] monokh commented on #430
@carver it is quite long but not much longer than `sendTransaction`. I actually feel the word `prepare` is a bit misguided. It doesn't clearly imply that something is also being returned. For comparison, `web3.js` calls this `encodeABI` and in pre 1.0 it's `getData` which I personally feel is more clear.

[2017-11-30 21:14] monokh commented on #430
@carver also, I've left comments on the discussion on the PR however it seems to not be visible to others. All my comments are marked as "Pending":
![image](https://user-images.githubusercontent.com/11529637/33455215-4b45cc98-d613-11e7-89b0-122d6dbb3bc2.png)
Is it visible to you? I'm just wondering if it's blocked or something

[2017-11-30 22:10] carver commented on #430
@monokh my concern with using `encodeABI` here is that it only describes a part of what this function does. There are a bunch of other ideas for the naming higher in the thread. Do you like any of them better than `prepareTransaction` or have any other suggestions?

No, we can't see the comments while they are pending. There should be a Submit button floating around somewhere on the PR for you to

[2017-11-30 23:14] monokh commented on #430
@carver definitely agree that encodeABI isn't suitable
other alternatives also suitable look like
`.asTransactionDict()`
and
`generateTransaction()`

[2017-12-01 00:57] carver commented on #430
Cool, another option to add to the mix: `buildTransaction()`

[2017-12-01 01:43] #437 closed

[2017-12-01 17:05] miguel550 commented on #339
@owocki I haven't received anything yet. Did the payout happened?

[2017-12-01 18:09] monokh commented on #430
`buildTransaction()`
liking that one, shorter and more descriptive. Will change to that!

[2017-12-01 18:27] carver commented on #466
Released in http://web3py.readthedocs.io/en/latest/releases.html#v4-0-0-beta-3

[2017-12-01 18:27] #466 closed

[2017-12-01 18:30] carver commented on #259
Please reopen if you are still experiencing issues.

[2017-12-01 18:30] #259 closed

[2017-12-01 18:59] carver commented on #454
Released 3.16.4: http://web3py.readthedocs.io/en/stable/releases.html#v3-16-4

[2017-12-01 19:05] owocki commented on #339
sry.  been distracted with _all the things_ on it now

[2017-12-01 19:31] carver commented on #339
Looks like everything was paid out, closing...

[2017-12-01 19:31] #339 closed

[2017-12-01 19:31] owocki commented on #339
ok jsut sent all 3 tips.  @techtonik @miguel550 @jasonrhaas you should receive an email with instructions on how to redeem to an address you own.

sometimes github doesnt return an email address for certain profiles.  if you dont get an email send me an email (or message on the gitcoin slack) with your github username and email address and i will resend it

[2017-12-01 19:31] carver commented on #339
Thanks @techtonik @miguel550 @jasonrhaas for your help, and @owocki for the sponsorship!

[2017-12-01 19:31] owocki commented on #339
btw, the OG bounty was for 0.95, but i tip'd you all a % of 1 ETH because i'm lazy and didnt want to do the ` * 0.95 ` math 😂

[2017-12-01 19:33] jasonrhaas commented on #339
got it, thanks guys.  looking forward to contributing more 👍

[2017-12-02 20:59] techtonik commented on #339
@owocki thanks! I don't know what to do with that ETH yet.

I wonder if it is also possible to count the complexity of the issue in ETH as well? I'd like to detect underfunded issues. I understand that funds are limited and bounties are bounties, but it would be awesome to see real cost of the issues. Perhaps in lifetime hours, because USD measure is too unequal.

[2017-12-02 22:10] sulkhanp opened #483 "ImportError: cannot import name 'w3'"
* Version: Latest Beta (v4 beta 3)
* Python: 3.6
* OS: win

### What was wrong?

When compiling, python sometimes errors with 'ImportError: cannot import name 'w3'' and sometimes it doesn't. (I tried without changing anything in code, after clicking Run several times, it imports w3) Here are my imports:
import json, time, web3
from web3.auto import w3
from web3.contract import ConciseContract

###

[2017-12-03 04:28] owocki commented on #339
@techtonik you'd be fine just HODLing it im sure, but https://www.cryptokitties.co is the latest app people are excited about.  YMMV

there's a bunch of thoughts on https://github.com/gitcoinco/web/issues/21 and https://github.com/gitcoinco/web/issues/22 with respect to pricing and estimation of issues.  i like your idea about measuring in hours, but the pragmatist in me knows its very hard to do

[2017-12-03 15:35] wcraig2012 opened #484 "PyInstaller error: ModuleNotFoundError: No module named 'cytoolz.utils'"
* Version: 4.0_b3
* Python: 3.6
* OS: win
Both using "from web3 import Web3, HTTPProvider, IPCProvider" in a python script and running the script are ok.
But when using the pyinstaller to transfer the script into .exe file, it goes run with error:"ModuleNotFoundError: No module named 'cytoolz.utils',
[17504] Failed to execute script t2"
Does anybody know anything about this?
I'm in a hurry.Thanks

[2017-12-03 15:58] veox commented on #483
This happens to me consistently if there's literally nothing to connect to - i.e. neither the HTTP nor IPC providers are reachable, e.g. since there's no node running.

If the underlying cause does turn out to be the above, then the issue _could_ manifest when no provider is available for other reasons, e.g. due to node overload, OS blocking (including firewall rate-limiting), etc..

[2017-12-03 18:01] carver opened #485 "Auto-detect providers if none provided to Web3"
* Version: 4

### What was wrong?

More and more functions are valuable even if not connected to a node. Initializing with no providers available would be helpful to access those functions.

Additionally, it would be natural to try to auto-detect providers if none are provided, equivalent to how `from web.auto import w3` works.

### How can it be fixed?
#### Todo

- [x] Review/improve error messag

[2017-12-03 18:07] carver commented on #483
Also note that many nodes require some time to initialize their RPC interface, so if you start up the node and attempt to immediately import `w3`, it won't work yet. Give it some time and/or watch the logs for your node.

[2017-12-03 18:09] carver commented on #483
Hopefully #485 will address this issue for you. I'll close this in favor of that tracking issue.

[2017-12-03 18:09] #483 closed

[2017-12-03 18:20] pipermerriam commented on #485
Might be nice if it was possible to configure with environment variables as well.  Allows changing provider configurations without having to change code.

[2017-12-03 18:33] carver commented on #485
Perhaps something like:
[code]

[2017-12-03 19:19] carver commented on #484
I don't see cytoolz on the list of `pyinstaller`'s supported packages: https://github.com/pyinstaller/pyinstaller/wiki/Supported-Packages

Other than that quick google result, I'm not familiar with the project. It sounds like something you'd have to ask them about.

[2017-12-03 19:19] #484 closed

[2017-12-03 21:47] carver commented on #419
If we had really nailed the naming, I don't think there would have been so much discussion on it in #481.

Open questions:

1. Do we always use the ABI type name exactly, or do we pluralize `function` and `event`?
2. Do we allow invoking anything without parentheses? (like `myContract.fallback.transact()` or `myContract.function.myMethod.transact()`)

Maybe this alternative would feel cleaner?
[co

[2017-12-03 23:49] pipermerriam commented on #485
maintain a mapping of the protocol `http/file/???` to built-in provider classes?  Totally functional and simple.  I'd like to try and figure out a longhand that will also allow for 3rd party providers to be specified this way.  Maybe we can have a special version something like this.

[code]

That would handle most standard use cases as long as the provider class doesn't require initialization par

[2017-12-04 02:21] wcraig2012 commented on #484
Is there any other method of changing the script into .exe file with web3.py package?

[2017-12-04 03:15] pipermerriam commented on #484
@wcraig2012 the `toolz` library is a drop in replacement for `cytoolz`.  You should be able to swap them out for each other and the `toolz` one does not use C-extensions.

[2017-12-04 18:43] owocki commented on #419
@dylanjw how goes it?

[2017-12-04 18:43] owocki commented on #430
just checking in here.  @monokh -- let me know if you need anything from me.  can pay out bounty as soon as the approved code is merged

[2017-12-04 18:48] owocki commented on #409
hey @Sebohe -- just checking in to see if there's any progress.  no pressure, but just making sure you're still interested bc if not id give it to someone else.  thanks :)

[2017-12-04 19:06] carver commented on #419
There was a checkin a couple days ago and feedback yesterday, so it's still active.

[2017-12-04 19:08] #430 closed

[2017-12-04 19:12] carver commented on #419
#430 is merged now, notice the new action `buildTransaction`

[2017-12-04 19:45] owocki commented on #430
@carver sorry, im slow.  should i be paying out the bounty yet?

[2017-12-04 21:06] monokh commented on #430
the PR is approved and merged now 🎉
thanks for the patience @carver @pipermerriam had a great time working on this 😃
@owocki i'm not very familiar with the process but i've submitted a claim for the issue that's being picked up now. It's still waiting to be included in a block :slightly_frowning_face: hopefully kitties will let us through soon

[2017-12-04 21:12] dylanjw commented on #419
@carver Your suggestion feel cleaner, but Im wondering if will limit extensibility.  I noticed in the web3.js api they allow some alternatives for function selection:

Not that we should copy this exactly, but it shows me having a discreet function/event attribute may provide some flexibility.  Im leaning more towards piper's request for the pluralized api: contract.functions, contract.events.

[2017-12-04 21:55] carver commented on #430
@owocki yes, the bounty can be paid out :) Looks like it might need a 21 gwei gas price to get through...

![kittens attack](https://1funny.com/wp-content/uploads/2010/10/kitten-attack.jpg)

[2017-12-04 22:15] owocki commented on #430
those darn cryptokitties are lucky they're cute!  remitting now

[2017-12-04 22:19] owocki commented on #430
@monokh can you send me the txid for your claim?  looks like there are several pending now

[2017-12-04 22:55] carver commented on #468
Anyone who wants to use pypy3, please go vote on that bitbucket issue. There is currently one vote (mine), so it's not obvious to the maintainers that this is a priority to us.

[2017-12-04 23:06] carver commented on #446
Interesting that this API is not defined in the web3js v1 docs yet: https://web3js.readthedocs.io/en/1.0/web3-eth-contract.html#methods-mymethod-call

Should it be an extra parameter to `call`? It doesn't really fit *inside* the transaction dict, semantically.

[code]

[2017-12-04 23:35] carver commented on #419
The `events` piece requires some extra thought, since the other three are things you can directly create a transaction with, but AFAIK there's no such thing with an event.

So what are the methods available under events? See #429 (esp. the first half) for an example of what people need under events. Since this isn't a thing that exists in the original order (ie~ there is no `contract.call().eventN

[2017-12-04 23:49] carver commented on #353
#419 Is going to resolve this by introducing `contract.fallback.transact()`

[2017-12-04 23:49] #353 closed

[2017-12-04 23:51] carver commented on #304
We're testing against geth 1.7.x, so this seems to be done.

[2017-12-04 23:51] #304 closed

[2017-12-04 23:52] #300 closed

[2017-12-04 23:59] carver commented on #297
Connecting to a missing HTTP and IPC location both give reasonable failures when the endpoint is missing. The problem in the linked example is that they tried to use an endpoint that wasn't an ethereum node. `JSONDecodeError` may not have helped them a ton, but it's a somewhat reasonable response. Closing for now.

[2017-12-04 23:59] #297 closed

[2017-12-05 00:07] carver commented on #254
This is undocumented, but also works in parity.

Perhaps step one is to detect if there's a response from the node saying "Method not found" then check the `rpc_modules` and tweak the error message to make clear that the module is turned off in the given provider.

[2017-12-05 00:09] carver commented on #220
Please reopen if setting the gas limit higher did not resolve the issue for you.

[2017-12-05 00:09] #220 closed

[2017-12-05 00:11] carver commented on #217
If I remember correctly, this was resolved in chat as needing to unlock the account after every usage (which parity requires). Please reopen if this issue is not addressed.

[2017-12-05 00:11] #217 closed

[2017-12-05 00:17] carver commented on #167
Available in the v4-beta: http://web3py.readthedocs.io/en/latest/web3.eth.account.html

[2017-12-05 00:17] #167 closed

[2017-12-05 00:18] #75 closed

[2017-12-05 00:22] carver commented on #166
:( waiting to hear back...

[2017-12-05 04:31] wcraig2012 opened #488 "Error: Crypto.Cipher._raw_ecb"
* Version: 4.0.0b3
* Python: 3.6
* OS: osx/linux/win(all tried)

​Dear ​ethereum:
Thank you for response to issue #484. I have solved the problem. But here comes another.
When using web3.py package, i have a problem. I need to package my project into .exe file, so i used PyInstaller. But after packaging, there is a error:"OSError: Cannot load native module 'Crypto.Cipher._raw_ecb'"
I have googled

[2017-12-05 18:16] monokh commented on #430
@owocki [0x687f2c24ada361291e290ad0fe264d80303f25c474f5f9d269562ec7b6966f0c](https://etherscan.io/tx/0x687f2c24ada361291e290ad0fe264d80303f25c474f5f9d269562ec7b6966f0c)
Still not seeing it tagged as `Claimed` on gitcoin though so may be doing something wrong.

[2017-12-05 18:31] owocki commented on #430
@monokh just synced the issue at https://gitcoin.co/funding/details?url=https://github.com/pipermerriam/web3.py/issues/430 with web3.

and submitted an acceptance for your work on this.   payment should be remitted once https://etherscan.io/tx/0xa0db386627cf9a636eca4e1d8ce75629ae6e0d1a6cbba2fb81c7679a2c329911 clears

[2017-12-05 18:36] owocki commented on #430
@monokh i just remitted payment.  the gitcoinco bot didn't comment because of issues resultant from the migration of this repo from @pipermerriam 's github handle to the @ethereum handle. nevertheless, payment has been remitted and https://gitcoin.co/funding/details?url=https://github.com/pipermerriam/web3.py/issues/430 is updated!

congrats! 🎉

[2017-12-05 18:40] pipermerriam commented on #488
This isn't a topic I'm familiar with so I don't think I can help much.  I'd suggest stack overflow.

[2017-12-05 18:57] pipermerriam commented on #446
I'd say extra *optional* parameter.

[2017-12-05 19:00] pipermerriam commented on #419
Supporting both of these would be nice since the *auto-matching* of what function you are trying to call can fail in certain edge cases.

* The name with parameters: `myContract.methods['myMethod(uint256)'](123)`
* The signature: `myContract.methods['0x58cf5f10'](123)`

[2017-12-06 09:06] Sebohe commented on #409
@owocki ^ I couldn't get @functools.lru_cache to work... We will see how the PR goes.

[2017-12-06 16:23] carver commented on #488
@wcraig2012 I am also not familiar with the `pycrypto` library.

What are you using it for? Can you use the `Account` module instead?

docs at: http://web3py.readthedocs.io/en/latest/web3.eth.account.html

[2017-12-06 16:33] pipermerriam opened #492 "API for re-sending transactions"
### What was wrong?

There are a few legitimate use cases for wanting to re-submit a transaction that has already been sent with modified parameters.

* Resending the same transaction with a higher gas price during times of network congestion.
* Quickly overriding a transaction sent in error (also by using a higher gas price)
* In a case where you *know* there is a signed transaction that was sent

[2017-12-06 16:40] carver opened #493 "Middleware to sign transactions locally"
* Version: 4

## What was wrong?

It would be convenient to use the `Web3.eth` interface as if you were using your node's account management features, even if the key is only available locally.

Basically, we want this to work:

[code]

## How can it be fixed?

**New Local Middleware**

A reasonable approach is to add a new middleware that is configured with a private key. It would look for transa

[2017-12-06 16:40] pipermerriam opened #494 "Gas price engine API"
### What was wrong?

Currently, web3.py just uses the `eth_gasPrice` JSON-RPC API to determine the gas price to use for transactions.  Most nodes do not currently implement very good algorithms for determining gas prices.

### How can it be fixed?

Lets implement a new API for determining gas prices.

* Add a new API: `Web3.set_gas_price_engine(engine)`
* Add new API: `Web3.get_gas_price(transacti

[2017-12-06 16:55] carver opened #495 "Easier way to replace pending transactions"
* Version: 4

### What was wrong?

Replacing a pending transaction takes too much boilerplate code. Much more convenient APIs are possible for common use cases like:

- bump the gas price of a pending transaction to new gas price P Gwei
- replace pending transaction A with pending transaction B at the minimum gas price increase
- replace pending transaction A with new transaction C

### How can it

[2017-12-06 16:57] pipermerriam opened #496 "Better gas price engine algorithm"
Depends on #494

### What needs to be done?

The algorithm used by https://ethgasstation.info/ is pretty solid for determining gas prices.  Lets implement something similar

### How can it be done?

Implement a new gas price engine (see #494 ) that uses the following algorithm to compute gas prices.

The algorithm will be configured with the following parameters:

- Let `N` be the number of histor

[2017-12-06 16:59] pipermerriam commented on #492
This is just a first stab at an API for this.  It almost definitely can be improved.

[2017-12-06 17:04] carver commented on #492
Other name options:

- `w3.eth.replaceTransaction()`
- `w3.eth.resendTransaction()`

Closes #495

[2017-12-06 17:04] #495 closed

[2017-12-06 19:29] pipermerriam commented on #493
@jasonrhaas this is the issue I mentioned.

[2017-12-06 19:30] pipermerriam commented on #409
I think the only thing left is one more PR against the v3 branch and this can be closed.

[2017-12-06 21:56] jasonrhaas commented on #493
I will take a look at this as soon as I can get my head above water on my other work :)

[2017-12-06 22:02] carver commented on #409
Ready to pay out @owocki !

[2017-12-06 22:02] #409 closed

[2017-12-06 22:04] pipermerriam commented on #493
Sounds good.  I'm going to hold it for you for two weeks.

@jasonrhaas should be considered to have exclusive rights to this issue through December 20th, 2017.  Others should feel free to express interest prior to that date.

[2017-12-06 22:39] owocki commented on #409
submitting the bounty payment now.  while you wait for the tx to clear, you are welcome to stare at this kitty:

![https_ 2f 2fblueprint-api-production s3 amazonaws com 2fuploads 2fstory 2fthumbnail 2f64318 2f433830cd-6b06-4d7d-b704-48f66ba8ab11](https://user-images.githubusercontent.com/513929/33689126-7dd7d656-da9b-11e7-9648-50eda191201c.png)

[2017-12-06 22:49] owocki commented on #409
@Sebohe can you respond to my msg on slack? i jsut want to make sure the claimee for this bounty is you.  it does not have a github username attached to it https://gitcoin.co/funding/details?url=https://github.com/pipermerriam/web3.py/issues/409

[2017-12-06 23:19] Sebohe commented on #409
@owocki, I will be staring that kitty for some time I think... xD

I also replied to you on slack.

[2017-12-06 23:55] carver commented on #494
Ethgasstation is pretty good, but during high rates of change it can actually be pretty far off. It's actually quite a tricky problem, because there are a lot of hidden variables that could be influencing which transactions are included. It may be intractable to get very close to the "right" answer.

So instead of this (or perhaps in addition to it), another good solution might be to monitor pendi

[2017-12-06 23:56] carver commented on #494
That's sufficiently different that it belongs in another issue. Or better, in its own library. Another thing on the todo list...

[2017-12-07 11:22] aaron315 opened #498 "contract_abi is None"
* Version: 3.16.4
* Python: 3.5
* OS: osx

### What was wrong?
i use populus step by step:
populus init
populus compile
populus deploy --chain tester --no-wait-for-sync
i get below errors:
Please include any of the following that are applicable:

  File "/Users/aaronluo/work/ve/ico/lib/python3.5/site-packages/eth_utils/string.py", line 85, in inner
    return force_obj_to_text(fn(*args, **kwargs))

[2017-12-07 16:06] webjunkie01 commented on #386
Does anyone has an example on how this works?.

[2017-12-07 17:17] pipermerriam commented on #498
This is a known issue in populus that's being worked on here: https://github.com/ethereum/populus/pull/403

[2017-12-07 17:17] #498 closed

[2017-12-07 17:17] pipermerriam commented on #498
You can downgrade to `solc <= 0.4.18` (or maybe `0.4.17`) to fix this.

[2017-12-07 17:52] pipermerriam commented on #494
do you know what the sample size that Eth Gas Station uses is?

I'm assuming you're talking about the actual EGS algorithm?  Maybe but I'm not sure what it's really useful for on it's own..  I could probably be convinced either way

[2017-12-07 18:03] pipermerriam commented on #488
@carver this is an issue with packaging something into a windows `.exe` file and one of the underlying libraries not cooperating (I think).  I'm going to close this as I am pretty sure it's beyond the scope of what we can support for the time being as this is a generic issue with packaging up python to an `.exe` and doesn't have to due with web3.py itself.

[2017-12-07 18:03] #488 closed

[2017-12-07 23:32] carver commented on #494
I meant to say that the following should go in its own library:

[2017-12-08 00:17] #485 closed

[2017-12-08 01:24] carver commented on #166
Status update:

Build is kicking off now, but failing to install requirements-dev: https://ci.appveyor.com/project/JasonCarver/web3-py

[2017-12-08 01:47] carver commented on #386
@webjunkie01 almost always, it is better to use the contract interface like: http://web3py.readthedocs.io/en/stable/contracts.html#web3.contract.Contract.call

[2017-12-08 02:54] pipermerriam commented on #166
This *might* help: https://stackoverflow.com/questions/1710922/how-to-install-pkg-config-in-windows

[2017-12-08 03:11] pipermerriam commented on #166
Alternatively, it might be time to drop `eth-testrpc` (and the underlying `ethereum` requirement).  Requires building the JSON-RPC webserver component for eth-tester... but probably worth it.

[2017-12-09 19:52] gakonst opened #503 "Transaction receipt events not getting decoded properly"
* Version: 4.0.0b4
* Python: 3.5 and 3.6
* OS: Ubuntu 17.04

### What was wrong?
Expected for the get_new_entries() method to catch the event. Instead it seems to not be able to decode the transaction receipt. I have tested the error with ethereumjs-testrpc (ganache-cli), geth --dev mode, full node running on private chain (custom genesis.json) and with eth-tester

### Installed python packages (o

[2017-12-10 03:13] pipermerriam commented on #503
@gakonst would you be able to drop into a print statement into `/home/gak/.virtualenvs/web3bug/lib/python3.6/site-packages/web3/utils/filters.py` just before the return statement `return self.log_entry_formatter(entry)` that prints out `entry`.  I'm very curious what is being returned there.

[2017-12-10 10:11] gakonst commented on #503
Managed to fix it, submitted a relevant pull request.
https://github.com/ethereum/web3.py/pull/504

[2017-12-10 11:14] gakonst commented on #503
It looks like TestRPCProvider implements camelCase and EthereumTesterProvider implements snake_case. My changes fix the bug when using EthereumTesterProvider, however the tests in Travis use TestRPCProvider and so they fail.
### Proof of Concept
[code]

[2017-12-10 14:41] pipermerriam opened #505 "Deprecate and/or remove the `eth-testrpc` based providers."
With no plans to support `eth-testrpc` and the plan to replace it with `eth-tester` I think it's time to add some deprecations warnings to the providers that use `eth-testrpc` if they aren't already present and then to remove them.

We should also update the test suite to not depend on `eth-testrpc` anymore.

[2017-12-11 03:27] pipermerriam opened #506 "Improve module test suite for filters."
### What was wrong?

#504 fixed an issue related to log entries not being formatted correctly.  That issue surfaced that we don't have very good testing against return values from filters for `pending` and `latest` filters.

### How can it be fixed?

Expand the test suite found at `web3/utils/module_testing/eth_module.py` to include a `pending` filter that includes one or more transaction hashes a

[2017-12-11 03:28] pipermerriam commented on #506
The transaction one *should* be pretty easy to do.

The block filter one should probably be skipped in the go-ethereum integration tests because it's not feasible for us to wait for block mining.

[2017-12-11 03:31] pipermerriam opened #507 "Investigate switching go-ethereum integration tests to use POA dev chain"
### What was wrong?

The integration tests against go-ethereum currently use a POW chain.  This means that we cannot reasonably test anything in our CI environment that requires a block to be mined *during* the test suite run.

### How can it be fixed?

I *think* newer versions of geth support POA dev chains which in-turn I *think* support on-demand block mining.

If this is the case, we should co

[2017-12-11 16:59] owocki commented on #419
hey @dylanjw -- the bounty is scheduled to expire in 4 days.  is this still something you want to turn around?

[2017-12-11 17:57] #503 closed

[2017-12-11 20:19] carver commented on #503
Fixed by #504 - will go in beta 5

[2017-12-11 23:09] carver commented on #507
One issue here (that has to be solved anyway) is that the geth dev chain uses a non-compliant amount of `extraData`, much more than 32 bytes. So we have to decide if we want to accept invalid `extraData` when parsing block results.

[2017-12-11 23:09] carver commented on #505
This is an option for getting #166 unstuck.

[2017-12-12 08:51] rishflab opened #509 "eth-keyfile/ethereum-keyfile dependency issue?"
* Version: 4.0.0b4
* Python: 3.6
* OS: osx

code:
`from web3.auto import w3
acct = w3.eth.account.create()`

error:
`/Users/rishabintern/db3/bin/python /Users/rishabintern/PycharmProjects/db3py/blockchain.py
Traceback (most recent call last):
  File "/Users/rishabintern/PycharmProjects/db3py/blockchain.py", line 5, in <module>
    from web3.auto import w3
  File "/Users/rishabintern/db3/lib/python

[2017-12-12 14:25] ChrisRut commented on #509
I am also seeing this, I think the issue is `eth-keyfile` is not properly pinned to a specific version: https://github.com/ethereum/web3.py/blob/master/setup.py#L22

So it changed out from underneath this project.

[2017-12-12 15:06] pipermerriam commented on #509
@rishflab try:

[code]

@ChrisRut I don't believe that's related.  This appears to be due to the renaming of the python module.

@rishflab re-open if you're still having this issue.

[2017-12-12 15:06] #509 closed

[2017-12-12 15:10] ChrisRut commented on #509
I confirmed pinning the version of eth-keyfile in setup.py fixed it for me: https://github.com/ChrisRut/web3.py/commit/a6634c565f7f5f5cfa06b50a0bd58525d785b3a3

[2017-12-12 23:37] kevinday opened #510 "Add caching middleware"
### What was wrong?

Please include any of the following that are applicable:

For dapps that aggressively poll for state, adding a caching layer can greatly help to reduce the load that gets put on the node. This is implemented as a [subprovider](https://github.com/MetaMask/provider-engine/blob/master/subproviders/cache.js) in web3.js, and it would be great if something similar existed in web3.py

[2017-12-12 23:44] kevinday opened #511 "Add retry middleware"
### What was wrong?
It's not uncommon for requests sent over the network to fail due to network interruptions, and in most cases retrying the request will resolve the issue.

### How can it be fixed?
Implement simple retry middleware to handle retry on HTTP errors automatically.

[2017-12-13 06:12] dylanjw commented on #419
Yes.  I just need to make updates to the documentation and get the pull request reviewed.  Can we extend the deadline?  Im planning to wrap it up this weekend.

[2017-12-13 16:07] bolshoy opened #512 "web3.eth.estimateGas is broken"
* Version:3.16.4
* Python: 2.7
* OS: osx

### What was wrong?

`web3.eth.estimateGas` raises `'<function apply_formatters_to_dict at 0x10ac79758> is not JSON serializable`

### How can it be fixed?

[2017-12-13 16:36] owocki commented on #419
@dylanjw sure no problem.  hit me up this weekend

[2017-12-13 20:35] monokh commented on #493
Happy to get busy with this if Jason doesn't get a chance. :slightly_smiling_face:

[2017-12-13 20:43] monokh commented on #494
This is the script ethgasstation uses fyi:
https://github.com/ethgasstation/ethgasstation-adaptive-oracle
What i always wondered about was if there was a simple and straightforward approach for the libraries like web3 to get going with. Something like get the latest block and pick out median/mode/avg of the gas prices in that block. While it isn't the most economical/accurate, it should be fine in

[2017-12-13 21:29] pipermerriam commented on #493
@monokh consider yourself *second in line*.

[2017-12-13 21:30] pipermerriam commented on #494
@monokh take a look at #496 which builds on top of the API suggested in this PR and is a simplified version of the EGS algorithm.

[2017-12-13 22:11] pipermerriam commented on #512
@bolshoy can you provide a bit more context.

* Code that triggered this error
* Full stacktrace of the error

[2017-12-14 01:21] carver commented on #511
It might make sense for this to be a default middleware attached to the HTTPProvider.

[2017-12-14 05:00] jasonrhaas commented on #493
Started looking at this.. first step is getting everything running.  Having some issues running the quickstart, something to do with `py-solc` or just maybe solidity isn't installed right in my docker container.  https://github.com/ethereum/py-solc/issues/40.

Anyway I'll take the nitty gritty stuff off this thread but want to let you know that I'm looking at this and will keep you all up to date

[2017-12-14 09:01] bolshoy commented on #512
@pipermerriam
the code was similar to this:
[code]
have no stacktrace, I removed it already

[2017-12-14 11:52] bolshoy commented on #512
this was caused by a string 'value' in transaction instead of integer, closing the issue.

[2017-12-14 11:52] #512 closed

[2017-12-14 22:40] jasonrhaas commented on #493
@carver what is the `from web3.auto import w3` statement?  I don't see that in the codebase.  Is that something that should be implemented?

[2017-12-14 22:55] jasonrhaas commented on #493
Nevermind... I see where it is in the code.  Don't know why that import didn't work.

[2017-12-15 01:28] jasonrhaas commented on #493
@carver So I was messing around with the `web3.eth.sendTransaction()` method today.  What I did was run the `quickstart.py` which sets up a contract instance.  I connected the `web3` to a local testrpc that I had running.  Once I did that was able to send some mock transactions from one account to the other like so:

[code]

And then I can see the new transactions being created on the block chain.

[2017-12-15 02:34] carver commented on #493
Sure thing. Note this key line in the issue:

So try creating a private key with http://web3py.readthedocs.io/en/latest/web3.eth.account.html#web3.account.Account.create

Then send a transaction from the address associated with that new private key. It will fail for two reasons:

- account has no ether (so go fund it)
- ethtestrpc doesn't have the private key for the account you just created

The

[2017-12-15 18:25] jasonrhaas commented on #493
Thanks @pipermerriam for the detailed write up.  I think I understand the problem now.  I am not able to send a transaction from my local account to one on the testrpc.  When I try to sign it, like this:

[code]

I get this error:

[code]

And I'm thinking that is because the testrpc doesn't have access to the private key of my newly created account.  So does the "sign" happen on the testrpc or on

[2017-12-15 21:31] pipermerriam commented on #493
Signed locally and it won't use `w3.eth.sign()`

You'll want to use [`web3.eth.account.signTransaction`](http://web3py.readthedocs.io/en/latest/web3.eth.account.html#web3.account.Account.signTransaction).

Then once you have the *raw* transaction, your middleware should call `make_request('eth_sendRawTransaction', [raw_txn_hex])`

[2017-12-16 13:46] berndbohmeier opened #515 "Return address are only checksum addresses if returned from a contract.call()"
* Version: 3.16.4
* Python: 3.5
* OS: linux

### What was wrong?
A contract call like `contract.call().function()` returns a checksum address
Every other web3 call however like web3.eth.coinbase returns non checksum addresses.
This is inconsistent.

### How can it be fixed?
Always return checksum addresses

[2017-12-17 18:54] jasonrhaas commented on #493
Cool.  I'm signing the raw transaction, and then attempting to send it along, but I get this error,

[code]

I assume its because the local account I created doesn't have any funds in it?  Is there a way to pre-populate funds in the account so I can do transactions?

[2017-12-17 22:28] pipermerriam commented on #493
I think you can get by with just sending a normal transaction via `web3.eth.sendTransaction` from the account `web3.eth.accounts[0]` with a bit of ether in it.

[2017-12-18 05:09] ModWilliam opened #516 "How do I connect to Rinkeby?"
Currently trying to create and listen to contracts, testing on Rinkeby

* Version: 3.16.4
* Python: 3.5
* OS: osx

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error

`from web3 import Web3, HTTPProvider, IPCProvider
web3 = Web3(HTTPProvider('https://rinkeby.infura.io'))

web3.personal.unlockAccount("[address]","[psw]")`

* The full o

[2017-12-18 16:47] pipermerriam commented on #515
@berndbohmeier this is a bug we'll get fixed.  If perhaps you're running into this because of tests where you are doing `assert returned_addr == expected_addr`, you can replace this with `assert eth_utils.is_same_address(returned_addr, expected_addr)` and that will return true for any two recognized address formats that represent the same address.

[2017-12-18 16:59] jasonrhaas commented on #493
But isn't that using the testrpc account rather than the local one that I created using `web3.eth.account.create()`?  Moving to Gitter..

[2017-12-18 18:32] carver commented on #516
This is the important part of that message:

Infura does not support remote addresses. On mainnet, do not send your private keys or passwords to any remote service! If you do accidentally, you should empty the account and never use it again, and change the password.

In Web3 v3, sending transactions to Infura is a bit cumbersome. (One needs to sign the transaction locally, and send with `w3.eth.se

[2017-12-18 18:36] #516 closed

[2017-12-18 18:57] owocki commented on #419
gonna do a round of payouts on tuesday.  @ me back if you submit that documentation by then :)

[2017-12-18 22:24] ModWilliam commented on #516
Thanks! So to confirm, there is no way to create contracts from scratch in python?

[2017-12-19 00:43] carver commented on #516
There are several ways, but not any good ones that use web3.py v3 and infura.

So the best option I can think of are to:
- Use a local node (like parity or geth) instead of infura.
- Upgrade to v4-beta

[2017-12-19 02:51] aaronluoq opened #518 "Could not decode contract function call transfer return data 0x for output_types ['bool']"
* Version: 3.16.4
* Python: Python 3.6.3
* OS: osx
* geth:1.7.2-stable-1db4ecdc

### What was wrong?

in local chain:
[code]

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.
thx

[2017-12-19 05:13] ModWilliam commented on #516
Really appreciate your help here and on Stack Overflow!

So, from the documentation and code examples I still haven't been able to fully piece together how to do it;

Would I start a contract like this
http://web3py.readthedocs.io/en/latest/quickstart.html#simple-contract-example

Turn it into a transaction like this
http://web3py.readthedocs.io/en/latest/contracts.html#web3.contract.Contract.buil

[2017-12-19 05:32] carver commented on #518
Sometimes this can happen when your contract throws an exception during the call.

- Maybe '0xD9B8B44Cc2D153A0052Ce7D0A7a450DFe893e066' doesn't have 100000 tokens to send? - It could also happen if you have the wrong ABI

Most times we get a report like this, it means that someone's contract isn't behaving like they expected.

[2017-12-19 05:54] carver commented on #516
Sure thing, I'm happy to help. There's still so many docs to write and infrastructure to build! Which brings me to...

I am now realizing that there is no good documentation or public API for deploying a contract with a private key. `buildTransaction()` won't work for you for *deploying* the contract. That means web3 should probably add a new method. In the meantime, you can do this using a non-pu

[2017-12-20 11:39] owocki commented on #493
hey @jasonrhaas mind claiming this issue on the gitcoin explorer.. ? i just dont want others to improperly assume it's open.  thanks :)

[2017-12-20 14:06] jasonrhaas commented on #493
@owocki done

[2017-12-20 14:06] jasonrhaas commented on #493
Also -- WIP pull request is open now.  #517

[2017-12-21 00:47] ModWilliam commented on #516
I've successfully done a "transaction" with myself now (thanks!)

https://ropsten.etherscan.io/address/0xaa08901e5673593c51ee4439b8ff9639a09fe892

But a contract was not created. I guess something I am confused about is, when creating the 'transaction' dictionary, what should the 'to' field be? From creating contracts normally I see that a contract has its own address, but I don't know how to gene

[2017-12-21 01:54] owocki commented on #494
@monokh please let us know how its going.

[2017-12-21 02:09] owocki commented on #419
@dylanjw hows it going?  no pressure, just checking in

[2017-12-21 02:11] owocki commented on #493
hmmm strange.. i dont see the update on https://gitcoin.co/funding/details?url=https://github.com/ethereum/web3.py/issues/493 or in web3.

[2017-12-21 02:27] jasonrhaas commented on #493
@owocki I think maybe the transaction didn't go through.  I can try it again

[2017-12-21 09:47] monokh commented on #494
@owocki going well 😃  _Lots_ of discussion on the PR but we are quite close to resolution I think.

[2017-12-21 18:30] pipermerriam opened #521 "ConciseContract does not allow interfacing with methods through standard API"
* Version: 0.3.x and 0.4.x

### What was wrong?

[code]

The later produces this error:

[code]

The error occurs because `ConciseContract` tries to lookup a function named `call`.

### How can it be fixed?

The `ConciseContract` class should be augmented such that the `__getattr__` method will return the existing attribute on the contract class if present, only falling back to the contract method

[2017-12-22 00:52] carver commented on #516
The 'to' field should be empty when creating a contract.

[2017-12-22 05:34] ModWilliam commented on #516
When I was trying that, I got an error that impied that all of the fields, including 'to', were required.

Also, I'm now trying to call a method on a contract and am getting this bug:

ValueError: The value HexBytes('0xd783010800846765746887676f312e392e32856c696e75780000000000000000c1c60624ec24ed6b621324b8d4db5d844b39cc5eae1154db90ef0760f75b298239
c5b831d08c94bb7ab811d014bad3af21ef5e39121bd4860df9

[2017-12-22 17:55] pipermerriam commented on #494
@owocki we can consider this closed/complete.  I'll match the current bounty, let me know how to do that.

[2017-12-22 17:59] owocki commented on #494
@pipermerriam remitting the bounty now.

@monokh 's ETH address is listed at
https://gitcoin.co/funding/details?url=https://github.com/ethereum/web3.py/issues/494 -- you can send ETH direct to him there.. OR you can tip any github username at https://gitcoin.co/tip

[2017-12-22 20:07] miller46 opened #522 "AttributeError calling watch() on a BlockFilter instance"
* Version: 4.0.0b4
* Python: 3.6.3
* OS: osx

I am attempting to listen for new blocks as they are added to the network.  I attempt to set up a blockfilter like so:

[code]

and I receive the following error:

`
AttributeError: 'BlockFilter' object has no attribute 'watch'
`

Am I doing something wrong?  This worked for me previously with an earlier version of web3.py, and this is nearly identical

[2017-12-22 20:29] ModWilliam commented on #516
Ended up being able to do it on Ropsten (instead of Rinkeby), and adding --rpcapi="db,eth,net,web3,personal,web3" to my geth console flags

[2017-12-23 00:24] monokh commented on #494
Thanks folks 😃  really enjoyed this one
@pipermerriam
#496 unblocked now i guess. Going to be really cool seeing that in action!

[2017-12-23 20:24] dylanjw commented on #419
@owocki Im working on resolving some tests I broke.

[2017-12-24 00:34] dylanjw commented on #419
@owocki I noticed @step21 has claimed the issue this issue in gitcoin since I have started working on it.

[2017-12-24 03:59] step21 commented on #419
Yeah, sorry about that. I guess I didn't check the issue properly to see that you started already as I was just happy that finally claiming something worked. Would have loved to work on it too, but I don't think I can unclaim it, can I?

[2017-12-24 15:32] #494 closed

[2017-12-25 03:45] henry19950709 opened #525 "After call setGreeting, the value of string greeting doesn't change"
* Geth Version:1.7.3-stable-4bb3c89d
* Python: 3.5
* OS: ubuntu 16.04

I just copy the sample code in README, but the final value of greeting is still "Hello", not "Nihao

![image](https://user-images.githubusercontent.com/22850097/34332180-dbf2f26c-e968-11e7-9a25-9cfd70633c39.png)

Does anyone have the same problem?

[2017-12-25 03:59] #525 closed

[2017-12-26 08:29] rohithpr opened #526 "Web3.py excepts ASCII/UTF-8 input instead of HEX for personal.sign."
* Version: web3==4.0.0b4 (faced the same on older versions too)
* Python: 3.6.3
* OS: osx

* Browser: Chrome with MetaMask 3.13.2

### What was wrong?

There's a difference in the input format requirements between web3.py and web3.js for the methods `web3.personal.sign` and `web3.personal.ecRecover` (and probably others). I couldn't find a "standard" as such that defined what the correct params sh

[2017-12-26 13:48] ethgasstation commented on #496
Hi All- you might be interested in looking as this code- its a much simpler version of the ethgasstation.info code - it  works pretty well and is easy for anyone to run https://github.com/ethgasstation/gasstation-express-oracle

[2017-12-26 22:15] pipermerriam commented on #419
@step21 we'll have some more bounty'd issues here within a week or two.  Stay tuned.

[2017-12-26 22:22] pipermerriam commented on #494
@monokh etherscan.io/tx/0x20718ee637c2c01dfab0c7c0e9747f50512ef934e94462f077ced545d8926683

[2017-12-26 22:37] step21 commented on #419
No worries, but sorry about the mixup @dylanjw

[2017-12-27 00:33] owocki commented on #419
my apologies folks.  were working out how to scale the issue claiming process..  duplicate work is understandably a real gumption trap, so i genuinely apologies and we hope to avoid this in the future.

[2017-12-27 22:29] owocki commented on #493
looks like it went through now.  eagerly following the progress here now!

[2017-12-28 22:12] carver commented on #526
Yeah, the personal module doesn't get a lot of love, partially because it is not standard across geth and parity.

This might be one of those places where deviating from the web3.js implementation is a cleaner API and more pythonic. In your example, the hex-encoded string `'0x68656C6C6F'` does not seem like the most natural representation of the message that you're signing. The "truest" representa

[2017-12-29 18:41] carver commented on #522
Ah thanks for pointing that out. The examples that use `watch()` should be changed in the latest documentation.

Note the deprecation warning above `watch()` in the stable docs, and that `watch()` is no longer listed in the latest docs:
-http://web3py.readthedocs.io/en/stable/filters.html#web3.utils.filters.Filter.watch
-http://web3py.readthedocs.io/en/latest/filters.html

Instead, you should peri

[2017-12-29 18:51] carver commented on #521
Hm, I don't like the idea of introducing namespace conflicts to the API.

It is possible to accomplish this in the current API. The intended way to specify call values in `ConciseContract` is:

[code]

So my first preference is to close as won't fix. Thoughts?

[2017-12-29 22:15] #521 closed

[2017-12-29 23:30] carver opened #527 "Add section to docs about contract argument types"
* Version: 4

### What was wrong?

Which argument types to pass in are never explicitly stated. Many people try to pass in hex strings to ABI `bytes*` types, which doesn't work in v3. It works in v4, and should be more natural, but should still be documented

### How can it be fixed?

Add a section to the docs describing which native types correspond to which ABI types in contract arguments.

[2017-12-30 19:00] carver commented on #464
This appears to be fixed upstream, thanks @techtonik !

Now, when I click edit on the stable documentation, it takes me to the commit on the latest stable tag.

Please re-open explaining expected behavior if I missed something.

[2017-12-30 19:00] #464 closed

[2017-12-30 21:03] carver commented on #468
The pystrhex.h support was closed as "won't fix" in pypy3, because it is an undocumented cpython API. However, the dependence on the pystrhex.h header was removed in pysha3 master: https://github.com/tiran/pysha3/issues/15 -- so pypy3 support is a step closer.

Unfortunately, there are still blocking issues. I filed an issue to track pypy3 support for pysha3 here: https://github.com/tiran/pysha3/i

[2017-12-30 21:32] carver commented on #472
This issue is about https://github.com/ethereum/py-solc

See the instructions on compiling files in this section: https://github.com/ethereum/py-solc#standard-json-compilation

Note that the key to access the compiled solidity is different when you compile from a file.

Closing as not in scope for web3.

[2017-12-30 21:32] #472 closed

[2017-12-30 22:35] carver commented on #492
## Split API in two

I like the idea of splitting this into two APIs:

- `w3.eth.overrideTransaction(txn_hash, new_transaction_dict)` -- Use only the new transaction fields, do not reuse any values from the the current pending transaction
- `w3.eth.modifyTransaction(txn_hash, **individual_fields_to_replace)` -- Use the keyword args provided, infer `gasPrice` if not provided, and then fill in unspe

[2018-01-02 16:46] owocki commented on #493
lol @ the Cute Animal Picture on #517.

happy new year folks!  looking forward to seeing this done hopefully soon :)

[2018-01-02 16:53] owocki commented on #419
@dylanjw mind claiming the issue at https://gitcoin.co/funding/details?url=https://github.com/pipermerriam/web3.py/issues/419 ?

[2018-01-02 17:31] bweick commented on #511
Hey guys...if no one has claimed this one I wouldn't mind trying it out. Are there any checks needed for the quality of data returned (i.e. get a 200 code but the data field has bad data in it)? Or should it be straight forward, as long as the make_request function doesn't error out, we can reliably return the response?

[2018-01-02 19:19] pipermerriam commented on #511
I think it should be something as simple as a `try/except` block within a loop that retries up to `N` times, catching and silencing the appropriate timeout/connection-error/whatever exceptions.

[code]

Also, it should have either a whitelist (preferred), or a blacklist of what RPC methods it will retry.  For example, it should **not** ever retry `eth_sendTransaction` (unless *maybe* the `nonce` f

[2018-01-02 19:23] pipermerriam commented on #493
@owocki you can pay @jasonrhaas the bounty for this issue.  We aren't merging #517 as-is but it's at a point where either @carver or I will do the finishing touches to get it finalized.

[2018-01-03 04:08] bweick commented on #511
Cool my implementation to check the response is pretty much identical to yours. As for implementing the whitelist I decided instead of listing out all the individual methods that some whole "classes" of methods (`admin`, `miner`, `shh`, `net`, `txpool`, `testing`, `evm`) could be approved without worry, let me know if you a) think that's a bad assumption, or b) don't like the idea because it doesn

[2018-01-04 20:54] jorgeog96 opened #531 "Error instalation web3.py in linux subsystem for windows"
* Version: latest
* Python: 3.5
* OS: win (ubuntu subsystem for windows10)

### What was wrong?

Error installation after the second try... In the first try was the same issue.

[code]

[2018-01-05 00:00] jorgeog96 opened #532 "Instruction for installation in windows?"
* Version: x.x.x
* Python: 3.6
* OS: win10

### What was wrong?

Please guys, can you type a little guide talking about install web3.py in a windows machine, for example, using PowerShell. Also, give a complete list of required tools.

[2018-01-05 05:45] bweick commented on #531
Ran into this error trying to set up the ubuntu sub-system as well. [This](https://stackoverflow.com/questions/41492878/command-x86-64-linux-gnu-gcc-failed-with-exit-status-1) was helpful...I feel like there might have been another level of error beyond that too that needed fixing but happy to help if you reach that point.

Also a problem I'm running into now with this set up is being able to run

[2018-01-05 17:25] bweick commented on #531
For posterity's sake...if you do run into the testing problem I mentioned above, my problem was with the __pycache__ folders. So if you delete those before you run tests you should be fine.

[2018-01-05 17:39] carver commented on #511
Seems like a good approach. `eth_sendRawTransaction` should be idempotent at the node, so retries on that should be okay, too.

[2018-01-05 17:50] carver commented on #511
This on Windows, I presume? Hopefully #505 will help here. I will be pushing that forward a bit more in the next few days.

[2018-01-05 17:53] bweick commented on #511
Yeah on Windows, saw y'all were doing some work on that so hopefully won't be an issue for much longer...finally got around it by running a Linux subsystem. Should have the tests done by today and I'll put up the PR.

[2018-01-05 17:55] carver commented on #531
I have no familiarity with "ubuntu subsystem for windows10", but this is the core of the problem:

`gcc` must be installed. Does the subsystem have the normal ubuntu package manager? If so, you should be able to do something like `apt install gcc` and try again.

[2018-01-05 17:57] carver commented on #532
At this point, it seems likely that the windows install simply doesn't work, since the Windows CI is failing: #166

Once that's successful, then we should revisit if any Windows-specific instructions are necessary.

[2018-01-05 19:05] jorgeog96 commented on #532
Yesterday late, I could install web3.py directly on my windows machine.
SO. Windows 10 64 bits

-Install latest version python for windows 64bits, in this case, python 3.6.

-Check if "python" is an environment variable or not, typing python on the cmd console in my case.

-If the console doesn´t recognize the command python giving you the version, you have to add the variable to environment varia

[2018-01-05 20:40] jorgeog96 commented on #531
Today, I´ve tried to install web3.py in an ubuntu real system inside a VPS. The console has given me the same error like yesterday using ubuntu subsystem for windows. So, I proceeded to  install gcc using the generic package manager from linux like you told me @carver . And, I had the following message (I´ve done this operation outside the virtualenv ) :

    root@jorgeFirstDroplet:~# apt install

[2018-01-05 20:55] bweick commented on #531
I was just adding that comment about pycache for future reference if you ran into the same problem when you had the subsystem all set up. As for solving the current problem...I found that installing the packages outlined by Dana Friedlander in that StackOverflow post helped solve the problem.

[2018-01-05 21:14] carver commented on #505
#530 looks nearly complete. Unfortunately, I don't think it actually unsticks 166, because we also need to swap in the py-evm backend and remove the pyethereum backend. It looks like that will need some work, too.

[2018-01-06 00:35] carver commented on #532
Thanks for writing these down. Any interest in contributing them to the public docs where they will get a lot more visibility? We'd love to have your contribution.

The real magic is when you use these two together. Use pip inside of an environment made with virtualenv to get a reproducible set of libraries that you know is the same as everyone else.

[2018-01-06 00:41] carver commented on #531
@jorgeog96 You're getting a different error, so the fix for @bweick won't work for you. It looks like you need the python header files, via something like `sudo apt install python-dev`. As the error message said, you need to do this as the root user, so be sure to start with sudo.

[2018-01-06 04:51] jorgeog96 commented on #531
Hello guys, I tried

    sudo apt install python-dev

and I have the following error:

  x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -Wstrict-prototypes -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -I/usr/include/python3.5m -I/root/.venv-py3/include/python3.5m -c cytoolz/dicttoolz.c -o build/temp.linux-x86_64-3.5/cytoolz/dicttoo

[2018-01-06 05:01] jorgeog96 commented on #531
Finally, I type something like you told me @bweick and I found out this post with a similar issue https://stackoverflow.com/questions/25675977/installing-pillow-error-setup-script-exited-with-error-command-x86-64-linux-g

For me, install the dev package in this way works apparently:

    sudo apt-get install python3-dev

I received the following output after the post:

Successfully installed certi

[2018-01-06 13:44] sadaf2605 opened #537 "could not connect to infura.io"
* Version: 3.11.1
* Python: 3.6.3
* OS: osx

### What was wrong?
my code
[code]

Error:
[code]

### How can it be fixed?

[2018-01-07 11:14] jstoxrocky commented on #537
Infura does not allow you to run all JSON-RPC methods that you normally could if you ran your own node. I think they do this for your own safety as some methods require your private key.

[2018-01-08 11:06] wcraig2012 opened #539 "How to transfer private key(byte) into hex string?"
* Version: 4.0.0 b4
* Python: 3.6
* OS: win

Could you please tell me how to transfer private key into hex string?
Like changing b"\xb2\\}\xe4\xc4rm\x03[6\xec\xf1\xe5\xb3d........" into "0x........".
Thanks a lot.

[2018-01-08 14:00] vijaysagi opened #540 "web application using web3.py"
* Python: 2.7
* OS: ubuntu

I am new to block chain technology. pls guide me where-ever possible

MY requirement is as follows:

Using webcam i need to take a detect the face and extract the face vectors from it,  later on we do face recognition by comparing the face  vectors and display the appropriate image on web page.

 The following are the steps carried out:
1.  using tracking.js we are able

[2018-01-08 17:52] #537 closed

[2018-01-08 18:39] carver commented on #540
Why do you want to use a blockchain for this application? It seems like a standard (web2) approach might be a very reasonable way to share static data.

[2018-01-08 18:42] carver commented on #539
You can convert many different formats (including `bytes`) into a hex string with: http://web3py.readthedocs.io/en/latest/overview.html#Web3.toHex

FYI, most of the functions in web3.eth.account accept either `bytes` or a hex string. See http://web3py.readthedocs.io/en/latest/web3.eth.account.html#web3.account.Account.signTransaction for example.

[2018-01-08 18:42] #539 closed

[2018-01-09 01:26] wcraig2012 commented on #527
thank a lot

[2018-01-09 01:27] wcraig2012 commented on #539
thank a lot

[2018-01-09 04:27] vijaysagi commented on #540
I want to have secure common dynamic storage for all images(digital identities) which can be used across all the clients with privilege access.

[2018-01-09 18:23] vs77bb commented on #419
Howdy @dylanjw, I recently joined @owocki at Gitcoin. Checking in to make sure all is going well :)

[2018-01-09 20:31] carver commented on #540
Understood. Because all blockchain data is inherently public, you would need some kind of encryption mechanism on top of the published data. It's not impossible, but is not currently a feature built into web3.py. I'd try looking around ethereum.stackexchange for info on encrypting data using an ethereum account.

Since this isn't a currently planned feature, this issue is being closed as off-topic

[2018-01-09 20:31] #540 closed

[2018-01-09 22:30] dylanjw commented on #419
Hi @vs77bb #481 has been merged, so I think this can be closed and paid out if @carver gives the ok.

[2018-01-10 06:47] carver commented on #419
Payout approved! :tophat:

[2018-01-10 15:42] guanqun opened #544 "any plan to support parity specific methods?"
This is not a bug report, so I removed the template...

I'd like to know if we have any plans to support parity specific RPC calls as listed here: https://paritytech.github.io/wiki/JSONRPC-parity-module

I searched the issue list and didn't find any previous discussion about this.

Is this https://github.com/ethereum/web3.py/issues/381 a prerequisite?

[2018-01-10 16:08] vs77bb commented on #419
Wonderful! cc @owocki

[2018-01-10 17:41] bweick commented on #511
With #533 and #534 merged this can be closed I think.

[2018-01-10 17:49] pipermerriam commented on #544
We do support custom modules though it's not documented.

See:

- https://github.com/ethereum/web3.py/blob/master/web3/module.py
- https://github.com/ethereum/web3.py/blob/master/web3/main.py#L106-L110

If you wanted to implement a `Parity` module I think we'd be open to including it as a non-default module that users could *opt-in* to including in the modules list.

[2018-01-10 19:11] bweick commented on #446
Hey guys...would love to go ahead on this one now...couple things.
1) Should this just be done for the upcoming v4 call interface or should I also build it out for the v3 interface as well (shouldn't require much additional work)?
2) Do you think it's worthwhile to throw an error if block number is outside valid range (0, length of chain]?

[2018-01-10 23:15] carver commented on #446
1. v4-only should be fine. only critical security fixes need to go to v3 now, per #336
2. It's absolutely worth throwing validation errors. I would also expect it to accept 'latest' and 'earliest'.

[2018-01-10 23:30] bweick commented on #446
Cool sounds good, I'll get to work!

[2018-01-11 07:53] guanqun commented on #544
Thank you for the response, I'd like to add some support for Parity, as my current project depends on that.

[2018-01-11 07:53] #544 closed

[2018-01-11 16:31] owocki commented on #419
@dylanjw can you claim the bounty over at https://gitcoin.co/funding/details?url=https://github.com/pipermerriam/web3.py/issues/419 so i can pay it out to you ?  thanks :)

[2018-01-11 17:04] dylanjw commented on #419
@owocki Done.  Thanks!

[2018-01-12 01:49] yhk1038 opened #548 "is there plan for ruby interface(web3.rb)?"
### What was wrong?

Is there any plan for ruby interface?

[2018-01-12 18:21] postables opened #549 "Optional compatibility with geth PoA dev chain, to fix: Error could not format value <long hex string> as field 'extraData'"
## What's Wrong

When using `geth --dev`, it uses a proof-of-authority chain for instant mining. Unfortunately, the mechanism for PoA is to add a bunch of bytes to `extraData`, which is not yellow-paper-compliant. We would like to have the default web3.py strictly reject non-compliant clients, but still enable people to use this popular development alternative.

## Proposed Solution

Add a new mid

[2018-01-12 18:30] carver commented on #548
Check out http://www.ethdocs.org/en/latest/connecting-to-clients/index.html which points to https://github.com/DigixGlobal/ethereum-ruby

It doesn't look like it's maintained, though. I haven't heard of anything else, but I'm not really plugged into that community.

Are you volunteering? :-P

Closing this issue, since it isn't a web3.py issue. Good luck!

[2018-01-12 18:30] #548 closed

[2018-01-12 18:43] carver commented on #325
Probably will be resolved by the time #530 is complete.

[2018-01-12 20:19] yhk1038 commented on #548
Thanks for your answer!

I'll check it first. I wonder how it has progressed.

I would be willing to volunteer if I could. :)

If it does, I want to be able to create a thread again. See you then!

[2018-01-12 20:40] posix4e opened #550 "Events are basically undocumented"
* Version: * (3x)
* Python: * (3.5)
* OS: * (linux)

### What was wrong?
It's not clear to me that it's documented how to do anything other than print that events happend. Decoding it seems very difficult.

### How can it be fixed?
Someone can provide an example here and I will update the docs.

[code]
Can never translate the topic to text, even if i pass it arguments of the correct type

[2018-01-12 20:51] postables commented on #549
Here's the full stack track

[code]

[2018-01-12 20:52] IridiumMaster commented on #550
Just to comment on this myself...
I created and deployed the following code along the lines of the quickstart.
`pragma solidity ^0.4.0;

contract aClaimsV4 {
    string public greeting;
    event contractStringChanged(string change);

    function aClaimsV4() public {
        greeting = 'Hello';
    }

    function setGreeting(string _greeting) public {
        greeting = _greeting;
        contra

[2018-01-12 22:10] pipermerriam opened #551 "Filters that don't rely on server state"
### What was wrong?

Filters suck.

- Sometimes the server loses the `filter_id`
- You don't really have any clarity to what is actually happening under the hood on the server.
- You can't use filters with infura
- They don't work if you're load balanced across multiple nodes.

### How can it be fixed?

I propose we implement a configurable *filter backend* engine.  For now, the default engine wil

[2018-01-12 22:12] pipermerriam commented on #551
I just realized this fits perfectly into the middleware framework.  No need for a new API, just a new middleware.

[2018-01-12 22:50] #419 closed

[2018-01-12 22:51] posix4e commented on #550
This was actually enough explanation for me to get going. Perhaps we can get some of this in a doc,especially with the work to do. Now all i have to do is figure out how filter event params.

[2018-01-12 22:59] postables commented on #549
I was able to have my code work by running it on a private ethereum network, perhaps there is an issue with Rinkeby for some reason?

I saw a previous issue where someone also had specific issues with rinkeby,

[2018-01-12 22:59] carver commented on #381
@dylanjw here's the parity integration test issue.

Here's an example integration "setup" file: https://github.com/ethereum/web3.py/blob/master/tests/integration/test_goethereum.py

It ultimately calls all these tests against the fixtures for geth: https://github.com/ethereum/web3.py/tree/master/web3/utils/module_testing

For example: https://github.com/ethereum/web3.py/blob/master/web3/utils/modu

[2018-01-12 23:01] pipermerriam commented on #381
See here for documentation on the intergration tests: https://github.com/ethereum/web3.py/blob/master/tests/integration/README.md

[2018-01-12 23:04] IridiumMaster commented on #550
Ha ha ha, glad to hear it. But did you find any function that cleanly removes the padding from the data field? I've been playing with various things with no luck. I'm reluctant to just regex it.

[2018-01-12 23:05] posix4e commented on #550
[code]
Worked for print args

[2018-01-12 23:28] IridiumMaster commented on #550
What are you using for your abi definition? Did you hand code it? I'm using the definition from the Mist ethereum wallet export and get_event_data blows up. Here's my example code with all relevant strings embedded. :

`abiDef = '''
[ { "constant": false, "inputs": [ { "name": "_greeting", "type": "string" } ], "name": "setGreeting", "outputs": [], "payable": false, "stateMutability": "nonpayable"

[2018-01-12 23:57] carver commented on #429
@dylanjw I'd recommend reading through this thread deeply: all the comments, drandreaskrueger's implementation, plus the js implementations.

The *rich* API in Piper's first comment seems like a good place to start. It's also worth thinking about other options, like:

[code]

to create a filter that watches for that event. You could probably handle all the conversions in the returned logs by creat

[2018-01-13 00:27] carver commented on #550
Yes, events can clearly use a lot of work. I'll leave this issue open as a workaround thread. But the full solution is being discussed in #429, and @dylanjw is just starting to take a look.

---

@IridiumMaster FYI, code blocks happen with triple ticks at the beginning and end. You can get python formatting with:

[code]

I updated your comments.

[2018-01-13 00:32] carver commented on #549
Yes, unfortunately the way geth does PoA seems to violate the yellow paper definition of `extraData`, as mentioned in #507 . We are undecided how to handle it.

[2018-01-13 20:01] greese opened #554 "Web3.py on AWS Lambda"
* Version: current
* Python: 2.7
* OS: linux - was lambda

### What was wrong?

Dependencies on cytoolz (which depends on a C compiler) make deployment on AWS lambda not work, whereas web3.js is able to deploy on AWS lambda.

The specific error is:

Unable to import module 'mylambda': /var/task/cytoolz/functoolz.so: undefined symbol: PyFPE_jbuf

### How can it be fixed?

No clue. Not sure what the

[2018-01-13 22:35] elie222 opened #555 "How to listen for events?"
We've tried listening for events, but nothing happens?

Any suggestions for this? Doing this on node.js with web3 works fine for us.

[2018-01-15 09:52] aaron315 opened #556 "how to send erc2.0 coin by sendRawTransaction"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

i have deploy a contract
contract code at here
`pragma solidity ^0.4.16;

contract owned {
    address public owner;

    function owned() public {
        owner = msg.sender;
    }

    modifier onlyOwner {
        require(msg.sender == owner);
        _;
    }

    function transferOwnership(address newOwner) onlyOwner public {

[2018-01-15 11:34] HenryHoggard opened #557 "TypeError: contract() takes from 1 to 2 positional arguments but 3 were given"
* Version: v4.0.0-beta5
* Python: 3.5
* OS: linux

### What was wrong?

I'm trying to create a contract instance however it is failing saying that I have provided three arguments.

[code]
Error
`TypeError: contract() takes from 1 to 2 positional arguments but 3 were given`

[2018-01-15 11:42] aaron315 commented on #557
fContract = web3.eth.contract(address= contractAddress, abi=abi)

[2018-01-15 13:12] HenryHoggard commented on #557
Thanks, hadn't realised that web3 4.0 is now python 3+.

[2018-01-15 13:12] #557 closed

[2018-01-15 16:38] webjunkie01 commented on #556
You'll have to sign the transaction with the account private key. There's an example on the docs for the stable version http://web3py.readthedocs.io/en/stable/web3.eth.html?highlight=rawtransaction#web3.eth.Eth.sendRawTransaction

[2018-01-15 18:45] carver commented on #554
I don't know much about the lambda options. Is it py2-only? If so, web3.py v4 won't work on it anyway, and v3 is in only being maintained with critical security patches.

This suggests that CPython was compiled without a necessary flag (not necessarily that cytoolz needs to be compiled):
https://stackoverflow.com/a/47703373/8412986

[2018-01-15 18:58] carver commented on #555
What have you tried? Would you include the code? The API isn't same between the web3py and web3js.

[2018-01-15 19:06] greese commented on #554
Actually, I'm doing both Python 3.6 and Python 2.7 builds. I just reported the 2.7. Here's the 3.6 output from lambda:

Unable to import module 'sparq.lambdas.rates': No module named '_pysha3'

Now, the pysha3 stuff is actually installed:

[code]

[2018-01-15 19:09] carver commented on #556
Yes, also check out: https://ethereum.stackexchange.com/questions/36319/how-to-perform-transact-on-contract-functions-on-remote-node/36370#36370

Please comment again if you need more assistance.

[2018-01-15 19:09] #556 closed

[2018-01-15 19:23] carver commented on #554
Is `sparq.lambdas.rates` your module? It's a little weird that it's importing a sha3 module directly. If you need it for something, import `sha3` instead of `_pysha3` (but you shouldn't, you should just be able to use `Web3.sha3()`). Anyway, this may be some other thing unrelated to web3.py. What call is triggering the error? Do you still get the error if the only thing your code does is call `Web

[2018-01-15 19:35] greese commented on #554
Yeah. I went ahead and created a new handler that looks like this:

[code]

And I got the same:

Unable to import module 'hello': No module named '_pysha3'

[2018-01-15 19:37] greese commented on #554
As far as a stack trace, it's not even loading the handler module, so it's not getting to a stack trace point.

[2018-01-15 20:09] carver commented on #554
Reading [this SO post](https://stackoverflow.com/questions/41705267/packaging-a-python-program-that-needs-to-a-c-compiler) made me think about the environment. Maybe it can't import because it was built with the wrong target environment?

I'm trying to guess the target build environment based on the file name:
[code]

I'm a newb at python C extensions, but I'm guessing the 35 in there means Python

[2018-01-15 20:10] greese commented on #554
Good catch. I'll have a look at that.

[2018-01-15 20:20] greese commented on #554
This may take longer than I'd like. For some reason, when installing ethereum, I am getting the no Python.h thing, but python3-dev is installed. Grrrr...

[2018-01-15 20:50] carver commented on #554
Hm, well we're inching toward completely removing the dependency on `pyethereum` so keep an eye on #505 .

[2018-01-15 21:35] greese commented on #554
OK, that last one was me failing to realize I needed a python3.6-dev specific to 3.6.

I am still getting the C compiler issue in Python 3:

Unable to import module 'sparq.lambdas.rates': /var/task/cytoolz/functoolz.cpython-36m-x86_64-linux-gnu.so: undefined symbol: PyFPE_jbuf

[2018-01-15 21:58] carver commented on #554
So back to my [first comment](https://github.com/ethereum/web3.py/issues/554#issuecomment-357761153): looks like you need a CPython that is compiled with `--with-fpectl`.

[2018-01-16 15:41] greese commented on #554
This gets beyond my Python skill set. I've done some googling, but can't figure out how to do that. Any quick instructions? Thanks.

[2018-01-16 17:15] carver commented on #554
I've never had to compile CPython on my machines, so I'm guessing it's actually a default setting. Either try to download the python binaries instead of using whatever is coming default, or you could try this guide (which I imagine works for 3.6 just fine as well):

https://passingcuriosity.com/2015/installing-python-from-source/

[2018-01-16 17:26] greese commented on #554
Thanks!

Also, I found a more detailed description of the issue here: https://bugs.python.org/issue29137

I'll pass on exact instructions in this thread when I get this working. For now, it appears certain there's no web3.py issue.

[2018-01-16 17:45] HenryHoggard opened #560 "Warn on specific missing fields from w3.eth.account.signTransaction"
* Version: v4.0.0-beta5
*  Python: 3.5
*  OS: linux

I'm trying to test the new API to build, sign and broadcast a raw transaction, could anyone have a look at this error?

### Code

[code]

### Error

[code]

[2018-01-16 18:07] HenryHoggard commented on #560
Solved, I didn't include the "nonce" value in the tx dict.

[2018-01-16 18:53] carver commented on #560
Reopening as a reminder to check for and list the missing fields, at the beginning of `signTransaction`.

[2018-01-16 19:31] greese commented on #554
The short answer is that I have it working. It requires a cytools build from source.

The long answer:

The Python environment within AWS lambda is 3.6 and built WITHOUT --with-fpectl, but most environments are built with it. To build a proper lambda environment, here are the steps:

1. You need Ubuntu 17.04. It's the only official AMI that can support 3.6. The AWS Linux ones that exist for Lambda

[2018-01-16 19:33] greese commented on #554
Closing this out as it isn't web3.py issue.

[2018-01-16 19:33] #554 closed

[2018-01-16 19:59] carver commented on #554
Great, thanks for posting the writeup here.

[2018-01-16 23:52] carver opened #561 "Backup CI"
Run against 2 CIs so that when one of them is down, development doesn't slow down as much. Maybe CircleCI?

[2018-01-17 02:25] wong2 commented on #560
maybe the error could include info about which fields are missing?

[2018-01-18 16:13] #496 closed

[2018-01-19 00:35] glhahn opened #564 "Trouble getting new events"
Version: 4.0.0b5
Python: 3.6
OS: OS X

Hi, thanks for the great library. I'm having trouble with getting new events. I haven't been able to get it to work at all with ganache-cli and I can only get previous events when testing with a geth private network.

I'm using a smart contract that simply takes some data and creates an event with it. Example:
[code]

Here's the function I call in my web3.py

[2018-01-19 01:57] carver commented on #564
Excellent writeup.

Here's your issue:

[code]

What you want to do is create the filter once, save the `event_filter` instance, and then call `events = event_filter.get_new_entries()` on it over and over again.

[2018-01-19 01:57] #564 closed

[2018-01-19 15:31] akolotov commented on #549
Hi!

I have found that in order to specify that a filed could have variable length `variable_length` is used in `to_hexbytes`: https://github.com/ethereum/web3.py/blob/ab3f9860886d2d9071f951eab19ba94fd2bbda0f/web3/middleware/pythonic.py#L68-L84

But the logic is works just for cases when the actual number of nibbles is less than required. So, if the filed contains more nibbles `ValueError` raised.

[2018-01-19 16:33] carver commented on #549
The thing that it breaks is the strict enforcement of the protocol. :)  The question at hand is: Should we enable behaviors that are non-protocol-compliant? In general, web3.py aims to reject invalid inputs and outputs, which helps us identify bugs and encourage consensus behavior.

One possible approach would be to have an optional middleware that truncates the extraData field before it is format

[2018-01-19 18:33] #511 closed

[2018-01-19 18:33] carver commented on #510
Closed by #534

[2018-01-19 18:33] #510 closed

[2018-01-19 19:27] pipermerriam commented on #492
Lets use the API from @carver 's latest comment: https://github.com/ethereum/web3.py/issues/492#issuecomment-354572411

[2018-01-19 19:47] owocki commented on #492
@vs77bb -- we have enough python talent in the gitcoin ecosystem we should be able to help get this fulfilled :)

[2018-01-19 20:21] vs77bb commented on #492
@owocki agree :) will pub this one out!

[2018-01-19 20:23] banteg opened #566 "Websocket provider"
I think it's time we have a talk about adding a websocket provider.
- web3.js v.1.0 deprecated `HttpProvider` in favor of `WebsocketProvider`
- infura [added](https://github.com/INFURA/infura/issues/29) public websocket endpoints
- there is an excellent [websockets](https://websockets.readthedocs.io/en/stable/) library
- websockets give 4-8x better performance compared to HTTP/IPC from my tests

d

[2018-01-19 20:36] pipermerriam commented on #566
I found this absolutely hilarious for some reason....

[2018-01-19 20:37] pipermerriam commented on #566
I suspect we can get by with a minimal initial implementation which operates synchronously much the same way the IPC provider does?  I am not well versed in websockets so would need to validate this assertion.

[2018-01-19 20:42] banteg commented on #566
I experimented with this a while ago, but no, it can't be easily added. Websockets require a persistent connection and a running event loop. Here it gets tricky as async calls spread to the very top. Other than that, the API is the same.

[2018-01-19 20:48] postables commented on #549
I think compatability should be implemented since web3py can also be used for private Ethereum chains (POA) not just the mainnet.

I have a client that I work with whose thinking of exploring POA networks like Rinkeby is for production use and I won't be able to use web3py for that.

I think we should do something similar to Oraclize where their smart contract can identify the different networks i

[2018-01-19 21:19] monokh commented on #492
Looks like a fun one 🙂
I'd give this a go but you're probably sick of seeing me around here by now 😄  I'll give it a little while to see if anyone else is keen otherwise happy to help

[2018-01-19 21:52] carver commented on #549
This is an interesting idea. It's possible that we could add the middleware to the default list if it only applies when the network ID matches some whitelist. This is a relatively small change, and doesn't affect the bulk of the proposed solution above.

[2018-01-19 22:33] akolotov commented on #549
Sounds good. Will it be a whitelist of the networks which follow standards?

[2018-01-19 22:45] rituccijo86 opened #567 "Error installing web3 on Mac"
I am having trouble installing web3 python on my mac. I keep getting this error from pycharm? and an error when installing in the terminal.

  creating build/temp.macosx-10.6-intel-3.6/src
  /usr/bin/clang -fno-strict-aliasing -Wsign-compare -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -arch i386 -arch x86_64 -g -DLTC_NO_ASM -Isrc/ -I/Library/Frameworks/Python.framework/V

[2018-01-19 23:34] carver commented on #549
No, the default should be to follow standards. The whitelist would be for networks that deviate in some specific way, like PoA chains, and would cause the middleware to trigger.

[2018-01-19 23:39] postables commented on #549
Oraclize does something similar to this as well so I think this would be the best way. Perhaps we don't have to hard code the white list, but make it easy for the user to configure the white list themselves? This way we can ensure that by default web3py follows protocol standards and *IF* someone needs to they can add the whitelist?

[2018-01-19 23:39] carver commented on #492
lol, not at all! :D

That's very polite of you, but not necessary IMO.

A day seems like plenty of time to wait, if you decide to.

[2018-01-19 23:44] akolotov commented on #549
I like an idea to easily add my private PoA dev network to whitelist instead of having two different branches of code for a dev network and for a public network.

[2018-01-19 23:56] carver commented on #549
I would design it as:

- a default middleware that only truncates `extraData` if the network ID in a whitelist matches
- an optional middleware that always truncates `extraData`

That way:
- If you are connecting to a compliant network, or a known PoA network, it will "just work" out of the box.
- If you have a custom chain on PoA that is not in the whitelist, you just add that optional middleware

[2018-01-20 00:00] carver commented on #567
I'm not on a Mac or PyCharm, so don't have any personal experience with this. Googling around gave me this: https://apple.stackexchange.com/questions/254380/macos-sierra-invalid-active-developer-path

So maybe your xcode is not installed correctly. Try one of these two things, from the link:

[code]

[2018-01-20 00:06] carver commented on #566
The performance spread between HTTP and IPC is higher than 2x in my experience. Did you separately test against IPC, or are you just bundling them together after running HTTP tests?

BTW, I'm not arguing against a WebSockets provider; it's valuable enough to implement if it's only faster than HTTP, for services that are only available remotely. But I am genuinely curious how it compares specifical

[2018-01-20 00:08] carver commented on #566
This isn't super different from IPC. A websockets implementation could probably use something similar to IPC's `PersistantSocket` implementation: https://github.com/ethereum/web3.py/blob/master/web3/providers/ipc.py#L31

[2018-01-20 14:44] smartDev22 opened #570 "It is not possible to call public contract methods"
* Version: 3.16
* Python: 3.5
* OS: win

### What was wrong?

Good afternoon tell me what the error is, I'm 2 days in torment and nothing I could not do. There is a shortcut contracted in https://rinkeby.etherscan.io/address/0xd3d5c0d66847b83505110fa8d36bb317abbf1be1#
On the home computer running geth which is also connected to this network
I'm trying to access the contract:
[code]
I can not even

[2018-01-20 17:38] amites commented on #492
starting to look into this one, if anyone has capacity to tackle it please post here else I'll likely start writing code Monday

[2018-01-22 16:36] fubuloubu opened #572 "FEATURE: `fails()` method modifier (for testing)"
So, I've been playing around with web3 in an attempt to setup a py.test plugin leveraging web3 and eth-tester. A fairly common scenario in my testing is to check that a method call fails when attempted. I have a pytest fixture `assert_tx_failed` that takes a snapshot, attempts the call, records whether it raises a specified exception (default is `EthereumTester.exceptions.TransactionFailed`, but o

[2018-01-22 16:39] pipermerriam commented on #572
What is wrong with just using the pytest built-ins?

[code]

[2018-01-22 16:40] fubuloubu commented on #572
That gets very busy if you have 5 tests that each contain 4 instances of checking a failure to make the call, plus you have to load `TransactionFailed` in every testing module

[2018-01-22 16:41] fubuloubu commented on #572
but yes, leveraging `pytest.raises` under the hood

[2018-01-22 18:41] pipermerriam commented on #492
Lets make sure that whoever takes this on posts that they are starting work on it so that multiple people don't show up with solutions and make claiming the bounty contentious.

[2018-01-22 18:48] vs77bb commented on #492
Good thought @pipermerriam. @amites Are you planning on claiming today? cc @owocki

[2018-01-22 18:54] carver opened #573 "Don't encourage using ConciseContract or ImplicitContract as `ContractFactoryClass`"
### What was wrong?

Documentation encourages using `ConciseContract` and `ImplicitContract` as a `ContractFactoryClass`. They are not proper subclasses of `Contract`, which causes confusion when the API changes (like `deploy()` is no longer available)

### How can it be fixed?

1. Remove references to using these classes as a factory in the documentation
2. Show preferred implementation instead
3

[2018-01-22 19:29] amites commented on #492
caught up on another project today, will claim tomorrow/wednesday once i've finished unless someone else wants to take it on before I get to it

[2018-01-22 19:54] carver commented on #492
Sounds like we're in a race between who is the first one able to allocate time to work on this, between @amites and @monokh . Looks like both of you are happy to cede to the other, whoever gets the time first. Just be sure to claim it before working on it. :)

[2018-01-22 20:19] monokh commented on #492
Ok, in this case I'll pick it up then. Claim incoming.

[2018-01-22 21:16] carver opened #574 "Add function w3.eth.waitForTransactionReceipt(tx_hash)"
* Version: 4

### What was wrong?

It's a bit cumbersome to wait for a transaction to be mined. For example, after deploying a transaction, example code typically involves a small while loop, like in #573

This is a very common need, and should have an easy one-liner.

### How can it be fixed?

Something like:

[code]

Very open to alternative API suggestions.

This could potentially let us do coo

[2018-01-22 21:27] monokh commented on #492
@owocki i've claimed this but gitcoin hasn't picked it up. I believe it has something to do with me resending the transaction with a higher gas price. Gitcoin might be tracking a specific tx hash and therefore doesn't know if another tx went through?
Old transaction still running: https://etherscan.io/tx/0xc9b75d10184f59d474bd019ec3ecdc47f8763869486301750b3808b8cee5f48b
New transaction that confir

[2018-01-22 21:42] monokh commented on #492
Is there a reason one takes a dictionary and another takes an argument list? I can understand if it's the semantics of reading `modify transaction x=1 y=2` compared to `modify transaction {x: 1, y: 2}` but on first glance it felt inconsistent

What do we feel about `w3.eth.overrideTransaction` vs `w3.eth.replaceTransaction`? I feel like `w3.eth.overrideTransaction` might give the impression that o

[2018-01-22 22:25] carver commented on #492
Yes, I think it helps reinforce the semantic difference between the two: that `modify` reuses the values of the original transaction, and that `override` does not. You need to put everything you want in the `new_transaction_dict`. (except the `nonce`, which should raise an exception if someone specifies a different nonce than the one that `txn_hash` has).

I don't think `override` implies that onl

[2018-01-22 22:33] owocki commented on #492
@monokh thx for the heads up, i just sync'd the issue from web3 => gitcoin

[2018-01-23 00:34] monokh commented on #492
@carver thanks

That makes sense from a convenience perspective but I wonder if considering this in the API itself is necessary. For me, I would expect replacing a transaction to work as any other transaction, i.e. i provide the parameters and the node receives it. Now, if I provided a parameter that miners didn't like then as the consumer of the API, I should understand and handle that. That mean

[2018-01-23 08:04] dongsam commented on #549
This is emergency monkey patch for solve this error in POA network
[code]

[2018-01-23 09:48] cryptomental commented on #560
Hi! I was looking around what is inside this project and found this issue.
I experimented yesterday with schemas and this is what I came up with:

[code]

There are two ways to use schemas, either call validate() or assert. Out of the five transactions above, four are not valid and this is detected:

[code]

I think that this solution could be applied not only to transaction dict but to other type

[2018-01-23 11:57] jstoxrocky commented on #574
Hey @carver I've been using this function. Is this different from different from what you were thinking?
https://github.com/ethereum/web3.py/blob/master/web3/utils/transactions.py#L139

[2018-01-23 14:48] pipermerriam commented on #560
I'm not sure that we need a full dependency for this.  The validators that we need are mostly either already written or very easy to write.

- to: `eth_utils.is_checksum_address`
- nonce, gas, gas_price, value: `eth_utils.is_integer`, `0 <= value < 2**256 - 1`
- data: `eth_utils.is_hex`
- chainid: ??? but should be simple integer validation.

[2018-01-23 15:36] carver opened #576 "hex-encode the block number in eth_call"
* Version: *?

### What was wrong?

As reported by @chfast :

[code]

To fill in:

- web3 version: _
- web3 provider: _

### How can it be fixed?

Hex encode the block number before making rpc call, probably through the block number formatter in the pythonic middleware: https://github.com/ethereum/web3.py/blob/master/web3/middleware/pythonic.py

Workaround: supply block number already hex-encoded,

[2018-01-23 15:55] vs77bb commented on #549
@akolotov Would you like to claim this on Gitcoin? @carver @postables Otherwise we can pub this one out today!

[2018-01-23 16:13] akolotov commented on #549
Not sure that will have enough time to prepare a proper fix for this if you meant this by claiming.

[2018-01-23 16:17] cryptomental commented on #560
@pipermerriam that was just a proposal. About the library dependency, according to https://pypi.python.org/pypi/schema/ "you can just drop schema.py file into your project—it is self-contained.". But anyway if validators are available in the eth_utils already, then indeed schema may not be needed.

[2018-01-23 18:04] pipermerriam opened #577 "Support for fallback and constructor functions"
Continuation of https://github.com/ethereum/web3.py/issues/353

### What was wrong?

We should support the following API on contract instances for interacting with the fallback function.

- `contract.fallback.estimateGas()`
- `contract.fallback.call()`
- `contract.fallback.transact()`
- `contract.fallback.buildTransaction()`

As well as the following for interacting with the constructor.

- `contr

[2018-01-23 18:11] pipermerriam commented on #577
@carver @dylanjw thoughts on this?

* Should `contract.deploy()` be deprecated?
* Should `contract.constructor(...).transact()` be named something like `contract.constructor(...).deploy()`?

[2018-01-23 18:51] carver commented on #577
Sounds good to me. A new API for the local signing of the deploy transaction is needed anyway, and I like that `constructor` consistent with the ABI type name.

I think we should be consistent with the other options here (call, buildTransaction, etc)

[2018-01-23 19:23] #505 closed

[2018-01-23 19:29] carver commented on #492
It goes further than this, because nodes won't relay the transaction if it doesn't have a gas price bump. Last I checked `geth` errors if you try to replace a transaction without giving it a 10% price bump. I could maybe be convinced that if someone hard-codes the gas into the replacement, that we can just let the node error out. But we absolutely need to give at least a 10% price bump when estima

[2018-01-23 19:37] carver commented on #574
@jstoxrocky Yeah, that's definitely the implementation. But `utils` is presumed to be a private rather than a public API, and has no guarantees about API stability, etc.

So all that's really left for this issue is:

1. Decide on the public API
2. Wire in that public API to that utils implementation
3. Document it
4. Test it

[2018-01-23 21:14] monokh commented on #492
What is the behaviour when geth does error? Does the RPC call return something useful where we can relay back to the user the fact that their gas price didn't meet requirements? Something for me to have a look at.

I think its starting to click with me why it makes sense to provide the gas price estimation this way, given that the default gas price is the node's implementation anyway.

We still wa

[2018-01-23 21:51] vs77bb commented on #549
@akolotov That's what I meant - thanks for letting me know :)

[2018-01-24 00:03] carver commented on #492
Yes, for sure.

[2018-01-24 00:05] #309 closed

[2018-01-24 01:11] carver commented on #166
The `pyethereum` gone, the next roadblock is `pyethash` (used by `py-evm`).

https://ci.appveyor.com/project/JasonCarver/web3-py/build/1.0.4

Others have faced this issue, esp on Windows. See https://github.com/ConsenSys/ethjsonrpc/issues/5

[2018-01-24 01:17] monokh commented on #492
No codes today unfortunately but I have been exploring the implementation. Hit a bit of a roadblock though

There's a requirement here for doing the replacement based on an unmined transaction.

This makes sense as the checks and integration with the previous transaction is what makes it easy and useful as compared to just sending another transaction manually. However there seems to be a limitatio

[2018-01-24 03:15] carver commented on #492
Check out the [json-rpc docs](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_gettransactionbyhash). That method is definitely intended to work for pending transactions.

For example:

Just a guess: testrpc was set to auto-mine, so it's never pending when you ask for it. Infura doesn't keep a running list of pending transactions, so Infura just won't support this ability as well as a full node.

[2018-01-24 08:39] monokh commented on #492
Yea that's exactly what made me think initially that unmined transactions should be able to be retrieved with that rpc call.

I did try configuring block time on testrpc to a certain # of seconds but wasn't able to see the pending transactions. I asked truffle people if ganache had some sort of bug and they are unsure. Issue to be raised later on with them to look into that.

I'll be trying a full

[2018-01-24 18:25] carver commented on #560
In the process of moving the Account module to another repo, so removing the [Good First Issue] tag. This issue should be ported there once the move is complete.

[2018-01-24 22:56] monokh commented on #492
Results are in, `eth_getTransactionByHash` returns the unmined transactions fine. Probably worth considering that some nodes may not though in which case the API won't be usable... It's strange that Infura doesn't keep the tx pool, maybe we can convince that this is helpful?

Did I mention by testrpc i meant ganache-cli? 😄  Issue raised with them to look into it. With the the python testrpc, it se

[2018-01-24 23:30] carver commented on #492
Yeah, come on over if there's something you think we can knock out faster on chat. But sometimes those conversations get lost, so it can be nice to have them grouped together under an issue. I'm totally happy to keep related discussion happening on this page, it wouldn't be "clogging up" the thread. :)

[2018-01-25 00:06] monokh commented on #492
Web3.py actually uses eth-tester now which includes options for disabling auto mining. Therefore there won't be problems with the tests or development:
[code]

[2018-01-25 12:50] zheli commented on #577
I will give it a try :)

[2018-01-25 14:52] pipermerriam opened #583 "Allow specifying KDF function for `web3.eth.account.encrypt` API"
### What was wrong?

`eth-keyfile` supports passing in a `kdf` parameter to specify the key derivation function, but this api is not exposed via the `web3.eth.account.encrypt` API.

### How can it be fixed?

Add an optional keyword parameter `kdf` to allow specifying what KDF you want.

Extra options:

Allow setting the default KDF using both environment variables and via a property on the `web3.e

[2018-01-25 18:39] carver commented on #583
In the next couple of days, eth-account will make its way to https://github.com/ethereum/eth-account -- might want to hold off any major work until that happens.

[2018-01-25 23:14] pipermerriam commented on #583
replaced by https://github.com/ethereum/eth-account/issues/3

[2018-01-25 23:14] #583 closed

[2018-01-27 00:24] postables commented on #549
@dongsam  Thanks! The monkey patch works.

When I have some free time in the next week I'll poke around to see if I could help add a proper fix.

[2018-01-27 00:55] monokh commented on #492
Put in a very beginning of work on this. Apologies that this is going slow. Not had much time and doing more learning than coding here 😄  Should be able to get something reviewable quality after the weekend.

[2018-01-27 07:44] dylanjw opened #587 "Parity + IPCProvider + unlockAccount() = 'Method not found' =("
* Version: '4.0.0b6'
* Python: 3.6
* OS: linux

### What was wrong?

Parity v1.8.7-stable over IPCProvider returns an error from web3.personal.unlockAccount()

[code]

[2018-01-27 08:05] postables opened #588 "[4.0.0 beta] No callback ability for events like in the 3.x version?"
Playing around with the web3py 4.0.0 beta to get familiar with the new library for when its eventually fully released.

I noticed that in the previous version when listening for events using `.watch(callback_function_name)` you would be able to trigger a particular function when a new event shows up. Looking through the documentation for the new version there doesn't appear to be a similar method.

[2018-01-27 08:15] harpangell7 opened #589 "ChainId is string not Int"

[2018-01-27 08:19] harpangell7 commented on #588
I'm pretty sure they pulled it. I'm using celery to handle my events async.

[2018-01-27 08:22] postables commented on #588
Ah okay that makes sense. I'll check out celery

[2018-01-27 08:22] #588 closed

[2018-01-27 14:21] theNewGitt opened #590 "The weid things. All blockchain has gone."
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: arch

i'm a newbie in this world, so appologize when you read the inocent things.
- Firstly, i'm running **geth -rpc** command to rsync.
- After that im running **ethminer -G** ( and don't put my wallet adress here - do nothing just for test )
- For approximately 30 min after i open my wallet when keep running geth and ethminer. I Saw my wallet had **5

[2018-01-27 15:33] pipermerriam commented on #590
If you have a generic question about ethereum I'd suggest the ethereum stack exchange site.

This repository is for the web3.py python library.  If you have a question about the library please open a new issue and fill in the quested information in the template.

[2018-01-27 15:33] #590 closed

[2018-01-27 15:37] pipermerriam commented on #587
So...

The integration tests *should* be agnostic of how accounts get unlocked so you can setup the fixtures using parity specific methods/apis if needed.  Fixtures I'm referencing are here:

https://github.com/ethereum/web3.py/blob/master/tests/integration/README.md

All that matters is that those fixtures are available and that there is a parity chain we can interact with.  IPC connection would

[2018-01-27 15:48] theNewGitt commented on #590
so appologize. :D

[2018-01-27 17:14] #589 closed

[2018-01-27 19:41] harpangell7 opened #591 "signTransaction() function missing data parameter"
* Version: 4.0.0b6
* Python: 3.5
* OS: linux

### What was wrong?

 Is it possible to deploy a contract with a signed Raw Transaction? If so, can you point out how that would be possible?  I don't want to unlock the account.

[2018-01-27 22:31] dustsigns opened #592 "Non-deterministic results on smart contract call with same input"
* Version: 3.16.4
* Python: 3.5
* OS: Ubuntu 16.04

### What was wrong?

Executing the following smart contract with the following web3.py calls (adopted from the sample code on the Github page) yields two different outputs, with no apparent underlying cause.

The smart contract:
[code]

The web3.py calls deploying and calling the smart contract:

[code]

The output of two executions of the above

[2018-01-27 23:18] harpangell7 opened #593 "Still waiting for signed transaction to clear"
* Version: 4.0.0b6
* Python: 3.5
* OS: linux

### What was wrong?

I'm working on a test chain created by populus. I'm using the following to create and send a raw transaction.

        `gas_price = w3.eth.gasPrice

        gas_price_hex = Web3.toHex(gas_price)
        gas_limit_hex = Web3.toHex(7000000)

        nonce = w3.eth.getTransactionCount(w3.eth.coinbase)
        nonce_hex = Web3.toHex(no

[2018-01-27 23:28] harpangell7 commented on #593
Heres the AttributeDict. In the example it shows r and s as hexbytes. Is this the problem?

`AttributeDict({'rawTransaction': HexBytes('0xf86780850430e23400836acfc094729ec65621d4ef975a48244c1373c4356e9119898203e88026a01bca82a7e6243a810a8adcff3cee3604aa6d5eb70b9e441e2a569678c6061851a02f08d9713df59ceb217ad0bbc78e3fd189c3cc2a4a883109a9b58930c9e951c8'), 's': 2127433939188806337273971754590305740208071

[2018-01-27 23:28] pipermerriam commented on #592
Looks like the later hash is the correct/expected one

[code]

[2018-01-27 23:30] pipermerriam commented on #592
Oh, this is just a simple problem with your code.  You are using a `set` for your arguments.  Sets are not ordered so it's semi-random what order those will come out when you iterate over them.   If you just change that to a tuple or list I suspect you'll get consisten results.  Re-open if you don't.

[2018-01-27 23:30] #592 closed

[2018-01-28 02:40] harpangell7 commented on #593
I solved my problem by setting the chainId to None and removing the chainId setting in the genesis.json.

[2018-01-28 02:40] #593 closed

[2018-01-28 02:55] harpangell7 commented on #591
I already did, can I submit a pull request?

[2018-01-28 03:02] harpangell7 commented on #591
Done, hopefully it helps

[2018-01-28 03:41] pipermerriam commented on #577
@zheli if you have any work towards this, I encourage you to go ahead and open a pull request with it.  We can mark it as a work-in-progress.

[2018-01-28 03:42] pipermerriam commented on #591
see my comment on your recently opened PR.

[2018-01-28 19:34] zheli commented on #577
@pipermerriam have some question regarding calling fallback function using constructor form. As it is mentioned in the specification:

So user should be able to use them on fallback function like this?
`contract.estimateGas().fallback(args, kwargs)`?

[2018-01-28 21:41] zheli commented on #577
Also I want to clarify by deprecating `contract.constructor().deploy`, you mean people should be able to call `contract.constructor().transact()` without the suffix function name to deploy contract?

[2018-01-29 23:04] carver commented on #577
contract.estimateGas().fallback(args, kwargs)?

I think it's okay if you only want to support the newest contract function API, and not the flipped one. So this would be the only one supported:

[code]

In this ordering, there is no way to collide with the contract's defined function names. You would call a user-defined `fallback` function with: `contract.functions.fallback(...).transact(...)`.

I

[2018-01-29 23:59] carver commented on #587
I consider `personal_unlockAccount` actually a `geth`-specific function, since it didn't make it here: https://github.com/ethereum/wiki/wiki/JSON-RPC

So we could skip it on the integration tests, depending on which node is being run.

[2018-01-30 00:10] dylanjw commented on #587
Ok, I will close this issue then.

[2018-01-30 00:10] #587 closed

[2018-01-30 01:47] carver opened #600 "Add git hook to automatically fix imports [`isort`]"
### What was wrong?

Finding out you forgot to run `isort` after travis finishes is annoying.

### How can it be fixed?

Build the standard practice of a precommit hook that automatically prevents such issues.

Choose the best way to share the hook. Something like:

- https://www.viget.com/articles/two-ways-to-share-git-hooks-with-your-team/
- https://www.darrenlester.com/blog/including-hooks-in-a

[2018-01-30 01:49] carver opened #601 "Auto flake8 fixup"
### What was wrong?

Like #600 it would be great to prevent flake8 issues being the only thing preventing a merge. Probably with a shared git hook.

### How can it be fixed?

`flake8` does not have any automatic code cleanup mechanism. Probably have to use something like [yapf](https://github.com/google/yapf#knobs), which requires turning a lot of knobs to mimic our preferred coding style.

[2018-01-30 04:27] vs77bb commented on #549
Hi @postables, if you are interested in claiming the bounty, feel free to claim the issue on Gitcoin to show your interest 🙂 cc @owocki

[2018-01-30 11:28] lpassos opened #602 "Padding bytes were not empty: 0x0000000000"
* Version:  3.16.4
* Python: 3.6.3
* OS: osx

### What was wrong?

Calling a contract function expecting an address, a string, and an uint results in an error regarding padding. The function signature is

[code]

whereas the invocation is given by

[code]
When processing the event in a separate thread, I get the following:

[code]

Any ideas?

[2018-01-30 17:59] bluebirdly opened #603 "Web3.toText(hexstr='') - 'utf-8' codec can't decode"
* Version: x4.0.0b6
* Python: 3.6.4
* OS: osx

I'm reading the input fields of pending transactions in the txpool (using txpool.content) and trying to convert it into text using:
[code]

I'm getting the error:
`UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte
`
Any ideas please?

[2018-01-30 19:40] lpassos commented on #602
For the record, changing from the function modifier to `public` seems to do the work. But still, why is `external` failing?

[2018-01-30 22:44] pipermerriam commented on #603
UTF8 is not able to encode all of the single byte values.  It's annoying but it's not a bug.  If you need a text representation you have to pick a different encoding.

[2018-01-30 22:44] #603 closed

[2018-01-30 22:48] pipermerriam commented on #379
Not sure if this is useful, but you could theoretically leverage some of the python3 async to deal with the *waiting* for transactions part.

[2018-01-30 23:09] pipermerriam commented on #602
The error here (from looking at the stack trace) looks like it's due to trying to decode the log data and failing.  @dylanjw I think this *may* concern you as we might need to add some failsafes into the rich log decoding to handle invalid log entries assuming that is the case.  @lpassos to really debug this we'll need so more information to be able to reproduce it locally.

- minimal contract cod

[2018-01-31 01:44] dylanjw commented on #381
I have created fixtures for parity.  Because parity does not have mining functionality, I used the following method to create the generation script:

- Start a geth node on a private network, and run the fixture generation script (adapted from the existing script)
- Start a parity node and peer it with the geth node.
- Wait for sync to complete.

A big challenge was creating matching genesis files

[2018-01-31 06:30] bluebirdly commented on #603
It's the encoding used by web3.py 'web3.txpool.content', how can i change
that? Can't find any reference in the docs.

On Tuesday, 30 January 2018, Piper Merriam <notifications@github.com> wrote:

[2018-01-31 22:16] omar408 opened #605 "N"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
* The full output of the error
* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how this could or should be fixed.

[2018-01-31 22:16] #605 closed

[2018-02-01 00:27] carver commented on #381
Feel free to post a list of the failing tests, along with the ones you think make sense to focus on, and others that make sense to punt.

[2018-02-01 00:59] carver commented on #603
@bluebirdly the data in transactions can be arbitrary binary data (ie~ there is no single encoding to use). In order to properly decode them, you would need to look up the ABI of each contract that the transactions are interacting with. Transactions that send arbitrary data and are NOT sending to a contract are a guessing game, there's no way to know what encoding scheme they used, other than gues

[2018-02-01 01:04] carver commented on #602
That is interesting. Looks like `external` is a test case that should be added. @lpassos can you provide the repro steps that Piper mentioned?

[2018-02-01 07:16] pseudogelb opened #607 "Function returns 0x when I want to read a larger amount of data"
* Version:4.0.0
* Python: 3.6
* OS: win

I have some issues to read out a larger amount of data with web3.py. I made a test contract, which has functions that return array of different sizes, one a uint8 250'000 array and one a 1'000'000 sized array. Both functions work fine in remix.ethereum.org, but when I use web3.py, I can only read out the 250'000 uint8 sized array, the other returns always a

[2018-02-01 10:47] 5chdn commented on #381
Note, Parity does not have a _mining_ functionality for Ethash, but it provides other engines of sealing blogs for AuRa, Tendermint, "Instant Seal" (Dev mode).

If a PoW environment causes you headache, you can just switch the engine.

[2018-02-01 15:55] dylanjw commented on #381
Thanks @5chdn, I'll take a look at the other engines.

[2018-02-01 16:12] dylanjw commented on #381
@carver Running tests on my system (Im still working on the travis CI config), I get 10 failed, 87 passed.

Here is a summary of the failing tests:

1. TestParityEthModule.test_eth_newBlockFilter (AssertionError on line 438)
2. TestParityEthModule.test_eth_uninstallFilter (AssertionError on line 544)
3. TestParityPersonalModule.test_personal_importRawKey (MethodNotFound: personal_importRawKey)
4.

[2018-02-01 18:02] dylanjw commented on #607
The gas cost of your arrays are extremely high.

The memory cost function is ((memory fee * word size + (word size**2/512)) where the memory fee is 3 gas, and the word size for your 8uint array is 1,000,000.

3 * 1,000,000 + 1,000,000**2 / 512 = 1,956,125,000 gas

with an average gas price of 22gwei, creating that array will cost roughly 42 ether.

It looks like you are testing on the ropstein net

[2018-02-01 18:18] pipermerriam commented on #607
I suspect this is due to exceeding the gas limit for the `eth_call` but my intuition says you should have received an error during execution rather than getting a `0x` as your return data.  Will need to do some further investigating to see what's going on.  @dylanjw if you get a chance, can you try making the raw `eth_call` using `web3.manager.request_blocking('eth_call', [{<the-prepared-transacti

[2018-02-01 18:54] carver commented on #381
Sounds totally reasonable. Looking pretty close!

One approach to dropping the `personal_*` tests would be:

[code]

Plus, adding a `xfail_strict=true` line to the pytest.ini (which has been on my todo list).

Then we get notified if any of them start working.

[2018-02-01 19:46] postables opened #608 "How to properly sign a transction to be used by ecrecover?"
I can't seem to be able to find any examples using web3py on how to properly sign a transaction such that it can later be used by `ecrecover` in solidity code to recover the address associated with the signature.  I can find examples on how to do this with geth but I can't seem to transpose those examples to web3py.

Thanks.

[2018-02-01 21:53] dylanjw commented on #381
I will add TestParityEthModule.test_eth_uninstallFilter to the xfail tests.  Parity returns true for any filter id parameter I enter, so I raised this issue: https://github.com/paritytech/parity/issues/7783

[2018-02-01 22:01] carver commented on #608
@postables are the keys local? Have you tried using this? http://web3py.readthedocs.io/en/latest/web3.eth.account.html#web3.account.Account.signTransaction

r, s, and v are the values ecrecover needs.

Those docs are a little out of date, and will be updated within a week or two. The important bit is that r and s will be return as `int`s. `ecrecover` expects them encoded to `bytes`, zero-left-padd

[2018-02-01 22:10] dylanjw commented on #381
For the test_eth_newBlockFilter failure, on the first poll parity returns the latest block hash, instead of none.  Subsequent polls return the expected empty list

[code]

[2018-02-01 22:33] dylanjw commented on #381
I marked test_eth_newBlockFilter as xfail as well.

[2018-02-01 22:59] postables commented on #608
@carver  I forgot to update the post after some playing around

[code]
At that point I'm not sure how to extract `r,s,v`, but I can do the following using the private key for the acocunt I sign the message with above and get something completely different;
[code]

[2018-02-01 23:40] dylanjw commented on #607
Im getting a "missing value" error.  Is something missing from the transaction json?

[code]

[2018-02-01 23:55] carver commented on #381
Awesome :+1:

Interesting find. Did you file an issue for that as well?

[2018-02-02 00:03] dylanjw commented on #381
I did not.  Will do.

[2018-02-02 00:41] carver commented on #608
Ok, let's split this into several issues.

1) "how to convert the message signature returned by your node into v, r, s?" This is at least a documentation issue, or *maybe* some kind of tool we want to expose. The one-liner version of the doc is that the signature is concatenation of r + s + v, padding r and s to 32 bytes with 0s. We can continue talking about that on this thread.
2) "why is the si

[2018-02-02 15:31] vijaysagi opened #609 "application deployment architecture"
* Version: 16.04
* Python: 2.7
* OS: ubuntu

My question is more towards application deployment  architecture:

We are building a web application using ethereum which will detect the faces and store the images locally on the hard drive. As part of on-premise model, i want to deploy the app for every client in safe and efficient manner.

Q1) on client side,  if i deploy the application on private e

[2018-02-02 16:28] carver commented on #609
These architectural questions are outside of the scope of this web3.py project. I recommend checking out http://ethereum.stackexchange.com/

Note that they, like anyone you are asking for help, will be more excited & able to assist if you show more work: what options have you considered? what happened when you attempted it? etc. Otherwise it is about as fun as doing someone else's homework.

[2018-02-02 16:28] #609 closed

[2018-02-02 23:52] lpassos commented on #602
Here is how to reproduce the bug:

[code]

The `test.sol` file is defined as:

pragma solidity 0.4.18;

contract SimpleTest {

    event LogAction(address x, string y, uint256 z);

    function doSomething(address x, string y, uint256 z) external {
        LogAction(x, y, z);
    }
}

[2018-02-03 01:05] carver commented on #602
:+1: Reproduced locally, also confirmed in:
- web3 versions
  - v3.16.5
  - v4b7
- Solidity compiler 0.4.19.
- `EthereumTesterProvider`, instead of `TestRPCProvider` (different error, but same conditions: only breaks with `external` modifier)

I have no idea what this is yet, but we have everything we need to investigate. I won't be able to put much time into it until early next week.

[2018-02-03 02:17] postables commented on #608
1. Okay
2. I'll post a test at the end of this thread and open an issue on eth-account.
3. Will do
4. That makes sense and I believe I understand how to do it now (with `w3.eth.account.sign` at least, see hte following example using the provided example private key
[code]

[2018-02-03 05:03] postables opened #612 "Issues combining Celery and web3py for concurrency/async processing: Object of type 'Contract' is not JSON serializable"
I'm attempting to combine Celery and web3py for async processing.
I have the following file `tasks.py`
[code]

I have the following lines which establishes a web3 IPC connection to a smart contract, address in the `mainNetworkLinkerContract` variable, and the contract abi in the `tempAbi` variable, then attempt to execute the `awardCoins` function
[code]

Which returns the error
`Object of type 'C

[2018-02-03 05:27] #612 closed

[2018-02-03 07:29] postables commented on #608
I attempted to use those parameters with a contract, but got a different address:
[code]

Using `"0x50b2c43fd39106bafbba0da34fc430e1f91e3c96ea2acee2bc34119f92b37750", 27,"0x75008893682361613075321033100067373842215849668831618173450334986392439342668","0x23948789300193558420516775146517085417438894167413775226527048552817861068889"` as my input to `recover` returns the following address `0x8f5524b

[2018-02-04 02:23] postables commented on #608
I was able to solve the issue by converting `r` and `s` to hex using these two lines of code before firing the transaction

    r = Web3.toHex(r)
    s = Web3.toHex(s)

Thanks for the help @carver  really helped to point me on the right track

[2018-02-04 13:22] pseudogelb commented on #607
I don't know what should be missing here, I posted all the code and also the .json I used for this test project. Can you call getValue2(), the function that works fine with web3.py?

[2018-02-04 16:32] palango opened #613 "Traceback when sending transaction without nonce"
* Version: 4.0.0b7
* Python: 3.6
* OS: osx

### What was wrong?

When trying to send a transaction without a nonce on the `eth_tester` `PyEVMBackend` I get the following error. However, `nonce` is marked as optional in the docs: https://web3py.readthedocs.io/en/stable/web3.eth.html#web3.eth.Eth.sendTransaction

[code]

The code is the following:
[code]

[2018-02-04 16:39] dongsam commented on #549
I'm trying to add middleware for this issue

but I wonder PoA Clique algorithm work fine even if we truncate extra data like above,

expanding extra data length is not good solution? because yellow-paper-compliant?

[2018-02-05 14:49] miohtama opened #614 "merge_args_and_kwargs invalid handling of function name in the error message"
* Version: 1.9.0
* Python: 3.5
* OS: osx/linux/win

### What was wrong?

`merge_and_kwargs` throws an exception when it tries to construct an error message if you give invalid kwargs for a function constructor.

[code]

### How can it be fixed?

Assume there is no `function["name"]`, because constructor does not have it, when creating error messages https://github.com/ethereum/web3.py/blob/c32816d

[2018-02-05 17:30] pipermerriam commented on #496
@lolminer thanks for finding this.  The error is in the code actually.  Fixed here https://github.com/ethereum/web3.py/pull/615

[2018-02-05 19:00] carver commented on #549
You can't really add a middleware that changes how the middleware above it in the stack works (the pythonic middleware will always enforce that extraData length.

Another option is that you could add another key `authorityData`, and move the value from `extraData` to it.

[2018-02-05 19:02] pipermerriam commented on #549
I like this solution.

[2018-02-05 21:35] dylanjw commented on #607
@pseudogelb the call to getValue2() over infura with web3.py works as you have stated.  In my previous comment, I was trying to build and send the call to getValue1() as raw transaction to get more information.  The error is likely due to a mistake Im making, and not related to the primary issue.

Following @pipermerriam suggestion of trying this in web3.js, getValue1() returns `0x` just as in the

[2018-02-05 23:25] dylanjw commented on #381
https://github.com/paritytech/parity/issues/7816

[2018-02-06 00:17] carver commented on #608
Glad it worked out!

Here are some new, related docs I've just deployed: http://web3py.readthedocs.io/en/latest/web3.eth.account.html

I would love your thoughts on those docs.

[2018-02-06 06:22] postables opened #617 "w3.eth.account.sign returning incorrect data"
This account is for a testnet:
[code]

Attempting to use `ecrecover` in solidity with those parameters returns an inccorect address of `0xb8e89ea04d9ee4b633c56d4a3b728a280e80eb6b`

If you take `s (0xea7eadf8603ba2c4a5c5006571be7665020812aa7e403a614587cfe7a18146c)`
and change it to `0x0ea7eadf8603ba2c4a5c5006571be7665020812aa7e403a614587cfe7a18146c` (now the extra `0` after the x, you receive the p

[2018-02-06 06:52] pipermerriam commented on #617
Currently we return `r` and `s` in their integer representations which means they are not padded to 32 bytes.   The reason for the inconsistency is that this will only occur when `r` or `s` are small enough that they fit in less than 32 bytes..

I'm pretty sure there is already a conversation about this somewhere but I'm not sure where.  cc @carver as he may know.

[2018-02-06 06:54] postables commented on #617
Ah okay that makes sense. I looked on read the docs for the version 4.0.0.7beta and it mentions using `eth_utils.to_hex` and `eth_utils.to_bytes` however my version of eth  utils doesn't have that (could probably just upgrade it though). Would converting both `r` and `s` to bytes first before converting to hex, utilizing `Web3.toBytes` be sufficient to solve this issue?

[2018-02-06 18:36] carver commented on #617
Yeah, I will update that in the docs to use the same functions by a different name: `Web3.toHex()` and `Web3.toBytes()`.

FYI, The next release of web3.py v4 will force the install of the latest eth-utils.

No, you also have to zero-pad the value to 32 bytes, as the example in the docs does: http://web3py.readthedocs.io/en/latest/web3.eth.account.html#prepare-message-for-ecrecover-in-solidity

Thi

[2018-02-06 18:53] razi-rais opened #619 "Installation failing for web3: Error in eth-keys setup command: 'install_requires'"
* Python: 2.7
* OS: macOS (High Sierra  10.13.2)

### What was wrong?
While installing web3 using pip running into following error (full trace below)

[code]
Not sure what exactly is the issue because I can install eth-keys separately (pip install eth-keys) and it does got installed without any issues.

MacBook-Pro:~ rz$ pip install web3
Collecting web3
  Downloading web3-3.16.5.tar.gz (53kB)

[2018-02-06 19:22] carver commented on #613
Thanks for the detailed report!

The best solution I see is to:
1. add a simple test that sends a transaction, without a nonce. Much like: tests/core/eth-module/test_defaultAccount_api.py
2. add a new `fill_default_nonce` to this pipeline: https://github.com/ethereum/web3.py/blob/master/web3/providers/eth_tester/middleware.py#L307

Side note @palango -- since you're on v4-beta, you should be using

[2018-02-06 19:30] carver commented on #619
Can you try a `pip install -U pip setuptools` and re-run? I think more recent versions of pip/setuptools can handle that missing comma.

The missing comma is fixed in more recent versions of eth-keys, but web3.py v3 is not compatible with more recent versions for other reasons.

[2018-02-06 20:04] razi-rais commented on #619
Thanks @carver I did try running pip install -U setuptools wheel but ran into following error.

[code]

[2018-02-06 21:31] carver commented on #619
Ah, for a variety of reasons it can be really messy to install python libraries to your global environment. Set up a virtual environment like so: http://web3py.readthedocs.io/en/stable/quickstart.html#environment

Then run the `pip install -U pip setuptools wheel`, then finally the `pip install web3`.

[2018-02-06 22:52] razi-rais commented on #619
@carver manage to install web3 in virtualenv. Thanks!

Closing the issue.

[2018-02-06 22:52] #619 closed

[2018-02-07 00:57] postables commented on #617
Thanks Carver! The only thing I could recommend is that https://web3py.readthedocs.io/en/latest/web3.eth.account.html#prepare-message-for-ecrecover-in-solidity should indicate explicitly what the function depicted is doing (zero pad -> bytes -> hex).

thanks for all the help :D

[2018-02-07 04:42] #617 closed

[2018-02-07 04:49] postables commented on #608
I think it would be useful to have a section demonstrating  how to sign message hashes that don't include the prefix.

For example, in some of my solidity code I'm attempting to verify that a message `keccak256('hello')` was indeed the message that was signed when recovering address utilizing `ecrecover`. The problem lies that when using the current methods to sign messages, it adds in the prefix

[2018-02-07 09:31] Lebski opened #621 "return of bytes32 and Web3.toHex changes Hash-Value"
* Version: 0.4.18
* Python: 3.5
* OS: linux

### What was wrong?
When calling a function which returns a bytes32-Value and use the "Web3.toHex"-Function, Web3.py will return a different Hex-Value than Web3.js.

**Python**
[code]

**Solidity**
[code]

**Output**
Input: 0xc642c686e44a00a6edf28a978930a2707cd01272349225c31476e8f836a8bdac
Bytes: ÆBÆäJ¦íò0¢p|Ðr4%Ãvèø6¨½¬
Hex:  0xc38642c386c286c3a4

[2018-02-08 04:49] bonedaddy opened #625 "How to properly encode function argument types?"
Hello, I've been getting the error `No Matching Transactions` error a lot lately when trying to call function arguments with a mix of different arguments (bytes32, uint8, uint256, and so on). I've unsure as to how to properly encode the various function arguments so that web3py can properly match functions. I've tried using `Web3.toHex`  `Web3.toBytes` and so forth to no avail.

[2018-02-08 11:52] fkramer90 opened #626 "ModuleNotFoundError: No module named 'web3'"
* Version: 3.16.5
* Python: 3.6.3
* OS: Windows 10 Education Version 1709

### What was wrong?

Hello. I feel like the biggest idiot. I've been working with python for some time now and have never had any problems installing packages via pip or from a folder. Also pip list shows me that web3 is installed in the above-mentioned version. Unfortunately, as described in the documentation, I can't impo

[2018-02-08 18:08] pipermerriam commented on #626
Can you answer a few more questions.

* When you run `pip freeze` what kind of output do you get?
* Are you installing in a global python interpreter or a virtual environment (you should almost definitely be using a virtual environment)
* How did you install the `web3` library.

[2018-02-08 20:11] carver commented on #608
I took a stab at it. It's not *exactly* that case. I think it would hurt more than it helps to try to exhaustively list all the possible combinations. But at least it mentions how to use `hashMessage()` if all you have is the original message. Thoughts?

[2018-02-08 20:27] postables commented on #608
Actually now that you mention it I agree it would hurt more than it helps. The reason I needed to reconstruct the message in the first place  (which I ended up figuring out) is a specific use case that wouldn't make sense to clog up the documentation with.

[2018-02-08 20:27] #608 closed

[2018-02-08 21:03] dylanjw commented on #625
Hi @postables

Maybe you are passing the correct types, but are exceeding some of the bit lengths?  If you paste an example I could take a look.

Here is a demo showing function matching with mixed arguments.  I tested using both the built <int>.to_bytes() and web3.Web3.toBytes() functions.  The last function call fails to match, because I am passing an integer that exceeds 8bits.

[code]

Output:

[2018-02-08 21:31] postables commented on #625
Ok I'll post the output that gives me this error. I don't think its due to exceeding argument length as if I take the same input data, but enter it into my contract through mist everything works as expected.

[2018-02-08 22:43] lpassos commented on #602
Hey @carver, any updates?

[2018-02-08 23:28] dylanjw commented on #621
It looks like the call to `getHash()` is returning a different output than was put in.

The "Bytes:" and "Hex:" output correlate:

[code]

Maybe the transaction is not complete when you make the call to getHash.  Try waiting for the transaction receipt with [web3.eth.getTransactionReceipt](http://web3py.readthedocs.io/en/latest/web3.eth.html?highlight=getTransactionReceipt#web3.eth.Eth.getTransact

[2018-02-08 23:37] Lebski commented on #621
The "setHash"-function just stores the Hash. No altering involved.
So the Output should be '0xc642c686e44a...' as it is, when I'm calling it with web3.js (on the exact same contract, with the same "getHash"-function).

Also: If I copy the Bytes alias the Unicode-String (ÆBÆ�äJ¦íò��0¢p|Ð�r4�%Ã�vèø6¨½¬) and convert it with the JavaScript implementation of Web3... I also get the correct string.

[2018-02-09 00:29] carver commented on #602
Not yet, I had some other fires to put out. I will hopefully get a chance before the end of the week.

[2018-02-09 00:58] carver commented on #621
@Lebski Can you try it in v4 (installed with `pip install -U --pre web3`)?

[2018-02-09 01:00] carver commented on #625
@postables v3 or v4?

[2018-02-09 01:18] postables commented on #625
@carver Using v4

[2018-02-09 01:20] dylanjw commented on #621
I see, it is [that](https://github.com/ethereum/web3.py/pull/363) latin-1 encoding issue.

[code]

[2018-02-09 02:11] carver commented on #621
Great, thanks for confirming.

[2018-02-09 02:11] #621 closed

[2018-02-09 08:03] lazaridiscom commented on #549
@pipermerriam , I claimed, and will try to solve this issue from a "birds-eye" view, going down to code level only if needed. The estimated time-frame is 7 to 14 days.

I would only need from you:

## Isolated Dev Sandbox

Instructions on how to setup a minimal(!) isolated development environment to work on this issue. Code and involved subsystem should be the absolute minimal necessary to work on

[2018-02-09 11:12] savao opened #629 "How to deploy smart contracts through infura if the constructor has parameters?"
* Version: 4.0.0b5
* Python: 3.5
* OS: linux

### What was wrong?

I read the documentation for your package, invesigate the source code for the appropriate functions, but did not find a way to pass the parameters to the contract constructor if one need to deploy contract via raw transactions. Infura not allow other variants.
Maybe that's not the issue, I just didn't know where to properly ask thi

[2018-02-09 14:35] whysear commented on #516
@carver , hi carver, there is something confusing on me about the new features you mentioned, could you please give me a favor? is the middleware with the functionality that could sign the private key with the transaction supported on the tag v4.0.0beta9? and how to use it? a demo example will be appreciated. hope to get you reply asp, thank you advanced!

[2018-02-09 15:49] fkramer90 commented on #626
@pipermerriam

- When you run pip freeze what kind of output do you get?
It looks like pip list. Here again, web3 version 3.16.5 is displayed.

- Are you installing in a global python interpreter or a virtual environment (you should almost definitely be using a virtual environment)
I don't know exactly what you mean by that. I tried to use the console, Spyder and also Jupyter notebooks. When I sta

[2018-02-09 17:07] pipermerriam commented on #626
Can you run `pip uninstall web3` and then `pip install web3` and provide the full output of both of those commands.

[2018-02-09 17:09] pipermerriam commented on #629
This will be fixed with https://github.com/ethereum/web3.py/issues/577

You'll be able to call `contract.constructor().buildTransaction(...)`, after which you can sign the transaction using the `web3.eth.account` API and then submit as a raw transaction.

[2018-02-09 17:09] #629 closed

[2018-02-09 17:22] fkramer90 commented on #626
C:\Users\FabianKramer>pip uninstall web3
Uninstalling web3-3.16.5:
  c:\python363\lib\site-packages\web3-3.16.5.dist-info\description.rst
  c:\python363\lib\site-packages\web3-3.16.5.dist-info\installer
  c:\python363\lib\site-packages\web3-3.16.5.dist-info\metadata
  c:\python363\lib\site-packages\web3-3.16.5.dist-info\metadata.json
  c:\python363\lib\site-packages\web3-3.16.5.dist-info\record

[2018-02-09 17:32] pipermerriam commented on #626
Alright.

Now can you provide me with the full output when you open a python repl and try to import web3.  Please include the full output like the following.

[code]

[2018-02-09 17:35] pipermerriam commented on #549
This issue is, or whatever pull request you open is the best place to contact either me or @carver to ask questions.  Check the documentation on read-the-docs for how to get a dev environment setup.

The gitter chat room for this repo is also a good place to ask questions.

[2018-02-09 17:48] carver commented on #549
I'm not certain that the developer setup is on read-the-docs, it might only be in the readme:
https://github.com/ethereum/web3.py#developer-setup

I *think* that's a good thing: to not intermingle user-facing docs with developer-facing docs...

I can't imagine how you will solve this without some code, but 💯 if you can.

[2018-02-09 17:48] dylanjw commented on #607
@pseudogelb There is a new issue open on INFURA similar to your situation:  https://github.com/INFURA/infura/issues/70.  I would be interested in what they say.  Im closing this because I see no actionable way to detect when a call with large return values will fail.

[2018-02-09 17:48] #607 closed

[2018-02-09 17:53] carver commented on #516
@whysear "How do I do X?" questions are best asked on [StackExchange](https://ethereum.stackexchange.com/questions/tagged/web3.py), in case someone else has asked the question. FYI, that middleware project stalled a bit. Not sure when it would come out. In general, these docs should get you started: http://web3py.readthedocs.io/en/latest/web3.eth.account.html

[2018-02-09 18:25] fkramer90 commented on #626
Python 3.6.3 |Anaconda, Inc.| (default, Oct 27 2017, 12:22:41) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

<module 'web3' from 'C:\\Python363\\lib\\site-packages\\web3\\__init__.py'>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'web3.auto'

[2018-02-09 18:28] fkramer90 commented on #626
Traceback (most recent call last):
  File "C:\Python363\lib\site-packages\web3\utils\windows.py", line 17, in __init__
    0, None, win32file.OPEN_EXISTING, 0, None)
pywintypes.error: (3, 'CreateFile', 'Das System kann den angegebenen Pfad nicht finden.')

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>

[2018-02-09 18:28] pipermerriam commented on #626
Alright, issue is you being on the `3.x` line of web3.  If you run `pip install --pre web3` you should get a `4.x` beta version which has the `web3.auto` module.

Alternatively, if you need to stay on `3.x` for some reason, make sure you're browsing the `3.x` documentation since a number of things have changed or been added in `4.x`

[2018-02-09 18:28] #626 closed

[2018-02-09 18:29] pipermerriam commented on #626
re-open if this doesn't fix your issue.

[2018-02-09 18:43] lazaridiscom commented on #549
https://github.com/ethereum/web3.py#developer-setup - this should be nice.

How is the stability on Windows10?

Additionally, the docker sandbox sounds nice., but there's this "Note: This container does not have go-ethereum installed, so you cannot run the go-ethereum test suite."

Are there any expected problems in doing this?

## Code

Can someone please strip away the non-relevant code from thi

[2018-02-09 19:24] pipermerriam commented on #602
FYI, there is a larger separate issue that I don't think has been discussed and I don't think we currently handle.

When parsing log data, we *assume* that because the first topic matches the topic derived from the event signature, that it will be well-formed for decoding via the ABI for the given event.  This assumption is easily broken.  It's trivial to log an event with the first *topic* matchi

[2018-02-10 01:17] carver commented on #602
## Summary

So it took me quite a lot of testing to believe this, but the events get logged differently if the function is `external` vs `public`. The public one has trailing 0s. That surprised me.

It makes no sense to me that the logged event data would be different, depending on whether it was logged by a public function or an external function. [This](https://ethereum.stackexchange.com/questio

[2018-02-11 12:32] whysear commented on #516
@carver , OK, thanks, actually, I have made a solution working well, but it is not so elegant.  cause when I want to get the return value of such as the balanceOf method of an instance of contract conform to ERC20, what I did is adding a balanceOf event, then get the rich log from the receipt after the sendRawTransation invoked.  I hope there is or will be a solution to meet this requirement bette

[2018-02-12 14:52] savao commented on #629
But Contract object don't have method constructor:

print(dir(contract))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_

[2018-02-12 15:21] savao commented on #577
Hello.
Please, can you tell me, when I can get contract.constructor() in this pakage?
I try to use this with v 4.0.0b9, but face with error: AttributeError: type object 'Contract' has no attribute 'constructor'

[2018-02-12 18:09] carver commented on #577
@savao within a couple weeks of #595 being merged.

[2018-02-12 18:19] pipermerriam commented on #629
Notice the future tense and that #577 is still open.  It's being actively worked on.  More details on the linked issue.

[2018-02-12 22:05] carver commented on #602
Whelp, I have no idea. I just wrote it up: https://ethereum.stackexchange.com/questions/39418/why-do-public-and-external-functions-emit-strings-differently-in-event-logs

It sure seems like the `external` version is producing invalid ABI. Hopefully I'll be corrected.

[2018-02-13 00:56] lazaridiscom opened #632 "Dev Setup Prerequisites"
Affects #549

* Version: dev
* Python: 3.5
* OS: ubuntu 16.04

### What was wrong?

I've followed the setup https://github.com/ethereum/web3.py#developer-setup quite literally.

I do not us docker.

Despite using `pytest -k "not goethereum"`, i get loads of test errors, an example:

[code]

Are there any prerequisites which are not mentioned in the dev-setup instructions?

[2018-02-13 01:03] jstoxrocky opened #633 "What is preventing contract deployment with `sendRawtransaction`?"
* Version: 4.0.0-beta.8
* Python: 3.5
* OS: osx

### What was wrong?

I'm trying to deploy a contract by signing the deployment data offline, and then deploying using `web3.eth.sendRawTransaction`. I would like to use this kind of flow when making use of INFURA nodes for my web3 provider.  I am not sure if I am missing something, or if this is even possible. I am getting a strange `ValidationError

[2018-02-13 01:06] carver commented on #632
Kind of, the "right" section to follow was the "Python 3" one, since the "main" section seems to fallen out of date. I just deleted that old section, replacing it with the Py3 one.

The only change of note is to use: `pip install -e .[tester]`.

[2018-02-13 01:07] carver commented on #633
#595 is what you're looking for. Still in progress.

[2018-02-13 01:07] #633 closed

[2018-02-13 01:10] jstoxrocky commented on #633
thanks! @carver

[2018-02-13 01:57] lazaridiscom commented on #632
@carver , nah, used only the python3 instructions before.

one thing: I noticed on the console during repeat (step `pip install -e .[tester]`)

`eth-tester 0.1.0b16 does not provide the extra 'py_evm'`

[2018-02-13 02:07] carver commented on #632
This still works for me in a fresh checkout, in a fresh venv, with caching turned off.

Can you `pip install --upgrade pip setuptools wheel` and try again?

[2018-02-13 02:09] lazaridiscom commented on #632
You mean try the complete installation again, or just the "pip install -e .[tester]" ?

[2018-02-13 02:11] lazaridiscom commented on #632
[code]

[2018-02-13 03:49] lazaridiscom commented on #632
I repeated, without virtualenv. Not sure if virtualenv was the cause, or if the manual installation of py-env helped.

Test is still green... ... (takes forever).

Ok, still a few errors, but **much much** better:

example error: `FileNotFoundError: [Errno 2] No such file or directory: 'parity'`

So, I'm now running 'pytest -k "not goethereum and not parity", i guess this will work.

All fine:

`9

[2018-02-13 04:16] #381 closed

[2018-02-13 06:20] savao commented on #629
Excuse me. I first misunderstood what you said, that it was already working. I read Issue and realized that it would be ready only after a short time.

[2018-02-13 09:32] scottydelta commented on #632
try this:

[code]

[2018-02-13 10:07] scottydelta commented on #614
Pull Request #618 fixes this.

[2018-02-13 16:23] lazaridiscom commented on #632
@scottydelta , so you suggest this structure:

[code]

All projects can share the same venv?

[2018-02-13 20:26] lazaridiscom opened #634 "[RFC] Specify Specification Options"
Affects #549

### Draft Configuration Options

Those are configuration options for web3.py, which would allow a developer to choose its strictness in 3 levels:

| ConfigOption | default |  description |
| ------------------------------- | --- | --- |
|  **strict** | true | enforces strict yellow-paper (any RFC or number available? ) compliance |
| **dev** | false| development mode, enforces the **

[2018-02-13 23:35] use-r opened #635 "Deprecation warnings."
I'm getting around 70 deprecation warnings.. Please help.

I tried various methods on the internet to supress the warning but still they are coming.

[code]

[2018-02-14 00:59] fivetwentyseven opened #637 "web3.py reconverting data field to hex data"
web3 is reconverting data field to hex data type. I don't know how to give the raw data to it.

[code]

[2018-02-14 02:49] pipermerriam commented on #635
The github issue should have pre-populated with a list of things that are needed to help you with your problem.  Can you please provide the version of `web3.py` that you are using, the version of python that you are using, and the output of `pip freeze` to show what version of `eth-utils` is installed.

I suspect running `pip install -U --pre eth-utils --no-deps` will fix *most* of these errors.

[2018-02-14 03:40] nueverest commented on #531
I needed to do this.

`sudo apt-get install python3.6-dev`

[2018-02-14 03:51] nueverest opened #638 "Accessing Token Contract properties"
* Version: 3.16.5
* Python: 3.6
* OS: ubuntu

### What was wrong?

First off I'm a noob.

I want to monitor the `totalSupply` of an ERC20 Token.  However, when I print `totalSupply` I see an object.

Code Snippet
[code]

Actual Output
[code]

Desired Ouptut
[code]

### How can it be fixed?

How can I print the totalSupply property as a human friendly integer?

[2018-02-14 04:06] nueverest commented on #550
I used an abi in array form **not** string form and it worked.  You need to capitalize `true` and `false` if you do this.  I'm impressed.

[code]

[2018-02-14 05:59] lmantesbtm commented on #635
I tried reinstalling `eth-utils` but it still gives me the deprecation warnings but
`pip install -U --pre eth-utils --no-deps` fixes the problem for me. Thanks.

[2018-02-14 13:14] lazaridiscom commented on #531
I can confirm that installation on WLS (Windows Linux Subsystem) went fine ( #632 ).

[2018-02-14 14:19] use-r commented on #635
thanks. It worked.

[2018-02-14 14:19] #635 closed

[2018-02-14 14:43] lazaridiscom opened #639 "[TEST] Provide Chain Compatibility Test Cases and Skeletons"
Affects #549, and web3.py in general

### What is wrong?

Issue #549 asks the author of the solution to provide the test-cases:

The issue is:

* a) Those test-cases should be available already
* b) Test-code should be ideally not written by the person which wrote the code it tests

### How can it be fixed?

Can someone who is familiar with the test-system provide the relevant tests, ideally withi

[2018-02-14 15:11] use-r opened #640 "How to calculate the max amount of data that can fit in a transaction"
Offtopic : Please someone tell me how to calculate the max amount of data that can fit in a transaction.

Thank you.

[2018-02-14 15:20] lazaridiscom commented on #640
@use-r , please try this resource here (i've copied your question there) :

https://gitter.im/ethereum/web3.py?at=5a845338f283b8e5465f3b95

[2018-02-14 17:18] pipermerriam commented on #640
@use-r this type of question is out of scope for the type of support we can lend for this library.  I would suggest digging into the ethereum yellow paper if you want to understand protocol rules.

[2018-02-14 17:18] #640 closed

[2018-02-14 17:56] pipermerriam commented on #638
you just need to call `contract_concise.totalSupply()`

[2018-02-14 17:56] #638 closed

[2018-02-14 18:26] pipermerriam commented on #637
@use-r next time you fill out an issue will you please use the provided template (which should pre-populate the form).  What you've provided doesn't give us much to go on.  I don't know what the `Transaction` object in your example is from, and I don't know what error you're getting.

[2018-02-14 18:28] pipermerriam commented on #531
Closing as this seems resolved.  Comment if that's not the case.

[2018-02-14 18:28] #531 closed

[2018-02-14 22:59] vs77bb commented on #614
@scottydelta Great work. Payment should have made it your way! cc @pipermerriam @owocki

[2018-02-14 23:14] vs77bb commented on #577
Hi @zheli @carver how is this one going? CC @owocki

[2018-02-14 23:17] vs77bb commented on #492
Hi @monokh how are things going here? cc @owocki

[2018-02-15 00:59] kivo360 commented on #161
I'm getting the same error. The main problems is that I see the abi of the contract, yet I can't access the method.

[2018-02-15 03:46] monokh commented on #492
Hi @vs77bb, sorry if it wasn't clear. The PR https://github.com/ethereum/web3.py/pull/586 is waiting on https://github.com/ethereum/eth-tester/pull/60 to be merged. Should be good after that - we are very close 🙂

[2018-02-15 07:06] zheli commented on #577
@vs77bb it will be merged soon.

[2018-02-15 11:08] EralpB opened #642 "Event Documentation"
* Version: 4.0.0
* Python: 3.6
* OS: osx

### What was wrong?

I can't seem to understand how to get events generated by a contract, I'm using ganache on auto-mine setting.

[code]
I am waiting inbetween commands on shell.

https://github.com/truffle-box/metacoin-box/blob/master/contracts/MetaCoin.sol
My contract code is the default truffle MetaCoin contract code, and I can verify this transaction

[2018-02-15 17:45] nueverest commented on #626
I had a similar issue with importing `from eth_account import Account`.

[code]

Based on your suggestions, I did the following:

[code]

For some reason I had to uninstall py-solc otherwise it kept reinstalling web3 v3.16.5.  Not sure why.
I did not re-install py-solc because I do not currently need it.

[2018-02-15 17:59] nueverest commented on #557
Thanks I had the problem after upgrading from 3.16.5 to 4.0.0.beta.  Strange that the argument order would change between versions for no clear reason.

[2018-02-15 18:47] lazaridiscom commented on #549
As `geth` takes forever to synch (despite --fast etc.), I went on to use infura. All fine, easy & nice stuff.

I'm using MetaMask, have an account and ETH on Rinkeby.

Now I sit here an look confused and have no idea (after trying some docs) how to bring my MM account into the code (`w3.eth.accounts[0]`) of http://web3py.readthedocs.io/en/latest/quickstart.html#simple-contract-example.

Now, its p

[2018-02-15 18:54] lazaridiscom opened #643 "Update Documentation 4.x.x re w3.eth.contract"
## Problem

see #557

## Fix

http://web3py.readthedocs.io/en/latest/quickstart.html#simple-contract-example

change

[code]

to

[code]

[2018-02-15 18:55] pipermerriam commented on #642
You may need to change the hex encoded value to it's bytes representation.  We are actively working on better documentation.  See #631

[2018-02-15 19:27] EralpB commented on #642
Thank you for your reply, I appreciate the work about representations but I'm getting an empty list, so there is nothing to convert :) You can just check my first code example.
@pipermerriam

[2018-02-15 19:33] ChrisRut opened #644 "ModuleNotFoundError: No module named 'web3.gas_strategies'"
* Version: 4.0.0b9
* Python: 3.6
* OS: Linux & OSX

### What was wrong?

Attempting to import `web3.gas_strategies` [per the documentation](http://web3py.readthedocs.io/en/latest/gas_price.html#module-web3.gas_strategies.rpc), fails with the following on Linux:
[code]

And on OSX:
[code]

### How can it be fixed?

I noticed https://github.com/ethereum/web3.py/tree/master/web3/gas_strategies is mis

[2018-02-15 22:22] dylanjw commented on #549
You can avoid the long sync time by running a local geth node with the —dev option.  I think that would be the easiest way to set up a test.

[2018-02-15 22:33] dylanjw commented on #549
From what I understand of the original issue,  starting a geth client in dev mode and running through the QuickStart section of the web3 readme, except connected to the geth client instead of the tester provider, should be enough to trigger the issue.

[2018-02-15 22:39] lazaridiscom commented on #549
That would be great! (Closest I got was this here: #516. But it brought other problems up).

[2018-02-15 23:20] lazaridiscom commented on #549
@dylanjw , guess what?

[code]

I now understand why people want this functionality.

`geth --dev` makes it really easy.

[2018-02-16 00:53] nueverest opened #646 "Consider adding Chain Id to library"
* Version: 4.0.0-b
* Python: 3.6.3
* OS: linux

### What was wrong?

No clear way to access known chain ids.

### How can it be fixed?

Proposed syntax

[code]

I ran into issues here: https://web3py.readthedocs.io/en/latest/web3.eth.account.html#sign-a-contract-transaction as `buildTransaction()` requires a `chainId`.  I didn't even know the chains had ids.

[code]

### Maybe this will help other

[2018-02-16 02:11] carver commented on #549
Oh I ended up with this middleware because I needed it for the external vs public logging issue. Will post soon

[2018-02-16 02:50] lazaridiscom commented on #549
@carver , that piece of code would help me much. I'm currently again in-code (reading, not writing), in middleware folder, and will be for another 3 to 6 hours. The author has thankfully a clean writing style (code & overall structure). A bit under-documented though.

In any way, I have the feeling that using the middleware approach is kind of a workaround. Clean, production-grade, but still a wor

[2018-02-16 04:09] lazaridiscom opened #647 "[RFC] Separate Protocol (Specs) Enforcement from Formatting"
affects #549

### What is wrong?

After reviewing some code within `middleware`, it looks like there is currently no dedicated protocol-enforcement available, most possibly because there was till now only one protocol (specs, yellow-paper) to support.

I have the (gut) feeling that a protocol-verifying code should reside within a separate middleware (like `specs`). The counter-argument is possibly

[2018-02-16 05:03] carver commented on #632
I strongly disagree that the setup instructions should leave out the virtualenv step. It causes many problems when people have conflicting/broken python environments. A fresh venv regularly solves the problem. I don't know anything about Linux Subsystem for Windows -- maybe it breaks virtualenv. Maybe we could put a warning in the docs if you're on LSfW that we have a report of venv not being supp

[2018-02-16 05:26] carver commented on #549
First step of two steps is posted: https://github.com/ethereum/web3.py/pull/648

[2018-02-16 05:34] lazaridiscom commented on #549
@carver , me a bit confused now. What is the 2nd step? Middleware-add logic, or something like this https://github.com/ethereum/web3.py/issues/549#issuecomment-359707879 place into middleware-code?

[2018-02-16 05:41] lazaridiscom commented on #632
I mentioned it wrong: its WSL (Windows Subsystem for Linux). You can install easily e.g. an ubuntu bash shell which acts like a linux machine.

Venv solves problems, introduces others (I have it active now on my side, skcottydeltas suggested method)- anyways, the core thing here was that the instructions did not work on a fresh machine, for some reason. Should be possibly verified sometimes.

[2018-02-16 05:53] carver commented on #549
Second step is to add an optional middleware for geth-dev compatibility. I'll post it and link here after #648 closes.

[2018-02-16 06:00] lazaridiscom commented on #549
Just to be sure i get it: so it would actually work, just a bit inconvenient ("There was no convenient way to do that." - means: the necessity to add it manually) ?

[2018-02-16 16:47] lazaridiscom commented on #647
## Update & Possible Final Solution

An alternative is to keep formatting-prework and compliancy-check as-is in one file (pythonic), but to **change the naming** here:

- `pythonic` is essentially `specs_pow` (or similar, like `data_pow` or `block_pow`)

Once renamed, see how the code in `manager.py` looks (positive trait: a reviewer can actually spot the specs in the code)

[code]
the elegant sol

[2018-02-16 19:49] carver commented on #647
If there is an EIP defining the specification for POA, can you link to it? I haven't seen one, but I haven't read every single one.

[2018-02-16 19:50] carver commented on #646
Yeah, looks like this just needs documentation (and maybe renaming, because it's not intuitive to me):
`w3.version.network` will give you the chain ID.

[2018-02-16 19:51] #644 closed

[2018-02-16 20:03] lazaridiscom commented on #647
The closest I found was this one mentioned above( https://github.com/ethereum/EIPs/issues/225 ), but Ii did not look further, neither read the comments, nor asked. Will possibly take a closer look this night.

[2018-02-16 22:36] lazaridiscom commented on #632
its always fun seeing virtualenv ignoring everything I installed a day before...

[2018-02-16 23:01] lazaridiscom commented on #647
.

[2018-02-17 01:33] carver commented on #647
Thanks for digging this up. It looks to be in very early stages, with only the one geth implementation, and no formal EIP proposal. With that context, I think we should:

1. Follow that EIP and help make sure that it plays nicely with clients like web3.py (I posted one related comment, since chainID is probably not a good way to identify whether the chain is PoA)
2. Add an optional middleware, for

[2018-02-17 01:48] lazaridiscom commented on #549
Started with trials to implement the solution mentioned in: #647, using quick&dirty "HexBytes" directly (as mentioned somewhere in this thread).

[code]

the error accessing the `geth --dev` chain disappears, and:

[code]

So all this will can work fine, its open to solve this in any way.

[2018-02-17 02:04] lazaridiscom commented on #647
I understand

*  that geth is the most used reference-implementation.
* this eip draft is used on the live testnet

As for your points:

1) As i understood: chainID exists to distinguish between hard-forks which share a networkID, and its not a big problem to support only the main PoAs (and possibly there is a dedicated mechanism to detect them). For now, the public test-net and the 'geth --dev' n

[2018-02-17 02:26] carver commented on #642
You'll find that this same thing happens in web3.js. (that only the event in the last block is returned)

It's because the default `fromBlock` value in a filter, if you do not specify one, is "latest": https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_newfilter

So if you want to see all events in history, you need to specify a `fromBlock` of 0.

Adding this clarification during #631 seems totall

[2018-02-17 02:37] carver commented on #639
This is not how we work in this repository. The default is to include tests with all code we write. https://github.com/pipermerriam/ethereum-dev-tactical-manual#testing

Tests will be included when the code for #549 is posted. Closing this as a duplicate.

[2018-02-17 02:37] #639 closed

[2018-02-17 02:40] lazaridiscom commented on #647
You understand that (despite me having taken another path) I can use this code for my task? Is there any way for me to get this before you merge?

[2018-02-17 02:49] carver commented on #634
I don't understand what you're proposing. where would you pass in this config option?

[2018-02-17 02:54] carver commented on #647
Ignoring the tests, the gist is to add this file: `web3/middleware/geth_dev.py`

[code]

Then you can set up web3 with something like:

[code]

[2018-02-17 04:12] lazaridiscom commented on #647
Looks simple enough. I'll try to find a way to integrate this in a more convenient way, as I sense that you are reluctant to take the other path (which I still favor 100%, but... you're the decision taker here).

[2018-02-17 04:26] lazaridiscom commented on #634
This is not how to pass them. Its just about to clarify/specify which options to have and what they do (passing e.g.: instantiation, config-files, etc. - but not the topic here). Removing the `--` to not imply command-line.

[2018-02-17 05:39] lazaridiscom commented on #634
Closing, not needed for simple workaround implementation.

[2018-02-17 05:39] #634 closed

[2018-02-17 05:40] lazaridiscom commented on #632
Closing, its just the usual "venv" hickups.

[2018-02-17 05:40] #632 closed

[2018-02-17 07:42] lazaridiscom commented on #647
See https://github.com/lazaridiscom/web3.py/commit/9d1315e0ac490bd4a3906a12713c4eb7cd4fb04c for a very simple implementation, without the need of .insert.

Followup: #549

[2018-02-17 07:42] #647 closed

[2018-02-17 15:49] iho opened #650 "Contract method invoking"
Hi
I want to send ERC20 tokens in test network using private key. Can you say what wrong with my code?
[code]

[2018-02-17 18:09] lazaridiscom commented on #549
I have a final implementation ready (based on the MW mentioned above), and it can be quite convenient. The overall code-changes are minimal, and do not depend on the newly provided "middleware.insert" function.

Expect it within the next 24h as a PR. Please just see to it that the test-system is updated, see #639

[2018-02-17 18:22] lazaridiscom commented on #639
I've seen this. The thing is that  writing test can be a task in itself, if the test-system needs to be extended.

This was the main point. I understand that you'll provide them together with the code you announced.

A few notes:

* The test-subsystem does currently not support geth 1.8
* Ideally, a TestProvider simulating alternative specs is made available (and documented)

[2018-02-17 20:59] smartDev22 opened #651 "sendRowTransactions (invalid argument 0: json: cannot unmarshal hex string without 0x prefix)"
* Version: 3.16.4
* Python: 3.5
* OS: win

Good evening, tell me how to send a transaction by signing it locally

I do this:
`import json
import time
from eth_account import Account
from web3 import Web3, HTTPProvider, IPCProvider, eth
w3 = Web3(HTTPProvider('https://rinkeby.infura.io/EAGgjypt3XXLDYWK9B4W'))

to_addr = 0xbd0fc0e8245D099b751CF6437cc32385347F2251
from_addr = 0x00E49ef94dc7e798f4332e

[2018-02-17 22:05] rtroncosogar commented on #650
The next time, DON'T post your private key :)

[2018-02-17 23:37] carver commented on #577
Merged, and approved for bounty payout. Thanks @zheli !

[2018-02-17 23:37] #577 closed

[2018-02-17 23:46] carver commented on #650
I'm not familiar with how pyethereum does signing, you'd have to ask there for help. If you want to use web3.py for signing, install v4 with `pip install --pre web3` and follow these docs: http://web3py.readthedocs.io/en/latest/web3.eth.account.html

Feel free to reopen if you get stuck on using w3.eth.account.

[2018-02-17 23:46] #650 closed

[2018-02-18 02:12] scottydelta commented on #646
Just changing `network` in `web3.version` to `chainId` will be enough? Would it make sense to return name based on the chain ID aswell?

[2018-02-18 03:12] lazaridiscom commented on #549
@pipermerriam , #652 contains the result (and a super-cute animal pic...)

I've at this point the domain-knowledge active (made a quite broad teach-in), so if you want a more elegant and researched solution, then you should think about implementing #647, at least partially. I'm personally more about OOAD, but I like this middleware concept, it has some benefits. So I could produce something based

[2018-02-18 03:41] lazaridiscom commented on #557
@nueverest , its a major (X.0.0) upgrade, which allows api breaks. Reason: it seems to me that the most important parameter was made the 1st one.

[2018-02-18 03:57] lazaridiscom commented on #549
(please note that gitcon.co resetted the issue after I my "Send Work" via MetaMast. possibly a bug)

[2018-02-18 04:02] dylanjw commented on #557
Can you post the code that is giving you an error?  Most likely you are trying to call the class function from the class instead of an instance of the class.  The first parameter miss nag would be "self", where in a class instance that is already supplied.

Sent from ProtonMail Mobile

On Sat, Feb 17, 2018 at 7:41 PM, Lazaridis <notifications@github.com> wrote:

[2018-02-18 04:07] lazaridiscom commented on #557
@dylanjw , as I understand all is fine here. I replied just to @nueverest who made a "curiosity comment".

[2018-02-18 04:25] dylanjw commented on #557
Sorry,  I resdponded via email and didn’t see the full context.

[2018-02-18 04:41] lazaridiscom commented on #557
Np. I saw "Sent from ProtonMail Mobile" - yeah, protonMail has Mobile. And I just looked up: they got pop3 support. So its possibly time for me to join them.

[2018-02-18 11:20] scottydelta commented on #574
@Carver, I would like to work on this if you can provide some direction. thanks

[2018-02-18 17:24] aljosa opened #654 "Autocomplete doesn't work, exploring in shell is hard"
* Version: 4.0.0b9
* Python: 3.6
* OS: osx

### What was wrong?

Autocomplete is useless in python shell (ipython, ipdb, dir(), etc.).
I expected that I'll get autocompletion when I, for example, type `contract_instance.[TAB]`.

[code]

I expected that triggering `contract_instance.` would suggest `contract_instance.myMethod()`.
Contract is just an example, I've noticed that most of the code w/ me

[2018-02-18 17:55] carver commented on #551
It's worth taking a look at the issues that this project has with filters in v3, and making sure that this is compatible. https://github.com/makerdao/pymaker/blob/7f2047b87d6982ce3cfadae07b8fad0026896202/pymaker/lifecycle.py

I *think* this proposal does a great job of addressing them all, but a thorough look before implementing this approach would be wise.

[2018-02-18 23:53] carver commented on #646
The unintuitive part to me is the module name `version`. Unfortunately chain id and network id seem to be used interchangeably in a lot of places, so someone will be confused no matter which we pick. Maybe we should even just have both names.

[2018-02-19 00:04] carver commented on #574
@scottydelta sure, let's use that first API. So add `waitForTransactionReceipt` to eth.py which calls through to the `wait_for_transaction_receipt`  method using the web3 attribute in the eth module.

Docs go in the docs folder, and a test to make sure that the method doesn't return until the transaction is mined.

Posting the pull request as a work in progress early on is a good way to make sure

[2018-02-19 01:42] scottydelta commented on #646
can we rename

[2018-02-19 05:54] pipermerriam commented on #574
@carver this is somewhat orthogonal but...

What do you think about introducing a `web3.eth.async` module with a coroutine version of this as well?  It'd be nice to start supporting native `asyncio`.  We might need to go as far as implementing new providers as well with coroutine versions of `Provider.make_request` and the corresponding `Manager` methods.  This would also open the door for a `Filt

[2018-02-19 16:17] mathiasestolarz opened #655 "getTransactionReceipt propagates error from Geth v1.8.0 when there's no receipt yet"
* Version: 4.0.0b7
* Python: 3.5.2
* OS: Ubuntu 16.04

### What was wrong?

I am calling web3.eth.getTransactionReceipt of a hash that doesn't have a receipt yet and as a result it propagates the error from Geth instead of returning None.
I am connected to a private node with Geth v1.8.0.

This is what I get:

[code]

[2018-02-19 16:35] pipermerriam commented on #655
@carver we should look into building a lookup table for exceptions that looks something like `
web3_clientVersion -> error_code -> ExceptionClass` so that we can raise more appropriate exception types for known errors.

[2018-02-19 17:52] carver commented on #574
Or maybe web3.async.* that replicates the whole web3 namespace? Seems reasonable, but probably after getting v4 stable.

[2018-02-19 17:55] carver commented on #646
The thing most consistent with https://github.com/ethereum/wiki/wiki/JSON-RPC would be to call it `net`.

[2018-02-19 17:58] carver commented on #655
Sounds like a good candidate for a new default middleware. :+1:

[2018-02-19 19:24] pipermerriam commented on #655
Looks like error codes are not incredibly granular but still of some use: https://github.com/ethereum/go-ethereum/blob/922c1f8f9f7763948da6ed755abd6e1fcaca2cac/rpc/errors.go

[2018-02-19 19:27] pipermerriam commented on #574
cc @NIC619 as I think this would be beneficial for the VMC at some point.  Just want to put this in your awareness.

[2018-02-19 19:44] pipermerriam commented on #549
@lazaridiscom I'm going to leave this to @carver , he'll be your contact going forward on this issue as I'm too bogged down with other responsibilities.

[2018-02-19 19:50] pipermerriam commented on #654
I've had this same annoyance.

[2018-02-19 19:52] lazaridiscom commented on #549
@pipermerriam , fine to me. Just its you listed on gitcoin, and there are some technical problems with the system.

[2018-02-19 20:31] nueverest commented on #593
Where can I find genesis.json?

[2018-02-19 21:33] nueverest commented on #646
The terms network and chain could be combined: **networkchain** or **networkchainid**

If `net` is used does that imply that `chainId` inside of the transaction dict will change to `net` for consistency?

[code]

[2018-02-19 21:56] nueverest commented on #557
**Code that failed after upgrading:**
[code]

**Fixed code:**
[code]

[2018-02-20 01:24] carver commented on #646
Ah, to clarify: because `net` is the prefix of the json-rpc call `net_version`, the most consistent with that spec would be: `w3.net.version` (and if we wanted to alias it, something like: `w3.net.id` or `w3.net.chainId`)

[2018-02-20 01:30] carver opened #657 "Implement async versions of long-running methods"
* Version: 4.1

### What was wrong?

Some async callers want `asyncio` versions of methods available.

### Initial discussion on #574

### How it can be implemented.

TODO

[2018-02-20 01:31] carver commented on #574
@NIC619 moving async discussion to a new #657 so @scottydelta and I can focus on `waitForTransactionReceipt` here.

[2018-02-20 02:38] ynouri commented on #613
Hi @palango ,
I've not been able to reproduce your issue with the following versions of web3, eth-tester and pyevm:
[code]
When executing your script, it looks like the transactions go through:
[code]
(Note: there is a bunch of `DeprecationWarning` thrown by eth-utils but those are not related and seem to be fixed with eth-utils release v1.0.0-beta.1)

Are you using the same version of eth-tester

[2018-02-20 02:57] carver opened #658 "Middleware order is inconsistent"
* Version: 4

### What was wrong?

The order of the middleware as passed in to Web3, and treated as part of `add` or `insert`, and returned from `list(w3.middleware_stack)` is inconsistent:

1. in `add` (really, `append`), and `insert()`, the beginning is the bottom of the stack, and the end is the top of the stack
2. in `Web3(..., middlewares=[...])` and `list(w3.middleware_stack)`, the beginning

[2018-02-20 02:58] pipermerriam commented on #657
Things that stand out as *must* be coroutine API are:

- All module methods (eg: `web3.eth.getBalance`.
- Underlying `Manager` methods.  eg: `Manager.request_blocking` (this should maybe be renamed to just `make_rpc_request` or something similar).
- `Provider.make_request`
- middlewares

We'll need to deal with computed properties as well, or potentially not support them in the async portion of th

[2018-02-20 03:01] pipermerriam commented on #658
Do I understand this correctly

[code]

[2018-02-20 03:05] carver commented on #658
Right, that's the "top of the stack at the front of the list" one.  I'm proposing the reverse.

[2018-02-20 03:06] pipermerriam commented on #658
I'm still confused.  Is my first example or my second example your preferred ordering?

[2018-02-20 03:34] carver commented on #658
worked it out on chat. New proposal:

- Switch name from `insert` -> `inject` to avoid any confusion with the list API
- Switch to `inject(middleware, name=, layer=)`, where 0 is the inner-most layer
- Leave the ordering as-is on `Web3(middlewares)` and `list(w3.middleware_stack)`
- Remove all references to first/last/top/bottom/left/right in middleware docs. Always use outer or inner

[2018-02-20 07:00] lazaridiscom commented on #658
@carver , @pipermerriam - some remarks:

`inject` is widely used in context of `dependency injection`, and could confuse/mislead

`place` could be possibly used

`layer` is used in context of `application layer`, thus it could be confusing, too

so lets try with `place`

[code]

I would want to have the optional parameter `relative_to`, to be able to place a MW e.g. like this:

[code]

but this wo

[2018-02-20 07:17] mhchia commented on #574
This is pretty helpful! Thanks for the work

[2018-02-20 11:48] palango commented on #613
@ynouri
my version are the following:
[code]

[2018-02-20 15:16] nueverest commented on #646
I like `w3.net.chainId`.

[2018-02-21 03:55] fubuloubu opened #660 "Web3.py v4.0.0b9: Python 3.6.4 fresh install error"
# Setup
* Version: 4.0.0b9
* Python: 3.6.4
* OS: linux
* stacktrace:
[code]

### What was wrong?
Installed the beta from scratch, looks like `eth-utils 1.0.0b1` no longer implements `pad_left`, `pad_right`?

### How can it be fixed?
Not sure, something is off with `eth-abi`, `eth-utils`

[2018-02-21 04:01] fubuloubu commented on #660
Looks like this captures the problem: https://github.com/ethereum/eth-abi/pull/28

[2018-02-21 04:05] carver commented on #660
It's the eth-utils beta 2 that dropped `pad_*`. So as a temporary workaround, you can force eth-utils to beta 1. We'll get all the eth-* libraries that use `pad_*` cleaned up soon (certainly by tomorrow).

[2018-02-21 04:07] fubuloubu commented on #660
confirmed this solves the problem:
[code]

[2018-02-21 05:11] ynouri commented on #613
Hi @palango ,
Can't reproduce either. Would you mind providing the full script you're running? Or are you able to reproduce with only the code you provided above?
Thanks

[2018-02-21 09:20] palango commented on #613
@ynouri You're right, I just removed stuff that I didn't deem important.

The example above runs fine for me as well. The following code crashes. The problem seems to be in the `disable_auto_mine_transactions` function.
[code]

[2018-02-21 16:13] phahulin commented on #660
Doesn't work for me, I have `python3` and `pip3` though

[2018-02-21 18:09] fubuloubu commented on #660
My `pip` and `python` are `pip3` and `python3`. I use `pyenv` to manage python virtualenvs

[2018-02-21 20:11] carver commented on #429
Released in beta 9: http://web3py.readthedocs.io/en/latest/releases.html#v4-0-0-beta-9

[2018-02-21 20:11] #429 closed

[2018-02-21 20:17] bweick opened #661 "Call contracts method throwing gas limit error on unit tests"
* Version: 4.0.0-b5
* Python: 3.5
* OS: linux

### What was wrong?
I'm trying to create tests so that the `call` method can query past states. However all most tests within the `test_contract_call_interface.py` file are failing with the below error. I've tried reverting to previous versions of eth-tester that it was working with previously but that doesn't solve the problem. Wondering if anyone el

[2018-02-22 01:40] lazaridiscom commented on #549
@pipermerriam , it looks that Gitcoin has fixed it:

https://gitcoin.co/legacy/funding/details?url=https://github.com/ethereum/web3.py/issues/549

the relevant bug-report is here:

https://github.com/gitcoinco/web/issues/462#issuecomment-367439619

[2018-02-22 04:29] owocki commented on #549
👋 hi folks... i believe we fixed the issue on our side. thanks for your patience

[2018-02-22 07:07] carver commented on #660
Beta 10 was just released. It works for me in a fresh venv, with no caching. Closing as fixed, but please comment/reopen if you are still experiencing issues.

[2018-02-22 07:07] #660 closed

[2018-02-22 09:41] scottydelta commented on #574
@carver, if we follow this approach then we will be making unnecessary loop.

1. User calls `web3.eth.waitForTransactionReceipt`
2. `web3.eth.waitForTransactionReceipt` calls `web3.utils.transactions.wait_for_transaction_receipt`
3. `web3.utils.transactions.wait_for_transaction_receipt` calls `web3.eth.getTransactionReceipt`

so wont it be easier if `web3.eth.waitForTransactionReceipt` just calls

[2018-02-22 11:35] DrMartiner opened #665 "Sending TX to the test net"
* Version: 3.16.5
* Python: 3.5
* OS: osx

### Tx was not send to the test net

I **try to send a TX** to test net, but my **balance was not changed** and I **can't find the TX** at [ropsten.etherscan.io](https://ropsten.etherscan.io). Please tell me where I was wrong? I'm  code from the docs.

[code]

[2018-02-22 16:47] fubuloubu commented on #660
Confirmed Beta 10 fixes

[2018-02-22 20:43] carver opened #666 "Constructor Functions"
Continuation of #577

Add constructor method to replace and expand on the current `contract.deploy()` capability. Proposed API:

- `contract.constructor(*args, **kwargs).estimateGas()`
- `contract.constructor(*args, **kwargs).transact()`
- `contract.constructor(*args, **kwargs).buildTransaction()`

[2018-02-22 20:46] carver commented on #666
@dangell7 started in on this with #595 -- are you interested in continuing the work? You should be unblocked now that the `chainID` issue is fixed. I think we can get another bounty on just this piece, since the fallback work in #577 was more than expected.

[2018-02-22 21:08] carver commented on #658
`place` has the issue of being both a noun and a verb. That is something I've been avoiding when possible.

Since we don't use dependency injection by name anywhere, I don't expect `inject` to cause much confusion in this context. (The backend pattern is similar, but has no naming conflict).

The problem with using relative-to and early/late is that the before & after semantics switch on the way i

[2018-02-22 21:59] pipermerriam commented on #666
confirmed that I'll bounty this issue with an equivalent ETH amount as the previous one.

[2018-02-22 22:44] carver opened #667 "Remove all beta dependencies (except eth-account)"
* Version: 4

### What was wrong?

In order to mark v4 stable, it needs to not depend on any beta packages. `eth-account` is the exception, awaiting security audit. In order to signal that to users, we will probably make them jump through a hoop to acknowledge the lack of audit.

### How can it be fixed?

Stabilize and release versions of all unstable dependencies, starting with the leaves in the

[2018-02-23 00:17] lazaridiscom commented on #658
@carver, One final 'pass':

You're totally right with `place`.

I forgot to mention that sentences and visualization help:

* We are on the ground, at **bottom**.
* We have this middleware stack which grows to the **top**
* We can **add** middleware to the stack
* We can **add** middleware to the stack **relative_to** other middleware

Alternative (Onion):

* We are in the **inner**, in the  **cen

[2018-02-23 00:27] lazaridiscom commented on #549
@pipermerriam , @carver - I understand that you're busy with beta, but time passes. Can you please go on with "Accept Submission"? This is additionally important thus the gitcoin bug can be verified as "solved".

[2018-02-23 00:54] #658 closed

[2018-02-23 01:02] carver commented on #658
Great, I'd love feedback on the docs describing the new API: http://web3py.readthedocs.io/en/latest/middleware.html#middleware-order

[2018-02-23 01:25] lazaridiscom commented on #658
### Onion

Not sure: web3.py should possibly be "the center" of the onion. But this can be verified with a bit lookup.

Naming should be overall. If you decide to go away from stack, then this would mean to change 'Web3.middleware_stack' to 'Web3.middleware_layer` (or even "onion", not sure about the standard-term). Anoterh possible alternative: a neutral `web3.middeware`

### Stack

docs still me

[2018-02-23 02:15] carver commented on #658
This doesn't feel right. Going out from the center and then looping around on the outside is much more complex than: going through the center of a sphere and back out, all in a straight line.

Right, but all of the text descriptions were moved from stack to "onion" layer. The only thing that remains is the legacy API.

Yeah, the thought occurred to me. I'd like to make as few new breaking changes

[2018-02-23 02:19] carver commented on #574
Only that we try to avoid keep the logic at the "edges" where the public API is, so keeping it in private utility modules and referencing it is more consistent with our style. I don't see this as being a significant performance hit, relative to the other things happening in the flow.

[2018-02-23 02:28] lazaridiscom commented on #658
of course, I forgot this.

Not much time.

The thing: The documentation, as is, confuses me.

* Having "stack" and "onion" is mentally incompatible somehow.
* The "inner/outer" I can mentally apply to "stack" as well.
* I guess the onion-graphic/talk must go (at least for now).  and inner/outer could stay.
* Possibly the overall "onion redesign" should go to v5.

But will be more clear in around 2

[2018-02-23 03:23] carver commented on #549
@lazaridiscom I'm having trouble tracking down: which PR did you submit for this bounty?

[2018-02-23 03:26] scottydelta commented on #574
ok cool, I will add it in the way you suggested, thanks.

[2018-02-23 03:34] lazaridiscom commented on #549
#652 is the PR (mentioned in: https://github.com/ethereum/web3.py/issues/549#issuecomment-366489239)

Results Chain: lazaridiscom/web3.py#1, #632, #634, #647, #639 => #652

The most important result though is #647 (but I adopted the implementation/PR to your preferred solution. seeing the beta timeline I understand now)

[2018-02-23 04:33] carver commented on #665
`EthereumTesterProvider()` is meant to be used for local testing without connecting to any network.

Try connecting your node (geth/parity/whatever) to the testnet, then connect to the node using the IPCProvider: http://web3py.readthedocs.io/en/stable/providers.html#ipcprovider

In general, ethereum.stackexchange.com is a better forum for "how do I do X?" questions.

[2018-02-23 04:33] #665 closed

[2018-02-23 18:58] carver opened #671 "Test newBlockFilter in Parity 1.10"
Pending the release of Parity 1.10...

### What was wrong?

Parity 1.10 is scheduled to fix the bug mentioned in #381 (new block filter returns the current latest block).

### How can it be fixed?

Add a Parity 1.10 integration tests, and remove the `xfail` in `test_eth_newBlockFilter`.

[2018-02-23 20:13] lpassos commented on #602
So, what can I conclude from this conversation? By the way, is there any way I can help?

[2018-02-23 20:48] pipermerriam commented on #602
@lpassos it is a bug in solidity: https://github.com/ethereum/solidity/issues/3493

[2018-02-23 20:48] #602 closed

[2018-02-23 22:23] #646 closed

[2018-02-23 22:30] carver commented on #666
How about you @zheli - are you interested and available to work on this? (given that an equivalent bounty is coming soon)

[2018-02-23 22:39] carver commented on #166
It doesn't look plausible to run the test suite on windows anytime soon. Removing from the v4 stable milestone.

[2018-02-23 22:43] #643 closed

[2018-02-23 23:17] #492 closed

[2018-02-24 01:57] lazaridiscom commented on #658
@carver

* The onion diagramm confuses (the request should return up to web3.py, not go through downwards to a 2nd web3.py).

But most importantly:

the onion diagram breaks my mental model of a stack that I've since years, and thus when I read "stack" in code, I always apply this mental model.

Then:

http://web3py.readthedocs.io/en/latest/internals.html#request-lifecycle

Shows a stack, but disc

[2018-02-24 05:26] pipermerriam commented on #658
@lazaridiscom it's worth taking into consideration that the middleware API is *low level*.  Most users will either never need to touch it, or they will pile on some extra convenience middlewares with no consideration to ordering.

Not saying any of your confusion is invalid, just that it's a complex mechanism and some confusion isn't surprising as we work on the API and terminology.

[2018-02-24 05:54] lazaridiscom commented on #658
@pipermerriam Yes, of course. But those who need to use it (or worser: need to dive into code-internals), will need clean docs.

Please realize that for me personally, the concepts are crystal-clear (middleware, micro-services, plug-ins etc., stack/onion, queues etc.), they are peanuts.

What is confusing to me is the documentation, intermixing onion/stack.

See, this here is very nice: http://web

[2018-02-24 08:28] zheli commented on #666
I would be happy to work on this issue :)

[2018-02-25 09:15] palango commented on #613
Thanks for investigating @ynouri

It works now. Originally I wanted to find out if the nonces are increased automatically if I schedule multiple transactions. I guess I can look deeper into that now.

[2018-02-25 09:15] #613 closed

[2018-02-26 14:57] jordanjambazov opened #674 "Events filtering not working with EIP checksum addresses (Ganache-CLI)"
* Version: 4.0.0b10 - 4.1.0
* Python: 3.5
* OS: linux

### What was wrong?

Maybe the issue is not exactly web3.py related, but when using EIP-55 checksum addresses event filtering is not working. My guess is that the reason is that Ganache-CLI is not producing proper addresses.

_Event Filter done as follows:_

[code]
_Checking for events_
[code]

_Not Working:_

[code]

_Working (with monkey pat

[2018-02-26 18:41] pipermerriam commented on #674
Can you expand on what *"Not Working:"* means.  It's not clear to me what is actually broken/failing here.

[2018-02-27 02:27] grrttedwards commented on #654
I'd like to contribute, could you elaborate on this issue?

Would a decorator like the final section of [this Stackoverflow post](https://stackoverflow.com/questions/44834/can-someone-explain-all-in-python/35710527#35710527) be suitable?

[2018-02-27 15:25] pipermerriam commented on #654
Alright, this is an issue specifically with `ConciseContract`.

I see two routes

- Implement a `__dir__` method which returns a tuple of all of the contract function names.
- Change the `__init__` of concise contract to actually populate self with all of the contract functions using the same logic currently present in the `__getattr__`.

The `__dir__` approach seems like the lowest touch, but I t

[2018-02-27 15:39] pipermerriam opened #675 "ConciseContract cleanup"
### What was wrong?

The `web3.contract.ConciseContract` has some cleanup that could be done to improve the class in small ways.

### How can it be fixed?

1. Update the documentation to make it very clear that `ConciseContract` **only** exposes contract functions and that **all** other `Contract` class methods and properties are not available with the `ConciseContract` API.  This includes `c.addr

[2018-02-27 15:39] pipermerriam commented on #675
@carver thoughts on these cleanups?

[2018-02-27 16:25] jordanjambazov commented on #674
@pipermerriam What is meant there is that events filtering is not working if EIP checksum address is provided there. The filter always returns empty list on `get_new_entries()` invocation. With lower cased address it returns properly the events, with properly checksummed address the result is empty.

[2018-02-27 17:46] pipermerriam commented on #674
Sounds like an issue with Ganache since filtering is done on the backend and all that web3.py is doing is making RPC requests to get whatever entries the backend returns.

[2018-02-27 23:30] carver commented on #654
:+1: to approach 2 above

[2018-02-28 00:28] lightninglu10 commented on #660
Can anyone help me out here? Just tried to install this with pipenv with `pipenv install web3` but getting the pad_left error

[2018-02-28 00:29] lightninglu10 commented on #660
Nevermind.. reinstalled it and now working.

[2018-02-28 00:31] carver commented on #675
Yeah, this all seems good. I also like the idea of changing the examples away from using it as a `ContractFactoryClass` since it changes the API so dramatically. Instead, we would recommend in the docs that you invoke it as a separate thing:

[code]

[2018-02-28 00:50] carver commented on #667
I just did a quick review of open issues on all the dependencies. Everything looks solid, no critical bugs.

Depending on how quickly https://github.com/ethereum/eth-hash/pull/5 progresses, I might try to get that into the stable release of eth-hash. It doesn't strictly need to go in before bumping to stable, because the change is backwards compatible.

If that PR not in merge-ready shape by EOD t

[2018-02-28 01:14] pipermerriam commented on #667
Since https://github.com/ethereum/eth-hash/pull/5 is backwards compatible I don't see any issue with just moving forward and we can do a minor point release with the new functionality.

[2018-02-28 02:18] boneyard93501 commented on #675
to 3:
something like that will do ?
[code]

[2018-02-28 03:00] pipermerriam commented on #666
@zheli still waiting for txn to confirm, but i just attached a `0.4` eth bounty to this.  We'd like to get this closed out quick so if you're available to work on it and want to do it.... go for it!

[2018-02-28 03:06] pipermerriam commented on #675
@boneyard93501 not quite.  We don't actually care about NS collisions with `Contract`, only with the very limited API that `ConciseContract` exposes.  I think you could do something simpler like:

[code]

[2018-02-28 04:57] dangell7 commented on #666
Yeah sorry about going mia. I’ve been busy, the team switched to .js 😔but it really should just need to be tested. I’ve been using the forked repo for awhile now. You’re welcome to copy anything I wrote.

[2018-02-28 06:58] boneyard93501 commented on #675
duh. yet another instance supporting a much-needed "reading comprehension required" label. sorry. i got some time tomorrow evening if you're not in hurry.

[2018-02-28 10:14] lazaridiscom commented on #549
@carver , @pipermerriam , keeping silence is really not the way to go. I need a closure here, need a free mind to focus on other tasks.

[2018-02-28 17:28] pipermerriam commented on #675
@carver can attest to my inability to read the actual PR text where he's regularly laid out the answers to questions he knows I'll have, yet I still ask them.

[2018-02-28 17:32] pipermerriam commented on #666
I used too low a gas price yesterday evening, trying with a higher one.  Either way, this issue will have a bounty.

[2018-02-28 17:49] pipermerriam commented on #549
The silence you're seeing isn't intentional.  Just being oversubscribed and missing this come through.

I find it best to assume incompetence before assuming malice 😄

This wasn't on my radar until about an hour ago.  I'm doing some fact finding and catching up.  I'll get you resolution by end of week.

[2018-02-28 17:49] #549 closed

[2018-02-28 18:16] lazaridiscom commented on #549
Nah, no malice assumed (and neither incompetence). I know how it is to be in deep code-level work, thats why I waited 6 days to re-ping.

Sidenote: #659 is still unmerged, so technically the issue here is still open.

[2018-02-28 19:27] zheli commented on #666
Thx @pipermerriam! I will probably make a new pull request based on the changes in #595.

[2018-03-01 14:40] anthonygd opened #677 "2-way SSL / Client side certificates"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

No support for 2-way SSL / client side SSL certificates.

### How can it be fixed?

If support exists, the documentation could be improved.  If support doesn't exist I could start work on it.

[2018-03-01 18:45] #655 closed

[2018-03-01 18:59] carver commented on #677
web3.py uses python `requests` under the hood to make connections with the `HTTPProvider`. I would expect it to work out of the box to connect with an https url, but AFAIK there are no tests for it. Have you tried a connection to a server over https? If you're getting an error, what are you getting?

[2018-03-01 19:07] anthonygd commented on #677
I think HTTPS is fine.  I'm looking for the client side certs.

Specifically something like http://docs.python-requests.org/en/master/user/advanced/?highlight=client#client-side-certificates but I don't see a way to pass the cert. info to the provider.

[2018-03-01 19:20] carver commented on #677
Ah, got it. Thanks for the link.

We'd welcome the contribution!

[2018-03-02 00:43] carver opened #678 "Warn that eth-account has not been audited"
* Version: 4.0.0

## What was wrong?

`eth-account` is pending audit, but there is an expectation that `w3.eth.account` will be included with web3.py v4. We don't want people who see that v4 is going stable to mistake that as a signal that `eth-account` is ready for prod use.

## How can it be fixed?

### Do all of these:

- Include a big warning box at the top of http://web3py.readthedocs.io/en/l

[2018-03-02 05:26] pipermerriam commented on #678
+1 to the long explicit property setter that enables `w3.eth.account`.

[2018-03-02 18:52] mimoo commented on #145
I have the same problem here with geth as the node. I have an `HTTPConnectionPool()` read timeout in `listener.get() > eth_getFilterChanges() > ...`.

Any guidance on how to deal with these read timeouts if web3.py doesn't?

I thought about wrapping `listener.get()` with a `try{} catch{}` but if `listener.get()` updates the last block it requested events from then we might miss some events.

[2018-03-02 20:29] #667 closed

[2018-03-02 22:22] carver commented on #145
For filters in particular, if you have no tolerance for imprecise results, then you are best off not using the node's built-in filters, and just requesting a list of all events between a range of blocks in a loop, retrying on failure.

[2018-03-03 02:27] boneyard93501 commented on #675
to 2: will that work?

[code]

since _CONCISE_NORMALIZERS is used in all the tests and it's a tuple, seems preferable to leave it.

to 3:

below is based on your suggested approach but i dropped the property() so the AttributeError actually pops when you call the function.

[code]

and

[code]
gets you:

[code]

as a side node, one thing i still haven't been able to figure out is why the contracts

[2018-03-05 17:08] nueverest commented on #666
Would love to see this implemented.

[2018-03-05 17:20] palango opened #683 "Event filtering with `filter.get_new_entries`"
* Version: 4.0.0-beta.11
* Python: 3.6
* OS: osx

### What was wrong?

I'm trying to listen to events from a contract with the code below. When using `filter.get_all_entries` I correctly get all matching events every time it's called. When using `filter.get_new_entries` I expect(ed) it to behave in the following way:
- On first call it returns all events that happened till the call
- afterwards it

[2018-03-06 09:59] lazaridiscom commented on #549
@pipermerriam

[2018-03-06 14:27] palango opened #684 "`removed` flag in events"
* Version: 4.0.0-beta.11
* Python: 3.6
* OS: osx

### What was wrong?

The RPC docs specify that each event has a `removed` flag denoting if the event got removed in a chain reorg. See https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_getfilterchanges

In the events I get from web3.py I don't see this flag. Is it ommitted for a special reason? (Metaquestion: Is it reliable?)

A sample event I got

[2018-03-06 15:17] palango commented on #683
I created some simple demo:
[code]

Running this locally gives me the following output:
[code]

Not sure if it's related, but #674 sounds similar.

[2018-03-06 18:08] pipermerriam commented on #549
@lazaridiscom thanks for the ping, I did indeed lose track of this again. :(

I've decided that we won't be issuing the bounty for this issue.  While we/I appreciate the work you did on this issue, it was not in a state that was mergable due to the lack of both tests and documentation.

The lead dev on this project (@carver ) chose to move forward independently to get this wrapped up.  I would pos

[2018-03-06 18:25] pipermerriam commented on #683
@palango what type of node are you connecting to?

Reason I ask is that web3 doesn't actually implement any logic related to gathering the appropriate events.  It merely delegates these calls to the node that it's connected to.  So, the error you're seeing is likely not a web3.py one, but something wrong with the node you are connecting to.

Also, there *could* be a race condition at play.  I don'

[2018-03-06 18:55] lazaridiscom commented on #549
@pipermerriam

Really? Have you actually invested time to review this? You are twisting the timeline, which can be easily seen in the project documentation (mostly right within this issue). I announced my time-frame:

https://github.com/ethereum/web3.py/issues/549#issuecomment-364362797

@carver announced some results, 6 days after I started (and whilst I was deep in this work, having brought up m

[2018-03-06 20:07] pipermerriam commented on #549
This project isn't affiliated with ConsenSys

I appreciate your feedback.  This whole bounty thing is new for us and we're still figuring out how it fits into our workflow. I'll be sticking with my decision not to pay out the bounty.  I apologize for the failures on our part.

One extra piece of information, not intended to try and change your mind, but rather give you more context.  The ether for

[2018-03-06 21:38] palango commented on #683
@pipermerriam

It's geth 1.8.2-stable

Adding `time.sleep(1)` doesn't help.

Just to be sure: is my expectation right here? I expect that `filter.get_new_entries()` returns all events that fit the conditions before call-time get returned. Afterwards it would return just the events that happened in the mean time.

[2018-03-07 01:12] owocki commented on #549
Laz, I'm sorry you're not satisfied with the outcome here... But the [contributor guidelines](https://github.com/ethereum/web3.py/blob/master/CONTRIBUTING.md#pull-requests) and the [issue specification of this issue itself](https://github.com/ethereum/web3.py/issues/549) is pretty clear that there needs to be tests/documentation.    You didn't need to wait for any code review to get this informati

[2018-03-07 01:31] postables commented on #549
has this been fixed I'm no longer experiencing the error? I was using a python script on a PoA network of my own and didn't get any tracebacks or errors indicating extra data length fields were detected, however, I did not include the patch mentioned by dongsam earlier in the thread.

[2018-03-07 02:18] nueverest opened #685 "Adding extra data to transaction via buildTransaction() fails."
* Version: 4.0.0b11
* Python: 3.6.3
* OS: linux

### What was wrong?

I am attempting to:

- Add custom data in hexidecimal format `0x349857efdab831` to the input data field (this Fails).

It seems I do not know the correct syntax for adding data to the custom input data field.

* The code

The method `transact()` allows me to manually sign a transaction, but it is unclear how to add custom data.

[2018-03-07 07:40] lpassos commented on #551
Any idea when this could get in?

[2018-03-07 08:58] boneyard93501 commented on #683
maybe i'm missing something, but since the last transaction on that contract was some 79 days ago, there are no new events (since your last call). so get_new_events() works are expected, no?

[2018-03-07 10:00] palango commented on #683
@boneyard93501 The question is more how to interpret the RPC docs:

I'd argue that since I haven't polled after filter creation the first call should return the same events as `get_all_entries`. But I might misunderstand this as well.

[2018-03-07 17:30] palango opened #686 "return value of web3.eth.sendTransaction"
* Version: 4.0.0-beta.11
* Python:  3.6
* OS: osx

### What was wrong?

The return value of `web3.eth.sendTransaction(...)` seems to be HexBytes, not a str as shown in the docs.

### How can it be fixed?

Fix the return value or fix the docs.

[2018-03-07 19:38] anthonygd commented on #677
Not sure when it showed up but 4.0.0b11 has what I need, so I'm good now.  Thanks.

[2018-03-07 19:38] #677 closed

[2018-03-07 20:01] boneyard93501 commented on #683
if you look at the [geth code](https://github.com/ethereum/go-ethereum/blob/5c83a4e5dd600fcf19502f7fb083dc0b6393f969/eth/filters/api.go) , it seems to me that the timer gets set (the first time) when the filter is installed and that `eth_getFilterChanges` works of that timer element resulting in the observed behavior.
if you go back to the RPC spec, in think that follows from the `eth_newFiliter`

[2018-03-07 21:38] lazaridiscom commented on #549
Fascinating!

Just Fascinating!!!

I rest my case.

[2018-03-07 21:51] lazaridiscom commented on #549
@postables , it was fixed with #652 and (the finally applied) #659

[2018-03-08 04:39] vs77bb commented on #666
Hi @zheli Vivek from Gitcoin here checking in on behalf of Gitcoin Bot, who we're still training 🙂 any update here? Hope you all are doing well! @pipermerriam @carver

[2018-03-08 06:28] zheli commented on #666
Hi @vs77bb sorry I was a bit busy with my daytime job in the past two weeks so I could only work on it during the weekend. I think I will push a work-in-progress pull request this weekend to get some early feedback.

[2018-03-08 06:44] cgarvie opened #687 "ValueError: \x\y\z "is not in list""
* Version: latest
* Python: 2.7.12
* OS: linux (ubuntu) on digital ocean

my code:

[code]

The result:

[code]

Any idea how to fix this? Google returns nothing for error 32000, "is not in list", etc...