[2016-05-07 16:30] vikramarsid opened #16 "Web3IPC - Socket Error"
* Version: 0.1.9
* Python: 2.7
* OS: linux

geth.ipc path is given correctly, but I face this error while connecting.
RPC works fine.

  File "/usr/local/lib/python2.7/dist-packages/web3/web3/ipcprovider.py", line 36, in __init__
    self.socket = self.getSocket()
  File "/usr/local/lib/python2.7/dist-packages/web3/web3/ipcprovider.py", line 42, in getSocket
    sock.connect(self.ipcpath)
  File "

[2016-05-13 01:41] void4 commented on #16
Are you using the testnet? If yes, you need to create the IPCProvider instance with an additional testnet=True argument.

[2016-06-07 12:05] hzman opened #17 "Windows IPC/Named pipe does not work"
Right now web3.py use sockets on GNU/Linux to connect to the IPC. This wont work on Windows since named pipes on windows does not make use of sockets. From what google says you can use a simple file handle to write and read on the named pipe (\.\pipe\geth.ipc). I have tried using simple popen/open to read and write data, but no luck.

I have also tried to use this library for python, http://docs.a

[2016-06-09 19:55] michailbrynard opened #18 "Bugs in code for creating a new contract on the blockchain"
* Version: 0.1.9
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?
The contract.new() function fails. I've fixed most of the obvious errors, will submit as a pull request.

#### Cute Animal Picture

![image](https://cloud.githubusercontent.com/assets/7025263/15943908/5f9747d4-2e8b-11e6-9e15-dc5b1607138a.png)

[2016-06-17 16:36] void4 commented on #17
Thank you for investigating this. I don't use Windows myself and therefore can't test it. If you find a solution, feel free to submit a pull request.

[2016-06-26 04:18] pipermerriam opened #21 "Look into using `gevent` for upcoming asynchronous patterns."
http://sdiehl.github.io/gevent-tutorial/

[2016-07-01 21:45] #21 closed

[2016-07-01 21:46] pipermerriam opened #23 "Refactor Formatters"
* Remove mutation.  The functions should not mutate the values passed into them.
* Rename to python naming conventions.
* Remove duplicate functions.
* Add tests for formatters.

[2016-07-12 14:12] pipermerriam opened #24 "Implement 'unit-test-mode' endpoint"
https://blog.ethereum.org/2016/07/08/c-dev-update-summer-edition/

Implement support for this.

[2016-07-12 21:27] void4 commented on #24
As this seems to be only available with the C++ client, we will need to:

- detect the client version with web3_clientVersion
- possibly create a new exception type (e.g. "CommandUnsupportedByClientException")
- raise this exception if an incompatible method is called

But this might not be necessary depending on how the other clients react to unknown calls.

[2016-07-13 15:39] pjdelport opened #26 "Undeclared dependencies: gevent and rlp"
* Version: 1.0.0
* Python: 2.7 / 3.5
* OS: Ubuntu 16.04 LTS

### What was wrong?

On a clean installation, `import web3` fails, with import errors due to imports of `gevent` and `rlp`.

Should these be added to `install_requires`?

#### Cute Animal Picture

![kittens](http://i.imgur.com/unQLJIb.jpg)

[2016-07-13 16:01] pipermerriam commented on #26
I'll get a fix in for this today.  Thanks for reporting.

[2016-07-13 16:09] pjdelport opened #27 "Remove old "web3py" package entry from PyPI"
### What was wrong?

As discussed on Gitter, PyPI should just have `web3`, not `web3py`.

#### Cute Animal Picture

![two bear cubs](http://i.imgur.com/KaX2fkO.jpg)

[2016-07-13 16:56] pipermerriam commented on #27
@void4 this is going to need to be done by you as you seem to be the sole owner of that repository.

[2016-07-13 17:02] void4 commented on #27
I removed `web3py`.

[2016-07-13 17:03] #27 closed

[2016-07-13 18:23] pipermerriam commented on #26
Fixed in `1.0.1`.  Available on `pypi` as well as in the github releases section for this repo.

[2016-07-13 18:23] #26 closed

[2016-07-14 02:17] #18 closed

[2016-07-17 06:33] pipermerriam opened #31 "Implement the `on` and `pastEvents` methods on the `web3.eth.contract` interface."
The `on` and `pastEvents` methods on contract objects have not been implemented.

[2016-07-31 04:56] miohtama opened #37 "Expose _Contract"
### What was wrong?

Currently `web3.contract._Contract` is privateish It would be useful to expose this for static analysis to help IDE auto completion.

I'd suggest renaming `_Contract` to `Contract` or `ContractBase` and then exposing it in necessary `__init__` modules.

#### Cute Animal Picture

![moo](http://i.imgur.com/2lXkjxH.jpg)

[2016-07-31 05:05] pipermerriam commented on #37
I'm fine with just renaming this class to `Contract` and would prefer that over an `import X as Y` rename.

[2016-07-31 05:47] miohtama opened #38 "Transform Markdown on PyPi release"
### What was wrong?

README is not readable on PyPI: https://pypi.python.org/pypi/web3/1.4.0

`setuptools-markdown` allows to publish README.md on PyPi
- https://pypi.python.org/pypi/setuptools-markdown
#### Cute Animal Picture

![Koala](http://i.imgur.com/Y3FZh.jpg)

[2016-07-31 14:16] pipermerriam commented on #23
It also looks like a lot of the formatters are not being used.

[2016-07-31 18:32] miohtama opened #43 "String type support"
### What was wrong?

Currently web3.py does not encode string types in functions. This e.g. prevents creating standard token contracts as the constructor fails.

      _type = b'string', value = b'Mootoken'
      ValueError: Unsupported type

### Suggested patch

Assume implicit UTF-8 encoding.

Update Math test contract in `contracts/conftest.py` or add new test contract to contain some string se

[2016-08-02 02:02] #37 closed

[2016-08-02 02:02] #43 closed

[2016-08-02 20:52] euri10 opened #49 "stuck on test_contract_estimateGas.py"
* Version: 1.3.0
* Python: 2.7/3.4/3.5
* OS: debian stretch

i  install and new laptop and I fail here, I haent the slightest idea where to look at from the error log

### What was wrong?
the test hangs ans never returns

[code]

#### Cute Animal Picture

![cute animal](http://i0.kym-cdn.com/entries/icons/original/000/008/414/cute-animals-5-animals-9403312-650-456.jpg)

[2016-08-02 23:00] pipermerriam commented on #49
Take a look at this diff which fixes this error

https://github.com/pipermerriam/web3.py/pull/47/files#diff-c9b030b0828c1291b56fc10aba6baab6R68

That change should probably be merged into master separately since that fixture is entirely broken without that change and has just been magically working up until now.

[2016-08-02 23:02] pipermerriam opened #50 "Documentation for the miriad of 1.0.0 things that now exist and aren't well documented"
Just a note that there is documentation to write.

Potentially time to go ahead and create sphinx docs and have a real readthedocs site instead of just a `README.md` document.

[2016-08-03 07:54] euri10 commented on #49
ok I checkout this branch
just for me not waiting long enough to see if I pass the test, am I right
in reading the code that the DAG generation for the rpc provider can wait
up to 10 minutes (
https://github.com/pipermerriam/web3.py/pull/47/files#diff-c9b030b0828c1291b56fc10aba6baab6R142)?

On Wed, Aug 3, 2016 at 1:00 AM, Piper Merriam <notifications@github.com>
wrote:

--
benoit barthelet
http://

[2016-08-03 15:04] pipermerriam commented on #49
@euri10 I just opened https://github.com/pipermerriam/web3.py/pull/51 which should fix your problem.  It's probably a better branch to base your work off of than #47

#47 is attempting to speed up the overall test runs but there's gross experimental stuff in there that I don't want to get in the way of whatever you're working on.

[2016-08-03 15:05] pipermerriam commented on #49
Yes, that is the current configuration.  In general this should only ever have to occur once, and has probably already occurred on your local machine assuming you've ever run the miner and let it generate the DAG for epoch 0.

[2016-08-08 14:24] euri10 opened #54 "how you debug ?"
* Version: 0.3.0
* Python: 2.7/3.4/3.5
* OS: linux

### What was wrong?
i pass all the tests fine but trying to debug them yields this error
cant see why pycharm debugger refuses to kick in

[code]

#### Cute Animal Picture

[2016-08-08 15:15] pipermerriam commented on #54
At first glance looks like a bad interaction between some combination of gevent/pytest/pycharm.

[2016-08-08 15:16] pipermerriam commented on #54
Also, it's potentially two packages deep assuming this is related to the `gevent` monkeypatching down the chain in `py-geth`

[2016-08-09 08:26] euri10 opened #56 "AttributeError: module '_sha3' has no attribute 'sha3'"
* Version: 1.6.0
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?
running tox pass the tests fine
but running them individually yields this error on some
I guess it's my local install since tox is fime, but couldnt find the root of it

[code]
pysha3 0.3 is install, seems to be the right version

[code]

#### Cute Animal Picture

[2016-08-09 09:54] euri10 commented on #56
fixed by uninstalling the wrong lib, gave me headaches
[code]

[2016-08-09 09:54] #56 closed

[2016-08-10 13:45] euri10 commented on #54
fixed using that GEVENT option
![Imgur](http://i.imgur.com/zRt6DP5.png)

[2016-08-10 13:45] #54 closed

[2016-08-10 15:13] euri10 opened #58 "json encode error : TypeError: Decimal('100000000000000000000') is not JSON serializable when sending a transaction"
* Version: 1.6.0
* Python: 2.7/3.4/3.5
* OS: linux

### What was wrong?
I'm trying to create an account and send funds to it from the coinbase I got this error

[code]

#### Cute Animal Picture

![parresseux](http://pmdvod.nationalgeographic.com/NG_Video/742/275/140715-baby-sloth-orphanage-rescue-vin_640x360_304699971673.jpg)

[2016-08-10 15:49] euri10 commented on #58
fixed by casting the to_wei Decimal object to int
`tx = web3.eth.sendTransaction({"from": web3.eth.coinbase, "to": new_account, "value": int(to_wei(100, 'ether'))})`
leaving the issue opened, i don't know if it's a "bug" or if I'm supposed to pass int

[2016-08-10 20:07] pipermerriam commented on #58
This is a bug.

[2016-08-10 20:08] #49 closed

[2016-08-10 20:08] #31 closed

[2016-08-10 20:08] #23 closed

[2016-08-10 20:08] pipermerriam commented on #16
If this is still an issue please re-open.

[2016-08-10 20:08] #16 closed

[2016-08-10 20:11] pipermerriam opened #59 "Implement a new provider that talks directly to `ethereum-tester-client`"
### What was wrong?

The current `pyethereum.tester` backed provider piggy backs on the `web3.providers.rpc.RPCProvider` and does all of it's interactions over a local HTTP server.  This adds significant overhead to the interactions.

The proposed solution would be to create a new provider at `web3.providers.tester.TesterProvider` that talks directly to `ethereum-tester-client`
#### Cute Animal Pi

[2016-08-10 20:12] pipermerriam commented on #58
The utility functions need to be modified to cast return values to integers.

[2016-08-12 18:04] pipermerriam opened #60 "Semantic cleanup of the `web3.contract.Contract` interface."
### What was wrong?

The following cleanup would help the library in small ways.

The term `Contract` is not entirely correct.  I have been using the term `ContractFactory` elsewhere and I like it more.  Ideally we step through the codebase and replace all names so that they match this moniker.

The actual `ContractFactory` instances returned by `web3.eth.contract` are all classes of the same name

[2016-08-15 15:30] agatsoh opened #64 "Importing TestRPCProvider gives an error."
* Version: 1.6.0
* Python: 2.7
* OS: Ubuntu 14.04

### What was wrong?
Importing TestRPCProvider gives an error.
[code]

#### Cute Animal Picture

![Cute animal picture]()
![image](https://cloud.githubusercontent.com/assets/15123108/17669406/277a772a-632b-11e6-8bfe-4ba826f2d2f0.png)

[2016-08-15 16:01] heikoheiko commented on #64
yes, i also ran into this. I think the readme is outdated.

[2016-08-15 16:51] pipermerriam commented on #64
This is fixed in `1.7.1` and available on pypi or in the releases section of this repo. You can now import the `TestRPCProvider` directly from `web3`.

[2016-08-15 16:51] #64 closed

[2016-08-15 19:26] pipermerriam commented on #58
Fixed via #66

[2016-08-15 19:26] #58 closed

[2016-08-29 18:22] agatsoh opened #70 "Calling any solidity function returning address[ ] gives address list without 0x prefix"
* Version: 1.8.0
* Python: 2.7.6
* OS: Ubuntu 14.04

### What was wrong?
Calling any solidity function returning address[ ] gives address list without 0x prefix

#### Cute Animal Picture
![image](https://cloud.githubusercontent.com/assets/15123108/18062197/729941c8-6e43-11e6-8683-8598b1979f89.png)

![Cute animal picture]()

[2016-08-29 18:33] pipermerriam commented on #70
This is happening here https://github.com/pipermerriam/web3.py/blob/master/web3/contract.py#L633

That functionality should probably be extracted into something small that recursively calls into itself if it's dealing with `array` types.

[2016-08-29 18:52] pipermerriam commented on #70
Loosely, I think the solution for this looks like the following.

[code]

[2016-08-31 13:14] 4gn3s opened #75 "Raise TransactionFailed instead of ValueError when there is an error in the contract"
- Version: 2.0.0
- Python: 2.7
- OS: linux
### What was wrong?

When a contract throws, web3.py raises a `ValueError`, which has the exact type of error (`TransactionFailed`) hidden in its message. A `ValueError` in web3.py can be caused by something entirely different. Checking the fields of `ValueError` to make sure that it indeed is a `TransactionFailed` is inconvenient, and does not fit nicely

[2016-09-02 18:01] pipermerriam opened #80 "Strange error from `ethereum.tester`"
### What was wrong?

On most commands this comes out of standard out when the interpreter exits.

[code]

### What is going on?

This is a race condition that occurs when the interpreter is shutting down.  The upstream library `eth-testrpc` needs to be patched so that it doesn't create the instance of the tester client on module import but rather on demand somehow.

[2016-09-02 18:01] pipermerriam commented on #80
Putting this here in case others are seeing this.

[2016-09-02 18:34] euri10 commented on #80
I got it too indeed

On Fri, Sep 2, 2016 at 8:01 PM, Piper Merriam <notifications@github.com>
wrote:

--
benoit barthelet
http://pgp.mit.edu/pks/lookup?op=get&search=0xF150E01A72F6D2EE

[2016-09-02 19:21] pipermerriam commented on #80
So I put some logging statements inside of the stdlib `shutil` module and I saw the following behavior.

* It didn't always happen.  Sometimes things executed just fine.
* Sometimes  `os.path.samestat` was set to `None`.
* Sometimes `os.path.fstat` was set to `None`.

I looked for anything inside of `gevent` that does monkeypatching on this module that could set these to `None`.  Didn't find any o

[2016-09-05 07:09] euri10 commented on #80
I got this one in fact, which is slightly different
[code]

[2016-09-05 23:53] pipermerriam opened #83 "Add `MultiProvider` Provider"
### What was wrong?

Currently tests run against both an RPC and IPC connection to a real `geth` node.  This is useful in that it will surface any discrepancies, but it's slow and overly redundant.

To fix this, I propose a new provider type, `MultiProvider`.
- A `MultiProvider` is composed of multiple other providers.
- Each RPC method will have a _strategy_ for how it should be called.
- Strateg

[2016-09-06 20:20] pipermerriam commented on #80
Yeah, it's the same error but showing up in a different place.  Still completely confounded/confused by this.

[2016-09-09 21:00] shayanb opened #95 "deplying empty contract"
* Version: 2.7.1
* Python: 2.7
* OS: osx

### What was wrong?
I used this code to deploy new contracts
[code]
It used to work for a while till around 2 weeks ago it just deploys empty contracts. I've tried changing everything on my ABI and bytecode (e.g adding 0x in from of the bytecode) but nothing seems to fix it. Any ideas why this might happen? any incompatibility with new geth update?

[2016-09-09 22:25] pipermerriam commented on #95
Can you provide some more detail on exactly what is going wrong?  How exactly is this operation failing?

[2016-09-12 09:28] euri10 opened #98 "default ipc path incorrect ?"
* Version: 2.7.1
* Python: 2.7/3.4/3.5
* OS: /linux/

### What was wrong?
I have a running node launched with geth, no params
[code]

debugging the stuff makes me think that in this part in https://github.com/pipermerriam/web3.py/blob/master/web3/providers/ipc.py#L49-L55 there should be a .ethereum instead of ethereum, or I'm smoking and don't use it correctly ?
[code]

on my computer the geth.ipc

[2016-09-12 15:44] pipermerriam commented on #98
I believe you are correct.  Blame my fat-fingering that path being wrong.

Would you like to open a PR fixing this?

[2016-09-12 15:46] #70 closed

[2016-09-12 15:46] #50 closed

[2016-09-12 15:47] #60 closed

[2016-09-12 15:51] euri10 commented on #98
done the PR here https://github.com/pipermerriam/web3.py/pull/99

[2016-09-12 16:39] pipermerriam commented on #98
Thank you very much for this.  This is now available in `2.8.1` via pypi or the releases section of this repo.

[2016-09-12 16:39] #98 closed

[2016-09-12 17:07] shayanb commented on #95
Not sure what was the issue but it was deploying empty contacts last week (data = 0x) but now that I tried it worked fine!
I'll keep you posted if I could figure out what happened there.

[2016-09-12 17:07] #95 closed

[2016-09-12 17:28] pipermerriam commented on #95
no problem.  Feel free to reach out to me on gitter as well.

[2016-09-26 17:22] shravan-shandilya opened #104 "Callback functions not getting called for latest block creation."
* Version: 2.9.0
* Python: 2.7
* OS: linux

### What was wrong?
I'm following the tutorial given in the web3.py [documentation](http://web3py.readthedocs.io/en/latest/filters.html) page for filtering new blocks.
The callback function that I register with the newly created filter is not getting called on receipt of new block.However,If I query the filter chages using 'getFilterChanges' method, I ca

[2016-09-26 17:35] pipermerriam commented on #104
This is a subtlety in correct usage of `gevent`.

If you place a `gevent.sleep(1)` after your call to `new_block_filter.watch(..)` then this will start working.

gevent requires explicit yielding of the execution environment between processes.  I'm realizing how problematic this may be for people using this library and I'm strongly considering removing the use of `gevent` by default in favor of so

[2016-09-26 17:35] #104 closed

[2016-09-27 09:27] shravan-shandilya commented on #104
Hi,
Trying with the following code block.
[code]
Here's the log:
[code]

Am I missing anything?

[2016-09-27 09:28] euri10 commented on #104
You never go out of your waiting loop

Le 27 sept. 2016 11:27, "Shravan Shandilya" <notifications@github.com> a
écrit :

[2016-09-27 10:15] shravan-shandilya commented on #104
@euri10 How else can I keep the current thread alive?

[2016-09-28 04:14] pipermerriam commented on #104
@shravan-shandilya you need to use `gevent.sleep()` instead of `time.sleep()`

[2016-09-28 06:35] shravan-shandilya commented on #104
Thanks! That's working. @pipermerriam and @euri10

Code:
[code]

Log:
[code]

[2016-09-28 15:48] pipermerriam opened #106 "`Filter.watch` is awkward if you don't know how to use gevent (or even if you do)"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

Currently, this won't work.

[code]

The reason it doesn't work is that until the first `gevent.sleep(..)` call happens to yield the execution context, the filter's greenlet doesn't actually spin up.

### How can it be fixed.

I think that this could be fixed one or both of two ways.

* Within `Filter.watch` add a `ge

[2016-10-03 07:11] 4gn3s commented on #75
Hi @pipermerriam, I will gladly contribute to this. Should this be implemented in `providers/manager/py` lines 25 and 51?

[2016-10-07 16:51] pipermerriam opened #112 "Add a `CachedManager` class that can be used to cache provider responses."
### What is wrong?

Lots of _things_ that web3 returns could be easily cached.
### How could it be implemented.

The initial idea looks something like this.
- Use an LRU cache or something similar so that the cache is some fixed size.
- Some things can be cached simply by the `args` they were looked up with. (blocks, transaction receipts, mined transactions)
- Some things can be cached by block nu

[2016-10-07 17:13] pipermerriam opened #113 "Add a new `Manager` class that allows transaction sending without an unlocked node."
### What was wrong?

It would be nice to have `Manager` class which would translate any call to `eth_sendTransaction` to one of `eth_sendRawTransaction` or `personal_sendTransaction`.  This would allow running against locked nodes and still being able to send transactions without modifying application code.

### How to do it

Probably with a new (`RequestManager`](https://github.com/pipermerriam/w

[2016-10-11 08:12] rainbeam commented on #106
In my limited gevent understanding this doesn't feel wrong - you're just explicitly yielding the context. Is there a possible side effect I'm missing?

[2016-10-11 14:33] pipermerriam commented on #106
Not that I know of.  Is say proceed with that approach until a better idea
shoes up or it proves problematic.

On Tue, Oct 11, 2016, 2:12 AM rain <notifications@github.com> wrote:

Within Filter.watch add a gevent.sleep(0) to allow the greenlet to spin up.
(This might be a bad idea. It feels a little wrong but it might just work
fine)

In my limited gevent understanding this doesn't feel wrong - y

[2016-10-11 16:04] 4gn3s opened #115 "When default account is set, it should be used instead of the coinbase"
* Version: 3.1.0
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?
https://github.com/pipermerriam/web3.py/blob/master/web3/contract.py#L437 should use `self.web3.eth.defaultAccount` instead of `self.web3.eth.coinbase`

#### Cute Animal Picture

![Cute animal picture](https://upload.wikimedia.org/wikipedia/commons/5/58/Domestic_duck_in_Venezuela.jpg)

[2016-10-12 22:44] #115 closed

[2016-10-21 10:00] euri10 opened #118 "setetherbase still exists ?"
- Version: all
- Python: 2.7/3.4/3.5
- OS: osx/linux/win
### What was wrong?

I dont know if I look at a deprecated wiki or if this function still exist, I cant find it in web3.js

https://github.com/ethereum/go-ethereum/wiki/JavaScript-Console#minersetetherbase

if it still exist it's not implemented, but I guess it doesnt and this is rather confusing to read old wikis ;)
#### Cute Animal Picture

[2016-10-24 05:54] shravan-shandilya commented on #106
Added a PR https://github.com/pipermerriam/web3.py/pull/119

[2016-10-24 16:33] pipermerriam commented on #118
If this option still exists in `go-ethereum` I'm fine adding this method.

[2016-10-24 16:34] #113 closed

[2016-10-26 16:56] pipermerriam commented on #106
Fixed via #119

[2016-10-26 16:56] #106 closed

[2016-10-26 20:54] euri10 commented on #80
I dont see it anymore since 3.2.0 I think

[2016-10-27 17:15] pipermerriam commented on #80
I'm still seeing it with `3.2.0`  can you paste a full dump of `pip freeze`?

[2016-10-27 17:32] euri10 commented on #80
➜  web3.py git:(develop) ✗ pip3 freeze
alabaster==0.7.9
argh==0.26.2
asciinema==1.3.0
Babel==2.3.4
bitcoin==1.1.42
Brlapi==0.6.4
certifi==2016.9.26
cffi==1.7.0
click==6.6
colorlog==2.7.0
configparser==3.5.0
contextlib2==0.5.4
Cython==0.25.1
decorator==4.0.6
discogs-client==2.2.1
docutils==0.12
enum34==1.1.6
eth-testrpc==0.8.0
ethereum==1.5.2
ethereum-abi-utils==0.2.2
ethereum-client-utils==0.3.2
e

[2016-10-28 08:53] euri10 commented on #80
as you can see this laptop was a mess so I removed all non necessary
python3 system libs, pip3 libs and made a clean venv (pip freeze after) and
I got the error again, so I'll try compare stuff asap

(web3) ➜  web3.py git:(develop) ✗ pip freeze
You are using pip version 7.1.0, however version 8.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
bitcoin==1.

[2016-10-28 09:14] euri10 commented on #80
after some tests, I come to the conclusion that the regression migh come
from ethereum-tester-client past 1.0.0 (working)
hope this isn't a false positive

On Fri, Oct 28, 2016 at 10:52 AM, Benoit Barthelet <
benoit.barthelet@gmail.com> wrote:

--
benoit barthelet
http://pgp.mit.edu/pks/lookup?op=get&search=0xF150E01A72F6D2EE

[2016-11-02 15:19] pipermerriam commented on #80
Ok, I've confirmed the same.  error happens on 1.1.0 and stops if I step back to 1.0.0

[2016-11-02 15:21] pipermerriam commented on #80
Here is the diff

https://github.com/pipermerriam/ethereum-tester-client/compare/v1.0.0...v1.1.0

[2016-11-02 15:27] euri10 commented on #80
just a quick thought looking at the diff: the with-lock decorator doesn't seem to pass on exception, maybe a try / except / finally instead of the try / finally would help ? maybe stupid, dunno

[2016-11-02 15:43] pipermerriam commented on #80
@euri10 so infuriating.  Check this out.

https://github.com/pipermerriam/ethereum-tester-client/pull/28/files

Error still occurs even when I comment out all the changes between `v1.0.0` and `v1.1.0`

[2016-11-02 15:48] pipermerriam commented on #80
This looks relevant http://stackoverflow.com/questions/38036540/what-type-of-message-exception-ignored-in-is

[2016-11-02 16:37] euri10 commented on #80
gloups...

dunno if this helps locating the source of the error, I'm not familiar enough with the tester, but if I take the test_contract_deployment.py::test_contract_deployment_no_constructor which triggers the error 100% of the time, it seems to me that the line that triggers the error is : https://github.com/pipermerriam/web3.py/blob/master/conftest.py#L125
when the thread is killed

[2016-11-02 18:12] euri10 commented on #80
I'm no guru of dunder methods, but reading the docs, especially the one on __del__,it seems to me, might be wrong of course, that it's a "bug" upstream in the way they implement the __del__ method.

one way to hack it, web3 passes all tests with that change is to delete the __del__method in tester.py and to do
[code]

[2016-11-02 19:17] euri10 commented on #80
@pipermerriam I pushed https://github.com/euri10/pyethereum/commit/a22303b2433197b4a558b3b0f516f57c65a02953 that seems to pass all test upstream, if it solves the issue I'll do a PR, to me it seems ok

[2016-11-02 19:30] pipermerriam commented on #80
@euri10 I think this only fixes it because it no longer ends up hitting the `shutil.rmtree` call.  Since you aren't using `tempdir` as a context manager using the `with tempdir()` syntax, the finally portion never gets evaluated.

[code]

[2016-11-02 19:34] euri10 commented on #80
shit, and i got a bunch of temp folders now :)
how else could I spend my time more intelligently.......:(?

On Wed, Nov 2, 2016 at 8:30 PM, Piper Merriam <notifications@github.com>
wrote:

--
benoit barthelet
http://pgp.mit.edu/pks/lookup?op=get&search=0xF150E01A72F6D2EE

[2016-11-02 20:02] pipermerriam commented on #80
@euri10 I *think* this workaround at least silences the error for anything but test runs (or when you otherwise access the testrpc chain.

https://github.com/pipermerriam/populus/pull/200

Real fix is going to involve modifying the `testrpc` package so that it doesn't instantiate the tester client on module import.

[2016-11-10 19:26] pipermerriam opened #123 "Typo in documentation"
[this](https://github.com/pipermerriam/web3.py/blame/master/docs/filters.rst#L89) Line in the docs is wrong.

It currently is:

[code]

It should be

[code]

[2016-11-13 22:47] rotarui opened #124 "Wrong owner address while using py.test"
### What was wrong?
Hi,
Tried to deploy a very simple contract (divided in two files), with an owner variable (`owner = msg.sender`).
The problem is that when I launch some tests, the returned value is not the good one (checked on etherscan for the contract owner ad it's good).
I created a getter function that just returns an `adress` type variable . I am of course returning `owner`.
So I was wond

[2016-11-13 22:50] pipermerriam commented on #124
Can you provide me with some additional information like the code you are
using to check the address?

On Sun, Nov 13, 2016, 3:47 PM Iulian Rotaru <notifications@github.com>
wrote:

[2016-11-13 22:51] rotarui commented on #124
Omg I just posted on the wrong github repo. I feel so stupid I wanted to post on populus one but got confused in all my tabs x). Searching how to delete now.

Sorry sorry

[2016-11-17 19:42] pipermerriam commented on #124
No worries.

[2016-11-17 19:42] #124 closed

[2016-11-25 10:48] JonathanVandal opened #125 "sendTransaction socket.timeout"
* Version: latest
* Python: 2.7
* OS: linux

### What was wrong?
I'm trying to send a transaction from an account to `Ropsten` another but I got error `socket timeout`

[code]

Here is my python script (I'm connected to my server, assuming my remove server IP is : 128.49.52.154) :

[code]
I thought it was because I'm using the `Ropsten testnet` and I have to use `TestRPCProvider `  instead of `Kee

[2016-11-25 14:38] JonathanVandal commented on #125
I fixed my problem with unlock my account :

[code]

[2016-11-25 14:38] #125 closed

[2016-12-04 16:09] berndbohmeier opened #126 "How to react to an unreachable node when dealing with filters"
* Version: 3.1.1
* Python: 2.7
* OS: linux

### What was wrong?
If I have a server running that gets events from a node with the contract.on method, it seems that if it fails because the node is currently not available, it is dead forever and I have no way of reacting to that.

see traceback:
[code]
I think it should reconnect and work again a soon as the nodes is available again, or there should

[2016-12-04 16:35] pipermerriam commented on #126
I think this would be a great feature.  This could be implemented at either
the manage/provider layer or directly at the filter class. I lean towards
the latter.

On Sun, Dec 4, 2016, 9:09 AM Bernd Bohmeier <notifications@github.com>
wrote:

[2016-12-04 16:36] pipermerriam commented on #126
Also. Fantastic cute animal picture.

On Sun, Dec 4, 2016, 9:35 AM Piper Merriam <pipermerriam@gmail.com> wrote:

[2016-12-04 16:51] berndbohmeier commented on #126
I just saw that Filter is a Greenlet, so it could probably be done in the application with `Greenlet.link_exception(callback)`, but I'd like it more to be handled by web3.

[2016-12-05 21:47] pipermerriam commented on #126
@berndbohmeier if you are interested in taking a stab at this I'm more than happy to support you in whatever ways I can.  Otherwise this is going to be on the backburner for a bit as I'm focused pretty heavily elsewhere trying to get package management established in the ethereum ecosystem.

[2016-12-05 21:50] pipermerriam commented on #126
Oh, and as far as implementing this with the `Greenlet` API, I think I'd like to steer away from that.  Gevent doesn't really play nice with others and thus there is a planned feature to be able to configure web3 to use either Gevent or native threading and so I'm trying to avoid any more code that is directly dependent on Gevent specific things.

[2016-12-06 15:23] gkapkowski opened #127 "Bug in calling methods automatically generated by solidity for public contract attributes"
* Version: 656903b34473a8cb658996a3dd8877ad9c734a12 (current master)
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?
For solidity code:
[code]
solc will generate function with ABI:
[code]
Notice that both `name` keys of inputs are empty.

The code in https://github.com/pipermerriam/web3.py/blob/master/web3/utils/abi.py#L162
Will squash two arguments pased to Contract.call().somename

[2016-12-06 15:42] pipermerriam commented on #127
Good find. Thank you for reporting this.

[2016-12-06 22:38] berndbohmeier commented on #126
I was able to implement it in the application logic for now with the Greenlet api, so it is not urgent. I might look into it.

[2016-12-07 13:26] brenzi opened #130 "string and byte conversion in events.py corrupts data"
* Version: 3.2.0
* Python: 3.5
* OS: linux

### What was wrong?
My strings passed in contract events get corrupted. They look like this when I listen to events:
`'_ipfsaddr': '\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00`'`

### solution

[code]
now I get my ipfs address correctly:
`'_ipfsaddr': 'QmSL2Zj3QmQFNcF6pethSY

[2016-12-23 15:46] raymondcarl opened #133 "Question On Process"
Hi,

I was interested in adding more of the Web3 functionalities.  I'm not a developer and just wanted to ask a basic question.  Is it fair to say that the web3.py package formats requests into JSON RPC requests and passes onto a running ethereum node?  I tried to go through the source code, but it seems like there's a lot of abstraction taking place through a package that's imported (which also s

[2016-12-23 16:27] pipermerriam commented on #133
Good questions.  You are correct that there are two layers of abstraction in place.  Those layers came from the original design of the javascript web3 library but have proven to be good abstractions thus far.

The innermost layer is the *Provider*.  Providers have a specific communication channel with the Ethereum network such as an HTTP based JSON RPC server or the IPC Socket based RPC server.  P

[2016-12-23 16:27] #133 closed

[2016-12-23 17:23] raymondcarl commented on #133
ahhhhhhh now I got it.  Thanks!

[2016-12-24 12:43] jdetychey opened #134 "Difficulty to set up infura RPCprovider"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: linux (cloud9)

### What was wrong?

I registred on Infura, got my token GNAGNAGNA
I read the doc and find infura mention at:
http://web3py.readthedocs.io/en/latest/managers.html

I have been trying to use syntaxes:

none of them seems to work although on nodejs:

works properly

#### Cute Animal Picture

![Cute animal picture](http://i.imgur.com/LB6Ohm

[2016-12-24 15:14] jdetychey commented on #134
Full code:

Returns the error:

Traceback (most recent call last):
  File "/home/ubuntu/workspace/test/web3call.py", line 4, in <module>
    value = web3.eth.gasPrice
  File "/usr/local/lib/python2.7/dist-packages/web3/utils/functional.py", line 22, in inner
    value = fn(*args, **kwargs)
  File "/usr/local/lib/python2.7/dist-packages/web3/eth.py", line 91, in gasPrice
    return self.web3._reque

[2016-12-30 11:19] jdetychey commented on #134
upgraded web3 via pip.
Tested different way to use "web3 = ":

All of them exit with code 1. Here is the full log:

Traceback (most recent call last):
  File "/home/ubuntu/workspace/test/web3call.py", line 1, in <module>
    from web3 import Web3, RPCProvider
  File "/usr/local/lib/python2.7/dist-packages/web3/__init__.py", line 5, in <module>
    from web3.main import Web3
  File "/usr/local/lib/

[2016-12-30 13:19] 4gn3s commented on #130
I am experiencing the same behaviour with web3.py 3.2. The minimal test case:
[code]

and the test in populus:
[code]

which returns:
[code]

[2016-12-30 15:35] chfast opened #140 "Web3 depends on testrpc.rpc"
* Version: 3.4.1
* Python: 2.7/3.4/3.5
* OS: win

### What was wrong?

The main web3 now depens on testrpc.rpc package, not even listed in requirements. So firstly web3 cannot be used without installing additional eth-testrpc. Moreover, eth-testrpc is not installable on Windows so we are all f*cked.

#### Cute Animal Picture

![Cute animal picture](http://img.hdwallpaperpc.com/cover/115/Animals_Ot

[2016-12-30 18:22] pipermerriam commented on #140
This is a bug.  I'll get a release out here to fix it.

[2016-12-30 19:08] pipermerriam commented on #140
`3.4.2` is up on pypi and in the releases section here and fixes this issue.

[2016-12-30 19:08] #140 closed

[2016-12-30 19:12] pipermerriam commented on #130
So this behavior was implemented this way under what is looking like a mis-understanding of how the logging features handle dynamic length values.  I have been under the impression that when you have a solidity event with an argument which is dynamic in length (such as a `string`) then the logged value is the `sha3` of that value.

* I'm pretty sure this is true if the argument is `indexed` becaus

[2016-12-30 19:13] pipermerriam commented on #134
@jdetychey try upgrading to `3.4.2`.  `3.4.1` had a dependency bug that was just fixed.

[2016-12-30 19:29] 4gn3s commented on #130
According to this: https://solidity.readthedocs.io/en/latest/contracts.html?highlight=log#events `All non-indexed arguments will be stored in the data part of the log.` I have checked my contract in browser-solidity and it shows the full string in the event. I'm not on my main machine right now either, and can check it on Monday, sorry.

[2016-12-30 19:35] pipermerriam commented on #130
@4gn3s Thanks.  Classifying this as a bug.  I believe the fix should be pretty easy.  Hope to get something out today but no promises.

[2017-01-02 09:19] 4gn3s commented on #130
Finally had a chance to test this in geth. It also returns `{u'str': u'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00 '}`. Am I missing something here, or is it a bug as well? There is an example in the ethereum wiki: https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI#example-javascript-usage and I think it also

[2017-01-02 13:19] jdetychey commented on #134
upgrading solved the testrpc issue but the same code as above now has a different error:

http://i.imgur.com/mmkr6sd.jpg

[2017-01-02 19:15] pipermerriam commented on #134
So the  issue you are seeing is likely because of a trailing `/` on you host.  If you remove that you can get back to the previous SSL error.  The issue is from `geventhttpclient` which I'm less than satisfied with right now as they aren't doing SSL correctly.  This is on my radar but it may be next week before I can really get to it.

[2017-01-02 21:49] pipermerriam commented on #134
Ok, I have a workaround for you.

[code]

It's gross but it works.

[2017-01-02 22:37] onepix opened #144 "-1 on int8 weird value"
* Version: 3.4.4
* Python: 2.7.10
* OS: osx

### What was wrong?

Assuming that "-1" can be represented by the int8 type (range -128;+127) I have this contract
[code]
then I get an "instance" of this with web3.py and try to retrieve it but this is what I get :
[code]

Is that right ? What's wrong ?

#### Cute Animal Picture

![Cute animal picture](http://10wallpaper.com/wallpaper/medium/1109/baby_

[2017-01-02 23:23] jdetychey commented on #134
well unfortunately that's it yet, maybe that's because I am using cloud9.

http://i.imgur.com/i6zrfVR.jpg

[2017-01-02 23:38] pipermerriam commented on #130
This issue should be fixed in releases  `>=3.4.3`

[2017-01-02 23:38] #130 closed

[2017-01-02 23:40] pipermerriam commented on #144
That is exceptionally odd and definitely a bug.  I'll try to look into this soon.

[2017-01-02 23:41] pipermerriam commented on #134
Hrm, can you try this updated version

[code]

[2017-01-03 09:48] onepix commented on #144
Thanks !
I suppose it will not help that much but I encountered the same issue with the other python ethereum client named _ethjsonrpc_ and by changing the type directly into the ABI from int8 to int256 I got `-1L`

[2017-01-03 10:17] jdetychey commented on #134
Not working yet unfortunately:

[code]

[2017-01-03 10:46] jdetychey commented on #134
BTW: the library works like charm  when using:
`web3 = Web3(KeepAliveRPCProvider(host='localhost', port='8545'))`

^/^

[2017-01-05 11:12] ChloeCoupignyWarot opened #145 "Timeout error when I tried to send transaction"
I don't understanda why, but since few days, I can't send transaction.
When I do `web3.eth.sendTransaction(transaction)` I've this error `timeout: timed out`.

the transaction looks like this : `transaction = {'from': user2, 'to':user1, 'data': web3.toHex("test")}`
And `user1` and `user2`are defined . Accounts are unlocked and have gas...

Have you got any idea?

[2017-01-06 14:42] pipermerriam commented on #145
When you open an issue it helps for you to use the template which should have been pre-populated in the form.  Can you please provide me with the following information so I can try to diagnose this.

* Python version
* Web3 version
* Full stacktrace of the error.

[2017-01-09 08:52] insoftayyappans opened #146 "Timed out"
* Version: Latest
* Python: 2.7
* OS: Linux/Ubuntu 14.04 LTS

### What was wrong?
I am trying to create an account and list out the accounts. But i got "socket.timeout: timed out"

**My Log is:**

  File "/home/insipc208/Desktop/Eth/Example/create_account.py", line 10, in <module>
    web3rpc.personal.newAccount('insoftindia')
  File "/opt/ethereum/pyethapp/.venv/local/lib/python2.7/site-packages/

[2017-01-09 17:52] pipermerriam commented on #145
I'll be happy to re-open this if you can provide me with additional details about the error.

[2017-01-09 21:04] pipermerriam commented on #146
This looks like a legitimate timeout.  PyEthapp has historically been very slow when creating new accounts.  Can you try the following?

[code]

That code may hang for up to 10 minutes waiting for pyethapp to generate the account.  Feel free to adjust that number to your desired limit.  Let me know if this doesn't fix your issue.

[2017-01-09 21:04] #146 closed

[2017-01-10 06:11] insoftayyappans commented on #146
As you said, i have increased time out attribute. But still getting same timeout error. In pyethapp, shows following error:

[2017-01-10 06:21] pipermerriam commented on #146
This looks a lot like a bug in pyethapp.  Are you able to use something like `web3js` to call the same API endpoint and see if the error persists?

[2017-01-10 14:38] pipermerriam commented on #146
@insoftayyappans can you run `pip freeze` and tell me what version of `gevent` you have installed?

[2017-01-11 05:34] pipermerriam commented on #134
@jdetychey I just release `3.5.0` which does a few things, one of which is removal of gevent as a hard dependency.  The other is deprecating `RPCProvider` and `KeepAliveRPCProvider`.  Both are now replaced by the much simpler to use `web3.providers.rpc.HTTPProvider`.

So, there is some nuance to all of this because the library will now use standard library by default where previously it would use

[2017-01-11 09:46] edmundedgar commented on #134
I had the same problem and I can confirm that the HTTPProvider method is working for me, at least as far as retrieving `web3.eth.blockNumber`. It then proceeds to crap out when I get to the next step and try to call pastEvents() on it, but I think that's web3.py behaving correctly, and Infura not wanting to serve me pastEvents.
![goat](https://cloud.githubusercontent.com/assets/75964/21843413/3dd0

[2017-01-11 14:21] pipermerriam commented on #134
This sounds like expected behavior but I would confirm with the Infura team.  I do know that currently infura doesn't support filters but at some point in the not to far past you could still hit those endpoints.

[2017-01-11 14:21] #134 closed

[2017-01-12 16:40] pipermerriam opened #150 "`web3.eth.contract` does not perform validation on `address` parameter."
### What was wrong?

This code does not throw any errors or warnings.

[code]

The above code is actually passing in the `code` as the `address` parameter since the function signature of `web3.eth.contract` is `def contract(self, abi, address=None, **kwargs):`.

Validating the `address` is well formed (and potentially normalizing it) is trivial to do and would keep this subtle error from happening

[2017-01-16 11:06] ChloeCoupignyWarot commented on #145
@pipermerriam ,
I've a remote server witch started by this command :

`parity --chain ropsten.json --rpcapi="eth,net,web3,personal" --rpc --rpcaddr 137.xxx.xxx.xxx --rpcport 8545 --author 0x...`

I installed python and web3 on an other server.

And I want to run this script :
`from web3 import Web3, KeepAliveRPCProvider
web3 = Web3(KeepAliveRPCProvider(host="137.74.115.136", port="8545"))
user1 =

[2017-01-16 20:41] pipermerriam commented on #145
@ChloeCoupignyWarot can you update to the latest released version of web3 and try this with the new `HTTPProvider`.

[code]

Second question is whether you've confirmed that you can actually access the RPC server.  You can confirm whether this is a `web3py` issue or whether it's your server configuration by trying to connect using `web3.js` via the geth console.

[code]

[2017-01-18 07:53] ChloeCoupignyWarot commented on #145
@pipermerriam , Yes I can access the RPC server because when I do or exemple
[code]
I've a response : `0x..` or` 321815`

But when I want to do sendTransaction command I always have this error :
[code]

[2017-01-18 15:44] pipermerriam commented on #144
It is looking alot like this is a bug in the pyethereum codebase combined with a validation bug in the `eth-abi-utils` codebase.  I *could* fix this on the `eth-abi-utils` side by just truncating the output but that feels wrong.  Going to think on this for a few days before deciding a course of action.  I think this bug is going to exist on *all* negative non 256 bit signed integer values

[2017-01-19 14:03] pipermerriam commented on #145
This is an issue with your server setup and not web3.py.

[2017-01-19 14:04] pipermerriam commented on #145
Looks like you need to modify how you run parity.  https://github.com/ethcore/parity/issues/1812

[2017-01-19 15:14] ChloeCoupignyWarot commented on #145
@pipermerriam , No it's not that, yesterday I added this parameter but it doesn't change anything, I always have this error :
[code]

when I launch parity with this : parity --chain frontier.json --rpcapi="eth,net,web3,personal,web3" --rpc --rpcaddr 137.xxx.xxx.xxx --rpcport 8545 --jsonrpc-hosts="all" --rpccorsdomain "*" --author 0x...

[2017-01-19 18:02] pipermerriam commented on #145
Have you tried again with `web3.js`?  Do you get the same connection error?

[2017-01-19 18:15] pipermerriam commented on #145
So the fact that your node returns responses for read-only operations like `web3.eth.coinbase` or `web3.eth.blockNumber` implies that this is an issue with your node and not web3.  Can you check your server logs and see what is happening with parity when these requests are happening?

[2017-02-02 08:42] holiman opened #152 "No connection reuse"
* Version: 3.5.2 Release
* Python: 2.7
* OS: alpine linux within Docker

### What was wrong?

I was using web3.py within Hive, basically it's run within a docker container and performs various queries against a client.

In one of the tests, I'm verifying a lot of conditions, ~30K. After `28232` requests, the lib failed with the following exception : `requests.packages.urllib3.connection.HTTPConnec

[2017-02-03 15:39] #152 closed

[2017-02-03 15:42] pipermerriam commented on #152
Should be fixed in `3.5.3` which is on pypi and the releases section of this repo.

[2017-02-16 16:47] glowkeeper opened #160 "Intermittent timeout problems"
* Version: latest from the main branch
* Python: 2.7.12
* OS: ubuntu 16.04

### What was wrong?

I have 3k+ database records to write to a smart contract. Unfortunately, after writing a few records, I'm getting intermittent timeout problems. Here's a traceback of one such occasion:

[code]
..._geth_ was busy mining a potential block at that point. Any ideas how  I might overcome that? I'd rather b

[2017-02-16 17:23] glowkeeper commented on #160
Actually, this currently seems to be working:

`self.provider = Web3(KeepAliveRPCProvider(host=host, port=port,_timeout=None_))`

Rather than:

`self.provider = Web3(KeepAliveRPCProvider(host=host, port=port))`

...okay, so it blocks for ages (until my slow machine actually gets 'round to mining the block), but it doesn't crash. Yay!

[2017-02-16 17:25] pipermerriam commented on #160
You beat me to it.  Glad you got it figured out.  Let me know if you have continued troubles.

[2017-02-16 17:25] #160 closed

[2017-02-16 22:03] glowkeeper commented on #160
Thanks pipermerriam!

ps. I had a json export from a database to load into ethereum - it would have been an absolute pain via web3.js, but a breeze with python and web3.py - thanks for all your efforts :)

[2017-02-20 19:09] ice09 opened #161 "Non-helpful error message when calling contract on unsynced chain"
* Version: 3.6.2
* Python: 2.7
* OS: linux

### What was wrong?

After initializing web3 against a local, unsynced ropsten chain, a new contract could not be called, eg. by `con.call().get()`. This is correct behaviour, but the error message:

`BadFunctionCallOutput: Could not decode contract function call get return data 0x for output_types [u'string']`

is not helpful and does not indicate where

[2017-02-21 04:18] pipermerriam commented on #161
This should be a simple thing to add.

https://github.com/pipermerriam/web3.py/blob/master/web3/contract.py#L766

At that point, within the exception handling we can check whether the response was `0x`, aka empty string, and if that is the case we can check whether there is any code (using `eth_getCode`) at the contract address.  If both return true, raise a different error indicating that a funct

[2017-02-23 05:59] ericssonaxel opened #164 "Implement support for "function" abi type"
* Version: 3.6.1
* Pyhon: 2.7
* OS: macOS

### What was wrong?
In (https://github.com/ethereum/solidity/pull/1122) a "function" abi type was added. This is not yet implemented in web3.py

Example:
In my_contract:
`
function truebool(address a) external constant returns (bool){ return true;}`

`
function get_function() external constant returns(
function(address) external constant returns(bool)
){

[2017-02-27 16:54] #17 closed

[2017-02-27 17:02] pipermerriam opened #166 "Windows CI"
Add CI for windows environments via https://www.appveyor.com/

[2017-03-07 20:25] ice09 opened #167 "Private key signing not possible"
* Version: 3.7.2
* Python: 3.5
* OS: ubuntu 16.04 lts

### What was wrong?

When following instructions on http://web3py.readthedocs.io/en/latest/managers.html for private key signing, if the transaction

`web3.eth.sendTransaction({'from':web3.eth.accounts[1],'to':web3.eth.accounts[0],'value':1000000000000})`

is sent, the result in the geth node is

`Tx(044891110df9790252c41bd6f1af0b0b7f1cfac8eea

[2017-03-19 01:05] davebryson opened #168 "Online docs shows wrong keyword for event filters"
* Version: 2.4.0

This is a trivial documentation thing in reference to the online docs:
http://web3py.readthedocs.io/en/latest/contracts.html#events  Just adding it here in case someone else runs into the same problem.

The document reference `filters` and the example shows:

`transfer_filter = my_token_contract.on('Transfer', {'filters': {'_from': '0xdc3a9db694bcdd55ebae4a89b22ac6d12b3f0c24'}})`

[2017-03-19 05:28] ericssonaxel commented on #164
Pull request created ->
https://github.com/pipermerriam/web3.py/pull/169
https://github.com/pipermerriam/ethereum-abi-utils/pull/12

[2017-03-22 10:15] karlfloersch opened #170 "Support rlp==0.4.7"
* Version: 3.7.2
* Python: 2.7
* OS: osx

### What was wrong?
https://github.com/ethereum/pydevp2p requires `rlp==0.4.7` ([here](https://github.com/ethereum/pydevp2p/blob/develop/requirements.txt#L11)), but `web3.py` requires `rlp>=0.4.6,<0.4.7`. This causes headaches when a project requires both packages as well as `rlp` independently.

I've created a repo with updated requirements here: https://

[2017-03-22 16:37] #170 closed

[2017-03-22 16:40] pipermerriam commented on #170
`3.8.0` is now available which now pins `rlp>=0.4.7`.  If you are also using `eth-testrpc` you should update to `1.2.0` as well.

[2017-03-22 17:35] karlfloersch commented on #170
Awesome thank you! 😄

[2017-03-22 18:07] #59 closed

[2017-03-22 18:07] pipermerriam commented on #144
This was fixed in the underlying ABI utils library.

[2017-03-22 18:07] #144 closed

[2017-03-22 18:08] pipermerriam commented on #83
I've since decided this should be it's own separate package.

[2017-03-22 18:08] #83 closed

[2017-03-22 18:08] pipermerriam commented on #112
I've since decided this should live in a separate package.

[2017-03-22 18:08] #112 closed

[2017-03-22 18:09] pipermerriam commented on #24
Not likely to happen anytime soon.

[2017-03-22 18:09] #24 closed

[2017-04-04 19:03] miohtama opened #172 "web3.contract.Contract does not carry its own name"
### What was wrong?

Currently the contract object does not know its own name (the contract name in the source code).

[code]

#### Cute Animal Picture

[code]

[2017-04-04 20:54] pipermerriam commented on #172
THis should actually be in populus.  closing here.

[2017-04-04 20:54] #172 closed

[2017-04-06 20:54] bellaj opened #173 "web3 error on raspberry pi"
Hi,

I've installed web3.py on the raspberry pi 2 (from source after the installation of the requirements) but when i run a snipet code i get this error

`ImportError: cannot import name Web3`

*NB: If i run the code in the web.py it works

[2017-04-06 21:56] bellaj commented on #173
solution :

import sys
sys.path.append('/path to web3/')

don't name your snipet code web3.py

[2017-04-06 21:56] #173 closed

[2017-04-06 23:19] pipermerriam commented on #173
@bellaj alternatively you can put a `from __future__ import absolute_import` in python 2.7 and it will fix this annoying import behavior from python 2.  Alternatively you can switch to python3 as well (which you should do anyways 😈 )

[2017-04-17 03:34] Gingko925 opened #175 "How to use the function inside a deployed contract? [BadFunctionCallOutput]"
* Version: 0.15.3
* Python: 2.7
* OS: linux

Here is an example to develop a smart contract by python which is written by myself.

Suppose the RPC port of geth node is 8200, and there are at least 2 accounts in keystore.
At least 2 python package are required (web3, py-solc)

[code]

### Input following code into python command console:

[code]

The contract should be deploy on the blockchain if t

[2017-04-17 03:47] Gingko925 commented on #161
Have you solved this problem? I faced the same one.

[2017-04-17 09:02] weipin commented on #175
`my_contract.call({'to':obj.eth.accounts[0]}).getBalance(obj.eth.accounts[0])`

Here seems the account address was passed as `to`, instead of a contract address.

Assuming we use [testrpc](https://github.com/pipermerriam/eth-testrpc) and the contract address is available immediately, the code snippet of obtaining a contract address and making a call could be something like this:

[code]

Also, the

[2017-04-17 09:58] Gingko925 commented on #175
@weipin Thank you very much for your patient answer!

I have tried 2 suggested methods to call the function. Both methods except the same Error:

Since the return type of getBalance() function is an unit256 type data, I guess there are some problems to decode return data. Is there any other potential solutions to solve this problem?

[2017-04-17 10:45] Gingko925 commented on #175
@weipin Your suggestion is so useful! After trying another example, I find that the error comes from contract deploy step.

[2017-04-17 11:46] weipin commented on #175
Glad to hear it worked.

@pipermerriam  May I suggest to put together a step by step tutorial of web3.py, with code snippets of deploying a contract (likely a standard ERC20 one), executing methods, etc. That would be another issue though.

#### Cute Animal Picture

![fullsizerender](https://cloud.githubusercontent.com/assets/390095/25088025/bd18a17c-23a5-11e7-9149-d3df1fe7ded5.jpg)

[2017-04-17 16:14] pipermerriam commented on #175
Hello @Gingko925.  If you can try the following modified version of your code.  Please check your web3 version and update to the latest if you are not on `3.8.0`

[code]

This was of course all typed by hand so there may be some typographical errors.  In general this structure should work though.  Let me know if it doesn't.

[2017-04-17 16:15] pipermerriam commented on #161
It hasn't been solved *but* it will be soon.

[2017-04-23 22:18] rotarui opened #176 "Getting web3.exceptions.BadFunctionCallOutput on simple function call"
* Version: 3.8.0
* Python: 2.7
* OS: linux

### What was wrong?
I have a very simple contract in which I store a struct map
[code]
In another contract, I have an array of A contracts
[code]
When testing with truffle console, I'm getting normal return values like `true` of `false`.
When I call the second `isIn` method from web3.py and I enter and `_id` that is registered, everything works well and

[2017-04-24 15:36] pipermerriam commented on #176
Do I understand correctly that `web3.js` correctly returns `false`?

[2017-04-24 16:57] rotarui commented on #176
Yes,
but I use `web3.js` only for Truffle and for pure contract development.

[2017-04-24 16:58] rotarui commented on #176
I am actually trying to deploy from `web3.py` and not from `web3.js` and see if the same happens.
I'll do it tonight, I'll come back as soon as I finished.

[2017-04-24 18:05] pipermerriam commented on #176
It sounds like `web3.js` is being more forgiving of EVM return values than `web3.py`.  The return value that you are getting, `0x` is indicative of no return value.  False should be returned as `0x0000....`.  Normally, when this error occurs it is because someone is trying to interact with a contract that does not exist.  Can you verify the following things for me as I'm curious if this has anythi

[2017-04-25 15:15] rotarui commented on #176
Ok so I just added a `return (false)` at the beginning of my function and It's working.
I was doing something wrong by iterating through an array, uninitialised values inside it aren't initialised to 0 as a map, my bad !
Now I have another problem where any method call that requires a transaction isn't doing anything and I get no errors. Any hints on that ? :/

[2017-04-25 15:37] rotarui commented on #176
Ok so I had to use `transact` instead of `call`, my bad again !

[2017-04-25 15:37] #176 closed

[2017-05-01 18:00] pipermerriam opened #179 "Switch to `coincurve`"
### What was wrong?

`secp256k1` is no longer maintained.  [coincurve](https://pypi.org/project/coincurve/) is.

Lets switch to that.

#### Cute Animal Picture

![baby-gorilla-007](https://cloud.githubusercontent.com/assets/824194/25584627/07e979de-2e54-11e7-8ac7-03c6261f700c.jpeg)

[2017-05-04 14:56] agatsoh opened #180 "ImportError: No module named eth_utils"
* Version:
[code]

* Python: 2.7

* OS: linux(Ubuntu)

### What was wrong?
Import Error
[code]

#### Cute Animal Picture

![Cute animal picture]()
![image](https://cloud.githubusercontent.com/assets/15123108/25709783/e43dbe58-3107-11e7-9166-61ce013c7304.png)

[2017-05-04 15:00] cle1000 commented on #180
```pip install -r requirements-dev.txt ```

[2017-05-04 15:04] agatsoh commented on #180
I already tried this, it does not work for me. Worth noting I am doing a `pip install web3`  actually
or should do a  `python setup.py install`

[2017-05-04 15:09] agatsoh commented on #180
Ok I did a `python setup.py install` and it installed the latest `3.8.1` for me and the problem got solved. So this problem comes only in the pip version.

[2017-05-04 15:33] pipermerriam commented on #180
I tested this with a fresh install with `pip install web3` and everything seems to be working.  I'm guessing there was an issue with your local environment.

[2017-05-04 15:33] #180 closed

[2017-05-12 15:45] brenzi opened #181 "listening to smart contract log events stopped working"
* Version: 3.8.1
* Python: 3.5.2
* OS: linux
* Parity//v1.7.0-unstable-b0e4c91-20170502/x86_64-linux-gnu/rustc1.17.0

listening to log events stopped working a while ago for my demo dapp

my smart contract logs events:

[code]

I can see the logs in parity web interface, so they are correctly generated.
For an example, see:

https://kovan.etherscan.io/tx/0x780d5e88d0f7dadc1519ad51a4beb58a7d488818b

[2017-05-12 15:53] pipermerriam commented on #181
Back when it was working:

* What version of web3 were you using?
* Where you using parity/geth? What version?

Also, how are you connecting to your node?  Can you run your client (parity) with a high enough debug level that when you call `measpub.on(...)` or `listener.get()` you can see the corresponding calls to the client in the console output?

[2017-05-15 07:14] brenzi commented on #181
honestly, I don't know what the versions were back when it worked. Parity was 1.6unstable something. web3 I don't know.

If I start parity with `-ldapps=trace` I get

[code]
However, I can't get much out of this.

Here's what I get for the dapp that calls the contract and triggers the log events:
[code]

[2017-05-16 17:25] pipermerriam commented on #181
@brenzi

Can you check `listener.filter_id`.  Assuming it isn't null, can you then take that value and call `web3.eth.getFilterLogs(listener.filter_id)` and see if that returns anything.

[2017-05-16 17:26] pipermerriam commented on #181
My *guess* is that something changed in how parity is interpreting the parameters being passed into the `web3.eth.filter` call and that the filter is being correctly created but it isn't correctly matching against your desired events.

Second thing I'd like to see is whether you have the same problem if you use the go-ethereum client.

[2017-05-16 20:23] brenzi commented on #181
hmmm, I get zero. guess that's bad.
[code]

I started from the beginning, updated solc (from 0.4.6) and already have to fix things. I'll revert.

[2017-05-18 08:13] MoriNakamura commented on #181
Hi, I encountered a similar problem, and my `filter_id `is not null.
I'm simply using Jupyter Notebook as my environment for testing for now.
The following is my code and results:

[code]
Result:
[code]

So it can get these logs. However the `get()` function shows nothing:
[code]
Result:
[code]

[2017-05-22 21:35] pipermerriam commented on #181
@brenzi still perplexed on this issue.  We're planning to expand the test suite for web3.py to test against the various independent clients soon at which point we *should* be able to uncover what is going on here.

Next idea to trouble shoot this:  Can you create the filter manually using the `web3.eth.filter` API and see whether that works?

[2017-05-29 22:36] shayanb opened #183 "Updating web3 breaks things"
* Version: 3.8.1
* Python: 2.7
* OS: osx

### What was wrong?
I was trying to get web3 to transact with a Token contract I made, all the call() functions were working but I was getting an error on transact methods or just simply sending transactions.

[code]
Output before Web3 update, error on sending transactions :
[code]

So I decided to update web3 and all the dependencies in the hope that it m

[2017-05-31 15:36] veox opened #184 "Transaction dict key for data differs between getTransaction() and sendTransaction()"
* Version: 3.8.1
* Python: 3.5
* OS: Ubuntu 16.04.2 LTS

### What seems wrong?

When getting a transaction that has data attached with `tx = web3.eth.getTransaction(txhash)`, the data will be accessible via `tx['input']`.

When sending a transaction with data, the expected key for data is `data`.

So, to re-send the same transaction with an increased gas price, something like the following has to

[2017-05-31 18:50] brenzi opened #185 "eth_abi.exceptions.InsufficientDataBytes: Tried to read 32 bytes. Only got 0 bytes"
* Version: 3.8.1
* Python: 3.5
* OS: linux
* Parity v1.7.0-unstable-b0e4c91-20170502/x86_64-linux-gnu/rustc1.17.0

### What was wrong?
While trying to fix #181, I updated my toolchain and now I'm having problems interacting with my contract.

Setting up web3 works fine
[code]
but then I want to call a function
[code]
which fails with:
[code]
And here's my contract, which I did successfully test wi

[2017-06-01 19:31] shayanb commented on #183
this was fixed by using argument names for contract class.

[code]

[2017-06-01 19:31] #183 closed

[2017-06-02 01:56] jeanjluo opened #186 "Error: VM Exception while executing eth_estimateGas: invalid opcode"
* Version: 3.9.1
* py-solc: 1.0.1
* testrpc: 3.0.5
* Python: 3.5
* OS: ubuntu 16.04

I am getting the "Error: VM Exception while executing eth_estimateGas: invalid opcode" error when deploying a contract.

Code:
[code]
Error message:

[2017-06-02 18:08] jeanjluo commented on #175
Just wanted to point out the above code example has an issue. There is no "value" defined in the contract.
 ```trans_hash = MyContract.deploy(transaction={'from':web3.eth.accounts[0],'value':120})```

it should be:
```trans_hash = MyContract.deploy(transaction={'from':web3.eth.accounts[0]})```

[2017-06-02 18:08] jeanjluo commented on #186
Just figured out it is an issue with the contract

[2017-06-02 18:08] #186 closed

[2017-06-05 11:28] veox opened #188 "Specifying `topics` to `web3.eth.filter` gives empty list for past events"
* `web3.py` version: 3.8.1 (web3[gevent])
* node: `geth 1.6.5-stable`, local (via IPC)
* Python: 3.5
* OS: Ubuntu 16.04.2 LTS

### What seems wrong?

Retrieving past log events while specifying `'topics'` gives an empty list, if value of `'topics'` is a list with more than one element.

I was under the impression that the filter will match any event that's in `'topics'`. This seems not to be the c

[2017-06-08 20:42] TrekDev opened #189 "Contract function bytes encoding"
* Version: latest pip release
* Python: 3.5
* OS: linux

### What was wrong?
I have a contract that returns bytes (in this case an IPFS address). The type returned in python is a string and I can't figure out the encoding:

[code]

How can I get addr as a bytearray/bytes so I can base58 encode it (ie. "Qm...")? I've tried converting with bytes(addr) and encoding in base58 but I can't seem to corre

[2017-06-18 21:53] mikeshultz commented on #185
Seeing a similar issue with a function that returns boolean.

    Traceback (most recent call last):
      File "/var/venvs/web3/lib/python3.6/site-packages/web3/contract.py", line 767, in call_contract_function
        output_data = decode_abi(output_types, return_data)
      File "/var/venvs/web3/lib/python3.6/site-packages/eth_abi/abi.py", line 108, in decode_abi
    return decoder(stream)

[2017-06-18 22:34] mikeshultz commented on #185
I'm assuming our issues here are the same, and it looks like the problem is likely with `ethereum-abi-utils`.  Perhaps only with solidity contracts?  Anyway, it seems that functions that return 0 and false have a 0 byte return, and when [being parsed by `read_data_from_stream`, it looks for a 32 byte return](https://github.com/pipermerriam/ethereum-abi-utils/blob/master/eth_abi/decoding.py#L243).

[2017-06-19 00:55] mikeshultz commented on #185
I just put together a test contract that returned both `false` and `0` from some of its functions and they all returned as they should `0x0000000000000000000000000000000000000000000000000000000000000000`.  I can only suspect that both my and your contracts are not deployed properly, the address for the contract is wrong, or the ABI is a mismatch for the deployed code.

One potential bug that stick

[2017-06-19 01:21] mikeshultz commented on #185
@brenzi It could also be that `subscriber_count` was not initialized with a value(`0`).  At least, it appears to have been my problem that for me it was an uninitialized `struct` in a `mapping`.

Importantly, in the geth console, `0x` apparently will still translate to `false`(and perhaps `0` in your case), but using JSON-RPC(that web3.py uses), does not and errors out.  I can't really say what's

[2017-06-19 06:03] brenzi commented on #185
@mikeshultz Thanks for the suggestion. I've changed the constructor
[code]
and added the "constant" keyword as you suggested
[code]

Unfortunately, this doesn't change the result. Still get
[code]

[2017-06-19 17:01] frosty00 commented on #183
I had the same issue. It seems it can also be reproduced by trying to set
`this_contract.abi = json.loads(abi_json)`
after the contract class had been initiated

[2017-06-19 19:40] PavelPolyakov commented on #186
Hi @jeanjluo ,

I also experience issues with my contract (I believe).

In particular get the same `VM Exception while executing eth_estimateGas: invalid opcode` error.
Any hints what exactly was wrong in your contract? And how you managed to debug it?

Regards,

[2017-06-20 07:08] brenzi commented on #185
When I do as you wrote it works:

[code]

Thanks!

[2017-06-20 07:12] brenzi commented on #181
@pipermeriam I finally found time to look into this again. Now that my contract is fixed and now deployed on Kovan, I did your proposed test:
[code]
I guess that's not what you wanted to see?

[2017-06-20 08:02] brenzi commented on #181
I'm trying your suggestion to manually create a filter and observe
another strange behaviour:

[code]

According to http://web3py.readthedocs.io/en/latest/web3.eth.html#filters
The second call should return false becasue the filter has already been uninstalled

[2017-06-20 08:29] brenzi commented on #181
Manual test:
[code]

[2017-06-23 14:56] pipermerriam commented on #150
Recommend using the utility functions from `eth_utils` for address validation and normalization.

[2017-06-24 11:07] veox commented on #189
v3.8.1? Please be explicit, three months from now "latest" could change.

I've also experienced this, [in this test case](https://gitlab.com/veox/ens-bugbounty/blob/1cf4bb10d082e5da63fcf1edcb1fa1cff269caf4/tests/test_hashregsimplified.py#L199) I think.

Haven't had time to dig for cause yet.

[2017-06-24 20:47] carver commented on #184
Note that this same problem exists directly in `geth attach`, so this would be papering over geth's issue. I haven't tested if it also happens in parity, etc.

[2017-06-24 22:41] veox commented on #184
Ah!

@pipermerriam: If this should be taken upstream, perhaps you know where "upstream" is? `go-ethereum`? Both that and `parity`? The `EIP` community?..

[2017-06-26 18:32] raymondcarl opened #190 "Trying to Troubleshoot a Problem Between Either Requests, Web3py, or Parity"
* Version: 3.8.0
* Python: 2.7
* OS: linux

### What was wrong?
I get an error when I try to extract transaction data using Web3Py.  The error is:  `requests.exceptions.ReadTimeout` (full error is at the bottom)

Code:
[code]

I've done many things to isolate the error.  I do not remember which version I was using, but this seemed to work OK when running back in January.  Now, I'm getting an error

[2017-06-26 18:35] raymondcarl commented on #190
Forgot to mention 2 things:

1. Purpose I'm doing this:  trying to get the full list of all transaction hash and (then) the transaction data.
2. This also could've happened previously when I thought that it was working back in January, but I noticed today that I think imap() in the multiprocessing might bury errors.... Seems strange, but there were some errors I didn't noticed until I started usin

[2017-06-26 18:43] pipermerriam commented on #190
What I *think* is happening is that your parity/geth node is taking a long time to respond to the request and thus, the request is timing out.  I have two things I'd suggest you try.

1. Instead of using the `KeepAliveRPCProvider` switch to use the `HTTPProvider`.  You'll need to change how you instantiate the provider to the following.  This is largely a superficial change but it should save you

[2017-06-26 20:29] raymondcarl commented on #190
That could be it.  Despite the actual purpose Ethereum was created for, I run the nodes and application on Google Cloud.  I downsized the machine a few months ago.  I originally dismissed the idea that it was hardware related because I watched the CPU, RAM, and IOPS during the Web3Py process.  They all seemed OK and nothing was maxed out.  I was thinking there might be some cap on the max number o

[2017-06-27 19:31] raymondcarl commented on #190
@pipermerriam

It seems to be working OK so far on a normal machine versus a tiny machine.  But I was paying closer attention to the parity node and I'm concerned that maybe too many connections are being left open.  Do you know if there is a need in Web3 to "close" a connection after you're done with it similar to what you would do for a database connection (mongoDB, MS SQL, etc.)?

<img width="8

[2017-06-28 20:36] pipermerriam commented on #190
It is quite possible that connections are being left open.  Most of my current web3 usage isn't long running so that may be why I haven't run into this issue.  I am going to close this for now but please re-open if this isn't resolved.

[2017-06-28 20:36] #190 closed

[2017-06-29 00:29] pipermerriam commented on #189
@TrekDev

try using this utility.

[code]

Internally populus uses the `force_bytes` and `force_text` utility functions from `eth_utils` for casting things to/from bytes/text

Let me know if you are still having problems.

[2017-06-29 00:29] #189 closed

[2017-06-29 20:02] raymondcarl commented on #190
@pipermerriam      I'm going to leave it closed.  I think in general, the multiprocessing package should probably be avoided with Web3, but I don't know enough to confirm.  By the way, could you run this command?  `web3.eth.getBlock(3853348)`

[code]

[2017-06-29 20:04] raymondcarl commented on #190
@pipermerriam   oh forgot to mention that I confirmed this:
[code]

[2017-06-30 17:10] pipermerriam commented on #190
@raymondcarl regarding your previous error, I suspect that's due to connecting to a node that's not fully synced?

[2017-06-30 18:26] Haruka321 opened #192 "TypeError: string indices must be integers"
Version: newest
Python: 2.7 & 3.5
OS: linux

I get the error "TypeError: string indices must be integers" in line 12 "print(con.call().getBalance())"

[code]

Is there anything wrong with the code? There isn't that much documented so I can't tell it for sure

[2017-06-30 22:01] veox commented on #189
It seems both @TrekDev and I were expecting a call like that would perform type deduction behind the curtain.

The [docs for this method](https://web3py.readthedocs.io/en/latest/contracts.html#web3.contract.Contract.call) seem to suggest that it does, at least for Solidity functions that return `uint`.

Maybe a note on type deduction (or lack of any such guarantees) is in order.

[2017-06-30 22:06] veox commented on #188
Perhaps I misunderstood the functionality, and the filter matches messages with *all* of the specified topics, not *any*.

This is also probably node-dependent.

If so, OK to close.

[2017-06-30 22:12] veox commented on #188
Re-read [the docs](https://web3py.readthedocs.io/en/latest/contracts.html#web3.contract.Contract.on):

So, perhaps what I needed was

[code]

instead of

[code]

Even if this is dependent on the node backend, it may be useful to clarify that dense passage in the docs with an example.

[2017-07-03 16:12] pipermerriam commented on #188
I think this would be a good idea.  Docs could use a lot more examples surrounding filtering.

[2017-07-03 16:36] pipermerriam commented on #189
I think this is a reasonable change to the API.  Currently, all of the `bytesXX`, `string` and `bytes` types will be returned as text (not bytes) strings.  Seems appropriate to modify this to return them as bytes since that format is canonical and not subject to trying to infer how they are encoded.  Will open a new issue for this.

[2017-07-03 16:43] pipermerriam opened #193 "Return `bytesXX`, `bytes` and `string` types as byte strings"
### What is wrong?

Currently, contract functions which return any of `bytesXX`, `string`, or `bytes` will have their values returned as text strings.  This is not intuitive as it requires the user to infer the proper encoding if they wish to perform some other conversion.

### How can it be fixed.

Change to return byte strings.

#### Where to start in the code

The `web3.contract.call_contract_f

[2017-07-03 17:26] veox commented on #189
goto: #193

[2017-07-03 17:26] pipermerriam commented on #192
Can you post the full stack trace for the error?

[2017-07-03 18:35] pipermerriam commented on #185
This looks like the same error as #161 .  This is what happens when you try to read data from an empty address (an address that has no code associated with it).

If you call `web3.eth.getCode(address)` on the address of the contract you are interacting with, what is the result?

[2017-07-03 18:39] pipermerriam commented on #184
Yes, I would consider this an upstream bug as both of these methods conform to the JSON-RPC spec.

[2017-07-03 18:39] #184 closed

[2017-07-03 18:40] pipermerriam commented on #184
It's not a trivial EIP to create, but having a formal agreed upon RPC spec that the clients could test against would be really powerful.  I know @flyswatter (Dan Finlay) was working on something like this at one point but I don't know what the progress was.

[2017-07-03 18:45] #179 closed

[2017-07-03 19:03] flyswatter commented on #184
You refer to [EipSignal](https://github.com/MetaMask/IPFS-Ethereum-Hackathon/issues/14), which proposes using a DAO to manage a [public compatibility table](http://cdetr.io/eth-compat-table/) whose test spec format is up for discussion in [eip 217](https://github.com/ethereum/EIPs/issues/217).

I largely passed off the creation of that DAO to the Boardroom team for the moment, because they had som

[2017-07-03 19:52] Haruka321 commented on #192
Thanks for the quick response
Thats the full error log
[code]

[2017-07-03 20:05] mikeshultz commented on #185
@pipermerriam My problem was not with an invalid address.  The other contract methods worked without issue.  The problem was that my contract was returning a value from an uninitialized `struct`(uninitialized memory, I guess) which caused the error condition.  The `0x` return seems to be a catch-all for every kind of error condition, since @brenzi's problem was different than mine, which also wasn

[2017-07-03 21:02] pipermerriam commented on #192
Looks like you are not passing in a valid ABI (or that the ABI you are passing in is still a JSON string).  The `web3.eth.contract` API requires that the `abi` parameter be a dictionary (the result of parsing the JSON string).

I'm closing this under the assumption that this is the case.  Re-open if it is not.  I'm opening a new issue to add validation to the `abi` parameter to make it harder to m

[2017-07-03 21:02] #192 closed

[2017-07-03 21:11] pipermerriam opened #194 "Add validation to the `abi` parameter for `web3.eth.contract`"
* Version: `<=3.8.1`

### What was wrong?

The `abi` parameter used in `web3.eth.contract(...)` should be checked to be a valid contract ABI.

### How can it be fixed.

* Validate that it's a list (or tuple).  Suggest using the [`eth_utils.is_list_like`](https://github.com/pipermerriam/ethereum-utils#is_list_likevalue---bool) utility.
* Validate that all elements of the list are dictionaries.  Sug

[2017-07-03 22:33] pipermerriam commented on #185
@mikeshultz thanks for the clarification.  Sorry for missing that.  Definitely a different issue.

What would you expect the behavior to be in this situation?

[2017-07-04 01:28] mikeshultz commented on #185
That's a good question.  The `geth` console just treats it as `false`/`0` but I'm not so sure that's helpful since it is pointing out an error condition.  I don't think I have any good ideas here.  A more informative exception could help, but really you're trying to do a catch-all on every kind of EVM error there is.  There may be no good way to handle this in the library.

[2017-07-04 07:54] mzobe opened #195 "Cannot Call Event"
* Version: 3.1.8
* Python: 2.7
* OS: MacOS Sierra

Connected successfully with geth 1.5 running on a FreeBSD 11.

from web3 import *

web3 = Web3(KeepAliveRPCProvider())

print web3.eth.accounts //getting the account

I cannot monitor event changes from the following contract:

pragma solidity ^0.4.0;

contract Title {

    address title;
    string _name;
    string _details;
    string _date;

[2017-07-04 14:03] #123 closed

[2017-07-04 14:03] #168 closed

[2017-07-06 16:50] raymondcarl commented on #190
@pipermerriam   yeah, I thought the same thing, but I was getting the response OK, for blocks starting at approximately 3.9 million.  Going to try it again today on a new node, but it was really strange.

[2017-07-07 02:47] pipermerriam commented on #194
Done in #196

[2017-07-07 02:47] #194 closed

[2017-07-09 19:38] owocki commented on #175
Hi folks,

I cannot for the life of me figure out how to run a function inside a deployed contract without deploying the contract myself first.

Hopefully this is considered "inside the scope" of this issue, if not, I am happy to open another issue.

I've got the code in [Piper's example](https://github.com/pipermerriam/web3.py/issues/175#issuecomment-294518608) running fine, but what I can't figu

[2017-07-09 20:25] owocki commented on #175
I figured it out.  testrpc (which is the RPC provider I am using, instead of localhost:8200 like the demo) resets after after single instanstiation of my script.  Thereby, the contract was no longer deployed!

I switched over to a persistent testrpc instance and that did the trick.

Thanks for being my :rubber_ducky:

✌️ !

[2017-07-10 17:14] pipermerriam commented on #175
Closing as I think this is resolved.  I'm a big 👍 on having a "this is how you do common contract interactions" section for the documentation.  If anyone wanted to write that I'd be grateful.  I'm currently swamped with *all the other things*.

[2017-07-10 17:14] #175 closed

[2017-07-10 22:23] djrtwo commented on #193
Issue was resolved via this merged PR https://github.com/pipermerriam/web3.py/pull/197.
This can be closed

[2017-07-15 15:31] veqtor commented on #181
has this been resolved? Also getting this with testrpc, works in remix

[2017-07-16 12:56] veqtor commented on #195
Also having this issue

[2017-07-18 15:27] pipermerriam commented on #150
Done via #199

[2017-07-18 15:27] #150 closed

[2017-07-18 15:46] djrtwo commented on #193
@pipermerriam Ping! This can be closed

[2017-07-18 15:56] pipermerriam opened #203 "Add checksum validation to address parameters."
### What is wrong?

There are *many* methods in the Web3 api which take an address as an argument. When a [EIP55](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md) checksummed address is passed into these functions, the checksum is not validated.  It should be.

### How can it be fixed?

In any place where a function or method takes an address an argument, that address should be checked

[2017-07-18 16:40] pipermerriam opened #204 "Migrate from `eth_utils.compose` to `toolz.functoolz.compose`"
### What is wrong?

The library currently uses the [`compose`](https://github.com/pipermerriam/ethereum-utils#composecallables---callable) function from the [`ethereum-utils`](https://github.com/pipermerriam/ethereum-utils) library.  This function has been deprecated as of `ethereum-utils>=0.3.0`

### How can it be fixed?

* Add the [`toolz`](http://toolz.readthedocs.io/en/latest/index.html) libra

[2017-07-18 16:45] pipermerriam commented on #203
If you upgrade the `ethereum-utils` requirement to `>=0.3.0` you can use the new [`is_checksum_formatted_address`](https://github.com/pipermerriam/ethereum-utils#is_checksum_formatted_addressvalue---bool) utility to check whether the value *looks* like a checksum address prior to validating the checksum with [`is_checksum_address`](https://github.com/pipermerriam/ethereum-utils#is_checksum_address

[2017-07-18 16:55] #193 closed

[2017-07-18 22:50] djrtwo commented on #203
@pipermerriam Would this throw a ValueError?

[2017-07-18 22:59] djrtwo commented on #204
Picking this up. going to knock this one out before 203

[2017-07-19 02:51] pipermerriam commented on #203
Either `ValueError` or a new custom exception `ValidationError`.  I think I prefer defaulting to `ValueError` until we have an explicit need to catch this specific exception.

[2017-07-19 21:03] pipermerriam commented on #204
done in #205

[2017-07-19 21:03] #204 closed

[2017-07-19 21:03] pipermerriam commented on #203
Done in #206

[2017-07-19 21:03] #203 closed

[2017-07-20 22:50] pipermerriam commented on #161
Fixed in #207

[2017-07-20 22:50] #161 closed

[2017-07-21 19:22] carver opened #208 "Default string encoding is not utf-8"
* Version: 3.10.0
* Python: 3.5
* OS: linux

### What was wrong?

I was expecting success here:
`assert web3.sha3('ß', encoding='bytes') == web3.sha3(bytes('ß', encoding='utf-8'), encoding='bytes')`

The Ethereum ABI definition says to expect strings to be utf-8 encoded:
https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI#argument-encoding

This probably has broader impact across other con

[2017-07-24 13:46] veqtor opened #209 "Calling contract on past events, or filter get returns [] when using TestRPC"
* Version: 3.5.0 -> 3.10.0
* Python: 3.5
* OS: osx

Not getting any events, past or currents, when calling get() on either event filters.
I don't really want to post my contract but in any scenario when using testRPC I'm not getting any events at all. I've tried everything, fromBlock,  etc

Also tried downgrading to as low as 3.5.0 and it didn't solve it.
I'm thinking it might be a testrpc related

[2017-07-24 16:01] pipermerriam commented on #209
Yes, this is almost definitely an eth-testrpc issue.

FYI, I'm not planning on focusing on this codebase much longer as I'm in the process of fully replacing it with a new library which can be found here: https://github.com/pipermerriam/ethereum-tester

`eth-tester` isn't ready for use, but it'll present very similar functionality but with a completely re-written codebase that's better tested.  Fi

[2017-07-25 10:56] brenzi commented on #181
no, hasn't been resolved for me...still hoping for support

[2017-07-25 17:09] reverendus opened #210 "`web3.eth.syncing` throws `'bool' object is not iterable`"
* Version: 3.10.0
* Python: 3.6
* OS: osx

### What was wrong?

Attempting to get the value of `web3.eth.syncing`:
[code]

causes the following error:
[code]

Node: `Parity/v1.6.8-beta-c396229-20170608/x86_64-macos/rustc1.17.0`

Used to work in 3.8.0.

[2017-07-28 06:08] tony71318 commented on #195
I can't get or watch contract's event.
However, transaction filter works for me though.

How can i fix the code or this is this library's own issue?

`event = myContract.on('event_test')
event.web3.eth.getFilterLogs(event.filter_id)`
or
`event.get()`

These get methods always return empty list.
Need help, thank you.

[2017-07-28 15:24] pipermerriam commented on #195
What I *think* your running into is errors in the testrpc codebase.  The filtering code and logic in that codebase was written a long time ago and it's not surprising to me if it's the cause.  I'm close to wrapping up a rewrite of that codebase as a new library that should be released within a few weeks which will fix this.  In the meantime, feel free to dive into the testrpc code and see if you c

[2017-07-28 15:27] pipermerriam commented on #195
btw, I'm sorry this is causing you development troubles.  I am currently stretched very thin across the code-bases that I manage and am having to be very deliberate in where I allocate my time.

[2017-07-31 04:45] pipermerriam opened #213 "Switch to `ctoolz library"
### What was wrong?

The `toolz` library is pretty awesome, but it is all pure python and thus, as slow as other pure python *stuff*.

Turns out there is a c implementation of the entire library!  https://pypi.python.org/pypi/cytoolz

### How can it be fixed?

Change to use [`ctoolz`](https://pypi.python.org/pypi/cytoolz)

[2017-07-31 20:29] userpasta opened #214 "web3.personal.unlockAccount doesn't accept integer as unlock period parameter"
* Version: 3.9.0
* Python: 2.7
* OS: not platform specific

### What was wrong?
Method web3.personal.unlockAccount doesn't accept integer as unlock period parameter.
Example:
`web3.personal.unlockAccount(eth_address, 'strongPassword', 10000)`
returns `ValueError`:
`ValueError: {u'message': u'invalid type: integer `10000`, expected a 0x-prefixed, hex-encoded number of type U128', u'code': -32602, u

[2017-08-01 16:32] carver commented on #214
Presumably you meant that `web3.personal.unlockAccount(eth_address, 'strongPassword', '0x2710')` works as expected?

[2017-08-01 17:11] userpasta commented on #214
Yes! Apologies, copy paste fail.

[2017-08-02 16:23] carver opened #215 "web3.toHex(b'0x\xde\xad') gives '0xÞ\xad' instead of '0xdead'"
* Version: 3.11.0
* Python: 3.5
* OS: linux
* Node: geth

### What was wrong?

`Web3.toHex()` doesn't convert bytes back to hex if they happen to start with '0x'

[code]

### How can it be fixed?

If `bytes` are passed into web3.toHex, don't try to auto-detect that it's already hex, just convert it.

[2017-08-02 20:51] userpasta opened #217 "HTTP connection times out"
* Version: 3.9.0
* Python: 2.7
* OS: linux (ubuntu 16.04)

### What was wrong?
HTTP connection times out during contract method `transact()` execution.

* The code which produced the error
[code]
* The full output of the error:
[code]
* What type of node you were connecting to.
Local node

On my virtual machine first transaction was successfull and 2nd, 3rd and so one failed. There was 5-30 minute

[2017-08-02 22:02] #215 closed

[2017-08-02 22:04] carver commented on #210
A fix was pushed in 3.11.0

@reverendus can you confirm?

[2017-08-02 22:08] #210 closed

[2017-08-02 22:32] reverendus commented on #210
Just checked, seems to be fine in 3.11.0.
Thanks!

[2017-08-04 19:42] pipermerriam opened #218 "Create new `Web3.soliditySha3()` helper function"
### What is wrong

I can be useful to have a function which replicates the `sha3` functionality from solidity.

### How can it be implemented.

It needs to behave the same as `sha3` in solidity which means it needs to know the *types* for its inputs in order to properly pack the bytes representations correctly.  The following API should be sufficient.

[code]

[2017-08-04 19:44] pipermerriam commented on #218
This isn't entirely easy pickins but it should be do-able by someone with a bit of domain knowledge.  I think using the existing js implementations of this method would be a good place to start figuring out the best way to implement it.

[2017-08-07 23:25] djrtwo commented on #213
Did the migration. Everything works fine except when calling `pytest` in `conftest.py` where `functools.wrap` is expecting `cytoolz.functoolz.Compose` to have `__module__` defined but it does not. Using `toolz.compose` rather than `cytoolz.compose` in this one instance is a decent work around if we want to get this merged right now.

I've opened up an [issue](https://github.com/pytoolz/cytoolz/iss

[2017-08-07 23:40] pipermerriam commented on #213
Can you do this as a local work-around.

[code]

Easy workaround.  Thanks for doing this.

[2017-08-08 04:40] djrtwo commented on #213
Turns out the actual `Compose` class needs __module__ defined. Tried to import it and just monkey patch it but can't because it's compiled c-code.
[code]
error:

Dug around but not sure best way to proceed. Any other proposed workaround?

[2017-08-08 04:51] pipermerriam commented on #213
pull the implementation that currently lives in the `ethereum-utils` library and vendor it into this codebase with a link to the offending issue in the `cytoolz` repo so that we know where to check if the issue is fixed, then we can remove the local implementation.

[2017-08-08 04:51] pipermerriam commented on #213
https://github.com/pipermerriam/ethereum-utils

[2017-08-08 06:15] lakraj opened #220 "Error while trying contract.deploy() function"
* Python: 2.7/
* OS: Ubuntu 16.04

### What was wrong?
I am trying to deploy an instance of a sample contract I have in testrpc.
I have read in the abi and bytecodes of the sample contract into my .py file.
contract
[code]

bytecode:
[code]

Please include any of the following that are applicable:

* The code which produced the error
[code]
* The full output of the error
[code]

* What type of nod

[2017-08-08 13:28] djrtwo commented on #213
@pipermerriam the very function I removed a couple of weeks ago! PR coming

[2017-08-08 14:36] pipermerriam commented on #213
:P  thanks for your persistence on this not-so trivial complication.

[2017-08-09 11:52] livnev opened #223 "getFilterChanges() dies during infrequent polling"
* Version: 3.11.0
* Python: 3.5
* OS: linux (debian buster)

### What was wrong?

Calling `getFilterChanges()` at intervals of at least 60 seconds results in it dying and returning nothing but `[]`. Here is a script I produced that will reproduce the bug:

[code]
The buggy output looks like this:
[code]

I have reproduced this bug on two different machines running `web3` on `python3.5`: a laptop a

[2017-08-09 12:11] livnev commented on #223
Maybe there is some `gevent`-related subtlety that I'm not understanding, as discussed [here](https://github.com/pipermerriam/web3.py/issues/104).

[2017-08-09 15:05] livnev commented on #223
I've now realised that this is a parity [*feature*](https://github.com/paritytech/parity/blob/a8a11e56dbd3f9727f741d65c0da381cb1e220c0/rpc/src/v1/helpers/poll_manager.rs#L22).

[2017-08-09 15:05] #223 closed

[2017-08-09 21:52] jantristanmilan opened #226 "Getting past event logs throws "ValueError: Expected 0 log topics. Got 1" after adding indexed parameters to event"
* Version: 3.11.0
* Python: 3.6.2
* OS: osx
* Provider: testrpc

Solidity contracts compiled and deployed using Truffle. I just used the compiled JSON files in my Django App. I was able to retrieve the logs before using the same code. But I encountered this problem after adding an `indexed` modifier to one of the parameters of the event.

Signature of Event:
EventCreated(uint256 indexed var1, stri

[2017-08-10 04:42] pipermerriam commented on #226
Can you post the ABI for the `EventCreated` event?

[2017-08-10 04:44] pipermerriam commented on #226
It looks like your ABI that you are using with your contract doesn't match the ABI of the event that is being logged.  The error you are receiving is web3 detecting that the log entry it is trying to decode does not match the format that it expects based on the event ABI and so it throws an error.

[2017-08-10 05:40] jantristanmilan commented on #226
Oh I just used EventCreated as a template name for a code that reproduces the bug. The sha3 in the first example was an ABI for another function.

But I tried pasting all the sha3 in the JSON and it didnt work either

[2017-08-10 06:29] jantristanmilan commented on #226
I tried reproducing the bug again in and it no longer appeared after I recompiled the contracts and repasted the JSON files. I must have committed a blunder in pasting the updated contracts before. Thanks for assisting me!

[2017-08-10 06:29] #226 closed

[2017-08-10 13:11] djrtwo commented on #218
I'm looking into this.

A few questions:
- Would this live in main.py?
- Tests would be to get some real output from the solidity function and test again?
- Should it actually be called `keccak256` with `sha3` being an alias?

[2017-08-10 16:08] djrtwo commented on #218
Planning on building out support for following types:
- 'bool'
- 'uint8' to 'uint256' in steps of 8
- 'address'
- 'bytes1', 'bytes2', ..., 'bytes32'
- 'bytes32.byte' (alias for bytes1)
- 'bytes'
- 'string'
- arrays of all acceptable types
- multidimensional arrays

Note: keccak of mapping looks currently unsupported in solidity
Attempted keccak256 on any type of mapping leads to similar error:

[2017-08-11 00:23] carver opened #227 "isAddress() does not confirm the checksum"
* Version: 3.11.1
* Python: 3.5
* OS: linux

### What was wrong?

I expected an `isAddress()` call on an address with an invalid checksum to fail.

According to the [docs](http://web3py.readthedocs.io/en/latest/web3.main.html?highlight=checksum#web3.Web3.isAddress):

[code]

### How can it be fixed?

`Web3.isAddress` is a passthrough to `eth_utils.is_address`. At first glance `is_address` doesn't

[2017-08-11 22:41] djrtwo commented on #213
ready to close

[2017-08-14 16:30] mattvick opened #230 "Contract pastEvents() not working"
* Version: 3.11.1
* Python: 3.5.3
* OS: macOS 10.12.6

I'm connecting to the **Kovan** network using **Parity 1.7.0** on **localhost**

### Querying a contract for past events returns an empty array

The code that produces the bug:
[code]

### Dropping into the lower level `web3.eth.filter` works

Code that works:
[code]

This is not particularly helpful as I would now need to duplicate Contract f

[2017-08-15 21:05] djrtwo opened #234 "Testing errors related to `validate_address`"
* Version: current master
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

Build failing due to stricter address checksum validations from a [recent commit](https://github.com/pipermerriam/ethereum-utils/commit/ff55ae54fd7e642be324d5a001123548aa3eb5c1) in [ethereum-utils](https://github.com/pipermerriam/ethereum-utils).

### How can it be fixed?
update `validate_address` and related

[2017-08-15 21:06] djrtwo commented on #234
working on this now

[2017-08-18 00:35] carver commented on #227
Waiting on the test update in: https://github.com/pipermerriam/web3.py/pull/235

Then will update in web3utils and here

[2017-08-18 03:47] pipermerriam commented on #234
fixed in #235

[2017-08-18 03:47] #234 closed

[2017-08-18 22:15] carver commented on #227
Waiting for the next deploy

[2017-08-23 15:31] djrtwo commented on #214
@userpasta I'm having trouble reproducing this error when connecting to a geth node. There is also a test in `test_personal_unlockAccount.py` that explicitly uses an integer argument. On top of that, I tried with a hex-string for duration parameter and got the following error

[code]

What type of node are you connecting to? `geth`, `testrpc`, `parity`, etc...
Considering there is not explicit che

[2017-08-23 15:46] mattvick opened #242 "How do I stop a running filter?"
* Version: 3.11.1
* Python: 3.5.3
* OS: macOS 10.12.6

I'm connecting to the **Kovan** network using **Parity 1.7.0** on **localhost**

### How do I stop a running filter started with `Filter.watch(*callbacks)`?

When I try to stop a running filter, by calling `stop_watching()` inside it's callback, I receive a `RuntimeError: cannot join current thread.` error.

Some code to better explain:
[code]

[2017-08-23 16:00] pipermerriam opened #243 "The `web3.utils.datastructures.AttributeDict` should offer an API for recursive converstion to attribute dicts."
### What was wrong?

[code]

This behavior is correct because we don't want to *magically* convert everything because explicit is better than implicit, **but**, it would be good to have an API to allow recursive attribute dict creation.

### How can it be fixed?

New api `AttributeDict.recursive(value)` which recursively walks down into the value and converts things to attribute dicts.

This shoul

[2017-08-23 17:57] carver commented on #243
There shouldn't be any circular references in normal operation, but I'll add a test for that too

[2017-08-23 23:32] #213 closed

[2017-08-24 15:07] djrtwo commented on #218
@pipermerriam ready to close

[2017-08-24 16:00] djrtwo opened #248 "`validate_abi_value` should validate specified array lengths"
* Version: 3.13.0
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

Call to `validate_abi_value` should validate array length if specified.
`validate_abi_value("bool[2]", [True, False, True])` should throw an error because of mismatched array length from the abi-type.

### How can it be fixed?
`validate_abi_value` should parse length of array from `abi_type` (if specified) and check

[2017-08-24 19:33] pipermerriam opened #251 "Drop gevent support"
### What was wrong?

Gevent support is a leftover feature from a long time ago when all of the threading/async code in these libraries was gevent based.  Given that gevent users can use the monkeypatching approach, I'm inclined to remove support.

[2017-08-24 23:37] pipermerriam opened #254 "Use the `rpc_modules` API"
### What was wrong?

The Management APIs for the go-ethereum RPC expose a method `rpc_modules`.

https://github.com/ethereum/go-ethereum/wiki/Management-APIs#enabling-the-management-apis

It returns data that looks like this:

[code]

### How can we use it?

We should use this (when it is available) to determine which APIS are enabled on the `web3` object.

This needs to account for the following:

[2017-08-25 12:36] Fefe42 opened #256 "Send and sign a raw Transaction with non-empty data field (as described in the docs) fails"
* Version: 3.11.1
* Python: 3.5
* OS: Ubuntu 16.04 lts

I tried to create, sign and send a rawTransaction with a **non-empty** data field to call a function of my smart contract, as it is described here in the documentation: http://web3py.readthedocs.io/en/latest/web3.eth.html?highlight=Contract#web3.eth.Eth.sendRawTransaction

### What was wrong?

Apparently the hex value of the signed transactio

[2017-08-25 13:48] sivachaitanya commented on #220
Did you try
betContract = web3.eth.contract(abi=abi, bytecode=bytecode)
betContract.deploy(transaction={"from":web3.eth.accounts[0],"gas" : 3000000} )

[2017-08-25 17:28] carver commented on #256
It appears that the docs need an update, because the `Transaction` api has changed since they were written.

Try sending data as a bytes instead:

[code]

You can get the bytes with: `Web3.toAscii('0x7f7465737432000000000000000000000000000000000000000000000000000000600057')`

[2017-08-25 18:07] Fefe42 commented on #256
Yes, it worked. Thank you very much!

I looked at https://github.com/ethereum/pyethereum/blob/develop/ethereum/transactions.py, but obviously I overread that tiny little detail ...

[2017-08-25 18:14] sivachaitanya opened #259 "web3.eth.sign have different signatures generated in web3js and web3py"
* Version: 3.11.1
* Python: 3.4
* OS: osx

### What was wrong?
web3.eth.sign(account,web3.sha3(plaintextdata)) is generating different signatures in web3js and web3py
Please include any of the following that are applicable:

* The code which produced the error
[code]
So the above code is generating different signatures in web3js and web3py. I doing ecrecover in Solidity and the appending the '\x19

[2017-08-25 23:16] djrtwo commented on #259
@sivachaitanya Can you post the web3.js snippet of code as well?

[2017-08-25 23:57] djrtwo commented on #259
@sivachaitanya Looks like web3.py is expecting a string not in hex and encoding it as hex no matter what. So your sha3 is something of the form `'0xb68fe43f0d1a0d7aef123722670be50268e15365401c442f8806ef83b612976b'` and being hex encoded to something of the form `'0x307862363866653433663064316130643761656631323337323236373062653530323638653135333635343031633434326638383036656638336236313239373662'`

[2017-08-26 05:26] #256 closed

[2017-08-26 06:08] sivachaitanya commented on #259
Thanks for the quick reply Danny, From your suggestion sending the generated web3js signature from hex of password to Ecrecover function of solidity gives me totally different address. The code that is working at web3js end which gives me correct address when I sign the sign the message is -

web3js code -
[code]

Ecrectest.sol -
[code]

So this combination of web3js and doing Ecrecover of web3js

[2017-08-26 11:41] veox commented on #227
PR #235 has been merged.

Should be OK to close?..

[2017-08-26 17:47] #227 closed

[2017-08-26 18:11] carver commented on #227
Thanks for catching this @veox

[2017-08-26 19:04] carver commented on #259
sha3() takes an encoding parameter, which defaults to hex. If you want to pass it bytes instead, you can use:

`web3.sha3('password'.encode('utf-8'), encoding='bytes')`

If the value is all ascii characters, this is equivalent to:

`web3.sha3(b'password', encoding='bytes')`

The sha3 implementation could use some love, though:

* The encoding dispatch accepts any value besides hex and treats it as

[2017-08-27 12:57] sivachaitanya commented on #259
@carver Thank you for your response, But here the problem is the signature generated by web3py when inputted inside the Ecrecover of solidity with v,r,s variables extracted from web3js gives me incorrect address with or without the prefix. SHA3 in both the web3js and web3py seems to matching but the eth.sign seems to produce different results. I have correct address generated from web3js end but c

[2017-08-27 17:21] jannikluhn opened #270 "web3.eth.sendTransaction parameter encoding broken"
* Web3 version: 3.13.2
* TestRPC version: 1.3.0
* Geth version: 1.6.7
* Parity version: 1.7.0

### What was wrong?

[code]
This fails.

Error message from Parity:
[code]

Error message from Geth:
[code]

[2017-08-28 12:50] djrtwo commented on #259
@sivachaitanya The following is a hack until `web3.eth.sign` can handle hex_encoded strings:
[code]

Because `sign` expects a non-hex_encoded string ("non '0x' prefixed"), you can `decode_hex` on the output of `sha3` then pass that to `sign`. I have verified that this method does replicate the output in web3.js of the following:
[code]

@carver I think this warrants a change to `web3.eth.sign`. Th

[2017-08-28 12:52] djrtwo commented on #259
@sivachaitanya Note: do not run `decode_hex` on a regular string or byte string to sign. If you wanted to sign `msg = "some super cool message"` you would just do the following:
[code]

[2017-08-28 20:01] jannikluhn commented on #270
Fixed in v3.13.3

[2017-08-28 20:01] #270 closed

[2017-08-29 05:37] sivachaitanya commented on #259
@djrtwo  Danny, seems like the signature generated using web3.eth.sign in web3 py is not matching with web3.eth.sign in web3js,

![chrome_2017-08-29_10-55-15](https://user-images.githubusercontent.com/6172334/29805699-edd7071a-8ca8-11e7-8531-d3630476eedb.png)

Above is the output from web3.js in the browser console for below code -

[code]

![putty_2017-08-22_20-26-55](https://user-images.githubus

[2017-08-29 21:18] xuhcc opened #273 "eth.getTransaction() throws error"
* Version: 3.13.3
* Python: 3.6.2
* OS: Arch Linux

### What was wrong?

I'm trying to get transaction by hash on Rinkeby testnet from Geth v1.6.7 node:

[code]

In Geth console:

[code]

[2017-08-29 22:45] carver commented on #273
The key feature of this transaction appears to be that it's a contract creation (ie~ `to` is null). I am looking for a test case for that right now, and will add one if I don't find it.

[2017-08-29 23:36] #273 closed

[2017-08-29 23:37] pipermerriam commented on #273
@xuhcc this is fixed and available in `3.13.4`

[2017-08-29 23:46] #218 closed

[2017-08-30 00:58] arcade16 opened #276 "How to create a contract and store / retrieve data from it?"
I have been looking through all the documentation and can't seem to find a good example of creating a basic contract and storing simple data (like a hex value or string).

Can anyone give me the gist or point me towards a tutorial / code sample to accomplish this (relatively) simple task?

This is as far as I have gotten:
[code]

[2017-08-30 07:17] xuhcc commented on #273
@pipermerriam

Thanks!

[2017-08-30 13:45] djrtwo commented on #259
@sivachaitanya Your sha3 hashes are definitely not matching so any message signing following that will not match. It appears to me that `document.getElementById("message").value` is not returning `"password"`. Can you try running the js example with `var msg = web3.sha3('password') ;` and checking against the python code with the `decode_hex` still in place?

[2017-08-30 13:47] djrtwo commented on #248
ready to close @pipermerriam

[2017-08-30 13:47] djrtwo commented on #214
@userpasta did you see my question above?

[2017-08-30 16:53] carver commented on #276
Answered the same question on stackexchange: https://ethereum.stackexchange.com/a/25522/1461

We can continue the discussion there.

[2017-08-30 16:53] #276 closed

[2017-08-30 17:05] carver commented on #214
@djrtwo were you manually testing at the v3.9.0 tag? Maybe it got fixed in a later version

[2017-08-30 17:06] carver commented on #248
:100:

[2017-08-30 17:06] #248 closed

[2017-08-31 18:11] carver opened #279 "When a contract call results in an empty address, return None"
The next step is to flesh out the specs, and building a design for review. It may or may not require py3.

### What was wrong?

If a contract returns a uint, I want it to get the return value as an `int`. If it is an address, then a value of `0x000...000` should return `None` instead, and so on. (TODO: flesh out)

One motivator is to extract the `web3utils` library from `ens.py` so ENS support can

[2017-08-31 19:35] userpasta commented on #214
Apologies, was OoO.
@djrtwo I'm connected to the parity node. I was testing in v3.9.0. It's not a issue for me to provide the number in hex, but it variable type wasn't consistent with web3js, that's why Piper recommended to file a bug.

Oh, so it's node specific. Looks like a false alarm, feel free to close the bug.

[2017-09-01 23:26] carver commented on #279
Ok, so for some reason, I thought this was a bigger job than it was. Really the only thing I want to change is to make 0x0 addresses return `None`.

This should happen at the end of a contract call, so a new kwarg on contract like `eth.contract(return_none=True)` seems natural. This should be a straightforward change to `normalize_return_type()`

I would just make it happen by default, but it's no

[2017-09-01 23:43] carver opened #284 "Name middleware, for removing/replacing existing middleware"
### What was wrong?

It is difficult to modify or replace existing middleware after you add it.

### How can it be fixed?

Optionally, name the middleware at add time, like:

[code]

Then, you can remove them individually, like:

[code]

Or replace with a new one:
[code]

@pipermerriam referenced some difficulty during [our chat](https://gitter.im/pipermerriam/web3.py?at=59a9e60c210ac26920e721d5)

[2017-09-05 15:14] #243 closed

[2017-09-05 22:41] pipermerriam commented on #279
I don't think it's a good idea to return `None` in place of an empty address.  Reasoning is:

* The empty address is a valid address
* This will introduced a second semantic for the empty address meaning code will now have to both check whether its `0x0000...000` as well as `None`.

Also gets screwy if you want to use the result of one call as the input to another call.

[code]

This would result

[2017-09-06 20:06] carver commented on #279
Ok, I'll pause advocating for this until I see how painful it is to extract out of the ENS lib. I'm not sure how many places will have this transformation required:

From
[code]

To something like:
[code]
For now, it just makes me a little sad that the code won't be as elegant.

----
_But, while we're talking about it..._

I don't agree with all the implications of this:

While technically valid,

[2017-09-06 20:32] pipermerriam commented on #279
It's less about complexity and more about whether it's a decision we should be making for our users.  I *think* that under the principle of least surprise, the expected return value is the null address (as a string).  Returning `None` is likely convenient in many cases but I don't think it should be the default, at least not for the base contract factory class.

What I would be happy to see is thi

[2017-09-07 12:56] djrtwo commented on #259
@pipermerriam Thoughts on this?

`sign` cannot take an 0x-prefixed hexstring because it encodes it as hex no matter what. This makes signing a sha3 hash fail: `web3.eth.sign(account, web3.sha3(s))`. The incorrect signature is unclear to the user, and it is also different functionality than web3.js.

The following is a current hack to make sure it signs correctly
[code]

We could either
- add an op

[2017-09-07 13:32] pipermerriam commented on #259
I didn't have time to fully catch up on this issue, but I wanted to toss this into the mix now so you guys can discuss.

I think it is ok for us to introduce a breaking change to `web3.eth.sign` because it's currently pretty much unusable and basically entirely broken.  So, we can depart fully from the previous API in whatever we do.

[2017-09-07 13:32] DurandA opened #287 "transact() might not renew transaction if called immediately"
When calling [Contract.transact](http://web3py.readthedocs.io/en/latest/contracts.html#web3.contract.Contract.transact) using `EthereumJS TestRPC v4.1.1 (ganache-core: 1.1.2)` instance with `HTTPProvider` immediatelly, it is possible that the same transaction is returned.

A simple test case is a dummy contract with a counter:
[code]
Then use contract.transact().getAndIncrement() several times on

[2017-09-07 17:57] pipermerriam opened #288 "Changes to `web3.sha3`"
### What was wrong?

Currently, the implementation of `web3.sha3` has some unexpected behavior and non ideal behavior.

1. It uses the `web3_sha3` RPC endpoint which allows for different providers to return different values.
2. By default it expects the value to be hashed to be passed in as a hex encoded string.
3. If you specify *any* encoding besides hex, it treats it as if it was bytes.

### Ho

[2017-09-07 18:05] pipermerriam opened #289 "Changes to `web3.eth.sign` (and `web3.personal.sign`)"
### What was wrong?

The current implementation of `web3.eth.sign` is confusing and very difficult to use, as well as being very easy to use *wrongly*

1. It confusingly expect to receive the hexidecimal encoded pre-computed hash of the message to be signed.
2. It doesn't conform to the current web3js implementation.
3. It is fundamentally broken against the modern goethereum backend implementatio

[2017-09-07 18:14] carver commented on #289
Another option to consider is following the web3.js v1 beta model with [several signature options](https://ethereum.stackexchange.com/questions/25601/what-is-the-difference-between-web3-eth-sign-web3-eth-accounts-sign-web3-eth-p):

[2017-09-08 00:19] carver commented on #288
Encoding Confusion
---

There is a caveat to # 2 above, which is that if someone passes `bytes`, then the encoding is meaningless and should be ignored. Also, "encoding" as the keyword argument is confusing here, because it actually means a different thing for each of these options:

1. bytes (it's already encoded)
2. utf8 (take this string of characters, and encode them using utf-8)
3. hex (take

[2017-09-08 16:53] carver commented on #288
I take back the example about `file` in `print()`. It's only a kwarg in py3, and only a builtin in py2.

Here are some alternatives: `hexbytes`, `hexencoded`, `hexdata`, `hexstr`, `hexval`, `zerox`, and `ox`. None of them are as clear _and_ succinct as `hex`. Any other suggestions?

I currently favor `hexstr` as the runner up.

[2017-09-08 17:31] djrtwo commented on #288
@carver I honestly think `hexstr` might be even better than `hex` to make it clear it is not a hex encoded int like `0x1323`.

[2017-09-08 17:45] pipermerriam commented on #288
tossing `hexidecimal` into the pool of options (but feel free to choose the one you think is best)

[2017-09-08 22:33] carver opened #294 "Implement filters as synchronous"
* Version: 3.11.1
* Python: 2.7
* OS: linux

### What was wrong?

This test is occasionally failing in Python 2:

[code]

### How can it be fixed?

The async nature of filters seems to be causing the problem. Reimplement as synchronous. If someone needs async, they can provide that in a layer on top.

### Step 1

Deprecate async functionality.  Both of the following APIs should start raising depre

[2017-09-08 22:37] pipermerriam commented on #294
Lets be sure to include an example in the documentation of how someone would do this with the built in threading or multiprocessing libraries.

[2017-09-09 16:17] DurandA commented on #287
I close the issue as it needs further investigation. I n the meantime, I will try with another client running a local chain and eventually open an issue on TestRPC repo.

I will make sure to report back and reopen the issue if necessary.

[2017-09-09 16:17] #287 closed

[2017-09-11 16:08] carver opened #297 "Add ConnectionCheck middleware"
### What was wrong?

`JSONDecodeError` is a confusing way to learn that you are not connected to the service.  See this [stackexchange question](https://ethereum.stackexchange.com/questions/26225/issues-connecting-to-the-etherscan-ropsten-api-via-web3-py).

### How can it be fixed?

Maybe a middleware similar to stalecheck that tests if you are connected and raises a specific ConnectionFailure exc

[2017-09-12 09:05] chenfengyuan opened #299 "JSONBaseProvider.isConnected is broken"
* Version: 3.13.5
* Python: 3.4.7
* OS: osx

### What was wrong?
JSONBaseProvide.isConnected is broken

call `web.isConnected()`

traceback:
[code]

### How can it be fixed?
fix in #298

[2017-09-12 23:17] carver commented on #288
Went with `hexstr`. It grew on me.

[2017-09-12 23:17] #288 closed

[2017-09-13 16:07] carver commented on #299
Thanks! This will go out with the next version release (next Monday, at the earliest).

[2017-09-13 16:07] #299 closed

[2017-09-13 16:14] carver opened #300 "Deprecation warning for Py2"
* Version: 3.*
* Python: 2.7
* OS: osx/linux/win

### What was wrong?

Many functions would greatly benefit from being able to differentiate `bytes` and `str`. Hacks and workarounds are all around the system. We should start warning users now so they can prepare their Py3 stacks.

### How can it be fixed?

Add a `DeprecationWarning` if `sys.version_info.major < 3`.

[2017-09-13 16:29] djrtwo commented on #300
Excellent.

[2017-09-13 17:13] carver commented on #289
Since `eth_sign` is the only [standardized RPC call](https://github.com/ethereum/wiki/wiki/JSON-RPC#eth_sign), I'll focus on that first.

The docs seem to disagree that it expects the hash:

Some people have taken to hashing their message before signing it (resulting in being hashed twice, with the prefix the second time).

---

It's pretty surprising to me that there's no `ecrecover` in web3.js.

[2017-09-14 00:00] carver commented on #289
Hah, yeah, `ecrecover` wasn't happening today. We'll get it for free when we upgrade pyethereum.

Opened #301 for option # 1 above.

I'm still on the fence about the other super-non-standard methods.

[2017-09-14 00:12] carver commented on #259
Please take a look at #301

If that gets merged, the new way to use `eth.sign` would be:

[code]

^ Those are all equivalent.

---

BTW, if you are using 'password' from the earlier example for anything else (like, say, a password), please don't use `eth.sign` in that way. It won't be long before there are rainbow tables of b'\x19Ethereum Signed Message:\n{len}'+common_password. People still won't

[2017-09-14 00:14] carver commented on #208
fixed with #296

[2017-09-14 00:14] #208 closed

[2017-09-14 01:01] carver opened #302 "Autoconfigured web3"
### What was wrong?

In code examples, and short scripts, it's a real PITA to show the ramp-up needed to get web3 working. It conveys that things are going to be tedious (an unfair first impression, I hope):

[code]

### How can it be fixed?

Instead, I would love to have an autoconfigured web3, especially for some default cases, like localhost on 8545, and the geth IPC file.

[code]

This could t

[2017-09-14 15:24] carver commented on #127
If the problem persists, please reopen the issue.

[2017-09-14 15:24] #127 closed

[2017-09-14 15:28] #118 closed

[2017-09-14 16:27] pipermerriam opened #304 "Update test suite for geth 1.7.0"
### What was wrong?

The latest release of go-ethereum `v1.7.0` uses a database format that is incompatable with the `1.6.x` line.

https://blog.ethereum.org/2017/09/14/geth-1-7-megara/

This will break CI if we try to run the integration tests against the current geth datadir fixture

### How can it be fixed?

Re-generate a new geth fixture for `1.7.x`

TODO: write up the requirements for this fi

[2017-09-14 16:51] #38 closed

[2017-09-14 17:16] carver commented on #75
@4gn3s which kinds of exceptions would you want covered by this? Web3 won't know if the transaction will `throw`, for example.

I'll close if I don't hear back in a week, but feel free to reopen with more info.

[2017-09-14 17:21] carver commented on #80
The offending `ethereum-tester-client` is no longer a dependency in the project. (and testrpc is being replaced soon, anyway)

Please reopen if I misunderstood the problem.

[2017-09-14 17:21] #80 closed

[2017-09-14 17:25] carver commented on #126
Closing as stale. We should consider this "reconnect to unreachable node" scenario when implementing #294, though.

[2017-09-14 17:25] #126 closed

[2017-09-14 17:28] carver commented on #242
#294 should include an example of how to deal with this.

[2017-09-14 17:36] carver commented on #145
@ChloeCoupignyWarot Please reopen this issue with the results from running with `web3.js`, again.

If other web3 implementations are having the same problem, then it is almost certainly an issue with the node setup. (whether `nice`, host header issues, or other)

[2017-09-14 17:36] #145 closed

[2017-09-14 20:10] carver commented on #185
I'll add that the [spec](https://github.com/ethereum/wiki/wiki/JSON-RPC#hex-value-encoding) is somewhat ambiguous about when `0x` is an okay value to return, and when it must be `0x0`.

Open questions:
* Is a boolean a quantity?
* Is a contract call result always unformatted, or does the RPC spec peek at the contract ABI?

[2017-09-15 00:16] carver commented on #284
So I started fiddling around with this and two items came up:

1. I'd like to change the existing tests so that the same instance of middleware can't be added twice. I think this was [agreed here](https://gitter.im/pipermerriam/web3.py?at=59a9e78f9acddb2407f31625), I just want to confirm:

2. One weirdness about adding middleware in current format is that these two end with opposite ordering:
[cod

[2017-09-15 13:29] hiqua opened #308 "debug_traceTransaction is not implemented"
The RPC method debug_traceTransaction (listed there for instance: https://github.com/ethereumjs/testrpc) is not implemented, and thus not callable directly using web3.py.
This method is not standard (according to https://github.com/ethereum/go-ethereum/wiki/Management-APIs#debug), and is not available in web3.js either.

Would it be desirable to have in web3.py, or is it out of scope of the projec

[2017-09-15 16:54] carver commented on #308
For non-standard, client-specific APIs, I am of the opinion that we shouldn't build convenience functions to access them. We'll see if Piper disagrees, early next week.

You can bypass the convenience methods with something like: `web3.manager.request_blocking('debug_traceTransaction', ["TX_ID_AS_HEX_STRING"])`

If there is anything else in the list of Issues that would scratch an itch you have, o

[2017-09-15 20:51] carver commented on #284
It started to feel silly to have all these `_middleware` functions. I'm thinking something like a `middleware_stack` on the web3 object, which can have whatever methods we want, like:

[code]

Also, I'm not convinced we need runtime altering of the middleware stack on a provider. How about we just require users to create a new provider instance if they want to change the middleware?

I'll post a r

[2017-09-17 17:39] userpasta opened #309 "IPCProvider timeout paramater"
* Version: 3.13.5
* Python: 2.7
* OS: Ubuntu 16.04

### What was wrong?
A request has timed out.

Please include any of the following that are applicable:
* The code which produced the error
`web3.manager.request_blocking('parity_pendingTransactions', [])`
* The full output of the error
`
Traceback (most recent call last):
  File "/home/user/clone/mempool/eth.py", line 78, in get_mempool
    'pari

[2017-09-18 15:11] carver commented on #309
Are you seeing 10s timeouts followed by successful lookups on retry?

[2017-09-18 15:15] pipermerriam commented on #284
👍

Feel free to take this in whatever way you feel appropriate/necessary.

[2017-09-18 15:16] pipermerriam commented on #284
I like the `middleware_stack` name as it give semantic meaning to how the data structure behaves.

[2017-09-18 15:19] pipermerriam commented on #297
I'd also be interested in changing how the `isConnected` is done for both the `HTTP` and `IPC` middlewares to actually check whether an http connection can be made to the host or whether the socket is open respectively.

[2017-09-18 16:16] pipermerriam commented on #308
Wondering if there is a middleground?  It's not documented, but web3 currently supports *custom* modules.

See: https://github.com/pipermerriam/web3.py/blob/master/web3/main.py#L110-L111

Maybe we can write the module but not include it in the `Web3` object by default and just provide docs on how a user can include it?

[2017-09-18 16:45] carver commented on #308
:+1:  Adding a `geth` module with support for their custom calls makes a lot of sense, just not adding it to the default module list.

[2017-09-18 17:37] pipermerriam commented on #164
Merged via a different PR.  Web3 will need to bump its requirement to `ethereum-abi-utils>=0.4.1`.

[2017-09-18 17:37] #164 closed

[2017-09-18 18:41] carver opened #311 "Docs show the wrong version"
* Version: 3.14.0
online docs: http://web3py.readthedocs.io/en/latest/contracts.html

### What was wrong?

Docs say we are at version 2.4.0

### How can it be fixed?

Presumably this is hardcoded somewhere, change it to dynamically look up the version

[2017-09-18 23:47] carver commented on #279
I just went back to review, and this expectation that `0x0` means undefined (ie~ it's `__bool__` should be `False`) is really common in ENS. So even if it's not the default, I want an easy way to plug this in. You mentioned `ethereum-abi-utls`, but I think it could make at least as much sense as pluggable version of: [`web3.utils.abi.normalize_return_type()`](https://github.com/pipermerriam/web3.p

[2017-09-19 12:13] userpasta commented on #309
I have no way to verify as, but will check it, if it happens again.

[2017-09-19 15:58] pipermerriam commented on #279
See my comment in #312

[2017-09-19 15:58] pipermerriam commented on #279
Also, I think you are right that this should be done at the web3 level now that I've seen your initial implementation.

[2017-09-20 08:43] mattvick opened #319 "contract.encodeABI() not functioning as expected"
* Version: 3.11.1
* Python: 3.5
* OS: macOS

### What was wrong?

`contract.encodeABI()` does not correctly encode data that contains encoded data as an argument

The multi sig wallet contract I'm using has a `submitTransaction` [method](https://github.com/ConsenSys/MultiSigWallet/blob/22e17af4fa0656f96c3862cbbcecd01b088d7dff/contracts/solidity/MultiSigWallet.sol#L187) that accepts the following a

[2017-09-20 09:51] bashalex opened #320 "Changes to web3.eth.estimateGas"
Check whether 'from' parameter is already in transaction and use it. Otherwise use defaultAccount.
Basically to implement the same behavior as for 'sendTransaction'.

[2017-09-20 15:23] carver commented on #319
`3078303030`... is the hex encoding of the ascii encoding of the string `'0x000'`...

When you pass in a bytes argument, it should be of type `bytes` rather than a hex encoding of those bytes. To convert your data to bytes, you can use: `bytes_data = Web3.toBytes(hexstr=hex_data)`

Normally, I would call this a bug in documentation. But since this is an undocumented feature, it's a "caveat emptor"

[2017-09-20 15:40] carver commented on #164
Version bump in #322

[2017-09-20 15:45] pipermerriam commented on #319
This raises a larger question of how we can change our APIs to make this mistake less likely.

* Be more strict about `bytes` type inputs and require them to be bytes types.
* raise errors or warnings if the value is a text type and it *looks* like hex encoded data.
* Stop returning hex encoded data values and move everything to be `bytes`.

[2017-09-20 16:46] carver commented on #319
My current preference is # 1 now and # 3, in version 4. Of course, # 1 wouldn't catch the problem in py2.

[2017-09-22 15:18] carver opened #323 "Implement the upcoming web3.js `web3.eth.accounts` API"
### What was wrong?

There is no good API for local key manipulation and signing.

### How can it be fixed?

The new [eth_keys](https://github.com/pipermerriam/ethereum-keys) package should be able to handle most of the implementation of actually manipulating keys and signing with them.

The proposed v1 API of [`web3.eth.accounts`](https://web3js.readthedocs.io/en/1.0/web3-eth-accounts.html) in we

[2017-09-22 15:26] carver commented on #289
IMO, there's too much disagreement about the `personal_*` API to put much effort into it right now. Note that parity doesn't implement any of it.

`web3.eth.sign()` is in an okay place after #301, and `web3.eth.accounts` deserves its own issue, which I just created here: #323

If I'm missing something, please reopen.

[2017-09-22 15:26] #289 closed

[2017-09-22 16:16] pipermerriam commented on #289
👍

[2017-09-22 16:17] pipermerriam commented on #323
The `accounts.encrypt` and `accounts.decrypt` code is already written in [`eth_keyfile`](https://pypi.python.org/pypi/ethereum-keyfile).  You just have to hook in to the existing functions.

[2017-09-22 16:41] #320 closed

[2017-09-22 16:43] carver commented on #323
Nice, I'll put those in scope then.

[2017-09-26 19:29] pipermerriam opened #325 "Not all fields from `EthereumTesterProvider` are being properly remapped."
* Version: 3.15.0

### What was wrong?

The `web3.providers.eth_tester.middleware.ethereum_tester_middleware` is not converting the key `log_index` to the web3 naming convention `logIndex`.

### How can it be fixed?

Add a new `log_entry_remapper` function in the same style as the `transaction_params_remapper` which maps the field `log_index > logIndex`.

[2017-09-28 01:09] shanefontaine commented on #214
@djrtwo @carver Did you find a workaround to this? I am having the same error on Parity.

[2017-09-28 22:30] achempion opened #328 "Impossible to pass bytes20 argument to smartcontract"
* Version: 3.13.5
* Python: 2.7
* OS: osx

### What was wrong?

Impossible to pass argument with type `bytes20` to smartcontract.
I can send argument using `Mist` as `721afdf638d570285d02d3076d8be6a03ee0794d`.
Then Mist will convert string type by self to `bytes20`.

If I call smartcontract data, inside it looks like `u'r\x1a\xfd\xf68\xd5p(]\x02\xd3\x07m\x8b\xe6\xa0>\xe0yM'` (python)

If I am tryi

[2017-09-28 22:58] pipermerriam opened #329 "Unified approach to string formatting."
* Version: 3.15.0
* Python: 2.7/3.4/3.5

### What was wrong?

We need a well though through string handling solution for `bytesXX`, `bytes` and `string` types being passed into functions as arguments.

Currently, users expect to be able to provide hex encoded strings to some of these methods which either fails due to these methods expecting bytestrings, *or* it appears to succeed when in fact it h

[2017-09-28 23:00] pipermerriam commented on #328
replaced by https://github.com/pipermerriam/web3.py/issues/329

[2017-09-28 23:00] #328 closed

[2017-09-28 23:00] pipermerriam commented on #319
replaced by https://github.com/pipermerriam/web3.py/issues/329

[2017-09-29 00:28] carver commented on #329
Absolutely on board

Mostly on board.

So lets look at all these cases for Python 3: (am I missing any critical ones for this discussion?)

* python type of an argument to a contract function call -->
  * ABI type for the matching function call
* `bytes`
  * `bytes`: pass through
  * `bytesNN`: pass through, after validating the length
  * `string`: pass through, after validating that the bytes ca

[2017-09-29 03:47] pipermerriam commented on #329
I'm convinced.  We treate `string` and `bytes` differently.  And we need to have a *big* well written, easy to understand, easy to find place in the docs that explains this behavior and good error messages that point people int he right direction.

[2017-09-29 14:35] achempion commented on #328
The solution how to get `bytes20` value from your string is just decode it :)

[code]

[2017-09-29 18:07] veox commented on #329
(Perhaps tangent, since bringing Populus and Solidity into the mix.)

If, for example, there was [a contract](https://github.com/veox/web3.py-FormattingDemo/blob/master/contracts/FormattingDemo.sol) called `FormattingDemo` on-chain with a function `setString(string)`, and I wanted to call that function with argument `"0xtentacle"`; using `web3.py` and having an object `demo` for that contract's in

[2017-09-29 18:20] pipermerriam commented on #329
@veox I believe what we are trying to support is both of the following:

* `demo.transact().setString("0xtentacle");`  # that must be a unicode string (so in python2 `u"0xtent..."`)
* `demo.transact().setString(b"\x30\x78\x74\x65\x6e\x74\x61\x63\x6c\x65");`

[2017-09-29 18:40] veox commented on #329
Ah. Your laconic

got me thinking otherwise: that only the latter would be valid, and that the former would raise a Python exception.

[2017-09-29 19:19] carver commented on #214
If this is a problem when connecting to parity, then we still need to fix it.

If this is a problem that's fixed when updating Web3 to v3.15.0, then we should close it.

@userpasta can you try updating web3 and running again?

[2017-09-29 19:39] pipermerriam commented on #329
I've updated the initial issue description to reflect this change.

[2017-10-01 15:48] shanefontaine commented on #214
@carver It works with v3.15.0

[2017-10-02 15:45] pipermerriam commented on #302
@gitcoinbot <3  this is gonna be interesting.

[2017-10-02 17:19] #284 closed

[2017-10-02 19:15] pipermerriam commented on #175
@owocki I *briefly* dug through both spam folders in my email accounts and can't find this alleged email.

[2017-10-02 19:45] owocki commented on #175
@pipermerriam looks like it went to your gmail.com address...  i just resent it to your pipermerriam dot com one

[2017-10-03 00:50] carver commented on #214
Thanks! Closing for now. Please reopen if you can reproduce on a recent version.

[2017-10-03 00:50] #214 closed

[2017-10-05 05:22] slothbag commented on #181
My event logs for Parity 1.7.2 have just stopped working.  They were working fine previously. No changes to my web3 library.

This could be a Parity issue.

[2017-10-06 01:59] pipermerriam commented on #181
You all haven't been forgotten (entirely 😉 ).

The filtering API in web3.py is up very soon to get some developer love.

[2017-10-06 13:05] djrtwo commented on #242
Are we keeping a very similar API, but removing all GreenletThread related code?

Example keeping call to `watch` but removing `stop_watching`.
Having `watch` explicitly call `_run`, etc.

[2017-10-06 15:17] djrtwo commented on #294
Are we keeping a very similar API for maximum backwards compatibility, but removing all GreenletThread and ansyncronous related code?

Example keeping call to `watch` but removing `stop_watching`.
Having `watch` explicitly call a modified version of `_run`, etc.

[2017-10-06 18:31] carver commented on #294
@djrtwo Since steps 1 & 2 involve perfect backwards compatibility, I assume you're talking about step 3.

Completely removing gevent support is a goal: #251 . It may be possible to kill two issues with one PR.

My first instinct is to remove all asynchronous code. That means we should show people how to implement `watch` in their own projects (in new docs), but not provide the method. If we keep `

[2017-10-06 20:54] djrtwo commented on #294
The comment was before piper cleared up with those steps. I'm on the right
track now. Thanks!

On Friday, October 6, 2017, Jason Carver <notifications@github.com> wrote:

[2017-10-07 13:44] carver commented on #287
This might be the related issue on testrpc: https://github.com/ethereumjs/testrpc/issues/199

[2017-10-09 16:26] carver opened #336 "Logistics for v4 Development"
Let's create a plan for developing and releasing version 4.

Proposal: we create a v3 branch for backporting important bugfixes, then implement the planned breaking changes on master for release as v4.

Pull Requests:

 * v4-only changes belong in a PR to master
 * v3 & v4 changes go in a PR to master for review. After green-lit, open another PR to `v3` branch, for insta-merge after tests pass.

T

[2017-10-09 16:28] pipermerriam commented on #336
This looks solid to me.  Might be good to create some labels for categorizing issues and pull requests.

[2017-10-09 16:32] carver commented on #311
Will be fixed on next release.

[2017-10-09 16:32] #311 closed

[2017-10-09 18:09] carver commented on #167
Should be resolved by #324

[2017-10-09 18:11] #279 closed

[2017-10-09 20:52] carver opened #339 "Python Modernization"
### What was wrong?

A lot of code cruft exists to support versions of Python before 3.5. It complicates the implementation, and requires more time to test.

### How can it be fixed?

In v4, as part of dropping support for Python 2 and Python <=3.4, we can remove this cruft.  Also, let's drop test environments for python 2.7 and 3.4, and add one for 3.6.

- [x] Remove Python 2.7 and 3.4 tests #349

[2017-10-09 21:36] carver opened #340 "Return `bytes` type from methods where appropriate"
* Version: 4
* Python: 3.5+

### What was wrong?

We now have cleaner separation in many method arguments between hex strings and text, but most methods that result in arbitrary bytestrings still return a hex string.

Returning `bytes` instead gives several benefits:

 * As an argument to the next call, `bytes` is unambiguous
 * It's the natural representation
 * Comparing two `bytes` objects is m

[2017-10-09 21:40] carver opened #341 "[v4] Remove all deprecated methods"
### What was wrong?

Deprecated methods are kept around for backward compatibility, which isn't necessary in v4.

### How can it be fixed?

All methods that have a deprecation warning should be removed as part of v4.

[2017-10-09 22:20] carver opened #342 "ENS Integration"
### What was wrong?

We should enable sending transactions from/to an ENS address, and create a contract by referencing an ENS name.

### How can it be fixed?

Integrate [ens.py](https://github.com/carver/ens.py) inside `web3` as a side-loaded module, then add default web3 middleware that converts from values ending in '.eth' to their address as resolved in ENS. ie~ `ens.address('to-addr-name.eth'

[2017-10-10 18:08] bellaj opened #345 "getData function implementation"
I am wondering if the getData (from web3js) is implemented in web3.py.

[code]
 I was trying to create a rawtransaction with contract's function call using getdata. Is there any alternative?

[2017-10-10 18:13] pipermerriam commented on #345
@bellaj you should be able to do the following.

[code]

The `call_data` value will have the function selector at the beginning followed by the abi encoded parameters for calling the function.

[2017-10-10 18:13] pipermerriam commented on #345
If you want *only* the encoded parameters without the function selector, add an extra keyword argument `data=b''` to the call.

[2017-10-10 19:16] iamkidjoe commented on #230
@mattvick, it seems that I've found some solution.
Try to call `get` method with False as the first argument. It will return all your past events.
More details you can find [here](https://github.com/pipermerriam/web3.py/blob/cf3f4889f8c072d7fd6704cfc053d8e312532121/docs/filters.rst#event-log-filters).

[2017-10-10 20:02] pipermerriam commented on #230
@iamkidjoe

cc @djrtwo

Thanks for reporting this.  There's work underway to revamp filters and improve the documentation around them.  See #294

[2017-10-10 20:38] bellaj commented on #345
Thank you @pipermerriam for the hint.

[2017-10-10 20:38] #345 closed

[2017-10-10 23:25] pipermerriam commented on #302
@Sebohe just in case you didn't notice, once you've got #344 done and merged there is a bounty you can collect: https://gitcoin.co/funding/details?url=https://github.com/pipermerriam/web3.py/issues/302

[2017-10-11 19:11] carver commented on #342
When creating a contract, should we save the resolved address or save the name and resolve it on demand? (either way, we should resolve it once to validate that the name points to an address)

For example, if I have a long-running process that sets up a link to some token contract on init:

[code]

Some days or weeks later, say 'unicorn.tokens.eth' points to a new address for an updated token cont

[2017-10-11 20:06] pipermerriam commented on #342
Dump from my Gitter chat on the subject with you:

1. It would be good to have clear documentation that makes it very clear that the address can change mid-stream when using ENS names.
2. It would be good to have documentation on how to do token = TokenContract(resolve('name.eth')) for when a user only wants to resolve up-front and only use the address.
3. It would be good to have configuration op

[2017-10-11 20:41] carver commented on #342
Plus follow-up that it doesn't need to be implemented right away:

3: I see where you're going. It would be nice to find at least one real production use case to make sure we're building it with reasonable assumptions. Maybe we could add a note in the docs saying that feature is in the design stage, and to  on a linked ticket if the reader would use it, then we can get an idea of who would use it

[2017-10-13 16:02] veqtor commented on #181
Setting pruning to archive solved this for me

[2017-10-16 15:00] sbaks0820 commented on #309
Is there already a pull request or a specific branch that has the timeout included?

[2017-10-16 16:50] pipermerriam commented on #309
@sbaks0820 no, this hasn't been done but it should be a small change if you'd like to give it a go.

[2017-10-17 23:15] Aviah opened #353 "Support for fallback functions"
* Version: x.x.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?
Web3 currently supports only named functions

### How can it be fixed?
Add a ```fallback``` arg to ```call``` and ```transact```
```def call(self, transaction=None, fallback=False)```
```def transact(self, transaction=None, fallback=False```
when callings with ```contract.transact({...},fallback=True)```, send the tran

[2017-10-17 23:22] carver commented on #353
Sounds good. I'll toy with this and other API options.

---

For others who come across this issue, the way to accomplish this in the meantime is:

[code]

[2017-10-18 06:03] bamos01 opened #354 "Filters don't last very long"
* Version: web3.py
* Python: 3.5
* OS: linux

### What was wrong?

i am running a script that that creates a web3.eth.filter('pending') and uses it to listen to all incoming transactions,  It is set up to run indefinitely.  It works fine for about 2-3 hours but then it starts to fail with "filter not found" exceptions or sometimes without any exception.  the node is working fine.

Any advice?

Tha

[2017-10-18 10:41] Aviah opened #355 "contract.transact does **not** return the contract output"
* Version:  3.16.2
* Python: 3.5
* OS: linux

### What was wrong?
Solidity
[code]
py.test
[code]

### How can it be fixed?
[code]
where ```transact_with_contract_function``` returns  ```return txn_hash```

[2017-10-18 15:32] pipermerriam commented on #355
This is not a bug.  The return data cannot be returned for `transact()` based contract interactions because the output cannot be determined until the transaction has been mined.

[2017-10-18 15:32] #355 closed

[2017-10-18 21:08] pipermerriam commented on #354
That exceptions indicates that your node has dropped the filter.  There is work underway to revamp the filter api via #294

In the meantime, I would recommend adding an additional wrapper that catches this exception and re-installs the filter.

[2017-10-18 21:26] step21 commented on #308
Would be nice to have, as it is available thorugh rpc/ipc with geth.

[2017-10-20 12:50] RetardVeverca opened #362 "PyPI 3.16.2 version is not up to date"
* Version: 3.16.2
* Python: 2.7
* OS: osx

### What was wrong?

Version uploaded to pip (https://pypi.python.org/pypi/web3/3.16.2) is not the same as in this repo. They are both 3.16.2, but pip source code does not include all the changes. web3.eth.account (account.py) is missing for example ....

### How can it be fixed?

Source on PyPI should be updated

[2017-10-20 14:18] carver commented on #362
@RetardVeverca The `master` branch is being prepared for v4. To see the latest commits for versions 3.*, see the `v3` branch.

See #336 for more background

[2017-10-20 14:18] #362 closed

[2017-10-20 14:40] RetardVeverca commented on #362
Ah I see, thank you for making it clear. Keep up the great work ;)

[2017-10-21 00:03] carver opened #365 "Unifying normalizers & validators across JSON-RPC, Contracts, and eth.account"
### What was wrong?

There are some similar use cases across these three different areas of code: JSON-RPC, Contracts, and `eth.account`. We are developing some similar duplicated code in these different areas to handle the similar cases. Let's see if we can unify it.

### How can it be fixed?

#### The Middleware option

Middleware is a nice flexible approach, which is working well for everything

[2017-10-22 19:39] carver commented on #353
@Aviah What do you think about this API?

[code]

I like that it:

 * is consistent with the `w3.eth.sendTransaction(...)` API
 * doesn't break the invariant that `contract.transact({...})` returns an object with callable attributes.

I don't like that:

`sendTransaction` might not be the first name users think of when figuring out how to trigger `function() { ... }` in their Solidity contract. An

[2017-10-23 06:53] bamos01 commented on #354
Thanks - I was able to do that - but one complication was that even after filter was dropped - the call to filter.running still returned true  - this makes it hard to detect when dropped

On Wed, Oct 18, 2017 at 10:08 PM, Piper Merriam <notifications@github.com> wrote:

[2017-10-23 14:40] bamos01 commented on #354
Also - not trivial to catch an exception that occurs in a thread - would appreciate any input on how to do this with the filter.

On Wed, Oct 18, 2017 at 10:08 PM, Piper Merriam <notifications@github.com> wrote:

[2017-10-23 15:45] pipermerriam commented on #354
I'd suggest not using the `watch` API and using the `filter.get` API directy.  That lets you control the whole API and put it all in one thread rather than having to watch a thread and re-initialize it.  Does that help?

[2017-10-23 19:06] carver commented on #323
Merged into master

[2017-10-23 19:06] #323 closed

[2017-10-23 21:55] msoedov opened #373 "FileNotFoundError on example code"
* Version:
web3==3.16.2
* Python:
Python 3.6.3 (default, Oct  4 2017, 06:09:15)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.37)] on darwin
* OS: osx

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
[code]
* The full output of the error

[code]
* What type of node you were connecting to.
testrpc

### How can it be fixed?

Fi

[2017-10-23 22:03] msoedov commented on #373
Prettified traceback
[code]

[2017-10-23 22:11] msoedov commented on #373
Found a typo :)

[2017-10-23 22:11] #373 closed

[2017-10-23 23:57] msoedov opened #377 "Watch contract events by given contract addr"
* Version: web3==3.16.1
* Python: 3.5
* OS: osx

Is there a good way to init contract from address and subscribe to it's events?

### What was wrong?

Please include any of the following that are applicable:

* The code which produced the error
[code]
* The full output of the error

[code]

* What type of node you were connecting to.

### How can it be fixed?

Fill this section in if you know how

[2017-10-24 00:06] carver commented on #377
We're looking forward to filters becoming more reliable with: #346 which is a work in progress implementation of #294 .

Several issues have been linked to that one now, for an idea of what other people have tried and come up with as workarounds. In particular, see #230

[2017-10-24 16:31] drandreaskrueger opened #378 "Tutorial: how to use filters?"
* Version: 3.16.2
* Python: 3.5
* OS: linux

### What was wrong?
The example **filter** code just ended, without any output.

### How can it be fixed?

It took me ages to get your very first example working. I did not know what to do with the resulting `new_block_filter` object.

I suspected I had to start some kind of eventloop, but I did not know how.  Finally I tried `.join()`, but the output w

[2017-10-24 16:45] pipermerriam commented on #378
@djrtwo this might be useful for the work your doing on synchronous filters.

[2017-10-24 17:25] carver commented on #341
All known deprecated usages are removed

[2017-10-24 17:25] #341 closed

[2017-10-24 17:33] carver opened #379 "ENS .eth Registrar Integration"
Add in the ENS .eth Registrar functionality. #342 only needed the resolver setup and lookup.

Participating in the .eth auctions can be added after the v4 beta launches, without disruption. The main thing that held up this functionality inclusion in #343 was building out a cleaner test suite (with integrated tests, and minimal mock usage).

[2017-10-24 20:26] carver opened #381 "Parity Integration Testing"
* Version: 4.*
* Python: 3.5

### What was wrong?

We don't have any integration tests for parity.

It's very difficult to test code like #366

### How can it be fixed?

Generate some data in a parity fixture database (similar to how the geth one works) and build the integration conftest file.

[2017-10-24 20:34] pipermerriam commented on #381
We also *need* some way to install a specific version of parity which should likely be done with a small shell script to start off with until we can iterate towards a generic solution.

[2017-10-24 20:51] carver commented on #381
Great point. For determining which versions to test against, I could see which versions are used in the nodes on https://ethstats.net/

Any other ideas? How did you decide for geth?

[2017-10-24 20:54] pipermerriam commented on #381
I would suggest only the latest point releases excluding any with known bugs, starting with whatever the current latest is.

Whatever was *newest* at the time.

[2017-10-24 20:58] carver opened #382 "Swap the argument order of `apply_formatter_if`"
### What was wrong?

The function would read a little more naturally if the boolean test came first, instead of second.

### How can it be fixed?

* Switch the order in the function definition.
* Find all the usages and swap the arguments.

[2017-10-25 09:46] drandreaskrueger commented on #378
Actually, this also works:

[code]
= doesn't need that call to `.join()`.

So the thing to make your [filter examples](http://web3py.readthedocs.io/en/latest/filters.html) working, is the `flush()` call.

[2017-10-25 10:22] drandreaskrueger opened #384 "The method shh_newFilter does not exist/is not available"
* Version: 3.1.6
* Python: 3.5
* Parity: 1.8.0
* Geth: 1.7.2
* OS: linux

### What was wrong?

Exceptions thrown when trying your [filter example for Shh](http://web3py.readthedocs.io/en/latest/filters.html#shh-filter).

In all three cases, I am using this code:
[code]
(already fixed the lack of flushing, see https://github.com/pipermerriam/web3.py/issues/378)
#### parity
started with
[code]
I get

[2017-10-25 11:43] drandreaskrueger opened #385 "Tutorial: how to close providers? (warnings only, but still)"
* Version: 3.1.6
* Python: 3.5
* OS: linux

### What was wrong?

Using your [web3py readthedocs providers.html](http://web3py.readthedocs.io/en/latest/providers.html) I get warnings:

`unclosed file` and `unclosed ssl.SSLSocket`.

[code]
results in
[code]

and
[code]
results in
[code]

### How can it be fixed?

How to close a connection?

[2017-10-25 12:32] drandreaskrueger opened #386 "readthedocs: example for web3.eth.call()"
[http://web3py.readthedocs.io/en/latest/web3.eth.html#web3.eth.Eth.call](http://web3py.readthedocs.io/en/latest/web3.eth.html#web3.eth.Eth.call)

example is not `web3.eth.call()` but `web3.eth.sign()`

[2017-10-25 15:29] carver commented on #385
This appears to be an issue with https://github.com/vbuterin/pybitcointools

This one looks like it could be fixed in web3, though.

[2017-10-26 05:47] wschwab commented on #382
I've done pretty much everything for this, but I have one or two questions:

In web3/providers/tester.py, lines 45-48:
[code]
What would be the best way to update here? Maybe:
[code]
I also just wanted to double check that web3/providers/eth_tester/middleware.py - line 117 (`'to': apply_formatter_if(partial(operator.eq, b''), static_return(None)),`) will also be fine in that order. I'm pretty sure

[2017-10-26 15:19] carver commented on #382
Yeah, `compose(complement(bool), decode_hex)` is a way to check for an "empty" value that matches both '' and '0x'. So that will be the test, and `static_return(None)` is the "formatter" (it ignores the input and returns `None` any time it's applied).

That's right, `partial(operator.eq, b'')` is another way to write `lambda x: x == b''`.

[2017-10-26 18:22] carver commented on #294
@djrtwo Anything I can do to help?

If this ended up being too big, maybe we can cut it down to a better size. I ended up doing that recently: cutting the code down significantly twice, because there was just too much to reasonably cover in one PR (both for author and reviewer).

[2017-10-27 17:20] djrtwo opened #394 "Add new Filter examples to docs"
### What was wrong?

New Filter API does not have any examples in the docs. Could use some synchronous and a-synchronous examples.

### How can it be fixed?
Add some examples!

*Potential Examples*
- How to wrap a filter in a thread.
- How to listen for new pending transactions.
- How to listen for newly mined blocks.
- How to manually filter for log entries (not using a contract)
- How to filter

[2017-10-27 17:44] pipermerriam commented on #384
@drandreaskrueger not 100% sure this is the cause but:

The HTTP API doesn't default to having *all* RPC API's enabled so you may need to pass in additonal flags to enable the `shh` API over HTTP *or* to connect over IPC.

[2017-10-27 17:44] carver commented on #340
:champagne:

[2017-10-27 17:44] #340 closed

[2017-10-27 22:20] carver commented on #394
Can you also add a deprecation warning to async usages on the `v3` branch? (noting that the synchronous version is coming in v4)

[2017-10-27 23:49] carver commented on #365
#340 and #395 use a light version of this that I'm happy with. Unless those need to change, then this is complete.

[2017-10-27 23:49] #365 closed

[2017-10-27 23:51] carver opened #396 "Require checksummed addresses as inputs"
Require that all address arguments must be checksummed according to [EIP-55](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-55.md).

This should apply to contract calls and transactions, and other RPC calls.

[2017-10-27 23:52] carver commented on #294
Will be released with v4 beta, soon<sup>TM</sup>

[2017-10-27 23:52] #294 closed

[2017-10-27 23:54] carver commented on #329
Merged, and will be released with v4 beta, soon<sup>TM</sup>

[2017-10-27 23:54] #329 closed

[2017-10-29 09:48] Avios64 opened #398 "Filter.get_all_entries() not returning events within specified block range"
* Version: 3.16.1
* Python: 3.6.2
* OS: win

### What was wrong?

The below code returns no results for events registered during that block range, have tried with both .get_all_entries() and .get(). I have removed the ABI for readability.

`address_registrar = "0x6090A6e47849629b7245Dfa1Ca21D94cd15878Ef"`
 `ens_registrar_contract = web3_obj.eth.contract(abi=ERC20_abi_registrar, address=address_reg

[2017-10-30 10:06] drandreaskrueger commented on #384
Good point. I have added switches to parity and geth, this is how I start them now:

[code]

they both have -different- issues, this is my test code:

[code]

### geth output

[code]

### parity output
[code]

### both

and
[code]

[2017-10-30 10:10] drandreaskrueger commented on #384
but no, the
[code]
error does not go away.

[2017-10-30 10:17] drandreaskrueger commented on #385
thx @carver, I have raised an issue there.

Yes, please.

[2017-10-30 10:55] drandreaskrueger commented on #384
test code:

[code]

### geth output

[code]

and

[code]
leads to

[code]

and

[code]
results in
[code]

Is it because the API has been changed much?

--> https://github.com/ethereum/go-ethereum/wiki/Whisper-v5-RPC-API

[2017-10-30 11:24] drandreaskrueger commented on #384
about parity I have asked there --> https://github.com/paritytech/parity/issues/6930

[2017-10-30 15:46] carver commented on #384
Hmm, the [global whisper API](https://github.com/ethereum/wiki/wiki/JSON-RPC), the [geth whisper API](https://github.com/ethereum/go-ethereum/wiki/Whisper-v5-RPC-API), and the [parity whisper API](https://github.com/paritytech/parity/wiki/JSONRPC-shh-Module) all differ. Seems like whisper is still pretty immature.

Right now, it looks like web3 is implementing the global API, which means it curren

[2017-10-30 16:29] pipermerriam commented on #398
ok, I've verified this behavior.  This *looks* a lot like a bug in geth.  Going to try and chase down with the go-ethereum team.

[2017-10-30 16:33] pipermerriam commented on #398
https://github.com/ethereum/go-ethereum/issues/15404

[2017-10-30 16:40] drandreaskrueger commented on #384
ouch.

"Protocol" ;-)

Thanks for the explanation, that's good to know. So ... I ignore whisper for now.

I suggest you put some hint into the docs, easier for us newbs. Thanks.

[2017-10-30 16:44] pipermerriam commented on #384
This suggests we should deprecate the `shh` module for now and then move it out of the default list of modules.  Then we can re-implement a `GethWhisper` and `ParityWhisper` module that can optionally be used by anyone wanting to use whisper (which is currently weirdly fragmented and immature).

[2017-10-30 17:48] pipermerriam opened #400 "Deprecation of Contract.on and Contract.pastEvents"
* Version: 4.x

### What was wrong?

With the recent deprecation of the old filter API, we forgot to address `Contract.on` and `Contract.pastEvents`.  These still hold some of the old semantics and I think they would benefit from being replaced by a new API.

### How can it be fixed?

I suggest deprecating both of the old contract filter APIs in favor of a new `Contract.eventFilter` which doesn't

[2017-10-30 18:22] carver opened #401 "Remove shh from default list of modules"
The whisper protocol is not standardized enough to be in the default list.

Also, note in the docs the current fractured nature of whisper.

See #384

[2017-10-30 18:26] carver opened #402 "Add custom geth shh module"
* Version: 4

### What was wrong?

The geth whisper api has drifted from the globally defined json-rpc api.

See #384

### How can it be fixed?

Write a custom geth whisper module, noting the drift. It should not be added as a default Web3 submodule.

[2017-10-30 18:26] carver commented on #384
@drandreaskrueger Thanks for all the details.

I wrote up the todos in a couple issues. If anything is missing, please let me know.

[2017-10-30 18:26] #384 closed

[2017-10-30 18:28] carver opened #403 "Add custom parity shh module"
* Version: 4

### What was wrong?

The parity whisper api has drifted from the globally defined json-rpc api.

See #384

### How can it be fixed?

Write a custom parity whisper module, noting the drift. It should not be added as a default Web3 submodule.

[2017-10-31 01:44] sachabest commented on #256
This appears broken in the current state of the repo. If I follow these instructions exactly, I get
[code]

However, changing
[code]
to
[code]

on line 178 of `account.py` fixes the problem for me (note I'm using python 2 even though it appears you are planning to deprecate support for it).

[2017-10-31 04:33] carver commented on #256
Yes, Python 2 support has already been dropped on the master branch. If you want py2 support, you must use the v3 branch. (although, note that `eth.account` has not been backported to v3)

Why not upgrade to py3?

[2017-10-31 05:14] carver opened #406 "Remove synchronous filter methods in v4"
The deprecated methods should be removed entirely, so that no one ever deploys asynchronous filter code linked to a stable v4 version of web3.

[2017-11-01 02:01] sachabest commented on #256
Exactly my conundrum - private key signing and import is crucial to what I'm trying to do. Honestly nothing is blocking the upgrade, I just need to find the time to prioritize porting thousands of lines +
 dependencies (even with 2to3 this could take a while, no?)

In the meantime, I think adding `unicode` to all the curried type conversions that expect a `string` could mitigate this issue and pre

[2017-11-01 03:50] carver commented on #256
This is not the only place in the code that presumes python 3 now. It's just not high on our list to backport new features to python 2. If you feel really passionate about it, and want to port the module and tests, I would accept a pull request to the `v3` branch.

It's not zero effort, but I think you'll find 2to3 will do most of the heavy lifting. I'd be surprised if you couldn't get it done in

[2017-11-05 15:20] carver opened #409 "Remove pylru as a dependency"
It is GPL-licensed, and it is barely used. Not worth the licensing uncertainty it brings.

If an lru cache is really the best way to manage session state, maybe an alternative like: https://github.com/amitdev/lru-dict

But probably something like adding the lru cache from `functools` on generate_cache_key. (Which is now an option, since we are on Python 3.)

[2017-11-05 21:00] kuramameng opened #410 "AttributeError: 'Eth' object has no attribute 'account'"
* Version: 3.16.2
* Python: 2.7
* OS: linux

running w3.eth.account.create('KEYSMASH FJAFJKLDSKF7JKFDJ 1530') from the documentation gives the following error:

AttributeError: 'Eth' object has no attribute 'account'

[2017-11-06 14:08] carver commented on #410
`w3.eth.account` is only available in v4 which has not reached beta release, yet. (hopefully it will in a week or two)

You can install web3 from the master branch to get access immediately, but the module is still in flux. Alternatively, you can see the docs for v3 at: http://web3py.readthedocs.io/en/stable/ (which doesn't include the eth.account module at all)

[2017-11-06 14:08] #410 closed

[2017-11-08 16:01] rphmeier commented on #384
Absolutely! That's why I'm pushing for the whisper RPCs to be excluded from the web3 1.0 release (they are 100% unstable).

Right now the Geth and Parity Whisper maintainers are still settling on a mutual _wire protocol_ and there are definite improvements to be made w.r.t. routing and scalability. I don't see how we can expect to have stable RPCs before a stable wire protocol.

[2017-11-09 21:36] #400 closed

[2017-11-09 21:36] #401 closed

[2017-11-09 21:39] #396 closed

[2017-11-10 17:13] carver commented on #382
Merged in #399

[2017-11-10 17:13] #382 closed

[2017-11-10 17:57] carver opened #415 "Implement eventFilter"
* Version: 4

### What was wrong?

We removed the old asynchronous filtering methods on contract. The new filter mechanism has to be added. See #400

### How can it be fixed?

If the name changes from `eventFilter` during implementation, be sure to grep for `eventFilter` to find all the tests that were disabled and need to be reimplemented. (If the name stays the same, the tests will start failing

[2017-11-13 12:13] SlavikDMI opened #418 "Why ethereum-keyfile not in requirements-dev.txt?"
I tried import web3.account, but had an error:
.....web3/account.py", line 13, in <module>
    from eth_keyfile import (
ImportError: No module named 'eth_keyfile'
and after that: File "......./web3/account.py", line 31, in <module>
    from web3.utils.datastructures import (
ImportError: cannot import name 'HexBytes'

[2017-11-13 17:00] carver commented on #418
`requirements-dev.txt` holds the extra requirements for development. To get the core requirements, run `pip install -e .`

See https://github.com/pipermerriam/web3.py#developer-setup

If that doesn't resolve the issue for you, please reopen.

[2017-11-13 17:00] #418 closed

[2017-11-13 18:55] carver opened #419 "Flip the contract function calls"
* Version: 4

### What was wrong?

The order of calls (`contract.call().doSomething()`) could be more intuitive.

### How can it be fixed?

#### Basic Approach

web3.js seems to have a solid solution: `contract.functions.method().call()`

Plus:

 * `..method().transact()`
 * `..method().estimateGas()`
 * etc

This API can coexist alongside the old way of calling contract methods.

#### API Naming

[2017-11-14 01:33] #251 closed

[2017-11-14 01:33] #415 closed

[2017-11-14 02:20] carver opened #421 "Test geth version 1.7.2"
### What was wrong?

The latest working geth version is not in the test suite

### How can it be fixed?

Add the fixtures for it. Also, all the pre-byzantium versions can be removed. Since 1.7.2 is a bugfix release, everything before it could be removed.

[2017-11-14 07:57] TelonChee commented on #378
Thanks for ur example! It's helpful to new beginners.

BTW:
Do i need remove a filter when finished parse data from contract pastEvents methods? If it does, how can i remove the filter, or just call filter's stopWatching method?

[2017-11-14 13:40] SlavikDMI opened #422 "is it possible to send in functions bytes32?"
How convert string in python to bytes32 format?

[2017-11-14 16:03] pipermerriam commented on #422
@SlavikDMI can you please provide some code that highlights what you are trying to do?  do you have a contract instance you are interacting with?

[2017-11-14 17:00] SlavikDMI commented on #422
`pragma solidity ^0.4.16;

contract A  {

    address name;
    bytes10 public  hash;
    bytes10 public hash2;
    function A(bytes10 _hash2) {
        hash2 = _hash2;
         hash = bytes10(keccak256(msg.sender));

    }
}`

hash is -  bytes10: 0xb1591967aed668a4b276

but when i write "0xb1591967aed668a4b276" as value in constructor , it cause error.
BUT, if i write value <= 10 ,it is ok.
bytes

[2017-11-14 17:10] carver commented on #422
@SlavikDMI I assume you're using web3 v3, right?

The functionality here will change in v4 to work the way you expected. Until then, you can convert your hex string into bytes before calling the function, using:

[code]

[2017-11-14 18:22] carver opened #424 "new address_to_name_middleware"
### What was wrong?

In some situations, it might be preferable to receive web3 results with ENS addresses instead of hex addresses. Idea from #342

### How can it be fixed?

Add an optional middleware which would replace returned addresses with ENS names, if the reverse lookup is available.

[2017-11-14 18:25] carver opened #425 "Document how to set up ENS for non-mainnet addresses"
### What was wrong?

No documentation available on using ENS names on non-mainnet. From #342

### How can it be fixed?

Write docs showing how to set up ENS for other networks.

**Bonus**: Get the chain ID from the client and infer the appropriate ENS registry address.

[2017-11-14 18:28] #342 closed

[2017-11-14 19:13] carver opened #426 "Stop inferring .eth on name lookups without a TLD"
### What was wrong?

The `ens.address(name)` method appends '.eth' if no recognized TLD is present. This is handy at the command line, but problematic in web3, where ambiguity is created, because we want to support all possible TLDs out of the gate.

### How can it be fixed?

* Change signature to `ens.address(name, guess_tld=True)`
* Set `guess_tld` to `False` in all web3 usages
* Confirm that EN

[2017-11-14 19:28] SlavikDMI commented on #422
v4 of do you mean?
I'll try your tip

[2017-11-14 23:15] #426 closed

[2017-11-15 16:28] drandreaskrueger opened #429 "(feature request?) parse transaction receipts for event log data output?"
# How to extract event logged output?

Please have a look first how it is working in javascript/truffle:
[logArgs.contractId](https://github.com/chatch/hashed-timelock-contract-ethereum/blob/1adc535ac5d63e74c64a8deabf8eb26afb774e42/test/htlc.js#L65-L67)
[txLoggedArgs](https://github.com/chatch/hashed-timelock-contract-ethereum/blob/1adc535ac5d63e74c64a8deabf8eb26afb774e42/test/htlc.js#L35)

I *rea

[2017-11-15 17:00] carver commented on #406
Closed by #416

[2017-11-15 17:00] #406 closed

[2017-11-15 17:49] carver opened #430 "New contract method execution option: generating the transaction dictionary"
* Version: 4

### What was wrong?

There is no convenient way to prepare a contract transaction for offline signing.

Specifically, the prepared transaction should work smoothly with [`w3.eth.account.signTransaction()`](http://web3py.readthedocs.io/en/latest/web3.eth.account.html#web3.eth.account.Account.signTransaction).

### How can it be fixed?

#### New contract method preparation API

Add a n

[2017-11-15 18:01] pipermerriam commented on #430
suggest names with the word transaction in them

* `myContract.myMethod().prepareTransaction()`
* `myContract.myMethod().asTransactionDict()`
* `myContract.myMethod().generateTransaction()`

[2017-11-15 18:03] pipermerriam commented on #419
I would add `contract.methods.doSomething().call()` to the list to be considered.

I also like `api` but I'm not a fan of how broad a concept API is.  I think some users might assume that events are available under `api` as well when I think they belong under `contract.events.MyEvent()`.

[2017-11-15 18:10] pipermerriam commented on #429
This would fit well under the new `my_contract.events.MyEvent` api that we'll be implementing (in part borrowed from the web3.js API).

Something like this

* `my_contract.events.MyEvent.processReceipt(receipt)` would return a *rich* version of all of the matching logs from a given transaction receipt.
* `my_contract.events.MyEvent.parseLog(receipt.logs[0])` would return the given log parsed to it

[2017-11-15 18:12] pipermerriam commented on #398
@Avios64 it was indeed a go-ethereum bug which will be fixed in the next release of go-ethereum.

[2017-11-15 18:12] #398 closed

[2017-11-15 18:16] carver commented on #430
Yeah, I was feeling grumbly about how long it got. Especially when you add in the prep word (which I just realized I forgot to do. (Now updated in the top)

With prep word:

* `myContract.functions.myMethod().prepareTransaction()`
* `myContract.functions.myMethod().asTransactionDict()`
* `myContract.functions.myMethod().generateTransaction()`

[2017-11-15 18:18] pipermerriam commented on #430
Not sure I like it but worth considering offering a shortcut API as `myContract.f.myMethod().prepareTransaction()`.

Also, for methods that take no arguments, we should try to support `myContract.myMethod.call()`.

[2017-11-15 18:27] carver commented on #419
Good point about the events disambiguation. That invokes another alternative, which is to mirror the word in [the `type` field from the abi json spec](https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI#json) exactly. By that, I mean something like:

- `myContract.function.myMethod().transact()`
- `myContract.event.myMethod().transact()`
- `myContract.constructor.args().transact()`
- `myCo

[2017-11-15 21:28] pipermerriam commented on #419
I don't exactly follow your meaning here:

I like the api you list above (`function/event/constructor/fallback`) though my spider sense says that special casing fallback and constructor *might* be wrong though that is a very weak *might* and on the surface I can find no reason not to do it.

[2017-11-15 21:48] carver opened #431 "Security Audit on web3.eth.account and ethereum-keys"
Before going v4-stable

[2017-11-15 22:51] carver commented on #419
What I meant is that the first two examples were in the format: `<contract>.<abi_type>.<abi_name>(<args>).transact()`, and the third and fourth examples broke that pattern. In the case of constructor and fallback, no name is defined in the ABI. The third and fourth even differ from each other, because the constructor may take arguments, and the fallback may not.

When half of the cases are special

[2017-11-15 23:31] pipermerriam commented on #419
Just had a thought about fallback.  It may make sense to support calling it a few ways.

[code]

Not critical functionality and not required for MVP, but worth thinking about as we evolve this API.

[2017-11-15 23:43] carver commented on #419
Wait, you mean to transact with constructors or other things, right? I thought that if you send data, you're no longer interacting with the fallback...

[2017-11-15 23:45] Sebohe commented on #409
I would like to take this on. :+1:

[2017-11-16 00:09] pipermerriam commented on #409
@Sebohe all yours.

[2017-11-16 00:10] pipermerriam commented on #419
Only if the first four bytes of the data happen to match one of the existing function selectors of the contract.

[2017-11-16 00:11] pipermerriam commented on #419
btw, this type of interaction with the fallback function is what I would consider *very advanced* functionality and would be of little use to the vast majority of our users.

[2017-11-16 00:22] carver commented on #419
Of course :man_facepalming: . Yeah, those examples make sense to me now.

[2017-11-16 13:31] drandreaskrueger commented on #429
Fantastic. That *rich* version of the log is exactly what I am hoping for. Go go go.

What can I use until then? Any pointers?

[2017-11-16 13:38] drandreaskrueger commented on #429
P.S.: Anyone who wants to try out live how that `txReceipt.logs[0].args.contractId` looks like in truffle, the above mentioned code lines can be visited like this:
[code]

[2017-11-16 15:02] #422 closed

[2017-11-16 15:04] SlavikDMI opened #432 "Is it possible deploy contract,send transaction, using rawprivatekey?"
I have private key without password. It isn't encoded.
Is it possible to sign transaction and **deploy contracts**?

[2017-11-16 17:02] carver commented on #432
Yes, in the v4 beta. See signTransaction docs here: http://web3py.readthedocs.io/en/latest/web3.eth.account.html#web3.eth.account.Account.signTransaction

Not in a one-liner. One option would be to write a middleware that intercepts any `eth_sendTransaction` request and signs it using signTransaction instead of letting the provider call the client. Middleware docs here: http://web3py.readthedocs.i

[2017-11-16 19:52] pipermerriam commented on #429
@drandreaskrueger

ETA unknown but likely soon (1-2 months?) since overhauling these APIs is somewhat high on the current TODO list.  In the meantime... the following psuedo code should work.

[code]

Note that the `rich_log` object won't have the API outlined above, but it will have the extra keys `event` and `args` which contain the parsed event arguments and event name.

[2017-11-16 20:43] owocki commented on #409
@Sebohe great to have you.  want to claim the issue at https://gitcoin.co/funding/details?url=https://github.com/pipermerriam/web3.py/issues/409 ?

[2017-11-17 02:16] jasonrhaas commented on #339
Just submitted a claim on this bounty through gitcoin.co!  I did it through the Google Form since I was having a bit of trouble with MetaMask.

[2017-11-17 11:44] owocki commented on #339
@jasonrhaas i got your claim.  i'm confused though.  it looks like @techtonik is the one who submitted the actual code?

[2017-11-17 15:06] jasonrhaas commented on #339
@owocki I was under the impression that there was still work that needed to be done since not all of the checkmarks were marked complete and the claim was still open.

[2017-11-17 15:51] owocki commented on #339
ah yes, you are correct.

[2017-11-17 16:10] jasonrhaas commented on #339
@owocki Am I good to start working on this issue for the bounty?  I'm new to the whole gitcoin.co thing, first time trying it out.

[2017-11-17 16:12] owocki commented on #339
please do @jasonrhaas !

[2017-11-17 22:04] monokh commented on #430
Hi, I'm willing to work on this :slightly_smiling_face:. I've done offline TX signing with web3.js but it had been a bit of a pain due to needed other libraries for TX signing. I have python experience so interested in how I can shape this 😃  Expect a merge request coming your way soon

[2017-11-17 23:03] carver opened #437 "web3.auto raises unclear exception if no client is live"
* Version: 4.0.0-beta.1
* OS: linux

### What was wrong?

If no client is live, I expect w3 to return as `None` in this case, but instead I get an exception.
[code]

cc @Sebohe

### How can it be fixed?

* Add a new test to verify the situation, and prevent regressions
* `isConnected` should short-circuit with something like: `if self.ipc_path is None: return False`

[2017-11-17 23:06] pipermerriam commented on #339
@jasonrhaas assuming @techtonik is also interested in this (since he has already submitted one pull request on the subject) it's likely we'll look at dividing the bounty between the two of you (also assuming that @techtonik is interested in collecting the bounty).  Exact division TBD based on something like the portion of the work done by the two of you.

Wanted to be upfront about expectations.

[2017-11-17 23:22] jasonrhaas commented on #339
@pipermerriam Fine with me, I'll leave it up to you to decide how the bounty gets split based on work put in.

[2017-11-17 23:24] jasonrhaas commented on #339
So I'm having an issue getting the tests to run (without any code change).  It seems like there is an issue with `geth.get_gethversion()`.  When running `'pytest -n 4 -f --maxfail=1'` it fails here:

[code]

So I dug into this a bit and noticed that when I import `geth` and try running the `get_geth_version()` method I get the same error.

[code]

Seems like its trying run an OS command, but the `

[2017-11-17 23:42] pipermerriam commented on #339
Yes, you'll need go-ethereum installed on your system to run that part of the test suite.

You can run the *important* subset of the test suite by running `py.test tests/core` which won't require go-ethereum.

Also, you can run a subset of the integration tests by running `py.test tests/integration -k "not goethereum"`

[2017-11-18 09:23] zheli commented on #339
What else is left on this bounty?

[2017-11-18 11:33] monokh opened #440 "sendRawTransaction doesn't produce valid RPC request"
* Version: 4.0.0-beta.1
* Python: 3.5
* OS: osx

### What was wrong?

Trying to sign and send a raw transaction produces an error indicating the RPC request is invalid.

* The code which produced the error ([straight from the docs](http://web3py.readthedocs.io/en/latest/web3.eth.account.html#web3.eth.account.Account.signTransaction)) :
[code]
* The full output of the error
[code]
* What type of no

[2017-11-18 11:37] monokh commented on #440
ummm 😅  so right after i posted this issue, I tried this:
`tx = w3.eth.sendRawTransaction(Web3.toHex(signed.rawTransaction))` instead of:

`tx = w3.eth.sendRawTransaction(signed.rawTransaction)`
which would matchup exactly with the web3.js API and i now get the error:
`ValueError: {'message': 'insufficient funds for gas * price + value', 'code': -32000}` which would mean it's working.
So is this t

[2017-11-18 14:06] carver commented on #440
Thank you for the thoroughly researched/reported issue!

Your first instinct is right. It's a bug that this doesn't work:
`tx = w3.eth.sendRawTransaction(signed.rawTransaction)`

`tx = w3.eth.sendRawTransaction(Web3.toHex(signed.rawTransaction))` ... it's working.

I would consider this a workaround, rather than the preferred approach.

[2017-11-18 14:18] carver commented on #339
@zheli chances are good that the two people who started in on this will complete everything. The python 3.6 testing is basically done in #438, but other than that, anything unchecked above is still not fully complete.

[2017-11-18 19:35] jasonrhaas commented on #339
Yes this one should be complete today.

[2017-11-19 00:15] monokh commented on #440
@carver So would you say the intended behaviour would be for `signTransaction` to output the transaction in a `0x` prefixed hex string or for `sendRawTransaction` to convert it to that format before sending it through?

[2017-11-19 02:48] carver commented on #440
@monokh `sendRawTransaction` should accept both bytes *and* a hex string. `signTransaction` is working as intended.

[2017-11-19 11:49] reverendus opened #443 "Suspicion that `@reject_recursive_repeats` is not thread-safe"
* Version: 3.16.2
* Python: 3.6
* OS: osx

### What was wrong?

When executing a few contract calls concurrently, I kept getting errors like:

[code]

and

[code]

We are connecting to a Parity node.

### How can it be fixed?

My suspicion is that because `@reject_recursive_repeats` keeps state in `to_wrap.__already_called`, this is not thread-safe and will fail if two threads want to parse the sa

[2017-11-19 13:35] zheli commented on #339
@carver @jasonrhaas thx. I will find something else then 👍

[2017-11-19 15:24] carver commented on #432
Please reopen if more clarification is needed.

[2017-11-19 15:24] #432 closed

[2017-11-19 16:07] carver commented on #443
Yup, that looks plausible.

Because this decorator is a runtime assertion that should never be violated, the assertion acts as a helpful hint for debugging issues, rather than as a critical runtime feature. (only the assertion is buggy here, not the actual recursive call).

As a short term workaround, you could just remove the assertion by removing the decorator at: https://github.com/pipermerriam

[2017-11-20 06:13] Eenae opened #446 "Block identifier parameter in Contract.call"
* Version: 3.16.2
* Python: 3.5
* OS: linux

### What was wrong?

I'm trying to query a contract state 6 block ago. Unlike [web3.js api](https://github.com/ethereum/wiki/wiki/JavaScript-API#web3ethcontract) in Contract.call I can't specify block identifier to run this call against.
What is a correct way of doing this in web3py?
Am I correct in my understanding that as a workaround I can temporaril

[2017-11-20 11:46] drandreaskrueger commented on #429
Fantastic. Hero!

I got that working, with find_matching...:

    event_abi = [m for m in abi if m['name'] == 'LogNewContract'][0]

Probably I could now extract the correct `contractId`, we'll see.

Problem solved.

---

Just curious:
In this case, fortunately, that contract method `newContract` fires an event in the end, which also contains the relevant return value `contractId`.

But I am wonder

[2017-11-20 14:49] owocki commented on #339
@zheli (i saw your comment on another gitcoin funded issue, so i assume you are funding these issues view gitcoin).  here are some other python issues -- https://gitcoin.co/explorer?q=python

feel free to reach out on slack (https://gitcoin.co/slack) or gitter https://gitter.im/gitcoinco and we'll find you something

[2017-11-20 16:39] drandreaskrueger commented on #429
another question:
[code]
how do I convert that
[code]
from 'str' to 32 `bytes` ?

I have tried these functions http://web3py.readthedocs.io/en/latest/overview.html#type-conversions but I end up with funny lengthed results.

[2017-11-20 20:11] techtonik commented on #339
Yep. I came here for the bounty, but cleaning up the code takes more time than I expected. :D

I don't mind splitting the bounty. In fact, I want to see how it would play.

[2017-11-20 22:21] pipermerriam commented on #446
Yes, this should be added.

[2017-11-20 22:29] owocki commented on #339
word.  @techtonik -- you don't need to claim the issue until its ready for payout.

[2017-11-20 23:43] #421 closed

[2017-11-21 09:14] drandreaskrueger commented on #429
So `constant` functions, right?

Alright, now that explains that. No amount of searching for solutions would have been enough.

Good to know. That means contract design has to take that into account.

And the EVM guys should really consider to solve that problem.

Why would it actually be difficult, to just include the return value into the transaction receipt?

Yes, perfect, thank you very much.

[2017-11-21 09:29] zheli commented on #339
@owocki @techtonik maybe should change the word "claim" to something else to make it clear? Like "apply for payout" or something...

[2017-11-21 14:31] drandreaskrueger commented on #429
And I see a problem (or I haven't understood something basic yet):

[code]
but
[code]

how can hex values be of different length (102 and 96) if both are 32 bytes?

[2017-11-21 15:11] drandreaskrueger commented on #429
I have not found any function which does the below (but probably exists, and I just haven't found it. If not,) ...may this be useful:

[code]

returns two dicts useful for easier postprocessing:

[code]

[2017-11-21 18:19] pipermerriam commented on #429
I suspect you are not actually working with byte strings.  Try using `web3.toHex(textstr=contract_id)` and see if you get consistent return values.

Also, what version of web3.py are you using.

Re: the function output by argument names

That does look useful but I'm not entirely sure what the right way for us to incorporate such a thing into the web3 contract API.  cc @carver since this might fit

[2017-11-21 22:32] owocki commented on #339
looks to me like theres still a few unchecked ticks on the issue PR?  if those are done, you could tag piper to give his 👍

[2017-11-21 22:41] jasonrhaas commented on #339
@pipermerriam @carver anything else that needs to be done on this one to complete?  Are we good after PR #438 ?

[2017-11-21 22:54] Mikerah opened #454 "When trying to use web3 on Windows 10 in Powershell or CMD, get "ModuleNotFoundError: No module named 'win32file'""
* Version: 3.16.2
* Python: 3.6
* OS: win10

### What was wrong?

When trying to call `web3.eth.filter('latest')` by following the example in the documentation, I get the following error:
[code]

However, I do not get this message when I run the code from a forked version of the web3.py repository in either Powershell or CMD.

I have also attempted to run this with and without geth running in the

[2017-11-21 23:11] Mikerah commented on #454
I noticed, upon further investigation, that the version of this library that is uploaded to PyPi and the version that is currently in the repository are different. The version uploaded to PyPi was last updated on Oct 11. This maybe why I am experiencing some issues with using this library.

[2017-11-21 23:16] miguel550 commented on #339
@jasonrhaas I just searched for "sys.version_info" in this repo after PR #438 merged and it still shows version 2 compatibility code.

[2017-11-22 00:23] carver commented on #339
@jasonrhaas - yes @miguel550 is correct there are still `sys.version_info` lines all throughout the code that need to be removed

[2017-11-22 01:11] carver commented on #454
Thanks for the report! Our primary devs aren't running Windows locally, so it's really helpful to get some feedback here, especially before #166 is complete.

Indeed this is strange. Any chance that `sys.platform` is not `"win32"` on your machine?

Would you expand on this? Were you trying to use a different Ethereum than geth? Or were you expecting to run without any local client?

[2017-11-22 04:13] jasonrhaas commented on #339
I’m on it, PR coming shorty.

Sent from my portal gun.

[2017-11-22 04:28] Mikerah commented on #454
I checked `sys.platform` on my machine and it was `win32`.

As for the second part, the documentation was unclear about whether I needed a client to run in the background or if web3.py started an instance of testrpc or if it needed anything at all to run.

When I tried to run the code on campus, I got an error that I can no longer reproduce when I am at home as it works. The error was `win32file.c

[2017-11-22 10:58] drandreaskrueger commented on #429
Yes, I suspect that too.
But I am just using what the `get_event_data` rich log returns to me.

(How) would I have to further postprocess that answer?

    c2 = web3.toHex(textstr=contractId)

Have you perhaps implemented that `textstr=` only recently?

     web3 version= 3.16.2

as the 4.0.0 is beta, that 3.16.2 is the newest, right?

And `text=` does not help, as

    c3 = web3.toHex(text=contra

[2017-11-22 13:04] drandreaskrueger commented on #429
some more (rather random) testing:

[code]

[code]

[code]

with utf-8 ==> different lengths
with utf-16 ==> identical lengths!

Again, I am only postprocessing what `rich_log = web3.utils.events.get_event_data(abiEvent, log)` returns for an object of type `bytes32`.

[2017-11-22 15:44] carver commented on #429
This is actually the best available answer for v3. v3 expects a latin-1 decoded string in `bytes` arguments. Is this sufficient for your solution?

If you really want to see the hex value in v3, you would need to do:

[code]

[2017-11-22 15:45] pipermerriam commented on #429
32 bytes * 2 for hex encoding + 2 for `0x` prefix.

Very odd that utf-16 worked...  paging @carver any ideas?

[2017-11-22 15:46] pipermerriam commented on #429
@drandreaskrueger is any of this on the mainnet/ropsent/rinkeby?  can you provide abi, address, and transaction hash for a transaction with one of these values in it?

[2017-11-22 16:30] drandreaskrueger commented on #429
sure. gimme a sec.

[2017-11-22 16:36] drandreaskrueger commented on #429
that's it. Hooray.

[2017-11-22 16:43] drandreaskrueger commented on #429
[code]
[code]
[code]

that is looking very good. Thanks a million.

[2017-11-22 16:43] drandreaskrueger commented on #429
So the `web3.utils.events.get_event_data(abiEvent, log)` returns a `latin-1` encoded `str` for a `bytes32`.

[2017-11-22 17:46] djrtwo commented on #354
Should this be closed due to the removal of asynchronous filters?

[2017-11-22 17:47] #354 closed

[2017-11-22 17:48] pipermerriam commented on #377
closing this as the filter API has been reworked.  Please re-open or re-submit a new issue if you are still having issues.

[2017-11-22 17:48] #377 closed

[2017-11-22 17:48] pipermerriam commented on #242
closing this as the filter API has been reworked. Please re-open or re-submit a new issue if you are still having issues.

[2017-11-22 17:48] #242 closed

[2017-11-22 17:49] pipermerriam commented on #230
closing this as the filter API has been reworked. Please re-open or re-submit a new issue if you are still having issues.

[2017-11-22 17:49] #230 closed

[2017-11-22 17:49] pipermerriam commented on #209
closing this as the filter API has been reworked. Please re-open or re-submit a new issue if you are still having issues.

[2017-11-22 17:49] #209 closed

[2017-11-22 17:49] pipermerriam commented on #181
closing this as the filter API has been reworked. Please re-open or re-submit a new issue if you are still having issues.

[2017-11-22 17:49] #181 closed

[2017-11-22 17:49] pipermerriam commented on #195
closing this as the filter API has been reworked. Please re-open or re-submit a new issue if you are still having issues.

[2017-11-22 17:49] #195 closed

[2017-11-22 19:09] carver opened #459 "Add field name of formatter failure to apply_formatters_to_dict"
* Version: 3.x & 4.x
* Python: 2.7/3.4/3.5
* OS: osx/linux/win

### What was wrong?

When applying formatters to a dict, if one of the values fails, it's impossible to tell from the trace which one did.

### How can it be fixed?

Catch ValueError exceptions in `apply_formatters_to_dict` and rethrow with the name of the field that failed.

[2017-11-22 20:23] pipermerriam commented on #429
@drandreaskrueger glad to get this resolved.

[2017-11-22 21:27] carver commented on #443
Released in v3.16.3

[2017-11-22 21:27] #443 closed

[2017-11-22 21:28] carver commented on #440
Released in v4.0.0-beta2

[2017-11-22 21:28] #440 closed

[2017-11-23 01:56] carver opened #463 "Get readthedocs updating again"
It stopped updating with the latest commits, presumably when the repo location changed.

[2017-11-23 08:04] techtonik opened #464 "Edit link on stable docs is dead"
### What was wrong?

1. Go http://web3py.readthedocs.io/en/stable/
2. Click Edit link

### How can it be fixed?

Can be fixed upstream. https://github.com/rtfd/readthedocs.org/pull/3302

[2017-11-23 08:06] techtonik commented on #463
Somebody needs to fix repository name here - http://readthedocs.org/projects/web3py/

[2017-11-23 09:11] misteraverin opened #465 "EventFilter doesn't work on ConciseContract contracts"
* Version: 3.16.3
* Python: 3.6.3
* OS: osx

### What was wrong?

I have already created contract and deployed to ethereum mainnet. Now I wanna read logs. But I can't as calling `print(contract_instance.address)` and `contract_instance.eventFilter('Transfers')` show me error log. What am I doing wrong? @carver @pipermerriam

Code, which produces error:

[code]

Errot output:
[code]

I was connecti

[2017-11-23 10:23] techtonik commented on #339
"checkout"?

[2017-11-23 17:08] monokh commented on #430
The PR for this is ready now ( #444 ). Any chance you could have a look @carver @pipermerriam ? Thanks 🙂

[2017-11-23 17:45] miohtama opened #466 "Account.sign() fails 343 out of 25600 times"
* Version: master
* Python: 3.5
* OS: osx

### What was wrong?

I am trying to use Account.sign() to sign orders against 0x Exchange.sol contract. Account.sign() has been grabbed from the master for this purpose. Account.sign() seems to be produce a signature that Exchange.sol does not accept 343 out of 25600 times. Account.sign() input is seemingly random (SHA3 hash of 0x order parameters).

The

[2017-11-23 18:20] miohtama commented on #466
Looks like when `sign_message_hash` gets a signature where the first byte is `00` it fails:

[code]

[2017-11-23 18:44] miohtama commented on #466
Here is my naive fix

[code]

[2017-11-24 20:39] dylanjw commented on #419
Is anyone working on this?  If not, I would like to give it a try.

[2017-11-25 15:54] FireZi commented on #465
Try this
`
contract = web3.eth.contract(contract_interface['abi'], ADDRESS)

transfer_filter = contract.eventFilter('Transfers')
`
(without _ContractFactoryClass_ for `.eventFilter`)

[2017-11-26 22:58] tam0202 opened #467 "Example code failed to run"
* Version: web3@3.6.13, py-solc@2.0.0
* Python: 3.6.3
* OS: linux

### What was wrong?
Example code given in README resulted in "no such file" error on compile_source
* The full output of the error:
`Traceback (most recent call last):
File "example.py", line 29, in <module>
    compiled_sol = compile_source(contract_source_code) # Compiled source code
  File "/usr/local/lib/python3.6/site-packages

[2017-11-27 16:17] owocki commented on #339
@jasonrhaas once that PR is in, let me know and if it's ok with the web3.py folks ill payout the bounty

[2017-11-27 16:18] owocki commented on #430
let me know how it looks folks and i can take a look at paying out the bounty.

[2017-11-27 16:19] owocki commented on #419
@dylanjw all you!

[2017-11-27 18:52] konradkonrad opened #468 "Can not install on pypy3"
* Version: 3.16.3
* Python: pypy3
* OS: linux

### What was wrong?

[code]

### How can it be fixed?

This is a known upstream bug with pypy: https://bitbucket.org/pypy/pypy/issues/2687/pypy3-is-missing-pystrhexh-breaking-pysha3 -- however, there may be different keccak implementations available to allow to circumvent this issue.

[2017-11-27 19:12] konradkonrad opened #469 "`web3.utils.events.get_event_data` is rather slow"
* Version: 3.16.3
* Python: 3.5
* OS: linux

### What was wrong?

Processing events with `web3.utils.events.get_event_data` takes a rather long time, in the order of 1ms per event. This becomes quickly noticeable, when trying to decode event data for thousands of events.

Please see my benchmarking script & output at https://gist.github.com/konradkonrad/87d76dd2526f39e6f5bad19b85374948

### How ca

[2017-11-27 19:19] pipermerriam commented on #469
At a glance, there may be *some* low hanging fruit in there:

I know there is in-efficiency in the address utilities that could probably be optimized.

[code]

Also the use of `coerce_return_to_text` and other related utils are both slow and recently discovered to be *wrong* and capable of returning string data encoded as latin-1 which is very confusing.

[2017-11-27 20:00] jasonrhaas commented on #339
Ok I have all the `sys.version_info` removed.  Looking for the `bytes == str` checks now...

[2017-11-27 22:25] jasonrhaas commented on #339
hey @carver what do you mean by the `bytes == str` checks?  I found one line that was doing a `if bytes is str:` which returns `False` for Python 3 and `True` for Python 2.  I deleted that check.  The rest of the stuff was using the `sys.version_info` method which has all been removed.

[2017-11-28 08:22] ltfschoen opened #472 "Unable to import Solidity contract from a file using `compile_files`"
* Version: 3.16.3
[code]
* Python: 3.6.3
* OS: Docker VM on macOS 10.12.6 - Linux version 4.9.49-moby (gcc version 6.2.1 20160822 (Alpine 6.2.1) )
* Solc v0.4.17 (see where I load Solc dependency in my [Dockerfile](https://github.com/ltfschoen/pyethfinality/blob/master/Dockerfile))
* Source Code: https://github.com/ltfschoen/pyethfinality/blob/master/main.py

### What was wrong?

**How to reproduc

[2017-11-28 22:15] carver commented on #430
Sorry it took me a while to get to this review (Thanksgiving). I just posted some comments. Once we get them resolved, I'd love for the bounty to be paid.

[2017-11-28 22:18] carver commented on #430
Is `prepareTransaction()` your favorite option @monokh ? It still feels a bit long to me, but if it's your favorite, I won't object.

[2017-11-28 22:49] #459 closed

[2017-11-28 23:29] owocki commented on #409
@Sebohe you still workin on this?

[2017-11-29 00:28] carver commented on #339
@jasonrhaas Yup, I thought there were maybe a few places with `bytes is str`, but now I don't see more than that one either. Looks good to me.

[2017-11-29 00:46] carver commented on #468
BTW, I tried some pure python implementations. Even in pypy, they were dramatically slower than the c implementation. (no surprise)

I still haven't evaluated whether it would be more work to implement keccak in cython or get pystrhex.h support in pypy.

[2017-11-29 01:02] carver commented on #467
Thanks. You must install `solc` for `py-solc` to work.  I opened an issue to clarify the error message in py-solc.

To install solc, try `python -m solc.install v0.4.17` or see http://solidity.readthedocs.io/en/latest/installing-solidity.html

[2017-11-29 01:02] #467 closed

[2017-11-29 01:05] carver commented on #465
Looks like a duplicate of: https://ethereum.stackexchange.com/questions/31428/cant-access-to-contract-functions-via-web3-py

@FireZi note that for more forward compatibility, you should use `contract(ADDRESS, abi=contract_interface['abi'])`. ABI will no longer be accepted as a positional argument in v4.

[2017-11-29 01:05] #465 closed

[2017-11-29 01:07] carver commented on #463
Done

[2017-11-29 01:07] #463 closed

[2017-11-29 03:18] owocki commented on #339
👌 to payout?

[2017-11-29 06:21] jasonrhaas commented on #302
It looks like this issue has been merged in already, so the issue can be closed out.

[2017-11-29 06:26] jasonrhaas commented on #409
If @Sebohe isn't around, I can take this one on.

[2017-11-29 09:08] Sebohe commented on #409
Yeah I'm still working on it, did I miss something??

[2017-11-29 16:32] owocki commented on #409
@Sebohe dont thinik so.  we were just checking in since it's been 13 days since we heard from ya on this thread.

[2017-11-29 18:06] carver commented on #302
@owocki I tried to "accept funding claim" and got:

I closed the issue first and tried it, then reopened and tried it. Both with the same result. Can you pay it out (or tell me how to do it correctly?).

[2017-11-29 18:06] #302 closed

[2017-11-29 18:22] carver commented on #339
We have to split up the bounty, because several people did work on it. Lines of code is usually a terrible way to judge effort, but on this particular issue, it seems like an okay proxy.

@jasonrhaas did:
#438 +35 -137
#471 +29 -50
Total: 251

@miguel550 did:
#456 +34 -171
Total: 205

@techtonik did:
#434 +5 -29
Total: 34

All LOC changes: 490

Payout percentages:
@techtonik 7%
@miguel550 42%
@jas

[2017-11-29 18:59] jasonrhaas commented on #339
Fine with me.  Definitely an experiment on how to deal with multiple people working on one bounty.  Lines of code is OK in this case I agree... but normally that wouldn't work so well.

[2017-11-29 19:17] owocki commented on #302
also @Sebohe i just made an executive decision that you work here is worth more than 0.01 ETH ( we funded the bounty very early in the project, before the real funding came in), so i'm going to tip you more than the bounty amount to close this out.